{% extends "base.html" %}  {% block title %}Ballets (Part 1){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a> | </li>
    <li style="display:inline">Ballets (Part 1)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/ballets.html">
    You Gotta Know These Ballets (Part 1)
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <i class="label">Appalachian Spring</i> (1944) by 
        <span style="font-weight: bold;">Aaron Copland</span>. Copland had 
        several working names for <i>Appalachian Spring</i> while composing 
        it, including <i style="font-weight: bold;">House of Victory</i> and 
        <i style="font-weight: bold;">Ballet for Martha</i>. The latter 
        name refers to its choreographer, <span style="font-weight: bold;">
        Martha Graham</span>, who took its ultimate title from a line in 
        <span style="font-weight: bold;">Hart Crane</span>&#8217;s poem 
        <span style="font-weight: bold;">&#8220;The Bridge.&#8221;</span> 
        Graham&#8217;s ballet depicts a group of 
        <span style="font-weight: bold;">pioneers</span> in 
        <span style="font-weight: bold;">Pennsylvania</span> &mdash; 
        including a newlywed couple &mdash; building a 
        <span style="font-weight: bold;">farmhouse</span> and encountering a 
        <span style="font-weight: bold;">Revivalist preacher</span> and 
        his flock. The ballet&#8217;s original set was designed by 
        Graham&#8217;s frequent collaborator <span style="font-weight: bold;">
        Isamu Noguchi</span>. Because <i>Appalachian Spring</i> was first 
        performed in the <span style="font-weight: bold;">Library of 
        Congress</span>, Copland was forced to limit the accompanying 
        ensemble to just thirteen musicians. The best-known section of the 
        ballet by far is Copland&#8217;s use of the traditional 
        <span style="font-weight: bold;">Shaker hymn</span> 
        <span style="font-weight: bold;">&#8220;Simple Gifts&#8221;</span> 
        in the penultimate section of the suite; the full ballet contains 
        several more movements based on variations on the hymn.
    </li>
	<li class="list_item">
        <i class="label">Billy the Kid</i> (1938) by 
        <span style="font-weight: bold;">Aaron Copland</span>. Choreographed 
        by <span style="font-weight: bold;">Eugene Loring</span>, this 
        ballet depicts episodes in the life of the title 
        <span style="font-weight: bold;">Old West</span> 
        <span style="font-weight: bold;">outlaw</span>. Early in the ballet,
        <span style="font-weight: bold;">Billy&#8217;s mother</span> is 
        accidentally killed in a gunfight; Billy then stabs the man who 
        killed her. Sections from the ballet include 
        <span style="font-weight: bold;">&#8220;Card Game at Night&#8221;
        </span> and a <span style="font-weight: bold;">&#8220;Gun 
        Battle&#8221;</span> that features percussion imitating the title 
        shootout. At the end of the ballet, when Billy is resting in the 
        desert, a posse led by <span style="font-weight: bold;">Pat Garrett
        </span> finds and kills him. The story of Billy&#8217;s life is 
        bookended at the beginning and end by a section called 
        <span style="font-weight: bold;">&#8220;The Open Prairie,&#8221;
        </span> which depicts settlers moving west. The ballet makes 
        extensive use of <span style="font-weight: bold;">cowboy songs
        </span>, such as <span style="font-weight: bold;">&#8220;The Old 
        Chisholm Trail&#8221;</span> and <span style="font-weight: bold;">
        &#8220;Goodbye Old Paint&#8221;</span> in its depiction of a 
        frontier town, and features a <span style="font-weight: bold;">
        &#8220;Jarabe,&#8221;</span> a Mexican dance in 
        <span style="font-weight: bold;">5/8&nbsp;time</span>.
    </li>
	<li class="list_item">
        <i class="label">The Creation of the World</i> (<i class="label": Cambria; font-weight: bold; 
        font-size: large;">La Cr&eacute;ation du Monde</i>) (1923) by 
        <span style="font-weight: bold;">Darius Milhaud</span>. A 
        <span style="font-weight: bold;">trip to the U.S.</span> inspired 
        Milhaud to write <i>The Creation of the World</i> in 1922. 
        Enchanted by the <span style="font-weight: bold;">jazz bands
        </span> Milhaud heard in <span style="font-weight: bold;">Harlem
        </span>, the ballet shows a heavy influence of jazz and 
        <span style="font-weight: bold;">blues</span>, as well as 
        <span style="font-weight: bold;">traditional African rhythms</span>; 
        Milhaud <span style="font-weight: bold;">omitted violas</span>, 
        substituting an <span style="font-weight: bold;">alto saxophone
        </span>. Choreographed by <span style="font-weight: bold;">Jean 
        &ouml;rlin</span> and using a set designed by 
        <span style="font-weight: bold;">Cubist</span> artist 
        <span style="font-weight: bold;">Ferdinand Leger</span>, the 
        ballet aims to depict the beginning of creation according to 
        African tradition: the creator gods 
        <span style="font-weight: bold;">Mzame</span>, 
        <span style="font-weight: bold;">Mbere</span>, and 
        <span style="font-weight: bold;">Nkwa</span> appear out of a 
        seemingly empty void to create animals, plants, and then the first 
        man and woman. The latter then perform a routine based on popular 
        <span style="font-weight: bold;">Dixieland</span> dances and 
        conclude the ballet in the tableau 
        <span style="font-weight: bold;">&#8220;The Man and the Woman 
        Kiss.&#8221;</span>
    </li>
	<li class="list_item">
        <i class="label">The Creatures of Prometheus</i> class="label"mily: Cambria; font-weight: bold; 
        font-size: large;">Die Gesch&ouml;pfe des Prometheus</i>) (1801) 
        by <span style="font-weight: bold;">Ludwig van&nbsp;Beethoven
        </span>. Choreographer <span style="font-weight: bold;">Salvatore 
        Vigan&ograve;</span> asked Beethoven to write the music for 
        <i>The Creatures of Prometheus</i>. In the ballet, two 
        <span style="font-weight: bold;">statues</span> come to life; 
        <span style="font-weight: bold;">Prometheus</span> then takes them to
        <span style="font-weight: bold;">Parnassus</span> and exposes them to 
        &#8220;the passions of human existence.&#8221; They learn 
        <span style="font-weight: bold;">music</span> from 
        <span style="font-weight: bold;">Orpheus</span>, 
        <span style="font-weight: bold;">tragedy</span> and 
        <span style="font-weight: bold;">comedy</span> from the 
        <span style="font-weight: bold;">Muses</span>, and 
        <span style="font-weight: bold;">dance</span> from 
        <span style="font-weight: bold;">Pan</span> and 
        <span style="font-weight: bold;">Bacchus</span>. The ballet&#8217;s 
        <span style="font-weight: bold;">overture</span>, like 
        <span style="font-weight: bold;">Beethoven&#8217;s First Symphony
        </span>, begins with <span style="font-weight: bold;">dissonant
        </span> chords giving way into a <span style="font-weight: bold;">
        lilting</span> melody. Its finale contains a theme Beethoven would 
        use in his <span style="font-weight: bold;">&#8220;Eroica&#8221; 
        Symphony</span> (No.&nbsp;3) and his Op.&nbsp;35, the 
        <i style="font-weight: bold;">Eroica Variations</i> for piano.
    </li>
	<li class="list_item">
        <i class="label">Daphnis and Chloe</i> class="label"mily: Cambria; font-weight: bold; 
        font-size: large;">Daphnis et Chlo&eacute;</i>) (1912) by 
        <span style="font-weight: bold;">Maurice Ravel</span>. Commissioned 
        by <span style="font-weight: bold;">Sergei Diaghilev</span> and 
        choreographed by <span style="font-weight: bold;">Michel Fokine
        </span>, <i>Daphnis and Chloe</i> is based on the only surviving 
        work by the Greek author <span style="font-weight: bold;">Longus
        </span>. The ballet starts in a <span style="font-weight: bold;">
        sacred grotto</span>, where <span style="font-weight: bold;">
        Daphnis</span>, <span style="font-weight: bold;">Chloe</span>, 
        and other youths arrive to give an offering to three statues of 
        the <span style="font-weight: bold;">Nymphs</span>. When the 
        <span style="font-weight: bold;">cowherd</span> 
        <span style="font-weight: bold;">Dorcon</span> challenges Daphnis 
        to a dance contest for a <span style="font-weight: bold;">kiss</span> 
        from Chloe, Dorcon is humiliated. A group of 
        <span style="font-weight: bold;">pirates</span> abduct Chloe and 
        take her to their island, where she is forced to dance for their 
        leader, <span style="font-weight: bold;">Bryaxis</span>. The god 
        <span style="font-weight: bold;">Pan</span> saves Chloe; after 
        reuniting her with Daphnis, Pan is reminded of his own love for 
        the <span style="font-weight: bold;">nymph</span> 
        <span style="font-weight: bold;">Syrinx</span>. Daphnis and Chloe 
        then reenact Pan&#8217;s courtship of Syrinx. The rest of the 
        company joins in a bacchanalian <span style="font-weight: bold;">
        &#8220;Danse g&eacute;n&eacute;rale&#8221;</span> featuring a 
        wordless chorus. Ravel reworked the music from <i>Daphnis and 
        Chloe</i> into two suites often performed in the concert hall.
    </li>
	<li class="list_item">
        <i class="label">Fancy Free</i> (1944) by 
        <span style="font-weight: bold;">Leonard Bernstein</span>. 
        <i>Fancy Free</i>, the first ballet choreographed by American 
        dancer <span style="font-weight: bold;">Jerome Robbins</span>, 
        was inspired by <span style="font-weight: bold;">Paul Cadmus</span>
        &#8217;s painting <i style="font-weight: bold;">The Fleet&#8217;s 
        In!</i>. The ballet depicts the antics of three 
        <span style="font-weight: bold;">sailors</span> on 
        <span style="font-weight: bold;">shore leave</span> in 
        <span style="font-weight: bold;">New York City</span>, where they 
        meet two beautiful women. To determine which one will leave dateless, 
        the sailors hold a <span style="font-weight: bold;">dance contest
        </span>, performing a <span style="font-weight: bold;">galop</span>, 
        <span style="font-weight: bold;">waltz</span>, and a 
        <span style="font-weight: bold;">Cuban <i>danz&oacute;n</i></span>. 
        However, the women cannot choose a winner, and the sailors quickly 
        start fighting. The women run away, but the men reconcile and the 
        ballet ends with them crossing paths with another attractive woman 
        and starting to pursue her. <i>Fancy Free</i>&#8217;s success 
        catapulted both Bernstein and Robbins to stardom; Bernstein later 
        adapted <i>Fancy Free</i> into a musical and a film under the title 
        <i style="font-weight: bold;">On the Town</i>; the musical features 
        the song <span style="font-weight: bold;">&#8220;New York, New 
        York.&#8221;</span>
    </li>
	<li class="list_item">
        <i class="label">The Firebird</i> (<i style="font-family: Cambria; 
        font-weight: bold; font-size: large;">L&#8217;Oiseau de feu</i> or 
        <i class="label">Zhar-ptitsa</i>) (1910) by 
        <span style="font-weight: bold;">Igor Stravinsky</span>. 
        Choreographed by <span style="font-weight: bold;">Michel Fokine
        </span>, <i>The Firebird</i> was the first of several collaborations 
        between Stravinsky and <span style="font-weight: bold;">Ballets 
        Russes</span> director <span style="font-weight: bold;">Sergei 
        Diaghilev</span>. <span style="font-weight: bold;">Prince Ivan
        </span>, the ballet&#8217;s protagonist, captures the mythical 
        Firebird, who pledges a <span style="font-weight: bold;">feather
        </span> to Ivan in exchange for her freedom. Ivan later stumbles 
        upon thirteen princesses performing the 
        <span style="font-weight: bold;">&#8220;Dance of the Golden Apples.
        &#8221;</span> Ivan follows them back to the castle of 
        <span style="font-weight: bold;">Kashchei the Immortal</span>, 
        who has enchanted and imprisoned them. Kashchei, whose magic is 
        represented by a recurring <span style="font-weight: bold;">
        descending chromatic motif</span>, sends 
        <span style="font-weight: bold;">bewitched monsters</span> to 
        attack Ivan. Ivan uses the feather to summon the Firebird, who 
        uses her magic to make the monsters perform an 
        <span style="font-weight: bold;">&#8220;Infernal Dance&#8221;</span> 
        before lulling them to sleep with a <span style="font-weight: bold;">
        &#8220;Berceuse.&#8221;</span> While the monsters sleep, Ivan 
        discovers the <span style="font-weight: bold;">egg</span> that 
        preserves Kashchei&#8217;s power inside a tree trunk and destroys 
        it, breaking Kashchei&#8217;s spell. Ivan frees the princesses, 
        marrying one of them in the ballet&#8217;s 7/4-time finale. 
        Stravinsky created three versions of the ballet suite for a smaller 
        orchestra, which were published in 1911, 1919, and 1945.
    </li>
	<li class="list_item">
        <i class="label">Giselle</i> (1841) by 
        <span style="font-weight: bold;">Adolphe Adam</span>. Choreographed 
        by <span style="font-weight: bold;">Jean Coralli</span> and 
        <span style="font-weight: bold;">Jules Perot</span>, Adam wrote 
        <i>Giselle</i> for Perot&#8217;s lover, 
        <span style="font-weight: bold;">Carlotta Grisi</span>, who danced 
        the title role at its premiere. Giselle, a peasant girl, falls in 
        love with <span style="font-weight: bold;">Loys</span>, who is 
        secretly <span style="font-weight: bold;">Duke Albrecht of Silesia
        </span> in disguise. Although Albrecht is engaged to 
        <span style="font-weight: bold;">Princess Bathilde</span>, he 
        pursues his romance with Giselle. After playing &#8220;he loves me, 
        he loves me not&#8221; with a daisy, Giselle is shocked when the 
        <span style="font-weight: bold;">gamekeeper</span> 
        <span style="font-weight: bold;">Hilarion</span>, who also loves 
        her, presents Albrecht&#8217;s <span style="font-weight: bold;">
        sword</span>, revealing Albrecht&#8217;s noble status. Unable to 
        handle Albrecht&#8217;s deception and knowing he can never marry 
        her, Giselle goes mad, tearing the necklace her mother has given 
        her, and dies of a broken heart. After her death, Giselle&#8217;s 
        spirit is enlisted into the <span style="font-weight: bold;">Wilis
        </span>, a group of spirits led by <span style="font-weight: bold;">
        Queen Myrtha</span>. The Wilis corner Hilarion and force him to 
        dance to death; but Giselle stops them from doing the same to 
        Albrecht. Sparing Albrecht, the Wilis let Giselle&#8217;s ghost 
        return to rest in her grave.
    
    </li>
	<li class="list_item">
        <i class="label">The Miraculous Mandarin</i> class="label"mily: Cambria; font-weight: bold; 
        font-size: large;">A csod&aacute;latos mandarin</i>) (1926) by 
        <span style="font-weight: bold;">Bel&aacute; Bart&oacute;k</span>. 
        Based on a story by <span style="font-weight: bold;">Melchior 
        Lengyel</span>, <i>The Miraculous Mandarin</i> opens by depicting 
        a <span style="font-weight: bold;">large city</span>, with rapid 
        <span style="font-weight: bold;">ascending and descending notes 
        on the strings</span> followed by a theme of 
        <span style="font-weight: bold;">minor seconds</span> and a brass 
        imitation of <span style="font-weight: bold;">car horns</span>. 
        In the ballet, a group of <span style="font-weight: bold;">robbers
        </span> force a girl to dance at the window of their apartment as 
        a <span style="font-weight: bold;">&#8220;Lockspiel,&#8221;</span> 
        or decoy, to lure in potential victims. After the criminals 
        successfully rob an <span style="font-weight: bold;">old lecher
        </span> and a <span style="font-weight: bold;">poor young man
        </span>, the girl lures a <span style="font-weight: bold;">rich 
        Chinese man</span> &mdash; the Mandarin &mdash; into the apartment; 
        <span style="font-weight: bold;">glissandos in the brass</span> 
        mark his entrance. After the Mandarin tries unsuccessfully to 
        capture the girl, the tramps jump on him &mdash; symbolized by the 
        repetition of the minor second intervals heard at the beginning of 
        the ballet&mdash;and <span style="font-weight: bold;">stab</span> 
        him three times, then <span style="font-weight: bold;">hang</span> 
        him from a lamp. However, the Mandarin&#8217;s body begins to 
        <span style="font-weight: bold;">glow strangely</span>. The girl 
        then convinces the robbers to free the man, whom she then 
        <span style="font-weight: bold;">embraces</span>, allowing him to 
        die peacefully. The material of the ballet made it controversial 
        upon its 1926 premiere; the mayor of 
        <span style="font-weight: bold;">Cologne</span>, where the ballet 
        debuted, had it banned on moral grounds.
    </li>
	<li class="list_item">
        <i class="label">The Nutcracker</i> (<i style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Shchelkunchik</i>) (1892) by 
        <span style="font-weight: bold;">Peter Tchaikovsky</span>. Now a 
        <span style="font-weight: bold;">Christmastime</span> favorite, <i>
        The Nutcracker</i> was choreographed by 
        <span style="font-weight: bold;">Marius Petipa</span> and 
        <span style="font-weight: bold;">Lev Ivanov</span>. The plot, based 
        on an <span style="font-weight: bold;">E.&nbsp;T.&nbsp;A. Hoffmann
        </span> story, opens at a Christmas party, where 
        <span style="font-weight: bold;">Drosselmeyer</span> gives his 
        goddaughter <span style="font-weight: bold;">Clara</span> a toy 
        nutcracker, which her brother <span style="font-weight: bold;">
        Fritz</span> soon breaks. At night, the living room becomes a 
        battleground between the evil <span style="font-weight: bold;">
        Mouse King</span> and <span style="font-weight: bold;">toys</span> 
        and <span style="font-weight: bold;">gingerbread soldiers</span>, 
        led by the Nutcracker. Clara throws her slipper at the Mouse King, 
        distracting him long enough for the Nutcracker to kill him. The 
        Nutcracker then turns into a prince and leads Clara into a magical 
        forest where the <span style="font-weight: bold;">&#8220;Waltz of 
        the Snowflakes&#8221;</span> marks the end of Act&nbsp;I. In 
        Act&nbsp;II Clara and the prince arrive in the 
        <span style="font-weight: bold;">Land of Sweets</span>, where they 
        witness dances representing delicacies from around the world, 
        including <span style="font-weight: bold;">Arabian coffee</span> 
        and <span style="font-weight: bold;">Spanish chocolate</span>, 
        as well as the <span style="font-weight: bold;">&#8220;Dance of 
        the Reed Flutes&#8221;</span> and the Russian 
        <span style="font-weight: bold;">&#8220;Trepak.&#8221;</span> 
        <span style="font-weight: bold;">Mother Ginger</span> has a group 
        of <span style="font-weight: bold;">clowns</span> 
        (<span style="font-weight: bold;">&#8220;Polcinelles&#8221;</span>) 
        emerge from her skirt to dance before the orchestra plays the 
        <span style="font-weight: bold;">&#8220;Waltz of the Flowers&#8221;
        </span> and the <span style="font-weight: bold;">Sugar Plum Fairy
        </span> and the <span style="font-weight: bold;">Cavalier</span> 
        dance a <i style="font-weight: bold;">pas de deux</i>. Finally, 
        the Sugar Plum Fairy dances alone to music that marks one of the 
        first orchestral uses of the <span style="font-weight: bold;">
        celesta</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Robert Chu.</p>
<br />
<br />
<br />
{% endblock %}