{% extends "base.html" %}  {% block title %}Ballets (Part 2){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a> | </li>
    <li style="display:inline">Ballets (Part 2)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/-2.html">
    You Gotta Know These Ballets (Part 2)
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <i class="label">Gayane</i> (1942) by 
        <span style="font-weight: bold;">Aram Khachaturian</span>. <i>Gayane
        </i> tells the story of the title heroine, who lives on a 
        <span style="font-weight: bold;">cooperative farm</span> 
        (<i style="font-weight: bold;">kolkhoz</i>) in Khachaturian&#8217;s 
        native <span style="font-weight: bold;">Armenia</span> with her 
        husband <span style="font-weight: bold;">Giko</span> and her father 
        <span style="font-weight: bold;">Ovanes</span>, who heads the 
        collective. Giko, a lazy <span style="font-weight: bold;">alcoholic
        </span>, repeatedly beats and abuses the hard-working Gayane. 
        However, Gayane escapes the marriage when she reveals Giko to be 
        an <span style="font-weight: bold;">anti-Soviet spy</span>, 
        leading to his arrest; Gayane then marries the soldier 
        <span style="font-weight: bold;">Kazakov</span>. The most famous 
        excerpt from Gayane is the frenetic 
        <span style="font-weight: bold;">&#8220;Sabre Dance,&#8221;</span> 
        originally part of a group of dances in the final act meant to 
        represent the various <span style="font-weight: bold;">Soviet 
        republics</span>. Other notable music from the ballet includes an 
        <i>adagio</i> movement, meant to represent 
        <span style="font-weight: bold;">carpet weavers</span>, that was 
        used in <span style="font-weight: bold;">Stanley Kubrick</span>
        &#8217;s <i style="font-weight: bold;">2001: A Space Odyssey</i>.
    </li>
	<li class="list_item">
        <i class="label">La P&eacute;ri</i> (<i style="font-weight: bold;">
        The Peri</i>) (1912) by <span style="font-weight: bold;">Paul Dukas
        </span>. <i>La P&eacute;ri</i>, the last major work by Paul Dukas, 
        tells the story of <span style="font-weight: bold;">Iksender</span> 
        (<span style="font-weight: bold;">Alexander the Great</span>), who 
        is searching <span style="font-weight: bold;">Iran</span> for the 
        <span style="font-weight: bold;">Flower of Immortality</span>. He 
        finally finds it at the <span style="font-weight: bold;">Ends of the 
        Earth</span>, where it is in the hands of a sleeping P&eacute;ri 
        (a mythical <span style="font-weight: bold;">fairy</span>-like 
        creature from <span style="font-weight: bold;">Persian folklore
        </span>). When Iksender tries to steal the flower, he awakens the 
        P&eacute;ri, who needs the flower to commune with 
        <span style="font-weight: bold;">Ormuzd</span> (the 
        <span style="font-weight: bold;">Zoroastrian</span> god 
        <span style="font-weight: bold;">Ahura Mazda</span>). The 
        P&eacute;ri seduces Iksender, who realizes that he doesn&#8217;t 
        deserve the flower. He surrenders it to the spirit, who ascends to 
        <span style="font-weight: bold;">Paradise</span>, leaving him to 
        die alone on Earth. The opening <span style="font-weight: bold;">
        fanfare</span> is often performed independently of the rest of the 
        suite.
    </li>
	<li class="list_item">
        <i class="label">Petrushka</i> (1911, revised 1947) by 
        <span style="font-weight: bold;">Igor Stravinsky</span>. <i>Petrushka
        </i> has a framing story with opening and closing scenes at a 
        <span style="font-weight: bold;">Shrovetide</span> fair. The main 
        story is about three <span style="font-weight: bold;">puppets</span>: 
        <span style="font-weight: bold;">Petrushka</span>, the 
        <span style="font-weight: bold;">Ballerina</span>, and the 
        <span style="font-weight: bold;">Moor</span>, who are brought to 
        life by the <span style="font-weight: bold;">Magician</span> (in 
        some translations, the <span style="font-weight: bold;">Charlatan
        </span>). Petrushka falls in love with the Ballerina, who is smitten 
        with the Moor. The love triangle ends with the Moor killing 
        Petrushka with an <span style="font-weight: bold;">axe</span> after 
        the <span style="font-weight: bold;">&#8220;Dance of the Wet-
        Nurses&#8221;</span> and the <span style="font-weight: bold;">
        &#8220;Dance of the Peasant and Bear.&#8221;</span> The Magician 
        claims that no harm was done, since Petrushka is only a puppet, 
        but at the ballet&#8217;s end Petrushka&#8217;s ghost appears and 
        haunts the Magician. Musically, it is most famous for its 
        <span style="font-weight: bold;">&#8220;Petrushka chord,&#8221;
        </span> a <span style="font-weight: bold;">dissonant</span> 
        combination of <span style="font-weight: bold;">C-major and 
        F-sharp-major triads</span> played by the 
        <span style="font-weight: bold;">clarinets</span>.
    </li>
	<li class="list_item">
        <i class="label">Pulcinella</i> (1920) by 
        <span style="font-weight: bold;">Igor Stravinsky</span>. 
        <i>Pulcinella</i> is usually regarded as the first work of 
        Stravinsky&#8217;s <span style="font-weight: bold;">neoclassical 
        period</span>. Choreographed by <span style="font-weight: bold;">
        L&eacute;onide Massine</span>, it was commissioned by 
        <span style="font-weight: bold;">Sergei Diaghilev</span>. 
        Diaghilev wanted to update a <i style="font-weight: bold;">
        commedia dell&#8217;arte</i> play attributed at the time to 
        <span style="font-weight: bold;">Giovanni Pergolesi</span> (that 
        attribution has recently been challenged). The one-act ballet 
        tells the story of Pulcinella, a stock character of <i>commedia 
        dell&#8217;arte</i>, and his lover <span style="font-weight: bold;">
        Pimpinella</span>, as well as two girls, 
        <span style="font-weight: bold;">Prudenza</span> and 
        <span style="font-weight: bold;">Rosetta</span>, and their suitors, 
        <span style="font-weight: bold;">Florindo</span> and 
        <span style="font-weight: bold;">Cloviello</span>. Pulcinella 
        kisses Rosetta after she dances for him, enraging Pimpinella as 
        well as the two suitors, who &mdash; jealous of Pulcinella &mdash; 
        <span style="font-weight: bold;">beat him up</span> and appear 
        to kill him. However, the &#8220;body&#8221; of Pulcinella is 
        actually his friend <span style="font-weight: bold;">Furbo</span>, 
        who impersonated Pulcinella and <span style="font-weight: bold;">
        played dead</span>. Pulcinella, disguised as a 
        <span style="font-weight: bold;">magician</span>, appears, reveals 
        himself, and marries Pimpinella, who forgives him.
    </li>
	<li class="list_item">
        <i class="label">The Rite of Spring</i> class="label"mily: Cambria; font-weight: bold; class="label">Le Sacre du Printemps</i> or 
        <i style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Vesna svyashchennaya</i>) (1913) by 
        <span style="font-weight: bold;">Igor Stravinsky</span>. <i>The 
        Rite of Spring</i>, subtitled <span style="font-weight: bold;">
        &#8220;Pictures of Pagan Russia,&#8221;</span> was written for 
        the <span style="font-weight: bold;">Ballets Russes</span>, and 
        choreographed by <span style="font-weight: bold;">Vaslav Nijinsky
        </span>. Inspired by Russian <span style="font-weight: bold;">
        folklorist</span> <span style="font-weight: bold;">Nicholas 
        Roerich</span>, who designed the original sets, it is in two 
        parts, <span style="font-weight: bold;">&#8220;The Adoration of 
        the Earth&#8221;</span> and <span style="font-weight: bold;">
        &#8220;The Sacrifice.&#8221;</span> It opens with a 
        <span style="font-weight: bold;">high-pitched bassoon solo</span> 
        based on a <span style="font-weight: bold;">Lithuanian folk song
        </span>, which is followed by the <span style="font-weight: bold;">
        dissonant</span> <span style="font-weight: bold;">&#8220;Augurs 
        of Spring&#8221;</span> (sometimes called 
        <span style="font-weight: bold;">&#8220;Dances of the Young 
        Girls&#8221;</span>), which features 
        <span style="font-weight: bold;">E-major</span> and 
        <span style="font-weight: bold;">E-flat-major chords superimposed
        </span> on each other and played with seemingly 
        <span style="font-weight: bold;">random accents</span>. The piece 
        ends with a girl forced to <span style="font-weight: bold;">dance 
        herself to death</span>. <span style="font-weight: bold;">Changes 
        of meter</span> are frequent, sometimes changing measure to 
        measure. The original instrumentation featured several 
        <span style="font-weight: bold;">unusual percussion instruments
        </span>, including a <span style="font-weight: bold;">gong</span>, 
        <span style="font-weight: bold;">tambourines</span>, 
        <span style="font-weight: bold;">antique cymbals</span>, and the 
        <span style="font-weight: bold;">guiro</span>. Most infamously, a 
        <span style="font-weight: bold;">riot</span> broke out at its 
        <span style="font-weight: bold;">Paris premiere</span>, although 
        contemporary reports give differing accounts on the <i>Rite</i>
        &#8217;s role.
    </li>
	<li class="list_item">
        <i class="label">Rodeo</i> (1942) by 
        <span style="font-weight: bold;">Aaron Copland</span>. 
        <span style="font-weight: bold;">Agnes DeMille</span> 
        choreographed <i>Rodeo</i> and danced the lead role at its 
        premiere. It tells the story of a <span style="font-weight: bold;">
        tomboy Cowgirl</span> in the <span style="font-weight: bold;">
        American West</span> (the characters are not given specific names). 
        She falls in love with the <span style="font-weight: bold;">Head 
        Wrangler</span>, who prefers the more feminine 
        <span style="font-weight: bold;">Rancher&#8217;s Daughter</span>. 
        The Cowgirl winds up dancing and eventually kissing the 
        <span style="font-weight: bold;">Champion Roper</span>, who earlier 
        competed for the Rancher&#8217;s Daughter&#8217;s hand. <i>Rodeo</i> 
        is split into five sections: <span style="font-weight: bold;">
        &#8220;Buckaroo Holiday,&#8221;</span> which introduces the 
        characters; <span style="font-weight: bold;">&#8220;Corral 
        Nocturne,&#8221;</span> in which the <span style="font-weight: bold;">
        oboe</span> and <span style="font-weight: bold;">bassoon</span> 
        depict the Cowgirl&#8217;s <span style="font-weight: bold;">loneliness
        </span>; <span style="font-weight: bold;">&#8220;Ranch House 
        Party,&#8221;</span> which was omitted from the orchestral version; 
        <span style="font-weight: bold;">&#8220;Saturday Night Waltz&#8221;
        </span>; and <span style="font-weight: bold;">&#8220;Hoe-down,&#8221;
        </span> which is based on the folk song 
        <span style="font-weight: bold;">&#8220;Bonaparte&#8217;s 
        Retreat.&#8221;</span> &#8220;Hoe-down&#8221; was famously used in 
        the <span style="font-weight: bold;">&#8220;Beef: It&#8217;s 
            What&#8217;s for Dinner&#8221;</span> ad campaign in the 1990s.
        </li>
	<li class="list_item">
        <i class="label">Romeo and Juliet</i> (1938) by 
        <span style="font-weight: bold;">Sergei Prokofiev</span>. Prokofiev 
        composed <i>Romeo and Juliet</i> for the 
        <span style="font-weight: bold;">Bolshoi Ballet</span>. Prokofiev 
        originally intended to substitute a <span style="font-weight: bold;">
        happier ending</span> for Shakespeare&#8217;s tragic one &mdash; 
        stating <span style="font-weight: bold;">&#8220;dead people cannot 
        dance&#8221;</span> &mdash; but conductor 
        <span style="font-weight: bold;">Yuri Fayer</span> talked him out of 
        it (in significant part for political reasons). The 
        <span style="font-weight: bold;">&#8220;Dance of the 
        Knights&#8221;</span> (also called <span style="font-weight: bold;">
        &#8220;Montagues and Capulets&#8221;</span>) is an often-excerpted 
        portion of the ballet noted for its <span style="font-weight: bold;">
        pulsating, driving rhythm</span>, while the 
        <span style="font-weight: bold;">Gavotte</span>, or 
        <span style="font-weight: bold;">&#8220;Departure of the 
        Guests,&#8221;</span> reuses a theme from Prokofiev&#8217;s 
        <span style="font-weight: bold;">First Symphony</span> (the 
        &#8220;Classical&#8221;). The score, which calls for such 
        nonstandard instruments as a <span style="font-weight: bold;">tenor 
        saxophone</span>, <span style="font-weight: bold;">maracas</span>, 
        <span style="font-weight: bold;">tambourine</span>, and 
        <span style="font-weight: bold;">celesta</span>, was later 
        transformed into three orchestral suites, as well as a set of ten 
        works for solo piano. (The score underwent further revisions 
        &mdash; not by Prokofiev himself &mdash; in 1940; choreographer 
        <span style="font-weight: bold;">Mark Morris</span> has performed 
        Prokofiev&#8217;s original version with the &#8220;happier&#8221; 
        ending.)
    </li>
	<li class="list_item">
        <i class="label">Sleeping Beauty</i> (<i class="title">
        Spyashchaya krasavitsa</i>) (1890) by 
        <span style="font-weight: bold;">Peter Ilich Tchaikovsky</span>. 
        Choreographed by <span style="font-weight: bold;">Marius Petipa
        </span>, <i>Sleeping Beauty</i> (also called <i>The Sleeping 
        Beauty</i>) is based on the <span style="font-weight: bold;">fairy 
        tale</span> of the same name, though other fairy tale figures 
        &mdash; including <span style="font-weight: bold;">Little Red 
        Riding Hood</span> and <span style="font-weight: bold;">Cinderella
        </span> &mdash; appear. Split into four sections 
        (<span style="font-weight: bold;">&#8220;The Christening,&#8221;
        </span> <span style="font-weight: bold;">&#8220;The Spell,&#8221;
        </span> <span style="font-weight: bold;">&#8220;The Vision,&#8221;
        </span> and <span style="font-weight: bold;">&#8220;The 
        Wedding&#8221;</span>), <i>Sleeping Beauty</i> relates the story of 
        <span style="font-weight: bold;">Princess Aurora</span>, the 
        daughter of <span style="font-weight: bold;">King 
        Florestan&nbsp;XXIV</span>. He invites a group of 
        <span style="font-weight: bold;">fairies</span> to Aurora&#8217;s 
        <span style="font-weight: bold;">christening</span>, but the evil 
        spirit <span style="font-weight: bold;">Carabosse</span>, furious 
        at not being invited, appears and curses Aurora to 
        <span style="font-weight: bold;">die on her 16th birthday</span> by 
        <span style="font-weight: bold;">pricking her finger with a spindle
        </span>. However, the powerful <span style="font-weight: bold;">
        Lilac Fairy</span> weakens the curse, so that Aurora will 
        <span style="font-weight: bold;">sleep for a hundred years</span> 
        instead. On her 16th birthday, the townspeople perform the 
        <span style="font-weight: bold;">&#8220;Garland Waltz&#8221;</span> 
        and four suitors and Aurora perform the challenging 
        <span style="font-weight: bold;">&#8220;Rose Adagio.&#8221;</span> 
        A mysterious figure (Carabosse in disguise) appears and gives 
        Aurora a spindle, on which Aurora pricks herself and falls asleep; 
        the Lilac Fairy then <span style="font-weight: bold;">expands the 
        spell</span> over the entire kingdom. A century later, 
        <span style="font-weight: bold;">Prince Desire</span> is hunting 
        in the forest when the Lilac Fairy approaches him and leads him 
        to the castle. He <span style="font-weight: bold;">wakes Aurora 
        with a kiss</span> and wins her hand in marriage.
    </li>
	<li class="list_item">
        <i class="label">Swan Lake</i> (<i style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Lebedinoye ozero</i>) (1867) 
        by Peter Ilich Tchaikovsky. Many modern performances of <i>Swan 
        Lake</i> are based on a <span style="font-weight: bold;">revised 
        version</span> of Tchaikovsky&#8217;s score prepared after 
        Tchaikovsky&#8217;s death by <span style="font-weight: bold;">Marius 
        Petipa</span>, <span style="font-weight: bold;">Lev Ivanov</span>, 
        and <span style="font-weight: bold;">Riccardo Drigo</span>. The 
        ballet opens at <span style="font-weight: bold;">Prince Siegfried
        </span>&#8217;s <span style="font-weight: bold;">21st birthday 
        party</span>, where Siegfried&#8217;s mother scolds him for 
        <span style="font-weight: bold;">not finding a wife</span>; she 
        plans for him to choose a spouse at a <span style="font-weight: bold;">
        ball</span> the following evening. After the 
        <span style="font-weight: bold;">&#8220;Dance of the Goblets,&#8221;
        </span> Siegfried, his tutor <span style="font-weight: bold;">Wolfgang
        </span>, and his friend <span style="font-weight: bold;">Benno</span> 
        go hunting. They are about to shoot a <span style="font-weight: bold;">
        swan</span> when it turns into the beautiful 
        <span style="font-weight: bold;">Odette</span>. Odette reveals she 
        was <span style="font-weight: bold;">cursed</span> by the sorcerer 
        <span style="font-weight: bold;">von&nbsp;Rothbart</span> to turn 
        into a swan during the daytime. The curse can only be broken if 
        <span style="font-weight: bold;">one who has never loved before</span> 
        declares his love for her. Odette and the other victims of 
        von&nbsp;Rothbart&#8217;s curse live on the title lake, which was 
        created by Odette&#8217;s mother&#8217;s 
        <span style="font-weight: bold;">tears</span>. Their presence is 
        usually signified by one of the ballet&#8217;s recurring musical 
        themes, a <span style="font-weight: bold;">B-minor motif for oboe 
        and harp</span>. Odette and Siegfried begin to fall in love, but 
        morning breaks and Odette returns to her swan form. At the palace, 
        the ball begins with <span style="font-weight: bold;">nationalistic 
        dances</span>, including <span style="font-weight: bold;">Neapolitan
        </span> and <span style="font-weight: bold;">Hungarian</span> dances 
        and a <span style="font-weight: bold;">mazurka</span>. 
        Von&nbsp;Rothbart arrives with his daughter 
        <span style="font-weight: bold;">Odile</span>, disguised to look 
        like Odette. (Odette and Odile are normally played by the same 
        ballerina, who wears white as Odette and black as Odile.) They 
        successfully trick Siegfried into <span style="font-weight: bold;">
        declaring his love</span> for Odile, dooming Odette to 
        <span style="font-weight: bold;">live as a swan forever</span>. 
        He hurries back to the lake, where he and Odette 
        <span style="font-weight: bold;">drown themselves</span>, killing 
        von&nbsp;Rothbart in the process. The exact 
        <span style="font-weight: bold;">ending varies</span> from 
        production to production, with some happier than others.
    </li>
	<li class="list_item">
        <i class="label">The Three-Cornered Hat</i> class="label"mily: Cambria; font-weight: bold; 
        font-size: large;">El sombrero de tres picos</i>) (1919) by 
        <span style="font-weight: bold;">Manuel de&nbsp;Falla</span>. 
        <span style="font-weight: bold;">Sergei Diaghilev</span> 
        commissioned this ballet based on a novella by 
        <span style="font-weight: bold;">Pedro Antonio 
        de&nbsp;Alarc&oacute;n</span>; the costumes were designed by 
        <span style="font-weight: bold;">Pablo Picasso</span>. The title 
        headgear is worn by the ballet&#8217;s main villain, a 
        <span style="font-weight: bold;">magistrate</span> 
        (<i style="font-weight: bold;">corregidor</i>), who attempts to 
        seduce the main female character, a 
        <span style="font-weight: bold;">miller&#8217;s wife</span>. The 
        <span style="font-weight: bold;">miller</span> and his wife then 
        trick the magistrate: the miller&#8217;s wife flirtatiously offers 
        the magistrate some <span style="font-weight: bold;">grapes</span>, 
        but then leads him on a chase past the miller, hiding in a bush, 
        who beats the magistrate. That night, the magistrate sends a 
        deputy to arrest the miller on <span style="font-weight: bold;">
        falsified charges</span>; after the arrest, the opening of 
        <span style="font-weight: bold;">Beethoven&#8217;s Fifth Symphony
        </span> plays to signify the <span style="font-weight: bold;">
        &#8220;knocking of fate.&#8221;</span> The magistrate goes to the 
        miller&#8217;s home, but falls into a river, causing the 
        miller&#8217;s wife to flee. The magistrate then undresses and 
        gets into the miller&#8217;s bed; the miller, having 
        <span style="font-weight: bold;">escaped from prison</span>, 
        decides to seduce the magistrate&#8217;s wife and secretly 
        <span style="font-weight: bold;">switches clothes</span> with him. 
        The magistrate, dressed in the miller&#8217;s clothes, is then 
        arrested by his deputy. The miller and his wife arrive and toss 
        the magistrate up and down in a blanket.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Robert Chu.</p>
<br />
<br />
<br />
{% endblock %}