{% extends "base.html" %}  {% block title %}Choreographers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a> | </li>
    <li style="display:inline">Choreographers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/choreographers.html">
    You Gotta Know These Choreographers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Martha Graham</span> (1894&ndash;1991) was the 
        <span style="font-weight: bold;">first dancer invited to perform at 
        the White House</span>.  As a choreographer, she developed the 
        <span style="font-weight: bold;">&#8220;Graham technique&#8221;
        </span> that creates dramatic tension through 
        <span style="font-weight: bold;">&#8220;contraction&#8221; and 
        &#8220;release&#8221;</span> of major muscles. Her first major 
        success was her 1958 concert-length ballet 
        <i style="font-weight: bold;">Clytemnestra</i>, one of four 
        collaborations with composer <span style="font-weight: bold;">Halim 
        Ed-Dabh</span>. She performed the title role in <i>Clytemnestra</i> 
        with her namesake dance company, whose dancers included 
        <span style="font-weight: bold;">Merce Cunningham</span> and her 
        husband, <span style="font-weight: bold;">Erick Hawkins</span>, 
        both of whom went on to become choreographers in their own right. 
        Hawkins danced the male lead in <i style="font-weight: bold;">
        Appalachian Spring</i>, a ballet with &#8220;an American 
        theme&#8221; that Graham commissioned from 
        <span style="font-weight: bold;">Aaron Copland</span>.
    </li>
	<li class="list_item">
        <span class="label">Michel Fokine</span> (1880&ndash;1942) was 
        accepted to the <span style="font-weight: bold;">Imperial Ballet 
        School</span> in <span style="font-weight: bold;">
        St.&nbsp;Petersburg, Russia</span>, at age nine, eventually 
        becoming a teacher there.He choreographed a four-minute ballet for 
        <span style="font-weight: bold;">Anna Pavlova</span> called 
        <i style="font-weight: bold;">The Dying Swan</i>, set to &#8220;The 
        Swan&#8221; from <i style="font-weight: bold;">The Carnival of the 
        Animals</i> (the title comes from a <span style="font-weight: bold;">
        Tennyson</span> poem entitled &#8220;The Dying Swan&#8221;). 
        He mentored <span style="font-weight: bold;">Vaslav Nijinsky</span> 
        and featured him in early works like <i style="font-weight: bold;">
        Les Sylphides</i>, a ballet based on the music of 
        <span style="font-weight: bold;">Fr&eacute;d&eacute;ric Chopin
        </span>. After <span style="font-weight: bold;">Sergei Diaghilev
        </span> hired Fokine to work for the <span style="font-weight: bold;">
        Ballets Russes</span> in Paris, Fokine showcased Nijinsky&#8217;s 
        talents in several ballets based on the work of famous composers, 
        such as <i style="font-weight: bold;">Scheherazade</i>, 
        <i style="font-weight: bold;">The Firebird</i>, 
        <i style="font-weight: bold;">Petrushka</i>, 
        <i style="font-weight: bold;">Daphnis et Chlo&eacute;</i>, and 
        <i style="font-weight: bold;">The Spirit of the Rose</i>. However, 
        once Nijinsky turned to choreography Fokine quit the Ballets Russes, 
        only returning after Nijinsky&#8217;s dismissal.
    </li>
	<li class="list_item">
        <span class="label">Bob Fosse</span> (1927&ndash;1987) came to 
        prominence in the 1953 film <i style="font-weight: bold;">Kiss Me 
        Kate</i>. While he and dance partner <span style="font-weight: bold;">
        Carol Haney</span> only had small roles, the dance that Fosse 
        choreographed for them in the number <span style="font-weight: bold;">
        &#8220;From This Moment On&#8221;</span> launched Fosse&#8217;s 
        career. Fosse&#8217;s unique style, featuring turned-in knees, 
        rolled shoulders, sideways movement, and 
        <span style="font-weight: bold;">&#8220;jazz hands,&#8221;</span> 
        found its greatest expression on Broadway, where he choreographed 
        the musicals <i style="font-weight: bold;">The Pajama Game</i>, 
        <i style="font-weight: bold;">Damn Yankees</i>, 
        <i style="font-weight: bold;">Redhead</i>, 
        <i style="font-weight: bold;">Sweet Charity</i>, 
        <i style="font-weight: bold;">Pippin</i>, and 
        <i style="font-weight: bold;">Chicago</i>. Many of his works 
        featured his wife <span style="font-weight: bold;">Gwen Verdon
        </span>, who won four Tonys under his choreography or direction. 
        Fosse also directed the films <i style="font-weight: bold;">
        Cabaret</i> and <i style="font-weight: bold;">All That Jazz</i>, 
        winning an Oscar for <i style="font-weight: bold;">Cabaret</i>. 
        Many commentators have described his cameo as 
        <span style="font-weight: bold;">The Snake</span> in a 1974 film 
        adaptation of <i style="font-weight: bold;">The Little Prince</i> 
        as a forerunner to the dance style of 
        <span style="font-weight: bold;">Michael Jackson</span>.
    </li>
	<li class="list_item">
        <span class="label">Jerome Robbins</span> (1918&ndash;1998) is 
        probably best known for his work with 
        <span style="font-weight: bold;">Leonard Bernstein</span>. He broke 
        through as a choreographer with an experimental ballet about three 
        sailors on leave in New York City, <i style="font-weight: bold;">
        Fancy Free</i>, which he then helped rework into the hit 1944 
        musical <i style="font-weight: bold;">On the Town</i>. Known for 
        being temperamental and difficult to work with, he conceived, 
        choreographed, and directed the 1957 original production of 
        <i style="font-weight: bold;">West Side Story</i> and won an 
        Oscar for co-directing the 1961 film version (despite quitting 
        early in the process due to creative differences). He also 
        choreographed and directed the original production of 
        <i style="font-weight: bold;">Fiddler on the Roof</i>. He acted as 
        an uncredited <span style="font-weight: bold;">&#8220;show 
        doctor,&#8221;</span> rescuing several floundering Broadway shows, 
        including <i style="font-weight: bold;">A Funny Thing Happened on 
        the Way to the Forum</i> and <i style="font-weight: bold;">
        Funny Girl</i>.</li>
	<li class="list_item">
        <span class="label">George Balanchine</span> (1904&ndash;1983) 
        trained in his native <span style="font-weight: bold;">Georgia
        </span> (the country) and <span style="font-weight: bold;">Russia
        </span> and briefly worked with <span style="font-weight: bold;">
        Sergei Diaghilev</span> at the <span style="font-weight: bold;">
        Ballets Russes</span> in Paris before being invited by impresario 
        <span style="font-weight: bold;">Lincoln Kirstein</span> to the 
        United States, where the two co-founded the 
        <span style="font-weight: bold;">New York City Ballet (NYCB)</span> 
        and its associated <span style="font-weight: bold;">School of 
        American Ballet</span>.  As artistic director of NYCB, Balanchine 
        began the tradition of annually staging 
        <i style="font-weight: bold;">The Nutcracker</i> at Christmas. 
        One of his four wives &mdash; all dancers &mdash; was the 
        company&#8217;s first major star, <span style="font-weight: bold;">
        Native American</span> prima ballerina 
        <span style="font-weight: bold;">Maria Tallchief</span>. He 
        collaborated with composer <span style="font-weight: bold;">
        Igor Stravinsky</span> and visual artist 
        <span style="font-weight: bold;">Isamu Noguchi</span> on the 
        30-minute ballet <i style="font-weight: bold;">Orpheus</i>.
    </li>
	<li class="list_item">
        <span class="label">Vaslav Nijinsky</span> (1889&ndash;1950) was 
        known as the greatest male dancer of his era, but what he really 
        wanted to do was choreograph. His boss at the 
        <span style="font-weight: bold;">Ballets Russes</span>, 
        <span style="font-weight: bold;">Sergei Diaghilev</span>, gave him 
        the opportunity in 1912 with <i style="font-weight: bold;">The 
        Afternoon of a Faun</i>, set to the music of 
        <span style="font-weight: bold;">Claude Debussy</span>, and a year 
        later a <span style="font-weight: bold;">riot</span> broke out at 
        the premiere of another ballet he choreographed, 
        <span style="font-weight: bold;">Igor Stravinsky</span>&#8217;s 
        <i style="font-weight: bold;">The Rite of Spring</i>. (The exact 
        cause of the riot is <a style="color: maroon;" 
        href="http://www.telegraph.co.uk/culture/music/classicalmusic/
        10061574/The-Rite-of-Spring-1913-Why-did-it-provoke-a-riot.html">
        unclear</a>.) In 1919 Nijinsky was diagnosed with 
        <span style="font-weight: bold;">schizophrenia</span>. He never 
        danced again in public, and spent much of the rest of his life 
        in various asylums and institutions.
    </li>
	<li class="list_item">
        <span class="label">Alvin Ailey</span> (1931&ndash;1989) was a 
        pioneering <span style="font-weight: bold;">African-American</span> 
        choreographer. He originally danced in the 
        <span style="font-weight: bold;">Horton Dance Company</span> run by 
        his mentor <span style="font-weight: bold;">Lester Horton</span>. 
        After Horton&#8217;s unexpected death in 1953, Ailey took over as 
        its artistic director. In 1958 he formed 
        <span style="font-weight: bold;">Alvin Ailey American Dance Theater
        </span> in New York City. His best-known work, 
        <i style="font-weight: bold;">Revelations</i>, was based on his 
        upbringing in Texas and is divided into three parts, titled 
        <span style="font-weight: bold;">&#8220;Pilgrim of Sorrow,&#8221;
        </span> <span style="font-weight: bold;">&#8220;Take Me to the 
        Water,&#8221;</span> and <span style="font-weight: bold;">
        &#8220;Move Members, Move.&#8221;</span> &#8220;Move Members, 
        Move&#8221; emphasizes <span style="font-weight: bold;">gospel 
        music</span>, including the traditional spiritual 
        <span style="font-weight: bold;">&#8220;Sinner Man,&#8221;</span> 
        and concludes with the number <span style="font-weight: bold;">
        &#8220;Rocka My Soul in the Bosom of Abraham,&#8221;</span> which 
        recreates a joyous <span style="font-weight: bold;">church 
            service</span>.
        </li>
	<li class="list_item">
        <span class="label">Pierre Beauchamp</span> (1631&ndash;1705) taught 
        dance to French <span style="font-weight: bold;">King Louis&nbsp;XIV
        </span> at Versailles for over two decades. An early director of the 
        Western world&#8217;s first dance institution, the 
        <span style="font-weight: bold;">Acad&eacute;mie Royale de Danse
        </span>, he collaborated extensively with 
        <span style="font-weight: bold;">Moli&egrave;re</span>&#8217;s 
        acting company and the composer <span style="font-weight: bold;">
        Jean-Baptiste Lully</span>. He is often credited with codifying 
        the <span style="font-weight: bold;">five basic feet positions
        </span> in ballet. His system of <span style="font-weight: bold;">
        dance notation</span>, later revised by 
        <span style="font-weight: bold;">Raoul-Auger Feuillet</span> and 
        <span style="font-weight: bold;">Pierre Rameau</span> and today 
        known as <span style="font-weight: bold;">&#8220;Beauchamp-Feuillet 
        notation,&#8221;</span> was used until the late 1700s.
    </li>
	<li class="list_item">
        <span class="label">Agnes de&nbsp;Mille</span> (1905&ndash;1993), 
        the niece of the film director <span style="font-weight: bold;">
        Cecil B. DeMille</span> and granddaughter of the economist 
        <span style="font-weight: bold;">Henry George</span>, worked 
        extensively with <span style="font-weight: bold;">American Ballet 
        Theater</span>, but the <span style="font-weight: bold;">Ballet 
        Russe de Monte Carlo</span> commissioned her most famous work, 
        <i style="font-weight: bold;">Rodeo</i>.  That ballet, featuring 
        music by <span style="font-weight: bold;">Aaron Copland</span> 
        (possibly assisted by an uncredited <span style="font-weight: bold;">
        Leonard Bernstein</span>), details a love rectangle between 
        characters known as <span style="font-weight: bold;">American 
        Cowgirl</span>, <span style="font-weight: bold;">Champion Roper
        </span>, <span style="font-weight: bold;">Head Wrangler</span>, and 
        <span style="font-weight: bold;">Rancher&#8217;s Daughter</span>. 
        Her other notable stage ballets include 
        <i style="font-weight: bold;">Three Virgins and a Devil</i> and 
        <i style="font-weight: bold;">Fall River Legend</i> (based on the 
        life of <span style="font-weight: bold;">Lizzie Borden</span>). 
        De&nbsp;Mille also found success in musical theater, creating a 
        revolutionary <span style="font-weight: bold;">&#8220;dream 
        ballet&#8221;</span> for <span style="font-weight: bold;">Rodgers 
        and Hammerstein</span>&#8217;s <i style="font-weight: bold;">
        Oklahoma!</i>.
    </li>
	<li class="list_item">
        <span class="label">Twyla Tharp</span> (1941&ndash;present) made 
        her mark in the mid-1970s with the <span style="font-weight: bold;">
        &#8220;crossover ballets&#8221;</span> <i style="font-weight: bold;">
        Deuce Coupe</i> (performed by the <span style="font-weight: bold;">
        Joffrey Ballet</span> to music by <span style="font-weight: bold;">
        The Beach Boys</span>) and <i style="font-weight: bold;">Push Comes 
        to Shove</i> (starring <span style="font-weight: bold;">Mikhail 
        Baryshnikov</span>), both marked by a fusion of diverse musical and 
        dance styles. She found success on Broadway with the 
        <span style="font-weight: bold;">&#8220;jukebox musical&#8221;</span> 
        <i style="font-weight: bold;">Movin&#8217; Out</i>, set to the catalog 
        of <span style="font-weight: bold;">Billy Joel</span>; she 
        subsequently built musicals around the songs of 
        <span style="font-weight: bold;">Bob Dylan</span> and 
        <span style="font-weight: bold;">Frank Sinatra</span>. She created 
        the children&#8217;s ballet <i style="font-weight: bold;">The 
        Princess and the Goblin</i> and collaborated with director 
        <span style="font-weight: bold;">Milos Forman</span> on the 
        Hollywood films <i style="font-weight: bold;">Hair</i>, 
        <i style="font-weight: bold;">Ragtime</i>, and 
        <i style="font-weight: bold;">Amadeus</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Yogesh Raut.</p>
<br />
<br />
<br />
{% endblock %}