{% extends "base.html" %}  {% block title %}Musicals (Part 2){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a> | </li>
    <li style="display:inline">Musicals (Part 2)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/musicals-part-2.html">
    You Gotta Know These Musicals (Part 2)
    </a>
</h1>
<br />
<p class="justify">
    Each musical&#8217;s title is followed by its composer, its lyricist, 
    the author of its book, and the year in which it premiered on Broadway 
    or the West End.
</p>
<ul class="list2">
    <li class="list_item">
        <i class="label">The Music Man</i> (Meredith Wilson and Franklin 
        Lacey, 1957): The swindler <span style="font-weight: bold;">Harold 
        Hill</span> attempts to con the families of 
        <span style="font-weight: bold;">River City, Iowa</span> by 
        starting a <span style="font-weight: bold;">boys&#8217; band
        </span>. While there, he falls in love with the 
        <span style="font-weight: bold;">librarian</span> 
        <span style="font-weight: bold;">Marian Paroo</span>. The 
        scheme is exposed, but the town forgives him. Notable songs 
        include <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=LI_Oe-jtgdI">
        &#8220;Trouble&#8221;</a> (the origin of the phrase 
        <span style="font-weight: bold;">&#8220;trouble in River 
        City&#8221;</span>), <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=eBQWsBiM5YY">
        &#8220;Seventy-Six Trombones,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=9Jj622vbrrU">
        &#8220;Shipoopi,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=XihLS-jA_Dg">&#8220;Gary, 
        Indiana,&#8221;</a> and <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=JLDsLeVxOaU">
        &#8220;Till There was You.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">Rent</i> (Jonathan Larson, 1996): <i>Rent</i> 
        tells the story of <span style="font-weight: bold;">impoverished 
        artists</span> (<span style="font-weight: bold;">
        &#8220;bohemians&#8221;</span>) living in the 
        <span style="font-weight: bold;">East Village of New York City
        </span> during the <span style="font-weight: bold;">AIDS crisis
        </span> circa 1990 (though the temporal references are 
        inconsistent, so no specific year can be pinned down). It is 
        narrated by the filmmaker <span style="font-weight: bold;">Mark 
        Cohen</span>, whose ex-girlfriend <span style="font-weight: bold;">
        Maureen</span> just left him for a woman
        (<span style="font-weight: bold;">Joanne</span>), and whose 
        recovering-<span style="font-weight: bold;">heroin-addict</span> 
        roommate <span style="font-weight: bold;">Roger</span> meets the 
        dying stripper (and fellow heroin addict) 
        <span style="font-weight: bold;">Mimi</span>. Mark and 
        Roger&#8217;s former roommate, the itinerant philosopher and 
        hacker <span style="font-weight: bold;">Collins</span> comes to 
        town, where he is robbed, then saved by the transvestite 
        <span style="font-weight: bold;">Angel</span>, with whom he moves 
        in. Meanwhile, the former fourth roommate of Mark, Roger, and 
        Collins &mdash; <span style="font-weight: bold;">Benny</span> 
        &mdash; has married into a wealthy family and bought the 
        building Mark and Roger now live in, from which he wants to 
        <span style="font-weight: bold;">evict</span> them. The title 
        refers to both the rent money that Mark and Roger cannot and 
        will not pay Benny, and to their community being rent apart 
        (torn) by the AIDS epidemic, poverty, and drug addiction. 
        <i>Rent</i> is an adaptation of Giacomo Puccini&#8217;s opera 
        <i style="font-weight: bold;">La boh&egrave;me</i> (with most 
        characters corresponding directly, e.g. Mark to Marcello). It 
        won the 1996 <span style="font-weight: bold;">Pulitzer Prize 
        for Drama</span> and is most famous for the songs 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=hj7LRuusFqo">&#8220;Seasons 
        of Love&#8221;</a> and <a style="color: maroon; font-weight: bold;" 
        href="https://www.youtube.com/watch?v=OXE0XKFoUUo">&#8220;La Vie 
        Boh&egrave;me&#8221;</a>.
    </li>
	<li class="list_item">
        <i class="label">Guys and Dolls</i> (Frank Loesser, Jo Swerling, 
        and Abe Burrows, 1950): <span style="font-weight: bold;">Nathan 
        Detroit</span> runs an underground <span style="font-weight: bold;">
        craps game</span> but needs a location. To make enough money to 
        use the <span style="font-weight: bold;">Biltmore garage</span> 
        for his game, he bets the notorious gambler 
        <span style="font-weight: bold;">Sky Masterson</span> that Sky 
        can&#8217;t convince a girl of Nathan&#8217;s choice to go to 
        <span style="font-weight: bold;">Havana</span> with him for 
        dinner; Nathan chooses the righteous missionary 
        <span style="font-weight: bold;">Sarah Brown</span>. Sky wins the 
        bet but ends up having to bring a dozen sinning gamblers to a 
        <span style="font-weight: bold;">revival meeting</span>. As 
        Nathan attends the meeting, his long-suffering fianc&eacute;e 
        <span style="font-weight: bold;">Adelaide</span>, a nightclub 
        dancer, is increasingly frustrated that their 14-year engagement 
        has not led to marriage. At the meeting, Sky bets a large amount 
        of money <span style="font-weight: bold;">against the 
        gamblers&#8217; souls</span>, winning, and eventually convinces 
        Sarah to marry him and Nathan to marry Adelaide. Adapted from 
        short stories by <span style="font-weight: bold;">Damon Runyon
        </span>, the musical includes the songs <a style="color: maroon; 
        font-weight: bold;" target="_blank" href="https://www.youtube.com/
        watch?v=DzjAqHpk--E">&#8220;A Bushel and a Peck,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=f-JzdRJCcsg">&#8220;Luck 
        Be a Lady,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" href="https://www.youtube.com/watch?v=nJq7J2uzSlc">
        &#8220;Sit Down, You&#8217;re Rockin&#8217; the Boat.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">Les Mis&eacute;rables</i> (Alain Boublil, 
        Claude-Michel Sch&ouml;nberg, and Herbert Kretzmer, 1985): A partial 
        retelling of the <span style="font-weight: bold;">Victor Hugo
        </span> novel of the same name, this work follows 
        <span style="font-weight: bold;">Jean Valjean</span>, who was 
        convicted of <span style="font-weight: bold;">stealing a loaf of 
        bread to feed his starving niece</span>. He breaks his 
        <span style="font-weight: bold;">parole</span> and is doggedly 
        pursued by <span style="font-weight: bold;">Inspector Javert</span>. 
        Several years later, the lives of Valjean, his 
        <span style="font-weight: bold;">adopted daughter Cosette</span>, 
        her lover <span style="font-weight: bold;">Marius</span> and his 
        unrequited admirer <span style="font-weight: bold;">
        &Eacute;ponine</span>, and Javert become intertwined on the 
        <span style="font-weight: bold;">barricades</span> of an 1832 
        <span style="font-weight: bold;">student rebellion</span> in 
        Paris. The longest-running show on London&#8217;s West End, 
        it features the songs <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=-p6OH7FoWoQ">
        &#8220;I Dreamed a Dream,&#8221;</a>, <a style="color: maroon; 
        font-weight: bold;" target="_blank" href="https://www.youtube.com/
        watch?v=Dp8sYTlLQRY">&#8220;Castle on a Cloud,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=WWzBtuGsXGc">&#8220;Master 
        of the House,&#8221;</a> <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=PUlQNsl4Qvk">
        &#8220;Do You Hear the People Sing?&#8221;</a>, 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=IddP8AAIGTQ">&#8220;One 
        Day More,&#8221;</a> and <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=VjfmP7h3gBw">
        &#8220;On My Own.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">Annie Get Your Gun</i> (Irving Berlin, Herbert 
        Fields, and Dorothy Fields, 1946): <span style="font-weight: bold;">
        Buffalo Bill&#8217;s Wild West Show</span> comes to town, and 
        performer <span style="font-weight: bold;">Frank Butler</span> 
        challenges anyone to a <span style="font-weight: bold;">shooting 
        contest</span>. <span style="font-weight: bold;">Annie Oakley
        </span> wins the contest and joins the show. She and Frank 
        <span style="font-weight: bold;">fall in love</span>, but Frank 
        quits out of jealousy that Annie is a better shooter than he is. 
        The title role was originated by <span style="font-weight: bold;">
        Ethel Merman</span>. The show includes the songs 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=4lakGIwI9u0">
        &#8220;There&#8217;s No Business Like Show Business,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Og_hAsXXDIA">
        &#8220;Doin&#8217; What Comes Natur&#8217;lly,&#8221;</a> and 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=WO23WBji_Z0">&#8220;Anything 
        You Can Do.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">The Pirates of Penzance</i> (W.&nbsp;S. Gilbert 
        and Arthur Sullivan, 1879): <span style="font-weight: bold;">
        Frederic</span>, having <span style="font-weight: bold;">turned 
        21</span>, is released from his <span style="font-weight: bold;">
        apprenticeship</span> to the title pirates. Reaching shore for 
        the first time, Frederic falls in love with 
        <span style="font-weight: bold;">Mabel</span>, the daughter of 
        <span style="font-weight: bold;">Major-General Stanley</span>. 
        Frederic realizes that he was apprenticed until his 
        <span style="font-weight: bold;">twenty-first <em>birthday</em>
        </span>, and, having been born on <span style="font-weight: bold;">
        February&nbsp;29</span>, he must return to his apprenticeship. 
        Mabel vows to wait for him. The Major-General and the police 
        pursue the pirates, who <span style="font-weight: bold;">
        surrender</span>. The pirates are forgiven, and Mabel and 
        Frederic reunite. As the work is actually a 
        <span style="font-weight: bold;">light opera</span>, most of the 
        songs are simply titled after their first lines; the most 
        memorable ones include <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=7iQsVwbvK7U">
        &#8220;Pour, oh pour, the pirate sherry&#8221;</a> and the 
        <span style="font-weight: bold;">patter song</span> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Z2OcbeGqbpU">&#8220;I am 
        the very model of a modern Major-General.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">H.M.S. Pinafore</i> (W.&nbsp;S. Gilbert and 
        Arthur Sullivan, 1878): Aboard the title ship, 
        <span style="font-weight: bold;">Josephine</span> promises her 
        father, the captain, that she will marry 
        <span style="font-weight: bold;">Sir Joseph Porter</span>, but 
        Josephine secretly loves the common sailor 
        <span style="font-weight: bold;">Ralph Rackstraw</span>, and the 
        two plan to elope. A peddler named <span style="font-weight: bold;">
        Buttercup</span> reveals that she accidentally 
        <span style="font-weight: bold;">switched the captain and Ralph 
        at birth</span>: Ralph is of noble birth and should be captain, 
        while the captain is nothing more than a common sailor. Ralph, 
        now captain, marries Josephine, and the former captain marries 
        Buttercup. Like <i style="font-weight: bold;">The Pirates of 
        Penzance</i>, songs are named after their first lines; they 
        include <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=Ezr5_vae1CE">
        &#8220;We sail the ocean blue,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=vCa3G1n9pj0">&#8220;I&#8217;m 
        called Little Buttercup,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=bP_DRQMJPdg">&#8220;Pretty 
        daughter of mine.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">The King and I</i> (Richard Rodgers and Oscar 
        Hammerstein&nbsp;II, 1951): <span style="font-weight: bold;">Anna 
        Leonowens</span>, a British <span style="font-weight: bold;">
        schoolteacher</span>, travels to <span style="font-weight: bold;">
        Siam</span> (now Thailand) to <span style="font-weight: bold;">
        teach English</span> to the King&#8217;s many 
        <span style="font-weight: bold;">children and wives</span>. 
        Anna&#8217;s western ways, the looming threat of British rule, 
        and romance between <span style="font-weight: bold;">Lun Tha
        </span> and the concubine <span style="font-weight: bold;">
        Tuptim</span> all weigh heavily on the traditional, 
        <span style="font-weight: bold;">chauvinistic King</span>. As 
        the King dies, Anna kneels at his side, and the prince 
        <span style="font-weight: bold;">abolishes the practice of 
        kowtowing</span>. Adapted from <i style="font-weight: bold;">
        Anna and the King of Siam</i> by Margaret Landon and inspired 
        by Anna Leonowens&#8217; memoirs, it was made into an Academy 
        Award-winning 1956 film starring <span style="font-weight: bold;">
        Yul Brynner</span>. Its songs include <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=WGS029Peq7k">&#8220;I 
        Whistle a Happy Tune,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Vlx6gQWfjp0">&#8220;Getting 
        to Know You,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=QgVPnWmUqd4">&#8220;Shall 
        We Dance?&#8221;.</a>
    </li>
	<li class="list_item">
        <i class="label">Jesus Christ Superstar</i> (Andrew Lloyd 
        Webber and Tim Rice, 1971): In the week leading up to the 
        <span style="font-weight: bold;">crucifixion</span>, 
        <span style="font-weight: bold;">Judas</span> grows angry with 
        <span style="font-weight: bold;">Christ</span>&#8217;s claims of 
        <span style="font-weight: bold;">divinity</span>, and 
        <span style="font-weight: bold;">Mary Magdalene</span> laments 
        her romantic feelings for Christ. Judas 
        <span style="font-weight: bold;">hangs himself</span>, and 
        Christ, though frustrated with God, 
        <span style="font-weight: bold;">accepts his fate</span>. It 
        includes the songs <a style="color: maroon; font-weight: bold;" 
        target="_blank" href=" https://www.youtube.com/watch?v=XwtS02LlHe0">
        &#8220;I Don&#8217;t Know How to Love Him,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href=" https://www.youtube.com/watch?v=_QozXX7Ndrk">
        &#8220;Gethsemane,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=3MlZOjw7H1U">&#8220;Trial 
        Before Pilate.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">Sweeney Todd: the Demon Barber of Fleet 
        Street</i> (Stephen Sondheim and Hugh Wheeler, 1979): Sweeney T
        odd, a <span style="font-weight: bold;">barber</span>, returns to 
        <span style="font-weight: bold;">London</span> from 
        <span style="font-weight: bold;">Australia</span>, where the evil 
        <span style="font-weight: bold;">Judge Turpin</span> &mdash; 
        who lusted after Sweeney&#8217;s wife &mdash; unjustly imprisoned 
        him. Sweeney&#8217;s daughter, <span style="font-weight: bold;"
        >Joanna</span>, escapes Turpin &mdash; of whom she had been 
        a ward during her father&#8217;s incarceration &mdash; and falls 
        in love with the sailor <span style="font-weight: bold;">Anthony 
        Hope</span>. A vengeful Sweeney begins 
        <span style="font-weight: bold;">murdering his customers</span>, 
        and his neighbor, <span style="font-weight: bold;">
        Mrs.&nbsp;Lovett</span>, <span style="font-weight: bold;">bakes 
        them into meat pies</span>. Sweeney 
        <span style="font-weight: bold;">kills the Judge</span> but, 
        in his fury, accidentally <span style="font-weight: bold;">kills 
        a mad beggar woman</span> who was really his long-lost wife. 
        Mrs.&nbsp;Lovett&#8217;s shop boy, 
        <span style="font-weight: bold;">Tobias</span>, grows scared and 
        <span style="font-weight: bold;">kills Sweeney</span>. 
        The show&#8217;s famously complex score includes 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=5dwOtu9CRCs">&#8220;The 
        Ballad of Sweeney Todd,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=7QrAymakFWs">&#8220;The 
        Worst Pies in London,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=ex-EZuSrXR8">
        &#8220;Johanna,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=ODWHhYftOcw">&#8220;God, 
        That&#8217;s Good,&#8221;</a>, but since the show is essentially 
        sung-through, it is sometimes nontrivial to identify distinct 
        songs within it.
    </li>
	<li class="list_item">
        <i class="label">South Pacific</i> (Richard Rodgers, Oscar 
        Hammerstein&nbsp;II, and Joshua Logan, 1949): During the 
        <span style="font-weight: bold;">Pacific Theater of World 
        War&nbsp;II</span>, <span style="font-weight: bold;">Nellie 
        Forbush</span>, a U.S. Navy nurse, has fallen in love with 
        <span style="font-weight: bold;">&Eacute;mile</span>, a French 
        <span style="font-weight: bold;">plantation owner</span>. 
        &Eacute;mile helps <span style="font-weight: bold;">Lieutenant 
        Cable</span> carry out an <span style="font-weight: bold;">
        espionage mission</span> against the Japanese. The mission 
        is successful, and &Eacute;mile and Nellie reunite. Featuring 
        the songs <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=cbskoBOHyc8">
        &#8220;Some Enchanted Evening,&#8221;</a> 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Ljm9CDRAhMQ">&#8220;There 
        is Nothing Like a Dame,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Zzu8ZxBHMWk">
        &#8220;I&#8217;m Gonna Wash that Man Right Outta My Hair,&#8221;
        </a> it is adapted from <span style="font-weight: bold;">James 
        Michener</span>&#8217;s <i style="font-weight: bold;">Tales of 
        the South Pacific</i>. 
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Daniel Donohue.</p>
<br />
<br />
<br />
{% endblock %}