{% extends "base.html" %}  {% block title %}Musicals (Part 1){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Peformance</a> | </li>
    <li style="display:inline">Musicals (Part 1)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/musicals-part-1.html">
    You Gotta Know These Musicals (Part 1)
    </a>
</h1>
<br />
<p class="justify">
    Each musical&#8217;s title is followed by its composer, its lyricist, 
    the author of its book, and the year in which it premiered on Broadway 
    or the West End.
</p>
<ul class="list2">
    <li class="list_item">
        <i class="label">West Side Story</i> (Leonard Bernstein; Stephen 
        Sondheim; Arthur Laurents; 1957): Riff and Bernardo lead two 
        <span style="font-weight: bold;">rival gangs</span>: the blue-
        collar <span style="font-weight: bold;">Jets</span> and the Puerto 
        Rican <span style="font-weight: bold;">Sharks</span>. 
        <span style="font-weight: bold;">Tony</span>, a former Jet, falls 
        in love with <span style="font-weight: bold;">Bernardo</span>
        &#8217;s sister <span style="font-weight: bold;">Maria</span> 
        and vows to stop the fighting, but he 
        <span style="font-weight: bold;">kills Bernardo</span> after 
        Bernardo kills Riff in a <span style="font-weight: bold;">
        &#8220;rumble.&#8221;</span> Maria&#8217;s suitor 
        <span style="font-weight: bold;">Chino</span> 
        <span style="font-weight: bold;">shoots Tony</span>, and the two 
        gangs come together. Notable songs include 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=aJdMqZKG7ic">
        &#8220;America,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=-1tCK7mnM3o">
        &#8220;Tonight,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=_SQ4ogstDVE">
        &#8220;Somewhere,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=Ye7PIyIcCro">
        &#8220;I Feel Pretty,&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=j7TT4jnnWys">
        &#8220;Gee, Officer Krupke.&#8221;</a> Adapted from 
        <i style="font-weight: bold;">Romeo and Juliet</i>, it was made 
        into an Academy Award-winning 1961 film starring Natalie Wood. 
    </li>
	<li class="list_item">
        <i class="label">The Phantom of the Opera</i> (Andrew Lloyd 
        Webber; Charles Hart &amp; Richard Stilgoe; Richard Stilgoe &amp; 
        Andrew Lloyd Webber; 1986): At the Paris Opera in 1881, the 
        mysterious Phantom lures the soprano 
        <span style="font-weight: bold;">Christine Daa&eacute;</span> 
        to his lair (<a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=N9NJpz-2mCc">
        &#8220;The Music of the Night&#8221;</a>). Christine falls in 
        love with the opera&#8217;s new patron, 
        <span style="font-weight: bold;">Raoul</span>, so the Phantom 
        <span style="font-weight: bold;">drops a chandelier</span> and 
        kidnaps Christine. They kiss, but he disappears, leaving 
        behind only his <span style="font-weight: bold;">white mask
        </span>. Adapted from the 1909 novel of the same name by 
        <span style="font-weight: bold;">Gaston Leroux</span>, it is 
        the longest-running show in Broadway history. 
    </li>
	<li class="list_item">
        <i class="label">My Fair Lady</i> (Frederick Loewe; Alan Jay 
        Lerner; Alan Jay Lerner; 1956): As part of a bet with his friend 
        <span style="font-weight: bold;">Colonel Pickering</span>, the 
        <span style="font-weight: bold;">phonetics professor</span> 
        <span style="font-weight: bold;">Henry Higgins</span> 
        transforms the <span style="font-weight: bold;">Cockney flower 
        girl</span> <span style="font-weight: bold;">Eliza Doolittle
        </span> into a <span style="font-weight: bold;">proper lady
        </span>. After Eliza falls for <span style="font-weight: bold;">
        Freddy Eynsforth-Hill</span>, Higgins realizes he is in love 
        with Eliza. Eliza returns to Higgins&#8217; home in the final 
        scene. It is adapted from <span style="font-weight: bold;">
        George Bernard Shaw</span>&#8217;s play 
        <i style="font-weight: bold;">Pygmalion</i>, and its most 
        famous songs are <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=uVmU3iANbgk">
        &#8220;The Rain in Spain&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=qiCN6z5dJnU">&#8220;Get Me 
        to the Church on Time.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">Cats</i> (Andrew Lloyd Webber based on poems 
        by T.&nbsp;S. Eliot; 1981): The <span style="font-weight: bold;">
        Jellicle</span> tribe of cats roams the streets of London. 
        They introduce the audience to various members: 
        <span style="font-weight: bold;">Rum Tum Tugger</span>, 
        <span style="font-weight: bold;">Mungojerrie</span>, 
        <span style="font-weight: bold;">Rumpleteazer</span>, 
        <span style="font-weight: bold;">Mr.&nbsp;Mistoffelees</span>, 
        and <span style="font-weight: bold;">Old Deuteronomy</span>. 
        Old Deuteronomy must choose a cat to be 
        <span style="font-weight: bold;">reborn</span>, and he chooses 
        the lowly <span style="font-weight: bold;">Grizabella</span> 
        after she sings <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=MWoQW-b6Ph8">
        &#8220;Memory.&#8221;</a> It is adapted from 
        <i style="font-weight: bold;">Old Possum&#8217;s Book of 
        Practical Cats</i> by T.&nbsp;S. Eliot.
    </li>
	<li class="list_item">
        <i class="label">Evita</i> (Andrew Lloyd Webber; Tim Rice; 
        Tim Rice; 1978): <span style="font-weight: bold;">Che</span> 
        (possibly Che Guevara, but it&#8217;s also South American slang 
        for just &#8220;a guy&#8221;) narrates the life story of 
        <span style="font-weight: bold;">Eva &#8220;Evita&#8221; 
        Per&oacute;n</span>, a singer and actress who marries 
        <span style="font-weight: bold;">Juan Per&oacute;n</span>. 
        Juan becomes President of Argentina, and Eva&#8217;s charity 
        work makes her immensely popular among her people 
        (<a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=0d01NpclvlE">
        &#8220;Don&#8217;t Cry for Me Argentina&#8221;</a>) before her 
        <span style="font-weight: bold;">death from cancer</span>. It 
        was made into a 1996 film starring 
        <span style="font-weight: bold;">Madonna</span> and 
        <span style="font-weight: bold;">Antonio Banderas</span>.
    </li>
	<li class="list_item">
        <i class="label">The Mikado</i> (Arthur Sullivan; W.&nbsp;S. 
        Gilbert; 1885): The Mikado (<span style="font-weight: bold;">
        Emperor of Japan</span>) has made <span style="font-weight: bold;">
        flirting</span> a capital crime in <span style="font-weight: bold;">
        Titipu</span>, so the people have appointed an ineffectual 
        executioner named <span style="font-weight: bold;">Ko-Ko</span>. 
        Ko-Ko&#8217;s ward, <span style="font-weight: bold;">Yum-Yum
        </span>, marries the wandering musician 
        <span style="font-weight: bold;">Nanki-Poo</span>, and the two 
        lovers <span style="font-weight: bold;">fake their execution
        </span>. The Mikado visits the town and forgives the lovers of 
        their transgression. It includes the song <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=MhJeeQ38v7k">&#8220;Three 
        Little Maids From School Are We.&#8221;</a>
    </li>
	<li class="list_item">
        <i class="label">The Sound of Music</i> (Richard Rodgers; Oscar 
        Hammerstein&nbsp;II; Howard Lindsey &amp; Russel Crouse; 1959): 
        <span style="font-weight: bold;">Maria</span>, a young woman 
        studying to be a <span style="font-weight: bold;">nun</span> in 
        <span style="font-weight: bold;">Nazi-occupied Austria</span>, 
        becomes governess to the seven children of 
        <span style="font-weight: bold;">Captain von&nbsp;Trapp</span>. 
        She <span style="font-weight: bold;">teaches the children to 
        sing</span> (<a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=33o32C0ogVM">
        &#8220;My Favorite Things,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=jp0opnxQ4rY">
        &#8220;Do-Re-Mi&#8221;</a>), and she and the Captain fall in love 
        and get <span style="font-weight: bold;">married</span>. After 
        Maria and the von&nbsp;Trapps give a <span style="font-weight: bold;">
        concert for the Nazis</span> (<a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=TtEzZEe_5kA">
        &#8220;Edelweiss&#8221;</a>), they escape Austria 
        (<a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=X1GQpoRhmno">
        &#8220;Climb Ev&#8217;ry Mountain&#8221;</a>). It was adapted into 
        an Academy Award-winning 1965 film starring 
        <span style="font-weight: bold;">Julie Andrews</span>.
    </li>
	<li class="list_item">
        <i class="label">Fiddler on the Roof</i> (Jerry Bock; Sheldon 
        Harnick; Joseph Stein; 1964): <span style="font-weight: bold;">
        Tevye</span> is a lowly <span style="font-weight: bold;">Jewish 
        milkman</span> in <span style="font-weight: bold;">tsarist 
        Russia</span> (<a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=RBHZFYpQ6nc">
        &#8220;If I Were a Rich Man&#8221;</a>), and his daughters are 
        anxious to get married (<a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=ZBtMVogatQw">
        &#8220;Matchmaker&#8221;</a>). <span style="font-weight: bold;">
        Tzeitel</span> marries the tailor <span style="font-weight: bold;">
        Motel</span> (<a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.youtube.com/watch?v=nLLEBAQLZ3Q">
        &#8220;Sunrise, Sunset,&#8221;</a> <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=X_B4iljTugo">&#8220;The 
        Bottle Dance&#8221;</a>), <span style="font-weight: bold;">Hodel
        </span> gets engaged to the radical student 
        <span style="font-weight: bold;">Perchik</span>, and 
        <span style="font-weight: bold;">Chava</span> falls in love with a 
        Russian named <span style="font-weight: bold;">Fyedka</span>. The 
        families leave their village, <span style="font-weight: bold;">
        Anatevka</span>, after a <span style="font-weight: bold;">pogrom
        </span>. It is adapted from <i style="font-weight: bold;">Tevye and 
        his Daughters</i> by <span style="font-weight: bold;">Sholem 
        Aleichem</span>.
    </li>
	<li class="list_item">
        <i class="label">Oklahoma!</i> (Richard Rodgers; Oscar 
        Hammerstein&nbsp;II; Oscar Hammerstein&nbsp;II; 1943): On the 
        eve of Oklahoma&#8217;s statehood, cowboy 
        <span style="font-weight: bold;">Curly McLain</span> and sinister 
        farmhand <span style="font-weight: bold;">Judd</span> compete 
        for the love of <span style="font-weight: bold;">Aunt Eller
        </span>&#8217;s niece, <span style="font-weight: bold;">Laurey
        </span>. Judd <span style="font-weight: bold;">falls on his 
        own knife</span> after <span style="font-weight: bold;">
        attacking Curly</span>, and Curly and Laurey get 
        <span style="font-weight: bold;">married</span>. A subplot 
        concerns <span style="font-weight: bold;">Ado Annie</span>, 
        who chooses cowboy <span style="font-weight: bold;">Will Parker
        </span> over the Persian peddler <span style="font-weight: bold;">
        Ali Hakim</span>. Featuring the songs <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=KNEUtN21cuU">&#8220;Oh What 
        a Beautiful Mornin&#8217;&#8221;</a> and <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=ZbrnXl2gO_k">
        &#8220;Oklahoma,&#8221;</a> it is often considered the 
        <span style="font-weight: bold;">first modern book musical</span>.
    </li>
	<li class="list_item">
        <i class="label">Cabaret</i> (Fred Kander; John Ebb; Jon 
        Masteroff; 1966): <i>Cabaret</i> is set in the seedy 
        <span style="font-weight: bold;">Kit-Kat Club</span> in 
        <span style="font-weight: bold;">Berlin</span> during the 
        <span style="font-weight: bold;">Weimer era</span>. The 
        risqu&eacute; <span style="font-weight: bold;">Master of '
        Ceremonies</span> presides over the action 
        (<a style="color: maroon; font-weight: bold;" target="_blank" 
        href="https://www.youtube.com/watch?v=hBlB8RAJEEc">
        &#8220;Wilkommen&#8221;</a>). The British lounge singer 
        <span style="font-weight: bold;">Sally Bowles</span> falls in 
        love with the American writer <span style="font-weight: bold;">
        Cliff Bradshaw</span>, but the two break up as the 
        <span style="font-weight: bold;">Nazis come to power</span>. 
        Adapted into an Academy Award-winning 1972 film starring 
        <span style="font-weight: bold;">Liza Minelli</span> and 
        <span style="font-weight: bold;">Joel Grey</span>, it is based 
        on <span style="font-weight: bold;">Christopher Isherwood
        </span>&#8217;s <i style="font-weight: bold;">Goodbye to 
        Berlin</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Daniel Donohue.</p>
<br />
<br />
<br />
{% endblock %}