{% extends "base.html" %}  {% block title %}Operas{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a> | </li>
    <li style="display:inline">Operas</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/operas.html">
    You Gotta Know These Operas
    </a>
</h1>
<br />
<p class="justify">
    Each operatic title is followed by the name of its composer, its 
    librettist, and the year of its first performance.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Aida</span> (Giuseppe Verdi, Antonio Ghislanzoni, 
        1871): Aida is an <span style="font-weight: bold;">Ethiopian princess
        </span> who is held captive in <span style="font-weight: bold;">
        Egypt</span>.  She falls in love with the Egyptian general 
        <span style="font-weight: bold;">Radam&egrave;s</span> and 
        convinces him to run away with her; unfortunately, he is caught by 
        he high priest <span style="font-weight: bold;">Ramphis</span> and 
        a jealous Egyptian princess, <span style="font-weight: bold;">
        Amneris</span>. Radam&egrave;s is <span style="font-weight: bold;">
        buried alive</span>, but finds that Aida has 
        <span style="font-weight: bold;">snuck into the tomb</span> to join 
        him.
    </li>
	<li class="list_item">
        <span class="label">Carmen</span> (Georges Bizet, Henri Meilhac 
        and Ludovic Hal&eacute;vy, 1875): Carmen is a young 
        <span style="font-weight: bold;">gypsy</span> who works in a 
        <span style="font-weight: bold;">cigarette factory</span> in 
        <span style="font-weight: bold;">Seville</span>.  She is arrested 
        by the corporal <span style="font-weight: bold;">Don Jos&eacute;
        </span> for fighting, but cajoles him into letting her escape. 
        They meet again at an inn where she tempts him into 
        <span style="font-weight: bold;">challenging his captain</span>; 
        that treason forces him to <span style="font-weight: bold;">join 
        a group of smugglers</span>. In the final act, the ragtag former 
        soldier encounters Carmen at a <span style="font-weight: bold;">
        bullfight</span> where her lover <span style="font-weight: bold;">
        Escamillo</span> is competing (the source of the 
        <span style="font-weight: bold;">&#8220;Toreador Song&#8221;</span>) 
        and stabs her.  The libretto was based on a novel by 
        <span style="font-weight: bold;">Prosper Merim&eacute;e</span>.
    </li>
	<li class="list_item">
        <span class="label">The Marriage of Figaro</span> (Wolfgang Amadeus 
        Mozart, Lorenzo Da&nbsp;Ponte, 1786): <span style="font-weight: bold;">
        Figaro</span> and <span style="font-weight: bold;">Susanna</span> 
        are servants of <span style="font-weight: bold;">Count Almaviva
        </span> who plan to marry, but this plan is complicated by the older 
        <span style="font-weight: bold;">Marcellina</span> who wants to wed 
        <span style="font-weight: bold;">Figaro</span>, the Count &mdash; 
        who has made unwanted advances to Susanna &mdash;, and 
        <span style="font-weight: bold;">Don Bartolo</span>, who has a loan 
        that Figaro has sworn he will repay before he marries. The issues 
        are resolved with a series of complicated schemes that involve 
        impersonating other characters, including the page 
        <span style="font-weight: bold;">Cherubino</span>. The opera is 
        based on a comedy by <span style="font-weight: bold;">Pierre 
        de&nbsp;Beaumarchais</span>. Be careful: Many of the same 
        characters also appear in <i style="font-weight: bold;">The Barber 
        of Seville</i>!
    </li>
	<li class="list_item">
        <span class="label">The Barber of Seville</span> (Gioacchino 
        Rossini, Cesare Sterbini, 1816): <span style="font-weight: bold;">
        Count Almaviva</span> loves <span style="font-weight: bold;">
        Rosina</span>, the ward of <span style="font-weight: bold;">
        Dr.&nbsp;Bartolo</span>.  <span style="font-weight: bold;">Figaro
        </span> (who brags about his wit in <span style="font-weight: bold;">
        &#8220;Largo al factotum&#8221;</span>) promises to help him win 
        the girl.  He tries the guise of the poor student 
        <span style="font-weight: bold;">Lindoro</span>, a 
        <span style="font-weight: bold;">drunken soldier</span>, and then 
        a replacement <span style="font-weight: bold;">music teacher</span>, 
        all of which are penetrated by Dr.&nbsp;Bartolo.  Eventually they 
        succeed by climbing in with a ladder and 
        <span style="font-weight: bold;">bribing the notary</span> who was 
        to marry Rosina to Dr.&nbsp;Bartolo himself. This opera is also 
        based on a work of <span style="font-weight: bold;">Pierre 
        de&nbsp;Beaumarchais</span> and is a prequel to 
        <i style="font-weight: bold;">The Marriage of Figaro</i>.
    </li>
	<li class="list_item">
        <span class="label">William Tell</span> (Gioacchino Rossini, 
        &Eacute;tienne de&nbsp;Jouy and Hippolyte Bis, 1829): William Tell 
        is a 14th-century <span style="font-weight: bold;">Swiss patriot
        </span> who wishes to <span style="font-weight: bold;">end 
        Austria&#8217;s domination</span> of his country. In the first 
        act he helps <span style="font-weight: bold;">Leuthold</span>, a 
        fugitive, escape the Austrian governor, 
        <span style="font-weight: bold;">Gessler</span>. In the third 
        act, Gessler has placed his <span style="font-weight: bold;">hat 
        on a pole</span> and ordered the men to bow to it. When Tell 
        refuses, Gessler takes his son, <span style="font-weight: bold;"
        >Jemmy</span>, and forces Tell to <span style="font-weight: bold;">
        shoot an apple off his son&#8217;s head</span>.  Tell 
        <span style="font-weight: bold;">succeeds</span>, but is arrested 
        anyway.  In the fourth act, he <span style="font-weight: bold;">
        escapes</span> from the Austrians and his son 
        <span style="font-weight: bold;">sets their house on fire</span> 
        as a signal for the Swiss to rise in 
        <span style="font-weight: bold;">revolt</span>. The opera was based 
        on a play by <span style="font-weight: bold;">Friedrich 
        von&nbsp;Schiller</span>.
    </li>
	<li class="list_item">
        <span class="label">Don Giovanni</span> (Wolfgang Amadeus Mozart, 
        Lorenzo Da&nbsp;Ponte, 1787): Don Giovanni (the Italian form of 
        <span style="font-weight: bold;">&#8220;Don Juan&#8221;</span>) 
        attempts to seduce <span style="font-weight: bold;">Donna Anna
        </span>, but is discovered by her father, the 
        <span style="font-weight: bold;">Commendatore</span>, whom he 
        <span style="font-weight: bold;">kills in a swordfight</span>. 
        Later in the act, his servant <span style="font-weight: bold;">
        Leporello</span> recounts his master&#8217;s 2,000-odd conquests 
        in the <span style="font-weight: bold;">&#8220;Catalogue Aria.
        &#8221;</span>  Further swordfights and assignations occur prior 
        to the final scene, in which a <span style="font-weight: bold;">
        statue of the Commendatore comes to life</span>, knocks on the 
        door to the room in which Don Giovanni is feasting, and then 
        opens a chasm that <span style="font-weight: bold;">takes him 
        down to hell</span>.
    </li>
	<li class="list_item">
        <span class="label">Salome</span> (Richard Strauss based on the 
        play by Oscar Wilde, 1905): <span style="font-weight: bold;">
        Jokanaan</span> (<span style="font-weight: bold;">John the Baptist
        </span>) is imprisoned in the <span style="font-weight: bold;">
        dungeons</span> of <span style="font-weight: bold;">King Herod
        </span>. Herod&#8217;s 15-year-old step-daughter Salome becomes 
        obsessed with the prisoner&#8217;s religious passion and is 
        incensed when he <span style="font-weight: bold;">ignores her 
        advances</span>.  Later in the evening Herod orders Salome to 
        dance for him (the <span style="font-weight: bold;">&#8220;Dance 
        of the Seven Veils&#8221;</span>), but she refuses until he 
        promises her &#8220;anything she wants.&#8221;  She asks for the 
        <span style="font-weight: bold;">head of Jokanaan</span> and 
        eventually receives it, after which a horrified Herod 
        <span style="font-weight: bold;">orders her to be killed</span>; 
        his soldiers crush her with their shields.
    </li>
	<li class="list_item">
        <span class="label">Boris Godunov</span> (Modest Mussorgsky, 1874): 
        The opera&#8217;s prologue shows Boris Godunov, the 
        <span style="font-weight: bold;">chief adviser of Ivan the 
        Terrible</span>, being pressured to <span style="font-weight: bold;">
        assume the throne</span> after Ivan&#8217;s two children die. 
        In the first act the religious novice 
        <span style="font-weight: bold;">Grigori</span> decides that he 
        will impersonate that younger son, <span style="font-weight: bold;">
        Dmitri</span> (the [first] &#8220;false Dmitri&#8221;), whom, it 
        turns out, Boris had killed.  Grigori raises a general 
        <span style="font-weight: bold;">revolt</span> and Boris&#8217; 
        health falls apart as he is taunted by military defeats and 
        <span style="font-weight: bold;">dreams of the murdered tsarevich
        </span>. The opera ends with Boris <span style="font-weight: bold;">
        dying in front of the assembled boyars</span> (noblemen).
    </li>
	<li class="list_item">
        <span class="label">La boh&egrave;me</span> (Giacomo Puccini, Luigi 
        Illica and Giuseppe Giacosa, 1896): This opera tells the story of 
        four extremely <span style="font-weight: bold;">poor friends
        </span> who live in the <span style="font-weight: bold;">Latin 
        (i.e., Students&#8217;) Quarter</span> of 
        <span style="font-weight: bold;">Paris</span>: 
        <span style="font-weight: bold;">Marcello</span> the artist, 
        <span style="font-weight: bold;">Rodolfo</span> the poet, 
        <span style="font-weight: bold;">Colline</span> the philosopher, 
        and <span style="font-weight: bold;">Schaunard</span> the musician. 
        Rodolfo meets the seamstress <span style="font-weight: bold;">
        Mim&igrave;</span> who lives next door when her single 
        <span style="font-weight: bold;">candle</span> is blown out and 
        needs to be relit.  Marcello is still attached to 
        <span style="font-weight: bold;">Musetta</span>, who had left him 
        for the rich man <span style="font-weight: bold;">Alcindoro</span>. 
        In the final act, Marcello and Rodolfo have separated from their 
        lovers, but cannot stop thinking about them.  Musetta bursts into 
        their garret apartment and tells them that Mimi is dying of 
        <span style="font-weight: bold;">consumption</span> (tuberculosis); 
        when they reach her, she is already dead. <i>La boh&egrave;me</i> 
        was based on a novel by <span style="font-weight: bold;">Henry 
        Murger</span> and, in turn, formed the basis of the hit 1996 
        musical <i style="font-weight: bold;">Rent</i> by Jonathan Larson.
    </li>
	<li class="list_item">
        <span class="label">Madama Butterfly</span> (Giacomo Puccini, 
        Luigi Illica and Giuseppe Giacosa, 1904): The American 
        <span style="font-weight: bold;">naval lieutenant</span> 
        <span style="font-weight: bold;">Benjamin Franklin Pinkerton
        </span> is stationed in <span style="font-weight: bold;">Nagasaki
        </span> where, with the help of the broker 
        <span style="font-weight: bold;">Goro</span>, he weds the young 
        girl <span style="font-weight: bold;">Cio-Cio-San</span> 
        (Madame Butterfly) with a marriage contract with a 
        <span style="font-weight: bold;">cancellation clause</span>. 
        He later returns to America, leaving Cio-Cio-San to raise their 
        son <span style="font-weight: bold;">&#8220;Trouble&#8221;</span> 
        (whom she will rename <span style="font-weight: bold;">
        &#8220;Joy&#8221;</span> upon his return). When Pinkerton and his 
        new American wife <span style="font-weight: bold;">Kate</span> 
        do return, Cio-Cio-San gives them her son and 
        <span style="font-weight: bold;">stabs herself</span> with her 
        father&#8217;s dagger.  The opera is based on a play by 
        <span style="font-weight: bold;">David Belasco</span>.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}