{% extends "base.html" %}  {% block title %}Active Volcanoes{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
        Geography 
        </a> | 
    </li>
    <li style="display:inline"> Active Volcanoes</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/active-volcanoes.html">
    You Gotta Know These Active Volcanoes
    </a>
</h1>
<br />

<p class="justify">
    All of the volcanoes in this article are either 
    <span style="font-weight: bold;">stratovolcanoes</span> or 
    <span style="font-weight: bold;">shield volcanoes</span>. A stratovolcano is 
    a conical volcano that has been gradually built up by layers of rock strata. 
    A shield volcano is built up over time by broad sheets of viscous lava until 
    it resembles a warrior&#8217;s shield. Stratovolcanoes are more common and 
    tend to have more dramatic profiles. 
</p>

<ul class="list2">
    <li class="list_item">
        <span class="label">Mount Erebus</span>, a stratovolcano, is the 
        second-highest volcano in <span style="font-weight: bold;">Antarctica
        </span> (but tallest active one) and the southernmost active volcano 
        in the world. Mount Erebus sits on <span style="font-weight: bold;">
        Ross Island</span>. It took its name from the primordial 
        personification of darkness in Greek mythology. The northeast slope 
        of Mount Erebus is known as <span style="font-weight: bold;">
        &#8220;Fang Ridge,&#8221;</span> and the volcano&#8217;s underground 
        magma produces unique pieces of <span style="font-weight: bold;">
        feldspar</span> known as &#8220;Erebus crystals.&#8221; In 1979 an 
        Air New Zealand jet crashed into the side of Mount Erebus, killing 
        257 people.
        <br />
    </li>
    <li class="list_item">
        <span class="label">Mount Etna</span> is a stratovolcano in eastern 
        <span style="font-weight: bold;">Sicily</span> that plays a 
        significant role in <span style="font-weight: bold;">ancient Greek 
        myths</span>. Zeus trapped the monster 
        <span style="font-weight: bold;">Typhon</span> under Mount Etna, and 
        the volcano is also the site of Hephaestus&#8217;s 
        <span style="font-weight: bold;">forges</span>. Mount Etna overlooks 
        the Sicilian town of <span style="font-weight: bold;">Catania</span>. 
        It most recently erupted in 2015. Earlier eruptions occurred in 1928 
        (destroying the village of Mascali) and in 1669, after which the 
        volcano was thought to have gone dormant. There is a large depression 
        on the side of Mount Etna known as <span style="font-weight: bold;">
        Valle del Bove</span>, or &#8220;Valley of the Ox.&#8221;
    </li>
    <li class="list_item">
        <span class="label">Mount Fuji</span>, a stratovolcano on the island of 
        <span style="font-weight: bold;">Honshu</span>, is 
        <span style="font-weight: bold;">Japan</span>&#8217;s tallest mountain. 
        Mount Fuji is one of the <span style="font-weight: bold;">&#8220;Three 
        Holy Mountains&#8221;</span> of Japan, along with Mount Haku and Mount 
        Tate. Mount Fuji last erupted in December 1707 in the lava-less 
        <span style="font-weight: bold;">Hoei Eruption</span>. Because of its 
        beautiful shape, Mount Fuji is a frequent muse for artists, including 
        the Japanese artist <span style="font-weight: bold;">Katsushika Hokusai
        </span>, whose woodblock series <i style="font-weight: bold;">
        Thirty-Six Views of Mount Fuji</i> includes 
        <i style="font-weight: bold;">The Great Wave off Kanagawa</i>. 
        <span style="font-weight: bold;">Aokigahara</span>, popularly known as 
        the &#8220;Suicide Forest,&#8221; is on the volcano&#8217;s 
        northwestern slope.
    </li>
    <li class="list_item">
        <span class="label">Kilauea</span> is a shield volcano that is the most 
        active of the five volcanoes on the <span style="font-weight: bold;">
        Big Island</span> of <span style="font-weight: bold;">Hawaii</span>. 
        The name &#8220;Kilauea&#8221; means &#8220;spewing&#8221; or &#8220;
        spreading&#8221; in the Hawaiian language. In Hawaiian mythology, the 
        volcano is the home of the fire goddess 
        <span style="font-weight: bold;">Pele</span>. The three primary 
        craters of Kilauea are <span style="font-weight: bold;">
        Halema&#699;uma&#699;u</span> Crater, <span style="font-weight: bold;">
        Pu&#699;u</span> Crater, and <span style="font-weight: bold;">
        Pu&#699;u &#699;O&#699;o</span> Crater. In addition, part of the 
        volcano is covered by the <span style="font-weight: bold;">Ka&#699;u 
        Desert</span>, a plain of dried lava and volcanic ash. The 
        <span style="font-weight: bold;">Hawaiian Volcano Observatory</span> 
        is on the rim of Kilauea&#8217;s <span style="font-weight: bold;">
        caldera</span>.
    </li>
    <li class="list_item">
        <span class="label">Krakatoa</span> is a stratovolcanic island in the 
        <span style="font-weight: bold;">Sunda Strait</span> between the 
        Indonesian islands of <span style="font-weight: bold;">Sumatra</span> 
        and <span style="font-weight: bold;">Java</span>. Prior to its massive 
        <span style="font-weight: bold;">1883 eruption</span>, there were three 
        separate volcanic peaks: <span style="font-weight: bold;">Perboewatan
        </span> (completely destroyed by the eruption), 
        <span style="font-weight: bold;">Rakata</span> (extant), and 
        <span style="font-weight: bold;">Danan</span> (almost completely 
        destroyed). The 1883 eruption of Krakatoa killed more than 35,000 
        people and is believed to have produced the 
        <span style="font-weight: bold;">loudest sound ever</span>. Krakatoa 
        is one of the largest volcanoes in the Pacific 
        <span style="font-weight: bold;">Ring of Fire</span>. The continued 
        activity of Krakatoa formed a new island, 
        <span style="font-weight: bold;">Anak Krakatau</span> (or &#8220;Child 
        of Krakatoa&#8221;) in 1927.
    </li>
    <li class="list_item">
        <span class="label">Mauna Loa</span> is a shield volcano on the 
        <span style="font-weight: bold;">Big Island</span> of 
        <span style="font-weight: bold;">Hawaii</span> that is the most massive 
        above-sea volcano on Earth. It should not be confused with Mauna Kea, a 
        dormant volcano that is the tallest mountain in Hawaii. Both Mauna Kea 
        and Mauna Loa are taller than Mount Everest when measuring from 
        base-to-summit rather than from sea level. Along with Kilauea, Mauna 
        Loa forms the <span style="font-weight: bold;">Hawai&#699;i Volcanoes 
        National Park</span>, which was established in 1916 by Woodrow Wilson. 
        When Mauna Loa erupted in 1942, four months after the attack on Pearl 
        Harbor, the U.S. government gagged the press from reporting on the 
        eruption.
    </li>
    <li class="list_item">
        <span class="label">Mount Pinatubo</span> is a stratovolcano in the 
        <span style="font-weight: bold;">Zambales Mountains</span> on the 
        eastern coast of the island of <span style="font-weight: bold;">Luzon
        </span> in the <span style="font-weight: bold;">Philippines</span>. 
        In the aftermath of its <span style="font-weight: bold;">1991 eruption
        </span>, the global temperature briefly decreased by almost a full 
        degree Fahrenheit due to the ejection of aerosols and 
        <span style="font-weight: bold;">sulfuric acid</span>. That eruption 
        was ten times more powerful than the 1980 eruption of Mount Saint 
        Helens; it killed at least 800 people and forced the evacuation of 
        some 20,000 people. In its aftermath, monsoon rains created 
        <span style="font-weight: bold;">Lake Pinatubo</span> in the resulting 
        crater. In 2010, the indigenous <span style="font-weight: bold;">Aeta 
        people</span> were formally granted domain over the volcano.
    </li>
    <li class="list_item">
        <span class="label">Mount Rainier</span> is a stratovolcano that 
        is the highest peak in the <span style="font-weight: bold;">Cascades
        </span> and in the state of <span style="font-weight: bold;">
        Washington</span>. It is located about 50 miles southeast of Seattle. 
        The three principal peaks of Mount Rainier are 
        <span style="font-weight: bold;">Columbia Crest</span> (the tallest), 
        <span style="font-weight: bold;">Point Success</span>, and 
        <span style="font-weight: bold;">Liberty Cap</span>; the 
        <span style="font-weight: bold;">Little Tahoma Peak</span> is a 
        remnant of an older, much larger Mount Rainier that has since eroded 
        away. Mount Rainier has not erupted since the mid-to-late nineteenth 
        century. The <span style="font-weight: bold;">Nisqually Glacier
        </span>, on Mount Rainier&#8217;s southwestern slope, is used to track 
        climate change. The <span style="font-weight: bold;">Emmons Glacier
        </span> on Mount Rainier is the largest glacier by area in the 
        contiguous U.S., while the <span style="font-weight: bold;">Carbon 
        Glacier</span> is the largest by volume. The entirety of Mount 
        Rainier is in Mount Rainier National Park, the fifth national park 
        established in the U.S.
    </li>
    <li class="list_item">
        <span class="label">Mount Saint Helens</span> is another stratovolcano 
        in the Cascades of Washington state. It is about 100 miles south of 
        Seattle and about 50 miles north of Portland. It last 
        <span style="font-weight: bold;">erupted in May 1980</span>, killing 
        57 people in the most devastating volcanic eruption in U.S. history. 
        Perhaps the most famous casualty of that eruption was an innkeeper 
        named <span style="font-weight: bold;">Harry Truman</span> (no 
        relation to the president of the same name) who refused to evacuate 
        from the mountain. Because of an avalanche of volcanic debris during 
        that eruption, Mount Saint Helens lost about 1300 feet in height; 
        <span style="font-weight: bold;">lahars</span> (mudflows of 
        pyroclastic material) reached all the way to the Columbia 
        River. The volcano is surrounded by <span style="font-weight: bold;">
        Gifford Pinchot National Forest</span>.
    </li>
    <li class="list_item">
        <span class="label">Mount Vesuvius</span> is a stratovolcano on the 
        <span style="font-weight: bold;">Gulf of Naples</span> in 
        <span style="font-weight: bold;">Campania</span> in south-central 
        Italy. Mount Vesuvius, which last erupted in 1944, is the 
        <span style="font-weight: bold;">only active volcano on mainland 
        Europe</span>. The most notable eruption of Mount Vesuvius was in 
        <span style="font-weight: bold;">AD&nbsp;79</span> when it buried the 
        Roman cities of <span style="font-weight: bold;">Pompeii</span>, 
        <span style="font-weight: bold;">Herculaneum</span>, and 
        <span style="font-weight: bold;">Stabiae</span>. The only surviving 
        eyewitness accounts of that eruption are a pair of letters written by 
        <span style="font-weight: bold;">Pliny the Younger</span> to Tacitus. 
        The <span style="font-weight: bold;">1908 Summer Olympics</span> were 
        relocated from Rome to London after a surprise eruption of Mount 
        Vesuvius.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}