{% extends "base.html" %}  {% block title %}African Bodies of Water{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> African Bodies of Water</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" href="https://www.naqt.com/you-gotta-know/active-volcanoes.html">You Gotta Know These African Bodies Water</a></h1>
<br />

<h3 style="font-family: Cambria; font-weight: bold;">Rivers</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Nile River</span> Usually cited as the 
        <span style="font-weight: bold;">longest river in the world</span>, 
        the Nile flows about 4,132 miles in a 
        generally south-to-north direction from its headwaters in 
        <span style="font-weight: bold;">Burundi</span> to 
        <span style="font-weight: bold;">Egypt</span>&#8217;s 
        <span style="font-weight: bold;">Mediterranean Sea</span> coast, where 
        it forms a prototypical <span style="font-weight: bold;">delta</span>. 
        Over 80% of the Nile&#8217;s flow comes from the shorter 
        <span style="font-weight: bold;">Blue Nile</span> headstream, which 
        arises from <span style="font-weight: bold;">Ethiopia</span>&#8217;s 
        <span style="font-weight: bold;">Lake Tana</span> and meets the longer 
        <span style="font-weight: bold;">White Nile</span> &mdash; whose 
        headwaters include <span style="font-weight: bold;">Lake Victoria
        </span> &mdash; at <span style="font-weight: bold;">Khartoum</span>. 
        At the first of the Nile&#8217;s six cataracts is the 
        <span style="font-weight: bold;">Aswan High Dam</span>, which forms 
        <span style="font-weight: bold;">Lake Nasser</span> and greatly 
        reduces the annual floods.
    </li>
    <li class="list_item">
        <span class="label">Congo River</span> Africa&#8217;s second-longest 
        river, it flows in a counterclockwise arc some 2,900 miles to the 
        Atlantic Ocean. The Upper Congo&#8217;s principal sources are the 
        <span style="font-weight: bold;">Lualaba</span>, which rises in the 
        <span style="font-weight: bold;">Democratic Republic of the Congo
        </span>&#8217;s <span style="font-weight: bold;">Katanga</span> 
        province, and <span style="font-weight: bold;">Zambia</span>&#8217;s 
        <span style="font-weight: bold;">Chambeshi River</span>. 
        <span style="font-weight: bold;">Boyoma Falls</span> (formerly 
        <span style="font-weight: bold;">Stanley Falls</span>), a section of 
        seven cataracts near <span style="font-weight: bold;">Kisangani
        </span>, marks the beginning of the Congo River proper. Forming the 
        <span style="font-weight: bold;">Malebo Pool</span> near the world 
        capitals of <span style="font-weight: bold;">Kinshasa</span> and 
        <span style="font-weight: bold;">Brazzaville</span>, the Lower Congo 
        flows past <span style="font-weight: bold;">Angola</span>&#8217;s 
        <span style="font-weight: bold;">Cabinda</span> exclave as it enters 
        the ocean. <span style="font-weight: bold;">Joseph Conrad
        </span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="https://www.gutenberg.org/files/219/219-h/219-h.htm">
        <i style="font-weight: bold;">Heart of Darkness</i></a> depicts the 
        often cruel conditions the Congo basin endured as a 
        <span style="font-weight: bold;">Belgian</span> colony.
    </li>
    <li class="list_item">
        <span class="label">Zambezi River</span> Weaving across southern 
        Africa, the Zambezi rises in eastern <span style="font-weight: bold;">
        Angola</span>, passes through <span style="font-weight: bold;">Zambia
        </span>, flows along the borders of <span style="font-weight: bold;">
        Namibia</span>, <span style="font-weight: bold;">Botswana</span>, and 
        <span style="font-weight: bold;">Zimbabwe</span>, crosses through 
        <span style="font-weight: bold;">Mozambique</span>, and enters the 
        <span style="font-weight: bold;">Indian Ocean</span>&#8217;s 
        <span style="font-weight: bold;">Mozambique Channel</span> near 
        <span style="font-weight: bold;">Chinde</span>. Namibia&#8217;s 
        <span style="font-weight: bold;">Caprivi Strip
        </span> was created to allow access to the Zambezi. The 
        <span style="font-weight: bold;">Cabora Bassa</span> and 
        <span style="font-weight: bold;">Kariba Dams</span> form large lakes 
        of the same name.  The most spectacular feature of the Zambezi is 
        <span style="font-weight: bold;">Victoria Falls</span>, or 
        Mosi-oa-Tunya (&#8220;the smoke that thunders&#8221;), which is over 
        a mile wide and is the largest waterfall by flow rate in Africa.
    </li>
    <li class="list_item">
        <span class="label">Niger River</span> Africa&#8217;s third-longest, 
        it flows in a great clockwise arc through 
        <span style="font-weight: bold;">Guinea</span>, 
        <span style="font-weight: bold;">Mali</span>, 
        <span style="font-weight: bold;">Niger</span>, and 
        <span style="font-weight: bold;">Nigeria</span> before entering the 
        <span style="font-weight: bold;">Gulf of Guinea</span>. The medieval 
        <span style="font-weight: bold;">Mali</span> and 
        <span style="font-weight: bold;">Songhai Empires</span> were centered 
        on the Niger, whose course was mapped by the Scottish explorer 
        <span style="font-weight: bold;">Mungo Park</span> in the 1790s. In 
        Nigeria, it receives the <span style="font-weight: bold;">Benue River
        </span>, its main tributary.  The massive Niger Delta, known for its 
        fisheries, wildlife, and petroleum, is an area of increasing social 
        unrest.
    </li>
    <li class="list_item">
        <span class="label">Limpopo River</span> Rising as the 
        <span style="font-weight: bold;">Crocodile</span> (or Krokodil) River 
        in <span style="font-weight: bold;">South Africa</span>&#8217;s 
        <span style="font-weight: bold;">Witwatersrand</span> region, it forms 
        the <span style="font-weight: bold;">Transvaal</span>&#8217;s border 
        with <span style="font-weight: bold;">Botswana</span> and 
        <span style="font-weight: bold;">Zimbabwe</span>, then crosses through 
        <span style="font-weight: bold;">Mozambique</span>. 
        <span style="font-weight: bold;">Deforestation</span> in Mozambique 
        contributed to massive <span style="font-weight: bold;">flooding</span> 
        of the Limpopo in 2000.  Perhaps the most famous description of the 
        Limpopo comes from <span style="font-weight: bold;">Rudyard Kipling
        </span>, who in <span style="font-weight: bold;">&#8220;The 
        Elephant&#8217;s Child&#8221;</span> referred to it as &#8220;the great 
        grey-green, greasy Limpopo River, all set about with 
        fever-trees.&#8221;
    </li>
    <li class="list_item">
        <span class="label">Okavango River</span> The Okavango flows for 
        about 1,000 miles from central <span style="font-weight: bold;">
        Angola</span>, through <span style="font-weight: bold;">Namibia
        </span>&#8217;s <span style="font-weight: bold;">Caprivi Strip
        </span>, and into the <span style="font-weight: bold;">Kalahari 
        Desert</span> of <span style="font-weight: bold;">Botswana</span>. 
        There, rather than flowing into the sea, it terminates in a massive 
        inland swamp known as the <span style="font-weight: bold;">Okavango 
        Delta</span>, an area that &mdash; especially during the wet season 
        &mdash; teems with wildlife in an otherwise inhospitable region.
    </li>
</ul>

<h3 style="font-family: Cambria; font-weight: bold;">Lakes</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Lake Victoria</span> Africa&#8217;s largest and 
        the world&#8217;s second-largest freshwater lake by area, Lake 
        Victoria lies along the <span style="font-weight: bold;">Equator
        </span> and is shared among <span style="font-weight: bold;">Uganda
        </span>, <span style="font-weight: bold;">Kenya</span>, and 
        <span style="font-weight: bold;">Tanzania</span>. Located on a plateau 
        between two <span style="font-weight: bold;">rift valleys</span>, its 
        lone outlet is the <span style="font-weight: bold;">Victoria Nile
        </span>, a precursor of the <span style="font-weight: bold;">White 
        Nile</span>. Named by the British explorer 
        <span style="font-weight: bold;">John Hanning Speke</span> after 
        <span style="font-weight: bold;">Queen Victoria</span>, the 
        introduction of the predatory <span style="font-weight: bold;">Nile 
        perch</span> in the 1950s has caused environmental degradation, 
        sending many native <span style="font-weight: bold;">cichlid</span> 
        species into extinction.
    </li>
    <li class="list_item">
        <span class="label">Lake Tanganyika</span> Africa&#8217;s second-
        largest lake by area, it is 
        also the second-deepest in the world, surpassed only by 
        <span style="font-weight: bold;">Lake Baikal</span>.  Due its extreme 
        depth (over 4,700 feet), Lake Tanganyika contains seven times as much 
        water as Lake Victoria.  A source of the 
        <span style="font-weight: bold;">Lualaba River</span>, it is shared 
        by <span style="font-weight: bold;">Tanzania</span>, the 
        <span style="font-weight: bold;">Democratic Republic of the Congo
        </span>, <span style="font-weight: bold;">Burundi</span>, and 
        <span style="font-weight: bold;">Zambia</span>. On its Tanzanian shore 
        is the town of <span style="font-weight: bold;">Ujiji</span>, at which 
        <span style="font-weight: bold;">Henry Morton Stanley</span> 
        &#8220;found&#8221; <span style="font-weight: bold;">Dr. David 
        Livingstone</span> in 1871.
    </li>
    <li class="list_item">
        <span class="label">Lake Malawi</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Lake Nyasa</span>) Africa&#8217;s third-largest 
        lake by area and the southernmost of the 
        <span style="font-weight: bold;">Great Rift Valley
        </span> lakes, it is wedged between the nations of 
        <span style="font-weight: bold;">Malawi</span>, 
        <span style="font-weight: bold;">Tanzania</span>, and 
        <span style="font-weight: bold;">Mozambique</span>. Fed by the 
        <span style="font-weight: bold;">Ruhuhu River</span>, its lone 
        outlet is the <span style="font-weight: bold;">Shire River</span>, 
        a tributary of the <span style="font-weight: bold;">Zambezi</span>. 
        Lake Malawi contains hundreds of species of endemic fish, especially 
        <span style="font-weight: bold;">cichlids</span>.
    </li>
    <li class="list_item">
        <span class="label">Lake Volta</span> The largest man-made lake 
        (by area) in the world, Lake Volta was created by the construction of 
        <span style="font-weight: bold;">Ghana</span>&#8217;s 
        <span style="font-weight: bold;">Akosombo Dam</span> across the Volta 
        River in the 1960s. The lake covers the area where the 
        <span style="font-weight: bold;">Black Volta</span> and 
        <span style="font-weight: bold;">White Volta</span> rivers formerly 
        converged. The Akosombo Dam can provide over a gigawatt of power, 
        enough to supply nearby aluminum smelters utilizing the energy-
        intensive <span style="font-weight: bold;">Hall-H&eacute;roult process
        </span> and the needs of the rest of the country.
    </li>
    <li class="list_item">
        <span class="label">Lake Chad</span> Formerly Africa&#8217;s 
        fourth-largest lake, its surface area has been reduced by over 
        90% since the 1960s due to droughts and 
        diversion of water from such sources as the 
        <span style="font-weight: bold;">Chari River</span>. The lake is at 
        the intersection of <span style="font-weight: bold;">Chad</span>, 
        <span style="font-weight: bold;">Cameroon</span>, 
        <span style="font-weight: bold;">Niger</span>, and 
        <span style="font-weight: bold;">Nigeria</span>, but most of the 
        remaining water is in Chad and Cameroon. Lake Chad is very 
        shallow and has no outlet, so seasonal rainfall causes large 
        fluctuations in its area.
    </li>
</ul>

<h3 style="font-family: Cambria; font-weight: bold;">Honorable Mentions</h3>
<p class="justify">
    The <span style="font-weight: bold;">Orange</span>, 
    <span style="font-weight: bold;">Senegal</span>, and 
    <span style="font-weight: bold;">Gambia Rivers</span>, 
    <span style="font-weight: bold;">Lakes Albert</span> and 
    <span style="font-weight: bold;">Turkana</span> (formerly Lake Rudolf), 
    and the <span style="font-weight: bold;">Suez Canal</span> are within the 
    continent.
</p>
	
<p class="justify">
    The <span style="font-weight: bold;">Red Sea</span>, the 
    <span style="font-weight: bold;">Gulf of Aqaba</span>, the 
    <span style="font-weight: bold;">Bights of Biafra</span> and 
    <span style="font-weight: bold;">Benin</span>, the 
    <span style="font-weight: bold;">Strait of Gibraltar</span>, and the 
    <span style="font-weight: bold;">Gulf of Sidr </span> are off the African 
    coast.
</p>

<br />
<p class="justify">This article was contributed by former NAQT writer Raj Dhuwalia.</p>
<br />
<br />
<br />
{% endblock %}