{% extends "base.html" %}  {% block title %}Asian Rivers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> Asian Rivers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" href="https://www.naqt.com/you-gotta-know/asian-rivers.html">You Gotta Know These Asian Rivers</a></h1>
<br />

<ul class="list2">
    <li class="list_item">
        The <span class="label">Yangtze</span> (or Chang Jiang or Ch&#8217;ang 
        Chiang) is the longest river in China and Asia, and the 
        <span style="font-weight: bold;">third longest in the world</span>. 
        It rises in the <span style="font-weight: bold;">Kunlun Mountains
        </span>, flows across the <span style="font-weight: bold;">Tibetan 
        Plateau</span>, passes the cities of <span style="font-weight: bold;">
        Chongqing</span>, <span style="font-weight: bold;">Wuhan</span>, 
        <span style="font-weight: bold;">Nanjing</span>, and 
        <span style="font-weight: bold;">Shanghai</span>, and empties into the 
        <span style="font-weight: bold;">South China Sea</span>. Its basin is 
        China&#8217;s granary and is home to nearly a third of Chinese citizens. 
        The river is dammed by the <span style="font-weight: bold;">Three 
        Gorges Dam</span>, the world&#8217;s largest, which reduced 
        <span style="font-weight: bold;">flooding</span> but displaced 1.5 
        million people and buried over 1,300 known 
        <span style="font-weight: bold;">archaeological sites</span>.
    </li>
    <li class="list_item">
        The <span class="label">Brahmaputra </span> (or Tsangpo or Jamuna) runs 
        1,800 miles from its source in the <span style="font-weight: bold;">
        Tibetan Himalayas</span>; it starts eastward across the plateau, then 
        turns south into the <span style="font-weight: bold;">Indian</span> 
        state of <span style="font-weight: bold;">Assam</span>, and then enters 
        <span style="font-weight: bold;">Bangladesh</span>, where it merges 
        with the <span style="font-weight: bold;">Ganges</span> to form the 
        world&#8217;s largest <span style="font-weight: bold;">delta</span>. 
        While serving as a historical route to Tibet, the river is also prone 
        to disastrous <span style="font-weight: bold;">flooding</span>.
    </li>
    <li class="list_item">
        The <span class="label">Yellow River</span> (or Huang He or 
        Huang Ho) is, at 3,400 miles, China&#8217;s second-longest; it is also 
        the most important to the northern half of the country.  It rises in 
        <span style="font-weight: bold;">Qinghai province</span> and flows into 
        the <span style="font-weight: bold;">Bohai Gulf</span> of the 
        <span style="font-weight: bold;">Yellow Sea</span>. The river&#8217;s 
        name comes from the extraordinary amount of 
        <span style="font-weight: bold;">loess silt</span> that it carries, 
        an average of 57&nbsp;pounds for every cubic yard of water. Among its 
        notable features is the <span style="font-weight: bold;">Grand Canal
        </span>, rebuilt during the <span style="font-weight: bold;">Ming 
        Dynasty</span>, that links it to the <span style="font-weight: bold;">
        Yangtze</span>.
    </li>
    <li class="list_item">
        The <span class="label">Ganges</span> (or Ganga) is the 
        <span style="font-weight: bold;">holiest</span> river of 
        <span style="font-weight: bold;">Hinduism</span>. It rises in the 
        Himalayas and flows a comparatively short 1,560 miles to the 
        world&#8217;s largest <span style="font-weight: bold;">delta</span>, 
        on the <span style="font-weight: bold;">Bay of Bengal</span>. Among 
        that delta&#8217;s distributaries are the 
        <span style="font-weight: bold;">Hooghly</span> (on whose banks 
        <span style="font-weight: bold;">Kolkata</span> &mdash; formerly 
        <span style="font-weight: bold;">Calcutta</span> &mdash; may be found) 
        and the <span style="font-weight: bold;">Padma</span> (which enters 
        <span style="font-weight: bold;">Bangladesh</span>). Approximately 
        one in every twelve human beings lives in the 
        <span style="font-weight: bold;">Ganges Basin</span>, a 
        <span style="font-weight: bold;">population density</span> 
        that is rapidly <span style="font-weight: bold;">polluting</span> 
        the river; a significant source of that pollution is 
        <span style="font-weight: bold;">cremated remains</span>.
    </li>
    <li class="list_item">
        The <span class="label">Mekong</span> is the chief river of Southeast Asia. 
        It originates in eastern <span style="font-weight: bold;">Tibet</span>, 
        forms much of the <span style="font-weight: bold;">Laos</span>&ndash;
        <span style="font-weight: bold;">Thailand</span> border, flows south 
        through <span style="font-weight: bold;">Cambodia</span>, and enters 
        the <span style="font-weight: bold;">South China Sea</span> in southern 
        <span style="font-weight: bold;">Vietnam</span> just south of 
        <span style="font-weight: bold;">Ho Chi Minh City</span>.  The capital 
        cities <span style="font-weight: bold;">Vientiane</span> and 
        <span style="font-weight: bold;">Phnom Penh</span> are on the Mekong. 
        The building of <span style="font-weight: bold;">dams</span> and 
        clearing of <span style="font-weight: bold;">rapids</span> are a 
        source of diplomatic conflict among <span style="font-weight: bold;">
        China</span>, Laos, and Cambodia.
    </li>
    <li class="list_item">
        The <span class="label">Tigris</span> is the eastern of the two rivers that 
        define the historic region <span style="font-weight: bold;">Mesopotamia
        </span> (meaning &#8220;the Land Between Two Rivers&#8221;), which was 
        home to the ancient civilizations <span style="font-weight: bold;">Sumer
        </span> and <span style="font-weight: bold;">Akkad</span>. It rises in 
        <span style="font-weight: bold;">Turkey</span>, then flows southeast by 
        <span style="font-weight: bold;">Mosul</span>, 
        <span style="font-weight: bold;">Tikrit</span>, and 
        <span style="font-weight: bold;">Baghdad</span> before joining the 
        <span style="font-weight: bold;">Euphrates</span> to make the 
        <span style="font-weight: bold;">Shatt-al-Arab</span>, 
        which empties into the <span style="font-weight: bold;">Persian Gulf
        </span>.
    </li>
    <li class="list_item">
        The <span class="label">Euphrates</span> defines the western 
        border of <span style="font-weight: bold;">Mesopotamia</span>; it also 
        rises in the <span style="font-weight: bold;">Zagros Mountains</span> 
        of <span style="font-weight: bold;">Turkey</span> and its shores are 
        home to <span style="font-weight: bold;">Fallujah</span> and 
        <span style="font-weight: bold;">Babylon</span>. It is the longer of 
        the two rivers, with a course of 1,740 miles (compared to the 
        <span style="font-weight: bold;">Tigris</span>&#8217; 1,180). Both the 
        Tigris and the Euphrates have changed courses several times, leaving 
        ruins in the desert where cities have been abandoned.
    </li>
    <li class="list_item">
        The <span class="label">Irrawaddy</span> (or Ayeyarwaddy) is the chief river 
        of <span style="font-weight: bold;">Myanmar</span> (also known as 
        <span style="font-weight: bold;">Burma</span>).  It flows 1,350 miles 
        past <span style="font-weight: bold;">Yangon</span> (formerly 
        <span style="font-weight: bold;">Rangoon</span>) and 
        <span style="font-weight: bold;">Mandalay</span> to the 
        <span style="font-weight: bold;">Gulf of Martaban</span>, an arm of the 
        <span style="font-weight: bold;">Bay of Bengal</span>. Its 
        <span style="font-weight: bold;">delta</span> is one of the world&#8217;s 
        most important <span style="font-weight: bold;">rice</span>-growing 
        regions, and its name is thought to come from the 
        <span style="font-weight: bold;">Sanskrit</span> word for 
        &#8220;elephant.&#8221;
    </li>
    <li class="list_item">
        The <span class="label">Indus</span> is the chief river of 
        <span style="font-weight: bold;">Pakistan</span> and the source of the 
        name of <span style="font-weight: bold;">India</span>. It rises in 
        <span style="font-weight: bold;">Tibet</span> and flows 1,800 miles to 
        a <span style="font-weight: bold;">delta</span> on the Arabian Sea 
        southeast of <span style="font-weight: bold;">Karachi</span>. The five 
        major tributaries of the Indus &mdash; the 
        <span style="font-weight: bold;">Jhelum</span>, 
        <span style="font-weight: bold;">Chenab</span>, 
        <span style="font-weight: bold;">Ravi</span>, 
        <span style="font-weight: bold;">Beas</span>, and 
        <span style="font-weight: bold;">Sutlej Rivers</span> &mdash; are 
        the source of the name of the <span style="font-weight: bold;">Punjab
        </span> region, which is Persian for &#8220;land of the five 
        rivers.&#8221;  The Indus is the cradle of the 
        <span style="font-weight: bold;">Indus Valley Civilization</span>, one 
        of the world&#8217;s earliest urban areas, whose main cities were 
        <span style="font-weight: bold;">Mohenjo-Daro</span> and 
        <span style="font-weight: bold;">Harappa</span>.
    </li>
    <li class="list_item">
        The <span class="label">Jordan River</span> rises in 
        <span style="font-weight: bold;">Syria</span> from springs near 
        <span style="font-weight: bold;">Mount Hermon</span>. It flows south 
        to <span style="font-weight: bold;">Lake Merom</span>, through the 
        <span style="font-weight: bold;">Sea of Galilee</span>, and into the 
        <span style="font-weight: bold;">Dead Sea</span>, which is 1,300 feet 
        below sea level. The river forms the nation of Jordan&#8217;s boundary 
        with the <span style="font-weight: bold;">West Bank</span> and northern 
        <span style="font-weight: bold;">Israel</span>.  In the 
        <span style="font-weight: bold;">New Testament</span>, the river was 
        the site of the <span style="font-weight: bold;">baptism</span> of 
        <span style="font-weight: bold;">Jesus</span> by 
        <span style="font-weight: bold;">John the Baptist</span>. In modern 
        times, about 80% of its water is diverted for human use, a figure that 
        has led to the shrinking of the Dead Sea and serious contention among 
        bordering nations.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Raj Dhuwalia.</p>
<br />
<br />
<br />
{% endblock %}