{% extends "base.html" %}  {% block title %}Deserts{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> Deserts</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/deserts.html">You Gotta Know These Deserts
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Antarctica</span> (5.4&nbsp;million&nbsp;mi<sup>2
        </sup>) Because it is covered with (solid) water, it is somewhat 
        surprising that Antarctica is considered a desert, but it is 
        classified as such due to its <span style="font-weight: bold;">lack 
        of precipitation</span>. Players should be familiar with its 
        <span style="font-weight: bold;">tallest mountain</span>, 
        <span style="font-weight: bold;">Vinson Massif</span> 
        in the Ellsworth Mountains; its active 
        <span style="font-weight: bold;">
        volcano</span> <span style="font-weight: bold;">Mount Erebus
        </span>; the surrounding <span style="font-weight: bold;">Ross
        </span> and <span style="font-weight: bold;">Weddell Seas</span>; 
        and the <span style="font-weight: bold;">Ross Ice Shelf</span>. 
        The Norwegian explorer <span style="font-weight: bold;">Roald 
        Amundsen</span> was the first to reach the 
        <span style="font-weight: bold;">South Pole</span> 
        (1911); a month later, <span style="font-weight: bold;">Robert Scott
        </span> reached it, but Scott died on the return trip. 
        <span style="font-weight: bold;">Ernest Shackleton</span> had to 
        abandon his ship, the <i style="font-weight: bold;">Endurance</i>, 
        during an attempt to cross Antarctica on foot.
    </li>
    <li class="list_item">
        <span class="label">
        Sahara Desert</span> (<span style="font-weight: bold;">Northern 
        Africa</span>; 3.5&nbsp;million&nbsp;mi<sup>2</sup>) The Sahara is the 
        world&#8217;s second largest desert, but its 
        <span style="font-weight: bold;">largest hot desert</span>. The 
        <span style="font-weight: bold;">Atlas Mountains</span> bound the 
        western Sahara on the north, and the 
        <span style="font-weight: bold;">Sahel
        </span> &mdash; a <span style="font-weight: bold;">savannah</span>
        -like strip &mdash; bounds it on the south. It is dominated by rocky 
        regions (<span style="font-weight: bold;">hamada</span>), sand seas (
        <span style="font-weight: bold;">ergs</span>), and salt flats (
        <span style="font-weight: bold;">shatt</span>) and dry river valleys (
        <span style="font-weight: bold;">wadi</span>) that are subject to 
        <span style="font-weight: bold;">flash floods</span>. The 
        <span style="font-weight: bold;">Berber</span> and 
        <span style="font-weight: bold;">Tuareg</span> peoples are native to 
        the Sahara.
    </li>
    <li class="list_item">
        <span class="label">Atacama Desert</span> (
        <span style="font-weight: bold;">Chile</span>; 
        70,000&nbsp;mi<sup>2</sup>) The Atacama&#8217;s chief claim to fame is 
        the <span style="font-weight: bold;">rain shadow of the Andes</span>, 
        which makes it the <span style="font-weight: bold;">driest hot desert 
        in the world</span>.  The desert was the primary bone of contention in 
        the <span style="font-weight: bold;">War of the Pacific</span> 
        (1879&ndash;1883; Chile defeated Peru and Bolivia) that sought to 
        control its <span style="font-weight: bold;">nitrate</span> resources, 
        which were necessary for the production of explosives.
    </li>
    <li class="list_item">
        <span class="label">Kalahari Desert</span> (
        <span style="font-weight: bold;">Botswana</span>, 
        <span style="font-weight: bold;">Namibia</span>, 
        <span style="font-weight: bold;">South Africa</span>; 360,000&nbsp;mi
        <sup>2</sup>) The Kalahari is a large region, not all of which is arid 
        enough to qualify as a desert.  It is known for its 
        <span style="font-weight: bold;">red sand</span>, large 
        <span style="font-weight: bold;">game reserves</span> (
        <span style="font-weight: bold;">meerkats</span>, 
        <span style="font-weight: bold;">gemsbok</span>, 
        <span style="font-weight: bold;">springbok</span>, 
        <span style="font-weight: bold;">steenbok</span>), and 
        <span style="font-weight: bold;">mineral deposits</span> (notably 
        <span style="font-weight: bold;">uranium</span>).  Its 
        <span style="font-weight: bold;">San Bushmen</span> speak a 
        <span style="font-weight: bold;">click language</span>.
    </li>
    <li class="list_item">
        <span class="label">Mojave <span style="font-weight: bold; 
        font-size: 85%; color: rgb(78, 78, 78);">[moh-HAH-vay]</span> 
        Desert</span> (mostly <span style="font-weight: bold;">California
        </span>, and some of <span style="font-weight: bold;">Arizona</span>, 
        <span style="font-weight: bold;">Utah</span>, and ^
        <span style="font-weight: bold;">Nevada</span>; 25,000&nbsp;mi<sup>2
        </sup>) The Mojave is bounded by the <span style="font-weight: bold;">
        San Gabriel</span> and <span style="font-weight: bold;">San Bernardino 
        mountain ranges</span> along the <span style="font-weight: bold;">San 
        Andreas</span> and <span style="font-weight: bold;">Garlock Faults
        </span>. It is between the <span style="font-weight: bold;">Great 
        Basin</span> and the <span style="font-weight: bold;">Sonoran Desert
        </span>, and it contains the <span style="font-weight: bold;">
        lowest and driest point</span> of North America, 
        <span style="font-weight: bold;">Death Valley
        </span>.  It is most strongly associated with the 
        <span style="font-weight: bold;">Joshua tree</span> (
        <i>Yucca brevifolia</i>).
    </li>
    <li class="list_item">
        <span class="label">Gobi Desert</span> (
        <span style="font-weight: bold;">China</span> and 
        <span style="font-weight: bold;">Mongolia</span>; 500,000&nbsp;mi<sup>2
        </sup>) The Gobi, Asia&#8217;s second largest desert (after the 
        Arabian Desert), is bounded on the north by the 
        <span style="font-weight: bold;">
        Altai Mountains</span>.  It is known for its role in the 
        <span style="font-weight: bold;">Silk Road</span> trading route and 
        the <span style="font-weight: bold;">Nemegt Basin</span>, where 
        <span style="font-weight: bold;">fossilized dinosaur eggs</span> and 
        human artifacts have been found.
    </li>
    <li class="list_item">
        <span class="label">Rub&#8217; al-Khali</span> (
        <span style="font-weight: bold;">Arabian 
        Peninsula</span>; 250,000&nbsp;mi<sup>2</sup>) Its name means 
        <span style="font-weight: bold;">&#8220;Empty Quarter&#8221;
        </span> in English, and it is sometimes considered the most 
        inhospitable place on earth. It is known for the 
        <span style="font-weight: bold;">world&#8217;s 
        largest oil field</span>, the <span style="font-weight: bold;">Ghawar
        </span>, and for once being part of the 
        <span style="font-weight: bold;">frankincense trade</span>.
    </li>
    <li class="list_item">
        <span class="label">Namib Desert</span> (
        <span style="font-weight: bold;">Namibia</span> and 
        <span style="font-weight: bold;">Angola</span>; 30,000&nbsp;mi<sup>2
        </sup>) The Namib, a <span style="font-weight: bold;">coastal desert
        </span>, is known for its bizarre <span style="font-weight: bold;">
        Welwitschia</span> and medicinal <span style="font-weight: bold;">
        Hoodia</span> plants. It is thought to be the oldest desert in the 
        world.
    </li>
    <li class="list_item">
        <span class="label">Painted Desert</span> (Northern 
        <span style="font-weight: bold;">Arizona
        </span>; 7,500&nbsp;mi<sup>2</sup>) The Painted Desert, which is shared 
        by <span style="font-weight: bold;">Grand Canyon</span> and 
        <span style="font-weight: bold;">Petrified Forest National Parks
        </span>, is known for its <span style="font-weight: bold;">colorful, 
        banded rock formations</span>.
    </li>
    <li class="list_item">
        <span class="label">Negev Desert</span> (
            <span style="font-weight: bold;">Israel</span>; 
        4,700&nbsp;mi<sup>2</sup>) The triangular Negev covers the southern 
        half of <span style="font-weight: bold;">Israel</span>.
    </li>
    <li class="list_item">
        <span class="label">Taklamakan Desert</span> (
            <span style="font-weight: bold;">China</span>; 
        105,000&nbsp;mi<sup>2</sup>) The Taklamakan is an extremely 
        <span style="font-weight: bold;">cold</span>, 
        <span style="font-weight: bold;">sandy</span> desert known for 
        splitting the <span style="font-weight: bold;">Silk Road</span> 
        into branches running north and south of it. It is bounded by the 
        <span style="font-weight: bold;">Kunlun</span>, 
        <span style="font-weight: bold;">Pamir</span>, and 
        <span style="font-weight: bold;">Tian Shan</span> mountain ranges.
    </li>
    <li class="list_item">
        <span class="label">Great Sandy Desert</span> (
        <span style="font-weight: bold;">Western 
        Australia</span>; 140,000&nbsp;mi<sup>2</sup>) Part of the 
        <span style="font-weight: bold;">Western Desert</span>, and the ninth 
        largest in the world.
    </li>
</ul>

<p class="justify">
    The above list is based on the frequency with which deserts have appeared 
    in NAQT&#8217;s packet sets, but half of the world&#8217;s ten largest 
    deserts don&#8217;t make that list: the <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Arabian Desert</span> (#3, which 
    includes the <span style="font-weight: bold;">Rub&#8217; al-Khali
    </span>), the <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Patagonian Desert</span> (#5), the 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Great Victoria Desert</span> (#6), the <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Great Basin</span> (#7), and the 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Chihuahuan</span> (#8).
</p>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}