{% extends "base.html" %}  {% block title %}Mountains{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> Mountains</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/mountains.html">
    You Gotta Know These Mountains
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Mount Everest</span> (China and Nepal): The border 
        between Nepal and China straddles the summit of the 
        <span style="font-weight: bold;">
        Himalayan</span> peak Mount Everest, which, at a height of over 
        <span style="font-weight: bold;">29,000 feet</span>, is the 
        <span style="font-weight: bold;">tallest mountain in the world</span>. 
        The <span style="font-weight: bold;">Khumbu Icefall</span> and the 
        cliff-like <span style="font-weight: bold;">Three Steps</span> are 
        hazards faced by potential climbers of Everest. It was first summited 
        by <span style="font-weight: bold;">Sir Edmund Hillary</span> and 
        <span style="font-weight: bold;">Tenzing Norgay</span> in 1953. Local 
        <span style="font-weight: bold;">Sherpas</span> act as guides for 
        mountaineers in the area, though they walked out of the job over 
        dangerous working conditions in 2014 after 16 of them were killed in 
        an avalanche.
    </li>
    <li class="list_item">
        <span class="label">K2</span> (Pakistan and China): 
        <span style="font-weight: bold;">Qogir
        </span>, <span style="font-weight: bold;">Ketu</span>, and 
        <span style="font-weight: bold;">Mount Godwin-Austen</span> are other 
        names for K2, whose most common names come from the fact that it is 
        the <span style="font-weight: bold;">second-tallest mountain in the 
        world</span>. The &#8220;K&#8221; in K2 stands for 
        <span style="font-weight: bold;">Karakoram</span>, the mountain range 
        in Pakistan and China in which the peak is found. The 
        <span style="font-weight: bold;">House&#8217;s Chimney</span> and the 
        <span style="font-weight: bold;">Black Pyramid </span>are features of 
        K2, which also possesses a different second-place record, behind the 
        Annapurna Massif: it boasts the <span style="font-weight: bold;">
        second-highest fatality rate</span> among attempted climbers of any 
        mountains above 8,000&nbsp;meters.
    </li>
    <li class="list_item">
        <span class="label">Denali</span> (United States): Formerly and 
        often called <span style="font-weight: bold;">Mount McKinley</span>, 
        Denali is the <span style="font-weight: bold;">highest mountain in 
        North America</span>. It is in south-central 
        <span style="font-weight: bold;">Alaska</span>, in 
        Denali National Park. The <span style="font-weight: bold;">
        West Buttress route</span> is considered the best path to ascend 
        Denali. <span style="font-weight: bold;">Frederick Cook</span>, 
        a man notorious for having faked the discovery of the North Pole, 
        is now believed to have also <span style="font-weight: bold;">
        faked his ascent</span> of the mountain in 1906 as well, leaving a 
        climbing party seven years later with the honor.
    </li>
    <li class="list_item">
        <span class="label">Mount Mitchell</span> (United States): The 
        <span style="font-weight: bold;">Black Mountain</span> subrange of the 
        <span style="font-weight: bold;">Appalachians</span> is the 
        location of Mount Mitchell, the <span style="font-weight: bold;">
        tallest peak in the United States east of the Mississippi</span>. 
        This mountain, in North Carolina, was the subject of a debate 
        over its altitude between its namesake and 
        <span style="font-weight: bold;">Thomas 
        Clingman</span>, leading <span style="font-weight: bold;">Elisha 
        Mitchell</span> to attempt another ascent in which he fell to his 
        death.
    </li>
    <li class="list_item">
        <span class="label">The Matterhorn</span> (Switzerland and Italy): 
        <span style="font-weight: bold;">Edward Compton</span> and 
        <span style="font-weight: bold;">John Ruskin</span> are among the 
        <span style="font-weight: bold;">artists inspired by</span> the 
        Matterhorn, which is renowned for its almost perfectly 
        <span style="font-weight: bold;">pyramidal shape</span>. The mountain 
        is on the border between Switzerland and Italy, near the Swiss town 
        <span style="font-weight: bold;">Zermatt</span>. It was first climbed 
        in 1865 by <span style="font-weight: bold;">Edward Whymper</span>; 
        four people died in that ascent.
    </li>
    <li class="list_item">
        <span class="label">Mount Kilimanjaro</span> (Tanzania): 
        <span style="font-weight: bold;">
        Kibo</span>, <span style="font-weight: bold;">Mawenzi</span>, and 
        <span style="font-weight: bold;">Shira</span> are the three summits 
        of Mount Kilimanjaro, the <span style="font-weight: bold;">tallest 
        mountain in Africa</span>. It is notable for also being the 
        <span style="font-weight: bold;">tallest mountain that is not part 
        of a mountain range</span>, having been formed by a now-
        <span style="font-weight: bold;">extinct volcano</span>. A corpse of 
        a leopard is found on top of the mountain in 
        <span style="font-weight: bold;">&#8220;The Snows of 
        Kilimanjaro,&#8221;</span> a short story by 
        <span style="font-weight: bold;">Ernest Hemingway</span> that uses 
        the mountain as the backdrop for the memories, and ultimately the 
        death, of a writer suffering from gangrene.
    </li>
    <li class="list_item">
        <span class="label">Mount Kenya</span> (Kenya): The 
        <span style="font-weight: bold;">second-
        tallest mountain in Africa</span> is Mount Kenya, which shares 
        its name with the country in which it is located. British geographer 
        and political theorist <span style="font-weight: bold;">Halford 
        Mackinder</span> led the first group to ascend the peak, which 
        bypassed the <span style="font-weight: bold;">Darwin Glacier</span> 
        and proceeded up the <span style="font-weight: bold;">Diamond Glacier
        </span>. Like Kilimanjaro, it was formed by a now-
        <span style="font-weight: bold;">
        dormant volcano</span>, and, like Kilimanjaro, part of its notoriety 
        rests on a book. <i style="font-weight: bold;">Facing Mount Kenya</i>, 
        an anthropological study of the <span style="font-weight: bold;">
        Kikuyu people</span> by <span style="font-weight: bold;">Jomo Kenyatta
        </span>, was one of the first such texts by an African ethnographer 
        to gain fame.
    </li>
    <li class="list_item">
        <span class="label">Mount Kosciuszko</span> (Australia): The name of 
        <span style="font-weight: bold;">Tadeusz Kosciuszko</span>, the Polish 
        commander who fought in the American Revolutionary War, was appended 
        to the <span style="font-weight: bold;">tallest mountain in Australia
        </span> by European explorers in the 19th century. When it was 
        discovered that <span style="font-weight: bold;">Mount Townsend</span> 
        was actually taller, the <span style="font-weight: bold;">names were 
        switched</span> so that Kosciuszko would remain the highest peak on 
        the continent. The peak&#8217;s name in Aboriginal languages, such as 
        <span style="font-weight: bold;">Jagungal</span> or 
        <span style="font-weight: bold;">Tackingal</span>, translates 
        to <span style="font-weight: bold;">&#8220;table-top mountain.&#8221;
        </span>
    </li>
    <li class="list_item">
        <span class="label">Mount Fuji</span> (Japan): 
        <span style="font-weight: bold;">Yamanaka
        </span> and <span style="font-weight: bold;">Kawaguchi</span> are two 
        lakes found along the slopes of Mount Fuji, the 
        <span style="font-weight: bold;">tallest mountain in Japan</span>. 
        It is only about an hour&#8217;s drive from Tokyo, and has 
        significance in the Shinto religion, being sacred to the goddess 
        <span style="font-weight: bold;">Sengen-Sama</span>. The mountain was 
        also depicted in the series of prints <i style="font-weight: bold;">
        Thirty-Six Views of Mount Fuji</i>, drawn by 
        <span style="font-weight: bold;">Hokusai</span>.
    </li>
    <li class="list_item">
        <span class="label">Mount Aconcagua</span> (Argentina): The 
        <span style="font-weight: bold;">
        subduction of the Nazca Plate</span> formed Mount Aconcagua, the 
        <span style="font-weight: bold;">highest point in the Southern 
        Hemisphere</span>. It is near the city 
        <span style="font-weight: bold;">Mendoza
        </span> in <span style="font-weight: bold;">Argentina</span>, and 
        straddles the <span style="font-weight: bold;">Polish Glacier</span>, 
        which provides a popular route for climbers looking to summit it.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Kurtis Droge.</p>
<br />
<br />
<br />
{% endblock %}