{% extends "base.html" %}  {% block title %}North American Rivers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> North American Rivers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/north-american-rivers.html">You Gotta Know These North American Rivers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        The <span class="label">Mississippi River</span> is the 
        <span style="font-weight: bold;">longest or second-longest</span> in 
        North America, depending on how you count. (The Missouri River could 
        be considered longer.) Referred to by Abraham Lincoln as 
        <span style="font-weight: bold;">&#8220;the father of waters,&#8221;
        </span> the Mississippi begins at <span style="font-weight: bold;">
        Lake Itasca, Minnesota</span>, and flows 2,340 miles to a vast delta 
        on the <span style="font-weight: bold;">Gulf of Mexico</span>, 
        forming portions of ten state borders and the world&#8217;s 
        <span style="font-weight: bold;">third-largest drainage basin</span>. 
        The Mississippi picks up numerous major tributaries including the 
        <span style="font-weight: bold;">Illinois</span>, 
        <span style="font-weight: bold;">Missouri</span>, 
        <span style="font-weight: bold;">Ohio</span>, 
        <span style="font-weight: bold;">Arkansas</span>, and 
        <span style="font-weight: bold;">Red Rivers</span>, and flows past 
        numerous major cities, including <span style="font-weight: bold;">
        Minneapolis</span>, <span style="font-weight: bold;">St.&nbsp;Louis
        </span>, <span style="font-weight: bold;">Memphis</span>, and 
        <span style="font-weight: bold;">New Orleans</span>.
    </li>
    <li class="list_item">
        The <span class="label">Colorado River</span> is the most significant river 
        of the southwestern United States. Beginning in 
        <span style="font-weight: bold;">Rocky Mountain National Park</span> 
        in Colorado, the Colorado River runs southwest for 1,450 miles to the 
        <span style="font-weight: bold;">Gulf of California</span> in 
        northwestern Mexico. The Colorado formed numerous 
        <span style="font-weight: bold;">canyons</span> along much of its 
        length, most notably the <span style="font-weight: bold;">Grand Canyon
        </span> in Arizona. The Colorado also has significant dams, including 
        <span style="font-weight: bold;">Hoover Dam</span> near Las Vegas 
        (forming <span style="font-weight: bold;">Lake Mead</span>) and 
        <span style="font-weight: bold;">Glen Canyon Dam</span> in Arizona 
        (forming <span style="font-weight: bold;">Lake Powell</span>).
    </li>
    <li class="list_item">
        The <span class="label">Ohio River</span> flows 981 miles through a 
        significant industrial region of the central United States. 
        Historically seen as the <span style="font-weight: bold;">border 
        between the northern and southern United States</span>, the Ohio is 
        formed in downtown <span style="font-weight: bold;">Pittsburgh</span> 
        by the confluence of the Allegheny and Monongahela Rivers, flowing 
        past <span style="font-weight: bold;">Wheeling</span>, 
        <span style="font-weight: bold;">Cincinnati</span>, 
        <span style="font-weight: bold;">Louisville</span>, and 
        <span style="font-weight: bold;">Evansville</span>, forming borders 
        of five states before emptying into the Mississippi at 
        <span style="font-weight: bold;">Cairo, Illinois</span>. Other major 
        tributaries of the Ohio include the <span style="font-weight: bold;">
        Kanawha</span>, <span style="font-weight: bold;">Kentucky</span>, 
        <span style="font-weight: bold;">Tennessee</span>, 
        <span style="font-weight: bold;">Wabash</span>, and 
        <span style="font-weight: bold;">Cumberland Rivers</span>.
    </li>
    <li class="list_item">
        The <span class="label">Columbia River</span> is a vital waterway of the 
        Pacific Northwest. Rising in the <span style="font-weight: bold;">
        Rockies</span> of British Columbia, the Columbia flows through 
        <span style="font-weight: bold;">Lake Revelstoke</span> before 
        entering Washington state. <span style="font-weight: bold;">Grand 
        Coulee Dam</span> along the Columbia in Washington forms 
        <span style="font-weight: bold;">Lake Roosevelt</span>. When it was 
        completed in 1943, Grand Coulee was the 
        <span style="font-weight: bold;">largest hydroelectric plant</span> 
        in the world; it is still America&#8217;s largest electric power 
        plant. The Columbia receives the <span style="font-weight: bold;">
        Yakima</span> and <span style="font-weight: bold;">Snake Rivers</span> 
        before forming much of the <span style="font-weight: bold;">
        Washington-Oregon border</span>, receiving the 
        <span style="font-weight: bold;">Willamette River</span> in Portland 
        before emptying into the Pacific where 
        <span style="font-weight: bold;">Lewis and Clark sighted the ocean
        </span>.
    </li>
    <li class="list_item">
        The <span class="label">St.&nbsp;Lawrence River</span> 
        <span style="font-weight: bold;">drains the Great Lakes</span> and 
        serves as a major waterway of eastern Canada. First explored and named 
        by <span style="font-weight: bold;">Jacques Cartier</span> in the 
        early 16th century, the St.&nbsp;Lawrence emerges from the 
        <span style="font-weight: bold;">northeastern corner of Lake Ontario
        </span> in the <span style="font-weight: bold;">Thousand Islands 
        archipelago</span>, forming the <span style="font-weight: bold;">
        border between Ontario and New York</span>. The St.&nbsp;Lawrence 
        receives the <span style="font-weight: bold;">Ottawa</span> and 
        <span style="font-weight: bold;">Saguenay Rivers</span> and flows 
        through <span style="font-weight: bold;">Montr&eacute;al</span> and 
        <span style="font-weight: bold;">Quebec City</span>. At its mouth, 
        the Gulf of St.&nbsp;Lawrence is one of the 
        <span style="font-weight: bold;">world&#8217;s largest 
        estuaries</span>.
    </li>
    <li class="list_item">
        The <span class="label">Hudson River</span> has been a historically 
        significant American river since the early 17th century. Named for 
        the English explorer <span style="font-weight: bold;">Henry Hudson
        </span>, it flows 315 miles through eastern New York state. After 
        receiving the <span style="font-weight: bold;">Mohawk River</span>, 
        the Hudson flows past New York&#8217;s capital, 
        <span style="font-weight: bold;">Albany</span>, and 
        <span style="font-weight: bold;">West Point</span> before forming the 
        <span style="font-weight: bold;">boundary between Manhattan and New 
        Jersey</span>. The Hudson is also culturally significant as an 
        inspiration for <span style="font-weight: bold;">Washington Irving
        </span> and the <span style="font-weight: bold;">Hudson River School
        </span> of American landscape painters.
    </li>
    <li class="list_item">
        The <span class="label">Missouri River</span> is formed in western 
        <span style="font-weight: bold;">Montana</span> by the confluence of 
        the <span style="font-weight: bold;">Jefferson</span>, 
        <span style="font-weight: bold;">Madison</span>, and 
        <span style="font-weight: bold;">Gallatin Rivers</span>. It flows past 
        <span style="font-weight: bold;">Bismarck, North Dakota</span> and 
        <span style="font-weight: bold;">Kansas City</span> before emptying 
        into the <span style="font-weight: bold;">Mississippi</span> just 
        north of <span style="font-weight: bold;">St.&nbsp;Louis</span>. 
        <span style="font-weight: bold;">Lewis and Clark</span> used the 
        Missouri as a route for exploration of the 
        <span style="font-weight: bold;">Louisiana Purchase</span>. The 
        Missouri is regulated by a number of major 
        <span style="font-weight: bold;">
        dams</span>, including <span style="font-weight: bold;">Fort Peck
        </span> in Montana and <span style="font-weight: bold;">Oahe Dam
        </span> in South Dakota.
    </li>
    <li class="list_item">
        The <span class="label">Red River of the South</span> is a major river 
        of the southern Great Plains. The Red River forms most of the 
        <span style="font-weight: bold;">border between Oklahoma and Texas
        </span> along its 1,360-mile length. That border formed part of the 
        border between Mexico (and later the Republic of Texas) and the United 
        States after the 1819 <span style="font-weight: bold;">
        Adams-On&iacute;s Treaty</span>. The Red runs through the Louisiana 
        cities <span style="font-weight: bold;">Shreveport</span> and 
        <span style="font-weight: bold;">Alexandria</span> before emptying 
        into the Mississippi south of <span style="font-weight: bold;">
        Natchez, Mississippi</span>.
    </li>
    <li class="list_item">
        The <span class="label">Mackenzie River</span> is the 
        <span style="font-weight: bold;">longest river</span> of Canada. 
        Flowing 1,080 miles out of the <span style="font-weight: bold;">Great 
        Slave Lake</span>, the river flows past 
        <span style="font-weight: bold;">Fort Providence</span> and 
        <span style="font-weight: bold;">Fort Simpson</span> in 
        Canada&#8217;s Northwest Territories, emptying into a 
        vast delta on the <span style="font-weight: bold;">Beaufort Sea
        </span>. The Mackenzie is the <span style="font-weight: bold;">
        largest river flowing into the Arctic Ocean from North America
        </span>. The river was named for Scottish explorer 
        <span style="font-weight: bold;">Alexander 
        Mackenzie</span>, who crossed Canada to the Pacific ten years before 
        Lewis and Clark.
    </li>
    <li class="list_item">
        The <span class="label">Snake River</span> is a major river of the 
        northwestern United States. Rising in <span style="font-weight: bold;">
        Yellowstone National Park</span>, 
        the Snake bisects southern Idaho along 
        its 1,078-mile route. Flowing through <span style="font-weight: bold;">
        Pocatello</span> and <span style="font-weight: bold;">Boise</span>, 
        the Snake River forms much of the <span style="font-weight: bold;">
        border between Idaho and Oregon</span>, including the famous 
        <span style="font-weight: bold;">Hells Canyon</span>. The Snake River 
        was a vital route for travelers headed west on the 
        <span style="font-weight: bold;">Oregon Trail</span>, who followed 
        the river most of the way to its mouth on the 
        <span style="font-weight: bold;">Columbia River</span>.
    </li>
    <li class="list_item">
        The <span class="label">Delaware River</span> is a historically significant 
        river of the eastern United States. From its source in the 
        <span style="font-weight: bold;">Catskills</span>, the Delaware flows 
        301 miles, forming the <span style="font-weight: bold;">border between 
        Delaware and New Jersey</span>. The Delaware flows past 
        <span style="font-weight: bold;">Trenton, New Jersey</span> and 
        <span style="font-weight: bold;">
        Philadelphia</span>, where it receives 
        the <span style="font-weight: bold;">Schuylkill River</span> before 
        emptying into the <span style="font-weight: bold;">Atlantic</span>. 
        <span style="font-weight: bold;">George Washington crossed the 
        Delaware</span> on Christmas night in 1776 to surprise the 
        <span style="font-weight: bold;">Hessians</span> at the 
        <span style="font-weight: bold;">Battle of Trenton</span>.
    </li>
    <li class="list_item">
        The <span class="label">Potomac River</span> is one of America&#8217;s 
        most historic waterways. Rising at <span style="font-weight: bold;">
        Fairfax Stone</span> in <span style="font-weight: bold;">West Virginia
        </span>, the Potomac runs 405 miles, forming the 
        <span style="font-weight: bold;">border between Virginia and Maryland
        </span>. <span style="font-weight: bold;">Washington, D.C.</span> was 
        sited on the Potomac at its confluence with the 
        <span style="font-weight: bold;">Anacostia River</span>. 
        <span style="font-weight: bold;">George Washington</span>&#8217;s 
        plantation <span style="font-weight: bold;">Mount Vernon</span> was on 
        the Potomac, while Robert E. Lee&#8217;s two 
        <span style="font-weight: bold;">invasions</span> north of the Potomac 
        were major events of the Civil War.
    </li>
    <li class="list_item">
        The <span class="label">Rio Grande</span> has formed the 
        <span style="font-weight: bold;">border between Texas and four Mexican 
        states</span> since 1848. It flows south out of 
        <span style="font-weight: bold;">Colorado</span> through New Mexico 
        before reaching the international boundary near 
        <span style="font-weight: bold;">El&nbsp;Paso</span>. Texas&#8217;s 
        <span style="font-weight: bold;">Big Bend National Park</span> is named 
        for the sweeping curve the Rio Grande cuts through the 
        <span style="font-weight: bold;">Sierra Madre Oriental</span>. After 
        leaving the mountains, the river flows past 
        <span style="font-weight: bold;">Laredo</span> and 
        <span style="font-weight: bold;">Brownsville</span> before it empties 
        into the <span style="font-weight: bold;">Gulf of Mexico</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Paul Nelson</p>
<br />
<br />
<br />
{% endblock %}