{% extends "base.html" %}  {% block title %}Western European Rivers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/geography">
            Geography 
        </a> | 
    </li>
    <li style="display:inline"> Western European Rivers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black; font-weight: bold;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/western-european-rivers.html">You Gotta Know These Western European Rivers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Rhine</span>: The Rhine begins in the 
        <span style="font-weight: bold;">
        Swiss Alps</span>, passes through <span style="font-weight: bold;">
        Lake Constance</span> (in German, the Bodensee), 
        flows west along the <span style="font-weight: bold;">German-Swiss 
        border</span>, then turns north to form part of the 
        <span style="font-weight: bold;">German-French 
        border</span>. The river then flows 
        north and joins with the Meuse and 
        Scheldt to enter the <span style="font-weight: bold;">
        North Sea</span> at a delta in the Netherlands. 
        Cities along its course include 
        <span style="font-weight: bold;">Basel</span>, 
        <span style="font-weight: bold;">Strasbourg</span>, 
        <span style="font-weight: bold;">Mainz</span>, 
        <span style="font-weight: bold;">Bonn</span>, 
        <span style="font-weight: bold;">Cologne</span>, and 
        <span style="font-weight: bold;">Rotterdam</span>, and tributaries 
        include the <span style="font-weight: bold;">Main</span>, 
        <span style="font-weight: bold;">Mosel</span>, and 
        <span style="font-weight: bold;">Ruhr</span>. The Rhine 
        has played a strategic role in <span style="font-weight: bold;">most 
        German conflicts</span> since the time of the Gallic Wars, but was not 
        established as an international waterway until the Rhine Commission of 
        1815. German myth tells of the 
        <span style="font-weight: bold;">Lorelei
        </span>, a <span style="font-weight: bold;">nymph</span> who 
        <span style="font-weight: bold;">
        lured sailors on the Rhine</span> to 
        their deaths.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Seine</span>: Though only the 
        <span style="font-weight: bold;">second-
        longest river in France</span> (behind 
        the Loire), the Seine is of key 
        importance, as it flows through 
        <span style="font-weight: bold;">Paris
        </span>.  Starting on the Plateau de&nbsp;Langres near 
        <span style="font-weight: bold;">Dijon</span>, the Seine weaves 
        northwest for 485 miles to enter the 
        <span style="font-weight: bold;">
        English Channel</span> near 
        <span style="font-weight: bold;">Le Havre
        </span>. Along the way, it passes through 
        <span style="font-weight: bold;">Troyes</span>, 
        <span style="font-weight: bold;">Fontainebleau</span>, and 
        <span style="font-weight: bold;">Rouen</span>. The Seine is 
        France&#8217;s chief transport waterway, 
        along with its tributaries 
        the <span style="font-weight: bold;">Marne</span> and 
        <span style="font-weight: bold;">Oise</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Tagus</span> (or Tajo or Tejo): 
        The Tagus is the principal river of the 
        <span style="font-weight: bold;">Iberian Peninsula</span>. Rising in 
        east-central Spain, it flows 
        west for roughly 645 miles to the Atlantic, 
        passing through <span style="font-weight: bold;">Lisbon</span>, 
        Portugal on the way.  The cities of <span style="font-weight: bold;">
        Toledo</span> and <span style="font-weight: bold;">Santar&eacute;m
        </span> are on the Tagus, and <span style="font-weight: bold;">
        hydroelectric dams</span> on the river produce huge artificial lakes, 
        including the Sea of Castile.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Rhone</span>:  One of Europe&#8217;s few major rivers to 
        <span style="font-weight: bold;">
        flow directly into the Mediterranean
        </span> (via the Gulf of Lion), the Rhone originates in the 
        <span style="font-weight: bold;">Swiss Alps</span> and flows into 
        <span style="font-weight: bold;">Lake Geneva</span>. It emerges from 
        Geneva and flows south, passes 
        through <span style="font-weight: bold;">
        Lyon</span>, <span style="font-weight: bold;">Avignon</span>, and 
        <span style="font-weight: bold;">Arles</span>, and enters the sea just 
        west of <span style="font-weight: bold;">Marseille</span>. At 
        <span style="font-weight: bold;">Arles</span>, the river splits into 
        <span style="font-weight: bold;">&#8220;grand&#8221; and 
        &#8220;petit&#8221; branches</span> that encircle the island 
        <span style="font-weight: bold;">Camargue</span>.  The river&#8217;s 
        valley is famous for its <span style="font-weight: bold;">red wine
        </span>, and because it is navigable for 300 miles, the Rhone is the 
        key access route of southern France.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Danube</span>: Most of the Danube is in 
        <span style="font-weight: bold;">Eastern Europe</span>, but it begins 
        in <span style="font-weight: bold;">Germany</span>&#8217;s 
        <span style="font-weight: bold;">
        Black Forest</span> (Schwarzwald) near 
        <span style="font-weight: bold;">Freiburg</span>, crossing 
        <span style="font-weight: bold;">Bavaria</span> before it enters 
        <span style="font-weight: bold;">Austria</span>.  In all, it passes 
        through (or touches the borders of) <span style="font-weight: bold;">
        10 nations</span> on its 1,785-mile course ending at the Black Sea. 
        Chief tributaries include the <span style="font-weight: bold;">Drava
        </span> and <span style="font-weight: bold;">
        Sava</span>, and it passes 
        through <span style="font-weight: bold;">
        four national capitals</span>: 
        <span style="font-weight: bold;">Vienna</span>, 
        <span style="font-weight: bold;">Bratislava</span>, 
        <span style="font-weight: bold;">Budapest</span>, and 
        <span style="font-weight: bold;">Belgrade</span>. 
        Formerly known as the 
        <span style="font-weight: bold;">Ister</span>, 
        the Danube was often used to define a 
        <span style="font-weight: bold;">
        northern border for the Roman Empire</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Po</span>: <span style="font-weight: bold;">
        Italy&#8217;s longest river
        </span> at 405 miles, it passes through 
        <span style="font-weight: bold;">
        Piedmont</span> and <span style="font-weight: bold;">Lombardy</span> 
        before entering the <span style="font-weight: bold;">Adriatic</span> 
        30 miles south of Venice. It flows through 
        <span style="font-weight: bold;">Turin</span> and 
        <span style="font-weight: bold;">Cremona</span>, and it passes near 
        <span style="font-weight: bold;">Milan</span>, 
        <span style="font-weight: bold;">Padua</span>, 
        <span style="font-weight: bold;">Pavia</span>, and 
        <span style="font-weight: bold;">Mantua</span>.  The river has a long 
        history of <span style="font-weight: bold;">floods</span>, and the 
        manmade levees called <i>argini</i> which protect towns and crops can 
        exacerbate the floods. 
        <span style="font-weight: bold;">Pollution</span>, 
        especially from <span style="font-weight: bold;">Milan</span>, is 
        becoming a major environmental concern.
    </li>
    <li class="list_item">
        <a style="font-family: Cambria; 
        font-weight: bold; font-size: large; 
        color: black; font-weight: bold;" target="_blank" 
        href="http://media.web.britannica.com/
        eb-media/03/89903-004-86BC0600.gif">
        Loire</a>: <span style="font-weight: bold;">
            France&#8217;s longest 
        river</span>, the Loire begins in the 
        <span style="font-weight: bold;">
        Cevennes range</span> of southern France, flows north to the center of 
        the country, then flows due west to the 
        <span style="font-weight: bold;">
        Bay of Biscay</span>. Many notable cities are on the river, including 
        <span style="font-weight: bold;">Nevers</span>, 
        <span style="font-weight: bold;">Orleans</span>, 
        <span style="font-weight: bold;">Blois</span>, 
        <span style="font-weight: bold;">Tours</span>, and 
        <span style="font-weight: bold;">Nantes</span>. The Loire is sometimes 
        called the <span style="font-weight: bold;">&#8220;last wild river in 
        Western Europe,&#8221;</span> and many proposed dams on the river have 
        not been built because of opposition to the flooding of land and to 
        interference with <span style="font-weight: bold;">Atlantic salmon
        </span>. The Loire Valley is particularly known for its 
        <span style="font-weight: bold;">vineyards</span> and for its 
        <span style="font-weight: bold;">ch&acirc;teaux</span>, a collection 
        of over 300 castles dating to the 16th and 17th centuries.
    </li>
    <li class="list_item">
        <a style="font-family: Cambria; font-weight: bold; font-size: large; 
        color: black; font-weight: bold;" target="_blank" 
        href="http://www.tormeyclan.com/
        photos/mapofireland-1.jpg">Shannon</a>: 
        At 230 miles, the Shannon is <span style="font-weight: bold;">
        Ireland&#8217;s longest river</span>. It flows from 
        <span style="font-weight: bold;">Lough Allen</span>, and 
        <span style="font-weight: bold;">Loughs Ree</span> and 
        <span style="font-weight: bold;">Derg</span> are also on its course. 
        At <span style="font-weight: bold;">Limerick</span>, the river widens 
        into its namesake estuary and runs for 50 more miles before it enters 
        the <span style="font-weight: bold;">Atlantic</span>. 
        <span style="font-weight: bold;">Peat bogs</span> and 
        <span style="font-weight: bold;">marshes</span> line the river for much 
        of its course, and the Shannon is considered a 
        <span style="font-weight: bold;">dividing line</span> between 
        Ireland&#8217;s more cultivated east and wild west. A chief tributary 
        is the <span style="font-weight: bold;">Suck River</span>. The Shannon 
        does not pass through Dublin, although the Liffey does.
    </li>
    <li class="list_item">
        <a style="font-family: Cambria; font-weight: bold; font-size: large; 
        color: black; font-weight: bold;" target="_blank" 
        href="http://media.web.britannica.com/
        eb-media/73/64473-004-489A166F.gif">
        Oder</a>: Along with the Neisse, the Oder forms the 
        <span style="font-weight: bold;">Germany-Poland border</span>, as 
        dictated at the Potsdam Conference in 
        July and August of 1945. One of the 
        largest rivers to enter the 
        <span style="font-weight: bold;">Baltic
        </span>, it has been a major transport route for centuries. 
        <span style="font-weight: bold;">Ostrava</span> in the 
        <span style="font-weight: bold;">Czech Republic</span> and 
        <span style="font-weight: bold;">Breslau</span> in 
        <span style="font-weight: bold;">Poland</span> are on the river. Near 
        its mouth is <span style="font-weight: bold;">Stettin</span>, which 
        Churchill used as the northern terminus of his 
        <span style="font-weight: bold;">&#8220;Iron Curtain&#8221;</span> 
        (Trieste, in the South, is an Adriatic port not near a major river). 
        At the mouth of the Oder are 
        <span style="font-weight: bold;">Usedom 
        Island</span>, <span style="font-weight: bold;">
        Swinemuende</span>, and 
        <span style="font-weight: bold;">
        Peenemuende</span>, which were primary 
        <span style="font-weight: bold;">test sites for the German V-2 rocket
        </span> in the 1940s.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Elbe</span> (or Labe): Rising in the <span style="font-weight: bold;">
        Krkonose Mountains</span> of the <span style="font-weight: bold;">
        Sudetenland</span> in the <span style="font-weight: bold;">Czech 
        Republic</span>, the river flows near 
        <span style="font-weight: bold;">
        Prague</span>, then enters eastern <span style="font-weight: bold;">
        Germany</span> and flows northwest to the 
        <span style="font-weight: bold;">North Sea</span>. It receives the 
        <span style="font-weight: bold;">Vltava</span> (or Moldau), the 
        <span style="font-weight: bold;">Saale</span>, and the 
        <span style="font-weight: bold;">
        Havel/Spree</span>, and the many large 
        cities on its course include <span style="font-weight: bold;">Dresden
        </span>, <span style="font-weight: bold;">Dessau</span>, 
        <span style="font-weight: bold;">Magdeburg</span>, 
        <span style="font-weight: bold;">Wittenberg</span>, and 
        <span style="font-weight: bold;">
        Hamburg</span>. Like the Oder, the Elbe 
        has been a key transportation route for many centuries.
    </li>
    <li class="list_item">
        <a style="font-family: Cambria; font-weight: bold; font-size: 
        large; color: black; font-weight: bold;" target="_blank" 
        href="http://4.bp.blogspot.com/-rJQMX5CqmrA/TwWrTdAvCQI/AAAAAAAAAD0/
        GqBg7_5TkOI/s1600/thames_nav_map.jpg">Thames</a>: Running from Thames 
        Head near <span style="font-weight: bold;">Cirencester</span> to an 
        estuary near <span style="font-weight: bold;">Southend</span> in 
        <span style="font-weight: bold;">Essex</span>, the Thames is the 
        principal river of England and flows through central 
        <span style="font-weight: bold;">London</span>. The 
        <span style="font-weight: bold;">Houses of Parliament</span> and the 
        <span style="font-weight: bold;">London Eye
        </span> overlook the Thames, 
        as does <span style="font-weight: bold;">
        Big Ben</span>. Flowing through 
        <span style="font-weight: bold;">Reading</span>, 
        <span style="font-weight: bold;">Oxford</span>, and 
        <span style="font-weight: bold;">Swindon</span>, the Thames is 
        prevented from flooding London by its namesake Barrier near the 
        <span style="font-weight: bold;">Isle of Dogs</span>. Though it is the 
        <span style="font-weight: bold;">longest river entirely in England
        </span>, the Thames trails the 
        Severn (which also flows into Wales) as 
        the longest river in the United Kingdom.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Raj Dhuwalia.</p>
<br />
<br />
<br />
{% endblock %}