{% extends "base.html" %}  {% block title %}20th-Century African Leaders{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">20th-Century African Leaders</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/20th-century-african-leaders.html">
    You Gotta Know These 20th-Century African Leaders
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Idi Amin</span> (Dada) was the president of Uganda from 1971 to 1979. 
        He was a military leader who came 
        to power in a coup when Prime Minister 
        <span style="font-weight: bold;">Milton Obote</span> was out of the 
        country. While in power, Amin encouraged death squads such as the 
        <span style="font-weight: bold;">Public Safety Unit</span> and the 
        <span style="font-weight: bold;">State Research Bureau</span>, and he 
        has been blamed for hundreds of thousands of deaths. In 1972 Amin 
        expelled tens of thousands of Asians from Uganda. Amin allowed 
        Palestinian hijackers to land a captured Air France plane at 
        <span style="font-weight: bold;">
        Entebbe Airport</span> in 1976; Jewish 
        hostages on board were freed by <span style="font-weight: bold;">
        Operation Thunderbolt</span>, an Israeli commando operation during 
        which Yonatan Netanyahu, the older brother of the future Israeli prime 
        minister Benjamin Netanyahu, was killed. A 1979 invasion by Tanzania 
        forced Amin from power; he fled to exile in Saudi Arabia.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Muammar al-Gaddafi</span> was the leader of Libya from 1969 to 2011. 
        Gaddafi&#8217;s <span style="font-weight: bold;">Free Officers Movement
        </span>, modeled after the Egyptian organization of the same name, 
        overthrew <span style="font-weight: bold;">King Idris&nbsp;I</span> in 
        1969. The <span style="font-weight: bold;">Little Green Book</span> 
        collects ideas and sayings associated with Gaddafi&#8217;s 
        <span style="font-weight: bold;">pan-Arabist</span> ideology. The U.S. 
        and Britain criticized his terrorist associations and blamed him for 
        the bombing of <span style="font-weight: bold;">Pan Am flight 103
        </span> over Scotland (the <span style="font-weight: bold;">Lockerbie 
        bombing</span>) which killed 270 people. After a discotheque in Berlin 
        was bombed in 1986, the U.S. attacked several sites in Libya. Gaddafi 
        was overthrown and killed by supporters of the 
        <span style="font-weight: bold;">National Transitional Council</span> 
        during the <span style="font-weight: bold;">Libyan Civil War</span> 
        in 2011.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Jomo Kenyatta</span>, a leader of the <span style="font-weight: bold;">
        Kikuyu people</span>, fought against 
        British control of Kenya during the 
        <span style="font-weight: bold;">Mau 
        Mau rebellion</span> of the 1950s. 
        Kenyatta studied anthropology at the London School of Economics with 
        <span style="font-weight: bold;">Bronis&#322;aw Malinowski</span>; his 
        book, <i style="font-weight: bold;">Facing Mount Kenya</i>, is an 
        account of traditional Kikuyu society under pressure from colonialism. 
        When Britain allowed elections to take place, Kenyatta&#8217;s 
        <span style="font-weight: bold;">KANU (Kenya African National Union)
        </span> party was successful; in 1964 Kenyatta became the 
        country&#8217;s first president. He used the slogan 
        <span style="font-weight: bold;">&#8220;harambee,&#8221;</span> which 
        is Swahili for &#8220;all pull together,&#8221; to encourage national 
        unity and economic growth. Jomo&#8217;s son, 
        <span style="font-weight: bold;">Uhuru Kenyatta</span>, became 
        Kenya&#8217;s fourth president in 2013.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Mobutu Sese Seko</span> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">[moh-BOO-too SAY-say SAY-koh]</span> (born 
        Joseph Mobutu) came to power during the 
        <span style="font-weight: bold;">
        &#8220;Congo Crisis,&#8221;</span> which resulted in the assassination 
        of elected Prime Minister <span style="font-weight: bold;">Patrice 
        Lumumba</span> and the death in a plane crash of United Nations 
        Secretary General <span style="font-weight: bold;">
        Dag Hammarskj&ouml;ld
        </span>. Mobutu changed the name of his 
        country from &#8220;Congo&#8221; 
        to <span style="font-weight: bold;">&#8220;Zaire&#8221;</span> (it 
        reverted to &#8220;Democratic Republic of the Congo&#8221; after his 
        fall). Despite its atrocious human 
        rights record, Mobutu&#8217;s regime 
        was supported by the United States 
        because Mobutu took an anti-Communist 
        position during the Cold War. Rebels led by 
        <span style="font-weight: bold;">
        Laurent Kabila</span> overthrew Mobutu 
        in 1997.
    </li>	
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Robert Mugabe</span> <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">moo-GAH-bay
        </span> became the first president 
        of post-colonial <span style="font-weight: bold;">Zimbabwe</span> in 
        1980. Zimbabwe was the successor state to 
        <span style="font-weight: bold;">
        Rhodesia</span>, the white-supremacist 
        state in south-central Africa led 
        by <span style="font-weight: bold;">
        Ian Smith</span>. Mugabe, the leader of the 
        <span style="font-weight: bold;">
        Zimbabwe African National Union</span>, 
        was a key figure in the civil and military struggle for African rights 
        in Rhodesia. Mugabe&#8217;s regime came under increasing criticism for 
        his failure to prevent <span style="font-weight: bold;">hyperinflation
        </span> and his suppression of political dissent. He resigned the 
        presidency after a November 2017 coup and was replaced by 
        <span style="font-weight: bold;">Emmerson Mnangagwa
        </span>.
    </li>	
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Nelson Mandela</span> was a leader of the 
        <span style="font-weight: bold;">African National Congress</span> and 
        the first democratically-elected 
        president of South Africa. In the 1960s 
        Mandela was a young radical; along 
        with <span style="font-weight: bold;">
        Oliver Tambo</span> and others, he founded a militant group called 
        <span style="font-weight: bold;">Umkhonto we Sizwe</span> (the &#8220;
        spear of the nation&#8221;) to carry out acts of sabotage against the 
        <span style="font-weight: bold;">apartheid</span> government. In 1964 
        Mandela was charged with criminal activity in the 
        <span style="font-weight: bold;">
        Rivonia Trial</span>; he was imprisoned 
        for 27 years, most of them on <span style="font-weight: bold;">Robben 
        Island</span>, a prison colony located off the coast of Cape Town. 
        Mandela was the leading figure in South Africa&#8217;s transition away 
        from apartheid; he and his predecessor, 
        <span style="font-weight: bold;">F.&nbsp;W. de&nbsp;Klerk</span>, 
        shared the 1993 Nobel Peace Prize.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Gamal Abdel Nasser</span> was the leader of Egypt from 1954 until his 
        death in 1970. He supported the <span style="font-weight: bold;">Free 
        Officers Movement</span>, which was led by 
        <span style="font-weight: bold;">Muhammad Naguib</span> and which 
        overthrew <span style="font-weight: bold;">King Farouk</span> in 1952, 
        but he then took power while accusing of Naguib of allying with the 
        <span style="font-weight: bold;">Muslim Brotherhood</span>. Nasser 
        nationalized the <span style="font-weight: bold;">
        Suez Canal</span> in 
        1956, leading to a confrontation with Britain, France, and Israel. 
        From 1958 to 1961 Nasser served as president of the 
        <span style="font-weight: bold;">United Arab Republic</span>, a short-
        lived federation of Egypt and <span style="font-weight: bold;">Syria
        </span>. Nasser was succeeded in 1970 by his ally 
        <span style="font-weight: bold;">Anwar Sadat</span>.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Kwame Nkrumah</span> <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">[KWAH-may en-KROOM-uh]</span> became the 
        prime minister of the <span style="font-weight: bold;">
        Gold Coast</span> 
        in 1952 and declared independence from Britain in 1957, renaming the 
        country <span style="font-weight: bold;">
        Ghana</span>. He was the first 
        African leader to declare independence from a colonial power. Nkrumah 
        supported <span style="font-weight: bold;">pan-Africanism</span>, an 
        ideology that proposed continent-wide cooperation and union of African 
        peoples. His regime racked up large debts through military reform and 
        the building of the <span style="font-weight: bold;">
        Akosombo Dam</span> 
        to create <span style="font-weight: bold;">Lake Volta</span>. A 1966 
        coup ended Nkrumah&#8217;s rule over Ghana.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Julius Nyerere</span> was the leader of 
        <span style="font-weight: bold;">
        Tanganyika</span> and then <span style="font-weight: bold;">Tanzania
        </span> from 1961 to 1985. (Tanzania was formed by the 1964 merger of 
        Tanganyika with <span style="font-weight: bold;">Zanzibar</span>.) 
        Tanganyika gained independence before Nyerere came to power due to 
        negotiations between Nyerere and British Governor 
        <span style="font-weight: bold;">Richard Turnbull</span>. Nyerere put 
        forward his socialist plans in the <span style="font-weight: bold;">
        Arusha Declaration</span> of 1967. His policies were known by the 
        term <span style="font-weight: bold;">
            ujamaa</span>, signifying family 
        unity in Swahili. Under his leadership, 
        literacy improved significantly, 
        but poverty remained high, especially among rural laborers uprooted by 
        Nyerere&#8217;s centralized economic planning. His 
        <span style="font-weight: bold;">Chama Cha Mapinduzi</span>, or Party 
        of the Revolution, remains as the dominant power in Tanzania politics.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Haile Selassie</span> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">[&#8220;highly&#8221; 
        seh-LASS-ee]</span> 
        (birth name Tafari Makonnen) was the Emperor of 
        <span style="font-weight: bold;">
        Ethiopia</span> from 1930 to 1974. A 
        1936 invasion by fascist Italy forced Selassie to live in exile in 
        England until 1941, when he was restored to the throne with the 
        assistance of the British military. Many members of the 
        <span style="font-weight: bold;">Rastafarian</span> movement consider 
        Haile Selassie to be a sacred and messianic figure. Ethiopia suffered 
        a severe famine in the early 1970s, and Selassie was overthrown in 
        1974. The military government that replaced him was known as the 
        <span style="font-weight: bold;">Derg</span>
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer David Reinstein.</p>
<br />
<br />
<br />
{% endblock %}