{% extends "base.html" %}  {% block title %}20th-Century Middle Eastern Leaders{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">20th-Century Middle Eastern Leaders</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/20th-century-middle-eastern-leaders.html">
    You Gotta Know These 20th-Century Middle Eastern Leaders
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Yasser Arafat</span> (1929&ndash;2004) was the chairman of the 
        <span style="font-weight: bold;">
        Palestine Liberation Organization (PLO)
        </span> from 1969 until shortly before his death in 2004. In the late 
        1950s, Arafat and other Palestinian 
        refugees founded the political party 
        <span style="font-weight: bold;">Fatah</span>, which in the late 1960s 
        became the dominant faction within the PLO. Under Arafat&#8217;s 
        leadership, the PLO was based in Jordan 
        until it was expelled in 1970 in 
        <span style="font-weight: bold;">Black September</span>. With Israeli 
        Prime Minister <span style="font-weight: bold;">Yitzhak Rabin</span>, 
        Arafat negotiated the 1993 <span style="font-weight: bold;">Oslo 
        Accords</span> establishing the <span style="font-weight: bold;">
        Palestinian National Authority</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Hafez al-Assad</span> (1930&ndash;2000) 
        was the president of Syria from 
        1971 to 2000. Assad, a member of the <span style="font-weight: bold;">
        Alawite</span> minority sect within Islam, was the commander of the 
        Syrian Air Force when he came to power as a member of the 
        <span style="font-weight: bold;">Ba&#8217;ath Party</span>. Along with 
        Egyptian president 
        <span style="font-weight: bold;">Anwar Sadat</span>, 
        Assad launched the <span style="font-weight: bold;">Yom Kippur War
        </span> against Israel in 1973. In 1982, Assad brutally crushed an 
        Islamist uprising led by members of the 
        <span style="font-weight: bold;">
        Muslim Brotherhood</span> in the Syrian 
        city of Hama. Hafez was succeeded 
        as president of Syria by his son, 
        <span style="font-weight: bold;">Bashar al-Assad</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Mustafa Kamal Atat&uuml;rk</span> (1881&ndash;1938) was the founder of 
        the modern Republic of Turkey and 
        the country&#8217;s first president. He 
        rose to prominence as a commander of <span style="font-weight: bold;">
        Ottoman</span> forces at the 
        <span style="font-weight: bold;">Battle of 
        Gallipoli</span> during World War I. After the war, he dissolved the 
        Ottoman Empire and the Islamic caliphate and created a secular 
        nationalist state based in Ankara. Among the reforms Atat&uuml;rk 
        initiated were a <span style="font-weight: bold;">Hat Law</span> 
        replacing the <span style="font-weight: bold;">
        fez</span> with Western-
        style hats, the adoption of family surnames, and use of the Latin 
        alphabet for the written Turkish language.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Muammar Gaddafi</span> (1942&ndash;2011) was the leader of Libya from 
        1969 to 2011, during which time he was variously styled as 
        &#8220;Colonel,&#8221; &#8220;Revolutionary Chairman,&#8221; and 
        &#8220;Brotherly Leader.&#8221; Gaddafi espoused what he called 
        <span style="font-weight: bold;">
        &#8220;Islamic socialism&#8221;</span> 
        in his <i style="font-weight: bold;">
        Green Book</i>. He coined the word 
        jamahiriya, which can be roughly translated as &#8220;state of the 
        masses.&#8221; Gaddafi funded various Islamist militant operations 
        around the world, most notably the bombing of 
        <span style="font-weight: bold;">
        Pan&nbsp;Am Flight&nbsp;103</span> over 
        Lockerbie, Scotland, in 1988. Gaddafi was deposed and killed in 2011 
        during the <span style="font-weight: bold;">Arab Spring</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        David Ben-Gurion</span> (1886&ndash;1973) was a 
        <span style="font-weight: bold;">Zionist</span> leader and principal 
        figure in the founding of the state of Israel. He served as the first 
        prime minister of Israel from 1948 to 
        1954, as a member of the political 
        party <span style="font-weight: bold;">
        Mapai</span>; his second term as 
        prime minister lasted from 1955 to 1963. 
        Ben-Gurion was born in what is 
        now Poland and immigrated to the Ottoman district of Jerusalem in 1906. 
        He became chairman of the 
        <span style="font-weight: bold;">Jewish Agency
        </span> in 1935, and was the main 
        political leader of the Jewish forces 
        in the <span style="font-weight: bold;">1948 Arab-Israeli War</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Ruhollah Khomeini</span> (1902&ndash;1989) was the founder of the 
        Islamic Republic of Iran, and served as Iran&#8217;s 
        <span style="font-weight: bold;">supreme leader</span> from the 
        country&#8217;s 1979 establishment until his 1989 death. Khomeini was 
        known by the title <i style="font-weight: bold;">ayatollah</i>, given 
        to those who are experts in <span style="font-weight: bold;">
        Shi&#8217;ite</span> religious theology and jurisprudence. Khomeini 
        emerged as Iran&#8217;s leader in the wake of the revolution that 
        overthrew <span style="font-weight: bold;">
        Mohammad Reza Pahlavi</span>, 
        the last <span style="font-weight: bold;">
        shah</span> of Iran, and which 
        led to the <span style="font-weight: bold;">Iranian hostage crisis
        </span>. He commonly referred to the U.S. as the 
        &#8220;Great Satan.&#8221;
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Gamal Abdel Nasser</span> (1918&ndash;1970) 
        was the president of Egypt 
        from 1954 to 1970. As a young military 
        commander, he helped form the 
        <span style="font-weight: bold;">Free 
        Officers</span>, who led a 1952 
        coup that overthrew Egypt&#8217;s king, 
        <span style="font-weight: bold;">Farouk&nbsp;I</span>. Nasser 
        precipitated the <span style="font-weight: bold;">Suez Crisis</span> 
        by nationalizing the 
        <span style="font-weight: bold;">Suez Canal</span> 
        in 1956. He championed a 
        <span style="font-weight: bold;">pan-Arabist
        </span> sentiment that eventually led to Egypt&#8217;s brief union 
        with Syria as the <span style="font-weight: bold;">
        United Arab Republic
        </span> in 1958. Nasser oversaw Egypt&#8217;s disastrous defeat by 
        Israel in the <span style="font-weight: bold;">
        Six-Day War</span> (1967).
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Anwar Sadat</span> (1918&ndash;1981) was president of Egypt from 1970 
        to 1981. He succeeded Nasser, a 
        fellow member of the Free Officers, upon 
        the latter&#8217;s sudden death. Sadat launched the Yom Kippur War 
        against Israel in 1973. Five years later, due in large part to the 
        efforts of U.S. president Jimmy Carter, Sadat signed the 
        <span style="font-weight: bold;">
        Camp David Accords</span> with Israeli 
        prime minister <span style="font-weight: bold;">Menachem Begin</span>, 
        for which Sadat and Begin were jointly awarded the 1978 Nobel Peace 
        Prize. Sadat was assassinated in 1981 by an Islamist military officer 
        associated with the radical group <span style="font-weight: bold;">
        Egyptian Islamic Jihad</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Saddam Hussein</span> (1937&ndash;2006) was the president of Iraq from 
        1979 to 2003. He came to power as a member of the pan-Arabist 
        <span style="font-weight: bold;">
        Ba&#8217;ath Party</span>. During the 
        1980s, Hussein led Iraq in the decade-long 
        <span style="font-weight: bold;">Iran-Iraq War</span>. In the midst of 
        that conflict, he launched the genocidal 
        <span style="font-weight: bold;">Al-Anfal Campaign</span> against 
        <span style="font-weight: bold;">Kurdish</span> civilians in northern 
        Iraq. In 1990, Saddam ordered the invasion of neighboring 
        <span style="font-weight: bold;">Kuwait</span>, which led to the 
        <span style="font-weight: bold;">First Gulf War</span>, also known as 
        <span style="font-weight: bold;">Operation Desert Storm</span>. Hussein 
        was deposed following 2003 the 
        <span style="font-weight: bold;">American 
        invasion of Iraq</span>; he was tried and executed by the new Iraqi 
        government in 2006.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Abdulaziz ibn Abdul Rahman Al Saud
        </span>, usually known in the West as 
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Ibn Saud</span> (1875&ndash;1953), was the first king of Saudi Arabia. 
        He reconquered Riyadh, his family&#8217;s ancestral homeland, in 1902, 
        and began expanding Saudi power from there; in 1925, he conquered the 
        <span style="font-weight: bold;">
        Hejaz</span>, the region where Mecca is 
        located. Ibn Saud declared the formation of the Kingdom of Saudi 
        Arabia in 1932; during his reign, American engineers discovered 
        <span style="font-weight: bold;">oil</span> at Dammam in 1938. Every 
        subsequent king of Saudi Arabia has been a son of Ibn Saud, including 
        the current (as of October 2019) king, 
        <span style="font-weight: bold;">Salman</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Kyle Haddad-Fonda.</p>
<br />
<br />
<br />
{% endblock %}