{% extends "base.html" %}  {% block title %}American Composers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">American Composer</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/american-composers.html">
    You Gotta Know These American Composers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">George Gershwin</span>&#8217;s (1898&ndash;1937) 
        music blended classical traditions and genres with jazz and popular 
        idioms. His <span style="font-weight: bold;">&#8220;Rhapsody in 
        Blue&#8221;</span> (1924) and <span style="font-weight: bold;">
        &#8220;Concerto in&nbsp;F&#8221;</span> (1925) both feature solo 
        piano and orchestra, while <span style="font-weight: bold;">
        &#8220;An American in Paris&#8221;</span> (1928) and 
        <span style="font-weight: bold;">&#8220;Cuban Overture&#8221;
        </span> (1932) were inspired by his trips abroad. The lyrics 
        for his vocal works were often written by his brother 
        <span style="font-weight: bold;">Ira</span>; two of his best-known 
        songs, <span style="font-weight: bold;">&#8220;Embraceable 
        You&#8221;</span> and <span style="font-weight: bold;">&#8220;I 
        Got Rhythm,&#8221;</span> appeared in his Broadway musical 
        <i style="font-weight: bold;">Girl Crazy</i> (1930). His opera 
        <i style="font-weight: bold;">Porgy and Bess</i> (1935), which 
        included the song standards <span style="font-weight: bold;">
        &#8220;Summertime&#8221;</span> and 
        <span style="font-weight: bold;">&#8220;It Ain&#8217;t Necessarily 
        So,&#8221;</span> featured an entirely African-American cast.
    </li>
	<li class="list_item">
        <span class="label">Aaron Copland</span> (1900&ndash;1990) was one 
        of a litany of American composers who studied in Paris with 
        <span style="font-weight: bold;">Nadia Boulanger</span>, for whom 
        Copland wrote the solo keyboard part in his 
        <i style="font-weight: bold;">Symphony for Organ and Orchestra
        </i> (1924; revised as <i style="font-weight: bold;">Symphony 
        No.&nbsp;1</i> in 1928). <span style="font-weight: bold;">
        &#8220;El Sal&oacute;n M&eacute;xico&#8221;</span> (1936) was 
        the first of his highly successful <span style="font-weight: bold;">
        &#8220;Populist&#8221;</span> works based on folk or folk-like 
        themes, which also included his three major ballets: 
        <i style="font-weight: bold;">Billy the Kid</i> (1938), 
        <i style="font-weight: bold;">Rodeo</i> (1942), and 
        <i style="font-weight: bold;">Appalachian Spring</i> (1944). His 
        opera <i style="font-weight: bold;">The Tender Land</i> (1954) 
        included the chorus <span style="font-weight: bold;">&#8220;The 
        Promise of Living.&#8221;</span> Copland utilized modified 
        <span style="font-weight: bold;">serial</span> techniques in 
        his later works; he composed very little in his last 25 years.
    </li>
	<li class="list_item">
        <span class="label">Leonard Bernstein</span> (1918&ndash;1990) was 
        a prolific composer and conductor who gave numerous televised 
        <span style="font-weight: bold;">&#8220;Young People&#8217;s 
        Concerts&#8221;</span> during his eleven-year tenure as music 
        director of the <span style="font-weight: bold;">New York 
        Philharmonic</span> (1958&ndash;1969). His concert works include 
        his <span style="font-weight: bold;">Symphony No.&nbsp;1, 
        &#8220;Jeremiah&#8221;</span> (1942), and a jazz clarinet 
        concerto premiered by <span style="font-weight: bold;">Benny 
        Goodman</span>: <span style="font-weight: bold;">&#8220;Prelude, 
        Fugue, and Riffs&#8221;</span> (1949). Bernstein is best known 
        for his works for the stage, which include the musical 
        <i style="font-weight: bold;">West Side Story</i> (1957), the 
        ballet <i style="font-weight: bold;">Fancy Free</i> (1944), and 
        the operetta <i style="font-weight: bold;">Candide</i> (1956; 
        revised 1989). He also composed the score for the 1954 film 
        <i style="font-weight: bold;">On the Waterfront</i>.</li>
	<li class="list_item">
        <span class="label">Arnold Schoenberg</span> (1874&ndash;1951) 
        was an Austrian composer who emigrated to the U.S. in 1934. 
        Schoenberg was the leading figure and mentor of the 
        <span style="font-weight: bold;">&#8220;Second Viennese 
        School,&#8221;</span> which also included 
        <span style="font-weight: bold;">Alban Berg</span> and 
        <span style="font-weight: bold;">Anton Webern</span>, who were 
        Schoenberg&#8217;s students. In 1908, Schoenberg began composing 
        <span style="font-weight: bold;">atonal music</span>, which has no 
        tonic pitch or key center. He also developed the 
        <span style="font-weight: bold;">twelve-tone</span> method of 
        composition, one of the most influential musical styles of the 
        20th century and first fully realized in his 
        <i style="font-weight: bold;">Suite for Piano</i>, Op. 25 (1923). 
        His other musical innovations include the technique of 
        <i style="font-weight: bold;">klangfarbenmelodie</i> 
        (<span style="font-weight: bold;">&#8220;tone-color melody&#8221;
        </span>), which was used in the third movement of his 
        <i style="font-weight: bold;">Five Pieces for Orchestra</i> (1909).
    </li>
	<li class="list_item">
        <span class="label">Philip Glass</span> (1937&ndash;present) was a 
        <span style="font-weight: bold;">minimalist</span> composer who is 
        best known for his trilogy of <span style="font-weight: bold;">
        &#8220;Portrait Operas,&#8221;</span> which include 
        <i style="font-weight: bold;">Einstein on the Beach</i> (1976), 
        <i style="font-weight: bold;">Satyagraha</i> (1979), and 
        <i style="font-weight: bold;">Akhnaten</i> (1983). <i>Einstein 
        on the Beach</i> is particularly notable for its use of 
        <span style="font-weight: bold;">solfege</span> syllables and 
        numbers in place of a standard libretto. Glass&#8217;s style is 
        heavily influenced by Indian musical traditions, and focuses on 
        <span style="font-weight: bold;">additive processes</span>; this 
        focus can be seen in his early minimal works 
        <span style="font-weight: bold;">&#8220;Strung Out&#8221;</span> 
        (1967) and <span style="font-weight: bold;">&#8220;Music in 
        Fifths&#8221;</span> (1969). Glass is a prolific composer of 
        film scores; his most prominent include his scores for 
        <i style="font-weight: bold;">The Truman Show</i>, 
        <i style="font-weight: bold;">The Hours</i>, and 
        <i style="font-weight: bold;">Notes on a Scandal</i>.
    </li>
	<li class="list_item">
        <span class="label">Samuel Barber</span> (1910&ndash;1981) was a 
        <span style="font-weight: bold;">classicist</span> composer best 
        known for his <span style="font-weight: bold;">&#8220;Adagio for 
        Strings&#8221;</span> (1936), which he adapted from his 
        <i style="font-weight: bold;">String Quartet</i>, and which was 
        premiered under the baton of the legendary conductor 
        <span style="font-weight: bold;">Arturo Toscanini</span>. Other 
        major orchestral works include his <i style="font-weight: bold;">
        Piano Concerto</i> (1962), his ballet score 
        <i style="font-weight: bold;">Cave of the Heart</i> (1947) based 
        on the Greek tale of <span style="font-weight: bold;">Medea
        </span>, and his single-movement <span style="font-weight: bold;">
        &#8220;First Symphony&#8221;</span> (1936, revised 1943). His 
        vocal works include <span style="font-weight: bold;">&#8220;Dover 
        Beach&#8221;</span> (1931) and <span style="font-weight: bold;">
        &#8220;Knoxville: Summer of 1915&#8221;</span> (1947). For much 
        of Barber&#8217;s life, he maintained a romantic relationship with 
        the opera composer <span style="font-weight: bold;">Gian-Carlo 
        Menotti</span>. His first opera, <i style="font-weight: bold;">
        Vanessa</i> (1958), won the Pulitzer Prize; his second major 
        opera, <i style="font-weight: bold;">Antony and Cleopatra</i> 
        (1966), was a flop.
    </li>
	<li class="list_item">
        <span class="label">Charles Ives</span> (1874&ndash;1954) was a 
        <span style="font-weight: bold;">modernist</span>, experimental 
        composer whose programmatic works often utilize 
        <span style="font-weight: bold;">polytonality</span> (more than 
        one active key center at a time), quote extensively from 
        <span style="font-weight: bold;">folk songs</span> and earlier 
        classical works, and have distinctly &#8220;American&#8221; 
        themes. Ives, who worked in the <span style="font-weight: bold;">
        insurance industry</span>, was not widely-recognized as a 
        composer until late in his life. His <i style="font-weight: bold;">
        Piano Sonata No.&nbsp;2</i> (1915), the 
        <span style="font-weight: bold;">&#8220;Concord&#8221; sonata
        </span>, depicts four leading figures of the 
        <span style="font-weight: bold;">transcendentalist movement
        </span>. His <i style="font-weight: bold;">Symphony No.&nbsp;3</i>, 
        <span style="font-weight: bold;">&#8220;The Camp Meeting&#8221;
        </span> (1947), was awarded the 1947 Pulitzer Prize. Other 
        notable works include the suite <i style="font-weight: bold;">
        Three Places in New England</i> (1914) and 
        <span style="font-weight: bold;">&#8220;The Unanswered 
        Question&#8221;</span> (1906).
    </li>
	<li class="list_item">
        <span class="label">John Cage</span> (1912&ndash;1992) was an 
        <span style="font-weight: bold;">experimentalist</span> composer 
        whose works are known for <span style="font-weight: bold;">
        aleatoric</span> (chance-based) composition and other forms of 
        indeterminacy. His best-known piece, <i style="font-weight: bold;">
        4&prime;33&Prime;</i> (1952), is created from the ambient sounds 
        of the concert space while the performer(s) sits silently on 
        stage. His <i style="font-weight: bold;">Music of Changes</i> 
        (1951), as well as numerous other works, were written utilizing 
        the Chinese <i style="font-weight: bold;">I Ching</i> to determine 
        musical content. Cage&#8217;s other innovations include works for 
        <span style="font-weight: bold;">&#8220;prepared piano,&#8221;
        </span> a piano which has had various objects inserted into its 
        strings. A 639-year-long organ performance of his 
        <span style="font-weight: bold;">&#8220;As Slow As Possible&#8221;
        </span> (1987) is currently underway in Germany, having begun 
        in 2001.
    </li>
	<li class="list_item">
        <span class="label">John (Coolidge) Adams</span> 
        (1947&ndash;present) was a <span style="font-weight: bold;">
        minimalist</span> composer whose music, like that of 
        <span style="font-weight: bold;">Charles Ives</span>, often 
        features an &#8220;American&#8221; program. Adams may be best 
        known for his opera <i style="font-weight: bold;">Nixon in China
        </i> (1987), which dramatizes the 1972 presidential visit and 
        meeting with <span style="font-weight: bold;">Mao</span>. His 
        other operas include <i style="font-weight: bold;">Doctor Atomic
        </i> (2005), which is about the <span style="font-weight: bold;">
        Manhattan Project</span>. He composed 
        <span style="font-weight: bold;">&#8220;On the Transmigration 
        of Souls&#8221;</span> (2002) to memorialize the 
        <span style="font-weight: bold;">September 11th attacks</span>; 
        that work received the Pulitzer Prize. Other major works for 
        orchestra include <i style="font-weight: bold;">Harmonium</i> 
        (1980), <i style="font-weight: bold;">Harmonielehre</i> (1985), 
        <i style="font-weight: bold;">Shaker Loops</i> (1978), and his 
        <i style="font-weight: bold;">Violin Concerto</i> (1993).
    </li>
	<li class="list_item">
        <span class="label">Stephen Sondheim</span> (1930&ndash;present) 
        is one of the most celebrated lyricists and composers in musical 
        theater. Sondheim&#8217;s career has included eight Tony Awards. 
        He was mentored by <span style="font-weight: bold;">Oscar 
        Hammerstein&nbsp;II</span> (of <span style="font-weight: bold;">
        Rodgers and Hammerstein</span>), and was the lyricist for 
        <i style="font-weight: bold;">West Side Story</i>, working 
        alongside composer <span style="font-weight: bold;">Leonard 
        Bernstein</span>. Musicals for which he was both lyricist and 
        composer include <i style="font-weight: bold;">Company</i> 
        (1970), a series of scenes about an unmarried bachelor and his 
        married friends; <i style="font-weight: bold;">Sweeney Todd</i> 
        (1979), about a barber&#8217;s murderous quest for revenge; 
        <i style="font-weight: bold;">Into the Woods</i> (1987), a dark 
        mash-up of several fairy tales; and <i style="font-weight: bold;">
        Sunday in the Park with George</i> (1984), which portrays a 
        fictionalized version of the painter 
        <span style="font-weight: bold;">Georges Seurat</span> and won 
        the 1985 Pulitzer Prize for Drama.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}