{% extends "base.html" %}  {% block title %}Ancient Philosophers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Ancient Philosophers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/ancient-philosophers.html">
    You Gotta Know These Ancient Philosophers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/socrates/">Socrates</a> 
        (c.&nbsp;469&nbsp;BC&ndash;399&nbsp;BC) We have no writings from 
        Socrates&#8217;s own hand, and know about him largely from the 
        dialogues of his student <span style="font-weight: bold;">Plato
        </span>. Proclaiming his own <span style="font-weight: bold;">
        ignorance of all things</span>, Socrates went around 
        <span style="font-weight: bold;">Athens</span> engaging in 
        <span style="font-weight: bold;">question-and-answer sessions</span> 
        to search for truths or draw out contradictions (the 
        <span style="font-weight: bold;">&#8220;Socratic method&#8221;
        </span>). The Athenian state disapproved of his conduct; he was put 
        on trial for <span style="font-weight: bold;">corrupting the 
        city&#8217;s youth</span>, and sentenced to 
        <span style="font-weight: bold;">death by drinking hemlock</span>. 
        Socrates&#8217; trial, imprisonment, and death are recounted in 
        Plato&#8217;s <i style="font-weight: bold;">Apology</i>, 
        <i style="font-weight: bold;">Crito</i>, and 
        <i style="font-weight: bold;">Phaedo</i>, respectively.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/plato/">Plato</a> (c.&nbsp;429&nbsp;BC&ndash;347&nbsp;BC) 
        Plato&#8217;s <span style="font-weight: bold;">Socratic dialogues
        </span> are our main source both for <span style="font-weight: bold;">
        Socrates</span>&#8217;s philosophy and his own; Plato often put his 
        own thoughts in Socrates&#8217; mouth. Plato&#8217;s dialogues 
        include the <i style="font-weight: bold;">Republic</i> (about 
        <span style="font-weight: bold;">justice</span> and the 
        <span style="font-weight: bold;">ideal city-state</span>), the 
        <i style="font-weight: bold;">Symposium</i> (about the 
        <span style="font-weight: bold;">nature of love</span>), and the 
        <i style="font-weight: bold;">Meno</i> (about whether 
        <span style="font-weight: bold;">virtue</span> can be taught). 
        Plato believed in a world of <span style="font-weight: bold;">
        &#8220;forms&#8221;</span>&mdash;or ideal versions of real things 
        that lie beyond the human senses&mdash;which he discussed in such 
        works as the <i style="font-weight: bold;">Phaedo</i>. Plato founded 
        a school called the <span style="font-weight: bold;">Academy
        </span>, from which we get the common word.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/aristotle/">Aristotle</a> 
        (c.&nbsp;384&nbsp;BC&ndash;322&nbsp;BC) Aristotle was a student of 
        <span style="font-weight: bold;">Plato</span>; in turn, Aristotle 
        was a tutor to <span style="font-weight: bold;">Alexander the Great
        </span>. Many of his works come to us in the form of lectures he 
        gave at his school, known as the <span style="font-weight: bold;">
        Lyceum</span>. His philosophical output includes the 
        <i style="font-weight: bold;">Nicomachean Ethics</i>, which argues 
        that virtues consist in a <span style="font-weight: bold;">
        &#8220;golden mean&#8221;</span> between two extremes; the 
        <i style="font-weight: bold;">Physics</i>, which describes motion 
        and change in terms of <span style="font-weight: bold;">&#8220;four 
        causes&#8221;</span> that make a given thing what it is; and the 
        <i style="font-weight: bold;">Metaphysics</i>, which describes the 
        <span style="font-weight: bold;">structure of reality</span>. 
        Aristotle&#8217;s <i style="font-weight: bold;">Poetics</i> 
        discusses the types of <span style="font-weight: bold;">drama</span> 
        and considers an effect of <span style="font-weight: bold;">
        tragedies</span> known as <i style="font-weight: bold;">catharsis
        </i>, or the purging of bad feelings.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/confucius/">Confucius</a> (or Kong Fu Zi) 
        (6th century&nbsp;BC) A pivotal thinker from 
        <span style="font-weight: bold;">China</span>&#8217;s 
        <span style="font-weight: bold;">Spring and Autumn period</span>, 
        Confucius&#8217;s views on proper conduct and 
        <span style="font-weight: bold;">filial piety</span> influence China 
        to this day. Many sayings attributed to Confucius were compiled by 
        his disciples following his death in a text known as the 
        <i style="font-weight: bold;">Analects</i>. Confucius put much 
        importance on <i style="font-weight: bold;">ren</i>, the inner state 
        which allows one to behave compassionately toward others, and on a 
        concept called <i style="font-weight: bold;">li</i>, which can 
        help individuals attain <i>ren</i>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/laozi/">Lao Tzu</a> (also given as Lao Tse or Laozi) 
        (dates unknown, 6th century&nbsp;BC) is a quasi-mythical thinker 
        of the <span style="font-weight: bold;">Taoist</span> tradition, 
        to whom the pivotal <i style="font-weight: bold;">Tao te Ching</i> 
        is attributed. Concepts associated with him include that of the 
        <i style="font-weight: bold;">Tao</i>, or &#8220;the way,&#8221; 
        and <i style="font-weight: bold;">wu wei</i>, or a life of 
        <span style="font-weight: bold;">non-action</span> in accordance 
        with the Tao. In later centuries, Lao Tzu was accorded godlike 
        status as one of the <span style="font-weight: bold;">Three Pure 
        Ones</span> of Taoism, and is frequently depicted as an 
        <span style="font-weight: bold;">old man with a donkey</span>. 
        To Lao Tzu is attributed the quote &#8220;The journey of a thousand 
        miles begins with a single step.&#8221;
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://iep.utm.edu/diogsino/">Diogenes</a> 
        (c.&nbsp;410s&nbsp;BC&ndash;323&nbsp;BC) Diogenes of Sinope was a 
        student of <span style="font-weight: bold;">Antisthenes</span>, 
        who founded the ancient school of philosophy known as 
        <span style="font-weight: bold;">Cynicism</span>. (The term 
        &#8220;cynic&#8221; comes from the Greek for 
        <span style="font-weight: bold;">&#8220;dog-like,&#8221;</span> and 
        is thought to have originated as an insult to the school&#8217;s 
        members.) The Cynics rejected conventional social norms in search 
        of a truly <span style="font-weight: bold;">virtuous</span> life. 
        Diogenes himself was something of an eccentric&mdash;according to 
        legend, he lived in a <span style="font-weight: bold;">tub</span> 
        or a barrel on the street, and wandered Athens holding a 
        <span style="font-weight: bold;">lamp</span> in his futile search 
        for an <span style="font-weight: bold;">honest man</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/epicurus/">Epicurus</a> (341&nbsp;BC&ndash;270&nbsp;BC) 
        Epicurus&#8217;s namesake school, <span style="font-weight: bold;">
        Epicureanism</span>, believed that <span style="font-weight: bold;">
        pleasure</span> was the highest (or only) good, and that the absence 
        of pain (<i style="font-weight: bold;">aponia</i>) was the highest 
        pleasure. They also believed that human happiness consisted of a 
        kind of tranquillity known as <i style="font-weight: bold;">ataraxia
        </i>. Critics of Epicureanism accused his school of promoting 
        <span style="font-weight: bold;">hedonism</span> and making 
        <span style="font-weight: bold;">selfishness</span> into a good, 
        though Epicureans did not believe themselves to be hedonists.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://plato.stanford.edu/
        entries/zeno-elea/">Zeno of Elea</a> 
        (c.&nbsp;490&nbsp;BC&ndash;430&nbsp;BC) Zeno of Elea was a student 
        of <span style="font-weight: bold;">Parmenides</span>, who founded 
        the <span style="font-weight: bold;">Eleatic school</span> in a 
        Greek colony of the Italian peninsula. He is most famous today for 
        <span style="font-weight: bold;">&#8220;Zeno&#8217;s 
        paradoxes,&#8221;</span> the best-known of which involve an 
        <span style="font-weight: bold;">arrow</span> in flight and a 
        <span style="font-weight: bold;">race</span> between 
        <span style="font-weight: bold;">Achilles</span> and a 
        <span style="font-weight: bold;">tortoise</span>. Zeno&#8217;s 
        paradoxes purport to show that physical movement is impossible, 
        since any attempt to travel a distance must be preceded by moving 
        half that distance, which must be preceded by moving half of half 
        that distance, and so on. (Zeno of Elea is not to be confused with 
        <span style="font-weight: bold;">Zeno of Citium</span>, who founded 
        the philosophical school of <span style="font-weight: bold;">
            Stoicism</span> two centuries later.)
        </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://iep.utm.edu/thales/">Thales</a> 
        (c.&nbsp;620&nbsp;BC&ndash;546&nbsp;BC) Thales was a pre-Socratic 
        thinker from the Greek colony of <span style="font-weight: bold;">
        Miletus</span> who many consider to be the &#8220;first 
        philosopher.&#8221; Rejecting mythical explanations of the 
        universe&#8217;s nature, he believed that the 
        <span style="font-weight: bold;">first principle</span> of all 
        existence, the natural element from which all things emerged, was 
        <span style="font-weight: bold;">water</span>. Thales was also a 
        <span style="font-weight: bold;">civil engineer</span> and 
        <span style="font-weight: bold;">mathematician</span>, and is 
        credited with discovering that if a circle goes through all three 
        vertices of a triangle and one side of the triangle is a diameter 
        of the circle, then the triangle is a right triangle. He is 
        sometimes thought of as the founder of a 
        <span style="font-weight: bold;">&#8220;Milesian school&#8221;
        </span> of philosophy, whose other members include 
        <span style="font-weight: bold;">Anaximander</span> and 
        <span style="font-weight: bold;">Anaximenes</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://iep.utm.edu/cicero/">Cicero</a> 
        (106&nbsp;BC&ndash;43&nbsp;BC) Though he is better remembered 
        today for his role in the political life of the 
        <span style="font-weight: bold;">Roman Republic</span>, Marcus 
        Tullius Cicero (sometimes known as &#8220;Tully&#8221;) was also 
        a significant philosopher. He described the ideal state in such 
        dialogues as <i style="font-weight: bold;">On the Republic</i> and 
        <i style="font-weight: bold;">On the Laws</i>, while he discussed 
        <span style="font-weight: bold;">Epicurean</span> and 
        <span style="font-weight: bold;">Stoic</span> views on religion in 
        <i style="font-weight: bold;">On the Nature of the Gods</i>. 
        Through the Middle Ages and Renaissance, Cicero was considered one 
        of the most important of ancient philosophers. Indeed, 
        <span style="font-weight: bold;">Saint Augustine</span> asserted 
        that he turned to philosophy as a result of reading a now-lost work 
        by Cicero known as the <i style="font-weight: bold;">Hortensius</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Matthew Jackson.</p>
<br />
<br />
<br />
{% endblock %}