{% extends "base.html" %}  {% block title %}Anthropologists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Anthropologists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/anthropologists.html">
    You Gotta Know These Anthropologists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.magazine.columbia.edu/article/genius-work-how-
        franz-boas-created-field-cultural-anthropology">Franz Boas</a> 
        (1858&ndash;1942) Often called the founder of modern anthropology, 
        this first professor of anthropology at 
        <span style="font-weight: bold;">Columbia University</span> trained 
        <span style="font-weight: bold;">Margaret Mead</span>, 
        <span style="font-weight: bold;">Ruth Benedict</span>, 
        <span style="font-weight: bold;">Alfred Kroeber</span>, author 
        <span style="font-weight: bold;">Zora Neale Hurston</span>, and 
        many others. He conducted fieldwork on the 
        <span style="font-weight: bold;">Inuits</span> of 
        <span style="font-weight: bold;">Baffin Island</span> and the 
        <span style="font-weight: bold;">Kwakiutl</span> (now referred to as 
        <span style="font-weight: bold;">Kwakwaka&#8217;wakw</span>) on 
        <span style="font-weight: bold;">Vancouver Island</span>. His 
        publications include 1911&#8217;s <i style="font-weight: bold;">
        The Mind of Primitive Man</i>, which describes a gift-giving 
        ceremony known as the <span style="font-weight: bold;">
        &#8220;potlatch.&#8221;</span>
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.britannica.com/
        biography/Margaret-Mead">Margaret Mead</a> (1901&ndash;1978) For her 
        best-known work, <i style="font-weight: bold;">Coming of Age in Samoa
        </i>, Mead interviewed young girls on the island 
        <span style="font-weight: bold;">Ta&#8217;u</span>, which led her 
        to conclude that adolescence in Samoan society was much less 
        stressful than in the United States; in <i style="font-weight: bold;">
        The Fateful Hoaxing of Margaret Mead</i>, 
        <span style="font-weight: bold;">Derek Freeman</span> claimed that 
        she was lied to in those interviews. She also studied three tribes 
        in <span style="font-weight: bold;">New Guinea</span> &mdash; the 
        <span style="font-weight: bold;">Arapesh</span>, 
        <span style="font-weight: bold;">Mundugumor</span>, and 
        <span style="font-weight: bold;">Tchambuli</span> &mdash; for her 
        book on <i style="font-weight: bold;">Sex and Temperament in Three 
        Primitive Societies</i>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://vcencyclopedia.
        vassar.edu/alumni/ruth-benedict.html">Ruth Benedict</a> 
        (1887&ndash;1948) A colleague and friend of 
        <span style="font-weight: bold;">Margaret Mead</span>, Benedict 
        studied the <span style="font-weight: bold;">Zuni</span>, 
        <span style="font-weight: bold;">Dobu</span>, and 
        <span style="font-weight: bold;">Kwakiutl</span> cultures in 
        <i style="font-weight: bold;">Patterns of Culture</i>, using them 
        to illustrate the idea of a society&#8217;s culture as 
        <span style="font-weight: bold;">&#8220;personality writ 
        large.&#8221;</span> She also described 
        <span style="font-weight: bold;">Japanese</span> culture in 
        <i style="font-weight: bold;">The Chrysanthemum and the Sword</i>, 
        a work written during World War II at the request of the U.S. 
        government.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.anthrobase.com/
        Dic/eng/pers/malinowski_bronislaw_k.htm">Bronis&#322;aw Malinowski
        </a> <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">[BROH-nee-swaf mah-lee-NAWF-skee]</span> 
        (1884&ndash;1942) The Polish-born Malinowski studied at the 
        <span style="font-weight: bold;">London School of Economics</span>, 
        where he would later spend most of his career.  He described the 
        <span style="font-weight: bold;">&#8220;kula ring&#8221;</span> 
        gift exchanges found in the <span style="font-weight: bold;">
        Trobriand Islands</span> in <i style="font-weight: bold;">Argonauts 
        of the Western Pacific</i>, and the use of 
        <span style="font-weight: bold;">magic</span> in agriculture in 
        <i style="font-weight: bold;">Coral Gardens and Their Magic</i>. 
        He also argued, in opposition to <span style="font-weight: bold;">
        Sigmund Freud</span>, that the <span style="font-weight: bold;">
        Oedipus complex</span> was not a universal element of human culture 
        in his book on <i style="font-weight: bold;">Sex and Repression in 
        Savage Society</i>.
    </li>
	<li class="list_item">
        <span style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" >Claude L&eacute;vi-Strauss
        </span> (1908&ndash;2009) In the 1930s, L&eacute;vi-Strauss did 
        fieldwork with the <span style="font-weight: bold;">Nambikwara people
        </span> of <span style="font-weight: bold;">Brazil</span>, which 
        formed the basis for his thesis on <span style="font-weight: bold;">
        &#8220;The Elementary Structures of Kinship.&#8221;</span> He held 
        the chair in social anthropology at the 
        <span style="font-weight: bold;">Coll&egrave;ge de France</span> 
        from 1959 to 1982, during which time he published such books as 
        <i style="font-weight: bold;">The Savage Mind</i> and a tetralogy 
        about world mythology whose volumes include 
        <i style="font-weight: bold;">The Raw and the Cooked</i>. He 
        pioneered in applying the <span style="font-weight: bold;">
        structuralist</span> methods of <span style="font-weight: bold;">
        Ferdinand de&nbsp;Saussure</span> to anthropology, which led him to 
        study cultures as sets of <span style="font-weight: bold;">binary 
        oppositions</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.ias.edu/
        scholars/geertz">Clifford Geertz</a> (1926&ndash;2006) Geertz is 
        best known for his work in <span style="font-weight: bold;">symbolic 
        anthropology</span>, a view that he expounded in his book 
        <i style="font-weight: bold;">The Interpretation of Cultures</i>. 
        In that book, he introduced the term 
        <span style="font-weight: bold;">&#8220;thick description&#8221;
        </span> to describe his method of analyzing behavior within its 
        social context. One such &#8220;thick description&#8221; appears 
        in his essay <span style="font-weight: bold;">&#8220;Deep Play: 
        Notes on the Balinese Cockfight,&#8221;</span> in which Geertz 
        discusses cockfighting as a symbolic display of a certain kind of 
        <span style="font-weight: bold;">masculinity</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://adb.anu.edu.au/
        biography/radcliffe-brown-alfred-reginald-8146">Alfred Radcliffe-
        Brown</a> (1881&ndash;1955) Radcliffe-Brown is considered the 
        founder of a school of anthropology known as 
        <span style="font-weight: bold;">structural functionalism</span>, 
        which focuses on identifying the groups within a society and the 
        rules and customs that define the relationships between people. 
        His own early fieldwork was conducted in the 
        <span style="font-weight: bold;">Andaman Islands</span> and 
        <span style="font-weight: bold;">Western Australia</span>, where 
        he studied the social organization of Australian tribes. After 
        teaching in Australia, South Africa, and at the 
        <span style="font-weight: bold;">University of Chicago</span>, he 
        returned to England, where he founded the 
        <span style="font-weight: bold;">Institute of Social and Cultural 
        Anthropology</span> at <span style="font-weight: bold;">Oxford</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.giffordlectures.org/lecturers/james-george-frazer">
        James Frazer</a> (1854&ndash;1941) Frazer was a Scottish 
        anthropologist who primarily studied mythology and 
        <span style="font-weight: bold;">comparative religion</span>. His 
        magnum opus, <i style="font-weight: bold;">The Golden Bough</i>, 
        analyzed a wide range of myths that center on the death and rebirth 
        of a <span style="font-weight: bold;">solar deity</span>; the 
        original publication controversially discussed the 
        <span style="font-weight: bold;">crucifixion of Jesus</span> as 
        one such myth. The work&#8217;s title refers to a gift given to 
        <span style="font-weight: bold;">Proserpine</span> (Persephone) 
        by <span style="font-weight: bold;">Aeneas</span> so that he could 
        enter the underworld in the <i style="font-weight: bold;">Aeneid</i>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.kon-tiki.no/
        thor-heyerdahl/">Thor Heyerdahl</a> (1914&ndash;2002) In 1947, 
        Heyerdahl and five companions sailed across the Pacific Ocean &mdash; 
        going from <span style="font-weight: bold;">Peru</span> to the 
        <span style="font-weight: bold;">Tuamotu Islands</span> &mdash; on 
        a <span style="font-weight: bold;">balsa-wood raft</span> named 
        <i style="font-weight: bold;">Kon-Tiki</i>, after the 
        <span style="font-weight: bold;">Incan</span> sun god 
        <span style="font-weight: bold;">Kon-Tiki Viracocha</span>. He later 
        built two boats from <span style="font-weight: bold;">papyrus</span> 
        (<i style="font-weight: bold;">Ra</i>, which failed in 1969, and 
        <i style="font-weight: bold;">Ra&nbsp;II</i>, which succeeded in 
        1970) to sail across the Atlantic Ocean. These voyages demonstrated 
        the possibility that ancient people could have migrated around the 
        globe using only primitive rafts.
    </li>
    <li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="http://www.janegoodall.org.uk/jane-goodall/biography">Jane 
        Goodall</a> (born 1934) Goodall is a British 
        <span style="font-weight: bold;">primatologist</span> who is best 
        known for her work with <span style="font-weight: bold;">
        chimpanzees</span> in <span style="font-weight: bold;">Gombe Stream 
        National Park</span> in <span style="font-weight: bold;">Tanzania
        </span>. Her first research was carried out with 
        <span style="font-weight: bold;">Louis Leakey</span> at 
        <span style="font-weight: bold;">Olduvai Gorge</span>. In her 
        pioneering work with primates, which is detailed in such books as 
        <i style="font-weight: bold;">In the Shadow of Man</i>, she 
        discovered that chimpanzees have the ability to use 
        <span style="font-weight: bold;">tools</span>, such as inserting 
        grass into termite holes to &#8220;fish&#8221; for termites.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Brad Fischer.</p>
<br />
<br />
<br />
{% endblock %}