{% extends "base.html" %}  {% block title %}Architects{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Architects</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/architects.html">
    You Gotta Know These Architects
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Frank Lloyd Wright (1867&ndash;1959)</span> 
        Born in Wisconsin, Wright worked under 
        <span style="font-weight: bold;">Louis Sullivan</span> before 
        founding a <span style="font-weight: bold;">Chicago</span> practice. 
        His early homes, like the <span style="font-weight: bold;">Robie House
        </span> &mdash; which is adjacent to the campus of the 
        <span style="font-weight: bold;">University of Chicago</span> 
        &mdash; are in the <span style="font-weight: bold;">
        &#8220;Prairie&#8221; style</span>: horizontal orientation and low 
        roofs. His <span style="font-weight: bold;">&#8220;organic 
        architecture&#8221;</span> tries to harmonize with its inhabitants 
        and site; examples include the <span style="font-weight: bold;">
        Kaufmann House</span> (also known as 
        <span style="font-weight: bold;">Fallingwater</span>) in Pennsylvania; 
        the <span style="font-weight: bold;">Johnson Wax Building</span> in 
        Racine, Wisconsin; and <span style="font-weight: bold;">Taliesin
        </span>, his home and studio in Spring Green, Wisconsin. (There is 
        also a <span style="font-weight: bold;">Taliesin West</span>, his 
        home and studio in Arizona.)  Other notable Wright works are the 
        <span style="font-weight: bold;">Guggenheim Museum</span> in New 
        York City, the <span style="font-weight: bold;">Larkin Building
        </span> in Buffalo, the <span style="font-weight: bold;">Unity 
        Temple</span> in Oak Park, Illinois, and the 
        <span style="font-weight: bold;">Imperial Hotel</span> in Tokyo, 
        which was one of few buildings to survive a 1923 
        <span style="font-weight: bold;">earthquake</span> (though it has 
        since been demolished).
    </li>
	<li class="list_item">
        <span class="label">Walter Gropius (1883&ndash;1969)</span> Though 
        Gropius designed the <span style="font-weight: bold;">Fagus Factory
        </span> (Alfeld, Germany) and the <span style="font-weight: bold;">Pan 
        American Building</span> (New York City), he is best known for 
        founding the <span style="font-weight: bold;">Bauhaus</span>. 
        Beginning in <span style="font-weight: bold;">Weimar</span> in 1919 
        and moving to a Gropius-designed facility in 
        <span style="font-weight: bold;">Dessau</span> in 1925, the Bauhaus 
        school emphasized <span style="font-weight: bold;">functionalism
        </span>, the application of <span style="font-weight: bold;">modern 
        methods and materials</span>, and the 
        <span style="font-weight: bold;">synthesis of technology and art
        </span>. Its faculty included artists <span style="font-weight: bold;">
        Paul Klee</span>, <span style="font-weight: bold;">Wassily Kandinsky
        </span>, and <span style="font-weight: bold;">Josef Albers</span>. 
        Gropius would later head <span style="font-weight: bold;">
        Harvard&#8217;s architecture department</span> from 1938 to 1952, 
        shifting its focus to incorporate modern design and construction 
        techniques.
    </li>
	<li class="list_item">
        <span class="label">Ludwig Mies van&nbsp;der&nbsp;Rohe 
        (1886&ndash;1969)</span> The leading architect of the International 
        Style of skyscraper design, Mies (like 
        <span style="font-weight: bold;">Walter Gropius</span>) worked in 
        the office of <span style="font-weight: bold;">Peter Behrens</span>. 
        He directed the <span style="font-weight: bold;">Bauhaus</span> from 
        1930 to 1933, shutting it down before the Nazis could do so. His 
        works include the <span style="font-weight: bold;">Barcelona Pavilion
        </span> for the <span style="font-weight: bold;">1929 International 
        Exposition</span>; two adjacent apartment buildings at 
        <span style="font-weight: bold;">860 and 880 North Lake Shore Drive
        </span> in Chicago; the <span style="font-weight: bold;">New National 
        Gallery</span> in Berlin; and the <span style="font-weight: bold;">
        Seagram Building</span> in New York, which he co-designed with 
        <span style="font-weight: bold;">Philip Johnson</span>. Mies 
        asserted that <span style="font-weight: bold;">&#8220;less is 
        more&#8221;</span> as a principle of his architectural style. His 
        <span style="font-weight: bold;">glass-covered steel</span> 
        structures influenced the design of office buildings in nearly 
        every major city in the U.S.
    </li>
	<li class="list_item">
        <span class="label">I.&nbsp;M. Pei (1917&ndash;2019)</span> Born in 
        <span style="font-weight: bold;">China</span>, he emigrated to the 
        U.S. in 1935. Though he has also designed moderate-income housing, 
        Pei is best known for large-scale projects. His works include the 
        <span style="font-weight: bold;">Mile High Center</span> in Denver, 
        the <span style="font-weight: bold;">National Center for Atmospheric 
        Research</span> in Boulder, the <span style="font-weight: bold;">
        John Hancock Building</span> in Boston, the 
        <span style="font-weight: bold;">East Wing of the National Gallery 
        of Art</span> in Washington, D.C., the 
        <span style="font-weight: bold;">Fragrant Hill Hotel</span> in 
        Beijing, and the recent <span style="font-weight: bold;">Miho Museum 
        of Art</span> in Shiga, Japan. He may be best known for two fairly 
        recent works: the <span style="font-weight: bold;">glass pyramid 
        erected outside the Louvre</span> in 1989, and the 
        <span style="font-weight: bold;">Rock and Roll Hall of Fame</span> 
        in Cleveland, Ohio, completed in 1995.
    </li>
	<li class="list_item">
        <span class="label">Sir Christopher Wren (1632&ndash;1723)</span> 
        When <span style="font-weight: bold;">fire</span> destroyed much of 
        London in 1666, Wren was an Oxford astronomy professor who had 
        designed his first building just four years earlier. Charles&nbsp;II 
        named him the <span style="font-weight: bold;">King&#8217;s 
        Surveyor of Works</span> in 1669, and he was involved in rebuilding 
        more than 50 London <span style="font-weight: bold;">churches</span> 
        in the next half-century, including <span style="font-weight: bold;">
        Saint Paul&#8217;s Cathedral</span>. An inscription near his tomb 
        in Saint Paul&#8217;s declares <span style="font-weight: bold;">
        &#8220;Reader, if you seek his monument, look around you.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Le&nbsp;Corbusier</span> (born class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Charles-&Eacute;douard Jeanneret</span>) 
        (1887&ndash;1965) Possibly more influential even than Wright, he 
        wrote the 1923 book <i style="font-weight: bold;">Towards a New 
        Architecture</i>, standard reading in architectural theory courses. 
        One famous Corbusian quote is <span style="font-weight: bold;">
        &#8220;A house is a machine for living in.&#8221;</span> His 
        floor plans were influenced by <span style="font-weight: bold;">
        Cubist</span> principles of division of space, and the 
        <span style="font-weight: bold;">Villa Savoye</span> (Poissy, 
        France) is his best-known early work.  He wrote of the 
        <span style="font-weight: bold;">&#8220;Radiant City&#8221;</span> 
        begun anew, a completely planned city with skyscrapers for residents. 
        Applications of his approach to government buildings (such as in 
        Brasilia or in Chandigarh, India), however, largely failed, as did 
        many urban renewal projects produced on the same ideological 
        foundation. Nonetheless, he influenced every other 20th-century 
        figure on this list.
    </li>
	<li class="list_item">
        <span class="label">Louis Sullivan (1856&ndash;1924)</span> Sullivan 
        did not design the first <span style="font-weight: bold;">skyscraper
        </span>, but did become a vocal champion of skyscrapers as 
        reflections of the modern age.  Though most associated with 
        <span style="font-weight: bold;">Chicago</span>, his best-known 
        work is the 1891 <span style="font-weight: bold;">Wainwright Building
        </span> in St.&nbsp;Louis.  His partnership with 
        <span style="font-weight: bold;">Dankmar Adler</span> produced over 
        100 buildings.  Later works, such as the 
        <span style="font-weight: bold;">Babson</span>, 
        <span style="font-weight: bold;">Bennett</span>, and 
        <span style="font-weight: bold;">Bradley Houses</span>, reflect 
        an organic architecture distinct from that of his onetime employee 
        <span style="font-weight: bold;">Frank Lloyd Wright</span>. 
        Sullivan&#8217;s dictum that <span style="font-weight: bold;">
        &#8220;form should follow function&#8221;</span> strongly influenced 
        modern architecture; his writings helped break the profession from 
        classical restraints.
    </li>
	<li class="list_item">
        <span class="label">Filippo Brunelleschi <span style="font-weight: bold; 
        font-size: 85%; color: rgb(78, 78, 78);">broo-nuh-
        LESS-kee</span></span> (1377&ndash;1446) A friend of 
        <span style="font-weight: bold;">Donatello</span>, Brunelleschi 
        was a skilled <span style="font-weight: bold;">sculptor</span> and 
        <span style="font-weight: bold;">goldsmith</span>, whose 1401 
        competition with <span style="font-weight: bold;">Lorenzo Ghiberti
        </span> for the commission of the bronze 
        <span style="font-weight: bold;">doors of the Florence Baptistery
        </span> is a frequent question topic (Ghiberti got the chief 
        commission). As an architect, he is mainly known for the 
        extraordinary <span style="font-weight: bold;">octagonally-based 
        dome</span> of the cathedral of <span style="font-weight: bold;">
        Santa Maria del Fiore</span> (also known as the 
        <span style="font-weight: bold;">Florence Cathedral</span> and 
        often called the <span style="font-weight: bold;">Duomo</span>, 
        though that is just the general Italian term for a cathedral), 
        which dominates the Florentine skyline and is across the street 
        from the Florence Baptistery.  The task required an innovative 
        supporting framework and occupied much of his career (as described 
        in detail in <span style="font-weight: bold;">Giorgio Vasari</span>
        &#8217;s <i style="font-weight: bold;">Lives of the Artists</i>). 
        Other projects include the <span style="font-weight: bold;">Spedale 
        degli Innocenti</span> (a hospital), the 
        <span style="font-weight: bold;">Old Sacristy</span> at San Lorenzo, 
        and the <span style="font-weight: bold;">Pazzi Chapel</span> in the 
        <span style="font-weight: bold;">Cloisters of Santa Croce</span>, 
        all from 1421 to 1430.
    </li>
	<li class="list_item">
        <span class="label">Frank Gehry (1929&ndash;present)</span> Winner 
        of the 1989 <span style="font-weight: bold;">Pritzker Prize</span>, 
        Gehry is best-known today for large-scale compositions like the 
        <span style="font-weight: bold;">Museum of Pop Culture</span> in 
        Seattle (formerly known as the <span style="font-weight: bold;">EMP 
        Museum</span> and <span style="font-weight: bold;">Experience Music 
        Project</span>), the <span style="font-weight: bold;">Walt Disney 
        Concert Hall</span> in Los Angeles, and the recent, controversial 
        <span style="font-weight: bold;">Guggenheim Museum in Bilbao</span>, 
        Spain. (Bilbao natives describe the latter as &#8220;the 
        artichoke,&#8221; because of its layers of abstract titanium 
        structures.) Gehry often uses uncommon materials such as 
        <span style="font-weight: bold;">plywood</span> and 
        <span style="font-weight: bold;">limestone</span>; his designs 
        range from Kobe&#8217;s <span style="font-weight: bold;">Fishdance 
        Restaurant</span>, shaped like a giant fish, to the soft-sculpture 
        look of the so-called <span style="font-weight: bold;">&#8220;Fred 
        and Ginger&#8221; buildings</span> in Prague. He also designs 
        furniture: the <span style="font-weight: bold;">Easy Edges</span> 
        line is made of laminated cardboard; the Gehry Collection consists 
        of <span style="font-weight: bold;">chairs named for hockey terms
        </span> (e.g. Cross Check and Power Play).
    </li>
	<li class="list_item">
        <span class="label">Andrea Palladio (1508&ndash;1580)</span> Born 
        Andrea di Pietro della Gondola, Palladio designed 
        <span style="font-weight: bold;">villas</span> in and near Venice, 
        including the <span style="font-weight: bold;">Villa Rotonda</span> 
        and <span style="font-weight: bold;">Villa Barbaro</span>. He 
        integrated <span style="font-weight: bold;">Greco-Roman ideas</span> 
        of hierarchy, proportion, and order with contemporary Renaissance 
        styles. His <i style="font-weight: bold;">Four Books on Architecture
        </i> from 1570 relates his theoretical principles. Among architects 
        heavily influenced by Palladio were <span style="font-weight: bold;">
        Inigo Jones</span> and <span style="font-weight: bold;">Thomas 
        Jefferson</span>.
    </li>
	<li class="list_item">
        <span class="label">Eero Saarinen (1910&ndash;1961)</span> The son 
        of architect <span style="font-weight: bold;">Eliel Saarinen</span>, 
        Eero was born in <span style="font-weight: bold;">Finland</span> but 
        spent most of his life in the U.S. and died in Ann Arbor, Michigan. 
        He designed many buildings on the <span style="font-weight: bold;">
        campuses of MIT</span> and <span style="font-weight: bold;">Yale
        </span>, as well as <span style="font-weight: bold;">Dulles 
        International Airport</span> in Washington, D.C. and the 
        <span style="font-weight: bold;">TWA terminal at John F. Kennedy 
        Airport</span> in New York. Saarinen may be best known for designing 
        the <span style="font-weight: bold;">Gateway Arch</span> in St. 
        Louis, though he died before it was completed. Many of his works 
        are characterized by elegant, sweeping forms, such as the 
        <span style="font-weight: bold;">Kresge Auditorium</span> at MIT.
    </li>
	<li class="list_item">
        <span class="label">Antoni Gaud&iacute; (1852&ndash;1926)</span> 
        Gaud&iacute; created many extraordinary buildings in 
        <span style="font-weight: bold;">Barcelona</span> in the early 20th 
        century.  His <span style="font-weight: bold;">Art Nouveau</span>
        -inspired works include the <span style="font-weight: bold;">Casa 
        Mila</span> and <span style="font-weight: bold;">Casa Batllo</span> 
        apartments, known from their undulating fa&ccedil;ades, and several 
        works for patron <span style="font-weight: bold;">Eusebi Guell
        </span>, including the <span style="font-weight: bold;">Parc Guell
        </span>, a park in Barcelona. He spent 40 years working on the 
        <span style="font-weight: bold;">Expiatory Church of the Holy 
        Family</span> (also known as <span style="font-weight: bold;">
        La Sagrada Familia</span>), which will be finished in 2026. He was 
        also fond of using <span style="font-weight: bold;">hyperbolic 
        paraboloids</span> in his work.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Raj Dhuwalia.</p>
<br />
<br />
<br />
{% endblock %}