{% extends "base.html" %}  {% block title %}Authors of Speculative Fiction{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Authors of Speculative Fiction</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/authors-of-speculative-fiction.html">
    You Gotta Know These Authors of Speculative Fiction
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Mary Shelley</span> (1797&ndash;1851, United 
        Kingdom). As the daughter of the philosophers 
        <span style="font-weight: bold;">William Godwin</span> and 
        <span style="font-weight: bold;">Mary Wollstonecraft</span> (the 
        author of <i style="font-weight: bold;">A Vindication of the Rights 
        of Woman</i>), and the wife of the poet 
        <span style="font-weight: bold;">Percy Bysshe Shelley</span>, Mary 
        Shelley was a product of both the <span style="font-weight: bold;">
        Enlightenment</span> and <span style="font-weight: bold;">Romantic 
        eras</span>. Her 1818 novel <i style="font-weight: bold;">
        Frankenstein; or the Modern Prometheus</i> helped to lay the 
        groundwork for modern science fiction by contrasting Enlightenment 
        ideas of progress with a Romantic conception of 
        <span style="font-weight: bold;">nature as an untameable force</span>. 
        The idea for <i>Frankenstein</i> came to Shelley while she was taking 
        part in a friendly writing competition at 
        <span style="font-weight: bold;">Lord Byron</span>&#8217;s villa on 
        Lake Geneva. Inspired by <span style="font-weight: bold;">Luigi 
        Galvani</span>&#8217;s experiments in <span style="font-weight: bold;">
        &#8220;animal electricity,&#8221;</span> Shelley wrote about the 
        Swiss scientist <span style="font-weight: bold;">Victor Frankenstein
        </span>, who reanimates dead tissue and creates a 
        <span style="font-weight: bold;">&#8220;monster.&#8221;</span> This 
        attempt to control nature fails, as the monster 
        <span style="font-weight: bold;">murders Frankenstein&#8217;s brother 
        William</span>, friend <span style="font-weight: bold;">Henry 
        Clerval</span>, and wife <span style="font-weight: bold;">Elizabeth
        </span> before fleeing to the <span style="font-weight: bold;">
        Arctic</span>. Frankenstein pursues his creation, and tells his 
        story to the explorer <span style="font-weight: bold;">Robert Walton
        </span> before dying. Shelley presented an even bleaker scenario in 
        her 1826 novel <i style="font-weight: bold;">The Last Man</i>, 
        which describes <span style="font-weight: bold;">Lionel Verney
        </span>&#8217;s efforts to survive a 21st-century plague that 
        devastates human civilization.
    </li>
	<li class="list_item">
        <span class="label">Jules Verne</span> (1828&ndash;1905, France). 
        Verne offered a <span style="font-weight: bold;">brighter vision 
        of technological progress</span> in his novels of 
        <span style="font-weight: bold;">adventure</span>, many of which 
        doubled as works of popular science. In Verne&#8217;s 1864 novel 
        <i style="font-weight: bold;">Journey to the Center of the Earth</i>, 
        <span style="font-weight: bold;">Professor Lidenbrock</span> explains 
        contemporary theories of geology and paleontology as he leads an 
        expedition that travels beneath the Earth&#8217;s crust from 
        <span style="font-weight: bold;">Iceland</span> to the Italian volcano 
        <span style="font-weight: bold;">Stromboli</span>. Verne later wrote 
        the 1870 novel <i style="font-weight: bold;">Twenty Thousand Leagues 
        Under the Sea</i>, whose narrator <span style="font-weight: bold;">
        Pierre Aronnax</span> offers extensive commentary on marine biology 
        while accompanying the mysterious <span style="font-weight: bold;">
        Captain Nemo</span> on a voyage in the submarine 
        <i style="font-weight: bold;">Nautilus</i>. In a more realistic 
        vein, Verne considered the possibilities presented by new forms of 
        transportation in the 1873 novel <i style="font-weight: bold;">
        Around the World in Eighty Days</i>, which describes a trip taken 
        by the Englishman <span style="font-weight: bold;">Phileas Fogg
        </span> and his French valet <span style="font-weight: bold;">Jean 
        Passepartout</span>. During his travels, which are undertaken to 
        win a bet with members of the <span style="font-weight: bold;">
        Reform Club</span>, Fogg falls in love with an Indian woman named 
        <span style="font-weight: bold;">Aouda</span>, and is pursued by 
        the Scotland Yard detective <span style="font-weight: bold;">Fix
        </span>, who mistakenly believes that Fogg is a bank robber. Fogg 
        ultimately <span style="font-weight: bold;">wins his bet</span> to 
        return to the Reform Club within 80 days of his departure, with the 
        help of an extra day gained by traveling eastward.
    </li>
	<li class="list_item">
        <span class="label">Herbert George Wells</span> (1866&ndash;1946, 
        United Kingdom). H. G. Wells used speculative fiction to explore the 
        <span style="font-weight: bold;">social issues</span> of his day from 
        a <span style="font-weight: bold;">left-wing</span> perspective. In 
        the 1895 novella <i style="font-weight: bold;">The Time Machine</i>, 
        Wells wrote about a <span style="font-weight: bold;">&#8220;Time 
        Traveller&#8221;</span> who visits the year 
        <span style="font-weight: bold;">AD&nbsp;802,701</span>, and learns 
        that humanity has diverged into two different species&mdash;the 
        surface-dwelling <span style="font-weight: bold;">Eloi</span>, who 
        are gentle and beautiful but intellectually limited, and the 
        subterranean <span style="font-weight: bold;">Morlocks</span>, who 
        resemble apes but are strong and clever enough to use the Eloi as 
        livestock. The Time Traveller speculates that the Eloi are descended 
        from aristocrats who were once served by the ancestors of the 
        Morlocks. After writing about time travel, Wells helped to establish 
        another of science fiction&#8217;s key themes by depicting an alien 
        invasion in the 1897 novel <i style="font-weight: bold;">The War 
        of the Worlds</i>. The anonymous narrator of <i>The War of the 
        Worlds</i> observes a <span style="font-weight: bold;">Martian 
        spaceship</span> that lands in <span style="font-weight: bold;">
        Surrey</span>, and flees the <span style="font-weight: bold;">
        &#8220;Tripods&#8221;</span> and <span style="font-weight: bold;">
        &#8220;Black Smoke&#8221;</span> that the Martians use as weapons 
        in the conquest of Earth. The invaders easily overcome human 
        resistance, but eventually perish from 
        <span style="font-weight: bold;">lack of immunity</span> to Earth 
        microbes. Wells also wrote several novels about researchers who use 
        science to pursue unethical goals. In the 1896 Wells novel 
        <i style="font-weight: bold;">The Island of Dr.&nbsp;Moreau</i>, 
        the shipwrecked <span style="font-weight: bold;">Edward Prendick
        </span> discovers that the title vivisectionist performs painful 
        experiments to transform animals into human-like 
        <span style="font-weight: bold;">&#8220;Beast Folk.&#8221;</span> 
        A year later Wells published <i style="font-weight: bold;">The 
        Invisible Man</i>, which centers on a student of physics named 
        <span style="font-weight: bold;">Griffin</span> who plans to use his 
        invisibility to enact a <span style="font-weight: bold;">
        &#8220;reign of terror.&#8221;</span> However, Griffin&#8217;s 
        invisibility makes it difficult for him to exist in society (he 
        must cover himself with clothes and thick bandages if he wishes 
        to be seen), and he is eventually killed by an angry crowd.
    </li>
	<li class="list_item">
        <span class="label">Aldous Huxley</span> (1894&ndash;1963, 
        United Kingdom). Aldous Huxley belonged to a prominent family of 
        British intellectuals that included the Victorian 
        <span style="font-weight: bold;">evolutionist</span> 
        <span style="font-weight: bold;">Thomas Henry Huxley</span>. 
        Although Aldous Huxley depicted his own social milieu in novels such 
        as <i style="font-weight: bold;">Crome Yellow</i> and 
        <i style="font-weight: bold;">Point Counter Point</i>, he is best 
        known for writing about a dystopian <span style="font-weight: bold;">
        &#8220;World State&#8221;</span> in the 1932 novel 
        <i style="font-weight: bold;">Brave New World</i>. Extrapolating from 
        <span style="font-weight: bold;">Henry Ford</span>&#8217;s model of 
        industrial production and contemporary advances in biochemistry, 
        Huxley imagined a world in which the fictional 
        <span style="font-weight: bold;">&#8220;Bokanovsky&#8217;s 
        Process&#8221;</span> is used to create human clones, which are 
        then modified to posses different intellectual abilities, and sorted 
        into social <span style="font-weight: bold;">castes</span> named 
        after the Greek letters <span style="font-weight: bold;">Alpha</span>, 
        <span style="font-weight: bold;">Beta</span>, 
        <span style="font-weight: bold;">Gamma</span>, 
        <span style="font-weight: bold;">Delta</span>, and 
        <span style="font-weight: bold;">Epsilon</span>. Inhabitants of the 
        World State enjoy a prosperous existence, immersive entertainment 
        known as <span style="font-weight: bold;">Feelies</span>, and the drug 
        <span style="font-weight: bold;">soma</span>, but lack family 
        connections and spiritual fulfillment. The shallow pleasures of the 
        World State are contrasted with the ideals of 
        <span style="font-weight: bold;">John the Savage</span>, a young man 
        who grew up on a New Mexico reservation. John is initially delighted 
        to meet the World State residents <span style="font-weight: bold;">
        Bernard Marx</span> and <span style="font-weight: bold;">Lenina Crowne
        </span>, and excitedly quotes the &#8220;Brave New World&#8221; 
        speech from Shakespeare&#8217;s play <i style="font-weight: bold;">
        The Tempest</i>. However, John soon grows disgusted with 
        &#8220;civilization.&#8221; After the <span style="font-weight: bold;">
        World Controller Mustapha Mond</span> forbids John from living on an 
        isolated island with the aspiring writer 
        <span style="font-weight: bold;">Helmholtz Watson</span>, John 
        unsuccessfully tries to retreat from society, and eventually 
        <span style="font-weight: bold;">hangs himself</span>.
    </li>
	<li class="list_item">
        <span class="label">George Orwell</span> (1903&ndash;1950, United 
        Kingdom). George Orwell (the pen name of 
        <span class="label">Eric Arthur Blair</span>) condemned the 
        totalitarian government of <span style="font-weight: bold;">Joseph 
        Stalin</span> in the fantasy <i style="font-weight: bold;">Animal 
        Farm</i> and the <span style="font-weight: bold;">dystopian novel
        </span> <i style="font-weight: bold;">Nineteen Eighty-Four</i>. 
        Orwell&#8217;s speculative fiction was part of a wide-ranging body 
        of work that also included <span style="font-weight: bold;">attacks 
        on British colonialism</span> (the essay &#8220;Shooting an 
        Elephant&#8221; and the novel <i style="font-weight: bold;">Burmese 
        Days</i>), first-hand <span style="font-weight: bold;">accounts of 
        war</span> (<i style="font-weight: bold;">Homage to Catalonia</i>) 
        and poverty (<i style="font-weight: bold;">Down and Out in Paris 
        and London</i>, <i style="font-weight: bold;">The Road to Wigan 
        Pier</i>), and works of <span style="font-weight: bold;">cultural 
        criticism</span> (the essay &#8220;Politics and the English 
        Language&#8221;). After taking part in the 
        <span style="font-weight: bold;">Spanish Civil War</span> and 
        growing alarmed at the authoritarian nature of 
        <span style="font-weight: bold;">Russian communism</span>, Orwell 
        wrote the 1945 novel <i style="font-weight: bold;">Animal Farm</i> 
        as an <span style="font-weight: bold;">allegory</span> of the 
        Russian Revolution and its aftermath. <i>Animal Farm</i> describes 
        barnyard animals who revolt against their owner, and try to create 
        a more equitable society under the leadership of the pig 
        <span style="font-weight: bold;">Snowball</span>, who develops 
        principles of <span style="font-weight: bold;">&#8220;Animalism&#8221;
        </span> such as <span style="font-weight: bold;">&#8220;Four legs 
        good, two legs bad.&#8221;</span> However, Snowball is soon ousted 
        by his fellow pig <span style="font-weight: bold;">Napoleon</span>, 
        who exploits the other animals, sends the horse 
        <span style="font-weight: bold;">Boxer</span> to be slaughtered, 
        and degrades the principles of Animalism to 
        <span style="font-weight: bold;">&#8220;all animals are equal, but 
        some animals are more equal than others.&#8221;</span> Four years 
        later, Orwell imagined a future Britain subsumed into 
        <span style="font-weight: bold;">Oceania</span>, a superpower under 
        the harsh rule of <span style="font-weight: bold;">&#8220;Big 
        Brother&#8221;</span>, in the novel <i style="font-weight: bold;">
        Nineteen Eighty-Four</i>. <span style="font-weight: bold;">Winston 
        Smith</span> and his lover <span style="font-weight: bold;">Julia
        </span> try to rebel against Big Brother, but are 
        <span style="font-weight: bold;">tortured</span> into compliance 
        in the <span style="font-weight: bold;">Ministry of Love</span>. 
        <i>Nineteen Eighty-Four</i> also described the distortion of the 
        English language for political purposes 
        (<span style="font-weight: bold;">&#8220;Newspeak&#8221;</span>), 
        and introduced many words and phrases that are still used with 
        reference to oppressive governments (<span style="font-weight: bold;">
        thoughtcrime</span>, <span style="font-weight: bold;">doublethink
        </span>, <span style="font-weight: bold;">memory hole</span>, 
        <span style="font-weight: bold;">&#8220;we&#8217;ve always been at 
        war with Eastasia,&#8221;</span> <span style="font-weight: bold;">
        &#8220;war is peace,&#8221;</span> <span style="font-weight: bold;">
        &#8220;Big Brother is watching you&#8221;</span>).
    </li>
	<li class="list_item">
		<span class="label">Isaac Asimov</span> (1920&ndash;1992, United 
        States). Along with <span style="font-weight: bold;">Robert A. 
        Heinlein</span> and <span style="font-weight: bold;">Arthur C. 
        Clarke</span>, Asimov was one of genre science fiction&#8217;s 
        <span style="font-weight: bold;">&#8220;Big Three&#8221;</span> 
        writers. During the 1930s&#8217; and 1940s&#8217; 
        <span style="font-weight: bold;">&#8220;Golden Age&#8221; of 
        science fiction pulp magazines</span>, Asimov worked closely with 
        <i style="font-weight: bold;">Astounding Science Fiction</i> editor 
        <span style="font-weight: bold;">John W. Campbell Jr.</span> to 
        create stories such as <span style="font-weight: bold;">
        &#8220;Nightfall,&#8221;</span> which describes a rare moment of 
        darkness on a planet with multiple suns, and 
        <span style="font-weight: bold;">&#8220;Robbie,&#8221;</span> the 
        first of Asimov&#8217;s many works about 
        <span style="font-weight: bold;">robots</span> with 
        <span style="font-weight: bold;">positronic brains</span>. (The 
        word &#8220;robot&#8221; was introduced by the Czech author 
        <span style="font-weight: bold;">Karel &#268;apek</span> in the 
        1920 play <i style="font-weight: bold;">R.U.R.</i>, which depicts 
        the worldwide uprising of <span style="font-weight: bold;">
        &#8220;Rossum&#8217;s Universal Robots&#8221;</span>). Before Asimov, 
        most stories about artificial life had followed the template 
        established by Shelley&#8217;s <i style="font-weight: bold;">
        Frankenstein</i>, in which a scientist who tries to usurp 
        God&#8217;s power to create life is ultimately destroyed by his own 
        creation. Asimov challenged this trope by creating the 
        <span style="font-weight: bold;">&#8220;Three Laws of Robotics,
        &#8221;</span> which robots in his stories are obligated to follow:
		<ol>
			<li style="margin-bottom: 15px; margin-top: 15px;">
                A robot may not injure a human being or, through inaction, 
                allow a human being to come to harm.
            </li>
			<li class="list_item">
                A robot must obey the orders given it by human beings, 
                except where such orders would conflict with the 
                First Law.
            </li>
			<li class="list_item">
                A robot must protect its own existence as long as such 
                protection does not conflict with the First or 
                Second Laws.
            </li>
		</ol>
		By using these laws in dozens of stories (some of which were 
        collected in the book <i style="font-weight: bold;">I, Robot</i>), 
        Asimov helped to promote a conception of robots as 
        <span style="font-weight: bold;">useful machines</span> rather than 
        inhuman monsters. Asimov is also known for his 
        <i style="font-weight: bold;">Foundation</i> series, which was 
        inspired by <span style="font-weight: bold;">Edward Gibbon</span>
        &#8217;s <i style="font-weight: bold;">The History of the Decline and 
        Fall of the Roman Empire</i>. The <i style="font-weight: bold;">
        Foundation</i> series begins when the &#8220;psychohistorian&#8221; 
        <span style="font-weight: bold;">Hari Seldon</span> realizes that the 
        Galactic Empire will soon fall, and creates the title organization 
        to limit the length of the ensuing Dark Age. Asimov eventually linked 
        together his <i style="font-weight: bold;">Robot</i> and 
        <i style="font-weight: bold;">Foundation</i> series into a 
        far-reaching &#8220;history of the future,&#8221; which also includes 
        Asimov&#8217;s novels <i style="font-weight: bold;">The Caves of 
        Steel</i>, <i style="font-weight: bold;">Pebble in the Sky</i>, and 
        <i style="font-weight: bold;">The Stars, Like Dust</i>.
	</li>
	<li class="list_item">
        <span class="label">Ray Bradbury</span> (1920&ndash;2012, United 
        States). Bradbury&#8217;s science fiction and fantasy stories often 
        contain nostalgic elements related to his 
        <span style="font-weight: bold;">Midwestern childhood</span>. The 
        Illinois community <span style="font-weight: bold;">Green Town
        </span> is the setting of Bradbury&#8217;s novels 
        <i style="font-weight: bold;">Dandelion Wine</i> and 
        <i style="font-weight: bold;">Something Wicked This Way Comes</i>, 
        both of which center on boys beginning to enter adulthood. 
        Similarly, small towns on Earth and Mars are the setting of many 
        stories in Bradbury&#8217;s 1950 collection 
        <i style="font-weight: bold;">The Martian Chronicles</i>, which is 
        made up of loosely connected works about the expeditions of human 
        <span style="font-weight: bold;">astronauts</span>, the 
        <span style="font-weight: bold;">displacement of indigenous Martians
        </span> as human settlers arrive, and a 
        <span style="font-weight: bold;">nuclear war</span> that destroys 
        most life on Earth.  Bradbury also wrote about Mars in several 
        stories that appear in his collection <i style="font-weight: bold;">
        The Illustrated Man</i>, whose title character has 
        <span style="font-weight: bold;">tattoos</span> that foretell the 
        future. Another theme that recurs in Bradbury&#8217;s works is 
        <span style="font-weight: bold;">censorship</span> and the 
        importance of literature. This theme is expressed most strongly 
        in Bradbury&#8217;s 1953 novel <i style="font-weight: bold;">
        Fahrenheit 451</i>, which depicts a dystopian future in which 
        <span style="font-weight: bold;">&#8220;firemen&#8221; burn books
        </span>. The protagonist of <i>Fahrenheit 451</i> is 
        <span style="font-weight: bold;">Guy Montag</span>, a fireman whose 
        wife <span style="font-weight: bold;">Mildred</span> is deeply 
        depressed and addicted to television programs that she watches on 
        large <span style="font-weight: bold;">&#8220;parlor walls.&#8221;
        </span> Montag begins to question his profession after meeting the 
        free-spirited <span style="font-weight: bold;">Clarisse McClellan
        </span>, and secretly preserves books to read, leading to a rebuke 
        from <span style="font-weight: bold;">Fire Captain Beatty</span>. 
        Montag is eventually pursued by a robotic attack dog called the 
        <span style="font-weight: bold;">&#8220;Mechanical Hound,&#8221;
        </span> but escapes to join a community of rebels who 
        <span style="font-weight: bold;">memorize</span> classic works 
        of literature.
    </li>
	<li class="list_item">
        <span class="label">Kurt Vonnegut</span> (1922&ndash;2007, United 
        States). Vonnegut&#8217;s fiction provides a darkly humorous 
        response to the <span style="font-weight: bold;">absurdities and 
        violence of the twentieth century</span>. During World War&nbsp;II, 
        Vonnegut was a <span style="font-weight: bold;">prisoner of war
        </span> in Germany, and lived through the Allied 
        <span style="font-weight: bold;">firebombing of Dresden</span>. 
        That experience was the basis for Vonnegut&#8217;s novel 
        <i style="font-weight: bold;">Slaughterhouse-Five</i>, in which 
        the soldier <span style="font-weight: bold;">Billy Pilgrim</span> 
        becomes <span style="font-weight: bold;">&#8220;unstuck in time,&#8221;
        </span> and perceives his life in a non-linear fashion. Billy travels 
        between the present, past, and future as he is 
        <span style="font-weight: bold;">captured</span> by the German army, 
        witnesses the destruction of Dresden, becomes a prosperous 
        <span style="font-weight: bold;">optometrist</span> in the town of 
        <span style="font-weight: bold;">Ilium</span>, is 
        <span style="font-weight: bold;">kidnapped</span> by 
        <span style="font-weight: bold;">aliens</span> and placed in a 
        <span style="font-weight: bold;">zoo</span> along with the actress 
        <span style="font-weight: bold;">Montana Wildhack</span>, and is 
        eventually <span style="font-weight: bold;">assassinated</span>. 
        <i>Slaughterhouse-Five</i> contains a number of elements that recur 
        in other Vonnegut novels, including the veteran 
        <span style="font-weight: bold;">Eliot Rosewater</span>, aliens from 
        the planet <span style="font-weight: bold;">Tralfamadore</span>, the 
        unsuccessful science fiction writer <span style="font-weight: bold;">
        Kilgore Trout</span>, and members of the wealthy 
        <span style="font-weight: bold;">Rumfoord family</span>. Vonnegut 
        also wrote the novel <i style="font-weight: bold;">Cat&#8217;s Cradle
        </i>, which describes a substance called 
        <span style="font-weight: bold;">&#8220;ice-nine&#8221;</span> that 
        instantly turns liquid water into a solid. Ice-nine was created by 
        the atomic scientist <span style="font-weight: bold;">Felix Hoenikker
        </span>, whose life is researched by the novel&#8217;s narrator, 
        John. Another thread in <i>Cat&#8217;s Cradle</i> concerns the 
        <span style="font-weight: bold;">&#8220;bittersweet lies&#8221;
        </span> of the prophet <span style="font-weight: bold;">Bokonon
        </span>, who lives on the Caribbean island 
        <span style="font-weight: bold;">San Lorenzo</span>. Bokonon 
        comments on <span style="font-weight: bold;">human stupidity</span> 
        after an accident that occurs during the funeral of the San Lorenzan 
        dictator <span style="font-weight: bold;">Papa Monzano</span> 
        causes ice-nine to fall into the ocean, destroying almost all 
        life on Earth.
    </li>
	<li class="list_item">
        <span class="label">Margaret Atwood</span> (1939&ndash;present, 
        Canada). One of Canada&#8217;s most prominent authors of literary 
        fiction, Atwood has written multiple works that combine speculative 
        elements with <span style="font-weight: bold;">psychological 
        realism</span>. In 1985 Atwood published 
        <i style="font-weight: bold;">The Handmaid&#8217;s Tale</i>, which 
        portrays a <span style="font-weight: bold;">dystopian</span> near-
        future in which the United States has been replaced by the 
        patriarchal <span style="font-weight: bold;">Republic of Gilead
        </span>. <i style="font-weight: bold;">The Handmaid&#8217;s Tale
        </i> is narrated by <span style="font-weight: bold;">Offred</span>, 
        whose role as a &#8220;handmaid&#8221; is to bear children for 
        <span style="font-weight: bold;">&#8220;the Commander&#8221;</span> 
        and his wife, <span style="font-weight: bold;">Serena Joy</span>. 
        Offred flees her oppressive existence with the help of 
        <span style="font-weight: bold;">Nick</span>, a chauffeur who claims 
        to be a member of the underground <span style="font-weight: bold;">
        Mayday</span> resistance movement. In an epilogue set in the year 
        2195, the archivist <span style="font-weight: bold;">Professor 
        Pieixoto</span> discusses Offred&#8217;s unknown fate. Atwood later 
        wrote a trilogy set in a <span style="font-weight: bold;">post-
        apocalyptic</span> world where corporations have created 
        <span style="font-weight: bold;">bioengineered diseases</span> and 
        people (<i style="font-weight: bold;">Oryx and Crake</i>, 
        <i style="font-weight: bold;">The Year of the Flood</i>, and 
        <i style="font-weight: bold;">MaddAddam</i>). In addition to her 
        speculative works, Atwood has also written 
        <span style="font-weight: bold;">historical fiction</span> 
        (<i style="font-weight: bold;">Alias Grace</i> and 
        <i style="font-weight: bold;">The Blind Assassin</i>, the latter 
        of which contains a character who is a science fiction author), 
        novels about the relationships between female friends 
        (<i style="font-weight: bold;">Cat&#8217;s Eye</i> and 
        <i style="font-weight: bold;">The Robber Bride</i>), and a 
        retelling of <span style="font-weight: bold;">Homer</span>&#8217;s 
        <span style="font-weight: bold;">Odyssey</span> from a female 
        point of view (<i style="font-weight: bold;">The Penelopiad</i>).
    </li>
	<li class="list_item">
        <span class="label">Douglas Adams</span> (1952&ndash;2001, United 
        Kingdom). Adams wrote <span style="font-weight: bold;">comic science 
        fiction and fantasy novels</span> that poked fun at genre tropes 
        and the quirks of British culture. After working on 
        <i style="font-weight: bold;">Monty Python&#8217;s Flying Circus
        </i>, Adams created the BBC radio series <i style="font-weight: bold;">
        The Hitchhiker&#8217;s Guide to the Galaxy</i>, which premiered in 
        1978. The radio series became the basis of a series of novels (<i>The 
        Hitchhiker&#8217;s Guide to the Galaxy</i>; 
        <i style="font-weight: bold;">The Restaurant at the End of the 
        Universe</i>; <i style="font-weight: bold;">Life, the Universe, 
        and Everything</i>; <i style="font-weight: bold;">So Long, and 
        Thanks for All the Fish</i>; <i style="font-weight: bold;">Mostly 
        Harmless</i>; and the authorized sequel <i style="font-weight: bold;">
        And Another Thing&hellip;</i>, which was written by 
        <i style="font-weight: bold;">Artemis Fowl</i> author 
        <span style="font-weight: bold;">Eoin Colfer</span> after Adams died). 
        The <i style="font-weight: bold;">Hitchhiker&#8217;s</i> series 
        focuses on <span style="font-weight: bold;">Arthur Dent</span>, an 
        ordinary Englishman who becomes one of the last humans in the universe 
        after Earth is destroyed by the alien <span style="font-weight: bold;">
        Vogons</span>. Arthur and his friend <span style="font-weight: bold;">
        Ford Prefect</span> travel on a starship named the 
        <i style="font-weight: bold;">Heart of Gold</i>, along with the 
        <span style="font-weight: bold;">&#8220;paranoid android&#8221;</span> 
        <span style="font-weight: bold;">Marvin</span>, the two-headed 
        galactic president <span style="font-weight: bold;">Zaphod 
        Beeblebrox</span>, and the human scientist 
        <span style="font-weight: bold;">Trillian</span>. Arthur eventually 
        discovers that &#8220;answer to <span style="font-weight: bold;">the 
        ultimate question of life, the universe, and everything</span>&#8221; 
        is 42 (although the question itself remains unknown). Characters in 
        the <i>Hitchhiker&#8217;s Guide to the Galaxy</i> series sometimes 
        consult the title reference work, which offers the advice 
        <span style="font-weight: bold;">&#8220;Don&#8217;t Panic,&#8221;
        </span> encourages hitchhikers to carry 
        <span style="font-weight: bold;">towels</span> at all times, and 
        provides the recipe for a drink called the 
        <span style="font-weight: bold;">&#8220;Pan Galactic Gargle 
        Blaster.&#8221;</span> Besides the <i style="font-weight: bold;">
        Hitchhiker&#8217;s</i> series, Adams also co-authored two books 
        offering comic definitions of British place names 
        (<i style="font-weight: bold;">The Meaning of Liff</i> and 
        <i style="font-weight: bold;">The Deeper Meaning of Liff</i>), and 
        wrote a pair of novels about the supernatural adventures of the 
        private investigator Dirk Gently (<i style="font-weight: bold;">
        Dirk Gently&#8217;s Holistic Detective Agency</i> and 
        <i style="font-weight: bold;">The Long Dark Tea-Time of the Soul</i>).
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Larissa Kelly.</p>
<br />
<br />
<br />
{% endblock %}