{% extends "base.html" %}  {% block title %}Black American Legislators{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Black American Legislators</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/black-american-legislators.html">
    You Gotta Know These Black American Legislators
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Hiram Revels</span> (1827&ndash;1901) was a U.S. 
        <span style="font-weight: bold;">senator from Mississippi</span> from 
        1870&ndash;1871. Revels, who was born free in North Carolina, was of 
        mixed ancestry; he was both the first person with Black ancestry, and 
        the first person with Native American ancestry, to serve in Congress. 
        He was not popularly elected (the 17th Amendment had not yet been 
        passed); rather, he was <span style="font-weight: bold;">chosen by the 
        Mississippi state senate</span>. Democrats objected to Revels (a 
        Republican) being seated; they claimed that since the 
        <span style="font-weight: bold;">14th Amendment</span> had only been 
        ratified in 1868, Revels had only been a citizen for two years, not 
        the nine years required to serve in the Senate. As a senator, Revels 
        successfully argued that <span style="font-weight: bold;">Georgia 
        should not be readmitted to the Union</span> until it allowed 
        Black persons to serve in its state legislature. After his time in 
        the senate, Revels served as the first president of what is now 
        <span style="font-weight: bold;">Alcorn State University</span>, 
        America&#8217;s first land-grant HBCU.
    </li>
    <li class="list_item">
        <span class="label">P.&nbsp;B.&nbsp;S. Pinchback</span> 
        (1837&ndash;1921) was the <span style="font-weight: bold;">first Black 
        governor</span> in U.S. history, serving briefly as governor of 
        Louisiana from 1872&ndash;1873. Pinchback was the son of a white 
        slaveowner and a freed slave. After becoming a state senator in 1868, 
        he was appointed lieutenant governor in 1871 after Lieutenant Governor 
        <span style="font-weight: bold;">Oscar Dunn</span> (also a Black man) 
        died in office. When Governor Henry Clay Warmoth was impeached in 
        December 1872, Pinchback became acting governor through the end of 
        Warmoth&#8217;s term in January 1873. Although Pinchback was 
        <span style="font-weight: bold;">selected as a U.S. senator</span> in 
        1872, Louisiana&#8217;s white Democrats effectively blocked him from 
        ever taking his seat. After leaving politics, Pinchback became an 
        active member of the <span style="font-weight: bold;">Comit&eacute; 
        des Citoyens</span>, a group of New Orleans citizens who organized 
        Homer Plessy&#8217;s challenge to Louisiana&#8217;s segregated 
        transportation laws, leading to the Supreme Court case 
        <i style="font-weight: bold;">Plessy v. Ferguson</i>.
    </li>
    <li class="list_item">
        <span class="label">Edward Brooke&nbsp;III</span> (1919&ndash;2015) 
        was the <span style="font-weight: bold;">Massachusetts Attorney 
        General</span> from 1963&ndash;1967 and a 
        <span style="font-weight: bold;">U.S. senator from Massachusetts
        </span> from 1967&ndash;1979. He was the 
        <span style="font-weight: bold;">first Black state attorney general
        </span> and the <span style="font-weight: bold;">first popularly-
        elected Black U.S. senator</span>. Brooke was a moderate Republican 
        who was often criticized for his opposition to protest movements 
        and activists; in one speech, he controversially grouped Lester 
        Maddox with Stokely Carmichael as &#8220;extremists of White Power 
        and Black Power.&#8221; Brooke co-authored the 
        <span style="font-weight: bold;">Fair Housing Act of 1968</span> with 
        Minnesota Democrat Walter Mondale. Brooke was the 
        <span style="font-weight: bold;">first Senate Republican to 
        call for Richard Nixon&#8217;s resignation</span> during Watergate.
    </li>
    <li class="list_item">
        <span class="label">Shirley Chisholm</span> (1924&ndash;2005), 
        who represented part of Brooklyn in the 
        <span style="font-weight: bold;">U.S. House</span> from 
        1969&ndash;1983, was the <span style="font-weight: bold;">first 
        Black woman elected to Congress</span>. She used the slogan 
        <span style="font-weight: bold;">&#8220;Unbought and Unbossed,
        &#8221;</span> which was also the title of her first autobiography. 
        Chisholm was a founding member of both the 
        <span style="font-weight: bold;">Congressional Black Caucus</span> 
        (in 1971) and the <span style="font-weight: bold;">Congressional 
        Women&#8217;s Caucus</span> (in 1977). Chisholm spearheaded a 1975 
        bill that expanded the federal <span style="font-weight: bold;">
        school lunch</span> program. In 1972, Chisholm ran for the 
        Democratic nomination for president, becoming the first Black 
        candidate and first woman candidate for the nomination; she 
        received 152 delegates at the 1972 Democratic National Convention. 
        During the primary campaign, she visited segregationist candidate 
        George Wallace in the hospital after he was shot.
    </li>
    <li class="list_item">
        <span class="label">Andrew Young&nbsp;Jr.</span> (1932&ndash;) 
        served as a <span style="font-weight: bold;">U.S. representative 
        from Georgia</span> from 1973&ndash;1977. Young was the executive 
        director of the <span style="font-weight: bold;">Southern Christian 
        Leadership Conference</span> when Martin Luther King Jr. was the 
        group&#8217;s president; Young is one of the men shown pointing in 
        the direction of the shot in the <a style="color: black" 
        target="_blank"href="https://www.newyorker.com/news/news-desk/the-
        lorraine-motel-and-martin-luther-king">notable photo</a> 
        taken moments after King&#8217;s assassination in 1968. In 1977 
        Jimmy Carter appointed Young as the 
        <span style="font-weight: bold;">U.S. ambassador to the United 
        Nations</span>; Young&#8217;s tenure in that role ended following 
        a controversy in which he met with a representative of the 
        <span style="font-weight: bold;">Palestine Liberation Organization
        </span>. Young served as <span style="font-weight: bold;">mayor of 
        Atlanta</span> from 1982&ndash;1990 and was the 
        <span style="font-weight: bold;">co-chair of the 1996 Summer 
        Olympic Games</span> in Atlanta.
    </li>
    <li class="list_item">
        <span class="label">John Lewis</span> (1940&ndash;2020) 
        <span style="font-weight: bold;">represented Georgia in the U.S. 
        House</span> from 1987 until his death in 2020. Lewis was a leader 
        of the civil rights movement: he was one of the original 
        <span style="font-weight: bold;">Freedom Riders</span>, served as 
        the chairman of the <span style="font-weight: bold;">Student 
        Nonviolent Coordinating Committee</span> (SNCC), and was one of the 
        <span style="font-weight: bold;">&#8220;Big Six&#8221;</span> 
        organizers of the 1963 <span style="font-weight: bold;">March on 
        Washington</span>. Lewis worked with Hosea Williams to organize the 
        first <span style="font-weight: bold;">Selma-to-Montgomery march
        </span> for voting rights, which was brutally stopped by Alabama 
        State Troopers, who attacked the marchers and fractured Lewis&#8217;s 
        skull after the marchers passed over the 
        <span style="font-weight: bold;">Edmund Pettus Bridge</span>. In 
        2016, Lewis was among the House Democrats who led a 
        <span style="font-weight: bold;">sit-in protest in the House chamber
        </span> demanding action on gun-control legislation. Shortly before #
        Lewis&#8217;s 2020 death, he wrote a brief essay noting 
        <a style="font-weight: bold; color: black" target="_blank" 
        href="https://www.nytimes.com/2020/07/30/opinion/john-lewis-civil-
        rights-america.html" >&#8220;Together, you can redeem the soul of 
        our nation.&#8221;</a>
    </li>
    <li class="list_item">
        <span class="label">Carol Moseley Braun</span> (1947&ndash;) was a 
        <span style="font-weight: bold;">U.S. senator from Illinois</span> 
        from 1993&ndash;1999. She was the second popularly-elected Black 
        U.S. senator (after Brooke), making her the first Black woman and 
        the first Black Democrat elected to the Senate. Before becoming a 
        senator, Moseley Braun was a state representative and Cook County 
        Recorder   of Deeds. In the Senate, Moseley Braun and Maryland senator 
        Barbara Mikulski successfully challenged a policy stating that women 
        could not wear <span style="font-weight: bold;">pants on the Senate 
        floor</span>. Moseley Braun controversially met with and subsequently 
        defended the actions of Nigerian dictator 
        <span style="font-weight: bold;">Sani Abacha</span>. Moseley Braun 
        lost her 1998 re-election bid; she ran unsuccessfully in the 2004 
        Democratic presidential primary.
    </li>
    <li class="list_item">
        <span class="label">Barack Obama</span> (1961&ndash;) was a 
        <span style="font-weight: bold;">U.S. senator from Illinois</span> 
        from 2005&ndash;2008 and was the U.S. president from 2009&ndash;2017. 
        Obama rose to national prominence in 2004, while an Illinois state 
        senator and candidate for the U.S. Senate; in that year, he gave a 
        fiery <span style="font-weight: bold;">keynote address at the 
        Democratic National Convention</span> titled 
        <span style="font-weight: bold;">&#8220;The Audacity of 
        Hope,&#8221;</span> which later became the title of his second book, 
        after his 1995 memoir <i style="font-weight: bold;">Dreams from My 
        Father</i>. Obama defeated Hillary Clinton in the 2008 Democratic 
        primary, then&mdash;with running mate Joe Biden&mdash;beat 
        Republican candidate John McCain in the 2008 presidential election 
        during the Great Recession. Among the signature legislation passed 
        during the Obama administration was the 
        <span style="font-weight: bold;">Affordable Care Act</span> and the 
        <span style="font-weight: bold;">Dodd-Frank Act</span>, the latter 
        of which overhauled financial regulations and created the 
        <span style="font-weight: bold;">Consumer Financial Protection 
        Bureau</span>.
    </li>
    <li class="list_item">
        <span class="label">Kamala Harris</span> (1964&ndash;) served as 
        <span style="font-weight: bold;">California&#8217;s attorney general
        </span> from 2011&ndash;2017 and as a <span style="font-weight: bold;">
        U.S. senator</span> from California from 2017&ndash;2021. After 
        dropping out of the 2020 Democractic primary, Harris was selected as 
        Joe Biden&#8217;s running mate in the 2020 presidential election; 
        Harris subsequently became the <span style="font-weight: bold;">first 
        person of color, first Asian-American, and first woman to be vice 
        president</span> in U.S. history. Prior to Harris, two other women 
        (Geraldine Ferraro and Sarah Palin) had been unsuccessful vice 
        presidential nominees. Harris began her political career by defeating 
        incumbent Terence Hallinan in 2003 to become San Francisco&#8217;s 
        <span style="font-weight: bold;">district attorney</span>. During her 
        time as California&#8217;s attorney general, she continued her 
        predecessor Jerry Brown&#8217;s policy of 
        <span style="font-weight: bold;">refusing to defend Proposition&nbsp;8
        </span> (California&#8217;s ban on gay marriage) in court; Harris 
        later officiated at the wedding of Kristin Perry and Sandra Stier, 
        parties to the Supreme Court case <i>Hollingsworth v. Perry</i>. 
        Harris&#8217;s father is from Jamaica; her mother is from India.
    </li>
    <li class="list_item">
        <span class="label">Cory Booker</span> (1969&ndash;) was the 
        <span style="font-weight: bold;">mayor of Newark, New Jersey</span> 
        from 2006&ndash;2013 and has been a <span style="font-weight: bold;">
        U.S. senator from New Jersey</span> since 2013. Booker&#8217;s first 
        (unsuccessful) campaign for the Newark mayorship, in 2002, was 
        chronicled in the Oscar-nominated documentary 
        <i style="font-weight: bold;">Street Fight</i>. While Booker was 
        mayor of Newark, Mark Zuckerberg donated $100&nbsp;million to 
        Newark&#8217;s schools. When U.S. senator Frank Lautenberg died in 
        2013, Booker won a special election to fill Lautenberg&#8217;s seat, 
        then kept the seat in the 2014 regular election. In the Senate, Booker 
        was part of a coalition that supported the 2018 
        <span style="font-weight: bold;">First Step Act</span>, a criminal 
        justice reform bill. Booker ran unsuccessfully in the 2020 Democratic 
        presidential primary.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer David Reinstein.</p>
<br />
<br />
<br />
{% endblock %}