{% extends "base.html" %}  {% block title %}British Prime Ministers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">British Prime Ministers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/british_prime-ministers.html">
    You Gotta Know These British Prime Ministers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Robert Walpole</span> (1676&ndash;1745, 
        PM&nbsp;1721&ndash;1742): Generally recognized as the 
        <span style="font-weight: bold;">first British Prime Minister</span>, 
        Walpole established personal control over a 
        <span style="font-weight: bold;">Whig</span>-dominated Parliament on 
        behalf of the German-speaking <span style="font-weight: bold;">
        George&nbsp;I</span>. He rose to power after many rivals were 
        tarnished by the <span style="font-weight: bold;">collapse of the 
        South Sea Company</span>. His long tenure continued under 
        <span style="font-weight: bold;">George&nbsp;II</span>, but his 
        attempts to avoid British military commitments worldwide led to his 
        downfall during the <span style="font-weight: bold;">War of the 
        Austrian Succession</span>.
    </li>
    <li class="list_item">
        <span class="label">Robert Peel</span> (1788&ndash;1850, 
        PM&nbsp;1834&ndash;1835, 1841&ndash;1846): Set out the founding 
        principles of the <span style="font-weight: bold;">Conservative Party
        </span> in the <span style="font-weight: bold;">Tamworth Manifesto
        </span> and led the new party to its first general election victory. 
        The <span style="font-weight: bold;">Irish Famine</span> accelerated 
        his decision to <span style="font-weight: bold;">repeal the Corn Laws
        </span>, promoting <span style="font-weight: bold;">free trade</span> 
        by removing <span style="font-weight: bold;">grain tariffs</span>. 
        This act was achieved with <span style="font-weight: bold;">Whig
        </span> support and lost him the backing of his party.
    </li>
    <li class="list_item">
        <span class="label">Benjamin Disraeli</span> (1804&ndash;1881, 
        PM&nbsp;1868, 1874&ndash;1880): Before becoming Prime Minister, 
        Disraeli was instrumental in the passage of the 
        <span style="font-weight: bold;">Second Reform Act</span> as leader 
        of the House of Commons. Britain&#8217;s 
        <span style="font-weight: bold;">only Prime Minister of Jewish descent
        </span>, Disraeli was also a successful 
        <span style="font-weight: bold;">novelist</span>. He promoted a 
        <span style="font-weight: bold;">strong, imperial foreign policy
        </span> including investment in the <span style="font-weight: bold;">
        Suez Canal</span> and the peace achieved at the 
        <span style="font-weight: bold;">Congress of Berlin</span>.
    </li>
    <li class="list_item">
        <span class="label">William Gladstone</span> (1809&ndash;1898, 
        PM&nbsp;1868&ndash;1874, 1880&ndash;1885, 1886, 1892&ndash;1894): 
        Noted <span style="font-weight: bold;">Liberal</span> Prime Minister 
        who passed a <span style="font-weight: bold;">Third Reform Act</span> 
        and <span style="font-weight: bold;">modernized the military</span>, 
        but failed to achieve <span style="font-weight: bold;">Irish Home 
        Rule</span>. <span style="font-weight: bold;">Queen Victoria</span> 
        loathed him. During <span style="font-weight: bold;">Disraeli</span>
        &#8217;s ministry Gladstone&#8217;s campaign sensationalized the 
        &#8220;Bulgarian horrors,&#8221; suggesting that Britain needed to 
        resolve the <span style="font-weight: bold;">&#8220;Eastern 
        Question&#8221;</span> about the fate of the 
        <span style="font-weight: bold;">Ottoman Empire</span>.
    </li>
    <li class="list_item">
        <span class="label">H.&nbsp;H. Asquith</span> (1852&ndash;1928, 
        PM&nbsp;1908&ndash;1916): <span style="font-weight: bold;">Liberal
        </span> Prime Minister who made sweeping 
        <span style="font-weight: bold;">reforms</span>, including 
        <span style="font-weight: bold;">limiting the power of the unelected 
        House of Lords</span> with the <span style="font-weight: bold;">
        Parliament Act</span> in order to introduce the 
        <span style="font-weight: bold;">&#8220;People&#8217;s Budget&#8221; 
        of 1911</span>, which established <span style="font-weight: bold;">
        state pensions</span>. Not a successful wartime leader, Asquith 
        <span style="font-weight: bold;">lost control of a coalition 
        government during World War&nbsp;I</span> and was forced to 
        <span style="font-weight: bold;">resign</span> in favor of 
        <span style="font-weight: bold;">David Lloyd George</span>.
    </li>
    <li class="list_item">
        <span class="label">David Lloyd George</span> (1863&ndash;1945, 
        PM&nbsp;1916&ndash;1922): A native <span style="font-weight: bold;">
        Welsh</span> speaker who served as <span style="font-weight: bold;">
        Chancellor of the Exchequer</span> under 
        <span style="font-weight: bold;">Asquith</span>. Taking control during 
        <span style="font-weight: bold;">World War&nbsp;I</span>, he 
        represnted the U.K. at the <span style="font-weight: bold;">Paris 
        Peace Conference</span>, leading to the 
        <span style="font-weight: bold;">Treaty of Versailles</span>. After 
        the war he split the <span style="font-weight: bold;">Liberal Party
        </span> by aiming to continue the coalition government together 
        with the Conservative <span style="font-weight: bold;">Bonar Law
        </span>; the coalition collapsed after embarrassment over the 
        <span style="font-weight: bold;">independence of Ireland</span> and a 
        scandal over the <span style="font-weight: bold;">sale of 
        honors</span>.
    </li>
    <li class="list_item">
        <span class="label">Winston Churchill</span> (1874&ndash;1965, 
        PM&nbsp;1940&ndash;1945, 1951&ndash;1955): Best remembered as the 
        U.K.&#8217;s wartime prime minister from the country&#8217;s isolation 
        in 1940 to victory in 1945. The son of a major Conservative politician, 
        <span style="font-weight: bold;">Randolph Churchill</span>, the young 
        Winston Churchill was a <span style="font-weight: bold;">Liberal
        </span> who served in <span style="font-weight: bold;">Asquith</span>
        &#8217;s cabinet, becoming <span style="font-weight: bold;">First Lord 
        of the Admiralty</span> before resigning over the failure of 
        <span style="font-weight: bold;">Gallipoli</span>. As 
        <span style="font-weight: bold;">Stanley Baldwin</span>&#8217;s 
        (PM&nbsp;1923&ndash;1924, 1924&ndash;1929, 1935&ndash;1937) 
        <span style="font-weight: bold;">Chancellor of the Exchequer</span> 
        he put the U.K. on the <span style="font-weight: bold;">gold standard
        </span>. Winning a second term as Prime Minister during the 
        <span style="font-weight: bold;">Korean War</span>, in later life he 
        also won the <span style="font-weight: bold;">Nobel Prize for 
        Literature</span> and wrote <i style="font-weight: bold;">A History of 
        the English-Speaking Peoples</i>.
    </li>
    <li class="list_item">
        <span class="label">Clement Attlee</span> (1883&ndash;1967, 
        PM&nbsp;1945&ndash;1950): Won a huge <span style="font-weight: bold;">
        Labour</span> landslide victory in 1945 between the end of the war in 
        Europe and victory in Japan. He founded the modern 
        <span style="font-weight: bold;">welfare state</span> based on the 
        <span style="font-weight: bold;">Beveridge Report</span>, including 
        the<span style="font-weight: bold;">National Health Service</span> 
        under his minister <span style="font-weight: bold;">Nye Bevan</span>. 
        Attlee&#8217;s Foreign Secretary, <span style="font-weight: bold;">
        Ernest Bevin</span>, took the U.K. out of 
        <span style="font-weight: bold;">Palestine</span> and sent troops to 
        the <span style="font-weight: bold;">Korean War</span>.
    </li>
    <li class="list_item">
        <span class="label">Margaret Thatcher</span> (1925&ndash;2013, 
        PM&nbsp;1979&ndash;1990): The U.K.&#8217;s 
        <span style="font-weight: bold;">first female prime minister</span> 
        was known as the <span style="font-weight: bold;">&#8220;Iron 
        Lady.&#8221;</span> Thatcher&#8217;s divisive 1980s 
        <span style="font-weight: bold;">Conservative</span> premiership saw 
        the <span style="font-weight: bold;">collapse of British heavy 
        industry</span> and its replacement by a 
        <span style="font-weight: bold;">services-based economy</span>, 
        especially focused on <span style="font-weight: bold;">banking</span>. 
        Re-elected in 1983 after winning the <span style="font-weight: bold;">
        Falklands War</span>, she clashed with the 
        <span style="font-weight: bold;">mine workers</span>&#8217; leader 
        <span style="font-weight: bold;">Arthur Scargill</span> as well as her 
        right-hand man <span style="font-weight: bold;">Michael Heseltine
        </span>, and after losing popularity due to a 
        <span style="font-weight: bold;">poll tax</span> was ousted by her 
        own party in favor of <span style="font-weight: bold;">John Major
        </span> (PM&nbsp;1990&ndash;1997).
    </li>
    <li class="list_item">
        <span class="label">Tony Blair</span> (1953&ndash;, 
        PM&nbsp;1997&ndash;2007): Won a famous 
        <span style="font-weight: bold;">landslide</span> election victory 
        in 1997 to end 18 years of Conservative rule as his 
        <span style="font-weight: bold;">&#8220;New Labour&#8221; movement
        </span> <span style="font-weight: bold;">abandoned traditional 
        socialism</span> and moved the <span style="font-weight: bold;">
        Labour Party</span> to the center. Re-elected in 2001 and 2005, his 
        friendship and later enmity towards his 
        <span style="font-weight: bold;">Chancellor of the Exchequer</span>, 
        <span style="font-weight: bold;">Gordon Brown</span> 
        (PM&nbsp;2007&ndash;2010)  ended with Brown succeeding him as Prime 
        Minister. Blair&#8217;s close relationship with 
        <span style="font-weight: bold;">George W. Bush</span> led to the 
        U.K. joining the <span style="font-weight: bold;">invasion of Iraq
        </span> in 2003; his domestic legacy was 
        <span style="font-weight: bold;">higher public spending</span> and the 
        <span style="font-weight: bold;">devolution of Scotland</span>, 
        <span style="font-weight: bold;">Wales</span>, and 
        <span style="font-weight: bold;">Northern Ireland</span>.
    </li>
</ul>
<br />
<p style="font-weight: bold; font-size: large; font-family: Cambria;">
    Honorable mentions:
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Lord North</span> (PM&nbsp;1770&ndash;1782): 
        The <span style="font-weight: bold;">American War of Independence
        </span> was lost during his ministry.
    </li>
    <li class="list_item">
        <span class="label">William Pitt the Younger</span> 
        (PM&nbsp;1783&ndash;1801, 1804&ndash;1806) 
        <span style="font-weight: bold;">strengthened the role of the Prime 
        Minister</span> and pursued war against 
        <span style="font-weight: bold;">revolutionary France</span>.
    </li>
    <li class="list_item">
        <span class="label">Lord Liverpool</span> (PM&nbsp;1812&ndash;1827) 
        was Prime Minister at the time of victory at the 
        <span style="font-weight: bold;">Battle of Waterloo</span>, and faced 
        social turmoil, including the <span style="font-weight: bold;">
        Peterloo Massacre</span> of protesters in 
        <span style="font-weight: bold;">Manchester</span>.
    </li>
    <li class="list_item">
        <span class="label">Lord Palmerston</span> (PM&nbsp;1855&ndash;1858, 
        1859&ndash;1865): was a long-serving <span style="font-weight: bold;">
        Secretary of State</span> and the <span style="font-weight: bold;">
        first Prime Minister of the Liberal Party</span> that succeeded 
        the Whigs. He kept Britain <span style="font-weight: bold;">neutral
        </span> during the <span style="font-weight: bold;">American Civil 
        War</span>.
    </li>
    <li class="list_item">
        <span class="label">Neville Chamberlain</span> 
        (PM&nbsp;1937&ndash;1940) signed the <span style="font-weight: bold;">
        Munich Agreement</span> with Adolf Hitler, and promised 
        <span style="font-weight: bold;">&#8220;peace for our time&#8221;
        </span> with a policy of <span style="font-weight: bold;">appeasement
        </span>. British military failures in 1940 led to his replacement 
        by Churchill.
    </li>
    <li class="list_item">
        <span class="label">Harold Macmillan</span> (PM&nbsp;1957&ndash;1963) 
        said <span style="font-weight: bold;">&#8220;you&#8217;ve never had 
        it so good&#8221;</span> as the British economy recovered in the late 
        1950s. Later he purged his cabinet in a 
        <span style="font-weight: bold;">mass sacking</span> dubbed the 
        <span style="font-weight: bold;">&#8220;Night of the Long Knives&#8221;
        </span> (no relation to the 1934 executions in Nazi Germany).
    </li>
    <li class="list_item">
        <span class="label">David Cameron</span> (PM&nbsp;2010&ndash;2016) 
        led a <span style="font-weight: bold;"></span>Conservative-Liberal 
        Democrat coalition</span> government and favored 
        <span style="font-weight: bold;">austerity economics</span> and the 
        elimination of the U.K.&#8217;s <span style="font-weight: bold;">
        fiscal deficit</span>. He resigned after the 
        <span style="font-weight: bold;">Brexit</span> vote in 2016.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Edmund Dickinson.</p>
<br />
<br />
<br />
{% endblock %}