{% extends "base.html" %}  {% block title %}Explorers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Explorers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/explorers.html">
    You Gotta Know These Explorers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Marco Polo</span> 
        (c.&nbsp;1254&nbsp;&ndash;&nbsp;c.&nbsp;1324): The 
        <span style="font-weight: bold;">Venetian</span> merchant brothers 
        <span style="font-weight: bold;">Niccol&ograve;</span> and 
        <span style="font-weight: bold;">Maffeo Polo</span> traveled to 
        <span style="font-weight: bold;">China</span> in 1261, serving 
        <span style="font-weight: bold;">Kublai Khan</span> from 1266 to 1269. 
        Kublai sent them back to Europe as envoys in 1269; when they returned 
        to China in 1274 they brought Niccol&ograve;&#8217;s son Marco along. 
        The Polos served Kublai Khan until 1292, with Marco spending time as 
        governor of <span style="font-weight: bold;">Yangzhou</span>. After 
        being captured by the <span style="font-weight: bold;">Genoese</span> 
        at the naval <span style="font-weight: bold;">Battle of Curzola
        </span>, Marco Polo dictated his memoir &mdash; a text known as 
        <i style="font-weight: bold;">Il Milione</i> &mdash; to his prison 
        cellmate, <span style="font-weight: bold;">Rusticiano</span> 
        (or Rusticello) <span style="font-weight: bold;">of Pisa</span>.
    </li>
    <li class="list_item">
        <span class="label">Christopher Columbus</span> (1451&ndash;1506): 
        On his first voyage (1492), Christopher Columbus sailed for 
        <span style="font-weight: bold;">Ferdinand and Isabella of Spain
        </span>, taking the <i style="font-weight: bold;">Ni&ntilde;a</i>, 
        <i style="font-weight: bold;">Pinta</i>, and 
        <i style="font-weight: bold;">Santa Maria</i> and landing at 
        <span style="font-weight: bold;">San Salvador</span> in the 
        <span style="font-weight: bold;">Bahamas</span> (where he dubbed the 
        <span style="font-weight: bold;">Arawak</span> inhabitants 
        &#8220;Indians&#8221;) before discovering 
        <span style="font-weight: bold;">Hispaniola</span> and founding the 
        settlement of <span style="font-weight: bold;">Navidad</span> there. 
        On his second voyage (1493), he returned to Hispaniola before 
        discovering <span style="font-weight: bold;">Jamaica</span>.  On his 
        third voyage (1498), he discovered <span style="font-weight: bold;">
        South America</span>, and on his fourth voyage (1502), he landed in 
        <span style="font-weight: bold;">Central America</span>.
    </li>
    <li class="list_item">
        <span class="label">John Cabot</span> (1450&ndash;1499), class="label"family: Cambria; font-weight: bold; class="label">Jacques Cartier</span> (1491&ndash;1557), and 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Samuel de&nbsp;Champlain</span> 
        (c.&nbsp;1567&ndash;1635): Three early explorers of 
        <span style="font-weight: bold;">Canada</span>.  John Cabot, a 
        <span style="font-weight: bold;">Genoese</span> explorer, sailed for 
        <span style="font-weight: bold;">Henry&nbsp;VII</span> of England. 
        Cabot&#8217;s 1497 voyage aboard the <i style="font-weight: bold;">
        Matthew</i> landed somewhere in <span style="font-weight: bold;">
        eastern Canada</span>, probably in what is today 
        <span style="font-weight: bold;">Newfoundland</span>.  Frenchman 
        Jacques Cartier went on three expeditions (1534&ndash;1542) for 
        <span style="font-weight: bold;">Francis&nbsp;I</span>.  On the second 
        one, he sailed up the <span style="font-weight: bold;">
        St.&nbsp;Lawrence River</span> and named the hill behind the village 
        of Hochelaga <span style="font-weight: bold;">
        &#8220;Montr&eacute;al.&#8221;</span>  Fellow Frenchman Samuel 
        de&nbsp;Champlain went on several voyages (1603&ndash;1635), founding 
        what is now <span style="font-weight: bold;">Quebec City</span> 
        and becoming the first European to see 
        <span style="font-weight: bold;">Lake Huron</span>.
    </li>
    <li class="list_item">
        <span class="label">Ferdinand Magellan</span> 
        (c.&nbsp;1480&ndash;1521): <span style="font-weight: bold;">Emperor 
        Charles&nbsp;V</span> endorsed Magellan&#8217;s proposal to sail 
        <span style="font-weight: bold;">around the Americas and across the 
        Pacific</span>, and the expedition left in 1519. Magellan began with 
        five ships: the <i style="font-weight: bold;">San Antonio</i>, 
        <i style="font-weight: bold;">Trinidad</i>, 
        <i style="font-weight: bold;">Concepci&oacute;n</i>, 
        <i style="font-weight: bold;">Santiago</i>, and 
        <i style="font-weight: bold;">Victoria</i>. The expedition 
        discovered and navigated the <span style="font-weight: bold;">Strait 
        of Magellan</span> in 1520, reaching the 
        <span style="font-weight: bold;">Philippines</span> in 1521. There, 
        Magellan was <span style="font-weight: bold;">killed in battle</span> 
        on the island <span style="font-weight: bold;">Mactan</span>. Only 
        the <i>Victoria</i>, commanded by <span style="font-weight: bold;">
        Juan Sebasti&aacute;n Elcano</span>, returned to Spain in 1522.
    </li>
    <li class="list_item">
        <span class="label">Hernan Cort&eacute;s</span> 
        (c.&nbsp;1485&ndash;1547): Spanish <span style="font-weight: bold;">
        conquistador </span>who participated in the conquest of 
        <span style="font-weight: bold;">Cuba</span>. In 1519 the Cuban 
        governor <span style="font-weight: bold;">Diego Vel&aacute;zquez
        </span> (no relation to the painter of the same name) commissioned 
        Cort&eacute;s to sail west and <span style="font-weight: bold;">
        explore the mainland coast</span>. Fearing that Vel&aacute;zquez 
        would change his mind, Cort&eacute;s left Cuba secretly and began a 
        mission of conquest rather than exploration. On the coast of the 
        Yucat&aacute;n, the Cort&eacute;s expedition was joined by the 
        Spanish castaway <span style="font-weight: bold;">Ger&oacute;nimo 
        de Aguilar</span> and a <span style="font-weight: bold;">Nahua</span> 
        captive known as <span style="font-weight: bold;">&#8220;La 
        Malinche&#8221;</span> or <span style="font-weight: bold;">
        &#8220;Do&ntilde;a Marina,&#8221;</span> who served as translators. 
        After traveling north, Cort&eacute;s and his men defied the authority 
        of Vel&aacute;zquez by founding the city 
        <span style="font-weight: bold;">Veracruz</span>, an act which 
        allowed Cort&eacute;s to take legal control of the expedition. The 
        Spanish then pressed inland, surviving an 
        <span style="font-weight: bold;">attempted massacre</span> in the 
        city <span style="font-weight: bold;">Cholula</span> and making 
        allies with the <span style="font-weight: bold;">Tlaxcalans</span>, 
        who were traditional enemies of the <span style="font-weight: bold;">
        Aztecs</span>. Upon reaching the Aztec capital, 
        <span style="font-weight: bold;">Tenochtitlan</span>, Cort&eacute;s 
        and his men were welcomed by the Aztec emperor 
        <span style="font-weight: bold;">Montezuma&nbsp;II</span>. 
        Cort&eacute;s took Montezuma prisoner, but was forced to return to 
        the coast to deal with a punitive expedition sent by Vel&aacute;zquez 
        and commanded by <span style="font-weight: bold;">Panfilo de Narvaez
        </span>. Although Cort&eacute;s won the new arrivals over to his side, 
        the situation in Tenochtitlan deteriorated as the conquistador 
        <span style="font-weight: bold;">Pedro de Alvarado</span> murdered 
        celebrants at a festival. Shortly after Cort&eacute;s returned to the 
        city, Montezuma was killed and the Spanish were forced to flee during 
        the <span style="font-weight: bold;">Noche Triste</span> (Night of 
        Sorrows). After escaping, Cort&eacute;s marshalled Spanish and 
        indigenous forces to fight the Aztecs, who were successively led 
        by the emperors <span style="font-weight: bold;">Cuitlahuac</span> 
        and <span style="font-weight: bold;">Cuauhtemoc</span>. After the 
        Aztec defenders were seriously weakened by an outbreak of 
        <span style="font-weight: bold;">smallpox</span>, Cort&eacute;s and 
        his followers captured Tenochtitlan in 1521 and rebuilt it as 
        <span style="font-weight: bold;">Mexico City</span>. Much of our 
        knowledge of the conquest of Mexico comes from a follower of Cortes 
        named <span style="font-weight: bold;">Bernal D&iacute;az del 
        Castillo</span>, who wrote detailed memoirs of the expedition.
    </li>
    <li class="list_item">
        <span class="label">Francisco Pizarro</span> (c.&nbsp;1475&ndash;1541): 
        After receiving a commission from <span style="font-weight: bold;">
        Emperor Charles&nbsp;V</span>, Francisco Pizarro went with his partner 
        <span style="font-weight: bold;">Diego de Almagro</span>, the priest 
        <span style="font-weight: bold;">Hernando de Luque</span>, and a small 
        force to <span style="font-weight: bold;">Peru</span> (1530). The 
        invaders marched to the city <span style="font-weight: bold;">
        Cajamarca</span>, where they seized the emperor 
        <span style="font-weight: bold;">Atahualpa</span> and held him for 
        <span style="font-weight: bold;">ransom</span>. Even though the 
        Incas brought the Spanish a ransom of <span style="font-weight: bold;">
        precious metal</span>, Pizarro killed Atahualpa and captured 
        the Incan capital, <span style="font-weight: bold;">Cuzco</span>. 
        In 1535 Pizarro founded <span style="font-weight: bold;">Lima</span>, 
        where he was murdered six years later.
    </li>
    <li class="list_item">
        <span class="label">Sir Francis Drake</span> (c.&nbsp;1543&ndash;1596): 
        In 1576, <span style="font-weight: bold;">Elizabeth&nbsp;I</span> of 
        England sent Francis Drake to find the unknown southern continent. 
        Drake&#8217;s ship was the <i style="font-weight: bold;">Pelican</i>, 
        which he renamed the <i style="font-weight: bold;">Golden Hind</i>. 
        After sailing through the <span style="font-weight: bold;">Strait of 
        Magellan</span>, Drake sailed up the <span style="font-weight: bold;">
        western coast of South, Central, and North America</span> as far as 
        <span style="font-weight: bold;">California</span>, capturing Spanish 
        ships and treasure along the way. After circumnavigating the globe 
        and returning to England (1580), Drake fought against the 
        <span style="font-weight: bold;">Spanish Armada</span> (1588).
    </li>
    <li class="list_item">
        <span class="label">Henry Hudson</span> (ca. 1565&ndash;1611): 
        Sailing for the <span style="font-weight: bold;">Dutch</span> in 
        1609, Hudson journeyed up the New York river now named for him as 
        far as what is now <span style="font-weight: bold;">Albany</span>. 
        On his final voyage (1610), Hudson sailed for England in search of the 
        <span style="font-weight: bold;">Northwest Passage</span> aboard the 
        <i style="font-weight: bold;">Discovery</i>.  After sailing between 
        <span style="font-weight: bold;">Baffin Island</span> and 
        <span style="font-weight: bold;">Labrador</span> (now called the 
        <span style="font-weight: bold;">Hudson Strait</span>), he turned 
        south into what is now called <span style="font-weight: bold;">
        Hudson Bay</span>. There, most of his crew 
        <span style="font-weight: bold;">mutinied</span> under the leadership 
        of <span style="font-weight: bold;">Robert Juet</span>. Hudson, his 
        son, and some loyal crew members were placed in an open boat and 
        left to die.
    </li>
    <li class="list_item">
        <span class="label">James Cook</span> (1728&ndash;1779): On his first 
        voyage (1768&ndash;1771), Captain Cook sailed aboard the 
        <i style="font-weight: bold;">Endeavour</i> to observe the 
        <span style="font-weight: bold;">transit of the planet Venus</span> 
        from <span style="font-weight: bold;">Tahiti</span>. From there he 
        went to <span style="font-weight: bold;">New Zealand</span> 
        (discovering that it was two islands by sailing through what is now 
        called the <span style="font-weight: bold;">Cook Strait</span>), 
        then to <span style="font-weight: bold;">Australia
        </span>&#8217;s <span style="font-weight: bold;">Botany Bay</span>. 
        On his second voyage (1772&ndash;1775), Cook sailed aboard the 
        <i style="font-weight: bold;">Resolution</i> and became the first to 
        cross the <span style="font-weight: bold;">Antarctic Circle</span>. 
        On his third voyage (1776&ndash;1779), Cook 
        <span style="font-weight: bold;">failed to find the Northwest Passage
        </span> and was killed when he came into conflict with the 
        inhabitants of <span style="font-weight: bold;">Hawaii</span>.
    </li>
    <li class="list_item">
        <span class="label">Meriwether Lewis</span> (1774&ndash;1809) and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">William Clark</span> (1770&ndash;1838): The Lewis 
        and Clark expedition, also known as the 
        <span style="font-weight: bold;">Corps of Discovery</span>, departed 
        from <span style="font-weight: bold;">Camp Wood</span> 
        (near St.&nbsp;Louis) in 1804, sailing up the 
        <span style="font-weight: bold;">Missouri River</span>.  The group 
        wintered at <span style="font-weight: bold;">Fort Mandan</span> in 
        what is now <span style="font-weight: bold;">North Dakota
        </span>, where they met <span style="font-weight: bold;">Sacajawea
        </span>, the <span style="font-weight: bold;">
        Shoshone</span> wife of the fur trader 
        <span style="font-weight: bold;">Toussaint Charbonneau</span>. 
        The group&#8217;s last winter was spent at 
        <span style="font-weight: bold;">Fort Clatsop</span>, along the 
        <span style="font-weight: bold;">Columbia River</span> in 
        <span style="font-weight: bold;">Oregon</span> near 
        the Pacific.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Saul Hankin</p>
<br />
<br />
<br />
{% endblock %}