{% extends "base.html" %}  {% block title %}Feminists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Feminists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/feminists.html">
    You Gotta Know These Feminists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Mary Wollstonecraft</span> (1759&ndash;1797) 
        Wollstonecraft was a British author and philosopher who is best 
        known for writing <i style="font-weight: bold;">A Vindication of the 
        Rights of Women</i> (1792). In that text, she argued that women are 
        inherently equal to men, but <span style="font-weight: bold;">appear 
        inferior</span> because they do not have the same 
        <span style="font-weight: bold;">access to education</span>. Two 
        years before, Wollstonecraft had responded to 
        <span style="font-weight: bold;">Edmund Burke</span>&#8217;s 
        conservative <i style="font-weight: bold;">Reflections on the 
        Revolution in France</i> with her own <i style="font-weight: bold;">
        A Vindication of the Rights of Men</i>. Wollstonecraft&#8217;s 
        daughter, <span style="font-weight: bold;">Mary Shelley</span>, is 
        famous as the author of <i>Frankenstein</i>.
    </li>
    <li class="list_item">
        <span class="label">Lucretia Mott</span> (1793&ndash;1880) Mott was a 
        <span style="font-weight: bold;">Quaker</span> who agitated for both 
        <span style="font-weight: bold;">abolitionism</span> and women&#8217;s 
        rights. When she attended the <span style="font-weight: bold;">
        World&#8217;s Anti-Slavery Convention</span> in London in 1840, the 
        male delegates excluded Mott and the other female delegates from 
        the convention and made them sit in a segregated area. Mott then 
        turned her attention to women&#8217;s rights. She was older than many 
        of the other prominent delegates to the 
        <span style="font-weight: bold;">Seneca Falls Convention</span>, 
        including <span style="font-weight: bold;">Elizabeth Cady Stanton
        </span>, whom she mentored. Mott briefly served as the first president 
        of the <span style="font-weight: bold;">American Equal Rights 
        Association</span>. She was also one of the Quakers who founded 
        <span style="font-weight: bold;">Swarthmore College</span>.
    </li>
    <li class="list_item">
        <span class="label">Sojourner Truth</span> (1797&ndash;1883) Sojourner 
        Truth was <span style="font-weight: bold;">born into slavery</span> 
        as <span style="font-weight: bold;">Isabella Baumfree</span> in 
        Dutch-speaking New York. She gave herself the name &#8220;Sojourner 
        Truth&#8221; in 1843 when she <span style="font-weight: bold;">
        converted to Methodism</span> and informed her friends that the 
        spirit had called her. She was already well known as an 
        <span style="font-weight: bold;">abolitionist</span> 
        speaker when she attended the 1851 
        <span style="font-weight: bold;">Ohio Women&#8217;s Rights 
        Convention</span> and declared that she had &#8220;as much muscle 
        as any man&#8221; in her most famous speech, 
        <span style="font-weight: bold;">&#8220;Ain&#8217;t I a 
        Woman?&#8221;</span>.
    </li>
    <li class="list_item">
        <span class="label">John Stuart Mill</span> (1806&ndash;1873) and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Harriet Taylor Mill</span> (1807&ndash;1858) John 
        Stuart Mill was a <span style="font-weight: bold;">utilitarian</span> 
        philosopher who comes up in quiz bowl most often in conjunction with 
        his works <i style="font-weight: bold;">On Liberty</i> (1859) and 
        <i style="font-weight: bold;">Utilitarianism</i> (1863). He makes 
        this list, however, because he wrote one of the most influential 
        philosophical defenses of women&#8217;s rights, 
        <i style="font-weight: bold;">The Subjection of Women</i> (1869). 
        Mill claimed that his wife, Harriet Taylor, co-authored this text 
        with him, a claim which is debated by historians. The husband and 
        wife did write several essays together, including a tract advocating 
        women&#8217;s suffrage titled <i style="font-weight: bold;">The 
        Enfranchisement of Women</i> (1851), and Mill recognized his wife 
        as a major contributor to all his greatest works.
    </li>
    <li class="list_item">
        <span class="label">Elizabeth Cady Stanton</span> (1815&ndash;1902) 
        Stanton is most famous for writing the 
        <span style="font-weight: bold;">&#8220;Declaration of 
        Sentiments&#8221;</span> that she presented at the first 
        women&#8217;s rights conference in <span style="font-weight: bold;">
        Seneca Falls</span>, New York, in 1848. Stanton based the text of 
        her declaration on the <span style="font-weight: bold;">Declaration 
        of Independence</span>; it included the line, 
        <span style="font-weight: bold;">&#8220;We hold these truths to 
        be self-evident: that all men and women are created equal.&#8221;
        </span> Stanton was a close collaborator for many years with 
        <span style="font-weight: bold;">Susan B. Anthony</span>.
    </li>
    <li class="list_item">
        <span class="label">Susan B. Anthony</span> (1820&ndash;1906) Anthony 
        was one of the most outspoken and most famous proponents of 
        <span style="font-weight: bold;">women&#8217;s suffrage</span> in 
        the United States. Along with <span style="font-weight: bold;">
        Elizabeth Cady Stanton</span>, she co-founded the first 
        <span style="font-weight: bold;">women&#8217;s temperance</span> 
        society in the 1850s after they were excluded from an all-male 
        temperance society. Together, in 1868, the two women founded a journal 
        called <i style="font-weight: bold;">The Revolution</i>, which was 
        dedicated to promoting women&#8217;s rights. The following year, 
        Stanton and Anthony formed the <span style="font-weight: bold;">
        National Woman Suffrage Association</span>. In 1872, Anthony gained 
        fame when she was <span style="font-weight: bold;">arrested for voting
        </span> in the presidential election. She defended herself by quoting 
        the <span style="font-weight: bold;">Fourteenth Amendment</span>, 
        but she was convicted.
    </li>
    <li class="list_item">
        <span class="label">Emmeline Pankhurst</span> (1858&ndash;1928) 
        Pankhurst was the most prominent advocate for 
        <span style="font-weight: bold;">women&#8217;s 
        voting rights in the United Kingdom</span>. As one of the founders 
        of the <span style="font-weight: bold;">Women&#8217;s Social and 
        Political Union</span>, she called for 
        <span style="font-weight: bold;">direct action</span> and frequent 
        <span style="font-weight: bold;">protests</span> to force male 
        politicians to grant votes to women. Her protests frequently got her 
        <span style="font-weight: bold;">arrested</span>, and while in jail 
        she and other suffragettes often went on 
        <span style="font-weight: bold;">hunger strikes</span>. Initially, 
        prison officials brutally force-fed the hunger-striking suffragettes. 
        In 1913, Parliament passed the <span style="font-weight: bold;">Cat 
        and Mouse Act</span>, which provided for hunger strikers to be 
        released from jail and re-arrested after they regained their health. 
        As a result of the advocacy of Pankhurst and others, Parliament 
        began to grant voting rights to women in 1918.
    </li>
    <li class="list_item">
        <span class="label">Margaret Sanger</span> (1879&ndash;1966) Sanger 
        was an early advocate of <span style="font-weight: bold;">birth 
        control</span> and <span style="font-weight: bold;">reproductive 
        rights</span>; she founded the <span style="font-weight: bold;">
        American Birth Control League</span>, which evolved into 
        <span style="font-weight: bold;">Planned Parenthood</span>. As a 
        young <span style="font-weight: bold;">nurse</span> living in New 
        York City, Sanger wrote columns about sexual education for the 
        <i style="font-weight: bold;">New York Call</i> titled 
        <span style="font-weight: bold;">&#8220;What Every Mother Should 
        Know&#8221;</span> and <span style="font-weight: bold;">&#8220;What 
        Every Girl Should Know.&#8221;</span> Sanger gave up nursing after 
        one of her patients died of a <span style="font-weight: bold;">
        self&ndash;induced abortion</span>, and instead dedicated herself 
        to educating women about <span style="font-weight: bold;">
        contraception</span>. In 1914, she began writing a newsletter 
        called <i style="font-weight: bold;">The Woman Rebel</i>, in part 
        to challenge the <span style="font-weight: bold;">Comstock Act
        </span>, which prohibited the sending of &#8220;obscene&#8221; 
        material by mail, since she considered education about 
        contraception to be an issue of <span style="font-weight: bold;">
        free speech</span>.
    </li>
    <li class="list_item">
        <span class="label">Virginia Woolf</span> (1882&ndash;1941) Woolf 
        was an author who comes up in quiz bowl most often because of 
        her novels, especially <i style="font-weight: bold;">Mrs.&nbsp;Dalloway
        </i> (1925) and <i style="font-weight: bold;">To the Lighthouse</i> 
        (1927). She makes this list, however, because of her essay 
        <span style="font-weight: bold;">&#8220;A Room of One&#8217;s 
        Own&#8221;</span> (1929), in which she argued that a woman must have 
        <span style="font-weight: bold;">money</span> and 
        <span style="font-weight: bold;">space</span> in order to write 
        and <span style="font-weight: bold;">express herself</span>. In the 
        essay, Woolf famously created the character of 
        <span style="font-weight: bold;">Judith Shakespeare</span>, William 
        Shakespeare&#8217;s imagined sister, who could not achieve the 
        status of her brother because she did not have the same 
        <span style="font-weight: bold;">access to education</span>. 
        Woolf also addressed these themes in <i style="font-weight: bold;">
        Three Guineas</i> (1938).
    </li>
    <li class="list_item">
        <span class="label">Simone de&nbsp;Beauvoir</span> (1908&ndash;1986) 
        De&nbsp;Beauvoir was a French writer and philosopher perhaps best 
        known for her feminist treatise <i style="font-weight: bold;">The 
        Second Sex</i> (1949). In that work, de&nbsp;Beauvoir argued that 
        <span style="font-weight: bold;">&#8220;womanhood&#8221;</span> is 
        defined by its differences from masculinity, which is perceived as 
        normal. <i>The Second Sex</i> contains the famous line, 
        <span style="font-weight: bold;">&#8220;One is not born a woman, but 
        becomes one.&#8221;</span> The book is divided into two parts, 
        titled <span style="font-weight: bold;">&#8220;Facts and 
        Myths&#8221;</span> and <span style="font-weight: bold;">&#8220;Lived 
        Experience.&#8221;</span> One fact about de&nbsp;Beauvoir often 
        mentioned in quiz bowl questions is that she was a 
        <span style="font-weight: bold;">lover of Jean-Paul Sartre</span>. 
        She is often considered one of the pioneers of 
        <span style="font-weight: bold;">&#8220;second-wave&#8221; 
        feminism</span>, which emphasizes <span style="font-weight: bold;">
        sexuality</span>, the <span style="font-weight: bold;">workplace
        </span>, and other forms of <span style="font-weight: bold;">
        inequality</span> over the first-wave focus on 
        <span style="font-weight: bold;">voting</span> and 
        <span style="font-weight: bold;">property rights</span>.
    </li>
    <li class="list_item">
        <span class="label">Betty Friedan</span> (1921&ndash;2006) Friedan 
        was a writer and activist best known as the author of 
        <i style="font-weight: bold;">The Feminine Mystique</i> (1963) and 
        as the most prominent co-founder of the 
        <span style="font-weight: bold;">National Organization for Women
        </span>. In 1957, Friedan conducted a 
        <span style="font-weight: bold;">survey</span> of graduates of her 
        alma mater, Smith College, and found that many of them were unhappy 
        with their lives. Friedan labeled this general unhappiness 
        <span style="font-weight: bold;">&#8220;the problem with no 
        name.&#8221;</span> She then began writing <i>The Feminine Mystique
        </i>, in which she argued that being a housewife is 
        <span style="font-weight: bold;">unfulfilling</span> and advocated 
        for women to seek <span style="font-weight: bold;">education</span> 
        and <span style="font-weight: bold;">work outside the home</span>.
    </li>
    <li class="list_item">
        <span class="label">Helen Gurley Brown</span> (1922&ndash;2012) Brown 
        was best known as the editor-in-chief of <i style="font-weight: bold;">
        Cosmopolitan</i> magazine from 1965 until 1997. Gurley Brown first 
        came to prominence when she argued in <i style="font-weight: bold;">
        Sex and the Single Girl</i> (1962) that women ought to achieve 
        <span style="font-weight: bold;">financial security</span> and 
        pursue <span style="font-weight: bold;">sexual relationships prior 
        to marriage</span>. As editor of <i>Cosmopolitan</i>, she asserted 
        that women could <span style="font-weight: bold;">&#8220;have it 
        all,&#8221;</span> by which she meant <span style="font-weight: bold;">
        love</span>, <span style="font-weight: bold;">sex</span>, and 
        <span style="font-weight: bold;">money</span>.
    </li>
    <li class="list_item">
        <span class="label">Gloria Steinem</span> (1934&ndash;present) Steinem 
        is a journalist who founded and edited <i style="font-weight: bold;">
        Ms.</i> magazine. For an article in <i style="font-weight: bold;">
        Show</i> magazine in 1963, she went <span style="font-weight: bold;">
        undercover as a Playboy bunny</span>. Having had an abortion herself, 
        she became a prominent advocate of <span style="font-weight: bold;">
        abortion rights</span>. She worked as a writer for 
        <i style="font-weight: bold;">New York</i> magazine when she founded 
        <i>Ms.</i>, a feminist magazine devoted to women&#8217;s issues. The 
        magazine also popularized the use of the title &#8220;Ms.&#8221; to 
        address women regardless of marital status. Steinem also wrote the 
        book <i style="font-weight: bold;">Outrageous Acts and Everyday 
        Rebellions</i> (1983), and the phrase 
        <span style="font-weight: bold;">&#8220;a woman without a man is 
        like a fish without a bicycle&#8221;</span> is often attributed to her.
    </li>
    <li class="list_item">
        <span class="label">Alice Walker</span> (1944&ndash;present) Walker 
        is best known as the author of the novel 
        <i style="font-weight: bold;">The Color Purple</i> (1982), but she 
        is also renowned for her non-fiction writing about women&#8217;s 
        issues. She joined the writing staff for <i style="font-weight: bold;">
        Ms.</i> magazine, for which she wrote <span style="font-weight: bold;">
        &#8220;In Search of Zora Neale Hurston&#8221;</span> (1975), 
        stimulating interest in the then-forgotten Harlem Renaissance writer. 
        Walker collected her critical essays on women&#8217;s fiction in 
        <i style="font-weight: bold;">In Search of Our Mothers&#8217; Gardens
        </i> (1983). Among other arguments, she memorably contrasted 
        <span style="font-weight: bold;">Virginia Woolf</span> and 
        <span style="font-weight: bold;">Phyllis Wheatley</span>, noting that 
        the latter had none of the advantages Woolf considered necessary in 
        <span style="font-weight: bold;">&#8220;A Room of One&#8217;s 
        Own.&#8221;</span> Along with <span style="font-weight: bold;">Maxine 
        Hong Kingston</span> and other female authors, Walker was arrested in 
        March 2003 for <span style="font-weight: bold;">protesting the Iraq 
        War</span> on the grounds that it would unfairly punish Iraqi women 
        and children.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">
    Some Additional Feminists You Don&#8217;t Gotta Know, But Might Enjoy 
    Learning About Anyway
</h3>
<br />
<h4 style="font-family: Cambria; font-weight: bold;">
    American voting rights activists
</h3>
<ul class="list2">
	<li class="list_item">
        <span class="label">Amelia Bloomer</span> advocated 
        <span style="font-weight: bold;">dress reform</span> so that women 
        could wear reasonable clothes; the pants known as 
        <span style="font-weight: bold;">&#8220;bloomers&#8221;</span> were 
        named after her.
    </li>
	<li class="list_item">
        <span class="label">Frederick Douglass</span> is best known as an 
        <span style="font-weight: bold;">abolitionist</span>, but he 
        attended the <span style="font-weight: bold;">Seneca Falls Convention
        </span> and was (without his consent) nominated as 
        <span style="font-weight: bold;">Victoria Woodhull</span>&#8217;s 
        vice-presidential candidate.
    </li>
	<li class="list_item">
        <span class="label">Margaret Fuller</span> was a journalist who 
        advocated for women&#8217;s rights; she is best known for editing 
        the <span style="font-weight: bold;">transcendentalist</span> 
        journal <i style="font-weight: bold;">The Dial</i>.
    </li>
	<li class="list_item">
        <span class="label">Julia Ward Howe</span> was a 
        <span style="font-weight: bold;">reformer</span> and women&#8217;s 
        rights advocate who wrote the lyrics to 
        <span style="font-weight: bold;">&#8220;The Battle Hymn of the 
        Republic.&#8221;</span></li>
	<li class="list_item">
        <span class="label">Alice Paul</span> <span style="font-weight: bold;">
        picketed the White House</span> and went on a 
        <span style="font-weight: bold;">hunger strike</span> to agitate for 
        the passage of the <span style="font-weight: bold;">Nineteenth 
        Amendment</span>. She later wrote the 
        <span style="font-weight: bold;">Equal Rights Amendment</span> in 1923.
    </li>
	<li class="list_item">
        When <span class="label">Gerrit Smith</span> ran for president with the 
        <span style="font-weight: bold;">Liberal Party</span> in 1848, he 
        became the first presidential candidate to include 
        <span style="font-weight: bold;">women&#8217;s voting rights</span> 
        as part of his party&#8217;s platform. He was also a first cousin 
        of <span style="font-weight: bold;">Elizabeth Cady Stanton</span>.
    </li>
	<li class="list_item">
        <span class="label">Lucy Stone</span> is often grouped with 
        <span style="font-weight: bold;">Susan B. Anthony</span> and 
        <span style="font-weight: bold;">Elizabeth Cady Stanton</span> in 
        the &#8220;triumvirate&#8221; of American voting rights campaigners. 
        She is famous for keeping her maiden name after marriage.
    </li>
	<li class="list_item">
        <span class="label">Ida B. Wells</span> is best known as an opponent 
        of <span style="font-weight: bold;">lynching</span>, but she was 
        also a women&#8217;s rights crusader who agitated for the 
        <span style="font-weight: bold;">inclusion of black women</span> 
        in women&#8217;s groups such as the <span style="font-weight: bold;">
        Woman&#8217;s Christian Temperance Union</span>.
    </li>
	<li class="list_item">
        <span class="label">Victoria Woodhull</span> became the 
        <span style="font-weight: bold;">first female candidate for the 
        presidency</span> of the United States in 1872, when she ran with the 
        <span style="font-weight: bold;">Equal Rights Party</span>.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">
    British voting rights activists
</h3>
<ul class="list2">
	<li class="list_item">
        <span class="label">Emily Davison</span> died when she ran in front of 
        King <span style="font-weight: bold;">George V</span>&#8217;s horse 
        at the <span style="font-weight: bold;">Epsom Derby</span> in 1913 
        with a &#8220;Votes for Women&#8221; banner.
    </li>
	<li class="list_item">
        <span class="label">Millicent Fawcett</span> led the 
        <span style="font-weight: bold;">National Union of Women&#8217;s 
        Suffrage Societies</span>, a more moderate organization than 
        <span style="font-weight: bold;">Emmeline Pankhurst</span>&#8217;s 
        <span style="font-weight: bold;">Women&#8217;s Social and Political 
        Union</span>.
    </li>
	<li class="list_item">
        <span class="label">Mary Richardson</span> attacked Diego 
        Vel&aacute;zquez&#8217;s <i style="font-weight: bold;">Rokeby Venus
        </i> with a meat cleaver in 1914 to protest the arrest of 
        <span style="font-weight: bold;">Emmeline Pankhurst</span>.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">
    American female politicians
</h3>
<ul class="list2">
	<li class="list_item">
        <span class="label">Bella Abzug</span> advocated passage of the 
        <span style="font-weight: bold;">Equal Rights Amendment</span> and was 
        known for declaring that <span style="font-weight: bold;">&#8220;a 
        woman&#8217;s place is in the House &mdash; the House of 
        Representatives.&#8221;</span>
    </li>
	<li class="list_item">
        In 1972, <span class="label">Shirley Chisholm</span> became the 
        <span style="font-weight: bold;">first black female candidate 
        for a major party&#8217;s presidential nomination</span>.
    </li>
	<li class="list_item">
        In 1916, <span class="label">Jeannette Rankin</span> became the 
        <span style="font-weight: bold;">first female elected to the House 
        of Representatives</span>.
    </li>
	<li class="list_item">
        <span class="label">Margaret Chase Smith</span> was the 
        <span style="font-weight: bold;">first woman to serve in both 
        houses of Congress</span> and the first to be placed in nomination 
        for the presidency of a major party.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Others</h3>
<ul class="list2">
	<li class="list_item">
        <span class="label">Andrea Dworkin</span> wrote 
        <i style="font-weight: bold;">Pornography: Men Possessing Women</i> 
        (1979) to argue that pornography degrades women and leads to 
        <span style="font-weight: bold;">violence against women</span>.
    </li>
	<li class="list_item">
        <span class="label">Germaine Greer</span> wrote 
        <i style="font-weight: bold;">The Female Eunuch</i> (1970) to argue 
        that traditional societal and family structures 
        <span style="font-weight: bold;">repress women</span>.
    </li>
	<li class="list_item">
        <span class="label">Anita Hill</span> publicized the issue of 
        <span style="font-weight: bold;">sexual harassment</span> in 1991 
        when she testified at <span style="font-weight: bold;">Clarence Thomas
        </span>&#8217;s Supreme Court confirmation hearings that he had 
        harassed her.
    </li>
	<li class="list_item">
        <span class="label">Maxine Hong Kingston</span> wrote about the lives 
        of <span style="font-weight: bold;">Chinese women</span> in 
        <i style="font-weight: bold;">The Woman Warrior</i> (1975).
    </li>
	<li class="list_item">
        <span class="label">Adrienne Rich</span> was a poet most famous for 
        writing <span style="font-weight: bold;">&#8220;Diving into the 
        Wreck&#8221;</span> (1973).
    </li>
	<li class="list_item">
        <span class="label">Naomi Wolf</span> wrote 
        <i style="font-weight: bold;">The Beauty Myth</i> (1991) to argue 
        that <span style="font-weight: bold;">societal constructs of beauty
        </span> punish women who cannot attain them.
    </li>
</ul>

<br />
<p class="justify">This article was contributed by NAQT editor Kyle Haddad-Fonda.</p>
<br />
<br />
<br />
{% endblock %}