{% extends "base.html" %}  {% block title %}Hockey Hall of Famers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Hockey Hall of Famers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/hockey-hall-of-famers.html">
    You Gotta Know These Hockey Hall of Famers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Wayne Gretzky</span> (1961&ndash;present):  
        in Brantford, Ontario, <span style="font-weight: bold;">&#8220;The 
        Great One&#8221;</span> was named Canada&#8217;s 
        <span style="font-weight: bold;">athlete of the century</span>. 
        Gretzky holds or shares <span style="font-weight: bold;">61 NHL 
        records</span>, including <span style="font-weight: bold;">career 
        goals (894)</span>, <span style="font-weight: bold;">assists 
        (1,963)</span>, and <span style="font-weight: bold;">points (2,857)
        </span>. The winner of <span style="font-weight: bold;">ten 
        scoring titles</span> (Art Ross Trophies) and 
        <span style="font-weight: bold;">nine NHL MVP</span>&#8217;s (Hart 
        Trophies), his #99 was <span style="font-weight: bold;">retired 
        league-wide</span>. He won <span style="font-weight: bold;">four 
        Stanley Cups</span> with <span style="font-weight: bold;">Edmonton
        </span> in the 1980s before a major trade sent him to 
        <span style="font-weight: bold;">Los Angeles</span> in 1988. After 
        a brief stint in <span style="font-weight: bold;">St.&nbsp;Louis
        </span>, he finished his career with the 
        <span style="font-weight: bold;">New York Rangers</span> in 1999.
    </li>
	<li class="list_item">
        <span class="label">Gordie Howe</span> (1926&ndash;2016): Born in 
        Floral, Saskatchewan, <span style="font-weight: bold;">&#8220;Mr. 
        Hockey,&#8221;</span> was equally adept with his stick as he was 
        with his fists. A <span style="font-weight: bold;">&#8220;Gordie 
        Howe hat trick&#8221;</span> was later joked to consist of a goal, 
        an assist, and a <span style="font-weight: bold;">fight</span>. A 
        <span style="font-weight: bold;">six-time Art Ross Trophy</span> 
        winner, he played 26 seasons with the 
        <span style="font-weight: bold;">Detroit Red Wings</span>, retiring 
        in 1971. After a two-year retirement, he returned to the fledgling 
        WHA, to play with his sons on the <span style="font-weight: bold;">
        Houston Aeros</span>. He played his last NHL season at the age of 
        52 in 1980 with the <span style="font-weight: bold;">Hartford 
        Whalers</span>, finishing as the NHL&#8217;s 
        <span style="font-weight: bold;">career points leader until 1989
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Mario Lemieux</span> (1965&ndash;present): 
        Born in Montreal, Quebec, <span style="font-weight: bold;">
        &#8220;Super Mario&#8221;</span> scored his first NHL goal on the 
        first shift of his first game, against Boston in 1984. He led the 
        <span style="font-weight: bold;">Pittsburgh Penguins</span> to 
        <span style="font-weight: bold;">consecutive Stanley Cups</span> 
        in 1991&ndash;1992. After a bout with <span style="font-weight: bold;">
        Hodgkin&#8217;s disease</span>, he returned to 
        <span style="font-weight: bold;">lead the NHL in scoring</span> in 
        1995&ndash;1996 and 1996&ndash;1997. He then later helped 
        <span style="font-weight: bold;">bail the Penguins out of 
        bankruptcy</span> by becoming the lead owner of the team in 1999.
    </li>
	<li class="list_item">
        <span class="label">Bobby Orr</span> (1948&ndash;present): Born in 
        Parry Sound, Ontario, Bobby Orr revolutionized the position of 
        <span style="font-weight: bold;">defenseman</span>. The 
        <span style="font-weight: bold;">first blue liner to win the Art 
        Ross Trophy</span> (scoring title), he also won the 
        <span style="font-weight: bold;">Norris</span> (best defenseman), 
        <span style="font-weight: bold;">Hart</span> (league MVP), and 
        <span style="font-weight: bold;">Conn Smythe</span> (playoff MVP) 
        in the same season (1969&ndash;1970). That same year, he led the 
        <span style="font-weight: bold;">Bruins</span> to their first Stanley 
        Cup in three decades with the now famous 
        <span style="font-weight: bold;">&#8220;Goal.&#8221;</span> He 
        recorded the <span style="font-weight: bold;">highest &plusmn; 
        rating ever</span> for a single season, +124 in 1970&ndash;1971, 
        and won <span style="font-weight: bold;">eight straight Norris 
        Trophies</span> from 1968&ndash;1975. Unfortunately, his 
        <span style="font-weight: bold;">bad knees</span> forced him into 
        early retirement in 1979.
    </li>
	<li class="list_item">
        <span class="label">Maurice Richard</span> (1921&ndash;2000): Born in 
        Montreal, Quebec, <span style="font-weight: bold;">&#8220;The 
        Rocket&#8221;</span> was one of the most gifted offensive players in 
        NHL history. He was the <span style="font-weight: bold;">first NHL 
        player to score 50 goals in a single season</span>, doing so in 
        1944&ndash;1945, and also the <span style="font-weight: bold;">first 
        to score 500&nbsp;goals in a career</span>. The winner of 
        <span style="font-weight: bold;">eight Stanley Cups</span>, his 
        <span style="font-weight: bold;">suspension</span> by league 
        president Clarence Campbell in 1955 led to 
        <span style="font-weight: bold;">&#8220;The Richard Riot&#8221;
        </span> on March&nbsp;17, 1955, which was quelled only by an appeal 
        by Richard for peace. Many sociologists credit the Richard Riot 
        with contributing to the rise of the <span style="font-weight: bold;">
        Quebec independence movement</span>. The NHL began awarding the 
        <span style="font-weight: bold;">Rocket Richard Trophy</span> in 
        1999 for the league&#8217;s top regular-season goal scorer.
    </li>
	<li class="list_item">
        <span class="label">Terry Sawchuk</span> (1929&ndash;1970): Born in 
        Winnipeg, Manitoba, <span style="font-weight: bold;">
        &#8220;Ukey&#8221;</span> played more games (971), won more games 
        (447), and recorded more shutouts (103) than any other netminder 
        in NHL history. In 1952, he recorded <span style="font-weight: bold;">
        eight straight wins</span>, including four shutouts, 
        <span style="font-weight: bold;">in the playoffs</span> for Detroit. 
        Winning <span style="font-weight: bold;">five Vezina Trophies</span> 
        in his career for <span style="font-weight: bold;">lowest team GAA
        </span> (the criteria during his era), Sawchuk also won the 
        <span style="font-weight: bold;">Calder Trophy</span> as NHL rookie 
        of the year in 1950&ndash;1951. Always deeply 
        <span style="font-weight: bold;">psychologically troubled</span>, 
        he died in a household accident in 1970 while a member of the 
        <span style="font-weight: bold;">New York Rangers</span>.
    </li>
	<li class="list_item">
        <span class="label">Ken Dryden</span> (1947&ndash;present): Born in 
        Hamilton, Ontario, he had a standout career at 
        <span style="font-weight: bold;">Cornell University</span> before 
        joining the <span style="font-weight: bold;">Montreal Canadiens
        </span> organization in 1970. In 1970&ndash;1971, he starred in the 
        playoffs, winning <span style="font-weight: bold;">Conn Smythe 
        Trophy</span> honors (playoff MVP), before going on to win 
        <span style="font-weight: bold;">Calder Trophy</span> (Rookie of the 
        Year) honors the next season. Along with Tony Esposito, he served as 
        Canada&#8217;s goalie during the legendary 
        <span style="font-weight: bold;">1972 Summit Series</span> with the 
        USSR. He sat out the entire 1973&ndash;1974 season in a 
        <span style="font-weight: bold;">contract dispute</span>, and worked 
        as a <span style="font-weight: bold;">legal clerk</span>, obtaining 
        his <span style="font-weight: bold;">law degree</span> from McGill. 
        He currently serves as the President of the 
        <span style="font-weight: bold;">Toronto Maple Leafs</span>.
    </li>
	<li class="list_item">
        <span class="label">Vladislav Tretiak</span> (1952&ndash;present): 
        Born in Moscow, USSR, Tretiak is the <span style="font-weight: bold;">
        first Russian player in Hockey Hall of Fame</span>. He came to North 
        American prominence when he starred in 
        <span style="font-weight: bold;">1972 Summit Series</span> against 
        Canada. A <span style="font-weight: bold;">ten-time World Champion
        </span>, he also won <span style="font-weight: bold;">three gold 
        medals</span> (1972, 1976, and 1984). The decision to pull Tretiak 
        after the first period of the U.S./USSR game in the 1980 Olympics 
        is considered to be part of the reason the U.S. went on to win the 
        gold. He played for <span style="font-weight: bold;">CSKA Moscow
        </span> (Central Red Army) for 15 years and, after retiring, served 
        as the goaltending coach for the <span style="font-weight: bold;">
        Chicago Blackhawks</span>.
    </li>
	<li class="list_item">
        <span class="label">Bobby Hull</span> (1939&ndash;present): Born in 
        Point Anne, Ontario; &#8220;The Golden Jet&#8221; was the star of the 
        <span style="font-weight: bold;">Chicago Blackhawks</span> of the 
        1960s. He won <span style="font-weight: bold;">three Art Ross 
        Trophies</span> and <span style="font-weight: bold;">led the NHL in 
        goals seven times</span>. In June&nbsp;1972, he defected to the 
        fledgling WHA&#8217;s <span style="font-weight: bold;">Winnipeg Jets
        </span> for a record ten-year, $2.75&nbsp;million deal, where he 
        helped make Winnipeg one of the four WHA teams to merge with the 
        NHL in 1978&ndash;1979. He is also the father of 
        <span style="font-weight: bold;">Brett Hull</span>; the duo is the 
        only father-son combination to score 500 each in NHL history.
    </li>
	<li class="list_item">
        <span class="label">Eddie Shore</span> (1902&ndash;1985): Born in Fort 
        Qu&#8217;Appele, Saskatchewan, <span style="font-weight: bold;">
        &#8220;The Edmonton Express&#8221;</span> is the epitome of 
        &#8220;Old-Time Hockey,&#8221; as stated in the 1977 film <i>Slap 
        Shot</i>. As a blue-liner for the <span style="font-weight: bold;">
        Boston Bruins</span> he was named a <span style="font-weight: bold;">
        first-team NHL All-Star for eight of nine years</span> during the 
        1930s, and is the only <span style="font-weight: bold;">defenseman 
        to win four Hart Trophies</span> as NHL MVP. He later went on to be 
        the owner/GM of the AHL&#8217;s <span style="font-weight: bold;">
        Springfield Indians</span>, and the anecdotes about his 
        <span style="font-weight: bold;">stingy</span> ways are now hockey 
        lore.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}