{% extends "base.html" %}  {% block title %}Japanese Authors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Japanese Authors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/japanese-authors.html">
    You Gotta Know These Japanese Authors
    </a>
</h1>
<br />
<p class="justify">
    Unlike most other &#8220;You Gotta Know&#8221; articles, this one is primarily aimed at advanced college players. 
    High school (and new college players) only really &#8220;gotta know&#8221; Lady Murasaki, Basho, Kawabata, and Mishima.
</p>
<p class="justify">
    <span style="color: #b1590c; font-weight: bold;">Japanese names are written with the family name before the given 
    name, and that&#8217;s the part that is required in quiz bowl.</span> For example, for a question on Lady Murasaki 
    Shikibu, it would be correct to give <span style="color: #006d1a;">Murasaki</span> but incorrect to give 
    <span style="color: #f74545;">
    Shikibu</span>.
</p>
<br />
<ul class="list2">
    <li class="list_item">
        <span class="label">Lady Murasaki Shikibu</span> 
        (c.&nbsp;978&nbsp;&ndash;c.&nbsp;1015): Novelist, diarist, and 
        lady-in-waiting. She was the author of the 
        <i style="font-weight: bold;">Tale of Genji</i> 
        (<i style="font-weight: bold;">Genji monogatari</i>), the 
        <span style="font-weight: bold;">first known novel</span>; the 
        diary <i style="font-weight: bold;">Murasaki Shikibu nikki</i>; and 
        a collection of <i style="font-weight: bold;">tanka</i> poems. 
        The daughter of the court official Fujiwara Tametoki, she sat in 
        on the classical Chinese literature lessons that her brother received, 
        in spite of the Heian <span style="font-weight: bold;">traditions 
        against higher education for women</span>.
    </li>
	<li class="list_item">
        <span class="label">Sei Shonagon</span> 
        (c.&nbsp;966&nbsp;&ndash;&nbsp;c.&nbsp;1013): Like Lady Murasaki, 
        Sei Shonagan was a <span style="font-weight: bold;">lady-in-waiting
        </span> of the Empress.  Since Lady Murasaki and Sei Shonagan 
        were contemporaries and known for their wit, they were often rivals
        <a style="color: maroon;" href="#footnote">*</a>. Sei 
        Shonagan&#8217;s only major work is the <i style="font-weight: bold;">
        Pillow Book</i> (<i>Makura no soshi</i>), which is considered the best 
        source of information about life at the Japanese court during the 
        <span style="font-weight: bold;">Heian period</span> (784&ndash;1185).
    </li>
	<li class="list_item">
        <span class="label">Zeami</span> (1363&ndash;1443), also called Kanze 
        Motokiyo: The second master of the <span style="font-weight: bold;">
        Kanze theatrical school</span>, which had been founded by his 
        father, he is regarded as the greatest playwright of the 
        <span style="font-weight: bold;"><i>No</i> theater</span>. He 
        provided 30 to 40 of the approximately 230 plays in the modern 
        repertoire. He revised the works of his father 
        <span style="font-weight: bold;">Kan&#8217;ami</span>, such as 
        <i style="font-weight: bold;">Wind in the Pines</i>, and wrote 
        a number of his own dramas, including the 
        <span style="font-weight: bold;">samurai play</span> 
        <i style="font-weight: bold;">Atsumori</i>. Also a 
        <span style="font-weight: bold;">drama critic</span>, he 
        established the aesthetic standards by which plays have been 
        judged ever since. His <i style="font-weight: bold;">Fushi kaden
        </i> (<i style="font-weight: bold;">The Transmission of the Flower 
        of Acting Style</i>) is a manual for his pupils.
    </li>
	<li class="list_item">
        <span class="label">Matsuo Basho</span> (1644&ndash;1694), 
        a pseudonym of Matsuo Munefusa: Generally acknowledged as the 
        master of the <i style="font-weight: bold;">haiku</i> form, the 
        most notable influences on his work were 
        <span style="font-weight: bold;">Zen Buddhism</span> and his 
        travels throughout Japan.  He is noted for works like 
        <i style="font-weight: bold;">The Narrow Road to the Deep North</i> 
        (<i>Oku no hosomichi</i>), which includes descriptions of local 
        sights in both prose and <i>haiku</i>. He took his pseudonym from 
        the name of the simple <span style="font-weight: bold;">hut where 
        he retired</span>: Basho-an, which means 
        <span style="font-weight: bold;">&#8220;Cottage of the Plaintain 
        Tree.&#8221;</span>
    </li> 
	<li class="list_item">
        <span class="label">Chikamatsu Monzaemon</span> (1653&ndash;1725): 
        He was one of Japan&#8217;s first professional dramatists (as 
        opposed to playwright-actors). Originally named Sugimori Nobumori, 
        Chikamatsu wrote more than 150 plays for both the 
        <i style="font-weight: bold;">bunraku</i> (puppet theater) and the 
        <i style="font-weight: bold;">kabuki</i> (popular theater). 
        Chikamatsu&#8217;s scripts fall into two categories: 
        <span style="font-weight: bold;">historical romances</span> 
        (<i style="font-weight: bold;">jidaimono</i>) and 
        <span style="font-weight: bold;">domestic tragedies</span> 
        (<i style="font-weight: bold;">sewamono</i>). One of 
        Chikamatsu&#8217;s most popular plays was 
        <i style="font-weight: bold;">The Battles of Coxinga</i>, an 
        historical melodrama about an attempt to 
        <span style="font-weight: bold;">re-establish the Ming dynasty
        </span> in China. He is also largely responsible for developing the 
        <i style="font-weight: bold;">sewamono</i> (contemporary drama on 
        contemporary themes) in the <i style="font-weight: bold;">joruri
        </i>, a style of chanted narration adapted to 
        <i style="font-weight: bold;">bunraku</i>.
    </li>
	<li class="list_item">
        <span class="label">Akutagawa Ryunosuke</span> (1892&ndash;1927): 
        His mother died insane while he was a child, and his father was a 
        failure who gave him up to relatives. Despite this inauspicious 
        childhood, his 1915 short story <span style="font-weight: bold;">
        &#8220;Rashomon&#8221;</span> brought him into the highest literary 
        circles and started him writing the <span style="font-weight: bold;">
        macabre stories</span> for which he is known. In 1927 he committed 
        <span style="font-weight: bold;">suicide</span> by overdosing on 
        pills, and his suicide letter <span style="font-weight: bold;">
        &#8220;A Note to a Certain Old Friend&#8221;</span> became a 
        published work. &#8220;Rashomon&#8221; also was key to his 
        international fame, as in 1951 <span style="font-weight: bold;">
        Kurosawa Akira</span> made a film entitled <i>Rashomon</i>, 
        though the film&#8217;s plot is more based on Akutagawa&#8217;s 
        other short story <span style="font-weight: bold;">&#8220;In a 
        Grove.&#8221;</span> One of Japan&#8217;s two most prestigious 
        <span style="font-weight: bold;">literary prizes</span> is named 
        for Akutagawa; it is awarded for the best serious work of fiction 
        by a new Japanese writer.
    </li>
	<li class="list_item">
        <span class="label">Kawabata Yasunari</span> (1899&ndash;1972): 
        Recipient of the <span style="font-weight: bold;">1968 Nobel Prize 
        for Literature</span>, he was the <span style="font-weight: bold;">
        first Japanese author to win the Nobel</span>.  His works 
        <span style="font-weight: bold;">combine classic Japanese values 
        with modern trends</span>, and often center on the role of 
        <span style="font-weight: bold;">sex</span> in people&#8217;s lives. 
        Many of his short stories are only a <span style="font-weight: bold;">
        few pages long</span>, a form given the name 
        <span style="font-weight: bold;">&#8220;palm-of-the-hand.&#8221;
        </span>  He is best known for three novels: 
        <i style="font-weight: bold;">Thousand Cranes</i>, based on the 
        <span style="font-weight: bold;">tea ceremony</span> and inspired by 
        <i style="font-weight: bold;">The Tale of Genji</i>; 
        <i style="font-weight: bold;">The Sound of the Mountain</i>, about 
        the relationship of an old man and his daughter-in-law; and 
        <i style="font-weight: bold;">Snow Country</i>, about an aging 
        <i style="font-weight: bold;">geisha</i>. A friend of 
        <span style="font-weight: bold;">Mishima Yukio</span>, he was also 
        associated with <span style="font-weight: bold;">right-wing causes
        </span> and openly protested the Cultural Revolution in China. He 
        committed <span style="font-weight: bold;">suicide</span> two years 
        after Mishima.
    </li>
	<li class="list_item">
        <span class="label">Mishima Yukio</span> (1925&ndash;1970), a 
        pseudonym of Hiraoka Kimitake: He was a novelist whose central 
        theme was the <span style="font-weight: bold;">disparity between 
        traditional Japanese values and the spiritual emptiness of modern 
        life</span>.  He failed to qualify for military service during 
        World War&nbsp;II, so worked in an <span style="font-weight: bold;">
        aircraft factory</span> instead. Mishima&#8217;s first novel, 
        <i style="font-weight: bold;">Confessions of a Mask</i> (
        <i style="font-weight: bold;">Kamen no kokuhaku</i>), was successful 
        enough to allow him to write full-time. His four-volume epic 
        <i style="font-weight: bold;">The Sea of Fertility</i> 
        (<i style="font-weight: bold;">Hojo no umi</i>, consisting of 
        <i style="font-weight: bold;">Spring Snow</i>, 
        <i style="font-weight: bold;">Runaway Horses</i>, 
        <i style="font-weight: bold;">The Temple of Dawn</i>, and 
        <i style="font-weight: bold;">The Decay of the Angel</i>), is about 
        <span style="font-weight: bold;">self-destructive personalities
        </span> and <span style="font-weight: bold;">the transformation of 
        Japan into a modern, but sterile, society</span>. Mishima, who 
        organized the <i style="font-weight: bold;">Tate no kai</i> &mdash; 
        a <span style="font-weight: bold;">right-wing society</span> 
        stressing physical fitness and the martial arts &mdash; committed 
        <span style="font-weight: bold;">ritual suicide</span> after a 
        public speech failed to galvanize the armed forces into 
        <span style="font-weight: bold;">overthrowing the government</span>.
    </li>
	<li class="list_item">
        <span class="label">Endo Shusaku</span> (1923&ndash;1996): He 
        <span style="font-weight: bold;">converted to Catholicism</span> 
        at the age of 11, and majored in French literature. His first works, 
        <i style="font-weight: bold;">White Man</i> and 
        <i style="font-weight: bold;">Yellow Man</i>, explored the 
        <span style="font-weight: bold;">differences between Japanese and 
        Western values</span> and national experiences. 
        <i style="font-weight: bold;">Silence</i> tells of the 
        <span style="font-weight: bold;">martyrdom</span> of the Catholic 
        converts of <span style="font-weight: bold;">Portuguese priests
        </span>. <i style="font-weight: bold;">The Samurai</i> recounts 
        the tale of a <span style="font-weight: bold;">samurai</span> sent 
        to establish <span style="font-weight: bold;">trade relations
        </span> between his shogun and Mexico, Spain, and Rome. The latter 
        two novels are generally considered to be Shusaku&#8217;s greatest 
        achievements.
    </li>
	<li class="list_item">
        <span class="label">Oe Kenzaburo</span> (1935&ndash;present): Novelist 
        and recipient of the <span style="font-weight: bold;">1994 Nobel 
        Prize for Literature</span>.  His first work, 
        <i style="font-weight: bold;">Shiiku</i> 
        (<i style="font-weight: bold;">The Catch</i>), describes a friendship 
        between a Japanese boy and a <span style="font-weight: bold;">black 
        American POW</span>, and won him the <span style="font-weight: bold;">
        Akutagawa award</span> while he was still a student. His early works 
        are filled with <span style="font-weight: bold;">insanity</span>, 
        <span style="font-weight: bold;">abuse</span>, 
        <span style="font-weight: bold;">perverse sex</span>, and 
        <span style="font-weight: bold;">violence</span>, but his later 
        works &mdash; including <i style="font-weight: bold;">A Personal 
        Matter</i> (<i style="font-weight: bold;">Kojinteki-na taiken</i>) 
        and <i style="font-weight: bold;">The Silent Cry</i> (
        <i style="font-weight: bold;">Man&#8217;en gannen no futtoboru</i>) 
        &mdash; reflect the experience of being the father of a 
        <span style="font-weight: bold;">brain-damaged child</span>. 
        His fiction centers on the <span style="font-weight: bold;">
        alienation</span> following Japan&#8217;s 
        <span style="font-weight: bold;">surrender</span>, and his political 
        writings focus on the <span style="font-weight: bold;">search 
        for cultural and ideological roots</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Nolan Liu.</p>
<br />
<br />
<br />
{% endblock %}