{% extends "base.html" %}  {% block title %}Latin American Authors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Latin American Authors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/latin-american-authors.html">
    You Gotta Know These Latin American Authors
    </a>
</h1>
<br />
<ul class="list2">
    <li class="list_item">
        <span class="label">Gabriel Garc&iacute;a Marquez</span> 
        (1928&ndash;2014, Colombia; Nobel Prize for Literature 1982): The 
        master of <span style="font-weight: bold;">magic realism</span>, 
        his birthplace, <span style="font-weight: bold;">Aracataca</span> was 
        the model for the fictional town <span style="font-weight: bold;">
        Macondo</span>. The town played a prominent role in many of 
        Garc&iacute;a Marquez&#8217;s works, such as 
        <i style="font-weight: bold;">Leaf Storm</i> and his seminal novel, 
        <i style="font-weight: bold;">One Hundred Years of Solitude </i>
        (1967), which details the decline of the 
        <span style="font-weight: bold;">Buend&iacute;a family</span> over 
        seven generations. A newspaper journalist in the 1950s, Garc&iacute;a 
        Marquez exposed a <span style="font-weight: bold;">naval scandal
        </span> (chronicled in <i style="font-weight: bold;">The Story of a 
        Shipwrecked Sailor</i>). Other prominent novels include 
        <i style="font-weight: bold;">In Evil Hour</i>, 
        <i style="font-weight: bold;">Love in the Time of Cholera</i>, and 
        <i style="font-weight: bold;">The General in His Labyrinth</i>, a 
        depiction of Sim&oacute;n Bol&iacute;var&#8217;s final years.
    </li>
	<li class="list_item">
        <span class="label">Pablo Neruda</span> (1904&ndash;1973, Chile; 
        Nobel 1971): Born Neftali Reyes, he adopted the surname of the 
        19th-century Czech poet <span style="font-weight: bold;">Jan 
        Neruda</span>. <span style="font-weight: bold;">Gabriela Mistral
        </span> was the head of his school in the small city Temuco. In 
        1923 his best-known work, <i style="font-weight: bold;">Twenty Love 
        Poems and a Song of Despair</i>, was published, which led to 
        diplomatic appointments. As a penniless consul in 
        <span style="font-weight: bold;">Burma</span> in the 1930s, he 
        wrote the <span style="font-weight: bold;">surrealist</span> 
        collection <i style="font-weight: bold;">Residence on Earth</i>. 
        He served in the <span style="font-weight: bold;">Chilean senate
        </span> in the 1940s, though government opponents forced him into 
        <span style="font-weight: bold;">exile</span> over his 
        <span style="font-weight: bold;">Communist</span> views. 
        <span style="font-weight: bold;">Crossing the Andes on horseback
        </span> inspired his epic <i style="font-weight: bold;">Canto general
        </i> (1950).  He died of <span style="font-weight: bold;">cancer
        </span> days after his friend <span style="font-weight: bold;">
        Salvador Allende</span> was deposed.
    </li>
	<li class="list_item">
        <span class="label">Jorge Luis Borges</span> (1899&ndash;1986, 
        Argentina): One-quarter English, Borges learned that language before 
        he learned Spanish. Educated in Europe during World War&nbsp;I, he 
        met a circle of <span style="font-weight: bold;">avant-garde</span> 
        poets in Spain, which inspired him to found the 
        <i style="font-weight: bold;">ultraismo</i> movement and publish 
        the collection <i style="font-weight: bold;">Fervor of Buenos Aires 
        </i>(1923) when he returned to Argentina.  While working in a library, 
        Borges developed his greatest <span style="font-weight: bold;">short 
        stories</span>, collected in <i style="font-weight: bold;">A Universal 
        History of Infamy</i> (1935), <i style="font-weight: bold;">Ficciones
        </i> (1944), and <i style="font-weight: bold;">The Aleph</i> (1949). 
        By his fifties, a disorder inherited from his father had taken 
        Borges&#8217;s <span style="font-weight: bold;">eyesight</span>, but 
        in 1962 he completed the influential story collection 
        <i style="font-weight: bold;">Labyrinths</i>.
    </li>
	<li class="list_item">
        <span class="label">Isabel Allende</span> (1942&ndash;present, Chile): 
        Actually born in Peru, at age three she moved to her mother&#8217;s 
        native Chile. A successful <span style="font-weight: bold;">news 
        reporter</span> in her twenties, she and her family 
        <span style="font-weight: bold;">fled to Venezuela</span> after 
        General Augusto Pinochet deposed her <span style="font-weight: bold;">
        uncle Salvador Allende</span>, setting up a dictatorship. Her formal 
        literary career began at age&nbsp;40, when she published 
        <i style="font-weight: bold;">The House of the Spirits</i>, a 
        <span style="font-weight: bold;">magical-realist</span> work that 
        chronicles several generations of the <span style="font-weight: bold;">
        Trueba family</span>. Other works of fiction include the short-story 
        collection <i style="font-weight: bold;">Eva Luna</i> (1989) and 
        <i style="font-weight: bold;">Paula </i>(1995), which detailed 
        Allende&#8217;s care for her <span style="font-weight: bold;">
        terminally ill daughter</span>.
    </li>
	<li class="list_item">
        <span class="label">Gabriela Mistral</span> (1889&ndash;1957, 
        Chile; Nobel 1945): The <span style="font-weight: bold;">first 
        Latin American to win the Nobel Prize in Literature</span>, Mistral 
        was actually named Lucila Godoy Alcayaga, but took her 
        <span style="font-weight: bold;">pen name</span> from the Italian 
        and French poets Gabriele D&#8217;Annunzio and Fr&eacute;d&eacute;ric 
        Mistral respectively. At first a prominent 
        <span style="font-weight: bold;">educator</span>, she wrote 
        <span style="font-weight: bold;">&#8220;Sonnets of Death&#8221;
        </span> (1914) after the <span style="font-weight: bold;">suicide 
        of her fianc&eacute;</span>. Those sonnets later appeared in her most 
        famous collection, <i style="font-weight: bold;">Desolation</i> 
        (1922). A native Chilean, she served as a 
        <span style="font-weight: bold;">diplomat</span> both in the United 
        States and Europe. <span style="font-weight: bold;">Langston Hughes
        </span> translated a portion of Mistral&#8217;s poetry into 
        English just after she died.
    </li>
	<li class="list_item">
        <span class="label">Octavio Paz</span> (1914&ndash;1998, Mexico; 
        Nobel 1990): A prominent poet and essayist, Paz supported 
        <span style="font-weight: bold;">leftist</span> causes in Mexico; 
        he fought briefly for the <span style="font-weight: bold;">
        Republicans</span> during the <span style="font-weight: bold;">
        Spanish Civil War</span>.  He published the poetry collection 
        <i style="font-weight: bold;">Luna silvestre</i> at age 19, and 
        his 584-line poem <i style="font-weight: bold;">The Sun Stone</i> 
        deals with the planet <span style="font-weight: bold;">Venus</span>, 
        an important symbol to the Aztecs. While studying in Los Angeles, 
        Paz observed flamboyantly-dressed Mexican-American 
        <i style="font-weight: bold;">pachucos</i> 
        (&#8220;zoot-suiters&#8221;), who inspired him to write about Mexico 
        and its Native American/<i style="font-weight: bold;">mestizo</i> 
        heritage in his pivotal essay collection <i style="font-weight: bold;">
        The Labyrinth of Solitude</i> (1950).  Another prose work, 
        <i style="font-weight: bold;">In the Light of India</i> (1997), 
        reflected Paz&#8217;s part-(East) Indian heritage.
    </li>
	<li class="list_item">
        <span class="label">Jos&eacute; Mart&iacute;</span> (1853&ndash;1895, 
        Cuba): Best known as a poet and a <span style="font-weight: bold;">
        revolutionary</span>, Mart&iacute; fought tirelessly for 
        <span style="font-weight: bold;">Cuban independence</span>. 
        <span style="font-weight: bold;">Imprisoned</span> at age sixteen 
        and <span style="font-weight: bold;">exiled</span> from the island 
        several times, he settled in <span style="font-weight: bold;">New York
        </span> for the last fifteen years of his life, where he wrote 
        essays on <span style="font-weight: bold;">Walt Whitman</span>, 
        <span style="font-weight: bold;">Jesse James</span>, and the 
        <span style="font-weight: bold;">threat of Latin American economic 
        dependence</span> on the United States. His 
        <i style="font-weight: bold;">Ill-Omened Friendship</i> (1885) is 
        considered the first Spanish <span style="font-weight: bold;">
        modernist novel</span>, and his poetry collections include 
        <i style="font-weight: bold;">Our America</i> and 
        <i style="font-weight: bold;">Simple Verses</i>, which contains the 
        poem <span style="font-weight: bold;">&#8220;Guantanamera,&#8221;
        </span> the inspiration for several songs. Mart&iacute; was killed 
        in a skirmish at Dos R&iacute;os while participating in an invasion 
        with other Cuban exiles.
    </li>
	<li class="list_item">
        <span class="label">Mario Vargas Llosa</span> (1936&ndash;present, 
        Peru): While attending <span style="font-weight: bold;">military 
        school</span> in Lima, Vargas Llosa wrote the play 
        <i style="font-weight: bold;">The Escape of the Inca</i> (1952), 
        but the harsh treatment he received there was the basis for his novel 
        <i style="font-weight: bold;">The Time of the Hero</i>. 
        <i style="font-weight: bold;">Conversation in the Cathedral</i> 
        (1969) was Vargas Llosa&#8217;s serious take on living under the 
        <span style="font-weight: bold;">dictatorship</span> of 
        <span style="font-weight: bold;">Manuel Odr&iacute;a</span>, while 
        in 1977 he published the lighter, autobiographical 
        <i style="font-weight: bold;">Aunt Julia and the Scriptwriter</i>, 
        about <span style="font-weight: bold;">soap operas</span>. Other 
        important works include <i style="font-weight: bold;">The War of 
        the End of the World</i> and <i style="font-weight: bold;">A Fish 
        in the Water</i>, which discusses his political career; Vargas Llosa 
        <span style="font-weight: bold;">ran for president of Peru</span> in 
        1990 but was defeated by <span style="font-weight: bold;">Alberto 
        Fujimori</span>.
    </li>
	<li class="list_item">
        <span class="label">Miguel Asturias</span> (1899&ndash;1974, 
        Guatemala; Nobel 1967): Asturias left his native Guatemala in 1923 to 
        <span style="font-weight: bold;">study in Paris</span>.  There he 
        discovered <span style="font-weight: bold;">Mayan mythology</span>, 
        and translated the <i style="font-weight: bold;">Popol Vuh</i> into 
        Spanish; the theme would pervade his work, such as 1963&#8217;s 
        <i style="font-weight: bold;">Mulata de tal</i>. He most famous 
        novel, <i style="font-weight: bold;">El se&ntilde;or presidente</i> 
        (1946), was a <span style="font-weight: bold;">satire</span> against 
        the oppressive Guatalemalan dictatorship. Asturias also completed a 
        trilogy that blasted exploitation by the American-led 
        <span style="font-weight: bold;">United Fruit Company</span>, and 
        the short-story collection <i style="font-weight: bold;">Weekend 
        in Guatemala</i> (1956), based on the <span style="font-weight: bold;">
        CIA-led overthrow of president Jacobo Arbenz</span>&#8217;s liberal 
        government.
    </li>
	<li class="list_item">
        <span class="label">Carlos Fuentes</span> (1928&ndash;2012, Mexico): 
        Though born into a well-to-do family, Fuentes often dealt with the 
        <span style="font-weight: bold;">betrayed ideals from the Mexican 
        Revolution</span> of 1910, the subject of both his first novel, 
        <i style="font-weight: bold;">Where the Air is Clear </i>(1958), and 
        his most successful book, <i style="font-weight: bold;">The Death 
        of Artemio Cruz</i> (1962). Other notable novels include 
        <i style="font-weight: bold;">Terra nostra</i>, set during the 
        reign of <span style="font-weight: bold;">King Philip&nbsp;II of 
        Spain</span>, and <i style="font-weight: bold;">The Old Gringo</i>, 
        which portrays <span style="font-weight: bold;">Ambrose Bierce
        </span>&#8217;s last days in Mexico. Fuentes also wrote 
        <span style="font-weight: bold;">absurdist plays</span> and essay 
        collections on Mexican and American art and literature.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}