{% extends "base.html" %}  {% block title %}Mathematicians{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Mathematicians</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/mathematicians.html">
    You Gotta Know These Mathematicians
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        The work of <span class="label">Isaac Newton</span> (1643&ndash;1727, English) in 
        pure math includes <span style="font-weight: bold;">generalizing 
        the binomial theorem</span> to non-integer exponents, doing the 
        first rigorous manipulation with <span style="font-weight: bold;">
        power series</span>, and creating <span style="font-weight: bold;">
        Newton&#8217;s method</span> for <span style="font-weight: bold;">
        finding roots</span> of differentiable functions. He is best known, 
        however, for a lengthy feud between British and Continental 
        mathematicians over whether he or <span style="font-weight: bold;">
        Gottfried Leibniz</span> invented <span style="font-weight: bold;">
        calculus</span> (whose differential aspect Newton called the 
        <span style="font-weight: bold;">method of fluxions</span>). 
        It is now generally accepted that they both did, independently.
    </li>
	<li class="list_item">
        <span class="label">Euclid</span> (c.&nbsp;300&nbsp;BC, Alexandrian 
        Greek)  is principally known for the <i style="font-weight: bold;">
        Elements</i>, a textbook on <span style="font-weight: bold;">
        geometry</span> and number theory, that has been used for over 
        2,000 years and which grounds essentially all of what is taught 
        in modern high school geometry classes.  The <i>Elements</i> 
        includes <span style="font-weight: bold;">five postulates</span> 
        that describe what is now called Euclidean space (the usual 
        geometric space we work in); the <span style="font-weight: bold;">
        fifth postulate</span> &mdash; also called the 
        <span style="font-weight: bold;">parallel postulate</span> 
        &mdash; can be broken to create <span style="font-weight: bold;">
        spherical</span> and <span style="font-weight: bold;">hyperbolic 
        geometries</span>, which are collectively called 
        <span style="font-weight: bold;">non-Euclidean geometries</span>. 
        The <i>Elements</i> also includes a proof that 
        <span style="font-weight: bold;">there are infinitely many prime 
        numbers</span>.
    </li>
	<li class="list_item">
        <span class="label">Carl Friedrich Gauss</span> (1777&ndash;1855, 
        German) is considered the <span style="font-weight: bold;">
        &#8220;Prince of Mathematicians&#8221;</span> for his 
        extraordinary contributions to every major branch of mathematics. 
        His <i style="font-weight: bold;">Disquisitiones Arithmeticae
        </i> systematized <span style="font-weight: bold;">number 
        theory</span> and stated the <span style="font-weight: bold;">
        fundamental theorem of arithmetic</span> (every integer greater 
        than 1 has a <span style="font-weight: bold;">prime 
        factorization</span> that is unique notwithstanding the order 
        of the factors). In his doctoral dissertation, he proved the 
        <span style="font-weight: bold;">fundamental theorem of algebra
        </span> (every non-constant polynomial has at least one 
        <span style="font-weight: bold;">root</span> in the complex 
        numbers), though that proof is not considered rigorous enough 
        for modern standards. He later proved the law of 
        <span style="font-weight: bold;">quadratic reciprocity</span>, 
        and the <span style="font-weight: bold;">prime number theorem
        </span> (that the number of primes less than <i>n</i> is is 
        approximately <i>n</i> divided by the natural logarithm of 
        <i>n</i>). Gauss may be most famous for the (possibly apocryphal) 
        story of intuiting the formula for the 
        <span style="font-weight: bold;">summation of an arithmetic 
        sequence</i> when his primary-school teacher gave him the task 
        &mdash; designed to waste his time &mdash; of 
        <span style="font-weight: bold;">adding the first 100 positive 
        integers</span>.
    </li>
	<li class="list_item">
        <span class="label">Archimedes</span> (287&ndash;212&nbsp;BC, 
        Syracusan Greek) is best known for his 
        <span style="font-weight: bold;">&#8220;eureka&#8221; moment</span>, 
        in which he realized he could use <span style="font-weight: bold;">
        density</span> considerations to determine the 
        <span style="font-weight: bold;">purity of a gold crown</span>; 
        nonetheless, he was the preeminent mathematician of ancient Greece. 
        He found the <span style="font-weight: bold;">ratios between the 
        surface areas and volumes of a sphere and a circumscribed cylinder
        </span>, accurately <span style="font-weight: bold;">estimated pi
        </span>, and developed a calculus-like technique to find the area 
        of a circle, his <span style="font-weight: bold;">method of 
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Gottfried Leibniz</span> (1646&ndash;1716, 
        German) is known for his <span style="font-weight: bold;">independent 
        invention of calculus</span> and the ensuing 
        <span style="font-weight: bold;">priority dispute</span> with
        <span style="font-weight: bold;">Isaac Newton</span>.  Most modern 
        <span style="font-weight: bold;">calculus notation</span>, including 
        the integral sign and the use of <i>d</i> to indicate a differential, 
        originated with Leibniz. He also did work with the 
        <span style="font-weight: bold;">binary number system</span> and 
        did fundamental work in establishing <span style="font-weight: bold;">
        boolean algebra</span> and <span style="font-weight: bold;">symbolic 
        logic</span>.
    </li>
	<li class="list_item">
        <span class="label">Pierre de&nbsp;Fermat</span> (1601&ndash;1665, 
        French) is remembered for his contributions to 
        <span style="font-weight: bold;">number theory</span> including his 
        <span style="font-weight: bold;">little theorem</span>, which 
        states that if <i>p</i> is a prime number and <i>a</i> is any 
        number at all, then <i>a</i><sup><i>p</i></sup>
        &thinsp;&ndash;&thinsp;<i>a</i> will be divisible by <i>p</i>. He 
        studied <span style="font-weight: bold;">Fermat primes</span>, 
        which are prime numbers that can be written as 2<sup>2<sup>
        <i>n</i></sup></sup>&thinsp;+&thinsp;1 for some integer <i>n</i>, 
         is probably most famous for his <span style="font-weight: bold;">
        &#8220;last theorem,&#8221;</span> which he wrote in the margin of 
        <i style="font-weight: bold;">Arithmetica</i> by the ancient Greek 
        mathematician <span style="font-weight: bold;">Diophantus</span> 
        with a note that &#8220;I have discovered a marvelous proof of 
        this theorem that this margin is too small to contain.&#8221; The 
        theorem states that there is no combination of positive integers 
        <i>x</i>, <i>y</i>, <i>z</i>, and <i>n</i>, with <i>
        n&thinsp;&gt;&thinsp;2</i>, such that <i>x</i><sup><i>n</i></sup>
        &thinsp;+&thinsp;<i>y</i><sup><i>n</i></sup>&nbsp;=&nbsp;<i>z</i>
        <sup><i>n</i></sup>, and mathematicians struggled for over 300 
        years to find a proof until <span style="font-weight: bold;">
        Andrew Wiles</span> completed one in 1995. (It is generally 
        believed that Fermat did not actually have a valid proof.) Fermat 
        and <span style="font-weight: bold;">Blaise Pascal</span> 
        corresponded about <span style="font-weight: bold;">probability 
        theory</span>.
    </li>
	<li class="list_item">
        <span class="label">Leonhard Euler</span> (1707&ndash;1783, 
        Swiss) is known for his <span style="font-weight: bold;">
        prolific output</span> and the fact that he continued to 
        produce seminal results even after going 
        <span style="font-weight: bold;">blind</span>. He invented 
        <span style="font-weight: bold;">graph theory</span> by solving 
        the <span style="font-weight: bold;">Seven Bridges of 
        K&ouml;nigsberg problem</span>, which asked whether there was a 
        way to travel a particular arrangement of bridges so that you 
        would cross each bridge exactly once. (He proved that it was 
        impsosible to do so.) Euler introduced the modern notation for 
        <i style="font-weight: bold;">e</i>, an irrational number about 
        equal to 2.718, which is now called <span style="font-weight: bold;">
        Euler&#8217;s number</span> in his honor (but don&#8217;t confuse 
        it for <span style="font-weight: bold;">Euler&#8217;s constant</span>, 
        which is different); he also introduced modern notation for 
        <i style="font-weight: bold;">i</i>, a square root of &ndash;1, and 
        for trigonometric functions. He proved 
        <span style="font-weight: bold;">Euler&#8217;s formula</span>, which 
        relates complex numbers and trigonometric functions: <i>e</i><sup>
        <i>i</i>&thinsp;<i>x</i></sup>&nbsp;=&nbsp;cos&thinsp;<i>x</i>
        &thinsp;+&thinsp;<i>i</i>&thinsp;sin&thinsp;<i>x</i>, of which 
        a special case is the fact that <i>e</i><sup><i>i</i>
        &thinsp;&pi;</sup>&nbsp;=&nbsp;&ndash;1, which 
        <span style="font-weight: bold;">Richard Feynman</span> called 
        &#8220;the most beautiful equation in mathematics&#8221; because 
        it links four of math&#8217;s most important constants.
    </li>
	<li class="list_item">
        <span class="label">Kurt G&ouml;del</span> (1906&ndash;1978, 
        Austrian) was a logician best known for his two 
        <span style="font-weight: bold;">incompleteness theorems</span>, 
        which state that if a formal logical system is powerful enough 
        to express ordinary arithmetic, it must contain statements that 
        are true yet unprovable. G&ouml;del developed paranoia late in 
        life and eventually refused to eat because he feared his food 
        had been poisoned; he died of starvation.
    </li>
	<li class="list_item">
        <span class="label">Andrew Wiles</span> (1953&ndash;present, 
        British) is best known for proving the 
        <span style="font-weight: bold;">Taniyama-Shimura conjecture
        </span> that all rational semi-stable 
        <span style="font-weight: bold;">elliptic curves</span> are 
        <span style="font-weight: bold;">modular forms</span>. When combined 
        with work already done by other mathematicians, this immediately 
        implied <span style="font-weight: bold;">Fermat&#8217;s last theorem
        </span> (see above).
    </li>
	<li class="list_item">
        <span class="label">William Rowan Hamilton</span> (1805&ndash;1865, 
        Irish) is known for a four-dimensional 
        <span style="font-weight: bold;">extension of complex numbers
        </span>, with six square roots of &ndash;1 (&plusmn;<i>i</i>, 
        &plusmn;<i>j</i>, and &plusmn;<i>k</i>), called the 
        <span style="font-weight: bold;">quaternions</span>.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}