{% extends "base.html" %}  {% block title %}Postmodern Authors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Postmodern Authors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/postmodern-authors.html">
    You Gotta Know These Postmodern Authors
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Vladimir Nabokov</span> (1899&ndash;1977) was 
        a Russian-American author. 
        His 1955 novel <i style="font-weight: bold;">Lolita</i> depicts 
        <span style="font-weight: bold;">Humbert Humbert</span>&#8217;s 
        obsession with the adolescent <span style="font-weight: bold;">
        Ramsdale</span> resident <span style="font-weight: bold;">Dolores 
        Haze</span>, whom Humbert nicknames &#8220;Lolita.&#8221; Humbert 
        becomes Lolita&#8217;s stepfather by marrying her mother 
        <span style="font-weight: bold;">Charlotte</span>, who soon dies. 
        Lolita and Humbert travel the U.S. before Humbert enrolls Lolita 
        at the <span style="font-weight: bold;">Beardsley School for Girls
        </span>. There, Lolita is cast in a play written by 
        <span style="font-weight: bold;">Clare Quilty</span>, and 
        devises a plan of escape. In Nabokov&#8217;s highly meta-fictional 
        novel <i style="font-weight: bold;">Pale Fire</i>, a 
        <span style="font-weight: bold;">999-line poem</span> of the same name 
        by <span style="font-weight: bold;">John Shade</span> is the subject 
        of a lengthy commentary by the scholar 
        <span style="font-weight: bold;">Charles Kinbote</span>. However, 
        Kinbote&#8217;s notes are more concerned with himself than with 
        the poem, revealing that he thinks 
        of himself as King Charles, the exiled monarch of the land of 
        <span style="font-weight: bold;">Zembla</span>. Nabokov&#8217;s other 
        books include the novels <i style="font-weight: bold;">Ada, or 
        Ardor</i>, which recounts an <span style="font-weight: bold;">
        incestuous</span> relationship; <i style="font-weight: bold;">
        Invitation to a Beheading</i>, about the condemned prisoner 
        <span style="font-weight: bold;">Cincinnatus
        </span>, and <i style="font-weight: bold;">The Defense</i>, a 
        Russian-language novel about the chess player 
        <span style="font-weight: bold;">Aleksandr Luzhin</span>. In his 
        memoir <i style="font-weight: bold;">
        Speak, Memory</i>, Nabokov wrote about his wife 
        <span style="font-weight: bold;">Vera</span> and his scientific 
        interest in <span style="font-weight: bold;">butterflies</span>.
    </li>
	<li class="list_item">
        <span class="label">Jorge Luis Borges</span> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">BOR-hayss</span> (1899&ndash;1986) was an 
        Argentine short story writer who often dealt with 
        <span style="font-weight: bold;">meta-fictional themes</span>. His 
        story <span style="font-weight: bold;">&#8220;The Library of 
        Babel&#8221;</span> depicts an <span style="font-weight: bold;">
        infinite library</span> made up of <span style="font-weight: bold;">
        hexagonal rooms</span>, which contain every possible 
        <span style="font-weight: bold;">410-page book</span>. In 
        <span style="font-weight: bold;">&#8220;Pierre Menard, Author of the 
        Quixote,&#8221;</span> the fictional 20th-century author Pierre 
        Menard writes a <span style="font-weight: bold;">line-by-line 
        reproduction</span> of Cervantes&#8217;s 
        <i style="font-weight: bold;">Don Quixote</i>, which is much more 
        interesting than the original because of the historical context in 
        which the new version was produced. Borges&#8217;s story 
        <span style="font-weight: bold;">&#8220;Tl&ouml;n, Uqbar, Orbis 
        Tertius&#8221;</span> describes an imaginary realm, created by a 
        <span style="font-weight: bold;">secret society of intellectuals
        </span>, that gradually intrudes into the world of the story. 
        <span style="font-weight: bold;">&#8220;The Aleph&#8221;</span> is 
        named after a <span style="font-weight: bold;">point</span> from 
        which every other point in the universe can be perceived. Many of 
        Borges&#8217;s best-known stories appeared in the collections 
        <i style="font-weight: bold;">Ficciones</i> and 
        <i style="font-weight: bold;">Labyrinths</i>, the latter of which 
        is named after a common motif in Borges&#8217;s work. For example, 
        in <span style="font-weight: bold;">&#8220;The Garden of Forking 
        Paths&#8221;</span> the author <span style="font-weight: bold;">
        Ts&#8217;ui P&ecirc;n</span> tries to create a metaphorical 
        &#8220;labyrinth&#8221; by writing a novel in which every event is 
        followed by every possible outcome. The story is narrated by 
        Ts&#8217;ui P&ecirc;n&#8217;s descendent, 
        <span style="font-weight: bold;">Dr. Yu Tsun</span>, who kills 
        the Sinologist <span style="font-weight: bold;">Stephen Albert
        </span> to convey a coded message to German forces during World 
        War I.</li>
	<li class="list_item">
        <span class="label">Kurt Vonnegut</span> (1922&ndash;2007) was an 
        American novelist best known for the 1969 novel 
        <i style="font-weight: bold;">Slaughterhouse-Five</i>. The novel 
        centers on <span style="font-weight: bold;">Billy Pilgrim</span>, 
        who experiences his life out of order after becoming 
        <span style="font-weight: bold;">&#8220;unstuck in time.&#8221;</span> 
        Like Vonnegut, Billy survives the <span style="font-weight: bold;">
        firebombing of Dresden</span> during World War II. Billy is also 
        <span style="font-weight: bold;">kidnapped</span> by aliens called 
        <span style="font-weight: bold;">Tralfamadorians</span>, and displayed 
        in a <span style="font-weight: bold;">zoo</span> along with the 
        actress <span style="font-weight: bold;">Montana Wildhack</span>. The 
        Tralfamadorians have a fatalistic attitude towards mortality, which 
        is mirrored in the novel&#8217;s repetition of the phrase 
        <span style="font-weight: bold;">&#8220;so it goes&#8221;</span> 
        after any mention of death. Vonnegut&#8217;s earlier novel 
        <i style="font-weight: bold;">Cat&#8217;s Cradle</i> describes a 
        fictional religion called <span style="font-weight: bold;">Bokononism
        </span>, which was founded on the Caribbean island of 
        <span style="font-weight: bold;">San Lorenzo</span>. The plot of 
        <i>Cat&#8217;s Cradle</i> partly focuses on 
        <span style="font-weight: bold;">ice-nine</span>, a substance invented 
        by <span style="font-weight: bold;">Felix Hoenikker</span> that has 
        the power to destroy all life on Earth.
    </li>
	<li class="list_item">
        <span class="label">Italo Calvino</span> (1923&ndash;1985) was an 
        Italian author. In his 1979 novel <i style="font-weight: bold;">
        If on a winter&#8217;s night a traveler</i>, the even-numbered 
        sections are presented as the <span style="font-weight: bold;">
        first chapters</span> of a number of different books, each of 
        which breaks off abruptly at a climactic moment. The odd-numbered 
        sections are addressed in the second person to 
        <span style="font-weight: bold;">&#8220;You,&#8221;</span> the 
        reader of &#8220;Italo Calvino&#8217;s new novel, <i>If on a 
        winter&#8217;s night a traveler</i>.&#8221; You and a fellow 
        book-lover named <span style="font-weight: bold;">Ludmilla</span> 
        investigate oddities in the novels you are reading, in the process 
        encountering a best-selling author named 
        <span style="font-weight: bold;">Silas Flannery</span>, the 
        deceitful translator <span style="font-weight: bold;">Ermes Marana
        </span>, and a scholar of <span style="font-weight: bold;">
        Cimmerian</span> literature named <span style="font-weight: bold;">
        Professor Uzzi-Tuzii</span>. Calvino&#8217;s novel 
        <i style="font-weight: bold;">Invisible Cities</i> is framed as a 
        conversation between <span style="font-weight: bold;">Kublai Khan
        </span> and <span style="font-weight: bold;">Marco Polo</span>, 
        who describes 55 fictional cities to the Mongol ruler. Calvino is 
        also known for his fantastical short stories, some of which are 
        collected in the volume <i style="font-weight: bold;">Cosmicomics
        </i> and narrated by an ancient being named 
        <span style="font-weight: bold;">Qfwfq</span>.</li>
	<li class="list_item">
        <span class="label">Joseph Heller</span> (1923&ndash;1999) was an 
        American novelist. He <span style="font-weight: bold;">satirized
        </span> <span style="font-weight: bold;">Army bureaucracy</span> 
        in his novel <i style="font-weight: bold;">Catch-22</i>, which was 
        based on his experiences as a <span style="font-weight: bold;">
        bombardier</span> on the <span style="font-weight: bold;">Italian 
        front</span> during World War II. The novel is set in Rome and on 
        the Mediterranean island of <span style="font-weight: bold;">
        Pianosa</span>, where <span style="font-weight: bold;">John 
        Yossarian</span> is stationed with the 
        <span style="font-weight: bold;">256th Squadron</span>. 
        &#8220;Catch-22&#8221; is a rule stating that airmen do not have 
        to fly missions if they are <span style="font-weight: bold;">insane
        </span>, but that applying to be excused from flying missions is 
        <span style="font-weight: bold;">proof of sanity</span>; consequently, 
        there is no way to avoid the dangerous missions. Characters in the 
        novel include the arch-capitalist mess officer 
        <span style="font-weight: bold;">Milo Minderbinder</span>, who sets 
        up a syndicate called <span style="font-weight: bold;">M&amp;M 
        Enterprises</span>, and <span style="font-weight: bold;">Major Major 
        Major</span>, who is accidentally promoted to the rank of major 
        because of his unusual name. The novel&#8217;s main antagonist is 
        <span style="font-weight: bold;">Colonel Cathcart</span>, who 
        continually raises the number of missions that airmen must fly 
        before they are allowed to go home. In 1994 Heller wrote a sequel 
        to <i>Catch-22</i>, titled <i style="font-weight: bold;">
        Closing Time</i>.
    </li>
	<li class="list_item">
        <span class="label">Don DeLillo</span> (born 1936) is an American 
        author. His 1985 breakout novel <i style="font-weight: bold;">White 
        Noise</i> is narrated by <span style="font-weight: bold;">Jack 
        Gladney</span>, a professor of <span style="font-weight: bold;">
        &#8220;Hitler Studies&#8221;</span> at a Midwestern college. 
        After a chemical spill results in an <span style="font-weight: bold;">
        &#8220;Airborne Toxic Event,&#8221;</span> Jack&#8217;s wife 
        <span style="font-weight: bold;">Babette</span> begins taking a 
        mysterious drug called <span style="font-weight: bold;">Dylar</span>. 
        Three years later DeLillo published <i style="font-weight: bold;">
        Libra</i>, a novel about assassin <span style="font-weight: bold;">
        Lee Harvey Oswald</span>&#8217;s participation in a fictional 
        <span style="font-weight: bold;">conspiracy</span> against John F. 
        Kennedy. DeLillo also wrote the 1997 novel 
        <i style="font-weight: bold;">Underworld</i>, in which the 
        <span style="font-weight: bold;">waste management</span> executive 
        <span style="font-weight: bold;">Nick Shay</span> buys the baseball 
        that was hit by New York Giants player Bobby Thomson in the 1951 
        <span style="font-weight: bold;">&#8220;Shot Heard &#8217;Round the 
        World.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Thomas Pynchon</span> (born 1937) is a 
        <span style="font-weight: bold;">reclusive</span> American novelist. 
        His 1973 novel <i style="font-weight: bold;">Gravity&#8217;s Rainbow
        </i> follows <span style="font-weight: bold;">Tyrone Slothrop</span>, 
        a lieutenant in World War II whose sexual encounters seem to predict 
        the locations of future <span style="font-weight: bold;">V-2 rocket 
        strikes</span>. A number of characters in the novel are trying to 
        find the secret of a mysterious device called the 
        <span style="font-weight: bold;">Schw&auml;rzgerat</span>, which is 
        to be installed in a rocket with the <span style="font-weight: bold;">
        serial number 00000</span>. Pynchon also wrote 
        <i style="font-weight: bold;">The Crying of Lot 49</i>, in which 
        <span style="font-weight: bold;">Oedipa Maas</span> suspects that she 
        has become entangled in an ancient conflict between the 
        <span style="font-weight: bold;">Thurn und Taxis</span> and 
        <span style="font-weight: bold;">Trystero</span> mail delivery 
        services. Other Pynchon novels include <i style="font-weight: bold;">
        V.</i>, in which <span style="font-weight: bold;">Herbert Stencil
        </span> searches for the mysterious title entity, and 
        <i style="font-weight: bold;">Inherent Vice</i>, about the Los 
        Angeles private investigator <span style="font-weight: bold;">Doc 
        Sportello</span>.
    </li>
	<li class="list_item">
        <span class="label">Salman Rushdie</span> (born 1947) is a novelist 
        born in India, who holds British and American citizenship. 
        Rushdie&#8217;s 1981 Booker Prize-winning novel 
        <i style="font-weight: bold;">Midnight&#8217;s Children</i> follows 
        <span style="font-weight: bold;">Saleem Sinai</span>, a man with 
        an enormous nose who is born at precisely the moment that 
        <span style="font-weight: bold;">India becomes independent</span>, 
        giving him <span style="font-weight: bold;">telepathic powers
        </span>. Other members of the novel&#8217;s title group&mdash;the 
        people born within an hour of independence&mdash;include 
        <span style="font-weight: bold;">Shiva</span>, a child with enormous 
        <span style="font-weight: bold;">knees</span>, and the magical 
        <span style="font-weight: bold;">Parvati-the-witch</span>. 
        Rushdie&#8217;s 1988 novel <i style="font-weight: bold;">The Satanic 
        Verses</i> begins as the actors <span style="font-weight: bold;">
        Gibreel Farishta</span> and <span style="font-weight: bold;">Saladin 
        Chamcha</span> are miraculously saved after their 
        <span style="font-weight: bold;">plane explodes</span> over the 
        English Channel. Upon being betrayed by Gibreel, Saladin seeks 
        revenge by ruining Gibreel&#8217;s relationship with the mountaineer 
        <span style="font-weight: bold;">Allie Cone</span>. <i>The Satanic 
        Verses</i> was condemned in a <i style="font-weight: bold;">fatwa</i>, 
        or religious decree, issued by Iranian leader 
        <span style="font-weight: bold;">Ayatollah Khomeini</span>. The 
        <i>fatwa</i> accused Rushdie of <span style="font-weight: bold;">
        blasphemy</span>, and ordered Muslims to kill Rushdie, his editors, 
        and his publishers. In 1998, Iran agreed not to actively seek 
        Rushdie&#8217;s death. Rushdie described his years of hiding in 
        the memoir <i style="font-weight: bold;">Joseph Anton</i>; the 
        title refers to the pseudonym that Rushdie adopted, which was 
        inspired by the authors Joseph Conrad and Anton Chekhov. 
        Rushdie&#8217;s other novels include <i style="font-weight: bold;">
        The Moor&#8217;s Last Sigh</i>, which is narrated by the swiftly 
        aging <span style="font-weight: bold;">Moraes Zogoiby</span>; 
        <i style="font-weight: bold;">The Ground Beneath Her Feet</i>, 
        which was loosely inspired by the legend of 
        <span style="font-weight: bold;">Orpheus</span>; and the young 
        adult books <i style="font-weight: bold;">Haroun and the Sea of 
        Stories</i> and <i style="font-weight: bold;">Luka and the Fire 
        of Life</i>.
    </li>
	<li class="list_item">
        <span class="label">David Foster Wallace</span> (1962&ndash;2008) was 
        an American author. His massive 1996 novel 
        <i style="font-weight: bold;">Infinite Jest</i> depicts a future 
        North America in which <span style="font-weight: bold;">years are 
        named after corporate products</span>. The novel is set mainly at 
        the <span style="font-weight: bold;">Ennet House Drug and Alcohol 
        Recovery House</span> and the <span style="font-weight: bold;">
        Enfield Tennis Academy</span> (where <span style="font-weight: bold;">
        Hal Incandenza</span> is a student). Hal&#8217;s father, James, 
        directs <span style="font-weight: bold;">&#8220;the Entertainment,
        &#8221;</span> a dangerously enthralling film sought by 
        <span style="font-weight: bold;">Quebe&ccedil;ois terrorists</span> 
        known as the <span style="font-weight: bold;">Wheelchair Assassins
        </span>. Wallace&#8217;s other novels are 
        <i style="font-weight: bold;">The Broom of the System</i> and 
        <i style="font-weight: bold;">The Pale King</i>, the latter of which 
        was left <span style="font-weight: bold;">unfinished</span> at his 
        2008 <span style="font-weight: bold;">suicide</span>. Wallace is 
        also known for his essay collections, including 
        <i style="font-weight: bold;">Consider the Lobster</i> and 
        <i style="font-weight: bold;">A Supposedly Fun Thing I&#8217;ll Never 
        Do Again</i>.
    </li>
	<li class="list_item">
        <span class="label">Zadie Smith</span> (born 1975) is a British 
        novelist. Her 2000 debut novel <i style="font-weight: bold;">White 
        Teeth</i> depicts the Bengali Muslim <span style="font-weight: bold;">
        Samad Iqbal</span> and his English friend 
        <span style="font-weight: bold;">Archie Jones</span>, who both live 
        in London. Samad&#8217;s son <span style="font-weight: bold;">Magid
        </span> becomes an <span style="font-weight: bold;">atheist</span> 
        scientist who joins <span style="font-weight: bold;">Marcus Chalfen
        </span>&#8217;s project to develop a genetically modified 
        <span style="font-weight: bold;">&#8220;FutureMouse,&#8221;</span> 
        while Magid&#8217;s twin brother <span style="font-weight: bold;">
        Millat</span> joins a Muslim fundamentalist group called 
        <span style="font-weight: bold;">KEVIN</span> (Keepers of the Eternal 
        and Victorious Islamic Nation). Both twins sleep with Archie&#8217;s 
        daughter, <span style="font-weight: bold;">Irie</span>. Smith&#8217;s 
        other novels include <i style="font-weight: bold;">NW</i>, which 
        takes place in northwest London; <i style="font-weight: bold;">Swing 
        Time</i>, which describes a troubled dancer named 
        <span style="font-weight: bold;">Tracey</span>; and the academic 
        novel <i style="font-weight: bold;">On Beauty</i>, which is loosely 
        based on E. M. Forster&#8217;s novel <i style="font-weight: bold;">
        Howards End</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Will Nediger.</p>
<br />
<br />
<br />
{% endblock %}