{% extends "base.html" %}  {% block title %}Roman Emperors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Roman Emperors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/roman-emperors.html">
    You Gotta Know These Roman Emperors
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Augustus</span> (63&nbsp;BC&ndash;AD&nbsp;14, 
        reigned 27&nbsp;BC&ndash;AD&nbsp;14) was the first 
        <span style="font-weight: bold;">Roman emperor</span>. Born Gaius 
        Octavius, he was the grandnephew and heir of 
        <span style="font-weight: bold;">Julius Caesar</span>. After Caesar 
        was assassinated, Octavian formed the 
        <span style="font-weight: bold;">Second Triumvirate</span> with 
        <span style="font-weight: bold;">Marc Antony</span> and 
        <span style="font-weight: bold;">Marcus Lepidus</span> to defeat 
        Caesar&#8217;s assassins. With the help of 
        <span style="font-weight: bold;">Marcus Agrippa</span>, he 
        sidelined Lepidus and defeated Antony at the 
        <span style="font-weight: bold;">Battle of Actium</span> to seize 
        the empire. Ruling as <span style="font-weight: bold;">princeps</span>, 
        or first citizen, Augustus created the 
        <span style="font-weight: bold;">Praetorian Guard</span> and added 
        <span style="font-weight: bold;">Egypt</span> to the empire, but 
        halted expansion into Germania after a crushing defeat at the 
        <span style="font-weight: bold;">Battle of Teutoburg Forest</span>.
    </li>
    <li class="list_item">
        <span class="label">Tiberius</span> (42&nbsp;BC&ndash;AD&nbsp;37, 
        reigned AD&nbsp;14&ndash;37) was Augustus&#8217;s stepson. During 
        his father&#8217;s reign, Tiberius led the conquests of 
        <span style="font-weight: bold;">Pannonia</span> and 
        <span style="font-weight: bold;">Raetia</span> in central Europe and 
        became the imperial heir with the support of his mother 
        <span style="font-weight: bold;">Livia</span>. Unhappy as emperor, 
        he mostly resided in his island <span style="font-weight: bold;">
        villa on Capri</span> and left <span style="font-weight: bold;">
        Lucius Sejanus</span> to manage the state. However, when Sejanus 
        attempted to seize power in AD&nbsp;31, Tiberius had him arrested 
        and executed. Tiberius was emperor when 
        <span style="font-weight: bold;">Jesus</span> of Nazareth was 
        crucified around AD&nbsp;33.
    </li>
    <li class="list_item">
        <span class="label">Caligula</span> (AD&nbsp;12&ndash;AD&nbsp;41, 
        reigned AD&nbsp;37&ndash;41) was the son of 
        <span style="font-weight: bold;">Germanicus</span>, Tiberius&#8217;s 
        popular nephew, and earned the nickname &#8220;Caligula,&#8221; or 
        <span style="font-weight: bold;">little boot</span>, from his 
        father&#8217;s soldiers. Though initially moderate, Caligula became 
        increasingly tyrannical, supposedly trying to build a palace on Lake 
        Nemi and to <span style="font-weight: bold;">make his horse, 
        Incitatus, a consul</span>. In AD&nbsp;41, 
        <span style="font-weight: bold;">Cassius Chaerea</span> led a 
        conspiracy of senators and Praetorian guards that killed Caligula 
        and his immediate family.
    </li>
    <li class="list_item">
        <span class="label">Claudius</span> (10&nbsp;BC&ndash;AD&nbsp;54, 
        reigned AD&nbsp;41&ndash;54) was Caligula&#8217;s uncle. A noted 
        <span style="font-weight: bold;">scholar</span>, he was the last 
        person able to read <span style="font-weight: bold;">ancient Etruscan
        </span>. He oversaw the <span style="font-weight: bold;">conquest of 
        Britain</span> and centralized power through a bureaucracy featuring 
        talented freedmen like <span style="font-weight: bold;">Tiberius 
        Narcissus</span>. In AD&nbsp;49, Claudius married his niece 
        <span style="font-weight: bold;">Agrippina the Younger</span>, who 
        then <span style="font-weight: bold;">poisoned</span> both 
        Claudius&#8217;s son <span style="font-weight: bold;">Britannicus
        </span> and the Emperor himself.
    </li>
    <li class="list_item">
        <span class="label">Nero</span> (AD&nbsp;37&ndash;AD&nbsp;68, 
        reigned AD&nbsp;54&ndash;68) was the son of 
        <span style="font-weight: bold;">Agrippina the Younger</span>. 
        Nero provoked scandal by performing as an 
        <span style="font-weight: bold;">actor</span> and 
        <span style="font-weight: bold;">musician</span>. He ordered his 
        mother&#8217;s death in AD&nbsp;58, and ordered the deaths of 
        <span style="font-weight: bold;">Seneca the Younger</span> and several 
        others after the <span style="font-weight: bold;">Pisonian Conspiracy
        </span>. Nero supposedly <span style="font-weight: bold;">
        &#8220;fiddled&#8221; during the Great Fire of Rome</span> and 
        <span style="font-weight: bold;">persecuted Christians</span> after 
        it. In AD&nbsp;68, he was deposed by the Senate and committed suicide.
    </li>
    <li class="list_item">
        <span class="label">Trajan</span> (AD&nbsp;53&ndash;AD&nbsp;117, 
        reigned AD&nbsp;98&ndash;117) led Rome to its 
        <span style="font-weight: bold;">greatest territorial extent</span>. 
        After succeeding <span style="font-weight: bold;">Nerva</span>, 
        Trajan defeated <span style="font-weight: bold;">Decebalus</span> to 
        conquer the rich Kingdom of <span style="font-weight: bold;">
        Dacia</span> (modern-day Romania). He employed 
        <span style="font-weight: bold;">Apollodorus of Damascus</span> to 
        build <span style="font-weight: bold;">Trajan&#8217;s Column</span> 
        and <span style="font-weight: bold;">Trajan&#8217;s Bridge</span> 
        across the Danube. Near the end of his reign, Trajan invaded the 
        <span style="font-weight: bold;">Parthian Empire</span>, sacking 
        its capital of Ctesiphon and <span style="font-weight: bold;">annexing 
        Armenia and Mesopotamia</span>.
    </li>
    <li class="list_item">
        <span class="label">Hadrian</span> (76&ndash;138, reigned 
        117&ndash;138) was Trajan&#8217;s younger cousin who succeeded him 
        as emperor. At the start of his reign, he 
        <span style="font-weight: bold;">withdrew from Trajan&#8217;s 
        conquests</span> in the east. While traveling in 
        <span style="font-weight: bold;">Greece</span>, he joined the 
        <span style="font-weight: bold;">Eleusinian Mysteries</span>; while 
        visiting Egypt, his beloved companion 
        <span style="font-weight: bold;">Antinous</span> drowned in the Nile. 
        He also commissioned <span style="font-weight: bold;">Hadrian&#8217;s 
        Wall</span> to mark the border of Roman Britain and crushed the 
        <span style="font-weight: bold;">Bar Kokhba revolt</span> in Judea.
    </li>
    <li class="list_item">
        <span class="label">Marcus Aurelius</span> (121&ndash;180, reigned 
        161&ndash;180) was the last of Rome&#8217;s 
        <span style="font-weight: bold;">&#8220;Five Good Emperors.&#8221;
        </span> With <span style="font-weight: bold;">Lucius Verus</span>, 
        Marcus inherited the throne from his uncle 
        <span style="font-weight: bold;">Antoninus Pius</span> and secured 
        a decisive victory over the <span style="font-weight: bold;">Parthian 
        Empire</span>. Marcus then spent much of his reign dealing with the 
        <span style="font-weight: bold;">Antonine Plague</span> and fighting 
        the <span style="font-weight: bold;">Marcomannic Wars</span>. During 
        this time he wrote the <i style="font-weight: bold;">Meditations</i>, 
        a journal and major text of <span style="font-weight: bold;">Stoic 
        philosophy</span>.
    </li>
    <li class="list_item">
        <span class="label">Diocletian</span> (244&ndash;305, reigned 
        284&ndash;305) stabilized the empire after the 
        <span style="font-weight: bold;">Crisis of the Third Century</span>. 
        He took power by defeating <span style="font-weight: bold;">Carinus
        </span> at the <span style="font-weight: bold;">Battle of the Margus
        </span> before creating the <span style="font-weight: bold;">Tetrarchy
        </span>, a new system of imperial rule with two senior emperors and 
        two junior emperors. He unsuccessfully attempted to curb inflation 
        with his <span style="font-weight: bold;">Edict on Maximum Prices
        </span> and led the <span style="font-weight: bold;">last and 
        largest persecution of Christians</span>. In 305, he became the first 
        emperor to <span style="font-weight: bold;">voluntarily step down
        </span>, retiring to his palace in Split, Croatia.
    </li>
    <li class="list_item">
        <span class="label">Constantine</span> (272&ndash;335, reigned 
        306&ndash;335) was the son of <span style="font-weight: bold;">
        Constantius Chlorus</span>, one of the junior members of 
        Diocletian&#8217;s Tetrarchy. Proclaimed emperor by his 
        father&#8217;s men, Constantine <span style="font-weight: bold;">
        defeated Maxentius</span> at the <span style="font-weight: bold;">
        Battle of Milvian Bridge</span> to seize Italy and then defeated 
        his brother-in-law <span style="font-weight: bold;">Licinius</span> 
        to win the east. He proposed the <span style="font-weight: bold;">
        Edict of Milan</span> giving tolerance to Christians and oversaw 
        the Christian <span style="font-weight: bold;">Council of Nicea
        </span>. Constantine also converted the city of 
        <span style="font-weight: bold;">Byzantium</span> into 
        <span style="font-weight: bold;">Constantinople</span>, the capital 
        of the Eastern Roman Empire for the next 1,100 years.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Honorable Mention</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Vespasian</span> (AD&nbsp;9&ndash;AD&nbsp;79, 
        reigned AD&nbsp;69&ndash;AD&nbsp;79) emerged from the Year of the 
        Four Emperors in AD&nbsp;69 to found the Flavian Dynasty, and later 
        commissioned the Colosseum.
    </li>
	<li class="list_item">
        <span class="label">Septimius Severus</span> (145&ndash;211, 
        reigned 193&ndash;211) triumphed in the Year of the Five Emperors 
        and founded the Severan dynasty. He was the first emperor to be 
        born in Africa.
    </li>
	<li class="list_item">
        <span class="label">Aurelian</span> (215&ndash;275, reigned 
        270&ndash;275) reconquered the territory lost during the Crisis of 
        the Third Century by defeating Zenobia of the Palmyrene Empire and 
        retaking Gaul and Britain.
    </li>
	<li class="list_item">
        <span class="label">Theodosius</span> (347&ndash;405, reigned 
        379&ndash;405) was the last man to rule both the eastern and western 
        halves of the empire.
    </li>
	<li class="list_item">
        <span class="label">Romulus Augustulus</span> (460&ndash;507, 
        reigned 475&ndash;476) is traditionally regarded as the last Roman 
        emperor. He was deposed in 476 by Odoacer, marking the end of 
        the Western Roman Empire.
    </li>
</ul>
<p class="justify">This article was contributed by NAQT editor Ben Miller.</p>
<br />
<br />
<br />
{% endblock %}