{% extends "base.html" %}  {% block title %}Romantic-Era Composers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Romantic-Era Composers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/romantic-era-composers.html">
    You Gotta Know These Romantic-Era Composers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Franz Schubert</span> (1797&ndash;1828) was an 
        early Romantic composer from Vienna whose relatively short life 
        largely overlapped with that of Ludwig van Beethoven 
        (1770&ndash;1827). Schubert wrote over 600 
        <i style="font-weight: bold;">lieder</i>, or German art songs. 
        These lieder include works notable on their own, such as his 
        Op.&nbsp;1 <span style="font-weight: bold;">&#8220;Der 
        Erlk&ouml;nig&#8221;</span>; the two song cycles 
        <i style="font-weight: bold;">Die sch&ouml;ne M&uuml;llerin
        </i> and <i style="font-weight: bold;">Winterreise</i>; and 
        lieder which he used as the basis for theme and variations 
        movements in other namesake works, such as the 
        <span style="font-weight: bold;">&#8220;Trout&#8221; Quintet
        </span> (for piano and string quartet, based on his lied 
        &#8220;The Trout,&#8221; or <span style="font-weight: bold;">
        &#8220;Die Forelle&#8221;</span>). Schubert&#8217;s orchestral 
        output included numerous symphonies, the most well-known of 
        which are No.&nbsp;8 in B&nbsp;minor, the 
        <span style="font-weight: bold;">&#8220;Unfinished&#8221;</span> 
        (so named because Schubert only ever completed two movements), 
        and No.&nbsp;9 in C&nbsp;major, known as the 
        <span style="font-weight: bold;">&#8220;Great C&nbsp;Major&#8221;
        </span> (in part to distinguish it from No.&nbsp;6, the 
        &#8220;Little C&nbsp;Major&#8221;).
    </li>
    <li class="list_item">
        <span class="label">Hector Berlioz</span> (1803&ndash;1869) was 
        the most prominent French composer of the early Romantic. His 
        best-known work, the programmatic <i style="font-weight: bold;">
        Symphonie fantastique</i> (subtitled &#8220;An Episode in the 
        Life of an Artist&#8221;), was inspired by his obsession with 
        the actress <span style="font-weight: bold;">Harriet Smithson
        </span>, whom Berlioz would later marry (and divorce). The work, 
        whose movements include vivid depictions of a 
        <span style="font-weight: bold;">&#8220;March to the 
        Scaffold&#8221;</span> and a <span style="font-weight: bold;">
        &#8220;Dream of a Witches&#8217; Sabbath,&#8221;</span> uses a 
        recurring melody known as an <i style="font-weight: bold;">
        id&eacute;e fixe</i>. Berlioz&#8217;s <i style="font-weight: bold;">
        Harold in Italy</i> is a work for solo viola and orchestra, 
        which the composer claimed was inspired in part by Lord 
        Byron&#8217;s poem <i style="font-weight: bold;">Childe 
        Harold&#8217;s Pilgrimage</i>. <i>Harold in Italy</i> was 
        commissioned by <span style="font-weight: bold;">Niccol&ograve; 
        Paganini</span>, who subsequently abandoned the project because 
        he felt that the viola was not sufficiently showcased, and who 
        never performed the work. Berlioz&#8217;s opera 
        <i style="font-weight: bold;">Les Troyens</i> (based on the 
        <i>Aeneid</i>), is a massive production that&mdash;while never 
        completely performed while Berlioz was alive&mdash;is now often 
        listed among the greatest operas ever written.
    </li>
    <li class="list_item">
        <span class="label">Felix Mendelssohn</span> (1809&ndash;1847) was 
        a German musical prodigy who completed his first symphony when 
        he was only 15 years old. Mendelssohn&#8217;s five completed, 
        published symphonies are numbered for the order in which they 
        were published, not the order in which they were written. His 
        <span style="font-weight: bold;">&#8220;Italian&#8221;</span> 
        (No.&nbsp;4 in A&nbsp;major) and <span style="font-weight: bold;">
        &#8220;Scottish&#8221;</span> (No.&nbsp;3 in A&nbsp;minor) 
        symphonies were inspired by his travels in the namesake countries. 
        Mendelssohn&#8217;s journey through Scotland included a trip to 
        <span style="font-weight: bold;">Fingal&#8217;s Cave</span>, 
        which inspired his <span style="font-weight: bold;">
        &#8220;Hebrides&#8221; Overture</span>, whose theme he sketched 
        on a postcard to his sister Fanny (who was also a composer). 
        When Mendelssohn was 17 years old, he wrote a concert overture 
        inspired by Shakespeare&#8217;s play <i style="font-weight: bold;">
        A Midsummer Night&#8217;s Dream</i>; many years later, he wrote 
        a complete set of incidental music for the play, including his 
        famous <span style="font-weight: bold;">&#8220;Wedding March.&#8221;
        </span> Mendelssohn&#8217;s non-orchestral music includes eight 
        books of <i style="font-weight: bold;">Songs Without Words</i> for 
        solo piano.
    </li>
    <li class="list_item">
        <span class="label">Robert Schumann</span> (1810&ndash;1854) was a 
        German composer and music critic who identified and promoted many 
        of the other best-known composers of the 19th century. Schumann 
        edited <i style="font-weight: bold;">Neue Zeitschrift f&uuml;r 
        Musik</i> (&#8220;New Journal for Music&#8221;) and lauded the 
        music of Frederic Chopin and Johannes Brahms while both were 
        relatively unknown. Schumann&#8217;s early music mainly consisted 
        of works for solo piano, such as <i style="font-weight: bold;">
        Carnaval</i>, which features a musical 
        <span style="font-weight: bold;">cryptogram</span>. In 1841, he 
        began to write orchestral music; his four completed symphonies 
        include No.&nbsp;1 in B-flat&nbsp;major, 
        <span style="font-weight: bold;">&#8220;Spring,&#8221;</span> and 
        No.&nbsp;3 in E-flat&nbsp;major, the 
        <span style="font-weight: bold;">&#8220;Rhenish.&#8221;</span> 
        Schumann married <span style="font-weight: bold;">Clara Wieck
        </span>, the daughter of Friedrich Wieck, Schumann&#8217;s piano 
        teacher, and a virtuoso pianist and composer in her own right. 
        Schumann battled mental illness throughout much of his life; he 
        spent the last two years of his life in a mental asylum after 
        attempting and failing to commit suicide.
    </li>
    <li class="list_item">
        <span class="label">Franz Liszt</span> (1811&ndash;1886) was a 
        Hungarian virtuoso pianist and composer who created a sensation 
        with his performance tours across Europe, spawning a phenomenon 
        that was given the nickname <span style="font-weight: bold;">
        &#8220;Lisztomania.&#8221;</span> Among Liszt&#8217;s innovations 
        in the performance space, he was the first pianist to give solo 
        concert-length recitals, playing entirely from memory. As a 
        composer, Liszt was seen as the head of a more progressive 
        <span style="font-weight: bold;">&#8220;New German School&#8221;
        </span> of music. His music for the piano includes the 
        notoriously-difficult <i style="font-weight: bold;">Transcendental 
        &Eacute;tudes</i> and the <i style="font-weight: bold;">Hungarian 
        Rhapsodies</i>, which are based on Hungarian folk music. Liszt 
        wrote numerous works inspired by the tale of Faust, including a 
        <i style="font-weight: bold;">Faust Symphony</i> and a set of 
        <i style="font-weight: bold;">Mephisto Waltzes</i>. Liszt is 
        also generally credited with inventing the orchestral genre of 
        the <span style="font-weight: bold;">symphonic poem</span> or 
        <span style="font-weight: bold;">tone poem</span>, a form later 
        taken up by Richard Strauss; Liszt&#8217;s own works in this 
        genre include <i style="font-weight: bold;">Les pr&eacute;ludes</i>.
    </li>
    <li class="list_item">
        <span class="label">Giuseppe Verdi</span> (1813&ndash;1901) was one 
        of the most prolific and successful Italian opera composers of the 
        Romantic period, and his operas include some of the most performed 
        works in the repertoire. <i style="font-weight: bold;">Aida</i> is 
        the tale of a captive <span style="font-weight: bold;">Ethiopian 
        princess</span> (who longs for her homeland in the aria 
        <span style="font-weight: bold;">&#8220;O patria mia&#8221;)</span> 
        who falls in love with the Egyptian general 
        <span style="font-weight: bold;">Radam&egrave;s</span>. 
        <i style="font-weight: bold;">Rigoletto</i> tells the story of a 
        <span style="font-weight: bold;">hunchbacked jester</span> who 
        seeks revenge on the womanizing <span style="font-weight: bold;">
        Duke of Mantua</span> (who sings <span style="font-weight: bold;">
        &#8220;La donna &egrave; mobile&#8221;</span>), but instead ends 
        up causing the death of his own daughter, 
        <span style="font-weight: bold;">Gilda</span>. Verdi&#8217;s late 
        operas include two masterpieces based on the works of Shakespeare: 
        <i style="font-weight: bold;">Otello</i> and 
        <i style="font-weight: bold;">Falstaff</i>, the latter of which 
        was both Verdi&#8217;s last opera and his only successful comedy. 
        Verdi&#8217;s most successful non-operatic work is his 
        <i style="font-weight: bold;">Requiem</i>, whose 
        <span style="font-weight: bold;">&#8220;Dies irae&#8221;</span> 
        movement has seen wide use in popular culture.
    </li>
    <li class="list_item">
        <span class="label">Richard Wagner</span> (1813&mdash;1883) was the 
        most influential German opera composer of the 19th century. 
        Wagner&#8217;s four-opera <i style="font-weight: bold;">Ring Cycle
        </i>&mdash;consisting of <i style="font-weight: bold;">Das 
        Rheingold</i>, <i style="font-weight: bold;">Die Walk&uuml;re</i> 
        (<i>The Valkyrie</i>), <i style="font-weight: bold;">Siegfried</i>, 
        and <i style="font-weight: bold;">G&ouml;tterd&auml;mmerung</i> 
        (<i>Twilight of the Gods</i>)&mdash;tells the story of a magical 
        ring forged by the <span style="font-weight: bold;">Nibelung
        </span> (dwarf) <span style="font-weight: bold;">Alberich</span>, 
        which Alberich curses after it is stolen by Odin; the second of 
        these operas includes the orchestral excerpt 
        <span style="font-weight: bold;">&#8220;Ride of the Valkyries.
        &#8221;</span> Wagner&#8217;s other operas include 
        <i style="font-weight: bold;">Lohengrin</i>, the tale of a knight 
        who arrives in a boat pulled by a swan, and which includes a 
        <span style="font-weight: bold;">&#8220;Bridal Chorus&#8221;
        </span> popularly known as <span style="font-weight: bold;">
        &#8220;Here Comes the Bride&#8221;</span>; and 
        <i style="font-weight: bold;">Tristan and Isolde</i>, whose 
        prelude begins with an iconic chord (which has become known as 
        the <span style="font-weight: bold;">&#8220;Tristan chord&#8221;
        </span>) that is often cited as a break with common practice-era 
        harmony. The annual <span style="font-weight: bold;">Bayreuth 
        Festival</span> (in Bayreuth, Germany) showcases performances of 
        Wagner&#8217;s works. Wagner was a virulent 
        <span style="font-weight: bold;">antisemite</span>; Alberich, the 
        villain of the Ring Cycle, is a racist caricature of a 
        Jewish person.
    </li>
    <li class="list_item">
        <span class="label">Johannes Brahms</span> (1833&ndash;1897) is 
        often described as one of the <span style="font-weight: bold;">
        &#8220;Three B&#8217;s&#8221;</span> of classical music, along 
        with J.&nbsp;S. Bach and Ludwig van Beethoven, and his output 
        covered the entire gamut of genres. Brahms&#8217;s Symphony 
        No.&nbsp;1 in C&nbsp;minor is nicknamed 
        <span style="font-weight: bold;">&#8220;Beethoven&#8217;s 
        Tenth&#8221;</span> due to the final movement&#8217;s resemblance 
        to the &#8220;Ode to Joy&#8221; in Beethoven&#8217;s Ninth. 
        Brahms&#8217;s Symphony No.&nbsp;3 in F&nbsp;major is based on a 
        three-note F&ndash;A&ndash;F motto, representing the phrase 
        <span style="font-weight: bold;">&#8220;Frei aber froh,&#8221;
        </span> or &#8220;Free but happy.&#8221; His 
        <i style="font-weight: bold;">Ein deutsches Requiem</i>, or 
        <i style="font-weight: bold;">A German Requiem</i>, is a 
        non-liturgical concert work for chorus and orchestra. Brahms 
        was also a prolific composer of chamber music, writing numerous 
        sonatas and trios. His Op.&nbsp;49 No.&nbsp;4 
        <span style="font-weight: bold;">&#8220;Wiegenlied&#8221;</span> 
        is commonly known as <span style="font-weight: bold;">
        &#8220;Brahms&#8217; Lullaby.&#8221;</span> During his lifetime, 
        Brahms was often viewed as the head of a more conservative 
        school of music relative to composers like Wagner and Liszt.
    </li>
    <li class="list_item">
        <span class="label">Pyotr Ilyich Tchaikovsky</span> 
        (1840&ndash;1893) was a Russian composer of the Romantic era 
        whose ballets <i style="font-weight: bold;">The Nutcracker</i>, 
        <i style="font-weight: bold;">Swan Lake</i>, and 
        <i style="font-weight: bold;">Sleeping Beauty</i> are all among 
        the most performed works in the standard repertoire. Tchaikovsky 
        completed six numbered symphonies and an unnumbered symphony 
        based on Lord Byron&#8217;s poem <i style="font-weight: bold;">
        Manfred</i>. Although he was not a part of the group of 
        nationalistic Russian composers known as &#8220;The Mighty Five,
        &#8221; it was Tchaikovsky&#8217;s correspondence with the 
        Five&#8217;s leader Mily Balakirev that led to Tchaikovsky&#8217;s 
        <i style="font-weight: bold;">Romeo and Juliet</i>, an 
        <span style="font-weight: bold;">&#8220;overture-fantasy&#8221;
        </span> whose love theme has become ubiquitous in popular culture. 
        His <i style="font-weight: bold;">1812 Overture</i>, a programmatic 
        work depicting Napoleon&#8217;s army being driven out of Russia, 
        quotes the melodies of <span style="font-weight: bold;">&#8220;God 
        Save the Tsar&#8221;</span> and <span style="font-weight: bold;">
        &#8220;La Marseillaise,&#8221;</span> and calls for cannons to be 
        fired in the score. Tchaikovsky was gay, and many have speculated 
        that his death shortly after the premiere of his Sixth Symphony, 
        the <span style="font-weight: bold;">&#8220;Path&eacute;tique,
        &#8221;</span> was effectively suicide.
    </li>
    <li class="list_item">
        <span class="label">Anton&iacute;n Dvo&#345;&aacute;k</span> 
        (1841&ndash;1904) was a Czech composer who, ironically, wrote his 
        two best-known works while living in America. From 1892 to 1895, 
        Dvo&#345;&aacute;k was the director of New York&#8217;s National 
        Conservatory of Music; while living in the U.S., he wrote his 
        Symphony No.&nbsp;9 (<span style="font-weight: bold;">&#8220;From 
        the New World&#8221;</span>) and his <span style="font-weight: bold;">
        &#8220;American&#8221; String Quartet</span> (No.&nbsp;12). The 
        &#8220;New World&#8221; symphony is among the most popular and 
        oft-performed works in the standard repertoire; its <i>Largo</i> 
        second movement begins with an iconic English horn solo that was 
        later adapted into the song <span style="font-weight: bold;">
        &#8220;Goin&#8217; Home.&#8221;</span> Dvo&#345;&aacute;k claimed 
        that the material of the symphony was inspired by the styles of 
        both <span style="font-weight: bold;">African-American and Native 
        American melodies</span>, though all of the actual music is 
        Dvo&#345;&aacute;k&#8217;s own. Dvo&#345;&aacute;k&#8217;s 
        other works include two sets of <i style="font-weight: bold;">
        Slavonic Dances</i>, which are based on various styles of folk 
        music&mdash;but no actual folk melodies&mdash;from 
        Dvo&#345;&aacute;k&#8217;s native Bohemia, including the 
        <i style="font-weight: bold;">dumka</i> and the 
        <i style="font-weight: bold;">furiant</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}