{% extends "base.html" %}  {% block title %}Russian Tsars{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Russian Tsars</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/russian-tsars.html">
    You Gotta Know These Russian Tsars
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Ivan&nbsp;IV</span> (1530&ndash;1584; ruled 
        1533&ndash;1584): Ivan&nbsp;IV is known in the West as &#8220;Ivan 
        the Terrible,&#8221; but his Russian nickname, Groznyi, would be 
        more accurately translated as &#8220;awe-inspiring&#8221; or 
        &#8220;menacing&#8221; (the original meaning of the English word 
        &#8220;terrible&#8221;). Ivan was proclaimed 
        <span style="font-weight: bold;">Grand Prince of Muscovy</span> in 
        1533 and tsar in 1547. Scholars differ on whether Ivan was 
        <span style="font-weight: bold;">literate</span> and on how 
        auspiciously his reign began. Early in his reign, he pushed through 
        a series of <span style="font-weight: bold;">well-received</span> 
        reforms and called a <i style="font-weight: bold;">zemskii sobor</i> 
        (assembly of the land), but Ivan had an amazingly 
        <span style="font-weight: bold;">cruel streak</span> and eventually 
        became unstable: he <span style="font-weight: bold;">temporarily 
        abdicated</span> in 1564, <span style="font-weight: bold;">killed 
        his favorite son</span>, created a state-within-the-state called the 
        <i style="font-weight: bold;">oprichnina</i> to wage war on the 
        boyars, and participated in the <span style="font-weight: bold;">
        torture of his enemies</span>. Ivan combined the 
        <span style="font-weight: bold;">absolutist tendencies</span> of 
        his predecessors with his own <span style="font-weight: bold;">
        violent personality</span>, helping to plunge the country into 
        the subsequent period of civil strife known as the 
        <span style="font-weight: bold;">&#8220;Time of Troubles.&#8221;
        </span>
    </li>
	<li class="list_item">
        <span class="label">Boris Godunov</span> (ca. 1551&ndash;1605; ruled 
        1598&ndash;1605): Boris Godunov began his career as a 
        <span style="font-weight: bold;">boyar</span> in 
        <span style="font-weight: bold;">Ivan the Terrible&#8217;s <i>
        oprichnina</i></span>, and eventually became tsar himself. Boris 
        first cemented his influence by <span style="font-weight: bold;">
        marrying a daughter of one of Ivan&#8217;s court favorites</span> 
        and <span style="font-weight: bold;">arranging his sister 
        Irina&#8217;s marriage</span> to Ivan&#8217;s son Fyodor; then he 
        became regent under Fyodor, and was elected tsar when Fyodor died 
        in 1598. But Boris was rumored to have 
        <span style="font-weight: bold;">arranged the murder of 
        Fyodor&#8217;s brother Dmitrii</span>, and the first of several 
        <span style="font-weight: bold;">&#8220;False Dmitris&#8221;</span> 
        launched a revolt against him.  Boris died in the midst of 
        <span style="font-weight: bold;">growing unrest</span> and is now 
        best known as the subject of a <span style="font-weight: bold;">
        Pushkin play</span> and a <span style="font-weight: bold;">
        Mussorgsky opera</span>.
    </li>
	<li class="list_item">
        <span class="label">Michael</span> (1597&ndash;1645; ruled 
        1613&ndash;1645): In 1613, near the end of the 
        <span style="font-weight: bold;">Time of Troubles</span>, a 
        <i style="font-weight: bold;">zemskii sobor</i> elected the 
        <span style="font-weight: bold;">16-year-old</span> Michael Romanov 
        as the new tsar. Michael was a <span style="font-weight: bold;">
        grandnephew of Ivan the Terrible&#8217;s &#8220;good&#8221; wife 
        Anastasia</span> and the son of a powerful churchman named 
        <span style="font-weight: bold;">Filaret</span> (who soon became 
        patriarch); as tsar, he has usually been seen as a nonentity 
        <span style="font-weight: bold;">dominated by Filaret</span> and 
        other relatives. Nevertheless, his election marked the return of 
        relative <span style="font-weight: bold;">stability</span> and the 
        succession of the Romanov dynasty.
    </li>
	<li class="list_item">
        <span class="label">Peter&nbsp;I</span> (1672&ndash;1725; ruled 
        1682&ndash;1725): Peter the Great is famous both for his push for 
        <span style="font-weight: bold;">Westernization</span> and for 
        his <span style="font-weight: bold;">boisterous personality</span>. 
        His <span style="font-weight: bold;">Grand Embassy to Europe</span> 
        enabled him to learn about Western life (and even to 
        <span style="font-weight: bold;">work in a Dutch shipyard</span>); 
        he later <span style="font-weight: bold;">invited Western artisans
        </span> to come to Russia, required the 
        <span style="font-weight: bold;">boyars</span> (aristocrats) to 
        <span style="font-weight: bold;">shave their beards</span> and 
        <span style="font-weight: bold;">wear Western clothing</span>, 
        and even <span style="font-weight: bold;">founded a new capital, 
        St.&nbsp;Petersburg</span> &mdash; his &#8220;window on the 
        West.&#8221;  He also led his country in the 
        <span style="font-weight: bold;">Great Northern War</span> (in which 
        Charles&nbsp;XII of Sweden was defeated at Poltava), created a 
        <span style="font-weight: bold;">Table of Ranks</span> for the 
        nobility, and <span style="font-weight: bold;">reformed the 
        bureaucracy and army</span>. But Peter could also be 
        <span style="font-weight: bold;">violent</span> and cruel: he 
        personally participated in the <span style="font-weight: bold;">
        torture of the <i>streltsy</i></span>, or musketeers, who 
        rebelled against him, and <span style="font-weight: bold;">had 
        his own son executed</span>.
    </li>
	<li class="list_item">
        <span class="label">Catherine&nbsp;II</span> (1729&ndash;1796; 
        ruled 1762&ndash;1796): Catherine the Great 
        <span style="font-weight: bold;">wasn&#8217;t really a Russian
        </span> at all: she was born Sophie of Anhalt-Zerbst (a minor 
        German principality) and was chosen as the 
        <span style="font-weight: bold;">bride of the future Peter&nbsp;III
        </span>. She had thoroughly Russianized herself by the time Peter 
        became tsar, and soon <span style="font-weight: bold;">had him 
        deposed</span>; she then dispatched several claimants to the 
        throne and <span style="font-weight: bold;">crushed a peasant 
        uprising</span> led by <span style="font-weight: bold;">Emilian 
        Pugachev</span>. She also <span style="font-weight: bold;">
        corresponded with Enlightenment <i>philosophes</i></span>, granted 
        <span style="font-weight: bold;">charters of rights and obligations
        </span> to the nobility and the towns, 
        <span style="font-weight: bold;">oversaw the partition of Poland
        </span>, and <span style="font-weight: bold;">expanded the empire
        </span>. Catherine is well known for her 
        <span style="font-weight: bold;">extravagant love life</span>: her 
        21 acknowledged lovers included <span style="font-weight: bold;">
        Grigorii Potemkin</span> (who constructed the famous Potemkin 
        village on an imperial inspection tour).
    </li>
	<li class="list_item">
        <span class="label">Alexander&nbsp;I</span> (1777&ndash;1825; 
        ruled 1801&ndash;1825): Alexander&nbsp;I took the throne in 1801 
        when his <span style="font-weight: bold;">repressive father Paul
        </span> was assassinated and immediately set out on a 
        <span style="font-weight: bold;">more liberal</span> course, but 
        he left his <span style="font-weight: bold;">strongest supporters 
        disappointed</span>. He is best known for his 
        <span style="font-weight: bold;">wars with Napoleon</span> (first 
        as an ally and then as an enemy), and for seeking to establish a 
        <span style="font-weight: bold;">Holy Alliance</span> in the years 
        that followed.  Alexander was an <span style="font-weight: bold;">
        eccentric</span> and a religious <span style="font-weight: bold;">
        mystic</span>. Some even say that he didn&#8217;t really die in 
        1825: instead, they argue, he faked his own death, became a 
        hermit, and died in a monastery in 1864.
    </li>
	<li class="list_item">
        <span class="label">Nicholas&nbsp;I</span> (1796&ndash;1855; ruled 
        1825&ndash;1855): Nicholas&nbsp;I, who ruled Russia from the 
        <span style="font-weight: bold;">failure of the Decembrist Uprising
        </span> to the middle of the <span style="font-weight: bold;">
        Crimean War</span>, has traditionally been portrayed as the 
        embodiment of the Russian <span style="font-weight: bold;">autocracy
        </span>. His government pursued a policy of 
        <span style="font-weight: bold;">Official Nationality</span>, 
        defending a holy trinity of <span style="font-weight: bold;">
        &#8220;Autocracy, Orthodoxy, and Nationality,&#8221;</span> and 
        established a <span style="font-weight: bold;">repressive secret 
        police</span> force known as the <span style="font-weight: bold;">
        Third Section</span>.  Contemporaries referred to him as the 
        <span style="font-weight: bold;">&#8220;Gendarme of Europe&#8221;
        </span> after he <span style="font-weight: bold;">helped the 
        Habsburgs squelch the Hungarian Revolution</span> of 1848.
    </li>
	<li class="list_item">
        <span class="label">Alexander&nbsp;II</span> (1818&ndash;1881; ruled 
        1855&ndash;1881): Alexander&nbsp;II embarked on a program of 
        <span style="font-weight: bold;">Great Reforms</span> soon after 
        taking the throne near the <span style="font-weight: bold;">end 
        of the Crimean War</span>. The most famous part of his program was 
        the <span style="font-weight: bold;">serf emancipation</span> of 
        1861 &mdash; a reform which occurred almost 
        simultaneously with the end of American slavery (and whose 
        <span style="font-weight: bold;">gradual nature</span> disappointed 
        liberals). But he also introduced a system of 
        <span style="font-weight: bold;">local governing bodies</span> 
        called <i style="font-weight: bold;">zemstvos</i>, tried to increase 
        the <span style="font-weight: bold;">rule of law</span> in the court 
        system, <span style="font-weight: bold;">eased censorship</span>, 
        and <span style="font-weight: bold;">reorganized the army</span>. 
        Alexander <span style="font-weight: bold;">became more reactionary
        </span> after an <span style="font-weight: bold;">attempted 
        assassination</span> in 1866, and was 
        <span style="font-weight: bold;">successfully assassinated</span> 
        in 1881.
    </li>
	<li class="list_item">
        <span class="label">Alexander&nbsp;III</span> (1845&ndash;1894; 
        ruled 1881&ndash;1894): Those who hoped that the assassination of 
        Alexander&nbsp;II would lead to liberalization saw the error of 
        their ways when the new tsar, Alexander&nbsp;III, launched his 
        program of <span style="font-weight: bold;">&#8220;counter-
        reforms.&#8221;</span>  Under him, the state enacted a series of 
        <span style="font-weight: bold;">Temporary Regulations</span> 
        (giving it the power to <span style="font-weight: bold;">crack 
        down on terrorism</span>), increased <span style="font-weight: bold;">
        censorship</span>, <span style="font-weight: bold;">tightened 
        controls on Russia&#8217;s universities</span>, created a position 
        of &#8220;land captain&#8221; to <span style="font-weight: bold;">
        exert state control in the countryside</span>, and either 
        encouraged or ignored the <span style="font-weight: bold;">
        first anti-Jewish pogroms</span>.
    </li>
	<li class="list_item">
        <span class="label">Nicholas&nbsp;II</span> (1868&ndash;1918; 
        ruled 1894&ndash;1917): Nicholas&nbsp;II, the 
        <span style="font-weight: bold;">last of the Romanovs</span>, 
        ruled until his overthrow in the <span style="font-weight: bold;">
        February Revolution of 1917</span>. He is usually seen as both a 
        <span style="font-weight: bold;">kind</span> man who loved his 
        family and an <span style="font-weight: bold;">incapable</span> 
        monarch who helped bring about the end of the tsarist state; he 
        led his country through two disastrous wars, the 
        <span style="font-weight: bold;">Russo-Japanese War</span> 
        (which helped spark the <span style="font-weight: bold;">Revolution 
        of 1905</span>), and <span style="font-weight: bold;">World 
        War&nbsp;I</span> (which helped cause the 1917 revolutions). 
        He is best known for his loving <span style="font-weight: bold;">
        marriage to Alexandra</span> and for allowing the 
        <span style="font-weight: bold;">&#8220;mad monk&#8221; Grigori 
        Rasputin</span> to influence court politics while treating the 
        <span style="font-weight: bold;">hemophilia</span> of 
        <span style="font-weight: bold;">Alexei</span>, the heir to the 
        throne. Nicholas <span style="font-weight: bold;">abdicated</span> 
        in 1917 and was <span style="font-weight: bold;">shot</span> in 1918.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Edward Cohn.</p>
<br />
<br />
<br />
{% endblock %}