{% extends "base.html" %}  {% block title %}Secretaries of State{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Secretaries of State</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/secretaries-of-state.html">
    You Gotta Know These Secretaries of State
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Thomas Jefferson</span> (served 1790&ndash;1793 
        under President Washington): Known more for his presidency and 
        completing the Louisiana Purchase, Jefferson began his 
        <span style="font-weight: bold;">feud with Alexander Hamilton
        </span> while serving as Secretary of State, even though his 
        office had no bearing on Hamilton&#8217;s Treasury. He 
        <span style="font-weight: bold;">founded the Democratic-Republicans
        </span>. He <span style="font-weight: bold;">resigned</span> his 
        post after failing to secure from the British 
        <span style="font-weight: bold;">compensation for released 
        slaves</span>, <span style="font-weight: bold;">withdrawal from 
        garrisons</sapn> in the Northwest Territory, and admission of 
        <span style="font-weight: bold;">violating the terms of the Treaty 
        of Paris</span> that ended the Revolutionary War.
    </li>
	<li class="list_item">
        <span class="label">Henry Clay</span> (served 1825&ndash;1829 
        under President John Quincy Adams): Clay helped negotiate the 
        <span style="font-weight: bold;">&#8220;corrupt bargain&#8221;</span> 
        that led to John Quincy Adams winning the House vote that decided 
        the presidency in 1824 and led to his appointment as Secretary of 
        State. While Clay served in that post, his slave, 
        <span style="font-weight: bold;">Charlotte Dupuy</span>, sued for 
        her freedom in a move that foreshadowed the 
        <i style="font-weight: bold;">Dred Scott</i> case. He lost 
        presidential elections as a Whig candidate three times prior to 
        his involvement in the Compromise of 1850.
    </li>
	<li class="list_item">
        <span class="label">Daniel Webster</span> (served 1841&ndash;1843 
        under Presidents Harrison and Tyler, then again from 1850&ndash;1852 
        under President Fillmore): Webster negotiated the 
        <span style="font-weight: bold;">Webster-Ashburton treaty</span> 
        that defined the border between Maine and New Brunswick (the 
        Eastern border) and <span style="font-weight: bold;">left his post
        </span> in 1843 under pressure from Whigs, who had resigned in 
        protest from Tyler&#8217;s cabinet over the issue of the 
        <span style="font-weight: bold;">national bank</span>. In his 
        second term, he <span style="font-weight: bold;">upheld the 
        Compromise of 1850</span>, which cost him popularity with his fellow 
        New Englanders.
    </li>
	<li class="list_item">
        <span class="label">William H. Seward</span> (served 1861&ndash;1869 
        under Presidents Lincoln and Johnson): Seward 
        <span style="font-weight: bold;">wanted to resign</span> prior to 
        Lincoln&#8217;s inauguration, but the request was denied. Prior to 
        the <span style="font-weight: bold;">purchase of Alaska</span> 
        (&#8220;Seward&#8217;s Folly&#8221;), he helped set the conditions 
        that <span style="font-weight: bold;">ended the Atlantic slave trade
        </span> in the <span style="font-weight: bold;">Lyons-Seward treaty
        </span> between the U.S. and U.K. He <span style="font-weight: bold;">
        survived an assassination attempt</span> the night Lincoln was shot. 
        The purchase of Alaska was completed on March 30, 1867 for close to 
        two cents an acre from Russia.
    </li>
	<li class="list_item">
        <span class="label">John Hay</span> (served 1898&ndash;1905 under 
        Presidents McKinley and Roosevelt): Hay negotiated the 
        <span style="font-weight: bold;">1898 Treaty of Paris</span> that 
        <span style="font-weight: bold;">ended the Spanish-American War
        </span> and established the <span style="font-weight: bold;"
        >&#8220;open door policy&#8221;</span> with China. He also served 
        as <span style="font-weight: bold;">Lincoln&#8217;s personal 
        secretary</span> while working as a clerk in the Interior Department. 
        He negotiated the <span style="font-weight: bold;">Hay-Bunau-Varilla 
        Treaty</span> that established the <span style="font-weight: bold;">
        Panama Canal Zone</span> in 1903.
    </li>
	<li class="list_item">
        <span class="label">Elihu Root</span> (served 1905&ndash;1909 under 
        President T. Roosevelt): Succeeding Hay after Hay&#8217;s death, he 
        won the <span style="font-weight: bold;">Nobel Peace Prize</span> 
        in 1912 for attempting to bring nations together for arbitration 
        and cooperative agreements. During his tenure, he moved the 
        <span style="font-weight: bold;">consular service</span> under the 
        umbrella of the <span style="font-weight: bold;">civil service</span>. 
        His negotiations with Great Britain settled 
        <span style="font-weight: bold;">border disputes regarding Alaska 
        and Canada</span>, and he was a proponent of 
        <span style="font-weight: bold;">free trade policies with China</span> 
        that Hay established.
    </li>
	<li class="list_item">
        <span class="label">Cordell Hull</span> (served 1933&ndash;1944 
        under President Franklin D. Roosevelt): Known as 
        <span style="font-weight: bold;">&#8220;Father of the United 
        Nations,&#8221;</span> Hull was a <span style="font-weight: bold;">
        Nobel Peace Prize</span> recipient in 1945 for his work in founding 
        that organization. He sent a namesake <span style="font-weight: bold;">
        note to Japan</span> prior to the attack on Pearl Harbor making a 
        futile attempt to force the Japanese out of French Indochina, China, 
        and Manchukuo, in accordance with his predecessor&#8217;s 
        <span style="font-weight: bold;">Stimson Doctrine</span>.
    </li>
	<li class="list_item">
        <span class="label">George Marshall</span> (served 1947&ndash;1949 
        under President Truman): As a general, he oversaw the 
        <span style="font-weight: bold;">largest expansion of the U.S. 
        military</span> in its history and wrote the 
        <span style="font-weight: bold;">central strategy for the Allies
        </span> in Europe. He helped devise, and is the namesake of, the 
        <span style="font-weight: bold;">Marshall Plan</span> to 
        <span style="font-weight: bold;">help Europe recover after World 
        War&nbsp;II</span> from 1948 to 1952. After he left his post, he was 
        <span style="font-weight: bold;">president of the American Red Cross
        </span>. He correctly predicted that Israel&#8217;s declaration 
        of statehood would lead to war and attempted to mediate the 
        Chinese Civil War.
    </li>
	<li class="list_item">
        <span class="label">Dean Acheson</span> (served 1949&ndash;1953 
        under President Truman): The successor to Marshall, he is known 
        primarily for <span style="font-weight: bold;">developing the policy 
        of containment</span> &mdash; designed to 
        <span style="font-weight: bold;">prevent the spread of Communism
        </span> &mdash; and the <span style="font-weight: bold;">creation 
        of the North Atlantic Treaty Organization</span> (NATO) in 1949. 
        His autobiography <i style="font-weight: bold;">Present at the 
        Creation</i> is a major source for Cold War historians.
    </li>
	<li class="list_item">
        <span class="label">Henry Kissinger</span> (served 1973&ndash;1977 
        under Presidents Nixon and Ford): Kissinger held the 
        <span style="font-weight: bold;">Strategic Arms Limitation Talks
        </span> that resulted in SALT&nbsp;I with the Soviet Union and 
        pursued the <span style="font-weight: bold;">
        &#8220;d&eacute;tente&#8221; policy</span> to de-escalate the 
        Cold War. He was instrumental in <span style="font-weight: bold;">
        opening relations with China</span> in 1972. He won the 
        <span style="font-weight: bold;">Nobel Peace Prize</span> in 1973 
        for the negotiation of Paris Peace Accords and ceasefires that 
        ended the Vietnam War. Kissinger used <span style="font-weight: bold;">
        &#8220;shuttle diplomacy&#8221;</span> to settle the Yom Kippur 
        War among Egypt, Syria, and Israel.
    </li>
	<li class="list_item">
        <span class="label">Hillary Clinton</span> (served 2009&ndash;2013 
        under President Obama): Hillary Rodham Clinton is a former Senator 
        from New York and the wife of former president William Jefferson 
        Clinton. President Clinton appointed Hillary as the face of the 
        failed 1993 health care bill. She also sought the Democratic 
        nomination for President in 2008, losing to eventual President 
        Barack Obama.  During her term, she presented a 
        <span style="font-weight: bold;">&#8220;reset button&#8221;</span> 
        to Russia and accepted formal responsibility for 
        <span style="font-weight: bold;">failures in consulate security
        </span> that led to death of Ambassador Christopher Stephens 
        in Benghazi.
    </li>
	<li class="list_item">
        <span class="label">John Kerry</span> (served 2014&ndash;2016 under 
        President Obama): Kerry served as a senator from Massachusetts &mdash; 
        spending the majority of his time as the junior senator to Ted Kennedy 
        &mdash; and <span style="font-weight: bold;">chairman of the Senate 
        Foreign Relations Committee</span>. He received the Democratic Party 
        nomination for President in 2004, but lost the general election to 
        George W. Bush. His major foreign policy involvement was in the 
        <span style="font-weight: bold;">2015 nuclear deal with Iran</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Greg Bossick.</p>
<br />
<br />
<br />
{% endblock %}