{% extends "base.html" %}  {% block title %}Short Story Authors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">Short Story Authors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/short-story-authors.html">
    You Gotta Know These Short Story Authors
    </a>
</h1>
<br />

<dt>O. Henry (William Sydney Porter, 1862&ndash;1910)</dt>
    <dd style="margin-left: 1em;">
        An American short story author known for his 
        <span style="font-weight: bold;">twist endings</span>. He included 
        many of his stories in his collections <i style="font-weight: bold;">
        Cabbages and Kings</i> and <i style="font-weight: bold;">The Four 
        Million</i>. In his story <span style="font-weight: bold;">
        &#8220;The Gift of the Magi,&#8221;</span> the married couple Jim 
        and Della exchange Christmas gifts. Della sells her hair to Madame 
        Sofronie and buys a gold pocket-watch chain, while Jim sells his 
        watch in order to buy a set of combs, rendering each other&#8217;s 
        gifts useless. O. Henry also wrote <span style="font-weight: bold;">
        &#8220;The Ransom of Red Chief,&#8221;</span> in which Ebenezer 
        Dorset&#8217;s son, the title character, is kidnapped by Bill and 
        Sam, who intend to hold him for ransom. However, &#8220;Red 
        Chief&#8221; annoys his captors so much that they pay Mr. Dorset to 
        give him his son back.
    </dd>
<dt>Ernest Hemingway (1899&ndash;1961)</dt>
    <dd style="margin-left: 1em;">
        An American author many of whose stories feature the semi-
        autobiographical character <span style="font-weight: bold;">Nick 
        Adams</span>. Adams appears in <span style="font-weight: bold;">
        &#8220;Big Two-Hearted River,&#8221;</span> in which he goes on 
        a fishing trip to the town of Seney, Michigan. In 
        <span style="font-weight: bold;">&#8220;Hills Like White 
        Elephants,&#8221;</span> a woman named Jig talks with a man at a 
        train station, considering an unnamed &#8220;procedure,&#8221; 
        which is implied to be an abortion. <span style="font-weight: bold;">
        &#8220;The Snows of Kilimanjaro&#8221;</span> begins with the 
        description of a frozen leopard carcass; its protagonist, Harry, 
        is a writer who dies of gangrene while on an African safari with 
        his wife Helen. Hemingway also apocryphally wrote a six-word story 
        consisting of the words <span style="font-weight: bold;">&#8220;For 
        sale: baby shoes, never worn.&#8221;</span>
    </dd>
<dt>Shirley Jackson (1916&ndash;1965)</dt>
    <dd style="margin-left: 1em;">
        An American short story author and novelist known for her works in 
        the mystery and horror genres. Her most famous short story is 
        <span style="font-weight: bold;">&#8220;The Lottery,&#8221;</span> 
        whose publication in <i>The New Yorker</i> was extremely 
        controversial, garnering her hate mail. The story begins with 
        village children gathering stones, foreshadowing the end result of 
        the title event. Mr. Summers tells all of the village families to 
        draw slips of paper from a black box, and Bill Hutchinson&#8217;s 
        has a black spot. The entire Hutchinson family then has to draw, 
        and Tessie receives the black spot, meaning she has 
        &#8220;won&#8221; the title event. The story ends with her yelling 
        &#8220;It isn&#8217;t fair&#8221; as the townspeople stone her to 
        death.
    </dd>
<dt>J. D. Salinger (1919&ndash;2010)</dt>
    <dd style="margin-left: 1em;">An American author best known for the 
    novel <i>The Catcher in the Rye</i>. Many of Salinger&#8217;s short 
    stories featured the <span style="font-weight: bold;">Glass family
    </span>, including <span style="font-weight: bold;">&#8220;A Perfect 
    Day for Bananafish,&#8221;</span> in which Seymour and Muriel Glass 
    are on vacation at a Florida resort. Seymour meets a young girl 
    named Sybil Carpenter and talks with her about the title creatures, 
    before returning to his hotel room and shooting himself. In 
    <span style="font-weight: bold;">&#8220;For Esm&eacute;&mdash;with 
    Love and Squalor,&#8221;</span> the narrator Sergeant&nbsp;X replies 
    to a wedding invitation with two distinct memories; in the first, he 
    meets Esm&eacute;, an English orphan, during a church choir practice, 
    and in the second, set during his time as a soldier in Bavaria, he 
    receives a letter containing a wristwatch from Esm&eacute;. Both of 
    those stories are included in Salinger&#8217;s collection 
    <i style="font-weight: bold;">Nine Stories</i>.
</dd>
<dt>Edgar Allan Poe (1809&ndash;1849)</dt>
    <dd style="margin-left: 1em;">An American author known for his works 
    in the <span style="font-weight: bold;">detective fiction</span>, 
    <span style="font-weight: bold;">science fiction</span>, and 
    <span style="font-weight: bold;">horror</span> genres. In 
    <span style="font-weight: bold;">&#8220;The Cask of Amontillado,&#8221;
    </span> the narrator, Montresor, lures Fortunato into catacombs with 
    the promise of the title wine, but ends up chaining Fortunato to a wall 
    and burying him alive due to unnamed &#8220;insults.&#8221; Poe also 
    wrote <span style="font-weight: bold;">&#8220;The Tell-Tale Heart,&#8221;
    </span> in which an unnamed narrator murders an old man with a 
    &#8220;vulture-eye&#8221; and buries him beneath his floorboards. 
    However, while being questioned by police, the guilty narrator hears 
    the constant beating of his victim&#8217;s heart, and orders them to 
    &#8220;tear up the planks&#8221; to reveal the body. Other short 
    stories by Poe include <span style="font-weight: bold;">&#8220;The 
    Gold-Bug,&#8221;</span> <span style="font-weight: bold;">&#8220;The Pit 
    and the Pendulum,&#8221;</span> <span style="font-weight: bold;">
    &#8220;The Murders in the Rue Morgue,&#8221;</span> and 
    <span style="font-weight: bold;">&#8220;The Fall of the House of 
    Usher.&#8221;</span>
</dd>
<dt>Ray Bradbury (1920&ndash;2012)</dt>
    <dd style="margin-left: 1em;">An American author known for his 
    <span style="font-weight: bold;">science fiction</span> works. 
    <span style="font-weight: bold;">&#8220;There Will Come Soft 
    Rains,&#8221;</span> which appears in his collection 
    <i style="font-weight: bold;">The Martian Chronicles</i> and takes its 
    title from a Sara Teasdale poem, describes an empty house that survived 
    a nuclear catastrophe. The house is fully automated and continues to 
    operate even though the family is dead, a fact demonstrated by their 
    silhouettes permanently burned on the side of the house. In his story 
    <span style="font-weight: bold;">&#8220;A Sound of Thunder,&#8221;
    </span> Eckels steps on a butterfly while hunting a <i>T.&nbsp;Rex</i> 
    on a time-travel safari, which changes the future timeline so that the 
    fascist Deutscher wins an election.
</dd>
<dt>Guy de Maupassant (1850&ndash;1893)</dt>
    <dd style="margin-left: 1em;">A French author who frequently used 
    <span style="font-weight: bold;">ironic endings</span> in his stories, 
    including <span style="font-weight: bold;">&#8220;The Necklace.&#8221;
    </span> In that story, Mathilde Loisel borrows the expensive-looking 
    title piece of jewelry from Madame Forestier, and loses it at a high-
    class party. In order to afford a 36,000 francs replacement, she and 
    her husband sell everything they own. Ten years later, Madame Forestier 
    recognizes Mathilde on the street and informs her that the necklace 
    was a fake. In <span style="font-weight: bold;">&#8220;Boule de 
    Suif,&#8221;</span> translated into English as &#8220;Ball of 
    Fat,&#8221; the title character is a prostitute who is on a carriage 
    leaving Prussian-occupied Rouen. The travelers are detained by the 
    Prussians until Boule de Suif sleeps with an officer, for which she 
    is judged for the remainder of the trip even though her fellow 
    passengers pressured her to do so.
</dd>
<dt>Nathaniel Hawthorne (1804&ndash;1864)</dt>
    <dd style="margin-left: 1em;">An American author whose stories are 
    often set in New England. In <span style="font-weight: bold;">
    &#8220;The Minister&#8217;s Black Veil,&#8221;</span> Hawthorne 
    wrote about Reverend Hopper, who stubbornly refuses to take off the 
    title article of clothing. Hawthorne also wrote 
    <span style="font-weight: bold;">&#8220;Dr. Heidegger&#8217;s 
    Experiment,&#8221;</span> in which the title character shows off 
    water from the Fountain of Youth. Both of those stories are included 
    in his collection <i style="font-weight: bold;">Twice-Told Tales</i>. 
    In <span style="font-weight: bold;">&#8220;Rappaccini&#8217;s 
    Daughter,&#8221;</span> the title character is Beatrice, the child of 
    a scientist who grows poisonous plants, who herself becomes poisonous. 
    After Giovanni falls in love with Beatrice, he brings her an antidote 
    so they can be together, but, instead of curing her, the antidote 
    kills Beatrice. That story appears alongside 
    <span style="font-weight: bold;">&#8220;The Birth-Mark&#8221;</span> 
    and <span style="font-weight: bold;">&#8220;Young Goodman Brown&#8221;
    </span> in the collection <i style="font-weight: bold;">Mosses from an 
    Old Manse</i>.
</dd>
<dt>Flannery O&#8217;Connor (1925&ndash;1964)</dt>
    <dd style="margin-left: 1em;">A Catholic American author who wrote 
    in the <span style="font-weight: bold;">&#8220;Southern Gothic&#8221; 
    style</span>. In her story <span style="font-weight: bold;">&#8220;A 
    Good Man Is Hard to Find,&#8221;</span> Bailey takes his family on a 
    vacation; when they stop at a diner, &#8220;the grandmother&#8221; 
    talks with the owner Red Sammy about The Misfit, an escaped murderer. 
    After the cat Patty Sing causes the family&#8217;s car to crash into 
    a ditch, a group of men led by the Misfit murder the family, including 
    the grandmother, who claims The Misfit is one of her own children 
    before he shoots her three times. In <span style="font-weight: bold;">
    &#8220;Good Country People,&#8221;</span> Hulga has her prosthetic 
    leg taken by Manley Pointer, a nihilistic atheist Bible salesman. 
    O&#8217;Connor also wrote <span style="font-weight: bold;">
    &#8220;Everything That Rises Must Converge,&#8221;</span> in which 
    Julian rides on a newly-integrated bus with his mother.
</dd>
<dt>Jorge Luis Borges (1899&ndash;1986)</dt>
    <dd style="margin-left: 1em;">An Argentine author known for his 
    <span style="font-weight: bold;">philosophical stories</span>. In 
    <span style="font-weight: bold;">&#8220;The Library of Babel,&#8221;
    </span> the narrator&#8217;s universe is made of adjacent hexagonal 
    rooms, forming a library containing all possible 410-page books 
    consisting of 25 basic characters. Another story by Borges, 
    <span style="font-weight: bold;">&#8220;The Garden of Forking 
    Paths,&#8221;</span> is framed as a manuscript written by Doctor Yu 
    Tsun, a World War&nbsp;I spy, who is pursued by Richard Madden. He 
    realizes that the title labyrinth is actually an unfinished novel, 
    and eventually shoots Stephen Albert to communicate the location of 
    a British artillery park. Those two stories appear along with 
    <span style="font-weight: bold;">&#8220;Tl&ouml;n, Uqbar, Orbis 
    Tertius&#8221;</span> in Borges&#8217;s collection 
    <i style="font-weight: bold;">Ficciones</i>. Borges also wrote 
    <span style="font-weight: bold;">&#8220;The Aleph,&#8221;</span> whose 
    title location contains all other points in space.
</dd>
<br />
<p class="justify">This article was contributed by NAQT writer Alex Stoneman.</p>
<br />
<br />
<br />
{% endblock %}