{% extends "base.html" %}  {% block title %}South American Political Leaders{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a> | </li>
    <li style="display:inline">South American Political Leaders</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/south-american-political-leaders.html">
    You Gotta Know These South American Political Leaders
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Sim&oacute;n Bol&iacute;var</span> was a 
        Venezuelan who is known as &#8220;El Libertador&#8221; for freeing 
        much of South America from Spanish rule. He authored the 
        <span style="font-weight: bold;">Cartagena Manifesto</span> and 
        <span style="font-weight: bold;">Decree of War to the Death</span> 
        in his quest to liberate Colombia and Venezuela, during which he 
        won the <span style="font-weight: bold;">Battle of Carabobo</span>. 
        After gaining independence from Spain, he led the short-lived 
        republic of <span style="font-weight: bold;">Gran Colombia</span>, 
        which from 1819 to 1830 included modern Colombia, Venezuela, 
        Ecuador, and Panama.
    </li>
	<li class="list_item">
        <span class="label">Jos&eacute; de San Mart&iacute;n</span> was an 
        Argentine general who liberated Argentina and Chile from Spain with 
        Bernardo O&#8217;Higgins. San Mart&iacute;n won the 
        <span style="font-weight: bold;">Battle of San Lorenzo</span> in 
        1813. Later, his crossing of the Andes resulted in victories at 
        the <span style="font-weight: bold;">Battles of Chacabuco and Maipu
        </span> in Chile. San Mart&iacute;n took part in the liberation of 
        Peru before moving to Europe in 1824.
    </li>
	<li class="list_item">
        <span class="label">Bernardo O&#8217;Higgins</span>, a leader of 
        Chilean independence, was the illegitimate son of an Irish-Spanish 
        officer and a Chilean mother. His early attempt at rebellion against 
        the Spanish crown ended in defeat at Rancagua in 1813, after which 
        he went into exile in Argentina. O&#8217;Higgins returned to Chile 
        with San Mart&iacute;n in 1817, and served as that country&#8217;s 
        Supreme Director until 1823.
    </li>
	<li class="list_item">
        <span class="label">Pedro&nbsp;I</span> was the Emperor of Brazil 
        from 1822 to 1831. The son of King John&nbsp;VI of Portugal, Pedro 
        became the first ruler of the Empire of Brazil when he declared 
        independence from Portugal in 1822 with the 
        <span style="font-weight: bold;">Cry of Ipiranga</span>. In 1831, 
        he abdicated in favor of his son in order to launch an ill-fated 
        invasion of Portugal.
    </li>
	<li class="list_item">
        <span class="label">Pedro&nbsp;II</span> was the Emperor of Brazil 
        from 1831 to 1889. Pedro&nbsp;II became emperor at age&nbsp;5 
        when his father abdicated. During Pedro II&#8217;s reign, Brazil 
        was victorious in several conflicts with its neighbors, including 
        the <span style="font-weight: bold;">Platine War</span> and 
        <span style="font-weight: bold;">War of the Triple Alliance</span>.
    </li>
	<li class="list_item">
        <span class="label">Alfredo Stroessner</span> was the dictator of 
        Paraguay from 1954 to 1989. Stroessner ruled Paraguay with an iron 
        fist, and was backed by the CIA for his 
        <span style="font-weight: bold;">anti-communist purges</span>. He 
        came to power by overthrowing Federico Ch&aacute;vez in 1954 and 
        assuming leadership of his <span style="font-weight: bold;">Colorado 
        Party</span>.
    </li>
	<li class="list_item">
        <span class="label">Salvador Allende</span> was the President of 
        Chile from 1970 to 1973. Allende was the first Marxist head of state 
        to be democratically elected in Latin America. His policies of 
        <span style="font-weight: bold;">collectivization</span> and 
        <span style="font-weight: bold;">nationalization</span> angered 
        conservatives, and Allende was overthrown and killed in a 1973 
        coup supported by the CIA. Allende had survived a coup called 
        <span style="font-weight: bold;">El Tanquetazo</span> earlier in 1973.
    </li>
	<li class="list_item">
        <span class="label">Augusto Pinochet</span> was the dictator of Chile 
        from 1973 to 1990. Salvador Allende was overthrown on 
        September&nbsp;11, 1973 by Pinochet. His economic policies were 
        informed by the <span style="font-weight: bold;">Chicago Boys</span>, 
        Chilean economists who had studied under Milton Friedman at the 
        University of Chicago, and mostly relied on privatizing the economy. 
        Pinochet&#8217;s brutal regime was investigated in the 
        <span style="font-weight: bold;">Rettig and Valech reports</span>, 
        and he died awaiting trial in 2006.
    </li>
	<li class="list_item">
        <span class="label">Juan Per&oacute;n</span> was the president of 
        Argentina from 1946 to 1955 and 1973 to 1974. Juan Per&oacute;n 
        became widely admired after his 1945 marriage to actress 
        <span style="font-weight: bold;">Eva Duarte</span>, who was 
        immortalized in the Andrew Lloyd Webber musical <i>Evita</i>. The 
        backbone of his political support were working-class people known as 
        <span style="font-weight: bold;">descamisados</span>, meaning 
        &#8220;shirtless ones&#8221;. His policies came to be called 
        Per&oacute;nism, represented by the 
        <span style="font-weight: bold;">three flags</span> of economic 
        independence, political sovereignty and social justice, which 
        represented a <span style="font-weight: bold;">Third Way</span> 
        between capitalism and communism. Upon Juan Per&oacute;n&#8217;s 
        death in 1974, he was succeeded as President by his third wife, Isabel.
    </li>
	<li class="list_item">
        <span class="label">Hugo Ch&aacute;vez</span> was the President of 
        Venezuela from 1999 to 2013. Ch&aacute;vez used Venezuela&#8217;s 
        large oil revenues to lead his <span style="font-weight: bold;">
        Bolivarian Revolution</span> and enact socialist policies. 
        His original party was the <span style="font-weight: bold;">
        Fifth Republic Movement</span>. Ch&aacute;vez&#8217;s had been 
        imprisoned after a failed coup attempt in 1992. He died of cancer 
        in 2013.
    </li>
</ul>
<br />
<p class="justify">
    You also gotta know the <a style="color: maroon;" target="_blank"
    href="https://en.wikipedia.org/wiki/List_of_current_
    heads_of_state_and_government">current leaders</a> of most 
    South American countries.
</p>
<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}