{% extends "base.html" %}  {% block title %}These Art Museums{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a> | </li>
    <li style="display:inline">These Art Museums</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/art-museums.html">
    You Gotta Know These Art Museums
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.louvre.fr/en/">
        Louvre</a> Perhaps the world&#8217;s most famous museum, the 
        Mus&eacute;e du Louvre is located on the right bank of the 
        <span style="font-weight: bold;">Seine River</span> in the heart of 
        Paris. Housed in the Louvre Palace, which was a royal residence until 
        1682, the Louvre was permanently opened to the public as a museum by 
        the French Revolutionary government in 1793. During renovations 
        carried out in the 1980s, a controversial 
        <span style="font-weight: bold;">steel-and-glass pyramid</span> 
        designed by <span style="font-weight: bold;">I.&nbsp;M. Pei</span> 
        was installed at its entrance. Works housed within the 
        <span style="font-weight: bold;">Sully</span>, 
        <span style="font-weight: bold;">Richelieu</span>, and 
        <span style="font-weight: bold;">Denon Wings</span> of the Louvre 
        include ancient Greek sculptures such as the 
        <a style="color: maroon;" target="_blank" 
        href="http://www.louvre.fr/en/oeuvre-notices/winged-victory-
        samothrace"><i style="font-weight: bold;">Winged Victory of 
        Samothrace</i></a> and the <a style="color: maroon;" 
        ="_blank" href="http://www.louvre.fr/en/oeuvre-notices/
        aphrodite-known-venus-de-milo"><i style="font-weight: bold;">Venus 
        de Milo</i></a>, <span style="font-weight: bold;">Leonardo da Vinci
        </span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="https://collections.louvre.fr/en/ark:/53355/cl010062370">
        <i style="font-weight: bold;">Mona Lisa</i></a>, and 
        <span style="font-weight: bold;">Eug&egrave;ne Delacroix</span>
        &#8217;s <a style="color: maroon;" target="_blank" 
        href="https://collections.louvre.fr/en/ark:/53355/cl010065872">
        <i style="font-weight: bold;">Liberty Leading the People</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="http://www.museodelprado.es/en">Museo del Prado</a> In 1785, 
        Spanish King <span style="font-weight: bold;">Charles&nbsp;III</span> 
        commissioned a building to house a natural history museum, but his 
        grandson <span style="font-weight: bold;">Ferdinand&nbsp;VII</span> 
        completed the Prado as an art museum in 1819. Deriving its name from 
        the Spanish for &#8220;meadow,&#8221; the Prado&#8217;s holdings 
        include not only what is universally regarded as the best 
        collection of Spanish paintings, but also a number of works from 
        Flemish masters, such as <span style="font-weight: bold;">Diego 
        Vel&aacute;zquez&#8217;</span>s <a style="color: maroon;" 
        target="_blank" href="http://www.museodelprado.es/en/the-collection/
        online-gallery/on-line-gallery/obra/the-family-of-felipe-iv-or-las-
        meninas/"><i style="font-weight: bold;">Las Meninas</i></a>,
        <span style="font-weight: bold;">Francisco Goya</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="http://www.museodelprado.es/en/the-collection/online-gallery/
        on-line-gallery/obra/the-3rd-of-may-1808-in-madrid-the-executions-on
        -principe-pio-hill/"><i style="font-weight: bold;">The Third of May, 
        1808</i></a>, and <span style="font-weight: bold;">Hieronymus Bosch
        </span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="http://www.museodelprado.es/en/the-collection/online-gallery/
        on-line-gallery/obra/the-garden-of-earthly-delights/">
        <i style="font-weight: bold;">The Garden of Earthly Delights</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.uffizi.it/en/">
        Uffizi Gallery</a> Located in <span style="font-weight: bold;">
        Florence, Italy</span>, the Uffizi Gallery was originally designed 
        by <span style="font-weight: bold;">Giorgio Vasari</span> to serve as 
        offices for the Florentine magistrates under 
        <span style="font-weight: bold;">Cosimo de&#8217; Medici</span>
        &mdash; hence the name <i style="font-weight: bold;">uffizi</i>, 
        meaning &#8220;offices.&#8221;  After Cosimo&nbsp;I died in 1574, 
        the new grand duke, <span style="font-weight: bold;">Francis&nbsp;I
        </span>, commissioned the conversion of its top floor into a galley. 
        Its outstanding Renaissance holdings include 
        <a style="color: maroon;" target="_blank" 
        href="https://www.uffizi.it/en/artworks/birth-of-venus">
        <i style="font-weight: bold;">The Birth of Venus</i></a> and 
        <a style="color: maroon;" target="_blank" 
        href="https://www.uffizi.it/en/artworks/botticelli-spring">
        <i style="font-weight: bold;">La Primavera</i></a>, both by 
        <span style="font-weight: bold;">Sandro Botticelli</span>, and 
        <span style="font-weight: bold;">Titian</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.uffizi.it/en/artworks/venus-urbino-titian">
        <i style="font-weight: bold;">Venus of Urbino</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.rijksmuseum.nl/en">Rijksmuseum</a> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">[RYKES-&#8220;museum&#8221;]</span> 
        Located in <span style="font-weight: bold;">Amsterdam</span>, this is 
        the national museum of The Netherlands. Currently housed in a 
        <span style="font-weight: bold;">Gothic Revival</span> building 
        designed by <span style="font-weight: bold;">P.&nbsp;J.&nbsp;H. 
        Cuypers</span> and completed in 1885, its most distinguished works 
        include <span style="font-weight: bold;">Rembrandt</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.rijksmuseum.nl/en/collection/SK-C-5">
        <i style="font-weight: bold;">Night Watch</i></a>, 
        <span style="font-weight: bold;">Franz Hals</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.rijksmuseum.nl/en/collection/SK-A-135">
        <i style="font-weight: bold;">The Merry Drinker</i></a>, and 
        <span style="font-weight: bold;">Jan Vermeer</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.rijksmuseum.nl/en/collection/SK-A-2344">
        <i style="font-weight: bold;">The Milkmaid</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="http://www.hermitagemuseum.org/">Hermitage</a> Founded in 
        <span style="font-weight: bold;">St.&nbsp;Petersburg, Russia</span>, 
        in 1764 by <span style="font-weight: bold;">Catherine the Great
        </span>, its buildings include the <span style="font-weight: bold;">
        Winter Palace</span>, which was once the residence of Russia&#8217;s 
        tsars. Its most famous pieces include 
        <span style="font-weight: bold;">Rembrandt</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="http://www.hermitagemuseum.org/wps/portal/hermitage/
        digital-collection/04.+Engraving/1266400/?lng=en">
        <i style="font-weight: bold;">The Return of the Prodigal Son</i>
        </a> and <span style="font-weight: bold;">Henri Matisse</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.hermitagemuseum.org/wps/portal/hermitage/
        digital-collection/01.+Paintings/28389/?lng=en">
        <i style="font-weight: bold;">Red Room</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.tate.org.uk/">
        Tate</a> Originally known as the National Gallery of British Art 
        when opened in 1897, it was renamed for its benefactor, sugar tycoon 
        <span style="font-weight: bold;">Sir Henry Tate</span>. The original 
        Tate Gallery has been renamed <a style="color: maroon; 
        font-weight: bold;" target="_blank" href="http://www.tate.org.uk/
        visit/tate-britain">Tate Britain</a>, and there are now three 
        additional branches: <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://www.tate.org.uk/visit/tate-modern">Tate 
        Modern</a> in London, <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://www.tate.org.uk/visit/tate-liverpool">
        Tate Liverpool</a>, and <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://www.tate.org.uk/visit/tate-st-ives">
        Tate St.&nbsp;Ives</a> in Cornwall. The Tate awards the 
        <span style="font-weight: bold;">Turner Prize</span>, a highly 
        publicized award for British artists, and its collection includes 
        <a style="color: maroon;" target="_blank" 
        href="http://www.tate.org.uk/art/artworks/lichtenstein-whaam-t00897">
        <i style="font-weight: bold;">Whaam!</i></a> by 
        <span style="font-weight: bold;">Roy Lichtenstein</span> and many 
        works by <span style="font-weight: bold;">J.&nbsp;M.&nbsp;W. Turner
        </span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.guggenheim.org">
        Guggenheim</a> The Solomon R. Guggenheim Museum is located in 
        <span style="font-weight: bold;">Manhattan</span>&#8217;s Upper East 
        Side. Founded as <span style="font-weight: bold;">&#8220;The Museum 
        of Non-Objective Painting,&#8221;</span> in 1959 it moved into its 
        current home, a <span style="font-weight: bold;">Frank Lloyd Wright
        </span> building that features a <span style="font-weight: bold;">
        spiral ramp</span> connecting the exhibition areas. Focusing on modern 
        art, its holdings include the world&#8217;s largest collection of 
        paintings by <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="https://www.guggenheim.org/artwork/artist/
        Vasily-Kandinsky">Wassily Kandinsky</a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.metmuseum.org/">
        The Metropolitan Museum of Art</a> Located on the edge of 
        <span style="font-weight: bold;">Central Park</span> and colloquially 
        known as <span style="font-weight: bold;">&#8220;the Met,&#8221;
        </span> its main building on <span style="font-weight: bold;">Fifth 
        Avenue</span> was designed by Richard Morris Hunt. Its collection 
        includes <span style="font-weight: bold;">El&nbsp;Greco</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="http://www.metmuseum.org/Collections/search-the-collections/
        110001017"><i style="font-weight: bold;">View of Toledo</i></a>, 
        <span style="font-weight: bold;">Jacques-Louis David</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="http://www.metmuseum.org/Collections/search-the-collections/
        110000543"><i style="font-weight: bold;">The Death of Socrates</i>
        </a>, and <span style="font-weight: bold;">John Singer Sargent</span>
        &#8217;s <a style="color: maroon;" target="_blank" 
        href="http://www.metmuseum.org/Collections/search-the-collections/
        20012492"><i style="font-weight: bold;">Madame&nbsp;X</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="http://www.moma.org">Museum 
        of Modern Art</a> Better known as <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">&#8220;MoMA&#8221;</span> and 
        situated in Manhattan, it has been connected with the 
        <span style="font-weight: bold;">Rockefeller family</span> since its 
        founding in 1929.  Its collection includes 
        <span style="font-weight: bold;">Vincent van&nbsp;Gogh</span>&#8217;s 
        <a style="color: maroon;" target="_blank" href="http://www.moma.org/
        collection/object.php?object_id=79802"><i style="font-weight: bold;">
        The Starry Night</i></a>, <span style="font-weight: bold;">Pablo 
        Picasso</span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="http://www.moma.org/collection/object.php?object_id=79766">
        <i style="font-weight: bold;">Les Demoiselles d&#8217;Avignon</i></a>, 
        <span style="font-weight: bold;">Salvador Dal&iacute;</span>&#8217;s 
        <a style="color: maroon;" target="_blank" href="http://www.moma.org/
        collection/object.php?object_id=79018"><i style="font-weight: bold;">
        The Persistence of Memory</i></a>, and 
        <span style="font-weight: bold;">Piet Mondrian</span>&#8217;s 
        <a style="color: maroon;" target="_blank" href="http://www.moma.org/
        collection/object.php?object_id=78682"><i style="font-weight: bold;">
        Broadway Boogie-Woogie</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.artic.edu/">The 
        Art Institute of Chicago</a> Located on the western edge of 
        <span style="font-weight: bold;">Grant Park</span> in Chicago, the 
        main building of the Art Institute was built for the 1893 
        <span style="font-weight: bold;">World&#8217;s Columbian Exposition
        </span> and features two <span style="font-weight: bold;">lion 
        statues</span> at its entrance (which are often decorated for special 
        occasions, e.g. with jerseys when Chicago sports teams are in the 
        playoffs). It has an outstanding collection of French Impressionist 
        and American works such as <span style="font-weight: bold;">Georges 
        Seurat</span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="https://www.artic.edu/artworks/27992/a-sunday-on-la-grande-
        jatte-1884"><i style="font-weight: bold;">A Sunday on La Grande Jatte
        </i></a>, <span style="font-weight: bold;">Henri de Toulouse-Lautrec
        </span>&#8217;s <a style="color: maroon;" target="_blank" 
        href="https://www.artic.edu/artworks/61128/at-the-moulin-rouge">
        <i style="font-weight: bold;">At the Moulin Rouge</i></a>, 
        <span style="font-weight: bold;">Grant Wood</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.artic.edu/artworks/6565/american-gothic">
        <i style="font-weight: bold;">American Gothic</i></a>, and 
        <span style="font-weight: bold;">Edward Hopper</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.artic.edu/artworks/111628/nighthawks">
        <i style="font-weight: bold;">Nighthawks</i></a>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.guggenheim-bilbao.eus/en">Guggenheim Museum Bilbao
        </a> The Guggenheim Bilbao opened in 1997 and is &mdash; like its 
        sister instutition in New York &mdash; less famous for its collection 
        than its building, a <span style="font-weight: bold;">Frank Gehry
        </span> design that seems to be an abstract sculpture all its own. 
        <span style="font-weight: bold;">Richard Serra</span>&#8217;s 
        <a style="color: maroon;" target="_blank" 
        href="https://www.guggenheim.org/artwork/21794">
        <i style="font-weight: bold;">The Matter of Time</i></a> is 
        permanently installed here.
    </li>
	<li class="list_item">
        The <a style="color: maroon; font-family: Cambria; 
        font-weight: bold; font-size: large;" target="_blank" 
        href="http://www.nationalgallery.org.uk/" style="font-family: Cambria; 
        font-weight: bold; font-size: large;">National Gallery</a> in 
        <span style="font-weight: bold;">Trafalgar Square</span> in 
        <span style="font-weight: bold;">London</span> houses a synoptic 
        collection of pre-1900 paintings assembled by government purchase and 
        donation. It is home to British masterpieces including 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/john-constable">John 
        Constable</a>&#8217;s <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/john-constable-the-
        hay-wain"><i style="font-weight: bold;">The Haywain</i></a> and both 
        <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/joseph-mallord-
        william-turner-rain-steam-and-speed-the-great-western-railway">
        <i style="font-weight: bold;">Rain, Steam and Speed</i></a> and 
        <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/joseph-mallord-
        william-turner-the-fighting-temeraire"><i style="font-weight: bold;">
        The Fighting Temeraire</i></a> by <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/joseph-mallord-
        william-turner">J.&nbsp;M.&nbsp;W. Turner</a>. The museum also boasts 
        several major highlights of European painting, from arguably 
        <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/vincent-van-gogh-
        sunflowers">the best known</a> of <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/vincent-van-gogh">
        Vincent van&nbsp;Gogh</a>&#8217;s <a style="color: maroon;" 
        target="_blank" href="http://www.nationalgallery.org.uk/paintings/
        vincent-van-gogh-sunflowers"><i style="font-weight: bold;">Sunflowers
        </i></a> series to exemplar Baroque works like 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/michelangelo-merisi-
        da-caravaggio">Caravaggio</a>&#8217;s <a style="color: maroon;" 
        target="_blank" href="http://www.nationalgallery.org.uk/paintings/
        michelangelo-merisi-da-caravaggio-the-supper-at-emmaus">
        <i style="font-weight: bold;">Supper at Emmaus</i></a>, 
        <a style="color: maroon;" target="_blank" 
        href="https://www.nationalgallery.org.uk/paintings/peter-paul-rubens-
        the-judgement-of-paris"><i style="font-weight: bold;">The Judgment of 
        Paris</i></a> by <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://www.nationalgallery.org.uk/artists/
        peter-paul-rubens">Peter Paul Rubens</a>, and the 
        <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/diego-velazquez-
        the-toilet-of-venus-the-rokeby-venus"><i style="font-weight: bold;">
        Rokeby Venus</i></a> of <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/diego-velazquez">
        Diego Vel&aacute;zquez</a>. Major works of the Italian and north 
        European Renaissance are also represented, including 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/jan-van-eyck">Jan 
        van&nbsp;Eyck</a>&#8217;s <a style="color: maroon;" 
        target="_blank" href="http://www.nationalgallery.org.uk/paintings/
        jan-van-eyck-the-arnolfini-portrait"><i style="font-weight: bold;">
        The Arnolfini Wedding</i></a>, <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/hans-holbein-the-
        younger">Hans Holbein</a>&#8217;s <a style="color: maroon;" 
        target="_blank" href="http://www.nationalgallery.org.uk/paintings/
        hans-holbein-the-younger-the-ambassadors">
        <i style="font-weight: bold;">The Ambassadors</i></a>, 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/titian">Titian</a>
        &#8217;s <a style="color: maroon;" target="_blank" 
        href="https://www.nationalgallery.org.uk/paintings/titian-bacchus-
        and-ariadne"><i style="font-weight: bold;">Bacchus and Ariadne</i>
        </a>, <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.nationalgallery.org.uk/artists/raphael">Raphael</a>
        &#8217;s <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/raphael-portrait-
        of-pope-julius-ii"><i style="font-weight: bold;">Portrait of Pope 
        Julius&nbsp;II</i></a>, and the later of <a style="color: maroon; 
        font-weight: bold;" href="http://www.nationalgallery.org.uk/artists/
        leonardo-da-vinci">Leonardo</a>&#8217;s two versions of 
        <a style="color: maroon;" target="_blank" 
        href="http://www.nationalgallery.org.uk/paintings/leonardo-da-vinci-
        the-virgin-of-the-rocks"><i style="font-weight: bold;">Madonna of 
        the Rocks</i></a>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Edmund Dickinson.</p>
<br />
<br />
<br />
{% endblock %}