{% extends "base.html" %}  {% block title %}Baroque Painters{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a> | </li>
    <li style="display:inline">Baroque Painters</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/baroque-painters.html">
    You Gotta Know These Baroque Painters
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Caravaggio</span> (1571&ndash;1610; full name 
        <span style="font-weight: bold;">Michelangelo Merisi da Caravaggio
        </span>) was an Italian painter who developed a style of painting 
        involving <i style="font-weight: bold;">chiaroscuro</i>, or stark 
        contrast between darkness and vibrant light, that was known as 
        <span style="font-weight: bold;">tenebrism</span>. One of 
        Caravaggio&#8217;s best-known paintings is 
        <i style="font-weight: bold;">The Calling of Saint Matthew</i>, in 
        which Christ, who is at the right, <span style="font-weight: bold;">
        points at a group of men sitting at a table</span> illuminated by a 
        shaft of light; scholars have debated whether a bearded man at the 
        table is pointing at himself or at the young man sitting next to him. 
        Caravaggio&#8217;s <i style="font-weight: bold;">Amor Vincit Omnia
        </i> (meaning &#8220;Love Conquers All&#8221;) shows a naked 
        <span style="font-weight: bold;">Cupid</span> trampling musical 
        instruments and a set of armor. Caravaggio led a violent life; he was 
        forced to flee Rome after being <span style="font-weight: bold;">
        sentenced to death for murder</span>. Caravaggio was greatly 
        influential during and after his life; artists who imitated or were 
        influenced by his style were known as <span style="font-weight: bold;">
        &#8220;Caravaggisti.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">Artemisia Gentileschi</span> (1593&ndash;1656) was 
        an Italian painter whose work includes numerous 
        <span style="font-weight: bold;">biblical</span> and mythical scenes, 
        as well as many <span style="font-weight: bold;">self-portraits</span>
        &mdash;including one showing her as <span style="font-weight: bold;">
        Saint Catherine</span> and another showing her at work painting. As 
        a teenager, Gentileschi was <span style="font-weight: bold;">raped
        </span> by painter Agostino Tassi; during the public trial that 
        resulted after her father <span style="font-weight: bold;">Orazio
        </span> (also a painter) pressed charges, Gentileschi testified 
        against Tassi while being <span style="font-weight: bold;">tortured
        </span> to supposedly ensure that her account was truthful. 
        Gentileschi&#8217;s most notable works include her depictions of 
        <i style="font-weight: bold;">Judith Slaying Holofernes</i>, in which 
        she showed herself as the biblical slayer of an Assyrian general; she 
        may have also <span style="font-weight: bold;">painted Tassi&#8217;s 
        face</span> on Holofernes. The painting, which was partly inspired by 
        a similar Caravaggio painting, is extremely graphic for its time: 
        <span style="font-weight: bold;">blood spurts</span> from 
        Holofernes&#8217;s neck as Judith coldly saws through it with a sword.
    </li>
    <li class="list_item">
        <span class="label">Frans Hals</span> (1582&ndash;1666) was a Dutch 
        painter who worked in the city of <span style="font-weight: bold;">
        Haarlem</span>, and who created some of the best-known portraits of 
        the Dutch Baroque. Many of Hals&#8217;s works are 
        <span style="font-weight: bold;">tronies</span> (from the Dutch word 
        for &#8220;face&#8221;), which are portraits in which the subject has 
        an unusual, artificial facial expression or costume. Hals&#8217;s best 
        known painting is <i style="font-weight: bold;">The Laughing Cavalier
        </i>, a 1624 portrait of a man in a wide-brimmed hat and extravagant 
        clothes with an upturned moustache and a bemused expression (notably, 
        the subject of the portrait is not actually laughing); because the 
        subject of the painting looks straight forward, the painting&#8217;s 
        eyes seem to follow the viewer. Hals&#8217;s other works include a 
        portrait of a <i style="font-weight: bold;">Gypsy Girl</i> in a white 
        shirt and red bodice, as well as <i style="font-weight: bold;">Malle 
        Babbe</i>, which shows a witch-like folk character holding a stein as 
        an owl sits on her shoulder.
    </li>
    <li class="list_item">
        <span class="label">Judith Leyster</span> (1609&ndash;1660) was a 
        painter of the <span style="font-weight: bold;">Dutch Golden Age
        </span> who worked mainly in portraits and genre scenes. Her notable 
        works include <i style="font-weight: bold;">The Proposition</i>, an 
        early <span style="font-weight: bold;">feminist</span> work in which 
        a woman pointedly ignores a man offering her a handful of gold coins 
        in exchange for sex while she focuses on sewing by candlelight; the 
        footwarmer under her dress indicates she is married and is behaving 
        virtuously. Her <i style="font-weight: bold;">Self-Portrait</i> 
        shows her unrealistically in fine dress, working on a canvas showing 
        a man in blue playing the violin. Leyster was married to fellow artist 
        <span style="font-weight: bold;">Jan Miense Molenaer</span>; after her 
        death, her work was largely attributed to either her husband or Frans 
        Hals. Leyster was not credited as the painter of her works until the 
        late 1800s.
    </li>
    <li class="list_item">
        <span class="label">Nicolas Poussin</span> (1594&ndash;1665) was a 
        French painter who did most of his productive work in Italy. 
        Poussin&#8217;s output mainly consisted of 
        <span style="font-weight: bold;">mythical, biblical, and historical 
        scenes</span>. Poussin&#8217;s notable works include 
        <i style="font-weight: bold;">Et in Arcadia Ego</i>, a 
        <span style="font-weight: bold;">pastoral scene</span> showing three 
        shepherds and a woman examining a tomb on which the painting&#8217;s 
        title has been carved. The title&mdash;a Latin phrase roughly meaning 
        &#8220;I am even in Arcadia&#8221;&mdash;refers to the universal 
        nature of death, and is an artistic <i style="font-weight: bold;">
        memento mori</i>, or reminder of human mortality. Poussin&#8217;s 
        mythology paintings include <i style="font-weight: bold;">A Dance to 
        the Music of Time</i>&mdash;which shows Apollo&#8217;s chariot in the 
        sky above four figures dancing in a circle as an elderly 
        representation of Time plays a lyre&mdash;and a depiction of 
        <i style="font-weight: bold;">The Rape of the Sabine Women</i>.
    </li>
    <li class="list_item">
        <span class="label">Rembrandt van Rijn</span> (1606&ndash;1669) was a 
        Dutch painter widely regarded as one of the greatest painters to have 
        ever lived. His <i style="font-weight: bold;">The Night Watch</i> is 
        a massive canvas showing a militia company led by 
        <span style="font-weight: bold;">Frans Banninck Cocq</span>, who 
        appears at the painting&#8217;s center in a red sash; behind Cocq is 
        a woman with a chicken hanging from her belt. The painting was once 
        larger than it is today; it was cut down to fit into a display space, 
        with the trimmed parts lost. Rembrandt&#8217;s 
        <i style="font-weight: bold;">The Anatomy Lesson of Dr. Nicolaes Tulp
        </i> shows the title surgeon using forceps to hold up the muscles of 
        an arm for other physicians to see; the corpse being dissected is 
        that of a recently-executed criminal. Rembrandt is renowned for his 
        many <span style="font-weight: bold;">self-portraits</span>, both as 
        himself in normal clothing (such as with his 
        <i style="font-weight: bold;">Self-Portrait with Two Circles</i>), 
        and as other characters (including as the title figure in 
        <i style="font-weight: bold;">The Prodigal Son in the Tavern</i>, 
        alongside his wife Saskia).
    </li>
    <li class="list_item">
        <span class="label">Peter Paul Rubens</span> (1577&ndash;1640) was a 
        Flemish painter who also served as a <span style="font-weight: bold;">
        diplomat</span>; his travels on diplomatic affairs allowed him to 
        study art held in many different areas of Europe. Rubens worked in 
        nearly all major genres of painting of his time, including portraits 
        (such as his numerous depictions of his second wife, Helena Fourment), 
        biblical scenes (such as his 1614 <i style="font-weight: bold;">
        Descent from the Cross</i>, part of a <span style="font-weight: bold;">
        triptych</span>), mythological works (such as his 
        <i style="font-weight: bold;">The Origin of the Milky Way</i>, a scene 
        also painted by Tintoretto), and various landscapes. Rubens&#8217;s 
        <span style="font-weight: bold;"><i>Marie de&#8217;&nbsp;Medici</i> 
        cycle</span> is a set of 24 portraits and highly allegorical works 
        showing events from the life of Marie de&#8217; Medici, who was the 
        queen of France, wife of Henry&nbsp;IV, and mother of Louis&nbsp;XIII; 
        the cycle includes <i style="font-weight: bold;">The Coronation in 
        Saint-Denis</i> and <i style="font-weight: bold;">The Triumph of 
        Truth</i>. Rubens is known for his many depictions of the nude female 
        body in a <span style="font-weight: bold;">full-figured, fleshy</span> 
        state.
    </li>
    <li class="list_item">
        <span class="label">Anthony van&nbsp;Dyck</span> (1599&ndash;1641) was 
        a Flemish painter who created his most recognizable works while living 
        and working in England. Van&nbsp;Dyck trained and worked for many 
        years in the studio of Peter Paul Rubens. In 1632 van Dyck was 
        appointed the <span style="font-weight: bold;">court painter to 
        Charles&nbsp;I of England</span>, whom he depicted in numerous 
        portraits, including several equestrian portraits showing the king 
        atop a horse in full black armor. Van Dyck&#8217;s 
        <i style="font-weight: bold;">Charles&nbsp;I at the Hunt</i> shows 
        the king leaning on a walking stick and casually looking over his 
        left shoulder while resting his left hand on his hip, next to a horse 
        that is lowering its head. While in England, van&nbsp;Dyck also 
        painted many portraits of English nobility and other court figures, 
        such as his works depicting <span style="font-weight: bold;">Henrietta 
        Maria</span> and <span style="font-weight: bold;">Princess Mary
        </span>.
    </li>
    <li class="list_item">
        <span class="label">Diego Vel&aacute;zquez</span> (1599&ndash;1660) was 
        the leading Spanish painter of the Baroque era and served as 
        <span style="font-weight: bold;">court painter to Philip&nbsp;IV of 
        Spain</span>. Vel&aacute;zquez&#8217;s masterpieces include 
        <i style="font-weight: bold;">Las Meninas</i>, which shows the 
        Infanta Margaret Theresa alongside her maids, dwarfs, and a dog; the 
        painting also includes a self-portrait of Vel&aacute;zquez, who is 
        at work on a large canvas, as well as the king and queen, who appear 
        in a mirror on the background wall. Vel&aacute;zquez&#8217;s 
        mythology-inspired works include the <i style="font-weight: bold;">
        Rokeby Venus</i> (so named because it was first displayed in England 
        at Rokeby Park), in which a nude reclining Venus gazes at herself in 
        a mirror being held up by Cupid. Vel&aacute;zquez also painted 
        <i style="font-weight: bold;">The Surrender of Breda</i>, showing 
        the moment after a military victory when the Spanish general 
        Ambrogio Spinola was given the key to the title Dutch city.
    </li>
    <li class="list_item">
        <span class="label">Johannes Vermeer</span> (1632&ndash;1675) was a 
        Dutch painter who lived and worked in the city of Delft, which he 
        depicted in his 1660 work <i style="font-weight: bold;">View of Delft
        </i>&mdash;one of the earliest prominent examples of a cityscape in 
        painting. Only 34 recognized works by Vermeer have survived to the 
        modern day. Of these, likely the best-known is 
        <i style="font-weight: bold;">Girl With a Pearl Earring</i>, which 
        shows a young woman in a blue and gold turban looking back over her 
        left shoulder, highlighting the title piece of jewelry; the painting 
        inspired a novel of the same name by Tracy Chevalier. Vermeer&#8217;s 
        <i style="font-weight: bold;">The Music Lesson</i> shows a young girl 
        with her back to the viewer playing a virginal, as a man standing next 
        to her sings. Vermeer&#8217;s works have been the subject of theories 
        advanced by artists and scholars, including British painter 
        <span style="font-weight: bold;">David Hockney</span>, that claim 
        Vermeer used a <span style="font-weight: bold;">camera obscura
        </span> to assist in painting his works.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}