{% extends "base.html" %}  {% block title %}Dutch Paintings{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a> | </li>
    <li style="display:inline">Dutch Paintings</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/dutch-paintings.html">
    You Gotta Know These Dutch Paintings
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.rembrandthuis.nl/
        en/meet-rembrandt/rembrandt-the-artist/most-important-work/the-night-
        watch/">The Night Watch</a> (1642) by <span style="font-weight: bold;">
        Rembrandt van Rijn</span>. The centerpiece of the collection of the 
        Netherlands&#8217; <span style="font-weight: bold;">Rijksmuseum
        </span>, this painting depicts a <i style="font-weight: bold;">
        schutterij</i>, a type of civic guard common in Dutch Golden Age 
        cities. The militia company is led by <span style="font-weight: bold;">
        Frans Banning Cocq</span>, who is depicted in black with a red sash, 
        and his lieutenant <span style="font-weight: bold;">Willem van 
        Ruytenburch</span>, dressed in yellow. Other standout figures in the 
        painting include a small woman in a yellow dress who carries a 
        <span style="font-weight: bold;">dead chicken</span>, a symbol of 
        the militia company. The painting is enormous, measuring nearly 12 
        feet high and 14 feet wide; it was even wider before it was cut down 
        in the 18th century to fit in the <span style="font-weight: bold;">
        Amsterdam Town Hall</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.rembrandthuis.nl/
        en/meet-rembrandt/rembrandt-the-artist/most-important-work/the-
        anatomy-lesson-of-dr-nicolaes-tulp/">The Anatomy Lesson of Doctor 
        Nicolaes Tulp</a> (1632) by <span style="font-weight: bold;">Rembrandt 
        van Rijn</span>. Commonly known as just <i>The Anatomy Lesson</i>. 
        The painting depicts the yearly <span style="font-weight: bold;">
        public dissection</span> held by the <span style="font-weight: bold;">
        Amsterdam Guild of Surgeons</span>, several of whose members paid 
        commissions in order to be included in the portrait. Tulp&#8217;s 
        successor as the city anatomist, <span style="font-weight: bold;">
        Jan Deijman</span>, was also depicted by Rembrandt giving an 
        anatomy lesson. The man being dissected is a criminal, 
        <span style="font-weight: bold;">Aris Kindt</span>, who was hanged 
        for armed robbery. A famous anatomy treatise by 
        <span style="font-weight: bold;">Andreas Vesalius</span> can be seen 
        opened at the painting&#8217;s bottom right corner.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.nationalgallery.org.uk/paintings/rembrandt-
        belshazzars-feast">Belshazzar&#8217;s Feast</a> (1635) by 
        <span style="font-weight: bold;">Rembrandt van Rijn</span>. The 
        painting shows a scene from the <span style="font-weight: bold;">
        Book of Daniel</span> in which the king of 
        <span style="font-weight: bold;">Babylon</span>, Belshazzar, uses the 
        loot his father <span style="font-weight: bold;">Nebuchadnezzar</span> 
        stole from the <span style="font-weight: bold;">Temple</span> in 
        Jerusalem in order to throw a feast. During the feast, 
        <span style="font-weight: bold;">God&#8217;s hand</span> appears and 
        writes a <span style="font-weight: bold;">prophecy</span> on the wall 
        predicting Belshazzar&#8217;s downfall&mdash;a vision that frightens 
        the onlookers in the painting as well, one of whom is spilling a 
        goblet in horror. The <span style="font-weight: bold;">Hebrew letters
        </span> in the painting are based on a font created by the Dutch rabbi 
        Menasseh ben Israel, but are written top to bottom instead of right 
        to left.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.royalcollection.org.uk/collection/405346/lady-at-the-
        virginals-with-a-gentleman">The Music Lesson</a> (c.&nbsp;1660s) by 
        <span style="font-weight: bold;">Jan Vermeer</span>. The painting is 
        alternatively titled <i>Lady at the Virginals with a Gentleman</i>, an 
        exact description of its subject matter. On the floor near the keyboard 
        instrument lies a <span style="font-weight: bold;">viol</span>, a large 
        bowed string instrument also common during the Baroque era. In the 
        documentary <i style="font-weight: bold;">Tim&#8217;s Vermeer</i>, 
        Tim Jenison attempted to test the theory that Vermeer painted with the 
        help of optical devices such as a <span style="font-weight: bold;">
        camera obscura</span> to achieve accurate perspective, a theory also 
        advanced by contemporary British artist 
        <span style="font-weight: bold;">David Hockney</span> and physicist 
        <span style="font-weight: bold;">Charles Falco</span>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.rijksmuseum.nl/en/
        collection/SK-A-2344">The Milkmaid</a> (c.&nbsp;1658) by 
        <span style="font-weight: bold;">Jan Vermeer</span>. The title is 
        misleading, as it actually shows a <span style="font-weight: bold;">
        house or kitchen maid</span>, rather than a milkmaid working with 
        cows. The painting&#8217;s striking features include the tiny stream 
        of milk being poured into a bowl and the intricate folds of the 
        maid&#8217;s <span style="font-weight: bold;">blue dress</span>. 
        The table, which is covered with a blue cloth, is a Dutch 
        <span style="font-weight: bold;">gateleg</span>, which has an 
        <span style="font-weight: bold;">octagonal</span> shape when unfolded, 
        explaining its odd angles. A foot warmer sits behind the central 
        female figure; in Vermeer&#8217;s time, the object would indicate that 
        the woman is single.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="http://www.essentialvermeer.com/catalogue/art_of_painting.html">
        The Art of Painting</a> (c.&nbsp;1660s) by 
        <span style="font-weight: bold;">Jan Vermeer</span>. This painting, 
        alternatively known as <i style="font-weight: bold;">The Allegory of 
        Painting</i>, may be either a <span style="font-weight: bold;">self-
        portrait</span> or a depiction of the artist&#8217;s craft; the face 
        of the artist dressed in black, who faces away from the viewer, cannot 
        be seen. The blue-clad model in the painting stands near a window and 
        may be portraying <span style="font-weight: bold;">Clio</span>, the 
        Muse of History; she holds a <span style="font-weight: bold;">trumpet
        </span> and cradles a large <span style="font-weight: bold;">yellow 
        book</span> presumed to be <span style="font-weight: bold;">Thucydides
        </span>&#8217; <i style="font-weight: bold;">History of the 
        Peloponnesian War</i>. Behind the large 
        <span style="font-weight: bold;">candelabra</span> in the painting, a 
        <span style="font-weight: bold;">map</span> of the Low Countries hangs 
        on the studio&#8217;s back wall.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://www.wallacecollection.org/collection/laughing-cavalier/">
        The Laughing Cavalier</a> (1624) by <span style="font-weight: bold;">
        Frans Hals</span>. This portrait, whose unknown subject is not 
        actually laughing, acquired its common title after being moved to the 
        <span style="font-weight: bold;">Bethnal Green Museum</span> in 
        Britain in the 1870s; before that, it was simply known as 
        <i style="font-weight: bold;">Portrait of a Man</i>. The 
        painting&#8217;s subject is dressed in fine black clothing appropriate 
        to <span style="font-weight: bold;">Calvinist</span> sensibilities of 
        the Dutch Republic, wears a giant white 
        <span style="font-weight: bold;">collar</span>, has a prominent 
        upturned <span style="font-weight: bold;">moustache</span>, and is 26 
        years old according to an inscription at the upper right hand corner.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://artsandculture.google.com/exhibit/MgIyXpmuNdcLJg">
        Landscape with the Fall of Icarus</a> (c.&nbsp;1560s) by 
        <span style="font-weight: bold;">Pieter Bruegel the Elder</span>. The 
        fall of Icarus is not the central image in this painting; the 
        mythological youth&#8217;s <span style="font-weight: bold;">legs</span> 
        stick out of the water, barely noticed, near a large ship and a 
        fisherman at the bottom right. Most of the painting depicts everyday 
        scenes in the <span style="font-weight: bold;">Netherlandish 
        countryside</span>, such as a farmer driving a horse while plowing his 
        field and a shepherd staring up at the sky while attending to his 
        sheep. In the distance can be seen a city with a harbor, which the 
        ships in the painting appear to be sailing towards. The painting is 
        famously depicted in <span style="font-weight: bold;">W.&nbsp;H. Auden
        </span>&#8217;s poem <span style="font-weight: bold;">
        &#8220;Mus&eacute;e des Beaux Arts,&#8221;</span> whose title derives 
        from the Brussels museum where the painting is held.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
        href="https://artsandculture.google.com/asset/hunters-in-the-snow-
        winter/WgFmzFNNN74nUg">Hunters in the Snow</a> (1565) by 
        <span style="font-weight: bold;">Pieter Bruegel the Elder</span>. This 
        painting is the most famous of the five surviving paintings from 
        Bruegel&#8217;s <span style="font-weight: bold;"><i>Months of the Year
        </i> cycle</span>. Several <span style="font-weight: bold;">black birds
        </span> are perched in the barren, <span style="font-weight: bold;">
        snowy trees</span> above the hunters in this painting, who are 
        returning home with their dogs, having had very little success in 
        their hunt. The town&#8217;s rivers and pond have frozen over, 
        preventing its <span style="font-weight: bold;">water wheel</span> 
        from working, but the denizens have taken advantage of this and are 
        <span style="font-weight: bold;">ice-skating</span>. The painting 
        features in several films by famous directors, such as 
        <span style="font-weight: bold;">Andrei Tarkovsky</span>&#8217;s 
        <i style="font-weight: bold;">Solaris and Mirror</i>.
    </li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" href="https://www.mauritshuis.nl/
        en/explore/the-collection/artworks/man-offering-money-to-a-young-
        woman-564/">The Proposition</a> (1631) by 
        <span style="font-weight: bold;">Judith Leyster</span>. Leyster was a 
        female artist whose entire body of work was once attributed to 
        <span style="font-weight: bold;">Frans Hals</span>. The 
        painting&#8217;s two subjects are a woman 
        <span style="font-weight: bold;">sewing</span> by candlelight and a 
        man touching her right shoulder and offering her 
        <span style="font-weight: bold;">coins</span>. Unlike in 
        Vermeer&#8217;s <i>The Milkmaid</i>, the 
        <span style="font-weight: bold;">foot warmer</span> in this painting 
        is partway under the woman&#8217;s skirt, indicating that she is 
        married, but potentially interested in a suitor. Despite this, the 
        woman appears to be ignoring the man&#8217;s romantic advances.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Will Alston.</p>
<br />
<br />
<br />
{% endblock %}