{% extends "base.html" %}  {% block title %}Photography Pioneers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a> | </li>
    <li style="display:inline">Photography Pioneers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/photography-pioneers.html">
    You Gotta Know These Photography Pioneers
    </a>
</h1>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">The Technical Pioneers</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Louis Daguerre</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Joseph Nic&eacute;phore Ni&eacute;pce</span> 
        functionally invented photography as we know it. Ni&eacute;pce 
        created the process of <span style="font-weight: bold;">heliography
        </span>, which he used to create <a style="color: maroon;" 
        href="https://www.hrc.utexas.edu/niepce-heliograph/">
        <i style="font-weight: bold;">View from the Window at Le Gras</i>
        </a>, the <span style="font-weight: bold;">oldest surviving photograph 
        of a real-world scene</span>. Daguerre, another pioneer, partnered 
        with Ni&eacute;pce and the two developed the 
        <span style="font-weight: bold;">physautotype method</span>, which 
        used <span style="font-weight: bold;">lavender oil</span>. After 
        Ni&eacute;pce&#8217;s death, Daguerre developed an even faster 
        process, in which an <span style="font-weight: bold;">iodized silver 
        plate</span> was exposed to light, treated with 
        <span style="font-weight: bold;">mercury fumes</span>, and 
        &#8220;fixed&#8221; with a solution of 
        <span style="font-weight: bold;">sodium thiosulfate</span>; that 
        process, <span style="font-weight: bold;">daguerreotypy</span>, 
        bears his name.
    </li>
    <li class="list_item">
        <span class="label">Eadweard Muybridge</span> initially gained fame 
        in the 1860s for his photographs of <span style="font-weight: bold;">
        Yosemite Valley</span>, published under the alias 
        <span style="font-weight: bold;">&#8220;Helios,&#8221;</span> but 
        is now likely more famous for helping 
        <span style="font-weight: bold;">Leland Stanford</span>&mdash;the 
        governor of California&mdash;settle an argument regarding whether 
        a <span style="font-weight: bold;">racehorse ever has all four 
        feet off the ground</span> during a gallop. Muybridge eventually 
        did this to the satisfaction of the public with a series of 
        <span style="font-weight: bold;">tripwire-triggered cameras</span>; 
        the series of photos thus created was later exhibited in the form 
        of a <span style="font-weight: bold;">zoopraxiscope</span>, an 
        early motion-picture device Muybridge also invented. Muybridge 
        also shot and killed his wife&#8217;s lover, 
        <span style="font-weight: bold;">Major Harry Larkyns</span>. He was 
        acquitted on the basis of justifiable homicide, and the trial was 
        later dramatized in Philip Glass&#8217;s opera 
        <i style="font-weight: bold;">The Photographer</i>.
    </li>
    <li class="list_item">
        <span class="label">Auguste and Louis Lumi&egrave;re</span> were 
        brothers who invented an improved <span style="font-weight: bold;">
        cinematograph</span>, which made them very early pioneers in the 
        film industry. However, they were also important in the history of 
        still photography, as their <span style="font-weight: bold;">
        autochrome process</span> was the first widely used technique that 
        produced <span style="font-weight: bold;">color photographs</span>.
    </li>
    <li class="list_item">
        <span class="label">George Eastman</span>&#8217;s invention of a 
        <span style="font-weight: bold;">dry-plate</span> process 
        improved the robustness of photographs, which he then built 
        further on by developing a <span style="font-weight: bold;">gelatin 
        emulsion</span> that was applied to paper, then removed and 
        varnished with <span style="font-weight: bold;">collodion</span> 
        after exposure. This film, which was carried in 
        <span style="font-weight: bold;">rolls</span>, was easier to 
        transport than plates and allowed for multiple exposures without 
        fully reloading a camera. Eastman&#8217;s crowning achievement 
        was the compact, handheld <span style="font-weight: bold;">Kodak 
        camera</span>.
    </li>
    <li class="list_item">
        <span class="label">Edwin Land</span> initially made his name 
        developing <span style="font-weight: bold;">filters for polarizing 
        light</span>. He then developed the 
        <span style="font-weight: bold;">instant, self-developing film
        </span>, which worked by squeezing the negative film against a 
        positive sheet, then using a reagent to transfer and quickly 
        develop the image. The first commercially viable instant camera was 
        produced and sold in 1948 by Land&#8217;s 
        <span style="font-weight: bold;">Polaroid Corporation</span>.
    </li>
    <li class="list_item">
        <span class="label">Harold &#8220;Doc&#8221; Edgerton</span>, a 
        longtime member of the <span style="font-weight: bold;">MIT</span>
         faculty, gained the nickname <span style="font-weight: bold;">
        &#8220;Papa Flash&#8221;</span> for developing techniques to 
        capture fast-moving events using <span style="font-weight: bold;">
        synchronized multiflash photography</span>, with the help of a 
        previously-obscure piece of lab equipment called the 
        <span style="font-weight: bold;">stroboscope</span>.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">The Artistic Pioneers</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Matthew Brady</span> studied under 
        <span style="font-weight: bold;">Samuel Morse</span>, who 
        popularized the <span style="font-weight: bold;">daguerreotype
        </span> in America, and became a portrait photographer in New York. 
        When the <span style="font-weight: bold;">Civil War</span> broke 
        out, Brady saw it as a potential source of 
        <span style="font-weight: bold;">memorabilia</span>, and took photos 
        at <span style="font-weight: bold;">Bull Run</span> in a 
        <span style="font-weight: bold;">mobile darkroom</span>. His work 
        expanded to hiring out crews of photographers to cover the entire 
        war, essentially creating the practice of 
        <span style="font-weight: bold;">photojournalism</span>. Brady 
        himself took portrait photos of prominent figures of both sides.
    </li>
    <li class="list_item">
        <span class="label">Margaret Bourke-White</span> was hired by 
        <span style="font-weight: bold;">Henry Luce</span> to work for 
        <i style="font-weight: bold;">Fortune</i> magazine, but became 
        known for her work for <i style="font-weight: bold;">Life</i>, 
        including the magazine&#8217;s first cover. a picture of 
        <span style="font-weight: bold;">Fort Peck Dam</span>. She and her 
        future husband, the author <span style="font-weight: bold;">Erskine 
        Caldwell</span>, produced the book <i style="font-weight: bold;">
        You Have Seen Their Faces</i>, a survey of 
        <span style="font-weight: bold;">sharecroppers</span> in the South. 
        Bourke-White was later a World War II correspondent, and her 
        pictures of the <span style="font-weight: bold;">concentration camps
        </span> at <span style="font-weight: bold;">Buchenwald</span> and 
        <span style="font-weight: bold;">Erla</span> broadcast the tragedy 
        back to the U.S.  She also interviewed and photographed 
        <span style="font-weight: bold;">Mohandas Gandhi</span> before his 
        assassination.
    </li>
    <li class="list_item">
        <span class="label">The Farm Security Administration photographers
        </span> during the <span style="font-weight: bold;">Great Depression
        </span> documented the plight of <span style="font-weight: bold;">
        poor farmers</span>. <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Dorothea Lange</span> may 
        have produced the single most enduring image among them, a portrait 
        of <span style="font-weight: bold;">Florence Owens Thompson</span> 
        staring worriedly into the middle distance as two of her children 
        bury their faces in her neck, called <i style="font-weight: bold;">
        Migrant Mother</i>. <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Walker Evans</span>, another 
        FSA photographer, collaborated with writer 
        <span style="font-weight: bold;">James Agee</span> on a study of 
        three sharecropping families in Alabama, called 
        <i style="font-weight: bold;">Let Us Now Praise Famous Men</i>. 
        <span class="label">Gordon Parks</span>, whose photo of an FSA 
        <span style="font-weight: bold;">cleaning woman</span> was both 
        posed and titled in ironic homage to Grant Wood&#8217;s 
        <i style="font-weight: bold;">American Gothic</i>, was a pioneering 
        African-American photographer who later directed the film 
        <i style="font-weight: bold;">Shaft</i>.
    </li>
    <li class="list_item">
        <span class="label">Ansel Adams</span>, like Muybridge, gained 
        significant fame for his photographs of 
        <span style="font-weight: bold;">Yosemite National Park</span>, 
        including <i style="font-weight: bold;">Moon and Half Dome</i>. 
        With Willard Van Dyke and Edward Weston, he founded 
        <span style="font-weight: bold;">Group f/64</span>, named after 
        the smallest common <span style="font-weight: bold;">aperture</span> 
        setting of cameras at the time. He also developed a method to 
        determine the optimum exposure for a negative, known as the 
        <span style="font-weight: bold;">Zone System</span>, enabling him 
        to create tremendous detail within small gradation of shade in 
        black-and-white photography.
    </li>
    <li class="list_item">
        <span class="label">Alfred Stieglitz</span> pioneered the artistic 
        style of photography and founded the journal 
        <i style="font-weight: bold;">Camera Work</i>. After a fight over 
        the importance of <span style="font-weight: bold;">pictorialism
        </span> with the National Arts Club, he founded the 
        <span style="font-weight: bold;">Photo-Secession</span> movement. 
        The husband of painter <span style="font-weight: bold;">Georgia 
        O&#8217;Keefe</span>, Stieglitz also founded the 
        <span style="font-weight: bold;">Little Galleries</span> of the 
        Photo Secession at 291 Fifth Avenue, New York City, which became 
        known as simply <span style="font-weight: bold;">&#8220;291.&#8221;
        </span>
    </li>
    <li class="list_item">
        <span class="label">Edward Steichen</span> was a member of the 
        <span style="font-weight: bold;">Photo-Secession</span> movement. 
        He was heavily featured in <i style="font-weight: bold;">Camera 
        Work</i> and helped Stieglitz found <span style="font-weight: bold;">
        291</span>. Steichen later abandoned pictorial photography and 
        worked for <i style="font-weight: bold;">Vogue</i> and 
        <i style="font-weight: bold;">Vanity Fair</i>, where he produced 
        some of the first <span style="font-weight: bold;">fashion 
        photographs</span>.  He later served as the director of the 
        Department of Photography at the <span style="font-weight: bold;">
        Museum of Modern Art</span>, where he organized the exhibition 
        <i style="font-weight: bold;">The Family of Man</i>.
    </li>
    <li class="list_item">
        <span class="label">Man Ray</span> worked with 
        <span style="font-weight: bold;">Marcel Duchamp</span> on a 
        series of <span style="font-weight: bold;">readymades</span> 
        before taking up photography. His earliest works were darkroom 
        experiments in exposure called <span style="font-weight: bold;">
        &#8220;rayographs.&#8221;</span>  His later photographic work 
        tended toward <span style="font-weight: bold;">surrealism</span>; 
        perhaps the most prominent example is his 
        <i style="font-weight: bold;">Violon d&#8217;Ingres</i>, a 
        photograph of the model <span style="font-weight: bold;">Kiki de 
        Montparnasse</span> with the <span style="font-weight: bold;">
        f-holes from a violin</span> superimposed on her back. With his 
        assistant <span style="font-weight: bold;">Lee Miller</span>, Man 
        Ray also rediscovered the technique of 
        <span style="font-weight: bold;">solarization</span>.
    </li>
    <li class="list_item">
        <span class="label">Henri Cartier-Bresson</span>, who with 
        <span style="font-weight: bold;">Robert Capa</span> and several 
        others founded the cooperative <span style="font-weight: bold;">
        Magnum Photos</span>, was a master of 
        <span style="font-weight: bold;">candid photography</span> who 
        conceived of the goal of photography as the capture of the 
        <span style="font-weight: bold;">&#8220;decisive moment.&#8221;
        </span> His most famous photograph, an encapsulation of his 
        philosophy, shows a man <span style="font-weight: bold;">leaping 
        from a ladder over a puddle</span> behind the 
        <span style="font-weight: bold;">Gare Saint-Lazare</span> train 
        station in Paris.
    </li>
    <li class="list_item">
        <span class="label">Robert Mapplethorpe</span> came to prominence 
        thanks to his portraits of his longtime friend, the musician 
        <span style="font-weight: bold;">Patti Smith</span>. He produced 
        many celebrity portraits and still-life images of 
        <span style="font-weight: bold;">flowers</span>, but is likely 
        most famous for his <span style="font-weight: bold;">homoerotic
        </span> work depicting the <span style="font-weight: bold;">BDSM
        </span> subculture of 1970s New York. Shortly after his 1989 
        death from <span style="font-weight: bold;">AIDS</span> 
        complications, his exhibition <span style="font-weight: bold;">
        &#8220;The Perfect Moment&#8221;</span> culminated in a 1990 
        <span style="font-weight: bold;">obscenity</span> trial in 
        Cincinnati.
    </li>
    <li class="list_item">
        <span class="label">Cindy Sherman</span> made a series of 
        <i style="font-weight: bold;">Untitled Film Stills</i>, consisting 
        largely of self-portraits posed in the style a B-movie actress, 
        which began a series of photos in which she modified popular 
        photographic forms to respond to the 
        <span style="font-weight: bold;">stereotyping of women in the 
        media</span>. Her later series <i style="font-weight: bold;">
        Fairy Tales</i> and <i style="font-weight: bold;">Disasters</i> 
        began including <span style="font-weight: bold;">mannequins</span> 
        and <span style="font-weight: bold;">prosthetic limbs</span>, 
        which she also used as the subject of her 
        <span style="font-weight: bold;">&#8220;Sex Pictures.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">Andreas Gursky</span>, whose work tends to 
        feature <span style="font-weight: bold;">high vantage points</span> 
        and scenes that produce <span style="font-weight: bold;">horizontal 
        bands of color</span>, has taken some of the most expensive 
        photographs ever sold. Among those are his 
        <i style="font-weight: bold;">99&nbsp;Cent&nbsp;II Diptychon</i>, 
        a shot of the shelves of a 99-cent store, and 
        <i style="font-weight: bold;">Rhein II</i>, a photograph of the 
        Rhine River with humans and buildings digitally edited out.
    </li>
</ul>
<br />
<p class="justify">
    This article was contributed by NAQT member Dwight Kidder, 
    author of The 99 Critical Shots in Quiz Bowl.
</p>
<br />
<br />
<br />
{% endblock %}