{% extends "base.html" %}  {% block title %}Sculptors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">Practice </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a> | 
    </li>
    <li style="display:inline">Sculptors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/sculptors.html">
    You Gotta Know These Sculptors
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Michelangelo</span> (1475&ndash;1564): A 
        Florentine &#8220;Renaissance man&#8221; also known for 
        architecture (the dome of St.&nbsp;Peter&#8217;s Basilica), 
        painting (<i>The Last Judgment</i> and the Sistine Chapel ceiling), 
        poetry, and military engineering.  His sculpted masterpieces include 
        <a style="color: maroon;" target="_blank" 
        href="http://upload.wikimedia.org/
        wikipedia/commons/6/63/Michelangelos_David.jpg">
        <i style="font-weight: bold;">David</i></a>, a 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/
        File:Michelangelo%27s_Pieta_5450_cropncleaned_edit.jpg">
        <i style="font-weight: bold;">Piet&agrave;</i></a>, 
        <a style="color: maroon;" target="_blank" 
        href="https://cdn.hswstatic.com/gif/
        michelangelo-sculptures-5.jpg"><i style="font-weight: bold;">
        Bacchus</i></a>, and a number of pieces for the 
        <span style="font-weight: bold;">tomb of Pope Julius&nbsp;II
        </span> (including <a style="color: maroon;" target="_blank" 
        href="http://www.artchive.com/artchive/m/michelangelo/dying_slave.jpg">
        <i style="font-weight: bold;">Dying Slave</i></a> and 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/
        File:Moses_Michaelangelo_September_2015-1.jpg">
        <i style="font-weight: bold;">Moses</i></a>). He preferred to work 
        in <span style="font-weight: bold;">Carraran marble</span>.
    </li>
	<li class="list_item">
        <span class="label">Auguste Rodin</span> (1840&ndash;1917): A 
        French sculptor known for stormy relationships with &#8220;the 
        establishment&#8221; of the <span style="font-weight: bold;">
        &Eacute;cole des Beaux-Arts <span style="font-weight: bold; 
        font-size: 85%; color: rgb(78, 78, 78);">ay-kohl day boh-zar
        </span></span> and his mistress, fellow artist Camille Claudel. 
        His works include <a style="color: maroon;" target="_blank" 
        href="http://www.metmuseum.org/toah/images/h2/h2_07.127.jpg">
        <i style="font-weight: bold;">The Age of Bronze</i></a>, 
        <a style="color: maroon;" target="_blank" 
        href="http://www.musee-rodin.fr/en/collections/sculptures/
        monument-balzac"><i style="font-weight: bold;">Honor&eacute; 
        de Balzac</i></a>, <a style="color: maroon;" target="_blank" 
        href="http://upload.wikimedia.org/wikipedia/en/2/28/
        Burghers_of_Calais_Hirshhorn.jpg"><i style="font-weight: bold;">
        The Burghers of Calais</i></a>, and a massive pair of 
        <span style="font-weight: bold;">doors for the Museum of 
        Decorative Arts</span> (the <a style="color: maroon;" 
        target="_blank" href="http://www.sai.msu.su/wm/paint/auth/rodin/
        gates-hell.jpg"><i style="font-weight: bold;">Gates of Hell</i>
        </a>) inspired by Dante&#8217;s <i style="font-weight: bold;">Inferno
        </i>. That latter work included his most famous piece, 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/File:The_Thinker,_Rodin.jpg">
        <i style="font-weight: bold;">The Thinker</i></a>.
    </li>
	<li class="list_item">
        <span class="label">Gian Lorenzo Bernini</span> (1598&ndash;1680): 
        A Roman who &mdash; with the rarely asked-about Francesco 
        Borromini &mdash; defined the <span style="font-weight: bold;">
        Baroque movement</span> in sculpture. Bernini is principally known 
        for his freestanding works, including <a style="color: maroon;" 
        target="_blank" href="https://en.wikipedia.org/wiki/
        File:Bernini%27s_David.jpg"><i style="font-weight: bold;">David</i>
        </a> and <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/File:Ecstasy_of_Saint_
        Teresa_September_2015-2a.jpg"><i style="font-weight: bold;">
        The Ecstasy of St.&nbsp;Theresa</i></a>.  Bernini&#8217;s 
        <i style="font-weight: bold;">David</i> differs from that of 
        Michelangelo in that the hero is shown &#8220;in motion,&#8221; 
        having twisted his body to sling the rock. Bernini is also known 
        for his massive <span style="font-weight: bold;">fountains</span> 
        in Rome, including the <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/File:Fontana_del_
        Tritone_by_Bernini.jpg"><i style="font-weight: bold;">Triton</i></a> 
        and the <a style="color: maroon;" target="_blank" 
        href="http://www.artchive.com/artchive/b/bernini/bernini_
        4rivers3.jpg"><i style="font-weight: bold;">Fountain of the Four 
        Rivers</i></a>.
    </li>
	<li class="list_item">
        <span class="label">Donatello</span> (1386&ndash;1466): A 
        Florentine sculptor who helped define Renaissance sculpture as 
        distinct from that of the Gothic period.  He is known for 
        <a style="color: maroon;" target="_blank" 
        href="http://www.artchive.com/artchive/d/donatello/donatello_
        saint_mark.jpg"><i style="font-weight: bold;">St.&nbsp;Mark</i>
        </a> and <a style="color: maroon;" target="_blank" h
        ref="http://upload.wikimedia.org/wikipedia/commons/thumb/a/af/
        St_George_Donatello_Orsanmichele_n1.jpg/239px-St_George_
        Donatello_Orsanmichele_n1.jpg"><i style="font-weight: bold;">
        St.&nbsp;George</i></a> in the <span style="font-weight: bold;">
        Orsanmichele <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">OR-sahn mee-KAY-lay</span></span> (a 
        Florentine church), the bald <a style="color: maroon;" target="_blank" 
        href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/
        Zuccone_Donatello_OPA_Florence.jpg/250px-Zuccone_Donatello_OPA_
        Florence.jpg"><i style="font-weight: bold;">Zuccone</i></a> (which 
        means &#8220;pumpkin-head,&#8221; though it depicts the prophet 
        <span style="font-weight: bold;">Habbakuk</span>), and the 
        <span style="font-weight: bold;">first equestrian statue to be cast 
        since Roman times</span>, the <a style="color: maroon;" 
        target="_blank" href="https://en.wikipedia.org/wiki/
        File:Gattamelata.jpg"><i style="font-weight: bold;">Gattamelata</i>
        </a> in Padua. He is also known for mastering the low-relief form 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/Stiacciato">
        <i style="font-weight: bold;">schiacciato</i></a>.
    </li>
	<li class="list_item">
        <span class="label">Lorenzo Ghiberti</span> (1378&ndash;1455): A 
        Florentine sculptor and <span style="font-weight: bold;">goldsmith
        </span> who <span style="font-weight: bold;">taught both Donatello 
        and Filippo Brunelleschi</span>. He is best known for two pairs of 
        <span style="font-weight: bold;">bronze doors on the Florence 
        Baptistery</span> (associated with the <a style="color: maroon;" 
        target="_blank" href="http://www.jimlaneart.com/Europe/
        CathedralFacade.JPG">Duomo</a>, or Florentine Cathedral). He 
        produced a <a style="color: maroon;" target="_blank" 
        href="https://www.thedigitalartworld.com/wp-content/uploads/2019/
        09/Ghiberti-Panel-1401.png">single, low-relief panel</a> to win a 
        1401 <span style="font-weight: bold;">competition</span> (defeating 
        Brunelleschi) for the commission to design the 28&nbsp;panels for 
        the <a style="color: maroon;" target="_blank" 
        href="http://www.lorenzoghiberti.org/north-doors/">north doors</a>. 
        After that, he was given another commission to design ten panels 
        for the <a style="color: maroon;" target="_blank" 
        href="https://upload.wikimedia.org/wikipedia/commons/3/3a/
        Paradies_tuer_florenz.jpg">east doors</a>. This latter work, by 
        far his most famous, was dubbed the &#8220;Gates of Paradise&#8221; 
        by Michelangelo.
    </li>
	<li class="list_item">
        <span class="label">Gutzon Borglum</span> (1867&ndash;1941): An 
        American known for crafting <a style="font-weight: bold; 
        color: maroon;" target="_blank" 
        href="https://www.nps.gov/moru/index.htm">Mount Rushmore</a> in 
        the Black Hills of South Dakota. He is also known for 
        <a style="color: maroon;" target="_blank" 
        href="http://www.bluffton.edu/~sullivanm/brookgreen/borglum.jpg">
        <i style="font-weight: bold;">The Mares of Diomedes</i></a> and 
        an unfinished (and later replaced) tribute to Confederate heroes on 
        <i style="font-weight: bold;">Stone Mountain</i> in Georgia.
    </li>
	<li class="list_item">
        <span class="label">Phidias</span> (c.&nbsp;480&nbsp;&ndash;&nbsp;c.
        &nbsp;430 BC): An Athenian considered the 
        <span style="font-weight: bold;">greatest of all Classical sculptors
        </span>. He created the <span style="font-weight: bold;">
        chryselephantine</span> (gold and ivory) 
        <span style="font-weight: bold;">Statue of Zeus at Olympia</span> 
        (one of the Wonders of the Ancient World, now lost) and the 
        <span style="font-weight: bold;">statue of Athena in the Parthenon
        </span> (now lost). He was supported by money from the Delian League 
        (that is, the Athenian Empire) run by his friend Pericles; he was 
        later ruined by charges of corruption generally considered to be 
        part of a political campaign against Pericles.
    </li>
	<li class="list_item">
        <span class="label">Constantin Br&acirc;ncu&#537;i</span> 
        (1876&ndash;1957): A Romanian sculptor who was a major figure in 
        <span style="font-weight: bold;">Modernism</span>. He is best 
        known for <a style="color: maroon;" target="_blank" 
        href="https://www.artsy.net/artwork/constantin-brancusi-
        the-kiss-le-baiser-1"><i style="font-weight: bold;">The Kiss</i>
        </a> (not to be confused with the Rodin work or the Klimt painting), 
        <a style="color: maroon;" target="_blank" 
        href="http://images.metmuseum.org/CRDImages/ma/web-large/DT261778.jpg">
        <i style="font-weight: bold;">Sleeping Muse</i></a>, and 
        <a style="color: maroon;" target="_blank" 
        href="http://www.metmuseum.org/toah/images/h2/h2_1996.403.7ab.jpg">
        <i style="font-weight: bold;">Bird in Space</i></a>. U.S. customs 
        tried to tax his works as &#8220;industrial products&#8221; since 
        they refused to recognize them as art, though Br&acirc;ncu&#537;i 
        won a court case over the matter.
    </li>
	<li class="list_item">
        <span class="label">Daniel Chester French</span> (1850&ndash;1931): 
        An American who created <a style="color: maroon;" target="_blank" 
        href="https://www.nps.gov/mima/learn/historyculture/the-minute-
        man-statue-by-daniel-chester-french.htm">The Minute Man</i></a> 
        for Concord, Massachusetts and <a style="color: maroon;" 
        target="_blank" href="http://www.yeodoug.com/resources/dc_french/
        chesterwood/dc_french_chesterwood_08.jpg">
        <i style="font-weight: bold;">Standing Lincoln</i></a> for the 
        Nebraska state capitol, but who is best known for the 
        <a style="font-weight: bold;color: maroon;" target="_blank" 
        href="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/
        Lincoln_Memorial_(Lincoln_contrasty).jpg/720px-Lincoln_Memorial_
        (Lincoln_contrasty).jpg">seated statue in the Lincoln Memorial</a>.
    </li>
	<li class="list_item">
        <span class="label">Fr&eacute;d&eacute;ric-Auguste Bartholdi</span> 
        (1834&ndash;1904): A French sculptor primarily known as the creator 
        of <i style="font-weight: bold;">Liberty Enlightening the World</i>, 
        better known as the Statue of Liberty. He also executed 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/File:The_Lion_of_Belfort,_by_
        Bartholdi.jpg"><i style="font-weight: bold;">The Lion of Belfort</i>
        </a> and a <a style="color: maroon;" target="_blank" 
        href="http://upload.wikimedia.org/wikipedia/commons/1/18/Lafayette_
        statue_Union_Square.jpg">statue of the Marquis de&nbsp;Lafayette</a> 
        in New York&#8217;s Union Square.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}