{% extends "base.html" %} {% block title %}Miscellaneous{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">Miscellaneous</li>
</ul>
<h1 style="font-family: Cambria" align="center">
    <a style="color: black;" target="_blank" href="https://www.naqt.com/you-gotta-know/by-category.jsp#tag_1027">Miscellaneous</a></h1>
<br />
<br />
<p class="justify">This page will help you practice and prepare yourself for a Quiz Bowl Tournament in miscelleanous things</p>
<p class="justify">There are different things <a style="color: black; font-family: Cambria;" href="https://www.naqt.com/you-gotta-know/">You Gotta Know...</a></p>
<br />

<h5 style="font-family: Cambria;">Miscellaneous - <a style="color: black;" href="https://www.naqt.com/you-gotta-know/"> You Gotta Know...</a></h5>
<ul class="list">
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous/common-mistakes-part-1">common mistakes (Part 1).</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous/common-mistakes-part-2">common mistakes (Part 2).</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous/quintuples">quintuples.</a></li>
    <br />
    <br />
    <br />
    <br />
    <br />
</ul> 

{% endblock %}