{% extends "base.html" %} {% block title %}Music and Auditory Art{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">Music and Auditory Art</li>
</ul>
<br />
<h1 style="font-family: Cambria" align="center">
    <a style="color: black;" target="_blank" href="https://www.naqt.com/you-gotta-know/by-category.jsp#tag_1031">Music and Auditory Art</a></h1>
<br />
<p class="justify">This page will help you practice and prepare yourself for a Quiz Bowl Tournament in music and auditory art</p>
<p class="justify">There are different things <a style="color: black; font-family: Cambria;" href="https://www.naqt.com/you-gotta-know/">You Gotta Know...</a></p>
<br />

<h5 style="font-family: Cambria;">Music and Auditory Art - <a style="color: black;" href="https://www.naqt.com/you-gotta-know/"> You Gotta Know...</a></h5>
<ul class="list">
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/20th-century-composers">20th-century composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/american-composers">American composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/music-theory-terms">music theory terms.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/musicals-part-1">musicals (Part 1).</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/musicals-part-2">musicals (Part 2).</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/operas">operas.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/romantic-era-composers">Romantic-era composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/works-by-ludwig-van-beethoven">works by Ludwig van Beethoven.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art/works-by-mozart">works by Mozart.</a></li>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</ul> 

{% endblock %}