{% extends "base.html" %} {% block title %}Mythology{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">Mythology</li>
</ul>
<br />
<h1 style="font-family: Cambria" align="center">
    <a style="color: black;" target="_blank" href="https://www.naqt.com/you-gotta-know/by-category.jsp#tag_1018">Mythology</a></h1>
<br />
<p class="justify">This page will help you practice and prepare yourself for a Quiz Bowl Tournament in mythology</p>
<p class="justify">There are different things <a style="color: black; font-family: Cambria;" href="https://www.naqt.com/you-gotta-know/">You Gotta Know...</a></p>
<br />

<h5 style="font-family: Cambria;">Mythology - <a style="color: black;" href="https://www.naqt.com/you-gotta-know/"> You Gotta Know...</a></h5>
<ul class="list">
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/arthurian-characters">Arthurian characters.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/egyptian-deities">Egyptian deities.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/greek-heroes">Greek heroes.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/greek-mythological-monsters">Greek mythological monsters.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/mortal-women-in-greek-myth">mortal women in Greek myth.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/norse-gods">Norse gods.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/mythology/trojan-war-heroes">Trojan War heroes.</a></li>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</ul> 
{% endblock %}