{% extends "base.html" %} {% block title %}People{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">People</li>
</ul>
<br />
<h1 style="font-family: Cambria" align="center">
    <a style="color: black;" target="_blank" href="https://www.naqt.com/you-gotta-know/by-category.jsp#tag_1006">People</a></h1>
<br />
<p class="justify">This page will help you practice and prepare yourself for a Quiz Bowl Tournament regarding important people</p>
<p class="justify">There are different things <a style="color: black; font-family: Cambria;" href="https://www.naqt.com/you-gotta-know/">You Gotta Know...</a></p>
<br />


<h5 style="font-family: Cambria;">People - <a style="color: black;" href="https://www.naqt.com/you-gotta-know/"> You Gotta Know...</a></h5>
<ul class="list">
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/20th-century-african-leaders">20th-century African leaders.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/20th-century-composers">20th-century composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/20th-century-middle-eastern-leaders">20th-century Middle Easters leaders.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/african-american-authors">African-American authors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/african-american-civil-rights-leaders">African-American civil rights leaders.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/american-composers">American composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/ancient-philosophers">ancient philosophers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/anthropologists">anthropologists.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/architects">architects.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/assassinations">assassinations.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/authors-of-speculative-fiction">authors of speculative fiction.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/aviators">aviators.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/black-american-legislators">Black American legislators.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/british-prime-ministers">British prime ministers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/choreographers">choreographers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/economists">economists.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/explorers">explorers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/feminists">feminists.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/founders-of-religious-traditions">founders of relgious traditions.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/golfers">golfers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/hockey-hall-of-famers">Hockey Hall of Famers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/japanese-authors">Japanese authors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/kings-of-france">kings of France.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/latin-american-authors">Latin American authors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/mathematicians">mathematicians.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/mexican-leaders">Mexican leaders.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/new-york-yankees">New York Yankees.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/nobel-prize-winners-in-physiology-or-medicine">Nobel Prize winners in physiology or medicine.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/photography-pioneers">photography pioneers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/popes">popes.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/postmodern-authors">postmodern authors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/psychologists">psychologists.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/revolutionary-war-generals">Revolutionary War generals.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/rocket-scientists">rocket scientists.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/roman-emperors">Roman emperors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/romatic-era-composers">Romatic-era composers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/russian-tsars">Russian tsars.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/sculptors">sculptors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/secretaries-of-state">Secretaries of State.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/short-story-authors">short story authors.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/south-american-political-leaders">South American political leaders.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/people/tennis-players">tennis players.</a></li>
    <br />
    <br />
    <br />
    <br />
    <br />
</ul> 
{% endblock %}