{% extends "base.html" %} {% block title %}Philosophy{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">Philosophy</li>
</ul>
<br />
<h1 style="font-family: Cambria" align="center">
    <a style="color: black;" target="_blank" href="https://www.naqt.com/you-gotta-know/by-category.jsp#tag_1042">Philosophy</a></h1>
<br />
<p class="justify">This page will help you practice and prepare yourself for a Quiz Bowl Tournament regarding philosophy</p>
<p class="justify">There are different things <a style="color: black; font-family: Cambria;" href="https://www.naqt.com/you-gotta-know/">You Gotta Know...</a></p>
<br />


<h5 style="font-family: Cambria;">Philosophy - <a style="color: black;" href="https://www.naqt.com/you-gotta-know/"> You Gotta Know...</a></h5>
<ul class="list">
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/philosophy/ancient-philosophers">ancient philosophers.</a></li>
    <li>You Gotta Know&hellip; these <a style="color: maroon;" href="/practice/you-gotta-know/philosophy/schools-of-western-philosophy">schools of Western philosophy.</a></li>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</ul> 
{% endblock %}