{% extends "base.html" %}  {% block title %}Olympics (Pre-2000){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/sports">Sports</a> | </li>
    <li style="display:inline">Olympics (Pre-2000)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/olympics.html">
    You Gotta Know These Olympics (Pre-2000)
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">1896 Summer</span> (Athens, Greece; 
        April&nbsp;6&nbsp;&ndash;&nbsp;April&nbsp;15, 1896): The 
        <span style="font-weight: bold;">first edition of the modern Olympics
        </span> was the brainchild of <span style="font-weight: bold;">Baron 
        Pierre de&nbsp;Coubertin of France</span>; winners were awarded silver 
        medals.  Some of the stranger events included 
        <span style="font-weight: bold;">one-handed weightlifting</span> and 
        100-meter freestyle swimming for members of the Greek navy. 
        Appropriately, Greek shepherd <span style="font-weight: bold;">
        Spiridon Louis</span> became the hero of the Games by winning the 
        marathon.
    </li>
	<li class="list_item">
        <span class="label">1912 Summer</span> (Stockholm, Sweden; 
        May&nbsp;5&nbsp;&ndash;&nbsp;July&nbsp;22, 1912): While the Swedes 
        introduced <span style="font-weight: bold;">electronic timers</span> 
        to the games, the athletic hero was United States decathlete and 
        Native American <span style="font-weight: bold;">Jim Thorpe</span>. 
        He won the pentathlon, placed fourth in the high jump, and seventh 
        in the long jump.  Finally, Thorpe went on to win the decathlon with 
        a score so astounding that it would still have won him the silver 
        medal in 1948.  During the medal presentation, Swedish king 
        Gustav&nbsp;V said, &#8220;Sir, you are the greatest athlete&#8221; 
        to which Thorpe purportedly replied <span style="font-weight: bold;">
        &#8220;Thanks, King.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">1936 Summer</span> (Berlin, Germany; 
        August&nbsp;1&ndash;16, 1936): These games are best remembered for 
        Alabama native <span style="font-weight: bold;">Jesse Owens</span>
        &#8217; amazing work on the track against a backdrop of 
        <span style="font-weight: bold;">Nazi propaganda</span> emphasizing 
        Aryan superiority.  The American athlete won the 100-meter dash, 
        200-meter dash, long jump, and 4&times;100-meter sprint relay. 
        Despite the growing strength of the Nazi state, the German people 
        became enamored with Owens and named a Berlin street for him after 
        his 1980 death. On other fronts, the Olympics were 
        <span style="font-weight: bold;">broadcast on television</span> for 
        the first time (as seen in the film <i style="font-weight: bold;">
        Contact</i>) and also saw the introduction of the relay of the 
        <span style="font-weight: bold;">Olympic torch</span>.
    </li>
	<li class="list_item">
        <span class="label">1968 Summer</span> (Mexico City, Mexico; 
        October&nbsp;12&ndash;27, 1968): In addition to being the first 
        Olympics to be held at <span style="font-weight: bold;">high altitude
        </span>, these Games saw U.S. long jumper 
        <span style="font-weight: bold;">Bob Beamon</span> set a record of 
        8.90 meters that would remain untouched for 23&nbsp;years. The Games 
        ended on a controversial note: to protest the 
        <span style="font-weight: bold;">Mexican government&#8217;s killing 
        of at least 250 unarmed demonstrators </span>on the eve of the Games, 
        <span style="font-weight: bold;">Tommie Smith</span> and 
        <span style="font-weight: bold;">John Carlos</span> staged a silent 
        protest with a black-gloved, raised-fist 
        <span style="font-weight: bold;">&#8220;Black Power&#8221; salute
        </span> during the award ceremony for the 200-meter race. This 
        didn&#8217;t sit well with the International Olympic Committee, who 
        promptly ordered them home.
    </li>
	<li class="list_item">
        <span class="label">1972 Summer</span> (Munich, West Germany; 
        August&nbsp;26&nbsp;&ndash;&nbsp;September&nbsp;11, 1972): One of the 
        most tragic Olympics ever, these Games saw the 
        <span style="font-weight: bold;">kidnapping and killing of eleven 
        Israeli athletes by eight Palestinian terrorists</span>, five of 
        whom were shot dead by West German police. Jim McKay of ABC Sports 
        remained on the air for hours, bringing American viewers up to date 
        on the situation. Though the Olympics 
        <span style="font-weight: bold;">paused for 34 hours</span>, the IOC 
        ordered the games to continue, and memorable performances were turned 
        in by American swimmer <span style="font-weight: bold;">Mark Spitz
        </span>, who won seven gold medals, and Russian gymnast 
        <span style="font-weight: bold;">Olga Korbut</span>, who captivated 
        audiences en route to winning three gold medals.
    </li>
	<li class="list_item">
        <span class="label">1980 Winter</span> (Lake Placid, New York, United 
        States;  February&nbsp;12&ndash;24, 1980): In an Olympics where a 
        single man &mdash; American speed skater 
        <span style="font-weight: bold;">Eric Heiden</span> &mdash; would win 
        five gold medals and not be the biggest story, something very 
        special had to happen. In what would become known as 
        <span style="font-weight: bold;">&#8220;The Miracle on Ice,&#8221;
        </span> the U.S. Olympic hockey team &mdash; led by head coach 
        <span style="font-weight: bold;">Herb Brooks</span> and captain 
        <span style="font-weight: bold;">Mike Eruzione</span> &mdash; 
        defeated the powerful Soviet team 4&ndash;3 on February 22, 1980. 
        Two days later, they defeated Finland to claim America&#8217;s second 
        Olympic hockey gold medal, the first being in 1960 at Squaw Valley.
    </li>
	<li class="list_item">
        <span class="label">1980 Summer</span> (Moscow, Soviet Union; 
        July&nbsp;19&nbsp;&ndash;&nbsp;August&nbsp;3, 1980): Despite the 
        glow from the Lake Placid Games, these Games were marred by a 
        <span style="font-weight: bold;">United States boycott</span> ordered 
        by President Jimmy Carter in response to the 
        <span style="font-weight: bold;">1979 Soviet invasion of Afghanistan
        </span>. This lead was followed by <span style="font-weight: bold;">
        Canada</span>, <span style="font-weight: bold;">West Germany</span>, 
        <span style="font-weight: bold;">Japan</span>, 
        <span style="font-weight: bold;">Kenya</span>, and 
        <span style="font-weight: bold;">China</span>, while other Western 
        nations left it up to their individual athletes, many of whom chose 
        to partake.  The result was an Eastern Bloc field day, with all 54 
        East German rowers earning a medal and the Soviets totaling 80 gold 
        medals. British distance runner <span style="font-weight: bold;">
        Sebastian Coe</span> produced the West&#8217;s best performance by 
        winning the 1500-meter race.
    </li>
	<li class="list_item">
        <span class="label">1984 Summer</span> (Los Angeles, California, United 
        States; July&nbsp;28&nbsp;&ndash;&nbsp;August&nbsp;12, 1984): 
        Virtually <span style="font-weight: bold;">every Communist nation 
        skipped</span> these games, leaving the door open for a &#8220;USA 
        all the way&#8221; feeling, as the Americans took home 83 gold medals 
        out of a total of 174.  Among the highlights were American sprinter 
        <span style="font-weight: bold;">Carl Lewis</span>&#8217; repeat of 
        Jesse Owens&#8217; 1936 performance:  winning the 100-meter dash, 
        200-meter dash, long jump, and 4&times;100 meter sprint relay. In 
        gymnastics, West Virginia native <span style="font-weight: bold;">
        Mary Lou Retton</span> won the all-around gold medal.
    </li>
	<li class="list_item">
        <span class="label">1994 Winter</span> (Lillehammer, Norway; 
        February&nbsp;12&ndash;27, 1994): Massachusetts native 
        <span style="font-weight: bold;">Nancy Kerrigan</span> and Oregonian 
        <span style="font-weight: bold;">Tonya Harding</span> were among 
        America&#8217;s leading hopes for gold in 
        <span style="font-weight: bold;">women&#8217;s figure skating</span>. 
        During the Olympic Trials in Detroit, Kerrigan was viciously 
        <span style="font-weight: bold;">attacked</span> by an unknown 
        assailant, who would later be traced back to Harding. In the ensuing 
        media circus, both Kerrigan and Harding were sent to Norway, but 
        their thunder was stolen by Ukrainian skater 
        <span style="font-weight: bold;">Oksana Baiul</span>, who edged out 
        silver medalist Kerrigan, while Harding placed eighth. Sweden won 
        the ice hockey gold by defeating Canada in a shootout; future 
        Colorado Avalanche forward <span style="font-weight: bold;">Peter 
        Forsberg</span>&#8217;s game-winning effort against Canadian goalie 
        Sean Burke was immortalized on a Swedish postage stamp. In speed 
        skating, <span style="font-weight: bold;">Bonnie Blair</span> won her 
        third straight gold in the 500-meters and second straight in the 
        1,000-meters, perennial hard-luck kid <span style="font-weight: bold;">
        Dan Jansen</span> won Olympic gold in his last race, the 1,000 meters, 
        and Norwegian <span style="font-weight: bold;">Johann Olav Koss</span> 
        won three gold medals, all in world-record times.
    </li>
	<li class="list_item">
        <span class="label">1996 Summer</span> (Atlanta, Georgia, United States; 
        July&nbsp;25&nbsp;&ndash;&nbsp;August&nbsp;8, 1996): In what have been 
        called &#8220;The Coke Games,&#8221; due to their exceptional 
        <span style="font-weight: bold;">commercialization</span> in the city 
        of Coke&#8217;s business headquarters, the sweltering Georgia heat 
        and organizational problems made these Games a veritable 
        <span style="font-weight: bold;">nightmare</span>. But a 
        <span style="font-weight: bold;">bombing</span> in 
        <span style="font-weight: bold;">Centennial Olympic Park</span> that 
        killed one person and injured 100 remains the Games&#8217; most 
        memorable event.  The bombing was eventually traced to 
        <span style="font-weight: bold;">Eric Rudolph</span>. Irish swimmer 
        <span style="font-weight: bold;">Michelle Smith</span> won three 
        gold medals in the pool, only to be plagued by rumors of 
        <span style="font-weight: bold;">steroid</span> use. 
        <span style="font-weight: bold;">Carl Lewis</span> got his ninth 
        gold by winning the long jump for the fourth consecutive Games, while 
        American sprinter <span style="font-weight: bold;">Michael Johnson
        </span> became the first man to win the 200-meter and 400-meter 
        races, the former in a world-record 19.32 seconds.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT member Craig Barker.</p>
<br />
<br />
<br />
{% endblock %}