{% extends "base.html" %}  {% block title %}20th-Century Physiscists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">20th-Century Physiscists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/20th-century-physicists.html">
    You Gotta Know These 20th-Century Physiscists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Niels Bohr</span> (1885&ndash;1962) Bohr 
        reconciled Rutherford&#8217;s results from the 
        <span style="font-weight: bold;">gold foil experiment</span> with 
        <span style="font-weight: bold;">Max Planck</span>&#8217;s 
        <span style="font-weight: bold;">quantum theory</span> to create a 
        <a style="color: maroon;" href="http://hyperphysics.phy-astr.gsu.edu/
        hbase/bohr.html">model of the atom</a> (the 
        <span style="font-weight: bold;">Bohr model</span>) in which 
        <span style="font-weight: bold;">electrons</span> resided in specific 
        <span style="font-weight: bold;">energy levels</span> at specific 
        stable <span style="font-weight: bold;">radii</span>. 
        This model was the basis for <span style="font-weight: bold;">Johann 
        Balmer</span>&#8217;s work with <span style="font-weight: bold;">
        spectroscopy</span> and <span style="font-weight: bold;">Johannes 
        Rydberg</span>&#8217;s energy formula, which explicitly stated the 
        frequency of light that an electron would emit if it went from a 
        higher energy to a lower energy. Bohr and his son fled to the U.S. 
        in World War&nbsp;II under the pseudonym &#8220;Baker,&#8221; and 
        contributed to the <span style="font-weight: bold;">Manhattan Project
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Louis de&nbsp;Broglie 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">duh-BROH-lee</span></span> 
        (1892&ndash;1987) De&nbsp;Broglie&#8217;s work quantifying the 
        <span style="font-weight: bold;">wave-particle duality</span> of 
        <span style="font-weight: bold;">quantum mechanics</span> earned 
        him the 1929 Nobel Prize in Physics. His doctoral thesis, which 
        proposed that all particles have a <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://hyperphysics.phy-astr.gsu.edu/hbase/
        quantum/debrog2.html">characteristic wavelength</a> dependent on their 
        <span style="font-weight: bold;">momentum</span>, was so 
        groundbreaking that the reviewers passed it directly to 
        <span style="font-weight: bold;">Albert Einstein</span>, who endorsed 
        it. In opposition to the <span style="font-weight: bold;">
        probabilistic interpretation of quantum mechanics</span>, 
        de&nbsp;Broglie later worked to define a purely 
        <span style="font-weight: bold;">causal interpretation</span>, but 
        his work remained unfinished until <span style="font-weight: bold;"
        >David Bohm</span> refined it in the 1950s.
    </li>
	<li class="list_item">
        <span class="label">Albert Einstein</span> (1879&ndash;1955) In one 
        year &mdash; 1905, called his <i style="font-weight: bold;">annus 
        mirabilis</i>, or &#8220;miracle year&#8221; &mdash; Albert Einstein 
        authored four papers that revolutionized modern physics. The first 
        explained the <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://hyperphysics.phy-astr.gsu.edu/
        hbase/mod2.html">
        photoelectric effect</a> in terms of <span style="font-weight: bold;">
        quantized</span> <span style="font-weight: bold;">electromagnetic 
        radiation</span>.  The second formed the foundation for modern 
        <span style="font-weight: bold;">statistical physics</span> by 
        explaining the seemingly-random motion of particles in a fluid, a 
        behavior called <a style="color: maroon; font-weight: bold;" 
        target="_blank" 
        href="http://galileo.phys.virginia.edu/classes/152.mf1i.spring02/
        BrownianMotion.htm">Brownian motion</a>. The third reconciled 
        <span style="font-weight: bold;">Maxwellian electrodynamics</span> 
        with classical mechanics by positing a finite, constant 
        <span style="font-weight: bold;">speed of light</span>, a theory now 
        known as <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://scienceworld.wolfram.com/physics/SpecialRelativity.html">
        special relativity</a>. The fourth paper contained his statement 
        that the energy of a body is equal to its mass times the speed of 
        light squared (that is, <span style="font-weight: bold;"><i>E</i>
        &nbsp;=&nbsp;<i>m</i><i>c</i><sup>2</sup></span>). Ten years later, 
        in 1915, Einstein published his theory of 
        <span style="font-weight: bold;">general relativity</span>, which 
        generalized special relativity to account for 
        <span style="font-weight: bold;">gravitational fields</span>.
    </li>
	<li class="list_item">
        <span class="label">Enrico Fermi</span> (1901&ndash;1954) Fermi is 
        best known to the public as a main contributor to the 
        <span style="font-weight: bold;">Manhattan Project</span>. His work 
        with statistical physics laid the groundwork for modern electronics 
        and solid-state technologies. He applied the 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://hyperphysics.phy-astr.gsu.edu/hbase/pauli.html">Pauli 
        exclusion principle</a> to subatomic particles to create 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://hyperphysics.phy-astr.gsu.edu/hbase/quantum/disfd.html">
        Fermi-Dirac statistics</a>, which accurately predicted the 
        low-temperature behavior of <span style="font-weight: bold;">
        electrons</span>. Particles that obey Fermi-Dirac statistics are 
        called <span style="font-weight: bold;">fermions</span> in his honor. 
        Fermi also suggested the existence of the 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.ps.uci.edu/~superk/neutrino.html">neutrino</a> in 
        order to balance nuclear <span style="font-weight: bold;">beta-decay
        </span> chains.
    </li>
	<li class="list_item">
        <span class="label">Richard Feynman</span> (1918&ndash;1988). Feynman 
        developed a mathematical formalism called the 
        <span style="font-weight: bold;">path integral formulation of quantum 
        theory</span> that utilized the <span style="font-weight: bold;">
        &#8220;sum over histories,&#8221;</span> taking into account all 
        possible paths a particle could take. This constituted the creation of 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://en.wikipedia.org/wiki/Quantum_electrodynamics">quantum 
        electrodynamics</a> and earned him the 1965 Nobel Prize in Physics. 
        He also used the sum over histories in developing 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://scienceworld.wolfram.com/physics/FeynmanDiagram.html">
        Feynman diagrams</a>, which illustrate the interaction of subatomic 
        particles.  Aside from being a prolific physicist, Feynman was also 
        an accomplished <span style="font-weight: bold;">bongo</span> player 
        and sketch artist.
    </li>
	<li class="list_item">
        <span class="label">George Gamow</span> (1904&ndash;1968) Gamow was 
        one of the first to explain the implications of the 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        ="http://en.wikipedia.org/wiki/Big_Bang">Big Bang theory</a> of 
        cosmology. He correctly predicted the abundance of 
        <span style="font-weight: bold;">hydrogen</span> and 
        <span style="font-weight: bold;">helium</span> in the early universe, 
        nicknamed <span style="font-weight: bold;">Alpher-Bethe-Gamow theory
        </span> (an intentional pun on the first three letters of the Greek 
        alphabet, alpha, beta, and gamma, for which the otherwise unrelated 
        physicist <span style="font-weight: bold;">Hans </span>Bethe was 
        included), and also theorized that the the heat from the Big Bang 
        would still be visible as the <a style="color: maroon; 
        font-weight: bold;" target="_blank" href="http://aether.lbl.gov/www/
        science/cmb.html">cosmic microwave background radiation</a>. 
        Although Gamow received no Nobel for this prediction, the CMB&#8217;s 
        discoverers, <span style="font-weight: bold;">Arno Penzias</span> and 
        <span style="font-weight: bold;">Robert Wilson</span>, as well as two 
        later observers, <span style="font-weight: bold;">John Mather</span> 
        and <span style="font-weight: bold;">George Smoot</span>, did 
        receive Nobels.
    </li>
	<li class="list_item">
        <span class="label">Werner Heisenberg</span> (1901&ndash;1976) 
        Heisenberg is most known for his <span style="font-weight: bold;">
        matrix interpretation of quantum theory</span>, which constructs 
        observable quantities as <span style="font-weight: bold;">operators
        </span> that act on a system. His famous 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://hyperphysics.phy-astr.gsu.edu/hbase/uncer.html">
        uncertainty principle</a> (better translated, however, as 
        &#8220;indeterminacy principle&#8221;) states that the more 
        accurately an object&#8217;s <span style="font-weight: bold;">
        position</span> can be observed, the less accurately its 
        <span style="font-weight: bold;">momentum</span> can. This is because 
        shorter wavelengths of light (used as a sort of measuring-stick) have 
        higher energies, and disrupt a particle&#8217;s momentum more 
        strongly. Heisenberg earned the 1932 Nobel Prize in Physics for 
        discovering the allotropic forms of <span style="font-weight: bold;">
        hydrogen</span>.
    </li>
	<li class="list_item">
        <span class="label">Max Planck</span> (1858&ndash;1947) Planck allowed 
        quantum theory to move forward in the early 20th century by correctly 
        modeling how an object radiates heat, solving the 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://spiff.rit.edu/classes/phys314/lectures/bb/bb.html">
        ultraviolet catastrophe</a>, which was a predicted unbounded increase 
        in the amount of <span style="font-weight: bold;">radiation</span> 
        emitted at high frequencies.  <span style="font-weight: bold;">
        Planck&#8217;s Law of Radiation</span> superseded the 
        <span style="font-weight: bold;">Rayleigh-Jeans Law</span>. 
        He suggested that <span style="font-weight: bold;">electromagnetic 
        </span> could only be emitted in specific packages, called 
        <span style="font-weight: bold;">quanta</span> (singular 
        <span style="font-weight: bold;">quantum</span>, from the Latin for 
        &#8220;how much&#8221;), positing that the energy of this photon was 
        equal to its <span style="font-weight: bold;">frequency</span> times 
        a fixed value <i>h</i>, now known as <span style="font-weight: bold;">
        Planck&#8217;s constant</span>.
    </li>
	<li class="list_item">
        <span class="label">Ernest Rutherford</span> (1871&ndash;1937) 
        Rutherford&#8217;s 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://chemed.chem.purdue.edu/genchem/history/gold.html">
        gold foil</a> experiment provided the first evidence that each 
        <span style="font-weight: bold;">atom</span> is made up of a large, 
        <span style="font-weight: bold;">positively-charged</span> 
        <span style="font-weight: bold;">nucleus</span>, surrounded by a 
        cloud of <span style="font-weight: bold;">negatively-charged</span> 
        <span style="font-weight: bold;">electrons</span>. Rutherford won 
        the 1908 Nobel Prize in Chemistry for this work. Rutherford was also 
        an early leader in <span style="font-weight: bold;">nuclear fission
        </span> techniques, having discovered the decay of 
        <span style="font-weight: bold;">carbon-14</span> and providing the 
        impetus for modern <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://hyperphysics.phy-astr.gsu.edu/hbase/
        nuclear/cardat.html">carbon dating</a>. As part of this research, 
        he discovered the <span style="font-weight: bold;">proton</span> and 
        <span style="font-weight: bold;">neutron</span>, the latter in 
        cooperation with <span style="font-weight: bold;">James Chadwick
        </span>. He is also the only native New Zealander with an element 
        named after him (<span style="font-weight: bold;">Rutherfordium
        </span>, atomic number 104).
    </li>
	<li class="list_item">
        <span class="label">Erwin Schr&ouml;dinger</span> (1887&ndash;1961) 
        Schr&ouml;dinger contributed to the early formulations of 
        <span style="font-weight: bold;">quantum theory</span> as a foil to 
        <span style="font-weight: bold;">Werner Heisenberg</span>, 
        <span style="font-weight: bold;">Niels Bohr</span>, and 
        <span style="font-weight: bold;">Paul Dirac</span>, criticizing their 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://plato.stanford.edu/entries/qm-copenhagen/">Copenhagen 
        interpretation of quantum mechanics</a> with 
        <span style="font-weight: bold;">thought experiments</span> like his 
        famous <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://en.wikipedia.org/wiki/
        Schr%C3%B6dinger's_cat">Schr&ouml;dinger&#8217;s Cat</a> argument. 
        He formulated both the <span style="font-weight: bold;">
        time-independent</span> and <span style="font-weight: bold;">time-
        dependent</span> <span style="font-weight: bold;">Schr&ouml;dinger 
        equations</span>, which are <span style="font-weight: bold;">
        partial differential equations</span> that describe how quantum 
        systems behave.  Schr&ouml;dinger&#8217;s work was the basis for 
        <span style="font-weight: bold;">Heisenberg&#8217;s matrix formalism
        </span>, <span style="font-weight: bold;">Feynman&#8217;s path-
        integral formalism</span>, and quantum mechanical 
        <span style="font-weight: bold;">perturbation theory</span>, which 
        considers the effects of a small disturbance to a quantum system.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Zachary Pace.</p>
<br />
<br />
<br />
{% endblock %}