{% extends "base.html" %}  {% block title %}Animal Phyla{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Animal Phyla</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/phyla.html">
    You Gotta Know These Animal Phyla
    </a>
</h1>
<br />
<p class="justify">
    Taxonomists do not always agree on the usage of even the most common terms.  Some textbooks and other publications will use alternate names or spellings to describe taxonomic groups, or will lump or split groups in different ways.

</p>
<p class="justify">
    Under NAQT rules, unless the question states otherwise, both Latin names (Mollusca) or Anglicized names (molluscs) are acceptable for a given taxon.

</p>
<p class="justify">
    Phyla of plants, algae, fungi, and sometimes bacteria are often referred to as &#8220;divisions.&#8221;
</p>
<p class="justify">
    Estimates of phylal diversity vary.  Because many invertebrates are inconspicuous, all estimates are probably low.  Unless stated otherwise, numbers represent an estimate of the number of species that have been named.

</p>
<ul class="list2">
    <li class="list_item">
        <span style="font-weight: bold;">Porifera 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">por-IF-ur-uh</span></span> (5,000 species): 
        The <span style="font-weight: bold;">sponges</span> are all 
        water-dwellers (98% marine, 2% freshwater), and are sometimes 
        classified separately from other animals because of their 
        <span style="font-weight: bold;">asymmetric bodies</span> and 
        <span style="font-weight: bold;">lack of distinct tissues</span>. 
        They are <span style="font-weight: bold;">sessile</span> (immobile) 
        except in early dispersing stages, and 
        <span style="font-weight: bold;">collect food particles</span> via 
        the sweeping motions of flagellated cells called 
        <span style="font-weight: bold;">choanocytes 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">koh-AN-oh-&#8220;sites&#8221;</span></span>.
        </li>
	<li class="list_item">
        <span style="font-weight: bold;">Cnidaria 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">ny-DAIR-ee-uh</span></span> (10,000 
        species): Also called <span style="font-weight: bold;">Coelenterata 
        <span style="font-weight: bold;">see-LEN-tur-AH-tuh</span></span>, 
        the cnidarians develop from a <span style="font-weight: bold;">
        diploblastic</span> (two-layered) <span style="font-weight: bold;">
        embryo</span>, and have two separate tissue layers and 
        <span style="font-weight: bold;">radial body symmetry</span>. 
        Many cnidarians have two life stages, the mobile, usually bell-like 
        <span style="font-weight: bold;">medusa</span> and the sessile 
        <span style="font-weight: bold;">polyp</span>. All cnidarians have 
        <span style="font-weight: bold;">nematocysts</span>, or stinging 
        cells, for capturing prey, and some can inflict painful 
        <span style="font-weight: bold;">stings</span> on swimmers. Examples 
        include the <span style="font-weight: bold;">hydras</span>, 
        <span style="font-weight: bold;">sea anemones</span>, 
        <span style="font-weight: bold;">corals</span>, 
        <span style="font-weight: bold;">jellyfishes</span>, and 
        <span style="font-weight: bold;">Portuguese man-o-war</span> (which 
        is actually an aggregation of <span style="font-weight: bold;">
        colonial cnidarians</span>).
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Platyhelminthes 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">plat-ee-hel-MIN-theez</span></span> 
        (15,000 species): The <span style="font-weight: bold;">flatworms
        </span> are the most primitive phylum to develop from a 
        <span style="font-weight: bold;">triploblastic</span> (three-layered) 
        <span style="font-weight: bold;">embryo</span>. They have 
        <span style="font-weight: bold;">bilateral body symmetry</span>, and 
        are <span style="font-weight: bold;">acoelomate</span> (lacking a 
        true body cavity), so that the space between the digestive tract and 
        the body wall is filled with tissue.  As the name implies, they are 
        generally <span style="font-weight: bold;">flat-bodied</span>. They 
        have a true <span style="font-weight: bold;">head</span> and 
        <span style="font-weight: bold;">brain</span>, but the 
        <span style="font-weight: bold;">digestive system</span> has only 
        <span style="font-weight: bold;">one opening</span>, which functions 
        as both mouth and anus.  Most are <span style="font-weight: bold;">
        hermaphroditic</span>.  This phylum includes parasites such as 
        the <span style="font-weight: bold;">tapeworms</span> and 
        <span style="font-weight: bold;">flukes</span>, as well as free-
        living (i.e., non-parasitic) organisms such as the 
        <span style="font-weight: bold;">planarians</span>.
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Nematoda 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">nee-muh-TOH-duh</span></span> (15,000 
        species): The roundworms are unsegmented worms that live in a 
        variety of habitats.  They are <span style="font-weight: bold;">
        pseudocoelomate</span>; the three tissue layers are concentric, 
        but the body cavity is not lined with tissue derived from the 
        <span style="font-weight: bold;">mesoderm</span> (middle embryonic 
        layer).  They include both free-living and 
        <span style="font-weight: bold;">parasitic</span> species; human 
        parasites include <span style="font-weight: bold;">hookworms
        </span> and the causative agents of <span style="font-weight: bold;">
        elephantiasis</span>, <span style="font-weight: bold;">trichinosis
        </span>, and <span style="font-weight: bold;">river blindness</span>. 
        Soil nematodes may be <span style="font-weight: bold;">crop pests
        </span>, while others are beneficial predators on other plant pests. 
        The nematode species <i style="font-weight: bold;">Caenorhabdis 
        elegans</i> is a common subject in genetics and developmental-
        biology labs.
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Annelida 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">an-uh-LEE-duh</span></span> (11,500 
        species): The annelids are segmented worms and represent the first 
        lineage of truly <span style="font-weight: bold;">eucoelomate</span> 
        animals, meaning their body cavities are lined with tissue derived 
        from the embryonic mesoderm.  Annelid classes include the marine 
        <span style="font-weight: bold;">Polychaeta</span>, as well as the 
        mostly terrestrial <span style="font-weight: bold;">Oligochaeta</span> 
        (including the <span style="font-weight: bold;">earthworms</span>, 
        Lumbricus) and the mostly aquatic Hirudinea, or 
        <span style="font-weight: bold;">leeches</span>. Characteristics of 
        annelids include <span style="font-weight: bold;">nephridia</span> 
        (kidney-like structures), blood vessels, and, in some classes, 
        <span style="font-weight: bold;">hermaphroditism</span>.
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Arthropoda 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">arth-roh-POH-duh</span></span> (over 
        800,000 species described; estimates of actual diversity vary but 
        go as high as 9 million species): The <span style="font-weight: bold;">
        most diverse and successful</span> animal phylum on earth 
        (incorporating about 75% of all described animal species), the 
        Arthropoda are characterized by <span style="font-weight: bold;">
        jointed legs</span> and a <span style="font-weight: bold;">chitinous 
        exoskeleton</span>. Like annelids, they are 
        <span style="font-weight: bold;">segmented</span>, but unlike 
        annelids, their <span style="font-weight: bold;">segments are 
        usually fused</span> into larger body parts with specialized 
        functions (such as the head, thorax, and abdomen of an insect). 
        Arthropods are often divided into four subphyla: 
        <i style="font-weight: bold;">Uniramia</i> (insects, centipedes, 
        millipedes);  <i style="font-weight: bold;">Chelicerata</i> 
        (arachnids, sea spiders, horseshoe crabs); 
        <i style="font-weight: bold;">Crustacea</i> (shrimps, lobsters, crabs, 
        crayfish, barnacles, pillbugs), and <i style="font-weight: bold;">
        Trilobitomorpha</i> (the trilobites, now extinct).
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Mollusca 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">moh-LUS-kuh</span></span> (50,000 species): 
        The molluscs are second in diversity only to the arthropods. Body 
        plans within this phylum are diverse, but general characteristics 
        include a <span style="font-weight: bold;">soft body covered by a 
        thin mantle</span>, with a <span style="font-weight: bold;">muscular 
        foot</span> and an <span style="font-weight: bold;">internal visceral 
        mass</span>. There are <span style="font-weight: bold;">two fluid-
        filled body cavities</span> derived from mesodermal tissue: a small 
        <span style="font-weight: bold;">coelom</span> and a large 
        <span style="font-weight: bold;">hemocoel</span> that functions as an 
        <span style="font-weight: bold;">open circulatory system</span>. 
        Many molluscs have a <span style="font-weight: bold;">shell</span> 
        composed of calcium carbonate and proteins, secreted by the mantle. 
        Familiar groups within the Mollusca include the classes 
        <i style="font-weight: bold;">Gastropoda</i> (slugs, snails), 
        <i style="font-weight: bold;">Bivalvia</i> (clams, oysters, scallops), 
        and <i style="font-weight: bold;">Cephalopoda</i> (nautilus, squids, 
        octopi).
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Echinodermata 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">eh-KY-noh-dur-MAH-tuh</span></span> 
        (6,500 species): Characteristics of this phylum include an 
        <span style="font-weight: bold;">endoskeleton composed of many 
        ossicles</span> of calcium and magnesium carbonate, a 
        <span style="font-weight: bold;">water vascular system</span>, a 
        <span style="font-weight: bold;">ring canal</span> around the 
        <span style="font-weight: bold;">esophagus</span>, and locomotion by 
        <span style="font-weight: bold;">tube feet</span> connected to the 
        water vascular system. Unique to echinoderms is the 
        <span style="font-weight: bold;">five-fold radial symmetry</span> 
        obvious in <span style="font-weight: bold;">sea stars</span> 
        (starfish), <span style="font-weight: bold;">sea urchins</span>, 
        and <span style="font-weight: bold;">sea lilies</span>. Others, like 
        <span style="font-weight: bold;">sea cucumbers</span>, have varying 
        degrees of <span style="font-weight: bold;">bilateral symmetry</span>. 
        In the echinoderm body plan, a true head is absent; the anatomical 
        terms <i>oral</i> (mouth-bearing) and <i>aboral</i> (away from the 
        mouth) are used to describe orientation of the body surfaces. Feeding 
        adaptations include <span style="font-weight: bold;">particle feeding
        </span> through the water vascular system, 
        <span style="font-weight: bold;">everting the stomach</span> to 
        engulf prey (sea stars), and a scraping device called 
        <span style="font-weight: bold;">Aristotle&#8217;s lantern</span> 
        (sea urchins).
    </li>
	<li class="list_item">
        <span style="font-weight: bold;">Chordata 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">kor-DAH-tuh</span></span> (44,000 species): 
        The phylum that contains humans, Chordata is divided into three 
        subphyla: <i style="font-weight: bold;">Urochordata</i>, the sea 
        squirts; <i style="font-weight: bold;">Cephalochordata</i>, the 
        lancelets, and <i style="font-weight: bold;">Vertebrata</i>, the true 
        vertebrates, which is the most diverse subphylum. Defining traits of 
        chordates include <span style="font-weight: bold;">pharyngeal gill slits
        </span>, a <span style="font-weight: bold;">notochord</span>, a 
        <span style="font-weight: bold;">post-anal tail</span>, and a 
        <span style="font-weight: bold;">dorsal hollow nerve cord</span>. 
        In vertebrates, some of these structures are found 
        <span style="font-weight: bold;">only in embryonic stages</span>. 
        The <span style="font-weight: bold;">lancelet</span> <i>Amphioxus 
        (Branchiostoma)</i> is often used as a demonstration organism in 
        biology labs.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT member Julie K. Stahlhut.</p>
<br />
<br />
<br />
{% endblock %}