{% extends "base.html" %}  {% block title %}Chemical Elements{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Chemical Elements</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/chemical-elements.html">
    You Gotta Know These Chemical Elements
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Hydrogen</span> (atomic symbol H, atomic number 
        1) is the first element on the periodic table and, by far, the 
        <span style="font-weight: bold;">most common element in the Universe
        </span>. In addition to the main <span style="font-weight: bold;">
        isotope</span> (also called <span style="font-weight: bold;">protium
        </span>), there are two other significant isotopes of hydrogen: 
        <span class="label">deuterium</span> (<sup>2</sup>H or D), which has 
        one <span style="font-weight: bold;">neutron</span>, and 
        <span class="label">tritium</span> (<sup>3</sup>H or T), which has two 
        neutrons. It naturally exists as a <span style="font-weight: bold;">
        diatomic gas</span> (H<sub>2</sub>), which was discovered by the 
        British chemist <span style="font-weight: bold;">Henry Cavendish
        </span>. Hydrogen is highly <span style="font-weight: bold;">flammable
        </span> when exposed to high temperatures or electric current, a fact 
        demonstrated by the <span style="font-weight: bold;">Hindenburg 
        disaster</span>. It can react with nonmetals by losing an electron to 
        form the <span style="font-weight: bold;">H<sup>+</sup></span> ion, or 
        react with metals to form the <span style="font-weight: bold;">
        hydride ion</span>, H<sup>&ndash;</sup>.
    </li>
	<li class="list_item">
        <span class="label">Helium</span> (He, 2) is the 
        <span style="font-weight: bold;">lightest noble gas</span> and the 
        <span style="font-weight: bold;">second most abundant element</span> 
        in the Universe (after hydrogen). Discovered by 
        <span style="font-weight: bold;">Sir William Ramsey</span>, 
        <span style="font-weight: bold;">Pierre Janssen</span>, and 
        <span style="font-weight: bold;">Norman Lockyer</span>, it has two 
        stable isotopes, helium-3 and helium-4, with helium-4 by far the 
        more common. Because of their different quantum properties (the 
        helium-3 <span style="font-weight: bold;">nucleus</span> is a 
        <span style="font-weight: bold;">fermion</span>, while the helium-4 
        nucleus is a <span style="font-weight: bold;">boson</span>), the 
        isotopes of helium actually have significantly different physical 
        properties. Helium-4 can exist in a zero-
        <span style="font-weight: bold;">viscosity</span> state known as 
        <span style="font-weight: bold;">superfluidity</span> when its 
        temperature drops below the <span style="font-weight: bold;">lambda 
        point</span>. Helium has the <span style="font-weight: bold;">lowest 
        boiling point</span> of any element; liquid helium is used for 
        devices that need intense cooling, such as 
        <span style="font-weight: bold;">MRI machines</span>. Most helium on 
        Earth results from <span style="font-weight: bold;">radioactive decay
        </span>, since the helium nucleus is equivalent to an 
        <span style="font-weight: bold;">alpha particle</span>.
    </li>
	<li class="list_item">
        <span class="label">Oxygen</span> (O, 8) is, by mass, the 
        <span style="font-weight: bold;">most common element in Earth&#8217;s crust
        </span>. It was discovered independently by 
        <span style="font-weight: bold;">Carl Scheele</span> and 
        <span style="font-weight: bold;">Joseph Priestley</span>; Priestley 
        originally called it <span style="font-weight: bold;">
        &#8220;dephlogisticated air.&#8221;</span> Oxygen normally exists in 
        elemental form as a <span style="font-weight: bold;">diatomic gas
        </span> (O<sub>2</sub>), but it can also exist in a triatomic form, 
        <span style="font-weight: bold;">ozone</span> (O<sub>3</sub>), which 
        is known for its role in <span style="font-weight: bold;">blocking UV 
        rays</span> in Earth&#8217;s <span style="font-weight: bold;">
        stratosphere</span>. Diatomic oxygen is &mdash; despite having an even 
        number of electrons &mdash; <span style="font-weight: bold;">
        paramagnetic</span>, meaning it has unpaired electrons. This points 
        out a problem with traditional <span style="font-weight: bold;">
        valence bond theories</span>, which predict that oxygen should be 
        <span style="font-weight: bold;">diamagnetic</span>; 
        <span style="font-weight: bold;">molecular orbital theory</span> 
        correctly explains this behavior. Because oxygen is easily capable 
        of <span style="font-weight: bold;">accepting electrons</span>, 
        reactions in which a species gives up electrons are known as 
        <span style="font-weight: bold;">oxidation reactions</span>.
    </li>
	<li class="list_item">
        <span class="label">Nitrogen</span> (N, 7) is the 
        <span style="font-weight: bold;">most abundant element in 
        Earth&#8217;s atmosphere</span>. Nitrogen, which was first 
        isolated as <span style="font-weight: bold;">&#8220;noxious 
        air&#8221;</span> by <span style="font-weight: bold;">Daniel 
        Rutherford</span>, exists primarily as a 
        <span style="font-weight: bold;">diatomic molecule</span> containing 
        two <span style="font-weight: bold;">triple-bonded</span> nitrogen 
        atoms (N<sub>2</sub>). Because nitrogen gas is extremely 
        <span style="font-weight: bold;">stable</span>, N<sub>2</sub> is 
        unusable for many biological and chemical purposes. To make it 
        useful, it often undergoes <span style="font-weight: bold;">fixation
        </span> to convert it into usable nitrogen species such as the 
        <span style="font-weight: bold;">ammonium ion</span> 
        (NH<sub>4</sub><sup>+</sup>) &mdash; as it is by bacteria in the 
        <span style="font-weight: bold;">root nodules</span> of 
        <span style="font-weight: bold;">legume</span> plants&mdash;or 
        <span style="font-weight: bold;">ammonia</span> gas (NH<sub>3</sub>), 
        as is done industrially in the <span style="font-weight: bold;">
        Haber-Bosch process</span>. Conversely, its stability makes it 
        useful in <span style="font-weight: bold;">preventing unwanted 
        combustion reactions</span>. It also has a relatively 
        <span style="font-weight: bold;">low boiling point</span> 
        (&ndash;196&deg;C), which makes liquid nitrogen useful as a 
        refrigerant.
    </li>
	<li class="list_item">
        <span class="label">Mercury</span> (Hg, 80) is one of just two 
        elements that is a <span style="font-weight: bold;">liquid at 
        standard temperature and pressure</span> (the only other one is 
        <span style="font-weight: bold;">bromine</span>). It has been known 
        since antiquity, and is found in ores such as 
        <span style="font-weight: bold;">cinnabar</span>. Older names for it, 
        reflecting its liquid nature, include <span style="font-weight: bold;">
        hydrargyrum</span> (the source of its symbol) and 
        <span style="font-weight: bold;">quicksilver</span>. Because it is a 
        very <span style="font-weight: bold;">dense</span> liquid, it is 
        commonly used in <span style="font-weight: bold;">barometers</span> 
        to measure atmospheric pressure; the pressure exerted by the 
        atmosphere equals the pressure exerted by a column containing 
        <span style="font-weight: bold;">760 millimeters</span> of mercury. 
        Alloys of mercury with other metals are called 
        <span style="font-weight: bold;">amalgams</span>, some of which have 
        been used as <span style="font-weight: bold;">dental fillings</span>. 
        Chronic exposure to mercury can cause psychological problems; its 
        use in hatmaking led to the expression 
        <span style="font-weight: bold;">&#8220;mad as a hatter.&#8221;</span> 
        More recently, concerns about mercury exposure have led to the 
        <span style="font-weight: bold;">banning</span> of mercury in 
        <span style="font-weight: bold;">thermometers</span>.
    </li>
	<li class="list_item">
        <span class="label">Sulfur</span> (S, 16) was widely known in the 
        ancient world, and is referred to in the Bible as 
        <span style="font-weight: bold;">brimstone</span>. Its nature as 
        an element was first recognized by <span style="font-weight: bold;">
        Antoine Lavoisier</span>. Its most stable 
        <span style="font-weight: bold;">allotrope</span> is an eight-
        membered ring that exists as a <span style="font-weight: bold;">
        yellow solid</span>. It is most often isolated by 
        <span style="font-weight: bold;">injecting superheated steam</span> 
        into the ground in the <span style="font-weight: bold;">Frasch 
        process</span>. As an element, it is used in the 
        <span style="font-weight: bold;">vulcanization</span> process to 
        <span style="font-weight: bold;">cross-link the polymer</span> 
        strands of <span style="font-weight: bold;">rubber</span> to 
        increase strength; similarly, sulfur-sulfur bonds hold many 
        <span style="font-weight: bold;">proteins</span> together. 
        Industrially, though, the majority of sulfur is used to make 
        <span style="font-weight: bold;">sulfuric acid</span>, 
        H<sub>2</sub>SO<sub>4</sub> (in fact, sulfuric acid is the most 
        widely produced chemical in the chemical industry). Sulfur compounds 
        are noted for their <span style="font-weight: bold;">strong and 
        unpleasant odors</span>; small quantities of 
        <span style="font-weight: bold;">hydrogen sulfide</span>, 
        H<sub>2</sub>S, are frequently added to 
        <span style="font-weight: bold;">natural gas</span> &mdash; which is 
        normally odorless &mdash; to help people notice gas leaks.
    </li>
	<li class="list_item">
        <span class="label">Iron</span> (Fe, 26) is the 
        <span style="font-weight: bold;">most common metal in the Earth
        </span>, and one of the major components of the 
        <span style="font-weight: bold;">Earth&#8217;s core</span>. Iron 
        was known to the ancients; its atomic symbol comes from the Latin 
        name <span style="font-weight: bold;">ferrum</span>. Iron is the 
        namesake of <span style="font-weight: bold;">ferromagnetism</span>; 
        one of its ores is <span style="font-weight: bold;">magnetite</span>, 
        Fe<sub>3</sub>O<sub>4</sub>, which contains iron in both of its most 
        common <span style="font-weight: bold;">oxidation states</span>, 2+ 
        and 3+. <span style="font-weight: bold;">Iron(II) sulfide</span>, 
        FeS<sub>2</sub>, is formally known as 
        <span style="font-weight: bold;">pyrite</span>, but because of its 
        appearance has long been known as <span style="font-weight: bold;">
        fool&#8217;s gold</span>. Iron can react with oxygen in the air to 
        form <span style="font-weight: bold;">iron(III) oxide</span>, 
        Fe<sub>2</sub>O<sub>3</sub>, in a relatively slow but 
        <span style="font-weight: bold;">exothermic process</span>; this 
        process is used in &#8220;all-day&#8221; 
        <span style="font-weight: bold;">heat patches</span>. 
        <span style="font-weight: bold;">Hydrated</span> iron(III) oxide is 
        better known as rust; rust only forms when iron is exposed to both 
        oxygen <span style="font-weight: bold;">and</span> water. Its 
        <span style="font-weight: bold;">isotope&nbsp;56</span> is one of 
        the most strongly bound of all nuclei, with the lowest mass per 
        nucleon. Iron is one of the heaviest elements that is normally 
        produced by <span style="font-weight: bold;">stellar nucleosynthesis
        </span>. The largest use of iron is in 
        <span style="font-weight: bold;">steel</span>.
    </li>
	<li class="list_item">
        <span class="label">Carbon</span> (C, 6) is found, by definition, in 
        all <span style="font-weight: bold;">organic compounds</span>. It is 
        the <span style="font-weight: bold;">fourth most abundant element in 
        the Universe</span>. It has three major 
        <span style="font-weight: bold;">isotopes</span>: isotope&nbsp;12, 
        which is stable; isotope 13, which is used in 
        <span style="font-weight: bold;">NMR spectroscopy</span>; and 
        isotope 14, which is <span style="font-weight: bold;">radioactive
        </span> and is the basis of <span style="font-weight: bold;">carbon 
        dating</span>. Carbon&#8217;s ability to form 
        <span style="font-weight: bold;">four chemical bonds</span> means 
        that it has many different <span style="font-weight: bold;">
        allotropes</span>. The best-characterized natural allotropes are 
        <span style="font-weight: bold;">diamond</span>, which consists of 
        a tetrahedral network of carbon atoms, and 
        <span style="font-weight: bold;">graphite</span>, which consists 
        of planes of carbon atoms arranged in hexagons. 
        <span style="font-weight: bold;">Fullerenes</span> such as 
        <span style="font-weight: bold;">buckyballs</span> and 
        <span style="font-weight: bold;">carbon nanotubes</span>, on the 
        other hand, are generally produced synthetically; buckyballs are 
        roughly spherical. More recently, <span style="font-weight: bold;">
        graphene</span>, which is a single layer of atoms shaped like 
        graphite, has proven to have remarkable properties; for example, 
        it is nearly <span style="font-weight: bold;">transparent</span> 
        while being about 200 times stronger than an equivalent mass of 
        steel.
    </li>
	<li class="list_item">
        <span class="label">Aluminum</span> (Al, 13) is the 
        <span style="font-weight: bold;">most common metal in Earth&#8217;s 
        <em>crust</em></span>, and the first metal in the <i>p</i>
        &nbsp;block of elements. First isolated by 
        <span style="font-weight: bold;">Hans Christian &Oslash;rsted</span>, 
        its primary ore is <span style="font-weight: bold;">bauxite</span>, 
        from which it is refined using large amounts of electric current, 
        via <span style="font-weight: bold;">electrolysis</span>, through 
        the <span style="font-weight: bold;">Bayer</span> and 
        <span style="font-weight: bold;">Hall-H&eacute;roult processes
        </span>. (Because aluminum exists only in a +3 oxidation state, 
        it takes three moles of electrons to produce one mole of aluminum; 
        as a result, it has been estimated that 5% of all electricity in 
        the U.S. goes to purifying aluminum.) It is found in the mineral 
        <span style="font-weight: bold;">corundum</span>, which is found 
        in many gems, including <span style="font-weight: bold;">sapphires
        </span> and <span style="font-weight: bold;">rubies</span>; the 
        specific impurities found in a gem determine its color. It is 
        also found in <span style="font-weight: bold;">aluminosilicates
        </span>, such as <span style="font-weight: bold;">feldspar</span>.
    </li>
	<li class="list_item">
        <span class="label">Gold</span> (Au, 79) was known to the ancients 
        as a relatively <span style="font-weight: bold;">inert metal</span>. 
        Its atomic symbol comes from its Latin name, 
        <span style="font-weight: bold;">aurum</span>. It is resistant to 
        attack by most <span style="font-weight: bold;">acids</span>, but 
        it (along with <span style="font-weight: bold;">platinum</span>) 
        will dissolve in <span style="font-weight: bold;">aqua regia</span>, 
        a mixture of concentrated <span style="font-weight: bold;">nitric 
        acid</span> and <span style="font-weight: bold;">hydrochloric acid
        </span>. Among all metals, it has the 
        <span style="font-weight: bold;">highest electronegativity</span> 
        and <span style="font-weight: bold;">electron affinity</span>; it 
        occasionally is found in a &ndash;1 oxidation state as Au
        <sup>&ndash;</sup>. Widely used in jewelry, it also has a number of 
        scientific uses. <span style="font-weight: bold;">Ernest Rutherford
        </span>&#8217;s <span style="font-weight: bold;">gold foil experiment
        </span> demonstrated the existence of a 
        <span style="font-weight: bold;">positively charged nucleus</span>. 
        <span style="font-weight: bold;">Scanning electron microscopy</span> 
        (SEM) often requires that specimens be 
        <span style="font-weight: bold;">&#8220;sputtered,&#8221;</span> or 
        thinly coated, with gold atoms to allow imaging. Suspensions of 
        gold compounds have been used to treat 
        <span style="font-weight: bold;">rheumatoid arthritis</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Adil Khan.</p>
<br />
<br />
<br />
{% endblock %}