{% extends "base.html" %}  {% block title %}Chemistry Lab Techniques{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Chemistry Lab Techniques</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/chemistry-lab-techniques.html">
    You Gotta Know These Chemistry Lab Techniques
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Flame Tests</span> detect the presence of elements 
        by dipping a <span style="font-weight: bold;">wooden splint</span> or 
        <span style="font-weight: bold;">nichrome wire</span> in a sample of 
        the element or its salt, then placing the sample over a 
        <span style="font-weight: bold;">Bunsen burner</span>. The unique 
        <span style="font-weight: bold;">emission spectrum</span> of the 
        element present then causes the flame to briefly change 
        <span style="font-weight: bold;">color</span>. The 
        <span style="font-weight: bold;">D&nbsp;lines</span> of sodium produce 
        one of the strongest flame test colors: a bright yellow. Because of 
        this, sodium can contaminate samples, so flames are usually viewed 
        through a <span style="font-weight: bold;">cobalt blue glass</span> 
        to filter out the yellow. Other notable flame test colors include 
        red, produced by lithium, calcium and strontium; lilac, produced by 
        potassium; green, produced by barium; and blue, produced by copper, 
        selenium, arsenic, and indium.
    </li>
	<li class="list_item">
        <span class="label">Titrations</span> calculate the 
        <span style="font-weight: bold;">concentration</span> of a solution 
        by adding in small volumes of a reactant of known concentration until 
        a chemical change, like a <span style="font-weight: bold;">pH 
        indicator</span> changing color, occurs. 
        <span style="font-weight: bold;">Acid-base titrations</span> are 
        usually performed in a thin glass tube called a 
        <span style="font-weight: bold;">buret</span> and use pH indicators 
        like <span style="font-weight: bold;">phenolphthalein</span> and 
        <span style="font-weight: bold;">bromothymol blue</span>. The 
        <span style="font-weight: bold;">Henderson-Hasselbalch equation
        </span> can be used to calculate the pH at any point during a 
        titration. The <span style="font-weight: bold;">equivalence point
        </span> is the point at which equal amounts of acid and base have 
        been mixed and there is a sharp <span style="font-weight: bold;">
        inflection point</span> in the pH curve. 
        <span style="font-weight: bold;">Redox titrations</span> use an 
        oxidation-reduction reaction instead of an acid-base reaction. In 
        <span style="font-weight: bold;">complexometric titrations</span>, 
        the analyte forms a <span style="font-weight: bold;">coordination 
        complex</span> with the titrant. <span style="font-weight: bold;">
        Karl Fischer titrations</span> use <span style="font-weight: bold;">
        electrolysis</span> to determine the amount of water in a substance.
    </li>
	<li class="list_item">
        <span class="label">Distillation</span> separates a 
        <span style="font-weight: bold;">mixture of liquids</span> based on 
        their <span style="font-weight: bold;">boiling point</span> by 
        heating, causing the more <span style="font-weight: bold;">volatile
        </span> component to vaporize and condense in a different container 
        while the other components remain in the original vessel. In the 
        laboratory, the vapors are usually cooled with a water-based 
        <span style="font-weight: bold;">Liebig condenser</span> or 
        <span style="font-weight: bold;">Vigreux condenser</span>, and the 
        product is collected in a round-bottomed receiving flask. In 
        industry, multiple rounds of distillation are performed in a single 
        <span style="font-weight: bold;">&#8220;column&#8221;</span> packed 
        with trays, each of which can be modeled as a 
        <span style="font-weight: bold;">&#8220;theoretical plate.&#8221;
        </span> Oil refining relies on <span style="font-weight: bold;">
        fractional distillation</span>, in which different products are 
        pulled out of the mixture at various trays along the column. 
        <span style="font-weight: bold;">Azeotropes</span> are mixtures 
        that cannot be separated because at the specified pressure and 
        composition, both components boil at the same temperature.
    </li>
	<li class="list_item">
        <span class="label">Calorimetry</span> calculates the 
        <span style="font-weight: bold;">heat</span> or 
        <span style="font-weight: bold;">enthalpy</span> change of a 
        chemical or physical process by using specialized vessels to 
        measure a change in temperature. A very simple calorimeter can be 
        made by placing a thermometer in an insulating polystyrene 
        <span style="font-weight: bold;">coffee cup</span> and sealing it 
        with a lid, causing the reaction inside to occur at constant 
        pressure. <span style="font-weight: bold;">Bomb calorimeters</span> 
        are very sturdy containers used to conduct 
        <span style="font-weight: bold;">combustion reactions</span> at 
        constant volume. <span style="font-weight: bold;">Isothermal 
        titration calorimetry (ITC)</span> is a variant which can be used 
        to determine the <span style="font-weight: bold;">binding affinites
        </span> and stoichiometry of proteins and enzymatic reactions. 
        <span style="font-weight: bold;">Differential scanning calorimetry 
        (DSC)</span> is another variant that measures how a 
        compound&#8217;s <span style="font-weight: bold;">heat capacity 
        changes</span> with temperature; it is commonly used to determine 
        properties of <span style="font-weight: bold;">polymers</span> 
        such as their <span style="font-weight: bold;">melting point</span> 
        or <span style="font-weight: bold;">glass transition temperature
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Chromatography</span> separates a complex mixture 
        into its individual components, commonly illustrated by the 
        separation of pen <span style="font-weight: bold;">ink</span> into 
        many colors. Chromatography involves two components: a 
        <span style="font-weight: bold;">mobile phase</span>, which moves, 
        and a <span style="font-weight: bold;">stationary phase</span>, 
        which interacts differently with different components of the mobile 
        phase to produce a separation. For example, in 
        <span style="font-weight: bold;">thin-layer chromatography</span>, 
        a mixture is spotted on one end of a plate of 
        <span style="font-weight: bold;">silica gel</span> (the stationary 
        phase), then a solvent (the mobile phase) carries the components 
        across the plate and separates them based on their 
        <span style="font-weight: bold;">polarity</span>&mdash;polar 
        substances will strongly interact with the polar silica gel and not 
        move very far, while nonpolar substances will move very far. In 
        <span style="font-weight: bold;">gas chromatography (GC)</span>, 
        substances are vaporized and run through a packed column, where the 
        time it takes each component to travel through&mdash;the 
        <span style="font-weight: bold;">retention time</span>&mdash;is 
        determined. <span style="font-weight: bold;">High-performance liquid 
        chromatography (HPLC)</span> is like gas chromatography, but the 
        sample remains in the liquid phase and is pushed through using 
        pressures of up to 400 atmospheres. <span style="font-weight: bold;">
        Ion-exchange chromatography</span> uses stationary phases with 
        acidic or basic functional groups to remove charged compounds; it 
        can be used for <span style="font-weight: bold;">water softening
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Infrared spectroscopy (IR)</span> acquires 
        information about the chemical groups present in a compound based 
        on which <span style="font-weight: bold;">wavelengths</span> of 
        infrared light the <span style="font-weight: bold;">bonds</span> in 
        those groups absorb. When IR-active bonds absorb infrared light, 
        they undergo a change in <span style="font-weight: bold;">dipole 
        moment</span> and are excited to a higher-energy vibrational mode, 
        which have names like <span style="font-weight: bold;">
        &#8220;stretching,&#8221; &#8220;wagging,&#8221; and 
        &#8220;scissoring.&#8221;</span> The output of an IR experiment 
        (called an &#8220;IR spectrum&#8221;) is a graph of 
        <span style="font-weight: bold;">absorbance</span> on the <i>y</i>
        -axis against <span style="font-weight: bold;">wavenumbers</span>, 
        measured in cm<sup>&minus;1</sup> (inverse centimeters), on the 
        <i>x</i>-axis. The most distinguishable IR peak is that of a 
        <span style="font-weight: bold;">carbonyl group</span>, which 
        displays a very strong absorbance at 
        <span style="font-weight: bold;">1700&nbsp;cm<sup>&minus;1</sup>
        </span>, while peaks below 1500&nbsp;cm<sup>&minus;1</sup> produce 
        a complex pattern unique to the compond being analyzed, called the 
        <span style="font-weight: bold;">fingerprint region</span>. Samples 
        are typically prepared by grinding them into a 
        <span style="font-weight: bold;">potassium bromide pellet</span> or 
        by creating a <span style="font-weight: bold;">mull</span> with the 
        oil <span style="font-weight: bold;">Nujol</span>.
    </li>
	<li class="list_item">
        <span class="label">Nuclear Magnetic Resonance (NMR)</span> uses 
        <span style="font-weight: bold;">magnetic fields</span> to determine 
        the <span style="font-weight: bold;">arrangement of nuclei</span> in 
        a molecule. Typical NMR methods only work on nuclei that have nonzero 
        <span style="font-weight: bold;">spin</span>, such as <sup>1</sup>H 
        and <sup>13</sup>C&mdash;the nonzero spin means that the nuclei 
        <span style="font-weight: bold;">oscillate</span> between two spin 
        states in a phenomenon called <span style="font-weight: bold;">Larmor 
        precession</span>. NMR measures the <span style="font-weight: bold;">
        frequency</span> at which each nucleus oscillates, whose deviation 
        from a <span style="font-weight: bold;">reference nucleus</span> 
        (such as <span style="font-weight: bold;">tetramethylsilane</span>) 
        depends on the local <span style="font-weight: bold;">electron 
        density</span> and is called the <span style="font-weight: bold;">
        chemical shift</span>. Nuclei that have more electron density (due 
        to proximity to electron-donating groups like alkyl groups) are said 
        to be <span style="font-weight: bold;">&#8220;shielded&#8221;</span> 
        and have lower chemical shifts, while those that have less electron 
        density (due to proximity to electron-withdrawing groups like 
        halogens) are said to be &#8220;deshielded&#8221; and have higher 
        chemical shifts. Peaks in NMR can be 
        <span style="font-weight: bold;">&#8220;split&#8221;</span> into 
        several peaks due to <span style="font-weight: bold;">J-coupling
        </span> if they are adjacent to identical nuclei, like the three 
        hydrogens of a methyl group. NMR is the theoretical basis for 
        <span style="font-weight: bold;">magnetic resonance imaging (MRI)
        </span> in medicine.
    </li>
	<li class="list_item">
        <span class="label">Mass Spectrometry (mass spec or MS)</span> 
        identifies an unknown compound by <span style="font-weight: bold;">
        ionizing</span> it, <span style="font-weight: bold;">fragmenting
        </span> it into pieces, then passing it through 
        <span style="font-weight: bold;">electromagnetic fields</span> to 
        separate the pieces based on their <span style="font-weight: bold;">
        mass-to-charge ratio (m/z)</span>. A mass spectrum plots the 
        abundance of each fragment aginst the m/z&mdash;the spectrum features 
        a <span style="font-weight: bold;">base peak</span> (the peak of 
        highest intensity) and a series of peaks whose spacing tells you 
        what elements are present&mdash;for instance, a peak spacing of 14 
        typically indicates a CH<sub>2</sub> or methylene unit. The different 
        isotopes of elements can also produce characteristic peak 
        patterns&mdash;for instance, two equal-intensity peaks spaced 2 units 
        apart and 79 units away from the next peak indicates bromine. When 
        analyzing proteins, fragmentation is often undesirable, so 
        <span style="font-weight: bold;">&#8220;soft&#8221; ionization methods
        </span> such as <span style="font-weight: bold;">matrix-assisted 
        laser desorption/ionization (MALDI)</span> or 
        <span style="font-weight: bold;">electrospray ionization (ESI)
        </span> are used. In forensics, mass spectrometry is often 
        &#8220;coupled&#8221; to gas chromatography in 
        <span style="font-weight: bold;">GC-MS</span>; gas chromatography 
        first separates the unknown mixture, then mass spec identifies 
        the individual components of the mixture.
    </li>
	<li class="list_item">
        <span class="label">Ultraviolet-Visible Spectrophotometry (UV-Vis)
        </span> quantifies the presence of compounds by shining light in 
        the ultraviolet-to-visible range on a molecule, then measuring 
        which wavelengths are <span style="font-weight: bold;">absorbed
        </span>. Parts of a molecule which absorb visible light are 
        referred to as <span style="font-weight: bold;">chromophores</span>; 
        since different molecules have different chromophores, the 
        wavelength of maximum absorbance, or 
        <span style="font-weight: bold;">lambda-max</span>, can be used to 
        identify a compound. <span style="font-weight: bold;">Beer&#8217;s 
        law</span> is then used to quantify the concentration of the 
        present compound. Samples are held in small square plastic or 
        quartz tubes called <span style="font-weight: bold;">cuvettes
        </span>. The <span style="font-weight: bold;">Woodward-Fieser rules
        </span> empirically estimate the lambda-max from the types of bonds 
        and functional groups in a molecule.  UV-Vis has many uses in 
        biology&mdash;for example: calculating the 
        <span style="font-weight: bold;">OD600</span> to measure bacterial 
        growth rate, determining <span style="font-weight: bold;">nucleic 
        acid quality</span> with the <span style="font-weight: bold;">
        260/280 ratio</span>, measuring <span style="font-weight: bold;">
        protein concentration</span> in the 
        <span style="font-weight: bold;">Lowry and Bradford protein assays
        </span>, and monitoring <span style="font-weight: bold;">protein 
        folding</span> by measuring <span style="font-weight: bold;">
        tryptophan or tyrosine absorbance</span>.
    </li>
	<li class="list_item">
        <span class="label">Liquid-Liquid Extraction</span> separates 
        mixtures based on their relative <span style="font-weight: bold;">
        solubilities</span> in two immiscible solvents, such as oil and 
        water. It is commonly performed by placing the mixture and solvents 
        into a <span style="font-weight: bold;">separatory funnel</span>, 
        shaking, then using the <span style="font-weight: bold;">stopcock
        </span> to remove one of the two phases. The 
        <span style="font-weight: bold;">partition coefficient</span> 
        quantifies the desired compound&#8217;s relative solubility in the 
        two phases. The material left over after the desired material has 
        been extracted is called the <span style="font-weight: bold;">
        raffinate</span>. A variant of liquid-liquid extraction that uses 
        <span style="font-weight: bold;">phenol</span> and 
        <span style="font-weight: bold;">chloroform</span> as the two 
        solvents is used to isolate <span style="font-weight: bold;">DNA
        </span> from cells.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Rohith Nagari.</p>
<br />
<br />
<br />
{% endblock %}