{% extends "base.html" %}  {% block title %}Classes of Particles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Classes of Particles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/classes-of-particles.html">
    You Gotta Know These Classes of Particles
    </a>
</h1>
<br />
<p class="justify">
    The mass of particles is usually given in <span style="font-weight: bold;">mega-electronvolts</span> (MeV), where an <span style="font-weight: bold;">electronvolt</span> is the energy acquired by an <span style="font-weight: bold;">electron</span> when it crosses a potential difference of <span style="font-weight: bold;">one volt</span>.  The energies are converted to masses by Einstein&#8217;s equation <span style="font-weight: bold;"><i>E</i>&nbsp;=&nbsp;<i>m</i><i>c</i><sup>2</sup></span>, where <i>c</i> is the <span style="font-weight: bold;">speed of light</span> in a vacuum.  Charges are given in terms of the <span style="font-weight: bold;">fundamental electric charge</span> (the absolute value of the charge on an electron).</p>
<p class="justify">
    Every kind of particle also has a corresponding <span style="font-weight: bold;">anti-particle</span> made of <span style="font-weight: bold;">anti-matter</span>; when it is said that there are (for instance) six leptons, anti-particles are not counted, so in some sense there are twelve.  Anti-particles have the same mass, but the <span style="font-weight: bold;">opposite charge</span>, of the original.  There are no particles with negative mass.  Note that in some rare situations, a particle can be its own anti-particle.</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Leptons</span> are one of the classes of 
        <span style="font-weight: bold;">&#8220;fundamental particles&#8221;
        </span> (meaning that they cannot be broken down into smaller 
        particles). There are six <span style="font-weight: bold;">
        &#8220;flavors&#8221;</span> of leptons: the 
        <span style="font-weight: bold;">electron</span>, the 
        <span style="font-weight: bold;">muon</span>, the 
        <span style="font-weight: bold;">tauon</span>, the 
        <span style="font-weight: bold;">electron neutrino</span> (usually 
        just called <span style="font-weight: bold;">&#8220;the 
        neutrino&#8221;</span>), the <span style="font-weight: bold;">muon 
        neutrino</span>, and the <span style="font-weight: bold;">tauon 
        neutrino</span>. The three neutrinos are neutral and nearly massless 
        (they were once thought to be entirely massless), while the other 
        three have a charge of &ndash;1. All neutrinos are 
        <span style="font-weight: bold;">fermions</span>, and the total 
        number of leptons is always <span style="font-weight: bold;">
        conserved</span> (counting regular leptons as +1 particle and anti-
        leptons as &ndash;1 particle).  The word &#8220;lepton&#8221; 
        comes from the Greek for &#8220;light&#8221; (the opposite of 
        &#8220;heavy,&#8221; not illumination), even though the muon and 
        tauon are relatively massive.
    </li>
	<li class="list_item">
        <span class="label">Quarks</span> are another class of 
        <span style="font-weight: bold;">fundamental particle</span>. 
        They also come in six <span style="font-weight: bold;">flavors</span>: 
        <span style="font-weight: bold;">up</span>, 
        <span style="font-weight: bold;">down</span>, 
        <span style="font-weight: bold;">charm</span>, 
        <span style="font-weight: bold;">strange</span>, 
        <span style="font-weight: bold;">top</span> (occasionally called 
        &#8220;truth&#8221;), and <span style="font-weight: bold;">bottom
        </span> (occasionally &#8220;beauty&#8221;). The up, charm, and 
        top quarks have a charge of +2/3, while the down, strange, and 
        bottom have a charge of &ndash;1/3. All quarks are 
        <span style="font-weight: bold;">fermions</span>, and they combine 
        in pairs to form <span style="font-weight: bold;">mesons</span> and 
        in triples to form <span style="font-weight: bold;">baryons</span>. 
        The enormous mass of the top quark (178&nbsp;GeV) made it difficult 
        to create in <span style="font-weight: bold;">particle accelerators
        </span>, but its discovery in 1995 confirmed an essential element 
        of the <span style="font-weight: bold;">Standard Model</span> of 
        particle physics. The name &#8220;quark&#8221; comes from the line 
        <span style="font-weight: bold;">&#8220;Three quarks for Muster 
        Mark&#8221;</span> in <i style="font-weight: bold;">Finnegans Wake
        </i> that appealed to <span style="font-weight: bold;">Murray 
        Gell-Mann</span>.  The study of quarks (and of the 
        <span style="font-weight: bold;">strong nuclear force</span>) is 
        <span style="font-weight: bold;">quantum chromodynamics</span>.
    </li>
	<li class="list_item">
        <span class="label">Baryons</span> are 
        <span style="font-weight: bold;">composite</span> (i.e., non-
        fundamental) <span style="font-weight: bold;">particles</span> made 
        from <span style="font-weight: bold;">three quarks</span>. The most 
        common examples are the <span style="font-weight: bold;">proton
        </span> (two up quarks and one down quark) and the 
        <span style="font-weight: bold;">neutron</span> (two down quarks and 
        one up). All baryons are <span style="font-weight: bold;">fermions
        </span>. Quarks possess a characteristic called 
        <span style="font-weight: bold;">&#8220;color&#8221;</span> (which 
        has nothing to do with visual color) which can be either red, green, 
        or blue (arbitrary names; again, no relation to the colors we see). 
        A baryon must have <span style="font-weight: bold;">one quark of 
        each color</span> so that the &#8220;total color&#8221; (analogous 
        to mixing red, green, and blue light) is colorless (i.e., 
        &#8220;white&#8221;). The word &#8220;baryon&#8221; comes from the 
        Greek for &#8220;heavy.&#8221;  The total number of baryons is 
        <span style="font-weight: bold;">conserved</span> (again, counting 
        anti-baryons as &ndash;1).
    </li>
	<li class="list_item">
        <span class="label">Mesons</span> are <span style="font-weight: bold;">
        composite particles</span> generally made from a 
        <span style="font-weight: bold;">quark and an anti-quark</span>. 
        There are dozens of examples including the 
        <span style="font-weight: bold;">pion</span>, 
        <span style="font-weight: bold;">kaon</span>, 
        <span style="font-weight: bold;">J/Psi</span>, 
        <span style="font-weight: bold;">Rho</span>, and 
        <span style="font-weight: bold;">D</span>. All mesons are 
        <span style="font-weight: bold;">bosons</span>. The quark and anti-
        quark must have the <span style="font-weight: bold;">same color
        </span> (such as red and anti-red) so that the resulting meson is 
        colorless (or &#8220;white&#8221;). It is also possible to make 
        mesons out of two (or more) quarks and the same number of anti-
        quarks, but this kind of particle (a 
        <span style="font-weight: bold;">&#8220;tetraquark&#8221;</span>) 
        is rare, both in nature and in quiz bowl.
    </li>
	<li class="list_item">
        <span class="label">Fermions</span> are particles with half-integral 
        <span style="font-weight: bold;">spin</span>. Spin is a form of 
        &#8220;intrinsic angular momentum,&#8221; possessed by particles 
        as if they were spinning around their axis (but they aren&#8217;t). 
        The values cited for spin are not (usually) the real magnitude of 
        that angular momentum, but the component of the angular momentum 
        along one axis. Quantum mechanics restricts that component to being 
        <i>n</i>/2 times <span style="font-weight: bold;">Planck&#8217;s 
        constant</span> divided by 2&pi; for some integer <i>n</i>. 
        <i>n</i> is even, this results in <span style="font-weight: bold;">
        &#8220;integral&#8221; spin</span>, if it is odd, it results in 
        <span style="font-weight: bold;">&#8220;half-integral&#8221; spin
        </span>. Note that the exact value of the spin itself is a real 
        number; it&#8217;s the multiplier of <i>h</i>/2&pi; that determines 
        whether it is &#8220;integral&#8221; or not. The most significant 
        thing about fermions is that they are subject to the 
        <span style="font-weight: bold;">Pauli Exclusion Principle</span>: 
        No two fermions can have the same <span style="font-weight: bold;">
        quantum numbers</span> (i.e., same state). The name 
        &#8220;fermion&#8221; comes from the name of the Italian-American 
        physicist <span style="font-weight: bold;">Enrico Fermi</span>.
    </li>
	<li class="list_item">
        <span class="label">Bosons</span> are particles with 
        <span style="font-weight: bold;">integral spin</span>. All particles 
        are either bosons or fermions. The spin of a composite particle is 
        determined by the total spin (i.e., the component of its intrinsic 
        angular momentum along one axis) of its particles. For instance, an 
        <span style="font-weight: bold;">alpha particle</span> (two 
        <span style="font-weight: bold;">protons</span> and two 
        <span style="font-weight: bold;">neutrons</span>) has four half-
        integral spin values. No matter how they are added up, the result 
        will be an integral spin value (try it!), so an alpha particle is a 
        (composite) boson.  The Pauli Exclusion Principle does <em>not</em> 
        apply to bosons (in fact, bosons prefer to be in the same quantum 
        state). The name &#8220;boson&#8221; comes from the name of the 
        Indian physicist <span style="font-weight: bold;">Satyendra Nath 
        Bose</span>.
    </li>
	<li class="list_item">
        <span class="label">Hadrons</span> are any particles made out of 
        <span style="font-weight: bold;">quarks</span> (alternatively, any 
        particle affected by the <span style="font-weight: bold;">strong 
        nuclear force</span>). Generally, this means the 
        <span style="font-weight: bold;">baryons</span> and the 
        <span style="font-weight: bold;">mesons</span>. All hadrons are 
        colorless (in the sense of the combined color of their constituent 
        quarks). The name &#8220;hadron&#8221; comes from the Greek for 
        &#8220;thick.&#8221;
    </li>
	<li class="list_item">
        <span class="label">Gauge bosons</span> (sometimes called class="label"family: Cambria; font-weight: bold; 
        font-size: large;">vector bosons</span>) are fundamental 
        <span style="font-weight: bold;">bosons</span> that 
        <span style="font-weight: bold;">carry the forces of nature</span>. 
        That is, forces result from particles emitting and absorbing gauge 
        bosons. The <span style="font-weight: bold;">strong nuclear force
        </span> is carried by <span style="font-weight: bold;">gluons</span>, 
        the <span style="font-weight: bold;">weak nuclear force</span> is 
        carried by the <span style="font-weight: bold;">W</span>, 
        <span style="font-weight: bold;">Z<sup>&ndash;</sup></span>, and 
        <span style="font-weight: bold;">Z<sup>+</sup> particles</span>, the 
        <span style="font-weight: bold;">electromagnetic force</span> is 
        carried by the <span style="font-weight: bold;">photon</span>, and 
        <span style="font-weight: bold;">gravity</span> is carried by the 
        (as yet unobserved) <span style="font-weight: bold;">graviton</span>. 
        The name comes from the role of <span style="font-weight: bold;">
        &#8220;gauge theories&#8221;</span> in describing the forces (which 
        are beyond the scope of this article).
    </li>
	<li class="list_item">
        <span class="label">Gluons</span> are the 
        <span style="font-weight: bold;">gauge bosons</span> that carry the 
        <span style="font-weight: bold;">strong nuclear force</span> and 
        bind <span style="font-weight: bold;">hadrons</span> together. 
        Gluons have <span style="font-weight: bold;">no charge</span> and 
        <span style="font-weight: bold;">no mass</span>, but do have 
        <span style="font-weight: bold;">color</span> (in the sense of 
        <span style="font-weight: bold;">quarks</span>). This color cannot be 
        observed directly because the gluons are part of the larger hadron. 
        The name comes from their role in &#8220;gluing&#8221; quarks 
        together.
    </li>
	<li class="list_item">
        <span class="label">Partons</span> are an older name that was used 
        for the &#8220;internal parts&#8221; of 
        <span style="font-weight: bold;">hadrons</span> before the discovery 
        and widespread acceptance of the <span style="font-weight: bold;">
        quark model</span>.  Models based on partons are still used but, 
        for the most part, it was determined that partons were 
        <span style="font-weight: bold;">quarks</span> and the term is 
        rarely used at the high school level except in historical contexts.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}