{% extends "base.html" %}  {% block title %}Classifications of Mathematical Functions{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">science</a> | </li>
    <li style="display:inline">Classification of Mathematical Functions</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/classifications-of-functions.html">
    You Gotta Know These Classifications of Mathematical Functions
    </a>
</h1>
<br />
<p class="justify">
    A <span style="font-weight: bold;">function</span> in mathematics is an 
    association between input values and output values, in which each input 
    value is associated with exactly one output value. That association is 
    often given by a formula, and it is that sort of function that this 
    article will focus on. However, a function could be defined in other 
    ways, such as by a table (as one might make for scientific observations) 
    or simply by a description (for instance, your distance from home is a 
    function of the time of day, since at each time of day you are at 
    exactly one place, and therefore a particular distance from home).
</p>
<p class="justify">
    The set of possible input values for a function is called its 
    <span style="font-weight: bold;">domain</span>, and the set of possible 
    output values is called the <span style="font-weight: bold;">codomain
    </span>. The term &#8220;range&#8221; is sometimes used instead of 
    &#8220;codomain,&#8221; but &#8220;range&#8221; is also sometimes 
    used to mean &#8220;image&#8221; (see below), so &#8220;range&#8221; 
    is confusing and NAQT generally avoids it.  The domain and codomain of 
    a function could be any set at all &mdash; consisting of numbers, 
    matrices, people, flowers, etc. &mdash; but most of high school and 
    earlier math, and this article, are concerned with functions whose 
    domain and codomain are both sets of numbers (especially the set of 
    all real numbers).
</p>
<p class="justify">
    Mathematical functions can be classified based on properties of 
    formulas, how the functions can be used, features of their graphs, 
    and in other ways.  As a result of these multiple classifications, 
    many functions are in more than one of the following categories.
</p>
<ul class="list2">
    <li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Polynomials</span> are functions made of 
            <span style="font-weight: bold;">terms</span> added together, in 
            which each term is a number times a product of variables raised 
            to nonnegative-integer powers. For instance, 3<i>x</i><sup>2
            </sup><i>y</i> and &ndash;&pi;<i>x</i><sup>7</sup><i>y</i>
            <sup>2</sup><i>z</i><sup>3</sup> are each terms, so 3<i>x</i>
            <sup>2</sup><i>y</i>&nbsp;&ndash;&nbsp;&pi;<i>x</i><sup>7</sup>
            <i>y</i><sup>2</sup><i>z</i><sup>3</sup> is a polynomial. 
            (Individual terms are also considered polynomials.) Much of 
            math is concerned with polynomials involving only one variable, 
            such as &ndash;<i>x</i><sup>3</sup>&nbsp;+&nbsp;2<i>x</i>
            <sup>2</sup>. The number at the beginning of each term is called 
            a <span style="font-weight: bold;">coefficient</span>.
        </p>
		<p class="justify">
            Since simple numbers (&#8220;constants&#8221;) can also be 
            written as the same number times any variable to the zeroth power 
            (that is, 6 is the same as 6<i>x</i><sup>0</sup>), numbers are 
            also considered terms and polynomials.  So <i>x</i>&nbsp;+&nbsp;6 
            is a polynomial, as is just &ndash;4.
        </p>
		<p class="justify">
            Polynomials can be classified according to their number of 
            : a polynomial with one term, like 2<i>x</i> or &ndash;12<i>x</i>
            <sup>2</sup>, is called a <span style="font-family: Cambria; 
            font-weight: bold; font-size: large;">monomial</span>; a 
            polynomial with two terms is called a 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">binomial</span>; and a polynomial with three 
            terms is called a <span style="font-family: Cambria; 
            font-weight: bold; font-size: large;">trinomial</span>.
        </p>
		<p class="justify">
            Each polynomial has a <span style="font-weight: bold;">degree
            </span>. For polynomials of one variable, the degree is the 
            largest exponent on the variable, so for the polynomial 
            4<i>x</i><sup>3</sup>&nbsp;&ndash;&nbsp;<i>x</i><sup>2</sup>, 
            the degree is 3. For polynomials of multiple variables, to 
            find the degree you calculate the sum of the variables&#8217; 
            exponents on each term, then choose the largest such sum, so 
            the degree of 3<i>x</i><sup>6</sup><i>y</i><sup>5</sup>
            &nbsp;&ndash;&nbsp;<i>x</i><sup>2</sup><i>y</i><sup>3</sup> is 
            calculated by adding 6+5&nbsp;=&nbsp;11 for the first term 
            and 2+3&nbsp;=&nbsp;5 for the second and noting that 11 is 
            larger, so the degree is 11. A polynomial that is just a 
            constant has degree 0. A polynomial with degree 1, like 
            3<i>x</i>, is called <span style="font-family: Cambria; 
            font-weight: bold; font-size: large;">linear</span>; a 
            polynomial with degree 2, like 3<i>x</i><sup>2</sup>
            &nbsp;&ndash;&nbsp;8x&nbsp;+&nbsp;4, is called 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">quadratic</span>; a polynomial with degree 
            3 is called <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">cubic</span>; continuing with increasing 
            degrees, the terms are <span style="font-family: Cambria; 
            font-weight: bold; font-size: large;">quartic</span>, 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">quintic</span>, 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">sextic</span>, and so on, though terms 
            corresponding to degrees larger than 5 are seldom used. For 
            technical reasons that are beyond the scope of this article, 
            the zero polynomial (i.e., <i>f</i>(<i>x</i>)&nbsp;=&nbsp;0) 
            is said to have a degree of &ndash;&infin; or an 
            undefined degree.
        </p>
		<p class="justify">
            The <span style="font-weight: bold;">fundamental theorem of 
            algebra</span> is the statement that every single-variable 
            polynomial, other than constants, has a root in the complex 
            numbers, which means that if <i>f</i>(<i>x</i>) is a 
            polynomial, then the equation <i>f</i>(<i>x</i>)
            &nbsp;=&nbsp;0 has at least one solution where <i>x</i> is 
            some complex number.
        </p>
		<p class="justify">
            There are formulas to find those roots for linear, quadratic, 
            cubic, and quartic polynomials, though the latter two formulas 
            are extremely complicated. The <span style="font-weight: bold;">
            Abel-Ruffini theorem</span>, also called 
            <span style="font-weight: bold;">Abel&#8217;s impossibility 
            theorem</span>, is the statement that there is no way to find 
            a formula for the solutions of all quintic or higher-degree 
            polynomials, if the formula must be based on the traditional 
            operations (addition/subtraction, multiplication/division, and 
            exponentiation/taking roots).  That impossibility is the topic 
            that began an area of study called 
            <span style="font-weight: bold;">Galois 
            <span style="font-weight: bold; font-size: 85%; 
            color: rgb(78, 78, 78);">gal-wah</span> theory</span>, 
            which is part of abstract algebra.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Quadratics</span> are, as mentioned above, 
        polynomials of degree 2. The graph of a quadratic equation will be 
        in the shape of a <span style="font-weight: bold;">parabola</span> 
        that opens straight up (if the coefficient on the <i>x</i>
        <sup>2</sup> term is positive) or straight down (if that 
        coefficient is negative). It is possible to find the roots of a 
        quadratic by graphing it, factoring it, 
        <span style="font-weight: bold;">completing the square</span> on 
        it, or using the <span style="font-weight: bold;">quadratic 
        formula</span> (itself derived by completing the square) on it. 
        If the quadratic is in the form <i>a</i><i>x</i><sup>2</sup>
        &nbsp;+&nbsp;<i>b</i><i>x</i>&nbsp;+&nbsp;<i>c</i>, then the 
        expression <i>b</i><sup>2</sup>&nbsp;&ndash;&nbsp;4<i>a</i>
        <i>c</i>, which appears in the quadratic formula, is called the 
        <span style="font-weight: bold;">discriminant</span>. If the 
        discriminant is positive, the quadratic will have two real roots; 
        if the discriminant is zero, the quadratic will have one real 
        root (said to have a <span style="font-weight: bold;">
        multiplicity</span> of 2); and if the discriminant is negative, 
        the quadratic will have two non-real complex roots (and if the 
        coefficients of the quadratic are real numbers, the complex 
        roots will be <span style="font-weight: bold;">conjugates
        </span> of each other).
    </li>
	<li class="list_item">
        <span class="label">Rational functions</span> consist of one 
        polynomial divided by another polynomial. The denominator 
        polynomial cannot be the zero polynomial, because dividing by zero 
        is undefined. Examples therefore include 1/<i>x</i>, <i>x</i>
        <sup>2</sup>/(<i>x</i>&nbsp;&ndash;&nbsp;3), and (<i>x</i>
        <sup>2</sup>&nbsp;+&nbsp;1)/(<i>x</i><sup>2</sup>
        &nbsp;&ndash;&nbsp;1). Every polynomial can be considered to be 
        a rational function because 1 is a polynomial and dividing by 1 
        doesn&#8217;t change an expression (so to consider the polynomial 
        <i>x</i><sup>3</sup> as a rational function, think of it as 
        <i>x</i><sup>3</sup>/1).  It is often instructive to study the 
        <span style="font-weight: bold;">asymptotes</span> of rational 
        functions, which are places in which their graphs approach a line 
        (or occasionally other shape), usually getting infinitely close 
        to but not crossing it.  That analysis may require performing 
        <span style="font-weight: bold;">long division</span> on the 
        numerator and denominator polynomials to find their 
        <span style="font-weight: bold;">greatest common factor</span>.
    </li>
	<li class="list_item">
        <span class="label">Periodic functions</span> are those whose graph 
        repeats a pattern (specifically, the graph has 
        <span style="font-weight: bold;">translational symmetry</span>). 
        Technically speaking, a function of one variable <i>f</i> is 
        periodic if <i>f</i>(<i>x</i>+<i>p</i>)&nbsp;=&nbsp;<i>f</i>
        (<i>x</i>) for every <i>x</i> in the domain of the function and 
        some positive number <i>p</i>, which is called the 
        <span style="font-weight: bold;">period</span>, because the graph 
        repeats itself every <i>p</i>&nbsp;units.  While the trigonometric 
        functions are the periodic functions most commonly encountered by 
        high school math students, some other functions like triangle 
        waves are also periodic; in general, functions representing waves 
        tend to be periodic. A <span style="font-weight: bold;">Fourier 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">fur-ee-ay</span> series</span> is a way 
        to rewrite (almost) any periodic function in terms of only sine 
        and cosine functions.
    </li>
	<li class="list_item">
        The <span class="label">trigonometric functions</span> represent 
        relations between angles and sides of triangles. They are often 
        illustrated using points and segments related to a circle of 
        radius&nbsp;1 centered at the origin, called the 
        <span style="font-weight: bold;">unit circle</span>. By far the 
        most commonly discussed trigonometric functions are the 
        <span style="font-weight: bold;">sine</span>, 
        <span style="font-weight: bold;">cosine</span>, 
        <span style="font-weight: bold;">tangent</span>, 
        <span style="font-weight: bold;">cosecant</span>, 
        <span style="font-weight: bold;">secant</span>, and 
        <span style="font-weight: bold;">cotangent</span> functions. 
        There are <i>many</i> interesting relationships between these: 
        the graphs of sine and cosine are translations of each other; 
        the tangent function equals the sine function divided by the 
        cosine function; the cosecant, secant, and cotangent functions 
        are the reciprocals of the sine, cosine, and tangent functions, 
        respectively; and there are many other relationships called 
        <span style="font-weight: bold;">trigonometric identities</span>.
    </li>
	<li class="list_item">
        The <span class="label">inverse trigonometric functions</span> are, as 
        one might expect, the <span style="font-weight: bold;">inverse 
        functions</span> of the trigonometric functions. (Note that 
        &#8220;inverse&#8221; in this case refers to a function that 
        &#8220;undoes&#8221; another, not to &#8220;multiplicative 
        inverse,&#8221; also called &#8220;reciprocal.&#8221;) They are 
        sometimes just called &#8220;inverse sine,&#8221; etc, and are 
        also given with the prefix &#8220;arc&#8221;: 
        <span style="font-weight: bold;">arcsine</span>, 
        <span style="font-weight: bold;">arccosine</span>, 
        <span style="font-weight: bold;">arctangent</span>, 
        <span style="font-weight: bold;">arccosecant</span>, 
        <span style="font-weight: bold;">arcsecant</span>, and 
        <span style="font-weight: bold;">arccotangent</span>. 
        They are sometimes notated in the form sin<sup>&ndash;1</sup> 
        for arcsine, but that notation can be confusing, so NAQT tends 
        to prefer &#8220;arcsine,&#8221; etc. Because the trigonometric 
        functions are not bijective (see below), to have inverses it is 
        necessary to restrict the domains of the inverse trigonometric 
        functions; for instance, arcsin(<i>x</i>) is only defined for 
        <i>x</i> between &ndash;1 and 1, inclusive.
    </li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Injective functions</span>, or 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">injections</span>, are functions that do not 
            repeat any outputs. For instance, <i>f</i>(<i>x</i>)&nbsp;=&nbsp;2
            <i>x</i> is injective, because for every possible output value, 
            there is only one input that will result in that output. 
            On the other hand, <i>f</i>(<i>x</i>)&nbsp;=&nbsp;sin(<i>x</i>) 
            is <em>not</em> injective, because (for instance) the output 0 
            can be obtained from several different inputs (0, &pi;, 2&pi;, 
            and so on).  If you have the graph of a function, you can 
            determine whether the function is injective by applying the 
            <span style="font-weight: bold;">horizontal line test</span>: 
            if no horizontal line would ever intersect the graph twice, 
            the function is injective.
        </p>
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Surjective functions</span>, or 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">surjections</span>, are functions that achieve 
            every possible output.  For instance, if you are thinking of 
            functions whose domain and codomain are both the set of all 
            real numbers, then <i>f</i>(<i>x</i>)&nbsp;=&nbsp;tan(<i>x</i>) 
            is surjective, because every real number is an output for some 
            input. But <i>f</i>(<i>x</i>)&nbsp;=&nbsp;<i>x</i><sup>2</sup> 
            is not surjective, because (for instance) &ndash;3 is not an 
            output for any real-number input. The term 
            <span style="font-weight: bold;">image</span> is sometimes used 
            for the set of all output values that a function actually 
            achieves; a surjective function, then, is one whose image equals 
            its codomain.
        </p>
		<p class="justify">
            A function that is both injective and surjective is called 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">bijective</span>, or a 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">bijection</span>.  If a function is bijective, 
            then it has an <span style="font-weight: bold;">inverse</span>. 
            Furthermore, a function can <em>only</em> have an inverse if it 
            is bijective.</p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Even functions</span> satisfy the rule 
            <i>f</i>(&ndash;<i>x</i>)&nbsp;=&nbsp;<i>f</i>(<i>x</i>) for every 
            <i>x</i> in the domain of the function.  The graph of an even 
            function has reflection symmetry over the <i>y</i>-axis. 
            Even functions are so named because if a polynomial&#8217;s 
            exponents (on the variable) are all even, then the polynomial 
            is an even function; for instance, <i>x</i><sup>2</sup>, 
            3<i>x</i><sup>6</sup>, and &ndash;<i>x</i><sup>8</sup>&nbsp;+
            &nbsp;7<i>x</i><sup>4</sup> are all even. There are other even 
            functions, though, such as the cosine and absolute value 
            functions.
        </p>
		<p class="justify"><span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Odd functions</span> satisfy the rule <i>f</i>
            (&ndash;<i>x</i>)&nbsp;=&nbsp;&ndash;<i>f</i>(<i>x</i>) for 
            every <i>x</i> in the domain of the function.  The graph of an 
            odd function remains the same when it is rotated 180&deg; around 
            the origin. Odd functions are so named because if a 
            polynomial&#8217;s exponents (on the variable) are all odd, then 
            the polynomial is an odd function; for instance, <i>x</i><sup>3
            </sup>, 4<i>x</i><sup>7</sup>, and &ndash;<i>x</i><sup>5</sup>
            &nbsp;+&nbsp;2<i>x</i><sup>3</sup> are all odd. There are other 
            odd functions, such as the sine and cube root functions.
        </p>
		<p class="justify">
            Many functions are neither even nor odd, such as <i>x</i><sup>2
            </sup>&nbsp;+&nbsp;<i>x</i>.  Only one function is both even 
            and odd: the zero function, <i>f</i>(<i>x</i>)&nbsp;=&nbsp;0.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Exponential functions</span> are those of the 
        form <i>f</i>(<i>x</i>)&nbsp;=&nbsp;<i>b</i><sup><i>x</i></sup>, 
        where <i>b</i> (called the base) is a positive number other than 1. 
        Exponential functions are used to model unrestricted 
        <span style="font-weight: bold;">growth</span> (such as 
        <span style="font-weight: bold;">compound interest</span>, and animal 
        <span style="font-weight: bold;">populations</span> with unlimited 
        food and no predators) and <span style="font-weight: bold;">decay
        </span> (such as <span style="font-weight: bold;">radioactive decay
        </span>). The phrase &#8220;<em>the</em> exponential function&#8221; 
        refers to the function <i>f</i>(<i>x</i>)&nbsp;=&nbsp;<i>e</i><sup>
        <i>x</i></sup>, where <i>e</i> is a specific irrational number 
        called <span style="font-weight: bold;">Euler&#8217;s number</span>, 
        about equal to 2.718. Exponential functions have the interesting 
        property that their <span style="font-weight: bold;">derivatives
        </span> are proportional to themselves.
    </li>
	<li class="list_item">
        <span class="label">Logarithmic functions</span>, or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">logarithms</span>, are functions of the form <i>f
        </i>(<i>x</i>)&nbsp;=&nbsp;log<sub><i>b</i></sub><i>x</i>, where 
        <i>b</i> is again a positive number other than 1 (and again called 
        the base). They are the inverses of the exponential functions with 
        the same bases.  Logarithmic functions are used to model 
        <span style="font-weight: bold;">sensory perception</span> and some 
        phenomena in probability and statistics. The phrase &#8220;
        <em>the</em> logarithm&#8221; can refer to a logarithmic function 
        using the <span style="font-weight: bold;">base&nbsp;2</span> 
        (especially in computer science; this is also called the 
        <span style="font-weight: bold;">binary logarithm</span>), 
        <i>e</i> (especially in higher math), or 10 (especially in lower 
        levels of math and physical sciences). The phrase 
        <span style="font-weight: bold;">natural logarithm</span> refers 
        to the logarithm base&nbsp;<i>e</i>, and the phrase 
        <span style="font-weight: bold;">common logarithm</span> usually 
        refers to the logarithm base&nbsp;10.
    </li>
	<li class="list_item">
        <span class="label">Continuous functions</span>, studied in calculus, 
        are functions where the <span style="font-weight: bold;">limit
        </span> approaching each point equals the function&#8217;s value ä
        at that point.  In particular, there are no 
        <span style="font-weight: bold;">holes</span>, 
        <span style="font-weight: bold;">jumps</span>, or 
        <span style="font-weight: bold;">asymptotes</span> &#8220;in the 
        middle of the graph.&#8221; Continuity is really a property of a 
        specific point; a continuous function is a function that is 
        continuous at every point. Continuity is often explained as a 
        function&#8217;s graph being drawable in one motion without 
        lifting the writing utensil from the paper.  All polynomials are 
        continuous, as are the sine and cosine functions, exponential 
        and logarithmic functions, and the <span style="font-weight: bold;">
        absolute value function</span>. Some examples of non-continuous 
        functions are many rational functions, as they often have holes 
        or asymptotes; the tangent, cosecant, secant, and cotangent 
        functions, which have asymptotes; and the 
        <span style="font-weight: bold;">floor and ceiling functions</span>, 
        which have jumps.
    </li>
	<li class="list_item">
        <span class="label">Differentiable functions</span>, also studied in 
        calculus, are functions for which the derivative can be found 
        (because a particular limit, called a 
        <span style="font-weight: bold;">difference quotient</span>, exists). 
        Like continuity, differentiability is really a property of a 
        specific point, and a differentiable function is one that is 
        differentiable at every point. Every differentiable function is 
        continuous, but some continuous functions are not differentiable; 
        mathematicians thus say that differentiability is a stronger 
        property than continuity.  In terms of graphs, a differentiable 
        function has a &#8220;smooth&#8221; graph with no 
        <span style="font-weight: bold;">corners</span> or 
        <span style="font-weight: bold;">cusps</span> (and also, because 
        continuity is required, no holes, jumps, or asymptotes). 
        All polynomials are differentiable, as are the sine and cosine 
        functions, and exponential and logarithmic functions. 
        However, the absolute value function <i>f</i>(<i>x</i>)
        &nbsp;=&nbsp;|<i>x</i>| is not differentiable because it has a 
        &#8220;corner&#8221; at <i>x</i>&nbsp;=&nbsp;0 (but recall that 
        it is still continuous).
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jonah Greenthal.</p>
<br />
<br />
<br />
{% endblock %}