{% extends "base.html" %}  {% block title %}Distinctions Among Types of Plants {% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Distinctions Among Types of Plants</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/plant-distinctions.html">
    You Gotta Know These Distinctions Among Types of Plants
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Bryophytes vs. pterophytes</span>: Not all 
            plants produce seeds. Seedless plants are divided into 
            <a style="color: maroon;" target="_blank" 
            href="http://www.ncsu.edu/project/bio181de/Lab/plant_phylogeny/
            non-vascular.html"><span style="font-weight: bold;">bryophytes
            </span></a> (mosses, liverworts, and hornworts) and 
            <a style="color: maroon;" target="_blank" 
            href="https://faculty.baruch.cuny.edu/jwahlert/bio1003/
            pterophyta.html"><span style="font-weight: bold;">pterophytes
            </span></a> (ferns, club mosses, quillworts, and horsetails). 
            Both of these groups, like all other plants, reproduce by 
            producing sperm and eggs on a structure called the 
            <span style="font-weight: bold;">gametophyte</span>. The 
            gametes fuse to form another structure called the 
            <span style="font-weight: bold;">sporophyte</span>, which 
            produces spores that disperse and grow into new gametophytes. 
            Both groups produce flagellated sperm that require water for 
            fertilization.  Note that these uses of &#8220;bryophyte&#8221; 
            and &#8220;pterophyte&#8221; here are informal, and should not 
            be confused with the actual phyla Bryophyta (true mosses) and 
            Pteridophyta (true ferns).
        </p>
		<p class="justify">
            <span style="font-weight: bold;">Bryophytes</span> are small 
            enough that water and nutrients can diffuse to all parts of 
            the plant without any specialized vascular tissue. They lack 
            true leaves and roots, instead fastening themselves to the 
            ground with <span style="font-weight: bold;">rhizoids</span>. 
            Unlike other land plants, bryophytes have a prominent gametophyte 
            stage that is usually <span style="font-weight: bold;">dioicous
            </span>, meaning that an individual plant produces only one 
            type of gamete (either sperm or egg). The short-lived sporophyte 
            grows from the female gametophyte.
        </p>
		<p class="justify">
            The more complex <a style="color: maroon;" target="_blank" 
            href="http://3.bp.blogspot.com/_ITrAsGbiq9g/S92ZsUPWbDI/
            AAAAAAAAAmI/77uRKyrk4yk/s1600/29_13FernLifeCycle_3-L.jpg">
            <span style="font-weight: bold;">pterophytes</span></a> can 
            grow taller thanks to vascular tissues (see number 4 below) 
            that provide structural support and transport water and other 
            materials throughout the plant. Many of them do have true 
            leaves and roots.  Pterophytes have a prominent sporophyte 
            stage that grows from a small, short-lived gametophyte. 
            Pterophyte gametophytes may be dioicous or 
            <span style="font-weight: bold;">monoicous</span>, producing 
            both sperm and egg on the same plant.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;"><a style="color: maroon;" target="_blank" 
            href="http://www2.estrellamountain.edu/faculty/farabee/BIOBK/
            biobookdiversity_6.html">Angiosperms vs. gymnosperms</a></span>: 
            Seed-producing plants can be divided into 
            <span style="font-weight: bold;">gymnosperms</span> (cycads, 
            ginkgos, conifers, and gnetophytes) and 
            <span style="font-weight: bold;">angiosperms</span> (phylum 
            Anthophyta, or flowering plants). Most of these plants produce 
            male gametophytes that grow into the female, allowing 
            fertilization to take place in relatively dry conditions. 
            Many of them also exhibit <span style="font-weight: bold;">
            secondary growth</span> of woody tissues, allowing them to grow 
            even taller than the pterophytes.
        </p>
		<p class="justify">
            The word <span style="font-weight: bold;">gymnosperm</span> 
            means &#8220;naked seed,&#8221; referring to the fact that 
            their gametophytes develop on the surface of leaves or on the 
            scales of cones. In contrast, <a style="color: maroon;" 
            target="_blank" href="http://blogs.ubc.ca/biol343/
            summary-of-angiosperm-life-cycle/">
            <span style="font-weight: bold;">angiosperm</span></a> means 
            &#8220;receptacle seed.&#8221; Their gametophytes develop 
            enclosed within flowers. Angiosperms are further classified 
            based on their seed structure, described below.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Monocots vs. dicots</span>: Most 
            (<a style="color: maroon;" target="_blank" 
            href="http://www.botany.wisc.edu/courses/botany_400/images/
            lectureImages/AngiospermAPGII.jpg">but not all</a>) angiosperms 
            fall into one of two classes based on the number of cotyledons, 
            or embryonic seed-leaves, in the plant embryo. Monocots, or 
            Monocotyledonae, have one cotyledon, while dicots, or 
            Dicotyledonae, have two. While there are no other hard-and-fast 
            distinguishing characteristics between the two groups, plants 
            in each category tend to share other characteristics:
        </p>
		<p class="justify">
            <span style="font-weight: bold;">Monocots</span> produce pollen 
            grains that have a single furrow (monosulcate); flower parts in 
            multiples of three; numerous, fibrous roots; parallel leaf 
            veins; and stems with scattered vascular bundles. They also 
            lack secondary growth, remaining herbaceous throughout their 
            lives. <span style="font-weight: bold;">Dicots</span>, on the 
            other hand, tend to have pollen with three furrows (tricolpate); 
            flower parts in multiples of four or greater; taproot systems; 
            stems with rings of vascular tissue; and branching leaf veins. 
            Many of them exhibit secondary growth that produces wood.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Xylem vs. phloem</span>: There are two types 
            of vascular tissue in plants. <span style="font-weight: bold;">
            Xylem</span> transports water and soluble nutrients from the 
            roots to the leaves. <span style="font-weight: bold;">Phloem
            </span>, on the other hand, carries nutrients like sucrose 
            from their origin of synthesis or absorption to all parts of 
            the plant.  Both tissues originate in the procambium of the 
            <span style="font-weight: bold;">apical meristems</span> of 
            both the stems and roots. In woody plants, secondary vascular 
            tissues arise in the <span style="font-weight: bold;">vascular 
            cambium</span>.
        </p>
		<p class="justify">
            Xylem contains distinct elongated cells called 
            <span style="font-weight: bold;">tracheids</span> that have 
            <span style="font-weight: bold;">lignified</span> cell walls and 
            help provide structural support. <span style="font-weight: bold;">
            Vessel elements</span> are also reinforced by lignin, but they 
            are open at each end at <span style="font-weight: bold;">
            perforation plates</span> and connect to form long tubes for 
            water transport. Xylem functions via transpirational pull and 
            osmosis. Cell types in phloem include companion cells, fibers, 
            and <span style="font-weight: bold;">sclereids</span>. In 
            trees, it is usually the innermost layer of the 
            <span style="font-weight: bold;">bark</span>.
        </p>
	</li>
	<li class="list_item">
        <span class="label"><a style="color: maroon;" target="_blank" 
        href="http://hawaii.hawaii.edu/laurab/generalbotany/images/
        flower%20structure.gif">Flower parts</a></span>:
		<ul>
			<li style="margin-bottom: 15px; margin-top: 15px;">
                The <span style="font-weight: bold;">calyx</span> is composed 
                of <span style="font-weight: bold;">sepals</span>, specialized 
                green leaves that protect the flower as a bud and provide 
                support for the fully bloomed flower
            </li>
			<li class="list_item">
                The stem supporting a flower is called the 
                <span style="font-weight: bold;">peduncle</span>. If multiple 
                flowers bloom from a peduncle, the stems supporting each 
                flower are called <span style="font-weight: bold;">pedicels
                </span>. The <span style="font-weight: bold;">torus</span> 
                is the swelling at the top of the pedicel or peduncle, just 
                below the calyx.
            </li>
			<li class="list_item">
                <span style="font-weight: bold;">Petals</span> are specialized 
                leaves, often brightly colored to attract pollinating species. 
                Collectively, they are called a 
                <span style="font-weight: bold;">corolla</span>.
            </li>
			<li class="list_item">
                The pollen-producing reproductive organ of the flower is 
                called the <span style="font-weight: bold;">stamen</span>. 
                The stamen consists of a thin filament topped by an 
                <span style="font-weight: bold;">anther</span>, which 
                actually contains the <span style="font-weight: bold;">
                pollen</span>.
            </li>
			<li class="list_item">
                The <span style="font-weight: bold;">pistil</span>, or 
                female reproductive organ of the flower, is composed of 
                leaf-like <span style="font-weight: bold;">carpels</span>. 
                The <span style="font-weight: bold;">ovary</span>-containing 
                <span style="font-weight: bold;">ovules</span> are at the 
                base of the pistil, while a tube called a 
                <span style="font-weight: bold;">style</span> topped by a 
                sticky, pollen-receptive <span style="font-weight: bold;">
                stigma</span> rises from the ovary. There may be one or 
                many pistils in each flower.
            </li>
		</ul>
	</li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editors Hannah Kirsch and Farrah Bilimoria.</p>
<br />
<br />
<br />
{% endblock %}