{% extends "base.html" %}  {% block title %}Moons{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Moons</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/moons.html">
    You Gotta Know These Moons
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Earth&#8217;s moon</span>: The moon, also called 
            <span style="font-weight: bold;">Luna</span>, is the 
            <span style="font-weight: bold;">fifth-largest satellite</span> in 
            the solar system, the <span style="font-weight: bold;">largest 
            relative to the size of the planet</span> it orbits, and the second 
            densest. The USSR&#8217;s <i>Luna</i> unmanned spacecraft first 
            reached the moon in 1959, and <span style="font-weight: bold;">
            Apollo&nbsp;8</span> became the first manned mission to orbit the 
            moon, in 1968. The 1967 <span style="font-weight: bold;">Outer Space 
            Treaty</span> guarantees the rights of all nations to explore the 
            moon for peaceful purposes.
            </p>
		<p class="justify">
            The flat dark <span style="font-weight: bold;">lunar plains
            </span> are called <span style="font-weight: bold;">maria</span> 
            (singular: mare) and are mainly concentrated on the near side of 
            the moon. The most famous one is Mare Tranquillitatis, the 
            <span style="font-weight: bold;">Sea of Tranquility</span>, where 
            <span style="font-weight: bold;">Apollo&nbsp;11</span> first 
            landed on the moon in 1969. The <span style="font-weight: bold;">
            Apollo program</span> landed on the moon five more times.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Phobos</span>: Both Phobos (&#8220;fear&#8221;) 
        and <span style="font-weight: bold;">Mars</span>&#8217; smaller moon 
        <span style="font-weight: bold;">Deimos</span> (&#8220;dread&#8221;) 
        were discovered by <span style="font-weight: bold;">Asaph 
        Hall&nbsp;III</span> in 1877. At just 3,700 miles above the Martian 
        surface, Phobos orbits <span style="font-weight: bold;">more closely 
        to its planet than any other moon</span> in the Solar System. 
        Because it orbits Mars <span style="font-weight: bold;">faster than 
        Mars rotates</span>, each day it appears (from the Martian surface) 
        to <span style="font-weight: bold;">set twice</span> in the east. 
        Geological features on Phobos, including the 
        <span style="font-weight: bold;">Stickney Crater</span>, are 
        primarily named for either astronomers (Stickney was the maiden name 
        of Asaph Hall&#8217;s wife) or characters from Jonathan 
        Swift&#8217;s <i style="font-weight: bold;">Gulliver&#8217;s Travels
        </i>. In 1971 the U.S.&#8217;s <span style="font-weight: bold;">
        Mariner&nbsp;IX</span> became the first spacecraft to provide 
        close-up photos of Phobos.
    </li>
	<li class="list_item">
        <span class="label">Deimos</span>: One-seventh the mass of Phobos and 
        further away from the Martian surface, Deimos was found by 
        <span style="font-weight: bold;">Asaph Hall</span> at the U.S. Naval 
        Observatory six days before he discovered Phobos. Its largest and 
        only named craters are <span style="font-weight: bold;">Swift</span> 
        and <span style="font-weight: bold;">Voltaire</span>; Deimos&#8217;s 
        surface doesn&#8217;t appear as rough as Phobos&#8217;s because 
        <span style="font-weight: bold;">regolith</span> has filled in some 
        of the craters. A still-controversial and unproven hypothesis holds 
        Deimos (and possibly Phobos as well) were 
        <span style="font-weight: bold;">asteroids</span> perturbed out of 
        their orbit by Jupiter and then captured by the gravity of Mars.
        </li>
	<li class="list_item">
        <span class="label">Io</span> is the innermost of the four 
        <span style="font-weight: bold;">Galilean moons</span> of Jupiter 
        (the moons discovered by Galileo), the fourth-largest moon in the 
        solar system, the <span style="font-weight: bold;">densest moon
        </span>, and the <span style="font-weight: bold;">most geologically 
        active body in the solar system</span>, with more than 
        <span style="font-weight: bold;">400 volcanoes</span>. Io&#8217;s 
        features are named for characters from the Io story in Greek 
        mythology; fire, volcano, and thunder deities from other mythologies; 
        and characters from Dante&#8217;s <i style="font-weight: bold;">
        Inferno</i>. Io plays a significant role in shaping 
        <span style="font-weight: bold;">Jupiter&#8217;s magnetosphere</span>. 
        <span style="font-weight: bold;">Pioneer&nbsp;10</span> first passed 
        by Io in December 1973.
    </li>
	<li class="list_item">
        <span class="label">Ganymede</span> is the 
        <span style="font-weight: bold;">largest moon in the solar system
        </span> and the only one known to have 
        <span style="font-weight: bold;">its own magnetosphere</span>. The 
        third of the Galilean satellites, Ganymede was also first 
        photographed close-up by <span style="font-weight: bold;">
        Pioneer&nbsp;10</span> in 1973. <i style="font-weight: bold;">Galileo
        </i> made six flybys of Ganymede between 1996 and 2000. Based on a 
        suggestion from <span style="font-weight: bold;">Simon Marius</span>, 
        Ganymede (along with many of the Jovian satellites) is named for one 
        of Jupiter&#8217;s lovers in Roman mythology; Ganymede is the only 
        such moon named for a male figure. Many of Ganymede&#8217;s features, 
        including the <span style="font-weight: bold;">Enki Catena</span>, 
        are given names from <span style="font-weight: bold;">Egyptian and 
        Babylonian mythology</span>, although its largest dark plain is 
        <span style="font-weight: bold;">Galileo Regio</span>. Ganymede is 
        scheduled to be orbited by the European Space Agency&#8217;s 
        <span style="font-weight: bold;">Jupiter Icy Moon Explorer</span> 
        (JUICE), currently slated for a 2022 launch.
    </li>
	<li class="list_item">
        <span class="label">Titan</span> is the 
        <span style="font-weight: bold;">largest moon of Saturn</span> and the 
        <span style="font-weight: bold;">second largest</span> in the solar 
        system. Until <span style="font-weight: bold;">Voyager&nbsp;1</span> 
        visited in 1980, it was thought to be larger than Ganymede. It is the 
        only known satellite with a <span style="font-weight: bold;">dense 
        atmosphere</span> &mdash; so dense that it makes observation of 
        surface features nearly impossible except from close up &mdash; and 
        also the only known satellite for which there is evidence of stable 
        bodies of <span style="font-weight: bold;">surface liquid</span>. 
        Discovered in 1655 by <span style="font-weight: bold;">Christiaan 
        Huygens</span>, it was visited by the 
        <span style="font-weight: bold;">Cassini-Huygens mission</span> in 
        2004. Titan&#8217;s albedo features, such as the highly reflective 
        area <span style="font-weight: bold;">Xanadu</span>, are named for 
        sacred or enchanted places from world literature and mythology. 
        Because of its <span style="font-weight: bold;">nitrogen-rich 
        atmosphere</span> and the presence of surface liquid, Titan is 
        often thought to be the most likely place in the solar system for 
        microbial life to exist outside of Earth.
    </li>
	<li class="list_item">
        <span class="label">Iapetus <span style="font-weight: bold; 
        font-size: 85%; color: rgb(78, 78, 78);">&#8220;eye&#8221;-AA-pih
        -tuss</span></span> is <span style="font-weight: bold;">Saturn
        </span>&#8217;s third-largest moon after Titan and Rhea and, like 
        Rhea, was discovered by <span style="font-weight: bold;">Giovanni 
        Cassini</span> in 1671. It was named based upon a suggestion from 
        John Herschel (son of the discoverer of Uranus, William Herschel) 
        for the <span style="font-weight: bold;">Titans</span> of Greek 
        mythology, the brothers and sisters of 
        <span style="font-weight: bold;">Cronos</span> (Saturn). Iapetus 
        has a distinctive <span style="font-weight: bold;">two-tone 
        coloration</span>; part of it is <span style="font-weight: bold;">
        red-brown</span>, while part is <span style="font-weight: bold;">
        bright gray</span>. Features on Iapetus are named for people and 
        places from the French <i style="font-weight: bold;">Song of 
        Roland</i>, including <span style="font-weight: bold;">Charlemagne 
        Crater</span> and the bright northern region 
        <span style="font-weight: bold;">Roncevaux Terra</span>. In 2004 
        the <i style="font-weight: bold;">Cassini</i> orbiter found an 
        <span style="font-weight: bold;">equatorial ridge</span> running 
        over 800 miles long and 10 miles wide that gives Iapetus some of 
        the <span style="font-weight: bold;">highest peaks in the solar 
        system</span>; its existence has not yet been explained.
    </li>
	<li class="list_item">
        <span class="label">Titania</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Oberon</span>: Uranus&#8217;s largest moons, 
        Titania and Oberon, are named for characters from 
        Shakespeare&#8217;s <i style="font-weight: bold;">A Midsummer 
        Night&#8217;s Dream</i>. (Other Uranian moons are named for 
        characters from either Shakespeare or 
        <span style="font-weight: bold;">Alexander Pope</span>.) They were 
        discovered on the same day in 1787 by 
        <span style="font-weight: bold;">William Herschel</span>, who also 
        discovered Uranus itself in 1781. In 1986 
        <span style="font-weight: bold;">Voyager&nbsp;2</span> became the 
        only spacecraft to date to visit the Uranian moons. Because Uranus 
        orbits the sun almost <span style="font-weight: bold;">on its side
        </span> and Titania and Oberon orbit Uranus in the same plane as 
        its equator, the moons have <span style="font-weight: bold;">extreme 
        seasons</span>: Titania&#8217;s poles spend over 42 years in 
        nonstop sunlight followed by 42 years of darkness. Most of 
        Titania&#8217;s features are named for settings or female characters 
        from Shakespeare &mdash; its largest crater is 
        <span style="font-weight: bold;">Gertrude Crater</span>, after 
        Hamlet&#8217;s mother &mdash; while most of Oberon&#8217;s are 
        named after settings or male characters from Shakespeare. However, 
        Oberon&#8217;s largest feature is <span style="font-weight: bold;">
        Mommur Chasma</span>, which is named from a French epic poem.
    </li>
	<li class="list_item">
        <span class="label">Triton</span>: The largest moon of 
        <span style="font-weight: bold;">Neptune</span> and the only large 
        moon with a <span style="font-weight: bold;">retrograde orbit</span> 
        (that is, an orbit opposite to the rotation of its planet), Triton 
        is the seventh-largest moon in the solar system and is thought to 
        have been <span style="font-weight: bold;">captured from the Kuiper 
        Belt</span>. For over 100 years after its 1846 discovery, Triton was 
        thought to be Neptune&#8217;s only moon; 
        <span style="font-weight: bold;">Nereid</span> wasn&#8217;t 
        discovered until 1949. (There are fourteen known satellites now.) 
        Triton is <span style="font-weight: bold;">geologically active
        </span> and has <span style="font-weight: bold;">geysers</span> 
        that are assumed to erupt nitrogen. Because of the activity, impact 
        craters on Triton are relatively scarce; most of the larger craters 
        were formed by volcanic activity. Triton orbits around Neptune in 
        almost a perfect circle. <span style="font-weight: bold;">
        Voyager&nbsp;2</span> visited Triton in 1989 and is the only space 
        probe to have done so (and no more are currently planned). Much of 
        Triton&#8217;s western hemisphere consists of an unexplained series 
        of <span style="font-weight: bold;">fissures</span> and 
        <span style="font-weight: bold;">depressions</span> sometimes called 
        <span style="font-weight: bold;">&#8220;cantaloupe terrain.&#8221;
        </span> Triton&#8217;s features are named after various 
        <span style="font-weight: bold;">water spirits</span>, 
        <span style="font-weight: bold;">monsters</span>, and 
        <span style="font-weight: bold;">sacred waters</span> from mythology.
    </li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Charon</span>: The largest satellite of the 
            dwarf planet <span style="font-weight: bold;">Pluto</span>, 
            Charon wasn&#8217;t discovered until 1978. (As of 2013, Pluto 
            has five known moons, the last two discovered in 2011 and 2012.) 
            Unlike Pluto, which is covered with nitrogen and methane ices, 
            Charon appears to be covered in <span style="font-weight: bold;">
            water ice</span> and may also have active 
            <span style="font-weight: bold;">cryo-geysers</span>. Because 
            the center of mass of the Pluto-Charon system lies outside of 
            either one, Charon <span style="font-weight: bold;">
            doesn&#8217;t truly orbit</span> Pluto; when Pluto was 
            reclassified as a dwarf planet in 2006, an argument was made 
            (but not accepted) to classify Pluto-Charon as a 
            <span style="font-weight: bold;">binary system</span>. The IAU 
            still considers Charon, which is roughly 
            <span style="font-weight: bold;">half the size</span> but has 
            only 11% the mass of Pluto, to be a satellite. The 
            <span style="font-weight: bold;">New Horizons</span> mission 
            visited Charon and Pluto in 2015.
        </p>
		<p class="justify">
            Charon was named by its discoverer, 
            <span style="font-weight: bold;">James Christy</span> of the 
            Flagstaff Naval Observatory; the IAU approved the name in 1985. 
            Internationally Charon is pronounced like the Greek mythological 
            figure, <span style="font-weight: bold; font-size: 85%; 
            color: rgb(78, 78, 78);">&#8220;CARE-on&#8221;</span>, but 
            Christy&#8217;s choice of name was inspired by his wife 
            <span style="font-weight: bold;">Charlene</span>, so NASA and 
            New Horizons personnel use 
            <span style="font-weight: bold; font-size: 85%; 
            color: rgb(78, 78, 78);">&#8220;SHARE-on&#8221;</span>.
        </p>
	</li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editors Hannah Kirsch and Farrah Bilimoria.</p>
<br />
<br />
<br />
{% endblock %}