{% extends "base.html" %}  {% block title %}Nobel Prize Winners in Physiology or Medicine{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Sciencd</a> | </li>
    <li style="display:inline">Nobel Prize Winners in Physiology or Medicine</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/nobel-prize-winners-in-medicine.html">
    You Gotta Know These Nobel Prize Winners in Physiology or Medicine
    </a>
</h1>
<br />
<p class="justify">
    The official name of this prize is the <span style="font-weight: bold;">Nobel Prize in Physiology or Medicine</span>, though it is common referred to as the &#8220;Nobel Prize in Medicine.&#8221;</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Ronald Ross</span> (won in 1902) was the first 
        British recipient of the Nobel Prize, recognized for his work 
        related to the <span style="font-weight: bold;">transmission of 
        malaria</span>. While studying in India, he dissected a mosquito of 
        the species <i style="font-weight: bold;">Anopheles</i> (which he 
        termed &#8220;dappled-winged&#8221; due to its strange posture), 
        and discovered the presence of the malarial 
        <span style="font-weight: bold;">parasite</span> (from the genus 
        <i style="font-weight: bold;">Plasmodium</i>). He then used birds 
        to demonstrate that the parasite is stored in the 
        <span style="font-weight: bold;">salivary gland of mosquitoes</span> 
        and is released when a host is bitten. Ross received the Nobel 
        prize individually in 1902, after fellow bacteriologist Robert 
        Koch voiced his support for him over Italian scientist Giovanni 
        Battista Grassi, who had reported similar findings on the malaria 
        lifecycle.
    </li>
    <li class="list_item">
        <span class="label">Ivan Pavlov</span> (won in 1904) performed 
        detailed research on the process of <span style="font-weight: bold;">
        digestion</span>, which he published in 1897 in 
        <i style="font-weight: bold;">The Work of the Digestive System</i>. 
        By surgically exposing selective sections of a 
        <span style="font-weight: bold;">dog</span>&#8217;s digestive system, 
        Pavlov was able to study in detail how material moves through the 
        stomach and intestines; he identified the 
        <span style="font-weight: bold;">timing of various gastric and 
        pancreatic secretions</span>. While he won the Nobel purely for his 
        contributions to physiology, he&#8217;s more well-known for 
        performing the first psychological studies of 
        <span style="font-weight: bold;">classical conditioning</span>. 
        After observing the behavior of dogs upon repeatedly bringing 
        them food, Pavlov noticed that the dogs would begin to salivate 
        prior to food even arriving, providing the basis for the concepts 
        of a <span style="font-weight: bold;">conditioned response and 
        conditioned stimulus</span>.
    </li>
    <li class="list_item">
        <span class="label">Robert Koch</span> (won in 1905) pioneered the 
        field of modern <span style="font-weight: bold;">bacteriology</span>, 
        and established his theory of <span style="font-weight: bold;">four 
        postulates</span> that must be satisfied in order to determine that 
        a disease is caused by a particular microbe. He used these postulates 
        to discover the bacterial agent that causes 
        <span style="font-weight: bold;">tuberculosis</span>, contradicting 
        the popular opinion that the disease was inherited. Koch also 
        determined the causative agents of <span style="font-weight: bold;">
        cholera</span> and <span style="font-weight: bold;">anthrax</span> 
        and examined the concept of <span style="font-weight: bold;">
        acquired immunity</span> while on exhibition in German New Guinea.
    </li>
    <li class="list_item">
        <span class="label">Paul Ehrlich</span> (won in 1908) performed early 
        work in the field of <span style="font-weight: bold;">immunology
        </span>. He discovered that, after exposing 
        <span style="font-weight: bold;">mice</span> to a small dose of 
        <span style="font-weight: bold;">ricin</span> and gradually 
        increasing the dose given, the animals developed an 
        <span style="font-weight: bold;">immunity</span> to it. In addition 
        to his Nobel-winning work, he also postulated the concept of a 
        <span style="font-weight: bold;">&#8220;magic bullet,&#8221;</span> 
        a compound that could be used to selectively target and eliminate 
        agents of disease. He made his own &#8220;magic bullet&#8221; in 
        1909 when he discovered that the compound 
        <span style="font-weight: bold;">arsphenamine</span> (now called 
        <span style="font-weight: bold;">Salvarsan</span>) could be used 
        as an effective cure for <span style="font-weight: bold;">syphilis
        </span>. In the early phase of his career, Ehrlich developed a 
        close friendship with Robert Koch after presenting him with an 
        improved technique for <span style="font-weight: bold;">staining 
        bacteria</span>, which would become the precursor to the technique 
        of Gram staining.
    </li>
    <li class="list_item">
        <span class="label">Willem Einthoven</span> (won in 1924) performed 
        groundbreaking work related to <span style="font-weight: bold;">
        electrocardiography</span>. He invented a device called the string 
        <span style="font-weight: bold;">galvanometer</span> to measure the 
        electric current of the heart, which until then had been impossible 
        without applying electrodes directly to the heart. This galvanometer 
        would form the basis of the modern <span style="font-weight: bold;">
        ECG (EKG) machine</span>. His method of assigning three leads on 
        human limbs, forming an <span style="font-weight: bold;">inverted 
        equilateral triangle</span> centered on the heart, is still used in 
        EKGs today, and is known as <span style="font-weight: bold;">
        Einthoven&#8217;s triangle</span>. He also assigned the letters 
        &#8216;P&#8217;, &#8216;Q&#8217;, &#8216;R&#8217;, &#8216;S&#8217;, 
        and &#8216;T&#8217; to the various deflections seen on an EKG; 
        that notation, which describes the familiar 
        <span style="font-weight: bold;">QRS complex</span> pattern, is also 
        still used today.
    </li>
    <li class="list_item">
        <span class="label">Karl Landsteiner</span> (won in 1930), known as 
        the <span style="font-weight: bold;">&#8220;father of transfusions,
        &#8221;</span> made important discoveries in the field of 
        <span style="font-weight: bold;">serology</span> in the early 
        1900s, including the identification of the three major 
        <span style="font-weight: bold;">blood groups</span> (A, B, and O). 
        He determined that mixing blood from two individuals with 
        incompatible blood types can lead to a dangerous form of blood 
        clumping called <span style="font-weight: bold;">agglutination</span>. 
        In 1937 (after he received the Nobel), he also identified the 
        <span style="font-weight: bold;">Rh&nbsp;factor</span> (the 
        &#8220;plus&#8221; or &#8220;minus&#8221; in one&#8217;s blood type) 
        in the blood of the <span style="font-weight: bold;">rhesus monkey
        </span>, a discovery which further increased the safety of blood 
        transfusions. While studying in Vienna in 1908, Landsteiner 
        isolated the <span style="font-weight: bold;">polio virus</span>, 
        providing the basis for Jonas Salk&#8217;s vaccine against 
        the disease.
    </li>
    <li class="list_item">
        <span class="label">Thomas Hunt Morgan</span> (won in 1933) 
        discovered the basic mechanisms of <span style="font-weight: bold;">
        genetic inheritance</span> via his experiments on fruit flies, 
        specifically the species <i style="font-weight: bold;">Drosophila 
        melanogaster</i>. By conducting a series of experiments in his 
        renowned <span style="font-weight: bold;">&#8220;Fly Room&#8221;
        </span> at Columbia University, Morgan and his students tracked 
        mutations, noting how various traits were inherited across 
        successive generations of the flies. His data supported the idea 
        of genetic linkage by noting that the <span style="font-weight: bold;">
        probability of two genes being inherited together</span> correlates 
        inversely with their physical distance on a given chromosome, 
        leading Morgan to postulate the mechanism of 
        <span style="font-weight: bold;">crossing over</span>. Because of his 
        work, the unit <span style="font-weight: bold;">centimorgan</span> is 
        now used to measure the physical distance between genes.
    </li>
    <li class="list_item">
        <span class="label">Alexander Fleming</span> (won in 1945) made the 
        accidental discovery of the <span style="font-weight: bold;">
        antibiotic</span> <span style="font-weight: bold;">penicillin</span> 
        after haphazardly stacking Petri dishes in the corner of his 
        notoriously untidy laboratory. He noticed that one culture of the 
        <i style="font-weight: bold;">Staphylococcus</i> that he was 
        studying had developed a fungus that destroyed all the nearby 
        colonies of bacteria. After developing the mold in a culture of its 
        own, he discovered that it produced a <span style="font-weight: bold;">
        &#8220;mold juice,&#8221;</span> later called penicillin, that killed 
        a number of disease-causing bacteria. Although Fleming originally 
        believed penicillin to be too slow-acting to have any positive 
        therapeutic effect, it formed the basis for 
        <span style="font-weight: bold;">beta-lactam antibiotics</span>, 
        which are still effective in many medical cases today.
    </li>
    <li class="list_item">
        <span class="label">James Watson and Francis Crick</span> won in 
        1962 for discovering the <span style="font-weight: bold;">molecular 
        structure of DNA</span>. They published the well-known 
        <span style="font-weight: bold;">double-helix structure</span> 
        based on <span style="font-weight: bold;">&#8220;Photo 51,&#8221;
        </span> an <span style="font-weight: bold;">X-ray diffraction image
        </span> of DNA produced by <span style="font-weight: bold;">
        Rosalind Franklin</span>. Because Franklin died in 1958 (the 
        Nobel committee does not award prizes posthumously), Francis and 
        Crick instead shared the prize with <span style="font-weight: bold;">
        Maurice Wilkins</span>, a colleague of Franklin who provided them 
        with the diffraction data. The pair also determined, with the help 
        of <span style="font-weight: bold;">Chargaff&#8217;s rules</span>, 
        that the <span style="font-weight: bold;">base pairs</span> of 
        adenine-thymine and cytosine-guanine were structurally similar 
        within the DNA molecule.
    </li>
    <li class="list_item">
        <span class="label">Barbara McClintock</span> (won in 1983) 
        described the existence of <span style="font-weight: bold;">
        transposons</span>, also called <span style="font-weight: bold;">
        &#8220;jumping genes,&#8221;</span> from her observations that 
        certain DNA sequences on the <span style="font-weight: bold;">
        maize</span> she was studying could change position on a 
        chromosome. While studying generations of maize at 
        <span style="font-weight: bold;">Cold Spring Harbor Laboratory
        </span>, she hypothesized that these 
        <span style="font-weight: bold;">&#8220;controlling elements&#8221;
        </span> were regulatory in nature, and that their motion around 
        the genome could be the driving factor behind how two identical 
        genetic sequences can exert different functions. McClintock is 
        the only non-shared female recipient of the Nobel Prize in 
        Physiology or Medicine.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Connor Woods.</p>
<br />
<br />
<br />
{% endblock %}