{% extends "base.html" %}  {% block title %}Organelles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Organelles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/organelles.html">
    You Gotta Know These Organelles
    </a>
</h1>
<br />
<p class="justify">
    The word &#8220;organelle&#8221; comes from the Latin for &#8220;little 
    organ,&#8221; which fits their function as organized structures within 
    cells that allow the cell to survive.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Nucleus</span>: The nucleus is the &#8220;command 
        central&#8221; of the cell because it contains almost all of the 
        cell&#8217;s <span style="font-weight: bold;">DNA</span>, which 
        encodes the information needed to make all the 
        <span style="font-weight: bold;">proteins</span> that the cell uses. 
        The DNA appears as <span style="font-weight: bold;">chromatin</span> 
        through most of the cell cycle, but condenses to form 
        <span style="font-weight: bold;">chromosomes</span> when the cell is 
        undergoing <span style="font-weight: bold;">mitosis</span>. Within 
        the nucleus there are dense bodies called 
        <span style="font-weight: bold;">nucleoli</span>, which contain 
        <span style="font-weight: bold;">ribosomal RNA</span>. In 
        <span style="font-weight: bold;">eukaryotes</span>, the nucleus is 
        surrounded by a selectively-permeable 
        <span style="font-weight: bold;">nuclear envelope</span>.
    </li>
	<li class="list_item">
        <span class="label">Ribosomes</span>: Ribosomes are the machines 
        that coordinate <span style="font-weight: bold;">protein synthesis
        </span>, or <span style="font-weight: bold;">translation</span>. 
        They consist of several RNA and protein molecules arranged into 
        <span style="font-weight: bold;">two subunits</span>. Ribosomes 
        read the <span style="font-weight: bold;">messenger RNA</span> copy 
        of the <span style="font-weight: bold;">DNA</span> and assemble the 
        appropriate <span style="font-weight: bold;">amino acids</span> 
        into <span style="font-weight: bold;">protein chains</span>.
    </li>
	<li class="list_item">
        <span class="label">Mitochondria</span>: The 
        <span style="font-weight: bold;">powerhouses of the cell</span>. 
        Mitochondria are <span style="font-weight: bold;">double-membrane-
        bound</span> organelles that are the site of 
        <span style="font-weight: bold;">respiration</span> and 
        <span style="font-weight: bold;">oxidative phosphorylation</span>, 
        processes that <span style="font-weight: bold;">produce energy
        </span> for the cell in the form of <span style="font-weight: bold;">
        ATP</span>. The inner membrane of a mitochondrion forms folds called 
        <span style="font-weight: bold;">cristae</span>, which are suspended 
        in a fluid called the <span style="font-weight: bold;">matrix</span>. 
        The mitochondrial matrix contains DNA and ribosomes.
    </li>
	<li class="list_item">
        <span class="label">Endoplasmic reticulum</span>: The ER is a network 
        of <span style="font-weight: bold;">tube-like membranes</span> 
        continuous with the <span style="font-weight: bold;">nuclear envelope
        </span>. Part of it are <span style="font-weight: bold;">
        &#8220;rough&#8221;</span> because they are covered in 
        <span style="font-weight: bold;">ribosomes</span>, while other parts 
        are &#8220;smooth&#8221; because they aren&#8217;t. In the ER, 
        <span style="font-weight: bold;">proteins undergo modifications and 
        folding</span> to yield the final, functional protein structures.
    </li>
	<li class="list_item">
        <span class="label">Golgi apparatus</span>: The stack of 
        <span style="font-weight: bold;">flattened, folded membranes</span> 
        that forms the Golgi apparatus acts as the 
        <span style="font-weight: bold;">&#8220;post office of the cell.
        &#8221;</span>  Here <span style="font-weight: bold;">proteins</span> 
        from the ribosomes are <span style="font-weight: bold;">stored</span>, 
        chemically <span style="font-weight: bold;">modified</span>, 
        &#8220;addressed&#8221; with <span style="font-weight: bold;">
        carbohydrate tags</span>, and <span style="font-weight: bold;">
        packaged</span> in vesicles for delivery.
    </li>
	<li class="list_item">
        <span class="label">Lysosomes</span>: Lysosomes are membrane-bound 
        organelles that contain <span style="font-weight: bold;">digestive 
        enzymes</span> that <span style="font-weight: bold;">break down 
        proteins</span>, <span style="font-weight: bold;">lipids</span>, 
        <span style="font-weight: bold;">carbohydrates</span>, and 
        <span style="font-weight: bold;">nucleic acids</span>. They are 
        important in processing the contents of 
        <span style="font-weight: bold;">vesicles</span> taken in from 
        outside the cell.  It is crucial to maintain the integrity of the 
        lysosomal membranes because the enzymes they contain can digest 
        cellular components as well.
    </li>
	<li class="list_item">
        <span class="label">Chloroplasts</span>: Found only in 
        <span style="font-weight: bold;">plants</span> and certain 
        <span style="font-weight: bold;">protists</span>, the chloroplast 
        contains the green pigment <span style="font-weight: bold;">
        chlorophyll</span> and is the site of 
        <span style="font-weight: bold;">photosynthesis</span>. Like the 
        mitochondrion, a chloroplast is a <span style="font-weight: bold;">
        double-membrane-bound</span> organelle, and it has its own DNA and 
        ribosomes in the <span style="font-weight: bold;">stroma</span>. 
        Chloroplasts contain <span style="font-weight: bold;">grana</span>, 
        which are stacks of single membrane structures called 
        <span style="font-weight: bold;">thylakoids</span> on which the 
        reactions of photosynthesis occur.
    </li>
	<li class="list_item">
        <span class="label">Vacuoles</span>: Found mainly in 
        <span style="font-weight: bold;">plants</span> and 
        <span style="font-weight: bold;">protists</span>, vacuoles are 
        <span style="font-weight: bold;">liquid-filled cavities</span> 
        enclosed by a single membrane. They serve as 
        <span style="font-weight: bold;">storage bins</span> for 
        <span style="font-weight: bold;">food</span> and 
        <span style="font-weight: bold;">waste products</span>. 
        <span style="font-weight: bold;">Contractile vacuoles</span> are 
        important for freshwater protists to rid their cells of excess 
        water that accumulates because of salt imbalance with the 
        environment.
    </li>
	<li class="list_item">
        <span class="label">Cilia</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">flagella</span>: Cilia and flagella are 
        important organelles of <span style="font-weight: bold;">motility
        </span>, that is, they allow the cell to move. Flagella are 
        <span style="font-weight: bold;">long, whip-like</span> structures, 
        while cilia are <span style="font-weight: bold;">short, hair-like
        </span> projections. Both contain a 
        <span style="font-weight: bold;">9&nbsp;+&nbsp;2 arrangement of 
        microtubules</span> in cross-section (two microtubules in the middle, 
        nine pairs in a circle around the outside) and are powered by 
        molecular motors of <span style="font-weight: bold;">kinesin</span> 
        and <span style="font-weight: bold;">dynein</span> molecules.
    </li>
	<li class="list_item">
        <span class="label">Centrioles</span>: Not found in plant cells, 
        centrioles are paired organelles with nine sets of microtubule 
        triplets in cross section. They are important in organizing the 
        <span style="font-weight: bold;">microtubule spindle</span> needed 
        to move the chromosomes during <span style="font-weight: bold;">
        mitosis</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Eric Bell.</p>
<br />
<br />
<br />
{% endblock %}