{% extends "base.html" %}  {% block title %}Rocks and Minerals{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Rocks and Minerals</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/rocks-and-minerals.html">
    You Gotta Know These Rocks and Minerals
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Quartz</span> is a mineral composed of 
        <span style="font-weight: bold;">Si&thinsp;O<sub>4</sub></span> 
        tetrahedra linked in a framework with oxygen atoms shared between 
        neighboring tetrahedra to give an overall chemical formula of 
        <span style="font-weight: bold;">Si&thinsp;O<sub>2</sub> (silicon 
        dioxide)</span>. Inclusions of different elements give different 
        varieties of quartz, including <span style="font-weight: bold;">
        amethyst</span> (purple). Quartz is the second-most abundant mineral 
        in Earth&#8217;s crust. Quartz is often used in clocks because it 
        exhibits <span style="font-weight: bold;">piezoelectricity</span>. 
        Quartz defines hardness 7 on the Mohs scale.</li>
	<li class="list_item">
        <span class="label">Feldspars</span> are a group of silicate minerals 
        that are the most abundant minerals in the Earth&#8217;s crust. 
        Feldspars are categorized based on whether they contain potassium 
        (<span style="font-weight: bold;">orthoclase</span>) or sodium and 
        calcium (<span style="font-weight: bold;">plagioclase</span>). The 
        <span style="font-weight: bold;">continuous branch</span> of 
        <span style="font-weight: bold;">Bowen&#8217;s reaction series</span> 
        covers the transition from calcium-rich to sodium-rich plagioclases. 
        Orthoclase defines hardness 6 on the Mohs scale.
    </li>
	<li class="list_item">
        <span class="label">Calcite</span> is a stable mineral form of 
        <span style="font-weight: bold;">calcium carbonate</span>. Less 
        stable forms of calcium carbonate (called 
        <span style="font-weight: bold;">polymorphs</span>), such as 
        <span style="font-weight: bold;">aragonite</span>, eventually convert 
        to calcite. Calcite is found in the <span style="font-weight: bold;">
        shells</span> of many marine organisms, including plankton, 
        echinoderms, and bivalves. This makes calcite a major constituent of 
        <span style="font-weight: bold;">sedimentary rocks</span>, especially 
        <span style="font-weight: bold;">limestone</span>. Many optical 
        devices utilize calcite because it exhibits 
        <span style="font-weight: bold;">birefringence</span> (double 
        refraction). Calcite defines hardness 3 on the Mohs scale.
    </li>
	<li class="list_item">
        <span class="label">Diamond</span> is a mineral composed of 
        <span style="font-weight: bold;">carbon</span> atoms in a 
        &#8220;diamond cubic&#8221; crystal structure. Among natural 
        materials, diamond has one of the <span style="font-weight: bold;">
        highest thermal conductivities</span> and 
        <span style="font-weight: bold;">highest hardnesses</span>; it 
        defines hardness 10 on the Mohs scale. Natural diamonds are almost 
        always found in <span style="font-weight: bold;">igneous rocks
        </span> called <span style="font-weight: bold;">kimberlites</span>.
    </li>
	<li class="list_item">
        <span class="label">Corundum</span> is a mineral composed of 
        <span style="font-weight: bold;">aluminum oxide</span>. Common gem 
        forms of corundum include <span style="font-weight: bold;">rubies
        </span> (turned red by inclusions of chromium) and 
        <span style="font-weight: bold;">sapphires</span> (which can take a 
        variety of colors from inclusions of iron, titanium, or vanadium). 
        Corundum defines hardness 9 on the Mohs scale.
    </li>
	<li class="list_item">
        <span class="label">Micas</span> are a group of 
        <span style="font-weight: bold;">silicate</span> minerals known for 
        their perfect <span style="font-weight: bold;">basal cleavage</span>, 
        meaning they can easily split into thin, parallel sheets. Common 
        varieties of mica include black <span style="font-weight: bold;">
        biotite</span> and transparent <span style="font-weight: bold;">
        muscovite</span>. Mica is often found in igneous rocks called 
        <span style="font-weight: bold;">pegmatites</span> and also serves 
        as the main constituent of the <span style="font-weight: bold;">
        metamorphic rock</span> <span style="font-weight: bold;">schist
        </span>. Micas generally have a Mohs hardness between 3 and 4.
    </li>
	<li class="list_item">
        <span class="label">Basalt</span> is the most common 
        <span style="font-weight: bold;">igneous rock</span>&mdash;over 
        90% of volcanic rocks on Earth are basalt! Basalt is 
        <span style="font-weight: bold;">mafic</span>, meaning it is rich 
        in magnesium and iron, and <span style="font-weight: bold;">
        extrusive</span>, meaning it cools and solidifies on the 
        Earth&#8217;s surface. Lava containing gas bubbles may cool into 
        <span style="font-weight: bold;">vesicular basalt</span>. Basalt 
        primarily composed of vesicles is known as 
        <span style="font-weight: bold;">scoria</span>.
    </li>
	<li class="list_item">
        <span class="label">Granite</span> is a common 
        <span style="font-weight: bold;">igneous rock</span>. Granite is 
        <span style="font-weight: bold;">felsic</span>, meaning it is 
        primarily composed of feldspar and quartz, and 
        <span style="font-weight: bold;">intrusive</span>, meaning it 
        crystallizes and solidifies underground. Granite can experience 
        large-scale <span style="font-weight: bold;">weathering</span>, 
        leading to the formation of structures like Yosemite National 
        Park&#8217;s <span style="font-weight: bold;">Half Dome</span>.
    </li>
	<li class="list_item">
        <span class="label">Limestone</span> is a 
        <span style="font-weight: bold;">sedimentary rock</span> primarily 
        composed of <span style="font-weight: bold;">calcium carbonate</span>. 
        Limestone often metamorphoses into <span style="font-weight: bold;">
        marble</span>. Because limestone is made from carbonate minerals, it 
        is soluble in acid, and erosion of limestone can form 
        <span style="font-weight: bold;">karst topography</span>. Limestone is 
        commonly used in the production of <span style="font-weight: bold;">
        lime</span> and <span style="font-weight: bold;">cement</span> and as 
        a <span style="font-weight: bold;">pH buffer</span> in soil 
        conditioners.
    </li>
	<li class="list_item">
        <span class="label">Sandstone</span> is a 
        <span style="font-weight: bold;">clastic sedimentary rock</span>, 
        which means it is composed of pre-existing fragments of other rocks 
        and minerals (usually quartz and feldspar). Common subgroups of 
        sandstone include <span style="font-weight: bold;">arkose</span> 
        (sandstones containing over 25% feldspar), 
        <span style="font-weight: bold;">wackes</span> (sandstones with a 
        large amount of clay between mineral grains), and 
        <span style="font-weight: bold;">arenites</span> (sandstones with a 
        small amount of clay between mineral grains). Fine-grained sandstones 
        make good <span style="font-weight: bold;">aquifers</span> because 
        they are porous enough to allow percolation of water but still filter 
        out pollutants.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Duffy.</p>
<br />
<br />
<br />
{% endblock %}