{% extends "base.html" %}  {% block title %}Rocket Scientists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Rocket Scientists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/rocket-scientists.html">
    You Gotta Know These Rocket Scientists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Robert Goddard</span> was an early explorer of 
        the theory and practice of launching rockets. His work provided the f
        oundation for modern rocketry: in particular, 
        <span style="font-weight: bold;">gimballed engines</span> (engines 
        where the exhaust nozzles can change direction allowing the rocket 
        to be steered), <span style="font-weight: bold;">fuel pumps</span>, 
        steering with vanes, and gyroscopic stabilization. His seminal 
        monograph on the subject was 1919&#8217;s 
        <i style="font-weight: bold;"><a style="color: maroon;" 
        href="https://www.nature.com/articles/105809a0">A Method of Reaching 
        Extreme Altitudes</a></i>. The next year, he put forward a concept 
        for a rocket launch to the moon that was widely ridiculed in the 
        press as being unrealistic. Goddard is the namesake of the 
        <span style="font-weight: bold;">NASA Goddard Spaceflight Center
        </span> in Maryland.
    </li>
	<li class="list_item">
        <span class="label">Konstantin Tsiolkovsky</span>&#8217;s interest 
        in science manifested first through his science fiction writings, 
        but he gained more notoriety for his eponymous 
        <a style="font-weight: bold; color: maroon; " 
        href="https://www.grc.nasa.gov/WWW/k-12/rocket/rktpow.html">rocket 
        </a>. The Tsiolkovsky equation, as published in 1903&#8217;s <i>
        Exploration of Outer Space by Means of Rocket Device</i>, relates 
        a rocket&#8217;s speed with its mass, the speed of its exhaust, and 
        the exhaust&#8217;s mass (an application of Newton&#8217;s laws of 
        motion.) The equation is also connected with the idea of 
        <span style="font-weight: bold;">specific impulse</span>, a measure 
        of a rocket&#8217;s efficiency. Tsiolkovsky also published 
        theoretical studies on the capabilities of multi-stage, 
        liquid-fueled engines, gyroscopes, and escape velocities.
    </li>
	<li class="list_item">
        <span class="label">Hermann Oberth</span> imagined at the age of 
        14 a <span style="font-weight: bold;">recoil rocket</span>, which 
        could propel itself by exhausting gas from its base. He also lends 
        his name to the <span style="font-weight: bold;">Oberth effect
        </span>, a phenomenon by which rockets operate more efficiently 
        when moving at higher speeds, and formulated the idea behind 
        <span style="font-weight: bold;">multiple-stage rocketry</span>. 
        Oberth also mentored many German rocket engineers through the 
        <span style="font-weight: bold;">Verein f&uuml;r Raumschiffahrt
        </span> (Spaceflight Society), whose formation was inspired partially 
        by Oberth&#8217;s writing.
    </li>
	<li class="list_item">
        <span class="label">Wernher von Braun</span> was at one time a 
        student of Oberth in the Spaceflight Society. Von Braun is 
        best-known for leading Nazi Germany&#8217;s development and 
        construction of the <span style="font-weight: bold;">V-2 rocket
        </span> (literally, &#8220;vengeance weapon&#8221;), which wreaked 
        destruction on southern England during World War II. After World War 
        II, he was recruited to the US as part of 
        <span style="font-weight: bold;">Operation Paperclip</span>, and 
        proposed to launch a space station carrying a nuclear arsenal 
        (though he hedged the concept as &#8220;particularly dreadful&#8221;). 
        He presided over Mercury-Redstone development as Director of 
        NASA&#8217;s newly-opened Marshall Spaceflight Center, which 
        produced the rockets used in the Mercury spaceflights, and the 
        Saturn&nbsp;V rocket used to launch the Apollo spacecraft.
    </li>
	<li class="list_item">
        <span class="label">Hellmuth Walter</span> designed the 
        <span style="font-weight: bold;">Starthilfe</span> (takeoff assist) 
        rocket propulsion units for the <span style="font-weight: bold;">
        Messerschmidt Me&nbsp;163</span> and the vertical-takeoff 
        <span style="font-weight: bold;">Bachem Ba&nbsp;349</span> 
        aircrafts, used by the German <span style="font-weight: bold;">
        Luftwaffe</span> in World War II.  He also was awarded a patent in 
        1925 for suggesting that a catalyzed 
        <span style="font-weight: bold;">decomposition of hydrogen peroxide
        </span> could provide oxygen for combustion.
    </li>
	<li class="list_item">
        <span class="label">Sergei Korolev</span>, known until his death by 
        the pseudonym <span style="font-weight: bold;">&#8220;Chief 
        Designer&#8221;,</span> headed design and construction for the 
        Soviet long-range ballistic missile program, as well as the R-7 
        ICBM program. This work urged similar innovations in the U.S. 
        Earlier in his career, Korolev designed a rocket-powered 
        <span style="font-weight: bold;">glider</span>, though he was 
        imprisoned and forced into slave labor during the Great Purge. 
        In the 1950s, he personally oversaw <span style="font-weight: bold;">
        Sputnik</span> and Sputnik&nbsp;2, and he returned to the R-7, 
        modifying it for lunar insertion of robotic probes. His final years 
        were spent devising soft-landing methods for manned lunar missions.
    </li>
	<li class="list_item">
        <span class="label">Theodore von K&aacute;rm&aacute;n</span> was a 
        fluid dynamicist by training. As a graduate student at G&ouml;ttingen, 
        he described the so-called <span style="font-weight: bold;">
        K&aacute;rm&aacute;n vortex street</span> (a form of turbulence in 
        flow going past a cylinder, which is responsible for driving the 
        vibration or &#8220;singing&#8221; of power lines) and went on to 
        provide the theoretical basis for the idea of turbulent flows. He 
        contributed to the construction of the 
        <span style="font-weight: bold;">wind tunnel</span> at the 
        Guggenheim Aeronautical Laboratory, which eventually became the 
        <span style="font-weight: bold;">Jet Propulsion Laboratory</span>. 
        He also formed the company <span style="font-weight: bold;">Aerojet
        </span> to develop short-takeoff aircraft technologies. The 
        <span style="font-weight: bold;">K&aacute;rm&aacute;n line</span> 
        is the accepted boundary between the Earth&#8217;s atmosphere and 
        outer space, and the <span style="font-weight: bold;">
        K&aacute;rm&aacute;n ogive</span> is the shape of the cone of 
        rockets curving into the main body, which minimizes drag during 
        rocket burn.
    </li>
	<li class="list_item">
        <span class="label">Gene Kranz</span> was a trained aeronautical 
        engineer and pilot. He is best known for his Flight Directorship 
        during the Mercury and Apollo projects. He presided over a 
        departure from NASA&#8217;s traditional incremental testing 
        structure, in favor of a more aggressive, manned campaign 
        (<span style="font-weight: bold;">&#8220;all-up testing&#8221;
        </span>). As part of the <span style="font-weight: bold;">
        Apollo&nbsp;13</span> &#8220;white team,&#8221; Kranz and his 
        associates engineered the free-return trajectory and human-factors 
        management that brought the Apollo&nbsp;13 crew back safely after 
        a near-fatal spacecraft anomaly.
    </li>
	<li class="list_item">
        <span class="label">Homer Hickam</span> was inspired by seeing 
        <span style="font-weight: bold;">Sputnik</span> fly overhead to 
        study rocketry in his early teens. From his coal-company town in 
        West Virginia, he and his rocket club, <a style="font-weight: bold; 
        color: maroon;" href="http://www.airspacemag.com/space/the-big-
        creek-missile-agency-85069719/">The Big Creek Missile Agency</a>, 
        designed modest-sized rockets and won the propulsion category of the 
        1960 National Science Fair. After serving in Vietnam, Hickam worked 
        at the US Army Missile Command in Germany and Huntsville. Later, 
        he moved to NASA, where he specialized in astronaut training. He 
        trained crews for the Hubble Space Telescope&#8217;s deployment 
        extra-vehicular activity (EVA) and the first two servicing missions.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Zachary Pace.</p>
<br />
<br />
<br />
{% endblock %}