{% extends "base.html" %}  {% block title %}Scientific Scales{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a> | </li>
    <li style="display:inline">Scientific Scales</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/scientific-scales.html">
    You Gotta Know These Scientific Scales
    </a>
</h1>
<br />
<p class="justify">Science requires lots of comparisons. To make comparisons easier, 
    scientists have devised many scales over time. Broadly speaking, the 
    most common scales can be divided into four categories: 
    <span style="font-weight: bold;">linear scales</span>, 
    <span style="font-weight: bold;">logarithmic scales</span>, 
    <span style="font-weight: bold;">power scales</span>, and 
    <span style="font-weight: bold;">empirical scales</span>.
</p>
<h3 style="font-family: Cambria; font-weight: bold;">Linear Scales</h3>
<p class="justify">
    Linear scales are based on straight lines: equal differences between 
    values on the scale indicate equal differences in the phenomenon 
    being described.
</p>
<ul class="list2">
    <li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Temperature scales</span>: The scales most 
            frequently used to measure temperatures in science are the 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Kelvin</span> and 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Celsius scales</span>. The Celsius scale, 
            developed by Swedish scientist Anders Celsius in the early 1700s, 
            assigns a value of 0&deg;C to the <span style="font-weight: bold;">
            freezing point of water</span> (at a pressure of 
            1&nbsp;atmosphere), and 100&deg;C to the 
            <span style="font-weight: bold;">boiling point of water</span> 
            (at the same pressure). Prior to 2019, the 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Kelvin scale</span> is based on the 
            <span style="font-weight: bold;">triple point of water</span>, 
            the point at which water&#8217;s solid, liquid, and gaseous 
            phases can coexist in <span style="font-weight: bold;">
            equilibrium</span>: 1&nbsp;K was defined as 1/273.16 of the 
            temperature of water at its triple point. (In 2019 the 
            definition was changed to be in terms of the Boltzmann constant, 
            but the value is still essentially as just described.)
        </p>
		<p class="justify">
            Kelvins are treated like all other <a style="color: maroon;" 
            target="_blank" href="http://en.wikipedia.org/wiki/
            International_System_of_Units">SI units</a>: a temperature of 
            100&nbsp;K is read as &#8220;one hundred kelvins,&#8221; not 
            &#8220;one hundred degrees kelvin.&#8221;</p>
		<p class="justify">
            Differences on the Celsius scale have the same magnitude as 
            differences on the Kelvin scale: a gap of 1&deg;C between 
            temperatures is the same as a gap of 1&nbsp;K. Therefore the 
            lowest possible temperature, <span style="font-weight: bold;">
            absolute zero</span> (0&nbsp;K) is equal to &ndash;273.15&deg;C, 
            and (at a pressure of 1&nbsp;atmosphere) water freezes at 
            273.15&nbsp;K and boils at 373.15&nbsp;K.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Mach number</span>: Mach numbers measure 
        <span style="font-weight: bold;">speed</span>. Based on a suggestion 
        by Swiss aeronautical engineer Jakob Ackeret, it was named after 
        <span style="font-weight: bold;">Ernst Mach</span>, an Austrian 
        physicist who studied &mdash; among other things &mdash; the Doppler 
        effect, sensory perception, and the origin of inertia. The Mach 
        number is defined as the <span style="font-weight: bold;">ratio of 
        the speed of an object to the speed of sound in the same medium
        </span>. So an object moving at the speed of sound (which in dry air 
        at 20&deg;C is about 343&nbsp;m/s) has a speed of Mach&nbsp;1, and 
        an object moving at twice the speed of sound has a speed of 
        Mach&nbsp;2.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">Logarithmic Scales</h3>
<p class="justify">
    Logarithmic scales are based on the concept of logarithms: a gap of 
    one unit between measurements on the scale always corresponds to the 
    same <em>ratio</em> between the phenomena being described.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Decibel scale</span>: The decibel scale can 
        describe any kind of <span style="font-weight: bold;">power</span>, 
        but is most commonly used to describe the 
        <span style="font-weight: bold;">intensity of sound</span> waves. The 
        decibel (abbreviated dB) is one tenth of a larger unit, the 
        <span style="font-weight: bold;">bel</span> (abbreviated B), named 
        after inventor <span style="font-weight: bold;">Alexander Graham 
        Bell</span>. The intensity of a sound in decibels is given by the 
        formula <i>I</i>&nbsp;=&nbsp;10&nbsp;log(<i>P</i><sub>1</sub>/
        <i>P</i><sub>0</sub>), where <i>P</i><sub>1</sub> is the intensity 
        of the sound being measured (in watts per square meter) and <i>P</i>
        <sub>0</sub> is a <span style="font-weight: bold;">reference 
        intensity</span>, which is based on the 
        <span style="font-weight: bold;">least powerful sound wave that can 
        be detected</span> by the average human ear (namely 10
        <sup>&ndash;12</sup>&nbsp;W/m<sup>2</sup>). A 10-dB increase in 
        sound intensity corresponds to <em>multiplying</em> the energy of 
        the sound wave by 10. A normal conversation has a volume of about 
        70&nbsp;dB.
    </li>
	<li class="list_item">
        <span class="label">pH scale</span>: The pH scale, developed by 
        S.&nbsp;P.&nbsp;L. S&oslash;rensen in 1909, is used to quantify 
        <span style="font-weight: bold;">acidity</span>. The pH (power of 
        hydrogen) of a solution is defined as the 
        <span style="font-weight: bold;">opposite of the (base-10) logarithm 
        of the concentration of protons</span> in a solution: 
        pH&nbsp;=&nbsp;&ndash;log<sub>10</sub>[H<sup>+</sup>]. (The brackets 
        are standard notation in chemistry for &#8220;the concentration 
        of.&#8221;) Thus, greater concentrations of protons correspond to 
        smaller pH values. At 25&deg;C, the neutral (neither acidic nor 
        basic) pH is 7; solutions with a pH less than 7 are considered 
        acidic, and solutions with a pH greater than 7 are considered basic.
    </li>
	<li class="list_item">
        <span class="label">Richter scale</span>: The Richter scale measures 
        <span style="font-weight: bold;">earthquake intensity</span>. 
        Developed by Caltech professor Charles Francis Richter, it measures 
        the <span style="font-weight: bold;">shaking intensity</span> 
        associated with earthquakes, as quantified by the 
        <span style="font-weight: bold;">amplitude of vibrations on a 
        seismograph</span>. A magnitude-5.0 earthquake will have an amplitude 
        10 times larger than that of a magnitude&nbsp;4.0 quake. The energy 
        associated with an earthquake is actually proportional to the 3/2 
        power of the magnitude: a 1-point difference on the Richter scale 
        corresponds to a 10<sup>3/2</sup>-fold (about 31.6) difference in 
        energy. Because of difficulties in measuring the magnitudes of large 
        earthquakes, the Richter scale has been superseded by the 
        <span class="label">moment magnitude scale</span>, which uses a 
        different formula but retains the logarithmic nature (and correlates 
        to measurements on the Richter scale).
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">Power Scales</h3>
<p class="justify">
    While logarithmic scales take the logarithm of the measured number, 
    power scales raise it to an exponent. These two scales happen to use 
    an exponent of 3/2:
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Beaufort wind force scale</span>: The first 
        official use of the Beaufort scale was on the voyage of the 
        <span style="font-weight: bold;">HMS&nbsp;<i>Beagle</i></span> in 
        1831, which was led by Robert FitzRoy, who had been trained by the 
        scale&#8217;s namesake, <span style="font-weight: bold;">Sir Francis 
        Beaufort</span>, a rear admiral in the British Navy. The Beaufort 
        scale is primarily based on <span style="font-weight: bold;">wind 
        speed</span>, but also incorporates descriptions of 
        <span style="font-weight: bold;">wave height</span>, 
        <span style="font-weight: bold;">sea conditions</span>, and 
        <span style="font-weight: bold;">land conditions</span>. It starts 
        at 0, corresponding to &#8220;calm&#8221; winds with a speed less 
        than 1&nbsp;knot. In most parts of the world, it stops at 12, which 
        is designated &#8220;hurricane-force winds.&#8221; Scores of 2 to 6 
        are called &#8220;breezes,&#8221; and scores of 7 to 10 are called 
        &#8220;gales.&#8221; Since 1946 the median wind speed for each step 
        has been defined as 1.87&thinsp;<i>B</i><sup>3/2</sup>, where 
        <i>B</i> is the number on the Beaufort scale.
    </li>
	<li class="list_item">
        <span class="label">Fujita-Pearson</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Enhanced Fujita scales</span>: These scales 
        measure <span style="font-weight: bold;">tornado strength</span>. 
        The Fujita-Pearson scale was introduced in 1971 by Ted Fujita, a 
        meteorology professor at the University of Chicago, and Allen Pearson, 
        director of what is now the Storm Prediction Center. The original 
        scale went from <span style="font-weight: bold;">F0</span> (wind 
        speeds lower than hurricane force, which should cause little to no 
        damage) to <span style="font-weight: bold;">F5</span> (wind speeds 
        of 260 miles per hour, which should cause &#8220;incredible 
        damage&#8221;). Fujita also included an &#8220;inconceivable 
        damage&#8221; category for tornados exceeding 319 miles per hour 
        (theoretically possible, but no such tornado has ever been observed). 
        In 2007 the <span class="label">Enhanced Fujita (EF) scale</span> was introduced, 
        narrowing the speed ranges for each category: an EF5 begins at 
        &#8220;just&#8221; 200 miles per hour.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">Empirical Scales</h3>
<p class="justify">
    These scales assign numbers that make sense relative to each other, 
    but are arbitrary in the sense that there is no fixed quantitative 
    relationship between values on the scale.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Mohs scale</span>: Invented by Friedrich Mohs 
        in 1812, the Mohs scale is based on the 
        <span style="font-weight: bold;">abilities of minerals to scratch one 
        another</span>. The original scale assigned a value of 1 to 
        <span style="font-weight: bold;">talc</span>, which can be scratched 
        by essentially every solid known, and a value of 10 to 
        <span style="font-weight: bold;">diamond</span>, which (among 
        naturally occurring minerals) can only be scratched by other 
        diamonds. The steps are of arbitrary size, with a 1-point difference 
        corresponding to anywhere from a 1.5-fold to a 4-fold increase in 
        <span style="font-weight: bold;">hardness</span>; diamond is about 
        1600 times harder than talc. Following the discovery of more 
        ultra-hard minerals, scientists have proposed extending the scale 
        so that diamond is 15 instead of 10.
    </li>
	<li class="list_item">
        <span class="label">Pauling scale</span>: The Pauling scale, devised 
        by <span style="font-weight: bold;">Linus Pauling</span> in 1932, 
        is one of several scales that measure 
        <span style="font-weight: bold;">electronegativity</span>, the extent 
        to which <span style="font-weight: bold;">atoms attract electrons
        </span> in chemical bonds. Higher values correspond to stronger 
        attractions. <span style="font-weight: bold;">Francium</span> has 
        the lowest value, about 0.7, while <span style="font-weight: bold;">
        fluorine</span> has the highest value, about 4.0. (Noble gases are 
        not assigned values on the Pauling scale, since they were not known 
        to form any bonds when Pauling devised it.) Differences in 
        electronegativity characterize bonds: the greater the difference, 
        the more ionic the bond.
    </li>
	<li class="list_item">
        <span class="label">Saffir-Simpson scale</span>: The Saffir-Simpson 
        scale is a measure of <span style="font-weight: bold;">wind speed
        </span> and <span style="font-weight: bold;">damage from hurricanes
        </span>. It was developed in 1971 by Herbert Saffir, a civil 
        engineer, and Robert Simpson, then the director of the National 
        Hurricane Center. It rates hurricanes on a 1-to-5 scale: a 1 
        corresponds to a wind speed of 74 to 95 miles per hour, which causes 
        &#8220;some damage.&#8221; A 5 causes &#8220;catastrophic 
        damage,&#8221; with wind speeds over 157 miles per hour and affected 
        areas uninhabitable for weeks or months.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Samer T. Ismail.</p>
<br />
<br />
<br />
{% endblock %}