{% extends "base.html" %}  {% block title %}Computation Types{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mathematics">Mathematics</a> | </li>
    <li style="display:inline">Types of Computation Problems</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/computation-types.html">
    You Gotta Know These Types of Computation Problems
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Pythagorean triples</span>: Sets of small integers 
        that satisfy the equation of the Pythagorean theorem, <i>a</i>
        <sup>2</sup>&nbsp;+&nbsp;<i>b</i><sup>2</sup>&nbsp;=&nbsp;<i>c</i>
        <sup>2</sup>, and could therefore be the side lengths of a 
        <span style="font-weight: bold;">right triangle</span>. The simplest 
        ones are <span  style="font-weight: bold;">{3,&nbsp;4,&nbsp;5}</span>, 
        <span style="font-weight: bold;">{5,&nbsp;12,&nbsp;13}</span>, 
        <span style="font-weight: bold;">{7,&nbsp;24,&nbsp;25}</span>, and 
        <span style="font-weight: bold;">{8,&nbsp;15,&nbsp;17}</span>. Note 
        that any multiple of a Pythagorean triple is also a Pythagorean 
        triple, so (for instance) <span style="font-weight: bold;">
        {6,&nbsp;8,&nbsp;10}</span>, <span style="font-weight: bold;">
        {15,&nbsp;20,&nbsp;25}</span>, and <span style="font-weight: bold;">
        {300,&nbsp;400,&nbsp;500}</span> are also ones by virtue of 
        {3,&nbsp;4,&nbsp;5} being one.
    </li>
	<li class="list_item">
        <span class="label">Matrices</span>: Every team should be able to 
        <a style="color: maroon;" target="_blank" href="https://math.
        dartmouth.edu/archive/m8s00/public_html/handouts/matrices3/
        node3.html"><span style="font-weight: bold;">add</span>, 
        <span style="font-weight: bold;">subtract</span>, 
        <span style="font-weight: bold;">multiply</span>, take the 
        <span style="font-weight: bold;">determinant</span> of, 
        <span style="font-weight: bold;">transpose</span>, and 
        <span style="font-weight: bold;">invert</span> matrices</a>, 
        particularly 2&times;2 ones.
    </li>
	<li class="list_item">
        <span class="label">Vectors</span>: Every team should be able to 
        <a style="color: maroon;" target="_blank" 
        href="http://www.ltcconline.net/greenl/courses/107/Vectors/
        DOTCROS.HTM">find the <span style="font-weight: bold;">magnitude
        </span> (length) of a vector, and <span style="font-weight: bold;">
        add</span>, <span style="font-weight: bold;">subtract</span>, find 
        the <span style="font-weight: bold;">angle</span> between, find the 
        <span style="font-weight: bold;">dot product</span> of, and find 
        the <span style="font-weight: bold;">cross product</span></a> of 
        two vectors.
    </li>
	<li class="list_item">
        <span class="label">Solids</span>: Teams should be able to 
        calculate the <span style="font-weight: bold;">volume</span> and 
        <span style="font-weight: bold;">surface area</span> of 
        <a style="color: maroon;" target="_blank" 
        href="https://www.skillsyouneed.com/num/area-volume-reference.html">
        simple geometric figures</a> including the 
        <span style="font-weight: bold;">sphere</span>, 
        <span style="font-weight: bold;">cone</span>, 
        <span style="font-weight: bold;">cylinder</span>, 
        <span style="font-weight: bold;">pyramid</span>, 
        <span style="font-weight: bold;">hemisphere</span>, 
        <span style="font-weight: bold;">prism</span>, and 
        <span style="font-weight: bold;">parallelepiped</span>.
    </li>
	<li class="list_item">
        <span class="label">Plane figures</span>: Teams should be able to 
        calculate the <span style="font-weight: bold;">areas</span> of 
        <span style="font-weight: bold;">triangles</span>, 
        <span style="font-weight: bold;">trapezoids</span>, 
        <span style="font-weight: bold;">parallelograms</span>, 
        <span style="font-weight: bold;">rhombi</span>, 
        <span style="font-weight: bold;">regular polygons</span>, and 
        <span style="font-weight: bold;">circles</span> using several 
        methods.
    </li>
	<li class="list_item">
        <span class="label">Similar figures</span>: The areas of similar 
        figures are related by the <span style="font-weight: bold;">
        square</span> of any corresponding length, and the volumes are 
        related by the <span style="font-weight: bold;">cube</span> of any 
        corresponding length. For instance, if a square has a diagonal 
        that is 30% longer than another square, it has an area that is 
        1.30&nbsp;&times;&nbsp;1.30&nbsp;=&nbsp;1.69 times as great (69% 
        greater). Similar reasoning applies to perimeters, side lengths, 
        diameters, and so forth.
    </li>
	<li class="list_item">
        <span class="label">Combinatorics</span>:  Teams should be able to 
        compute the number of <a style="color: maroon;" target="_blank" 
        href="https://www.cs.sfu.ca/~ggbaker/zju/math/perm-comb.html">
        <span style="font-weight: bold;">permutations</span> and 
        <span style="font-weight: bold;">combinations</span></a> of <i>n</i> 
        objects taken <i>m</i> at a time.  They should also have memorized 
        the first six (or so) values of the <span style="font-weight: bold;">
        factorial function</span> to make this easier.
    </li>
	<li class="list_item">
        <span class="label">Logarithms</span>:  Teams should be familiar with 
        <a style="color: maroon;" target="_blank" 
        href="http://www.themathpage.com/alg/logarithms.htm">basic 
        operations of logarithmic math</a>: simplifying the logarithm of a 
        product, difference, or power, and <span style="font-weight: bold;">
        converting</span> from one base to another.
    </li>
	<li class="list_item">
        <span class="label">Complex numbers</span>: Teams should be familiar 
        with the symbol <i>i</i> representing an imaginary square root of 
        &ndash;1, <a style="color: maroon;" target="_blank" 
        href="http://www.clarku.edu/~djoyce/complex/">basic operations on 
        complex numbers</a>, graphing complex numbers, and converting 
        complex numbers to <span style="font-weight: bold;">polar form</span>.
    </li>
	<li class="list_item">
        <span class="label">Divisibility rules</span>:  Teams should be able 
        to quickly apply the <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/Divisibility_rule#Divisibility_
        rules_for_numbers_1%E2%80%9330">divisibility rules</a> for small 
        integers (2 through 11) to large integers.
    </li>
	<li class="list_item">
        <span class="label">Polynomials</span>:  Teams should be able to 
        quickly <span style="font-weight: bold;">add</span>, 
        <span style="font-weight: bold;">subtract</span>, 
        <span style="font-weight: bold;">multiply</span>, 
        <span style="font-weight: bold;">divide</span>, 
        <span style="font-weight: bold;">factor</span>, and find the 
        <span style="font-weight: bold;">roots</span> of low-
        <span style="font-weight: bold;">degree</span> polynomials, and 
        understand how the degree behaves under the first four operations.
    </li>
	<li class="list_item">
        <span class="label">Calculus</span>:  Teams should be able to find the 
        <a style="color: maroon;" target="_blank" 
        href="http://www.sosmath.com/calculus/calculus.html">
        <span style="font-weight: bold;">derivative</span>, 
        <span style="font-weight: bold;">integral</span>, 
        <span style="font-weight: bold;">slope at a point</span>, 
        <span style="font-weight: bold;">local extrema</span>, 
        <span style="font-weight: bold;">points of inflection</span>, and 
        <span style="font-weight: bold;">critical points</span></a> of 
        <span style="font-weight: bold;">polynomial</span>, 
        <span style="font-weight: bold;">trigonometric</span>, and other 
        common functions.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}