{% extends "base.html" %}  {% block title %}African-American Authors{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">African-American Authors</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/african-american-authors.html">
    You Gotta Know These African-American Authors
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">James Baldwin</span> (1924&ndash;1987) grew up in 
        <span style="font-weight: bold;">Harlem</span>, which he portrayed in 
        his first novel <i style="font-weight: bold;">Go Tell It on the 
        Mountain</i>. That novel is about the teenage 
        <span style="font-weight: bold;">John Grimes</span> and his 
        fanatically religious stepfather Gabriel. In Baldwin&#8217;s novel 
        <i style="font-weight: bold;">Giovanni&#8217;s Room</i>, an American 
        named David has an affair with the title Italian bartender. His novel 
        <i style="font-weight: bold;">If Beale Street Could Talk</i>, 
        about the love between <span style="font-weight: bold;">Tish</span> 
        and a man named <span style="font-weight: bold;">Fonny</span> who 
        has been falsely accused of rape, was made into a 2018 movie directed 
        by Barry Jenkins. Baldwin also wrote several essays, including an 
        examination of race and religion in <i style="font-weight: bold;">
        The Fire Next Time</i>. His essay collection 
        <i style="font-weight: bold;">Notes of a Native Son</i> begins with 
        <span style="font-weight: bold;">&#8220;Everybody&#8217;s Protest 
        Novel,&#8221;</span> which is critical of <i>Uncle Tom&#8217;s Cabin
        </i> and <i>Native Son</i>.
    </li>
	<li class="list_item">
        <span class="label">Gwendolyn Brooks</span> (1917&ndash;2000) became 
        the first African-American person to win a Pulitzer in 1950 for her 
        poetry collection <i style="font-weight: bold;">Annie Allen</i>. 
        Many of her works reflect her experiences in 
        <span style="font-weight: bold;">Bronzeville</span>, a neighborhood 
        on Chicago&#8217;s South Side that became a center of 
        African-American life during the Great Migration. Her best-known poem, 
        <span style="font-weight: bold;">&#8220;We Real Cool,&#8221;</span> 
        is set at the Golden Shovel and consists of three-word sentences 
        starting with &#8220;We,&#8221; such as &#8220;We&nbsp;/ Lurk 
        late&#8221; and &#8220;We&nbsp;/ Jazz June.&#8221; Though primarily 
        a poet, Brooks also wrote the novel <i style="font-weight: bold;">
        Maud Martha</i>.
    </li>
	<li class="list_item">
        <span class="label">Ralph Ellison</span> (1919&ndash;1994) is best 
        known for his novel <i style="font-weight: bold;">Invisible Man</i>, 
        whose unnamed narrator earns a college scholarship by participating 
        in a degrading <span style="font-weight: bold;">Battle Royal</span>; 
        after being kicked out of college and working at the 
        <span style="font-weight: bold;">Liberty Paint company</span> 
        (known for its pure white paint), he joins a political group called 
        <span style="font-weight: bold;">the Brotherhood</span>. At the 
        climax of the novel, the narrator is nearly lynched by a Black 
        nationalist named <span style="font-weight: bold;">Ras the Destroyer
        </span> during riots in Harlem. Ellison&#8217;s unfinished second 
        novel was published posthumously in a long version called 
        <i style="font-weight: bold;">Three Days Before the Shooting&hellip;
        </i> and a short version called <i style="font-weight: bold;">
        Juneteenth</i>.
    </li>
	<li class="list_item">
        <span class="label">Lorraine Hansberry</span> (1930&ndash;1965) is 
        best known for her play <i style="font-weight: bold;">A Raisin in 
        the Sun</i>. That play is about the <span style="font-weight: bold;">
        Younger family</span>, who debate how to use $10,000 in life insurance 
        money. Walter wants to invest the money in a liquor store, while his 
        mother <span style="font-weight: bold;">Mama</span> wants to buy a 
        house in the white neighborhood <span style="font-weight: bold;">
        Clybourne Park</span>. Mama&#8217;s daughter 
        <span style="font-weight: bold;">Beneatha</span> wants to spend the 
        money on medical school and, unlike the other members of the family, 
        explores her African heritage. Hansberry&#8217;s other works include 
        the play <i style="font-weight: bold;">The Sign in Sidney 
        Brustein&#8217;s Window</i> and the autobiography 
        <i style="font-weight: bold;">To Be Young, Gifted and Black</i>.
    </li>
	<li class="list_item">
        <span class="label">Langston Hughes</span> (1901&ndash;1967) was a 
        leading poet of the Harlem Renaissance. His poems 
        <span style="font-weight: bold;">&#8220;I, Too&#8221;</span> and 
        <span style="font-weight: bold;">&#8220;Let America Be America 
        Again&#8221;</span> address America&#8217;s racist history and the 
        feelings of exclusion it causes. His poem 
        <span style="font-weight: bold;">&#8220;The Negro Speaks of 
        Rivers&#8221;</span> invokes world rivers like the Euphrates and the 
        Congo and repeats the line &#8220;My soul has grown deep like the 
        rivers,&#8221; while his poem <span style="font-weight: bold;">
        &#8220;The Weary Blues&#8221;</span> describes a blues performance on 
        Lenox Avenue in Harlem. He also wrote the poem 
        <span style="font-weight: bold;">&#8220;Harlem,&#8221;</span> which 
        asks <span style="font-weight: bold;">&#8220;What happens to a 
        dream deferred?&#8221;</span> and which inspired the title of 
        Hansberry&#8217;s <i>A Raisin in the Sun</i>.
    </li>
	<li class="list_item">
        <span class="label">Zora Neale Hurston</span> (1891&ndash;1960) set 
        many of her works in her hometown of <span style="font-weight: bold;">
        Eatonville, Florida</span>. Her best-known novel, 
        <i style="font-weight: bold;">Their Eyes Were Watching God</i>, 
        is about <span style="font-weight: bold;">Janie Crawford</span>, 
        whose sexual awakening is compared to the blossoming of a 
        <span style="font-weight: bold;">pear tree</span>. Janie 
        successively marries <span style="font-weight: bold;">Logan Killicks
        </span>, <span style="font-weight: bold;">Jody Starks</span>, and 
        <span style="font-weight: bold;">Tea Cake</span>; when Tea Cake 
        attacks her after being bitten by a rabid dog during a hurricane, 
        she shoots him. Hurston was also a prominent anthropologist, 
        collecting African-American folklore in books like 
        <i style="font-weight: bold;">Mules and Men</i>. Her work was 
        relatively unknown until 1975, when Alice Walker published the 
        article &#8220;In Search of Zora Neale Hurston.&#8221;
    </li>
	<li class="list_item">
        <span class="label">Toni Morrison</span> (1931&ndash;2019) was the 
        first Black woman to win a Nobel Prize in Literature and won a 
        Pulitzer for her novel <i style="font-weight: bold;">Beloved</i>. 
        <i>Beloved</i> is about <span style="font-weight: bold;">Sethe</span>, 
        a slave who escaped from <span style="font-weight: bold;">Sweet Home 
        plantation</span> in Kentucky to <span style="font-weight: bold;">
        124 Bluestone Road</span> in Cincinnati. Sethe is haunted by the 
        ghost of Beloved, a daughter she killed to prevent her from being 
        returned to slavery. Morrison&#8217;s first novel, 
        <i style="font-weight: bold;">The Bluest Eye</i>, is about 
        <span style="font-weight: bold;">Pecola Breedlove</span>, a Black 
        foster child who considers herself ugly and wishes she had blue eyes. 
        Morrison&#8217;s other acclaimed novels include Song of Solomon, 
        about the life of <span style="font-weight: bold;">Macon 
        Dead&nbsp;III</span>, who is nicknamed 
        <span style="font-weight: bold;">&#8220;Milkman&#8221;</span> 
        because he is breastfed by his mother for a long time.
    </li>
	<li class="list_item">
        <span class="label">Alice Walker</span> (1944&ndash;) won a National 
        Book Award and a Pulitzer for her novel 
        <i style="font-weight: bold;">The Color Purple</i>, whose protagonist, 
        <span style="font-weight: bold;">Celie</span>, is repeatedly raped 
        by her father, producing the children Olivia and Adam, both of whom 
        are immediately taken away by her father. Celie deals with her trauma 
        by writing letters to God. Celie marries 
        <span style="font-weight: bold;">Mister</span>, who also abuses her; 
        she has an affair with <span style="font-weight: bold;">Shug Avery
        </span>, a blues singer who is also Mister&#8217;s mistress. 
        Walker&#8217;s short story <span style="font-weight: bold;">
        &#8220;Everyday Use&#8221;</span> is about the cultural differences 
        between Dee and Maggie, the two daughters of a Southern woman known 
        as Mama.
    </li>
	<li class="list_item">
        <span class="label">Phillis Wheatley</span> (1753&ndash;1784) was 
        born in Africa and brought to the United States as a slave in 1761; 
        Wheatley was her slave name. She was freed in the 1770s shortly 
        after the release of her collection <i style="font-weight: bold;">
        Poems on Various Subjects, Religious and Moral</i>. Her poem 
        <span style="font-weight: bold;">&#8220;On Being Brought from Africa 
        to America&#8221;</span> says that &#8220;mercy&#8221; brought her 
        from her &#8220;Pagan land&#8221; and taught her &#8220;benighted 
        soul&#8221; about God and Christian redemption. She praised George 
        Washington in her poem <span style="font-weight: bold;">&#8220;To 
        His Excellency General Washington.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Richard Wright</span> (1908&ndash;1960) wrote 
        the 1940 bestseller <i style="font-weight: bold;">Native Son</i>. 
        he protagonist of that novel, <span style="font-weight: bold;">Bigger 
        Thomas</span>, gets a job as a chauffeur for 
        <span style="font-weight: bold;">Mary Dalton</span>, but he 
        suffocates her with a pillow for fear of being discovered in bed 
        with her. Bigger later rapes and murders his girlfriend 
        <span style="font-weight: bold;">Bessie</span>, and is ultimately 
        sentenced to death for the murders. Wright&#8217;s memoir 
        <i style="font-weight: bold;">Black Boy</i> describes his youth in 
        the Jim Crow South and his move to Chicago, where he joins and then 
        becomes disillusioned with the Communist Party. Wright also wrote 
        <i>Uncle Tom&#8217;s Children</i>, a collection of novellas including 
        <span style="font-weight: bold;">&#8220;Big Boy Leaves 
        Home&#8221;</span> and <span style="font-weight: bold;">&#8220;Fire 
        and Cloud.&#8221;</span>
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer David Reinstein.</p>
<br />
<br />
<br />
{% endblock %}