{% extends "base.html" %}  {% block title %}American Plays{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">American Plays</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/american-plays.html">
    You Gotta Know These American Plays
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <i class="label">Our Town</i> (<span style="font-weight: bold;">
        Thornton Wilder</span>, 1938). A sentimental story that takes place 
        in the village of <span style="font-weight: bold;">Grover&#8217;s 
        Corners, New Hampshire</span> just after the turn of the 20th century, 
        <i>Our Town</i> is divided into three acts:  &#8220;Daily Life&#8221; 
        (<span style="font-weight: bold;">Professor Willard</span> and 
        <span style="font-weight: bold;">Editor Webb</span> gossip on the 
        everyday lives of town residents); &#8220;Love and Marriage&#8221; 
        (<span style="font-weight: bold;">Emily Webb</span> and 
        <span style="font-weight: bold;">George Gibbs</span> fall in love 
        and marry); and &#8220;Death&#8221; (Emily dies while giving birth, 
        and her spirit converses about the meaning of life with other 
        dead people in the cemetery). A <span style="font-weight: bold;">
        Stage Manager</span> talks to the audience and serves as a narrator 
        throughout the drama, which is performed on a bare stage.
    </li>
	<li class="list_item">
        <i class="label">Long Day&#8217;s Journey Into Night</i> 
        (<span style="font-weight: bold;">Eugene O&#8217;Neill</span>, 1956).  
        O&#8217;Neill wrote it fifteen years earlier and presented the 
        manuscript to his third wife with instructions that it not be 
        produced until 25&nbsp;years after his death. Actually produced 
        three years after he died, it centers on 
        <span style="font-weight: bold;">Edmund</span> and the rest of the 
        <span style="font-weight: bold;">Tyrone family</span>, but is 
        really an autobiographical account of the dysfunction of 
        O&#8217;Neill&#8217;s own family, set on one day in August 1912. 
        The father is a miserly actor, while the mother is a 
        <span style="font-weight: bold;">morphine</span> addict, and the 
        brother is a drunk; they argue and cut each other down throughout 
        the play.
    </li>
	<li class="list_item">
        <i class="label">Who&#8217;s Afraid of Virginia Woolf?</i> 
        (<span style="font-weight: bold;">Edward Albee</span>, 1962). The 
        author Virginia Woolf has little to do with the story, except that 
        <span style="font-weight: bold;">Martha</span> sings the title to 
        <span style="font-weight: bold;">George</span> when she is mad at 
        him in Act&nbsp;I. In fact, Albee got the title from graffiti he 
        saw on a men&#8217;s room wall. In the drama, George is a professor 
        who married Martha, the college president&#8217;s daughter, but 
        the two dislike each other. Martha invites another couple, the 
        instructor <span style="font-weight: bold;">Nick</span> and his wife 
        <span style="font-weight: bold;">Honey</span>, for drinks after a 
        party for her father. All four of them get drunk, and they end up 
        bickering over their flawed marriages:  Besides George and 
        Martha&#8217;s problems, Honey is barren, and Nick married her 
        for her money.
    </li>
	<li class="list_item">
        <i class="label">A Streetcar Named Desire</i> 
        (<span style="font-weight: bold;">Tennessee Williams</span>, 1947). 
        <span style="font-weight: bold;">Blanche DuBois</span> and 
        <span style="font-weight: bold;">Stanley Kowalski</span> represent 
        Williams&#8217;s two visions of the <span style="font-weight: bold;">
        South</span>: declining &#8220;old romantic&#8221; vs. the harsh 
        modern era. Blanche is a Southern belle who lost the family estate, 
        and is forced to move into her sister 
        <span style="font-weight: bold;">Stella</span>&#8217;s New Orleans 
        apartment. Stella&#8217;s husband <span style="font-weight: bold;">
        Stanley</span> is rough around the edges, but sees through 
        Blanche&#8217;s artifice; he ruins Blanche&#8217;s chance to marry 
        his friend <span style="font-weight: bold;">Mitch</span> by revealing 
        to Mitch that Blanche was a prostitute. Then, after Blanche confronts 
        Stanley, he rapes her, driving her into insanity. The drama was 
        developed into a movie, marking the breakthrough performance of 
        method actor <span style="font-weight: bold;">Marlon Brando</span>.
    </li>
	<li class="list_item">
        <i class="label">A Raisin in the Sun</i> 
        (<span style="font-weight: bold;">Lorraine Hansberry</span>, 1959). 
        Her father&#8217;s 1940 court fight against 
        <span style="font-weight: bold;">racist housing laws</span> provided 
        the basis for Hansberry&#8217;s play about the 
        <span style="font-weight: bold;">Younger family</span>, who attempt 
        to move into an all-white Chicago suburb but are confronted by 
        discrimination. The first play by an African-American woman to 
        be performed on Broadway, it also tore down the racial stereotyping 
        found in other works of the time.  The title comes from the 
        <span style="font-weight: bold;">Langston Hughes</span> poem "
        <a style="color: maroon;" target="_blank" 
        href="https://www.poetryfoundation.org/poems/46548/harlem">Harlem
        </a>" (often called <span style="font-weight: bold;">&#8220;A 
        Dream Deferred&#8221;</span>).
    </li>
	<li class="list_item">
        <i class="label">The Crucible</i> 
        (<span style="font-weight: bold;">Arthur Miller</span>, 1953). 
        Miller chose the 1692 <span style="font-weight: bold;">Salem witch 
        trials</span> as his setting, but the work is really an 
        <span style="font-weight: bold;">allegorical</span> protest against 
        the <span style="font-weight: bold;">McCarthy anti-Communist 
        &#8220;witch-hunts&#8221;</span> of the early 1950s. In the story, 
        <span style="font-weight: bold;">Elizabeth Proctor</span> fires the 
        servant <span style="font-weight: bold;">Abigail Williams</span> 
        after she finds out Abigail had an affair with her husband. In 
        response, Abigail accuses Elizabeth of witchcraft. She stands trial 
        and is acquitted, but then another girl accuses her husband, 
        <span style="font-weight: bold;">John</span>, and as he refuses to 
        turn in others, he is killed, along with the old comic figure, 
        <span style="font-weight: bold;">Giles Corey</span>. Also notable: 
        <span style="font-weight: bold;">Judge Hathorne</span> is a direct 
        ancestor of the author <span style="font-weight: bold;">Nathaniel 
        Hawthorne</span>.
    </li>
	<li class="list_item">
        <i class="label">Death of a Salesman</i> 
        (<span style="font-weight: bold;">Arthur Miller</span>, 1949). 
        This play questions American values of success. 
        <span style="font-weight: bold;">Willy Loman</span> is a failed 
        salesman whose firm fires him after 34 years. Despite his own 
        failures, he desperately wants his sons 
        <span style="font-weight: bold;">Biff</span> and 
        <span style="font-weight: bold;">Happy</span> to succeed. Told in 
        a series of flashbacks, the story points to Biff&#8217;s moment of 
        hopelessness, when the former high school star catches his father 
        Willy cheating on his mother, <span style="font-weight: bold;">
        Linda</span>. Eventually, Willy can no longer live with his perceived 
        shortcomings, and commits suicide in an attempt to leave Biff with 
        <span style="font-weight: bold;">insurance money</span>.
    </li>
	<li class="list_item">
        <i class="label">Mourning Becomes Electra</i> 
        (<span style="font-weight: bold;">Eugene O&#8217;Neill</span>, 1931). 
        This play is really a trilogy, consisting of 
        &#8220;Homecoming,&#8221; &#8220;The Hunted,&#8221; and 
        &#8220;The Haunted.&#8221; Though it is set in post-Civil War New 
        England, O&#8217;Neill used <span style="font-weight: bold;">
        Aeschylus</span>&#8217;s tragedy <i style="font-family: Cambria; 
        font-weight: bold; font-size: large;">The Oresteia</i> as the basis 
        for the plot. <span style="font-weight: bold;">Lavinia Mannon</span> 
        desires revenge against her mother, 
        <span style="font-weight: bold;">Christine</span>, who with the help 
        of her lover <span style="font-weight: bold;">Adam Brant</span> has 
        poisoned Lavinia&#8217;s father <span style="font-weight: bold;">Ezra
        </span>; Lavinia persuades her brother 
        <span style="font-weight: bold;">Orin</span> to kill Brant. A 
        distressed Christine commits suicide, and, after Orin and Lavinia 
        flee to the South Seas, Orin cannot stand the guilt and kills 
        himself as well, leaving Lavinia in the house alone.
    </li>
	<li class="list_item">
        <i class="label">The Glass Menagerie</i> 
        (<span style="font-weight: bold;">Tennessee Williams</span>, 1944). 
        Partly based on Williams&#8217; own family, the drama is narrated by 
        <span style="font-weight: bold;">Tom Wingfield</span>, who supports 
        his mother <span style="font-weight: bold;">Amanda</span> and his 
        crippled sister <span style="font-weight: bold;">Laura</span> (who 
        takes refuge from reality in her glass animals). At Amanda&#8217;s 
        insistence, Tom brings his friend <span style="font-weight: bold;">
        Jim O&#8217;Connor</span> to the house as a 
        <span style="font-weight: bold;">&#8220;gentleman caller&#8221;
        </span> for Laura. While O&#8217;Connor is there, the horn on 
        Laura&#8217;s glass <span style="font-weight: bold;">unicorn</span> 
        breaks, bringing her into reality, until O&#8217;Connor tells the 
        family that he is already engaged. Laura returns to her fantasy 
        world, while Tom abandons the family after fighting with Amanda.
    </li>
	<li class="list_item">
        <i class="label">The Iceman Cometh</i> 
        (<span style="font-weight: bold;">Eugene O&#8217;Neill</span>, 1939). 
        A portrait of drunkenness and hopeless dreams. Regular patrons of the 
        <span style="font-weight: bold;">End of the Line Caf&eacute;</span> 
        anticipate the annual arrival of <span style="font-weight: bold;">
        Theodore &#8220;Hickey&#8221; Hickman</span>, but in 1912 he returns 
        to them sober. After the patrons reveal their &#8220;pipe 
        dreams,&#8221; Hickey implores them to give up those dreams and lead 
        productive lives. The &#8220;Iceman&#8221; is supposed to represent 
        the &#8220;death&#8221; found in reality.
    </li>
	<li class="list_item">
        <i class="label">Cat on a Hot Tin Roof</i> 
        (<span style="font-weight: bold;">Tennessee Williams</span>, 1955). 
        Centers on a fight between two sons, 
        <span style="font-weight: bold;">Gooper</span> and 
        <span style="font-weight: bold;">Brick</span>, over the estate 
        of their father <span style="font-weight: bold;">&#8220;Big 
        Daddy&#8221; Pollitt</span>, who is dying of 
        <span style="font-weight: bold;">cancer</span>. After his friend 
        <span style="font-weight: bold;">Skipper</span> dies, ex-football 
        star Brick turns to alcohol and will not have sex with his wife 
        <span style="font-weight: bold;">Maggie</span> (&#8220;the 
        cat&#8221;). Yet Maggie announces to Big Daddy that she is 
        <span style="font-weight: bold;">pregnant</span> in an attempt to 
        force a reconciliation with &mdash; and win the inheritance for 
        &mdash; Brick.
    </li>
	<li class="list_item">
        <i class="label">The Little Foxes</i> 
        (<span style="font-weight: bold;">Lillian Hellman</span>, 1939). 
        Set on a <span style="font-weight: bold;">plantation</span> in 1900, 
        Hellman attempts to show that by this time any notion of 
        <span style="font-weight: bold;">antebellum</span> Southern gentility 
        has been destroyed by modern <span style="font-weight: bold;">
        capitalism</span> and <span style="font-weight: bold;">industrialism
        </span>. Three <span style="font-weight: bold;">Hubbard</span> 
        siblings (<span style="font-weight: bold;">Regina</span> and her 
        two brothers) scheme to earn vast riches at the expense of other 
        family members, such as Regina&#8217;s husband 
        <span style="font-weight: bold;">Horace</span> and their daughter 
        <span style="font-weight: bold;">Alexandra</span>. The title is 
        taken from the Old Testament <span style="font-weight: bold;">
        Song of Solomon</span>: &#8220;the little foxes that spoil the 
        vines.&#8221;
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}