{% extends "base.html" %}  {% block title %}Ancient Greek Plays{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Ancient Greek Plays</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/ancient-greek-plays.html">
    You Gotta Know These Ancient Greek Plays
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">The Frogs</span> 
        (<span style="font-weight: bold;">Aristophanes</span>, 
        c.&nbsp;405&nbsp;BC) This comedy centers on the god 
        <span style="font-weight: bold;">Dionysus</span>, who journeys to the 
        <span style="font-weight: bold;">underworld</span> with his much 
        smarter slave, <span style="font-weight: bold;">Xanthias</span>. 
        Dionysus is unhappy with the low quality of contemporary theater, 
        and plans to bring the playwright <span style="font-weight: bold;">
        Euripides</span> back from the dead. As the ferryman 
        <span style="font-weight: bold;">Charon</span> rows Dionysus to the 
        underworld (Xanthias is forced to walk), a chorus of the title 
        creatures appears and repeatedly chants the phrase 
        <span style="font-weight: bold;">&#8220;Brekekekex, ko-ax, 
        ko-ax.&#8221;</span> Dionysus and Xanthias then have a series of 
        misadventures, during which they alternately claim to be 
        <span style="font-weight: bold;">Heracles</span>. Finally, the two 
        find Euripides arguing with the playwright 
        <span style="font-weight: bold;">Aeschylus</span> as to which is 
        the better author. After the dramatists &#8220;weigh&#8221; their 
        verses on a scale, and offer advice on how to save the city of 
        Athens, Dionysus judges that it is Aeschylus who should be brought 
        back to life.
    </li>
	<li class="list_item">
        <span class="label">The Birds</span> 
        (<span style="font-weight: bold;">Aristophanes</span>, 
        c.&nbsp;414&nbsp;BC) At the start of this comedy, two Athenians named 
        <span style="font-weight: bold;">Peisthetaerus</span> and 
        <span style="font-weight: bold;">Euelpides</span> seek out 
        <span style="font-weight: bold;">Tereus</span>, a human king who 
        was transformed into a bird called a <span style="font-weight: bold;">
        hoopoe</span> (some translations refer to Tereus as 
        <span style="font-weight: bold;">&#8220;Epops,&#8221;</span> the 
        Greek word for &#8220;hoopoe&#8221;). Peisthetaerus convinces Tereus 
        and his fellow birds to build a city in the sky, which would allow 
        the birds to demand sacrifices from humans, and to blockade the 
        <span style="font-weight: bold;">Olympian gods</span>. 
        Peisthetaerus and Euelpides eat a root that gives them wings, and 
        aid the birds in the construction of the city 
        <span style="font-weight: bold;">Nephelokokkygia</span>, or 
        <span style="font-weight: bold;">&#8220;Cloudcuckooland.&#8221;</span> 
        Peisthetaerus also drives away objectionable visitors, such as a 
        <span style="font-weight: bold;">poet</span>, an 
        <span style="font-weight: bold;">oracle-monger</span>, and a 
        <span style="font-weight: bold;">dealer in decrees</span>. After the 
        messenger goddess <span style="font-weight: bold;">Iris</span> is 
        found in the city, the residents of Cloudcuckooland demand 
        concessions from the Olympians. On the advice of 
        <span style="font-weight: bold;">Prometheus</span>, Peisthetaerus 
        demands that <span style="font-weight: bold;">Zeus</span> give up 
        his mistress <span style="font-weight: bold;">Basileia</span>, or 
        Sovereignty, from whom &#8220;all things come.&#8221; Peisthetaerus 
        marries Basileia, and is crowned king.
    </li>
	<li class="list_item">
        <span class="label">The Clouds</span> 
        (<span style="font-weight: bold;">Aristophanes</span>, 
        c.&nbsp;423&nbsp;BC) This comedy lampoons 
        <span style="font-weight: bold;">Athenian philosophers</span>, 
        especially <span style="font-weight: bold;">Socrates</span> and his 
        <span style="font-weight: bold;">Sophist</span> followers, whose 
        insubstantial, obfuscating arguments are inspired by the title 
        goddesses. The protagonist, <span style="font-weight: bold;">
        Strepsiades</span>, fears that his horse-obsessed son, 
        <span style="font-weight: bold;">Pheidippides</span>, is spending too 
        much money. Consequently, Strepsiades wants Pheidippides to enroll 
        in the <span style="font-weight: bold;">Phrontisterion</span>, or 
        <span style="font-weight: bold;">&#8220;Thinkery&#8221;</span> of 
        Socrates to learn specious arguments that can be used to avoid 
        paying debts. Pheidippides refuses, so Strepsiades enrolls in the 
        Thinkery himself. There, Strepsiades learns about new discoveries, 
        such as a technique to measure how far a flea can jump. Eventually 
        Pheidippides is also pressured into studying at the Thinkery, where 
        he and Strepsiades are instructed by the beings 
        <span style="font-weight: bold;">Just</span> and 
        <span style="font-weight: bold;">Unjust Discourse</span>. 
        Strepsiades believes that the education will enable Pheidippides 
        to foil all creditors, but  Pheidippides instead uses his new-found 
        debating skills to justify beating up his father. In response, 
        Strepsiades leads a mob to destroy the Thinkery.
    </li>
	<li class="list_item">
        <span class="label">Lysistrata</span> 
        (<span style="font-weight: bold;">Aristophanes</span>, 
        c.&nbsp;411&nbsp;BC) The title character of this comedy is an 
        <span style="font-weight: bold;">Athenian</span> woman who decides 
        to end the <span style="font-weight: bold;">Peloponnesian War</span>, 
        which was still ongoing when the play premiered in 411&nbsp;BC. At 
        the beginning of the play, Lysistrata assembles a secret 
        <span style="font-weight: bold;">&#8220;Council of 
        Women,&#8221;</span> whose members represent many different regions 
        of <span style="font-weight: bold;">Greece</span>. Once the women 
        have gathered, Lysistrata reveals her proposal: all Greek women 
        should abstain from having sex until the men agree to stop fighting. 
        Although Lysistrata&#8217;s plan draws protests from her bawdy 
        neighbor <span style="font-weight: bold;">Calonice</span>, and 
        from the amorous wife <span style="font-weight: bold;">
        Myrrhine</span>, the <span style="font-weight: bold;">Spartan</span> 
        <span style="font-weight: bold;">Lampito</span> reluctantly supports 
        the idea, and helps to convince the other women. As Athenian women 
        capture the <span style="font-weight: bold;">Acropolis</span>, the 
        female representatives from other regions return home 
        to enlist their compatriots in the plan. The ensuing events include 
        conflicts between a <span style="font-weight: bold;">chorus of old 
        women</span> and a <span style="font-weight: bold;">chorus of old men
        </span>, and a personal plea to Myrrhine from her husband, 
        <span style="font-weight: bold;">Cinesias</span>. Both genders suffer 
        from sexual deprivation, but the women of Greece remain united. 
        With the aid of a beautiful girl called 
        <span style="font-weight: bold;">Diallage</span>, or 
        <span style="font-weight: bold;">Reconciliation</span>, Lysistrata 
        convinces the frenzied men to agree to an equitable peace.
    </li>
	<li class="list_item">
        <span class="label">Oedipus Rex</span> 
        (<span style="font-weight: bold;">Sophocles</span>, 
        c.&nbsp;429&nbsp;BC, also known by its translated title 
        <span class="label">Oedipus the King</span>) This tragedy tells the 
        story of <span style="font-weight: bold;">Oedipus</span>, a man who 
        became <span style="font-weight: bold;">king of Thebes</span> by 
        defeating a monster called the <span style="font-weight: bold;">
        sphinx</span>. After a mysterious <span style="font-weight: bold;">
        plague</span> devastates Thebes, Oedipus sends his brother-in-law 
        <span cstyle="font-weight: bold;">Creon</span> to ask the 
        <span style="font-weight: bold;">Oracle at Delphi</span> about the 
        cause of the affliction. The Oracle attributes the plague to the 
        fact that the murderer of <span style="font-weight: bold;">Laius
        </span>, the previous king of Thebes, has never been caught and 
        punished. Oedipus then seeks information from the prophet 
        <span style="font-weight: bold;">Teiresias</span>, who is provoked 
        into revealing that Oedipus himself was the killer. Oedipus initially 
        rejects this claim, but begins to have doubts after talking with his 
        wife <span style="font-weight: bold;">Jocasta</span>, who was once 
        married to Laius. Jocasta recalls a prophecy that Laius would be 
        killed by his own son, but she claims that this prophecy did not 
        come true, because Laius was murdered by 
        <span style="font-weight: bold;">highwaymen</span>. This leads 
        Oedipus to recall killing a man who resembled Laius, and a prophecy 
        which had claimed that Oedipus would kill his own father, and marry 
        his own mother. A <span style="font-weight: bold;">shepherd</span> 
        from <span style="font-weight: bold;">Mount Cithaeron</span> reveals 
        the awful truth: in response to the prophecy about their son, Laius 
        and Jocasta had tried to expose the infant Oedipus in the wilderness. 
        However, the shepherd had taken pity on the child, and sent him away 
        to be raised in another area. Not knowing his true heritage, Oedipus 
        eventually left home to avoid harming the people whom he believed 
        to be his parents, but unknowingly fulfilled the prophecy by killing 
        Laius and marrying Jocasta. Upon learning this, Jocasta commits 
        suicide, and Oedipus <span style="font-weight: bold;">blinds</span> 
        himself with Jocasta&#8217;s brooches. Creon assumes control of 
        Thebes as Oedipus begs to be exiled along with his daughters, 
        <span style="font-weight: bold;">Ismene</span> and 
        <span style="font-weight: bold;">Antigone</span>.
    </li>
	<li class="list_item">
        <span class="label">Antigone</span> (<span style="font-weight: bold;">
        Sophocles</span>, c.&nbsp;441&nbsp;BC) Along with 
        <i style="font-weight: bold;">Oedipus Rex</i> and 
        <i style="font-weight: bold;">Oedipus at Colonus</i>, <i>Antigone
        </i> is one of the three surviving <span style="font-weight: bold;">
        &#8220;Theban plays&#8221;</span> by Sophocles that center on the 
        family of <span style="font-weight: bold;">Oedipus</span>. The tragedy 
        takes place in the immediate aftermath of a battle in which 
        Oedipus&#8217;s two sons, <span style="font-weight: bold;">
        Polyneices</span> and <span style="font-weight: bold;">Eteocles
        </span>, killed each other while struggling to control 
        <span style="font-weight: bold;">Thebes</span>. The current ruler of 
        the city, <span style="font-weight: bold;">Creon</span>, has declared 
        that Eteocles will be given an honorable funeral, but Polyneices 
        will be treated as a rebel and left unburied. Oedipus&#8217;s 
        daughter <span style="font-weight: bold;">Antigone</span> disobeys 
        Creon&#8217;s order, and buries her brother Polyneices against the 
        advice of her frightened sister, <span style="font-weight: bold;">
        Ismene</span>. Despite the intervention of Creon&#8217;s son 
        <span style="font-weight: bold;">Haemon</span>, who is betrothed to 
        Antigone, Creon sentences Antigone to be entombed alive. Soon after 
        she is imprisoned, Antigone hangs herself. Haemon then commits 
        suicide out of grief, and Creon&#8217;s wife 
        <span style="font-weight: bold;">Eurydice</span> kills herself when 
        she learns that Haemon is dead. The once-proud Creon blames himself 
        for the loss of his wife and son, and prays for death.
    </li>
	<li class="list_item">
        <span class="label">Seven Against Thebes</span> 
        (<span style="font-weight: bold;">Aeschylus</span>, 
        c.&nbsp;467&nbsp;BC) This early Greek <span style="font-weight: bold;">
        tragedy</span> tells the story of <span style="font-weight: bold;">
        Oedipus</span>&#8217;s two sons, <span style="font-weight: bold;">
        Polyneices</span> and <span style="font-weight: bold;">Eteocles
        </span>, who initially agreed to rule 
        <span style="font-weight: bold;">Thebes</span> together before 
        Eteocles seized the kingship for himself. Most of the play consists 
        of a conversation between Eteocles, the 
        <span style="font-weight: bold;">chorus</span>, and a 
        <span style="font-weight: bold;">spy</span> who describes the seven 
        <span style="font-weight: bold;">captains</span> who have arrived 
        to besiege the seven gates of Thebes.  After each man is described, 
        Eteocles selects the warrior who will face that attacker. When the 
        seventh attacker is revealed to be Polyneices, Eteocles sets off 
        to confront his brother. At the conclusion of the play, it is 
        announced that although Eteocles&#8217;s forces have turned back 
        the invaders, the brothers have slain each other. 
        <span style="font-weight: bold;">Antigone</span>, the sister of 
        Eteocles and Polyneices, vows to defy the laws of Thebes by giving 
        Polyneices a proper burial.
    </li>
	<li class="list_item">
        <span class="label">Medea</span> (<span style="font-weight: bold;">
        Euripides</span>, c.&nbsp;431&nbsp;BC) This Euripides play retells 
        the myth of Medea, a <span style="font-weight: bold;">sorceress
        </span> from <span style="font-weight: bold;">Colchis</span> who 
        saved <span style="font-weight: bold;">Jason and the Argonauts</span> 
        during their quest for the <span style="font-weight: bold;">Golden 
        Fleece</span>. Set after the Argonauts&#8217; quest, the play depicts 
        Medea&#8217;s vengeance against Jason as he prepares to marry the 
        <span style="font-weight: bold;">Corinthian</span> princess 
        <span style="font-weight: bold;">Glauce</span>.  Medea uses 
        <span style="font-weight: bold;">poisoned robes</span> to kill 
        Glauce and Glauce&#8217;s father <span style="font-weight: bold;">
        Creon</span> (a different character than the Creon who appears in 
        Sophocles&#8217;s Theban plays). Not content with this, Medea seeks 
        to hurt Jason further by killing the sons that she bore him. When 
        Jason tries to confront Medea, she appears above the stage in a 
        <span style="font-weight: bold;">chariot</span> pulled by 
        <span style="font-weight: bold;">dragons</span>, and exchanges 
        bitter words with her former lover before departing to seek refuge 
        with <span style="font-weight: bold;">King Aegeus</span> of Athens. 
        The play&#8217;s ending is a classic example of a 
        <span style="font-weight: bold;">deus ex&nbsp;machina</span>, a 
        literary device in which plot problems are suddenly resolved by an 
        unexpected contrivance.
    </li>
	<li class="list_item">
        <span class="label">The Bacchae</span> 
        (<span style="font-weight: bold;">Euripides</span>, 
        c.&nbsp;405&nbsp;BC) At the start of this tragedy, the god 
        <span style="font-weight: bold;">Dionysus</span> arrives in 
        <span style="font-weight: bold;">Thebes</span> to seek vengeance 
        against his aunt <span style="font-weight: bold;">Agave</span>, 
        who has denied his immortality, and her son 
        <span style="font-weight: bold;">Pentheus</span>, who as 
        <span style="font-weight: bold;">King of Thebes</span> bans the 
        worship of Dionysus. The god first drives the women of the city mad, 
        causing them to act as wild <span style="font-weight: bold;">Maenads
        </span>. He then convinces Pentheus to disguise himself in animal 
        skins, and spy on the maddened women. However, the demented Agave 
        mistakes Pentheus for a mountain lion, and dismembers her own son. 
        The climax of the play occurs when Agave presents the head of 
        Pentheus to her horrified father, <span style="font-weight: bold;">
        Cadmus</span>. As Agave realizes what she has done, Dionysus 
        chastises her for her lack of respect, and foretells how Cadmus 
        will spend his final days.
    </li>
	<li class="list_item">
        <span class="label">Oresteia</span> (<span style="font-weight: bold;">
        Aeschylus</span>, c.&nbsp;458&nbsp;BC) Originally a four-play cycle, 
        only three works (<i style="font-weight: bold;">Agamemnon</i>, 
        <i style="font-weight: bold;">The Libation Bearers</i>, and 
        <i style="font-weight: bold;">The Eumenides</i>) survive; a 
        <span style="font-weight: bold;">&#8220;satyr play&#8221;</span> 
        entitled <i style="font-weight: bold;">Proteus</i> has been lost. 
        <i>Agamemnon</i>, the first play in the trilogy, describes the murder 
        of Agamemnon and his concubine <span style="font-weight: bold;">
        Cassandra</span> by Agamemnon&#8217;s adulterous wife, 
        <span style="font-weight: bold;">Clytemnestra</span>, and her lover, 
        <span style="font-weight: bold;">Aegisthus</span>. <i>The Libation 
        Bearers</i> continues the story, describing how Agamemnon&#8217;s 
        children, <span style="font-weight: bold;">Orestes</span> and 
        <span style="font-weight: bold;">Electra</span>, avenge their father 
        by murdering Aegisthus and Clytemnestra. However, the 
        <span style="font-weight: bold;">Furies</span> relentlessly pursue 
        Orestes for his matricide, leading to the events of <i>The Eumenides
        </i>. In this third play, Orestes appeals to 
        <span style="font-weight: bold;">Athena</span>, who organizes a 
        trial for him (with <span style="font-weight: bold;">Apollo</span> 
        as a defense counsel). Ultimately, when Apollo argues that the man is 
        more important than the woman in a marriage, Orestes is acquitted, 
        and the Furies are renamed the Eumenides, or 
        <span style="font-weight: bold;">&#8220;The Kindly Ones.&#8221;
        </span> The cycle has been retold numerous times in modern 
        literature, notably by <span style="font-weight: bold;">Eugene 
        O&#8217;Neill</span> in <i style="font-weight: bold;">Mourning 
        Becomes Electra</i> and by <span style="font-weight: bold;">Jean-Paul 
        Sartre</span> in <i style="font-weight: bold;">The Flies</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Nolan Liu.</p>
<br />
<br />
<br />
{% endblock %}