{% extends "base.html" %}  {% block title %}Characters in the Hebrew Bible{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Characters in the Hebrew Bible</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/hebrew-bible-characters.html">
    You Gotta Know These Characters in the Hebrew Bible
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Abraham</span> (originally known as class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Abram</span>) is the first patriarch in the 
        <span style="font-weight: bold;">Book of Genesis</span>. Abraham, 
        who was originally from <span style="font-weight: bold;">Ur of the 
        Chaldeans</span>, is promised the <span style="font-weight: bold;">
        land of Canaan</span>, which he enters with his wife 
        <span style="font-weight: bold;">Sarah</span> and his nephew 
        <span style="font-weight: bold;">Lot</span>. To test Abraham&#8217;s 
        faithfulness, the Lord orders him to <span style="font-weight: bold;">
        sacrifice his son Isaac</span> on Mount Moriah; Abraham complies, 
        but at the last second, he is stopped by an angel and given a ram to 
        sacrifice instead. Abraham then makes a 
        <span style="font-weight: bold;">covenant</span> with the Lord, who 
        promises that his descendants will be as numerous as the stars of the 
        sky and the sands of the seashore. In Islamic tradition, Abraham 
        (known as Ibrahim) is instead told to sacrifice his son Ishmael, 
        whose mother is the concubine Hagar. Judaism, Christianity, and 
        Islam are collectively known as <span style="font-weight: bold;">
        Abrahamic religions</span> due to Abraham&#8217;s central role in 
        the scriptures of all three.
    </li>
    <li class="list_item">
        <span class="label">Jacob</span> is the third and final 
        patriarch in the Book of Genesis, the son of Isaac and 
        <span style="font-weight: bold;">Rebekah</span>. In Isaac&#8217;s 
        old age, he intends to bless Jacob&#8217;s elder twin brother 
        <span style="font-weight: bold;">Esau</span>, but Jacob wears 
        goatskins to impersonate his sibling and receives the blessing 
        instead. While traveling to his uncle Laban to escape Esau&#8217;s 
        wrath, he has a vision of <span style="font-weight: bold;">angels 
        moving up and down a ladder to heaven</span>. After working for 
        seven years, he is given Laban&#8217;s daughter 
        <span style="font-weight: bold;">Leah</span> in marriage, but works 
        another seven years to marry Laban&#8217;s daughter 
        <span style="font-weight: bold;">Rachel</span> instead. His name 
        is changed to <span style="font-weight: bold;">Israel</span> after 
        he spends a night wrestling with an angel; the angel defeats him by 
        <span style="font-weight: bold;">striking his hip socket</span>, 
        which is why Jewish law forbids eating the sciatic muscle. 
        Jacob&#8217;s sons become the heads of the 
        <span style="font-weight: bold;">Twelve Tribes of Israel</span>; 
        his son <span style="font-weight: bold;">Joseph</span> receives a 
        coat of many colors, is sold into slavery by his brothers, and 
        becomes vizier for the <span style="font-weight: bold;">pharaoh 
        of Egypt</span>.
    </li>
    <li class="list_item">
        <span class="label">Moses</span> leads the Israelites during the 
        <span style="font-weight: bold;">Exodus</span>, freeing them from 
        their <span style="font-weight: bold;">captivity in Egypt</span>. 
        He is abandoned in a basket as a child and is raised by the 
        pharaoh&#8217;s daughter. After killing an Egyptian overseer, he 
        flees to the land of Midian, where the Lord appears to him in a 
        <span style="font-weight: bold;">burning bush</span>. Moses and 
        his brother <span style="font-weight: bold;">Aaron</span> go before 
        the pharaoh to request he release the Israelites from bondage. When 
        the pharaoh refuses, the Lord afflicts Egypt with 
        <span style="font-weight: bold;">Ten Plagues</span>, the last of 
        which causes the death of every first-born male child. The Israelites 
        avoid this by <span style="font-weight: bold;">painting their 
        doorposts with lamb&#8217;s blood</span>, a ritual that leads to the 
        establishment of the holiday of <span style="font-weight: bold;">
        Passover</span>. Moses then leads the Israelites out of Egypt by 
        <span style="font-weight: bold;">parting the Red Sea</span>, after 
        which they spend 40&nbsp;years wandering in the desert. Moses 
        receives the tablets of the <span style="font-weight: bold;">Ten 
        Commandments</span> from the Lord on Mount Sinai, but smashes them 
        in anger when he sees the people worshipping a 
        <span style="font-weight: bold;">golden calf</span>. Moses dies before 
        entering the Promised Land and is succeeded by 
        <span style="font-weight: bold;">Joshua</span> as the leader of 
        the Israelites. Since the books of the Jewish Torah (Genesis, Exodus, 
        Leviticus, Numbers, and Deuteronomy) are attributed to Moses, the 
        rules set forth in the Torah are known as the Mosaic Law.
    </li>
    <li class="list_item">
        <span class="label">Samson</span> is the last of twelve namesake 
        leaders of Israel in the <span style="font-weight: bold;">Book of 
        Judges</span>. He possesses <span style="font-weight: bold;">
        superhuman strength</span> as he never cuts his hair. After falling 
        in love with a Philistine woman and preparing to marry her, Samson 
        tells the groomsmen a <span style="font-weight: bold;">riddle</span> 
        involving honey in the carcass of a lion; the groomsmen force his 
        betrothed to tell them the answer. Samson&#8217;s betrothed is 
        eventually married to another man, causing an enraged Samson to 
        burn the Philistines&#8217; crops and slay 1,000 men with the 
        <span style="font-weight: bold;">jawbone of a donkey</span>. 
        Samson&#8217;s downfall comes when he falls in love with 
        <span style="font-weight: bold;">Delilah</span>, who seduces him 
        for the secret of his strength, then cuts his hair while he is 
        asleep. He is captured and blinded by the Philistines, who display 
        him in the <span style="font-weight: bold;">Temple of Dagon</span>. 
        However, he regains his strength and collapses the temple, killing 
        himself and everyone else inside.
    </li>
    <li class="list_item">
        <span class="label">Samuel</span> is a prophet and the namesake of 
        the two books that follow Ruth and precede 1&nbsp;Kings. 
        Samuel&#8217;s mother, <span style="font-weight: bold;">Hannah
        </span>, prays to the Lord for a child, and promises that should she 
        conceive a son she will dedicate him to the service of the Lord. 
        Shortly thereafter, Hannah becomes pregnant with Samuel. When Samuel 
        is a young boy, the Lord calls to him during the night, though he 
        mistakes the voice for that of the head priest 
        <span style="font-weight: bold;">Eli</span>, whose downfall he 
        subsequently foretells. As an adult, Samuel leads Israel to a major 
        victory over the Philistines at Mizpah, erecting the stone Ebenezer 
        on the site. At the Israelites&#8217; request, he 
        <span style="font-weight: bold;">anoints Saul</span> as the first 
        king of Israel; Saul eventually loses his favor by sparing King 
        Agag of the Amalekites in battle. After Samuel&#8217;s death, Saul 
        calls upon the <span style="font-weight: bold;">Witch of Endor
        </span> to summon up Samuel&#8217;s ghost; Samuel&#8217;s spirit 
        predicts a crushing defeat for Israel at the hands of the Philistines.
    </li>
    <li class="list_item">
        <span class="label">David</span> is a son of Jesse of Bethlehem. 
        David succeeded Saul as <span style="font-weight: bold;">King of 
        Israel</span> and is traditionally held to be a direct ancestor of 
        Jesus. David first takes command of Israel&#8217;s army after he 
        uses a simple sling to slay the massive Philistine champion 
        <span style="font-weight: bold;">Goliath</span>, an event depicted 
        in sculpture by Michelangelo and Donatello, among others. Though 
        Saul becomes jealous of David and tries to kill him, David escapes 
        with the help of Saul&#8217;s son <span style="font-weight: bold;">
        Jonathan</span>, with whom he shares a deep relationship that some 
        modern scholars have interpreted as romantic. As king, David captures 
        the city of Jerusalem and installs the Ark of the Covenant there. 
        He falls in love with the married woman 
        <span style="font-weight: bold;">Bathsheba</span> and sends her 
        husband Uriah the Hittite to be killed in battle; this earns him a 
        strong rebuke from the prophet Nathan. David&#8217;s children include 
        <span style="font-weight: bold;">Absalom</span>, who leads a 
        rebellion against him. David is recognized as the traditional author 
        of the <span style="font-weight: bold;">Psalms</span>.
    </li>
    <li class="list_item">
        <span class="label">Solomon</span> is a son of David who succeeds 
        his father as king. As a young man, Solomon is visited by the Lord, 
        who asks what Solomon desires; Solomon&#8217;s reply of 
        <span style="font-weight: bold;">&#8220;wisdom&#8221;</span> pleased 
        the Lord, who granted the request. In the best-known episode 
        illustrating Solomon&#8217;s wisdom, he orders that a 
        <span style="font-weight: bold;">child be cut in half</span> to 
        determine its true mother. Under Solomon&#8217;s rule, Israel built 
        the <span style="font-weight: bold;">First Temple of Jerusalem</span>, 
        also known as the Temple of Solomon, whose innermost chamber housed 
        the Ark of the Covenant. Solomon amassed great wealth and had 700 
        wives. In a short episode that inspired numerous artists, Solomon 
        was visited by the <span style="font-weight: bold;">Queen of Sheba
        </span>. Traditionally, Solomon is considered the author of the books 
        of <span style="font-weight: bold;">Proverbs</span>, 
        <span style="font-weight: bold;">Ecclesiastes</span>, and the 
        <span style="font-weight: bold;">Song of Solomon</span> (or Song 
        of Songs), as well as the deuterocanonical Wisdom of Solomon.
    </li>
    <li class="list_item">
        <span class="label">Elijah the Tishbite</span> is a powerful 
        prophet during the reign of <span style="font-weight: bold;">King 
        Ahab</span> and his pagan wife Jezebel. Elijah denounces 
        Ahab&#8217;s worship of Baal and predicts a three-year 
        <span style="font-weight: bold;">drought</span>, after which he 
        <span style="font-weight: bold;">flees into the wilderness</span> 
        and is fed by ravens. During this time, Elijah stays with a widow 
        in the town of Zarephath and performs miracles such as multiplying 
        her flour supply and raising her son from the dead. At the end of 
        the drought, Elijah challenges the priests of Baal to a dramatic 
        contest on Mount Carmel where he <span style="font-weight: bold;">
        summons fire from heaven</span> to ignite a burnt offering. 
        Elijah&#8217;s mission is carried on by his student 
        <span style="font-weight: bold;">Elisha</span>, who asks for a 
        &#8220;double portion&#8221; of Elijah&#8217;s spirit as Elijah 
        bodily ascends to Heaven, carried up on a chariot of fire. Elijah 
        also appears briefly in the New Testament, when both he and Moses 
        converse with Jesus during the Transfiguration. In Jewish tradition, 
        Elijah will appear to herald the coming of the 
        <span style="font-weight: bold;">Messiah</span>.
    </li>
    <li class="list_item">
        <span class="label">Daniel</span> is the title character in the last 
        of the books grouped together as &#8220;major prophets.&#8221; 
        Daniel is a Jew who is brought to the court of 
        <span style="font-weight: bold;">Nebuchadnezzar&nbsp;II</span> during 
        the <span style="font-weight: bold;">Jewish captivity</span> in 
        Babylon. Daniel <span style="font-weight: bold;">interprets dreams
        </span> for the king, including one in which an enormous statue 
        represents four successive kingdoms that will supplant Babylon, and 
        another predicting that Nebuchadnezzar will suffer from seven years 
        of madness. In one episode, Nebuchadnezzar casts Daniel&#8217;s 
        friends <span style="font-weight: bold;">Shadrach, Meshach, and 
        Abednego</span> into a furnace, but all three emerge unscathed. 
        Daniel also serves the later ruler <span style="font-weight: bold;">
        Belshazzar</span> and interprets a mysterious hand that 
        <span style="font-weight: bold;">writes on the wall</span> during 
        a feast, predicting Belshazzar&#8217;s downfall&mdash;which comes 
        that night. In the best-known episode from Daniel&#8217;s life, 
        Darius the Mede casts Daniel into a 
        <span style="font-weight: bold;">lion&#8217;s den</span> after 
        Daniel disobeys an order not to worship the god of Israel; after 
        Daniel emerges unharmed, Darius has those who accused Daniel 
        thrown into the lion&#8217;s den instead, where they are killed.
    </li>
    <li class="list_item">
        <span class="label">Jonah</span> is a minor prophet sent by God to 
        preach repentance to the city of <span style="font-weight: bold;">
        Nineveh</span>. Jonah is reluctant to do so and instead boards a 
        ship to <span style="font-weight: bold;">Tarshish</span>, but God 
        sends a massive storm to disrupt his journey. Jonah is cast 
        overboard by the crew and <span style="font-weight: bold;">swallowed 
        by a large fish</span>, which spits him onto the shore after three 
        days. Jonah eventually continues on to Nineveh and convinces its 
        inhabitants to repent by donning sackcloth and ashes. Indignant 
        that God spared the city from destruction, Jonah sits outside the 
        city, where God causes a <span style="font-weight: bold;">gourd
        </span> to grow over him and provide him shade. A worm then devours 
        the gourd, exposing him to the heat of the Sun; God uses 
        Jonah&#8217;s suffering to show Jonah that he should have 
        <span style="font-weight: bold;">pity</span> on the people of 
        Nineveh. The Book of Jonah is traditionally read in the afternoon 
        on the Jewish holiday of <span style="font-weight: bold;">
        Yom Kippur</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Jacob Augelli.</p>
<br />
<br />
<br />
{% endblock %}