{% extends "base.html" %}  {% block title %}Charles Dickens Novels{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Charles Dickens Novels</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/charles-dickens-novels.html">
    You Gotta Know These Charles Dickens Novels
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">The Pickwick Papers</span> (1837) The London 
        gentleman <span style="font-weight: bold;">Samuel Pickwick</span>, 
        the president of his namesake &#8220;club,&#8221; sets out with 
        fellow members <span style="font-weight: bold;">Nathaniel Winkle
        </span>, <span style="font-weight: bold;">Tracy Tupman</span>, and 
        <span style="font-weight: bold;">Augustus Snodgrass</span> on a 
        series of coach journeys to sites in 
        <span style="font-weight: bold;">provincial England</span>. 
        While on their travels, the Pickwickians foil the attempt of 
        <span style="font-weight: bold;">Alfred Jingle</span> to elope with 
        <span style="font-weight: bold;">Rachael Wardle</span> of 
        <span style="font-weight: bold;">Dingley Dell</span>. Pickwick 
        also befriends and employs the Cockney valet 
        <span style="font-weight: bold;">Sam Weller</span>, who is known 
        for grotesquely humorous sayings such as &#8220;out with it, as 
        the father said to his child, when he swallowed a farthing.&#8221;
    </li>
	<li class="list_item">
        <span class="label">Oliver Twist</span> (1838) The orphan Oliver 
        is brought up in a workhouse, where he horrifies the beadle 
        <span style="font-weight: bold;">Mr. Bumble</span> by asking for 
        more food. Oliver is then apprenticed to the 
        <span style="font-weight: bold;">undertaker</span> 
        <span style="font-weight: bold;">Mr. Sowerberry</span>. After 
        fighting with the bully <span style="font-weight: bold;">Noah 
        Claypole</span>, Oliver runs away to London. On the road he meets 
        the <span style="font-weight: bold;">pickpocket</span> 
        <span style="font-weight: bold;">Jack Dawkins</span>, known as the 
        <span style="font-weight: bold;">&#8220;Artful Dodger,&#8221;</span> 
        who leads him to the den of the criminal 
        <span style="font-weight: bold;">Fagin</span>. A kindly gentleman 
        named <span style="font-weight: bold;">Mr. Brownlow</span> 
        temporarily rescues Oliver, but he is returned to Fagin by the cruel 
        <span style="font-weight: bold;">Bill Sikes</span> and the prostitute 
        <span style="font-weight: bold;">Nancy</span>. During an attempt to 
        rob a house, Oliver is shot. He is tended by an occupant of the house 
        named <span style="font-weight: bold;">Rose Maylie</span>, who 
        eventually learns that Oliver is being plotted against by his 
        villainous half-brother, <span style="font-weight: bold;">Monks
        </span>. The novel ends happily, as Oliver&#8217;s chief enemies die 
        or emigrate, and he is left in the care of Mr. Brownlow and Rose, 
        who is revealed to be his aunt.
    </li>
	<li class="list_item">
        <span class="label">Nicholas Nickleby</span> (1839) After his father 
        dies, Nicholas Nickleby is sent to work at 
        <span style="font-weight: bold;">Dotheboys Hall</span> by his cruel 
        uncle <span style="font-weight: bold;">Ralph</span>. With the help 
        of the disabled <span style="font-weight: bold;">Smike</span>, 
        Nicholas beats the foul schoolmaster <span style="font-weight: bold;">
        Wackford Squeers</span>, and escapes to London. Nicholas&#8217;s 
        sister <span style="font-weight: bold;">Kate</span> works with the 
        milliner <span style="font-weight: bold;">Madame Mantalini</span>, 
        but must confront the attentions of the foppish 
        <span style="font-weight: bold;">Mr. Mantalini</span> and 
        <span style="font-weight: bold;">Sir Mulberry Hawk</span>. Nicholas 
        finds employment in Portsmouth with the theater manager 
        <span style="font-weight: bold;">Vincent Crummles</span>, then 
        returns to London and works for the <span style="font-weight: bold;">
        Cheeryble brothers</span>. Smike dies, and Ralph commits suicide after 
        learning that Smike was his son. Nicholas marries a woman named 
        <span style="font-weight: bold;">Madeline Bray</span>, and Kate weds 
        the Cheerybles&#8217; nephew, <span style="font-weight: bold;">
        Frank</span>.
    </li>
	<li class="list_item">
        <span class="label">The Old Curiosity Shop</span> (1841) 
        Thirteen-year-old <span style="font-weight: bold;">Nell Trent</span> 
        goes to live with her grandfather, a gambling addict who owns a 
        London shop filled with mysterious and horrible objects. His gambling 
        causes him to lose the shop to the evil dwarfish moneylender 
        <span style="font-weight: bold;">Daniel Quilp</span>. Nell&#8217;s 
        older brother <span style="font-weight: bold;">Frederick</span> plots 
        to marry her off to <span style="font-weight: bold;">Dick Swiveller
        </span> to get a share of a supposed treasure trove, but Dick 
        eventually marries a servant girl nicknamed 
        <span style="font-weight: bold;">&#8220;the Marchioness&#8221;
        </span> instead. A major subplot concerns Quilp&#8217;s efforts to 
        frame a boy named <span style="font-weight: bold;">Kit Nubbles
        </span> for theft. At the end of the novel, Quilp drowns, and 
        Nell dies shortly before her grandfather also passes away.
    </li>
	<li class="list_item">
        <span class="label">A Christmas Carol</span> (1843) The cold-hearted 
        miser <span style="font-weight: bold;">Ebenezer Scrooge</span> is 
        visited on Christmas Eve by the <span style="font-weight: bold;">ghost
        </span> of his former business partner 
        <span style="font-weight: bold;">Jacob Marley</span>. Marley&#8217;s 
        ghost, who wears heavy chains made of cash boxes and other symbols of 
        greed, tells Scrooge to expect the arrival of three spirits. During a 
        visit from the <span style="font-weight: bold;">Ghost of Christmas 
        Past</span>, Scrooge is shown a holiday party given by his former 
        employer <span style="font-weight: bold;">Mr. Fezziwig</span>, and is 
        taken back to the moment when his fianc&eacute;e 
        <span style="font-weight: bold;">Belle</span> left him on account of 
        his avarice. The <span style="font-weight: bold;">Ghost of Christmas 
        Present</span> takes Scrooge to the homes of his nephew 
        <span style="font-weight: bold;">Fred</span> and his clerk 
        <span style="font-weight: bold;">Bob Cratchit</span>, whose son 
        <span style="font-weight: bold;">Tiny Tim</span> is near death. The 
        <span style="font-weight: bold;">Ghost of Christmas Yet to Come</span> 
        shows Scrooge the grave of an unloved man&mdash;Scrooge himself. 
        Scrooge has a change of heart, celebrates Christmas, and becomes a 
        benefactor to the Cratchit family, preventing Tiny Tim from dying.
    </li>
	<li class="list_item">
        <span class="label">David Copperfield</span> (1850) Dickens&#8217;s 
        his own books, and the most autobiographical. After David&#8217;s 
        father dies, his mother marries the cruel 
        <span style="font-weight: bold;">Mr. Murdstone</span>. David is sent 
        to a school where he is tormented by the headmaster 
        <span style="font-weight: bold;">Creakle</span>, but finds comfort 
        in his friendships with <span style="font-weight: bold;">Tommy 
        Traddles</span> and <span style="font-weight: bold;">James Steerforth
        </span>. While working in London, David befriends the optimistic 
        but indebted <span style="font-weight: bold;">Mr. Micawber</span>. 
        Eventually, David escapes his grim warehouse job by walking to Dover. 
        There, he finds his great-aunt <span style="font-weight: bold;">
        Betsey Trotwood</span>, who arranges for David to be educated by the 
        lawyer <span style="font-weight: bold;">Mr. Wickfield</span>. David 
        keeps in touch with his old nurse <span style="font-weight: bold;">
        Clara Peggotty</span>, whose relative <span style="font-weight: bold;">
        &#8220;Little Em&#8217;ly&#8221;</span> is seduced and abandoned by 
        David&#8217;s former friend <span style="font-weight: bold;">
        Steerforth</span>. Youthful infatuation causes David to wed the 
        flighty <span style="font-weight: bold;">Dora Spenlow</span>, who 
        eventually dies. After helping to extricate Mr. Wickfield from the 
        schemes of the &#8220;humble&#8221; clerk 
        <span style="font-weight: bold;">Uriah Heep</span>, David marries 
        Mr. Wickfield&#8217;s daughter <span style="font-weight: bold;">
        Agnes</span>. Throughout the story, David progresses in the literary 
        world, ultimately becoming a successful novelist.
    </li>
	<li class="list_item">
        <span class="label">Bleak House</span> (1853) This novel revolves 
        around the Chancery case <i style="font-weight: bold;">Jarndyce and 
        Jarndyce</i>, which has dragged on for many years as family members 
        fight over an <span style="font-weight: bold;">inheritance</span>. 
        The title home (which is actually pleasant, rather than bleak) is owned 
        by <span style="font-weight: bold;">John Jarndyce</span>, who cares 
        for his young relatives <span style="font-weight: bold;">Richard 
        Carstone</span> and <span style="font-weight: bold;">Ada Clare
        </span>. Ada has a companion named <span style="font-weight: bold;">
        Esther Summerson</span>, who narrates much of the novel, and is 
        Dickens&#8217;s <span style="font-weight: bold;">only female 
        narrator</span>. Esther suffers a severe illness after caring for 
        a sick boy named Jo, and learns that she is the illegitimate 
        daughter of <span style="font-weight: bold;">Lady Dedlock</span>. 
        The lawyer <span style="font-weight: bold;">Mr. Tulkinghorn</span> 
        discovers Lady Dedlock&#8217;s secret but is murdered by the maid 
        <span style="font-weight: bold;">Hortense</span>, a crime that is 
        investigated by <span style="font-weight: bold;">Inspector Bucket
        </span>. Lady Dedlock dies after fleeing home and the Chancery suit 
        ends, as the disputed inheritance has been totally consumed by 
        court costs. Other memorable characters in the novel include the 
        merchant <span style="font-weight: bold;">Krook</span>, who dies of 
        <span style="font-weight: bold;">spontaneous human combustion</span>; 
        <span style="font-weight: bold;">Mrs. Jellyby</span>, who busies 
        herself with charitable causes but neglects her own family, and 
        <span style="font-weight: bold;">Horace Skimpole</span>, whose 
        blithe irresponsibility burdens others.
    </li>
	<li class="list_item">
        <span class="label">Hard Times</span> (1854) 
        <span style="font-weight: bold;">Thomas Gradgrind</span> is a 
        fact-obsessed <span style="font-weight: bold;">utilitarian</span> 
        from Coketown, in the north of England. He 
        <span style="font-weight: bold;">superintends</span> a school whose 
        students include an ambitious boy named 
        <span style="font-weight: bold;">Bitzer</span>, and 
        <span style="font-weight: bold;">Sissy Jupe</span>, a young member of 
        <span style="font-weight: bold;">Mr. Sleary</span>&#8217;s traveling 
        circus. Mr. Gradgrind arranges for his daughter 
        <span style="font-weight: bold;">Louisa</span> to marry 
        <span style="font-weight: bold;">Josiah Bounderby</span>, an 
        unpleasant older banker who employs Mr. Grandgrind&#8217;s son, 
        <span style="font-weight: bold;">Tom</span>. The politician 
        <span style="font-weight: bold;">James Harthouse</span> tries to 
        seduce Louisa, who returns home to her father and causes him to see 
        the error of his ways. Tom Gradgrind steals from Mr. Bounderby, 
        unsuccessfully tries to frame a worker named 
        <span style="font-weight: bold;">Stephen Blackpool</span>, and 
        flees to America.
    </li>
	<li class="list_item">
        <span class="label">A Tale of Two Cities</span> (1859) 
        <span style="font-weight: bold;">Paris</span> and 
        <span style="font-weight: bold;">London</span> are the title cities 
        of this novel, which famously begins 
        <span style="font-weight: bold;">&#8220;it was the best of times, 
        it was the worst of times.&#8221;</span> At the start of the novel, 
        the French doctor <span style="font-weight: bold;">Alexandre Manette
        </span> is released after 18 years in the 
        <span style="font-weight: bold;">Bastille</span>, where he was 
        imprisoned to prevent him from revealing the crimes of the 
        <span style="font-weight: bold;">Evr&eacute;monde family</span>. 
        Dr. Manette relocates to England with the help of his daughter 
        <span style="font-weight: bold;">Lucie</span> and the 
        <span style="font-weight: bold;">Tellson&#8217;s Bank</span> employee 
        <span style="font-weight: bold;">Jarvis Lorry</span>. Lucie marries 
        <span style="font-weight: bold;">Charles Darnay</span>, a 
        Frenchman who bears a striking resemblance to the English lawyer 
        <span style="font-weight: bold;">Sidney Carton</span>. Darnay is 
        also a member of the Evr&eacute;monde family. After returning to 
        Paris during the <span style="font-weight: bold;">French Revolution
        </span>, Darnay is arrested as the result of a vendetta against the 
        Evr&eacute;mondes waged by the <span style="font-weight: bold;">
        Defarges</span>, a proletarian couple who encode information about 
        their enemies into <span style="font-weight: bold;">Madame 
        Defarge&#8217;s knitting</span>. Carton expresses his love for 
        Lucie by taking Darnay&#8217;s place in jail, and goes to the 
        <span style="font-weight: bold;">guillotine</span> thinking 
        <span style="font-weight: bold;">&#8220;it is a far, far better 
        thing that I do, than I have ever done.&#8221;</span> Lucie and 
        Darnay escape with the help of the governess 
        <span style="font-weight: bold;">Miss Pross</span>, who shoots 
        Madame Defarge.
    </li>
	<li class="list_item">
        <span class="label">Great Expectations</span> (1861) The narrator 
        <span style="font-weight: bold;">Philip Pirrip</span>, who is 
        nicknamed <span style="font-weight: bold;">&#8220;Pip,&#8221;</span> 
        is brought up by his sister and her kind husband, the blacksmith 
        <span style="font-weight: bold;">Joe Gargery</span>. While visiting 
        a churchyard, Pip meets the escaped convict 
        <span style="font-weight: bold;">Abel Magwitch</span>, and renders 
        him aid. Later, Pip is hired to &#8220;play&#8221; with a girl named 
        <span style="font-weight: bold;">Estella</span> at Satis House, 
        whose owner <span style="font-weight: bold;">Miss Havisham</span> 
        was spurned on her wedding day and has 
        <span style="font-weight: bold;">worn a wedding dress ever since
        </span>. When the lawyer <span style="font-weight: bold;">Mr. 
        Jaggers</span> reveals that a mysterious benefactor will fund 
        Pip&#8217;s education, Pip assumes that Miss Havisham is making 
        him a <span style="font-weight: bold;">&#8220;gentleman&#8221;
        </span> so that he can marry Estella. Instead, Estella marries 
        the wealthy <span style="font-weight: bold;">Bentley Drummle</span>, 
        who mistreats her. Pip discovers that his benefactor was actually 
        the convict Magwitch, and tries to help Magwitch flee England with 
        the help of Pip&#8217;s friends <span style="font-weight: bold;">
        Startop</span> and <span style="font-weight: bold;">Herbert Pocket
        </span>. However, the escape is foiled by 
        <span style="font-weight: bold;">Compeyson</span>, the man who 
        jilted Miss Havisham. Pip&#8217;s great expectations are dashed, 
        but he becomes a better person, and is finally reunited with the 
        widowed Estella. Dickens modified the novel&#8217;s conclusion at 
        the suggestion of the author <span style="font-weight: bold;">Edward 
        Bulwer-Lytton</span>, who objected to an ending in which Estella 
        weds another man.</li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Daoud Jackson.</p>
<br />
<br />
<br />
{% endblock %}