{% extends "base.html" %}  {% block title %}Non-Shakespeare Classical English Dramas{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">English Dramas That Aren&#8217;t by Shakespeare</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/non-shakespeare-classical-english-dramas.html">
    You Gotta Know These English Dramas That Aren&#8217;t by Shakespeare
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <i class="label">The Spanish Tragedy (or, Hieronimo is Mad Again)
        </i> (Thomas Kyd, c.&nbsp;1585): A sensational hit when it was first 
        performed, <i>The Spanish Tragedy</i> pioneered and popularized the 
        gory genre known as the <span style="font-weight: bold;">revenge 
        tragedy</span>. The play is set in the wake of a 
        <span style="font-weight: bold;">war between Portugal and Spain
        </span>, during which the Spanish soldier 
        <span style="font-weight: bold;">Don Andrea</span> was killed by 
        he Portuguese prince <span style="font-weight: bold;">Balthazar
        </span>. After Andrea&#8217;s death, Balthazar was captured by two 
        Spanish soldiers: <span style="font-weight: bold;">Lorenzo</span>, 
        the nephew of the King of Spain; and <span style="font-weight: bold;">
        Horatio</span>, the capable son of the marshal 
        <span style="font-weight: bold;">Hieronimo</span>. As the play 
        begins, <span style="font-weight: bold;">Andrea&#8217;s ghost</span> 
        has returned to Earth along with the spirit of 
        <span style="font-weight: bold;">Revenge</span>, to watch the events 
        that will lead to Balthazar&#8217;s death. Those events are put in 
        motion by Andrea&#8217;s former lover <span style="font-weight: bold;">
        Bel-imperia</span>, who falls in love with Horatio and rejects the 
        smitten Balthazar. Lorenzo and Balthazar then conspire to 
        <span style="font-weight: bold;">kill Horatio</span>, whose death 
        devastates Hieronimo. Bel-imperia is imprisoned by Lorenzo to cover 
        up the crime, but sends a <span style="font-weight: bold;">letter 
        written in her own blood</span> to Hieronimo, exposing Lorenzo&#8217;s 
        schemes. During a climactic <span style="font-weight: bold;">
        play-within-a-play</span>, Hieronimo and Bel-imperia take vengeance 
        by stabbing Lorenzo and Balthazar, and subsequently 
        <span style="font-weight: bold;">kill themselves</span>. <i>The 
        Spanish Tragedy</i> is noted for its <span style="font-weight: bold;">
        influence on the works of Shakespeare</span>, especially the 
        incriminating play-within-a-play in <i>Hamlet</i>.
    </li>
	<li class="list_item">
        <i class="label">The Jew of Malta</i> (Christopher Marlowe, 
        c.&nbsp;1589): After his <span style="font-weight: bold;">massive 
        fortune</span> is seized by Malta&#8217;s governor, 
        <span style="font-weight: bold;">Ferneze</span>, to pay 
        <span style="font-weight: bold;">tribute to the Turks</span>, 
        the Jewish merchant <span style="font-weight: bold;">Barabas</span> 
        embarks on a complex journey of <span style="font-weight: bold;">
        revenge</span>. Barabas uses his daughter 
        <span style="font-weight: bold;">Abigail</span> to spark a jealous 
        feud that leads to a duel in which the governor&#8217;s son Lodowick 
        is killed. Abigail then hides in a convent and converts to 
        Christianity, leading Barabas and his slave Ithamore to poison all 
        of the convent&#8217;s occupants. Barabas eventually aids the Turks 
        in conquering Malta, for which he is appointed governor, but betrays 
        the Turks in favor of the Maltese, who kill Barabas in a boiling 
        cauldron as they retake the island. <i>The Jew of Malta</i> is 
        thought to have influenced Shakespeare&#8217;s <i>The Merchant of 
        Venice</i>.
    </li>
	<li class="list_item">
        <i class="label">(The Tragical History of the Life and Death of) 
        Doctor Faustus</i> (Christopher Marlowe, c.&nbsp;1593): Two 
        <span style="font-weight: bold;">scholars</span> named 
        <span style="font-weight: bold;">Valdes</span> and 
        <span style="font-weight: bold;">Cornelius</span> teach Faustus 
        how to <span style="font-weight: bold;">summon a demon</span>, 
        which Faustus promptly does, conjuring 
        <span style="font-weight: bold;">Mephistophilis</span>. Faustus 
        then <span style="font-weight: bold;">signs his soul over</span> 
        to Lucifer, in exchange for <span style="font-weight: bold;">24 
        years of healthy life</span> with Mephistophilis as his dutiful 
        servant. Faustus constantly rejects the pleas of an 
        <span style="font-weight: bold;">angel</span> to accept the 
        forgiveness of God, instead traveling and gaining worldly fame. At 
        one point, he summons the <span style="font-weight: bold;">
        &#8220;shade&#8221; of Helen of Troy</span>, and exclaims &#8220;was 
        this the face that launch&#8217;d a thousand ships, and burnt the 
        topless towers of Ilium?&#8221; On the night his deal is scheduled 
        to expire, a clock&#8217;s chimes announce that Faustus is running 
        out of time to repent. He never does, so devils appear and 
        <span style="font-weight: bold;">drag him to hell</span>.
    </li>
	<li class="list_item">
        <i class="label">Every Man in His Humour</i> (Ben Jonson, 1598): 
        Set in Jonson&#8217;s contemporary London, this comedy is a 
        <span style="font-weight: bold;">&#8220;humours play,&#8221;</span> 
        in which each character is a stock type governed by a corresponding 
        &#8220;humour&#8221; (as theorized in Greek medicine). The plot 
        chiefly concerns <span style="font-weight: bold;">Knowell</span>, an 
        old gentleman who worries that his son 
        <span style="font-weight: bold;">Edward</span> is becoming too 
        involved with <span style="font-weight: bold;">Wellbred</span>, a 
        fun-loving gallant Londoner. Knowell secretly follows his son to 
        London; meanwhile, Wellbred&#8217;s brother-in-law, the merchant 
        <span style="font-weight: bold;">Kitely</span>, worries that 
        Wellbred&#8217;s behavior will give his business a bad reputation, 
        all the while suspecting his own <span style="font-weight: bold;">
        wife</span> of infidelity. Various subplots involve Knowell&#8217;s 
        mischievous servant <span style="font-weight: bold;">Brainworm</span>, 
        the braggart-captain <span style="font-weight: bold;">Bobadill</span>, 
        and two friends of Wellbred who try to be fashionably and poetically 
        <span style="font-weight: bold;">melancholic</span>. In the end, the 
        kindly <span style="font-weight: bold;">Justice Clement</span> settles 
        all of the grievances amassed over the course of the play. A 
        follow-up, <i style="font-weight: bold;">Every Man Out of His Humour
        </i>, was written one year later.
    </li>
	<li class="list_item">
        <i class="label">Volpone</i> (Ben Jonson, 1605): Each character 
        in this Jonson play is based on an <span style="font-weight: bold;">
        animal archetype</span>. The greedy Venetian noble Volpone (named for 
        the Italian for <span style="font-weight: bold;">&#8220;fox&#8221;
        </span>) cajoles gifts from men named 
        <span style="font-weight: bold;">Corbaccio</span> 
        (&#8220;raven&#8221;), <span style="font-weight: bold;">Corvino</span> 
        (&#8220;crow&#8221;), and <span style="font-weight: bold;">Voltore
        </span> (&#8220;vulture&#8221;) by faking a fatal illness, and 
        separately <span style="font-weight: bold;">promising his fortune
        </span> to each man. At the urging of Volpone&#8217;s servant 
        <span style="font-weight: bold;">Mosca</span> (&#8220;fly&#8221;), 
        Corbaccio agrees to <span style="font-weight: bold;">disinherit</span> 
        his own son <span style="font-weight: bold;">Bonario</span> by writing 
        a new will that will name Volpone as sole heir. Volpone also engages 
        in stratagems to sleep with Corvino&#8217;s wife 
        <span style="font-weight: bold;">Celia</span>, although his attempt to 
        <span style="font-weight: bold;">rape</span> her is foiled by Bonario. 
        In a subplot, the English traveler <span style="font-weight: bold;">
        Peregrine</span> humiliates a foolish fellow countryman named 
        <span style="font-weight: bold;">Sir Politick Would-Be</span>. After 
        a trial, Volpone <span style="font-weight: bold;">fakes his death
        </span> and names Mosca his sole heir; Mosca&#8217;s ensuing behavior 
        prompts Volpone to reveal himself, resulting in the 
        <span style="font-weight: bold;">punishment</span> of all wrongdoing.
    </li>
	<li class="list_item">
        <i class="label">The Duchess of Malfi</i> (John Webster, 1613): 
        This play is a product of the <span style="font-weight: bold;">
        Jacobean period</span>, in which the <span style="font-weight: bold;">
        thrilling</span>, <span style="font-weight: bold;">macabre</span>, and 
        <span style="font-weight: bold;">fantastic</span> were prevalent on 
        stage. The play follows the widowed <span style="font-weight: bold;">
        Duchess</span>, who loves <span style="font-weight: bold;">Antonio 
        Bologna</span>, a good-hearted nobleman 
        <span style="font-weight: bold;">below her station</span>. Her twin 
        brother <span style="font-weight: bold;">Ferdinand</span> denounces 
        her affection for Antonio out of incestuous envy. Her other brother, 
        a <span style="font-weight: bold;">Cardinal</span>, hires the former 
        galley-slave <span style="font-weight: bold;">Bosola</span> to spy 
        on her. Bosola discovers the Duchess and Antonio have married (and had 
        children), so the Cardinal sends them into 
        <span style="font-weight: bold;">exile</span>. Ferdinand subsequently 
        <span style="font-weight: bold;">imprisons the Duchess</span>, 
        terrorizes her with <span style="font-weight: bold;">asylum patients
        </span>, and arranges for her to see <span style="font-weight: bold;">
        statues</span> resembling the dead bodies of her husband and children. 
        Executioners sent by Ferdinand then kill the Duchess and her maid 
        <span style="font-weight: bold;">Cariola</span>. Paranoia overtakes 
        both brothers; the Cardinal <span style="font-weight: bold;">kills 
        his mistress Julia with a poisoned bible</span>, and Ferdinand 
        imagines he has become a <span style="font-weight: bold;">werewolf
        </span>. Bosola, disgusted by his own actions, tries to murder the 
        Cardinal but <span style="font-weight: bold;">mistakenly kills 
        Antonio</span> instead. In a climactic confrontation, Bosola, 
        the Cardinal, and Ferdinand all <span style="font-weight: bold;">
        kill each other</span>, leaving the son of the Duchess and Antonio 
        to inherit what remains.
    </li>
	<li class="list_item">
        <i class="label">All for Love (or, the World Well Lost)</i> 
        (John Dryden, 1677): Dryden wrote that he 
        <span style="font-weight: bold;">&#8220;professed to imitate the 
        divine Shakespeare&#8221;</span> in this play, which retells the 
        story of the Roman leader <span style="font-weight: bold;">Mark 
        Antony</span> and the Egyptian queen <span style="font-weight: bold;">
        Cleopatra</span>. In Dryden&#8217;s version of the tale, the Roman 
        general <span style="font-weight: bold;">Ventidius</span> actively 
        tries to separate the two lovers, and encourages Antony to believe 
        that Cleopatra has been secretly consorting with the Roman 
        <span style="font-weight: bold;">Dolabella</span>. Another of 
        the central characters in Dryden&#8217;s play is Antony&#8217;s wife 
        <span style="font-weight: bold;">Octavia</span>, who travels to 
        Alexandria to convince Antony to <span style="font-weight: bold;">
        reconcile</span>. At the end of the play, the eunuch 
        <span style="font-weight: bold;">Alexas</span> falsely tells Antony 
        that Cleopatra has committed suicide. Antony falls upon his sword, 
        and the grief-stricken Cleopatra lets herself be 
        <span style="font-weight: bold;">bitten by a poisonous snake</span>. 
        The dead lovers are then eulogized by <span style="font-weight: bold;">
        Serapion</span>, a priest of Isis.
    </li>
	<li class="list_item">
        <i class="label">The Way of the World</i> (William Congreve, 
        1700): <i>The Way of the World</i>&#8217;s complex plot (typical of 
        Restoration comedy) concerns <span style="font-weight: bold;">
        Mirabell</span> and <span style="font-weight: bold;">Millimant</span>, 
        two lovers who wish to marry. However, Millimant will lose &#8220;half 
        her fortune&#8221; unless her choice of husband is approved by her 
        aunt <span style="font-weight: bold;">Lady Wishfort</span>, who wants 
        her to marry <span style="font-weight: bold;">Sir Wilfull Witwoud
        </span>. Mirabell enlists the married servants 
        <span style="font-weight: bold;">Waitwell</span> and 
        <span style="font-weight: bold;">Foible</span> to 
        <span style="font-weight: bold;">trick Lady Wishfort into falling 
        in love</span> with Sir Rowland, who is actually Waitwell in disguise, 
        so that the compromised Lady Wishfort will be forced to agree to 
        Mirabell and Millamant&#8217;s marriage. The scheme is supported by 
        Lady Wishfort&#8217;s daughter, <span style="font-weight: bold;">
        Mrs.&nbsp;Fainall</span>, but exposed by a woman named 
        <span style="font-weight: bold;">Mrs.&nbsp;Marwood</span>, who loves 
        Mirabell. A resolution is reached when the rakish 
        <span style="font-weight: bold;">Mr.&nbsp;Fainall</span> tries to 
        <span style="font-weight: bold;">blackmail</span> his mother-in-law 
        Lady Wishfort, who asks for Mirabell&#8217;s help. Mirabell then 
        produces an old <span style="font-weight: bold;">contract</span> that 
        invalidates the blackmail attempt, securing Lady Wishfort&#8217;s 
        <span style="font-weight: bold;">blessing</span> for his marriage 
        to Millamant.
    </li>
	<li class="list_item">
        <i class="label">She Stoops to Conquer (or, The Mistakes of a 
        Night)</i> (Oliver Goldsmith, 1773): In this enduringly popular 
        comedy, a wealthy gentleman&#8217;s son named 
        <span style="font-weight: bold;">Charles Marlow</span> is sent to 
        visit the country home of <span style="font-weight: bold;">
        Mr.&nbsp;Hardcastle</span>, who has a beautiful daughter named 
        <span style="font-weight: bold;">Kate</span>. On the way, Marlow and 
        his companion <span style="font-weight: bold;">George Hastings</span> 
        stop at an alehouse where Kate&#8217;s half-brother, 
        <span style="font-weight: bold;">Tony Lumpkin</span>, 
        <span style="font-weight: bold;">tricks</span> them into thinking they 
        are miles from their destination. Tony directs the travelers to 
        Mr.&nbsp;Hardcastle&#8217;s house, claiming it is an inn. There, 
        Marlow and Hastings rudely treat the Hardcastles as innkeepers, which 
        the Hardcastles patiently endure for the sake of their friendship with 
        Marlow&#8217;s wealthy father. At the same time, Kate discovers that 
        Marlow is <span style="font-weight: bold;">timid and reserved</span> 
        around high-born ladies, but is <span style="font-weight: bold;">
        rakishly charming</span> to lower-class women. Kate therefore 
        <span style="font-weight: bold;">&#8220;stoops&#8221; to impersonating 
        a barmaid</span> in order to woo Marlow. Meanwhile, 
        <span style="font-weight: bold;">Mrs.&nbsp;Hardcastle</span> attempts 
        to make her niece <span style="font-weight: bold;">Constance Neville
        </span> marry Tony. Constance, however, is secretly engaged to 
        Hastings, and the pair try to obtain a 
        <span style="font-weight: bold;">casket of jewels</span> that belongs 
        to Constance, but which Mrs.&nbsp;Hardcastle carefully guards. In the 
        end, Kate wins Marlow, and Tony discovers that he is 
        <span style="font-weight: bold;">older</span> than the Hardcastles 
        have led him to believe. Upon discovering he is an adult, Tony refuses 
        the arranged marriage, freeing Constance to marry Hastings.
    </li>
	<li class="list_item">
        <i class="label">The Rivals</i> (Richard Brinsley Sheridan, 1775): 
        Like Sheridan&#8217;s later play <i style="font-weight: bold;">The 
        School for Scandal</i>, <i style="font-weight: bold;">The Rivals</i> 
        offers a <span style="font-weight: bold;">satirical take on manners 
        and courtship</span>. The play&#8217;s heroine is 
        <span style="font-weight: bold;">Lydia Languish</span>, a wealthy 
        heiress who loves reading novels, and who 
        <span style="font-weight: bold;">wants her own life to imitate the 
        tropes of romantic fiction</span>. To win Lydia&#8217;s heart, the 
        wealthy <span style="font-weight: bold;">Captain Jack Absolute</span> 
        pretends to be the impoverished <span style="font-weight: bold;">
        &#8220;Ensign Beverley.&#8221;</span> Lydia is also desired by the 
        &#8220;country gentleman&#8221; <span style="font-weight: bold;">Bob 
        Acres</span> and the Irish baronet <span style="font-weight: bold;">
        Sir Lucius O&#8217;Trigger</span>, the latter of whom sends letters 
        via the maid <span style="font-weight: bold;">Lucy</span>. However, 
        O&#8217;Trigger&#8217;s letters are actually read and answered by 
        Lydia&#8217;s guardian <span style="font-weight: bold;">
        Mrs.&nbsp;Malaprop</span>, who is infatuated with O&#8217;Trigger 
        and uses the pseudonym <span style="font-weight: bold;">
        &#8220;Delia&#8221;</span> in her correspondence. 
        (Mrs.&nbsp;Malaprop&#8217;s <span style="font-weight: bold;">comical 
        speech patterns</span> gave rise to the English word 
        <span style="font-weight: bold;">&#8220;malapropism,&#8221;</span> 
        which refers to the accidental substitution of one word for another 
        that sounds similar, but has a different meaning.) Jack&#8217;s 
        father <span style="font-weight: bold;">Sir Anthony Absolute</span> 
        eventually exposes Jack&#8217;s deception, infuriating Lydia. Jack 
        then has an abortive <span style="font-weight: bold;">duel</span> 
        with Sir Lucius, leading Mrs.&nbsp;Malaprop to admit that she is 
        &#8220;Delia.&#8221; At the end of the play, Lydia and Jack 
        reconcile, as do their friends, the quarreling lovers 
        <span style="font-weight: bold;">Julia</span> and 
        <span style="font-weight: bold;">Faulkland</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}