{% extends "base.html" %}  {% block title %}Religious Texts{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Religious Texts</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/religious-texts.html">
    You Gotta Know These Religious Texts
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Analects</span>: One of the 
        <span style="font-weight: bold;">&#8220;Four Books&#8221;</span> 
        used by the ancient Chinese for <span style="font-weight: bold;">
        civil service study</span>, it contains the sayings (aphorisms) 
        of <span style="font-weight: bold;">Confucius</span>. The 
        philosopher Confucius did not write or edit the words that make 
        up the Analects; his disciples compiled them in the 5th or 4th 
        century&nbsp;BC. Confucianism is more of a 
        <span style="font-weight: bold;">philosophical system</span> than 
        a religion, and Confucius thought of himself more as a 
        <span style="font-weight: bold;">teacher</span> than as a 
        spiritual leader. The <i style="font-weight: bold;">Analects</i> 
        also contain some of the basic ideas found in Confucianism, such 
        as <i style="font-weight: bold;">ren</i> (benevolence) and 
        <i style="font-weight: bold;">li</i> (proper conduct).
    </li>
	<li class="list_item">
        <span class="label">Apocrypha</span>: Protestants and Jews assign 
        lower authority to the Apocrypha because it was written between 300 
        and 100&nbsp;BC, but Catholics and Orthodox Christians consider 
        the books that make up the Apocrypha to be 
        <span style="font-weight: bold;">&#8220;deuterocanonical,&#8221;
        </span> meaning that they are just as important and divinely-
        inspired as other parts of the Old Testament/Hebrew Bible. 
        &#8220;Apocryphal&#8221; in general means &#8220;something outside 
        an accepted canon,&#8221; and, in particular, in ancient Greek it 
        meant &#8220;hidden things.&#8221;  Denominations differ as to which 
        books make up the Apocrypha, but <span style="font-weight: bold;">
        Tobit</span>, <span style="font-weight: bold;">Judith</span>, 
        <span style="font-weight: bold;">1&nbsp;and 2&nbsp;Maccabees</span>, 
        <span style="font-weight: bold;">Wisdom</span>, 
        <span style="font-weight: bold;">Sirach</span> (or 
        <span style="font-weight: bold;">Ecclesiasticus</span>), and 
        <span style="font-weight: bold;">Baruch</span> are almost always 
        included.
    </li>
	<li class="list_item">
        <span class="label">Avesta (or Zend-Avesta)</span>: Sacred scripture 
        of <span style="font-weight: bold;">Zoroastrianism</span>. 
        It consists of five parts: <i style="font-weight: bold;">Gathas</i> 
        (poems written by Zoroaster), <i style="font-weight: bold;">
        Visparat</i> (homages to spiritual leaders), 
        <i style="font-weight: bold;">Vendidad</i> (legal and medical 
        doctrine), <i style="font-weight: bold;">Yashts</i> (hymns to angels 
        and heroes), and <i style="font-weight: bold;">Khurda</i> (lesser 
        rituals and hymns). The <i style="font-weight: bold;">Gathas</i> may 
        be as old as the 7th&nbsp;century&nbsp;BC, when Zoroaster is 
        thought to have lived, but most of the Avesta was put together by 
        the <span style="font-weight: bold;">Sassanid</span> Persian dynasty, 
        between AD&nbsp;200 and 640. Zoroastrianism centers on the eternal 
        struggle between a good entity (<span style="font-weight: bold;">
        Ahura Mazda</span>, or Ormuzd) and its evil counterpart 
        (<span style="font-weight: bold;">Angra Mainyu</span>, or Ahriman); 
        the religion is still practiced by about 120,000 Parsees in Bombay 
        and a few thousand adherents in Iran and Iraq.
    </li>
	<li class="list_item">
        <span class="label">Bhagavad-Gita</span>: Sanskrit for &#8220;The Song 
        of God,&#8221; it is a poem found in Book Six of the Hindu epic 
        <i style="font-weight: bold;">Mahabharata</i>. Likely formalized in 
        the 1st or 2nd century, the Bhagavad-Gita begins on the eve of a 
        <span style="font-weight: bold;">battle</span>, when the prince 
        <span style="font-weight: bold;">Arjuna</span> asks his charioteer 
        <span style="font-weight: bold;">Krishna</span> (an avatar of 
        <span style="font-weight: bold;">Vishnu</span>) about 
        <span style="font-weight: bold;">responsibility in dealing with the 
        suffering</span> that the impending battle will cause. Krishna 
        tells Arjuna that humans possess a <span style="font-weight: bold;">
        divine self</span> within a material form, and that Arjuna&#8217;s 
        duty is to love God and <span style="font-weight: bold;">do what 
        is right without thinking of personal gain</span> &mdash; some of 
        the main tenets of Hinduism.
    </li>
	<li class="list_item">
        <span class="label">Tao Te Ching</span> (or The Way and Its Power)
        </span>: Philosophical text behind <span style="font-weight: bold;">
        Daoism</span>, a religion-philosophy founded by the semi-legendary 
        <span style="font-weight: bold;">Lao Tzu</span> in the sixth 
        century&nbsp;BC, though scholars now believe it was written about 
        200 years later, during the <span style="font-weight: bold;">
        Warring States period</span> of the late 
        <span style="font-weight: bold;">Zhou dynasty</span>. The Tao Te 
        Ching instructs adherents in <span style="font-weight: bold;">
        restraint</span> and <span style="font-weight: bold;">passiveness
        </span>, allowing the <span style="font-weight: bold;">natural 
        order of the universe</span> to take precedent.
    </li>
	<li class="list_item">
        <span class="label">Hadith</span>: A hadith is a report of the 
        words or actions of a Muslim religious figure, most frequently the 
        prophet <span style="font-weight: bold;">Muhammad</span>. Each 
        consists of a <i style="font-weight: bold;">matn</i>, or text of 
        the original oral law itself, as well as an 
        <i style="font-weight: bold;">isnad</i>, or chain of authorities 
        through which it has been passed by word of mouth through the 
        generations. Collectively, the hadith point Muslims toward the 
        <span style="font-weight: bold;">Sunna</span>, or practice of the 
        Prophet, which together with the Qur&#8217;an forms the basis for 
        <i style="font-weight: bold;">shari&#8217;a</i>, usually translated 
        as Islamic law.
    </li>
	<li class="list_item">
        <span class="label">Book of Mormon</span>: Published in 1830 by the 
        founder of the Mormon Church, <span style="font-weight: bold;">
        Joseph Smith</span>. Mormons believe that the prophet 
        <span style="font-weight: bold;">Moroni</span> revealed the 
        location of the Book of Mormon to Smith, and then Smith translated 
        it from a <span style="font-weight: bold;">&#8220;reformed 
        Egyptian&#8221;</span> language.  The Book of Mormon is inscribed 
        on thin <span style="font-weight: bold;">gold plates</span>, and 
        documents the history of a group of <span style="font-weight: bold;">
        Hebrews who migrated to America</span> around 600&nbsp;BC. 
        This group divided into two tribes: the 
        <span style="font-weight: bold;">Lamanites</span> (ancestors of 
        American Indians), and the highly civilized 
        <span style="font-weight: bold;">Nephites</span>, a chosen people 
        instructed by <span style="font-weight: bold;">Jesus</span> but 
        killed by the Lamanites around AD&nbsp;421.
    </li>
	<li class="list_item">
        <span class="label">Qur&#8217;an (or Koran)</span>: Arabic for 
        &#8220;recitation,&#8221; it is the most sacred scripture of 
        <span style="font-weight: bold;">Islam</span>. The Qur&#8217;an 
        is subdivided into 114 chapters, called 
        <i style="font-weight: bold;">sura</i>s, which &mdash; except 
        the first one &mdash; are arranged in 
        <span style="font-weight: bold;">descending order of length</span>. 
        According to Muslim belief, the angel 
        <span style="font-weight: bold;">Jibril</span> (Gabriel) visited 
        the prophet <span style="font-weight: bold;">Muhammad</span> in 
        AD&nbsp;610 and revealed the work to him. Various <i>sura</i>s 
        discuss absolute <span style="font-weight: bold;">submission to 
        Allah</span> (God), happiness in paradise versus torture in hell, 
        and the mercy, compassion, and justice of Allah.  The third caliph, 
        <span style="font-weight: bold;">Uthman</span> (644&ndash;656), 
        formalized the text after many of his 
        <span style="font-weight: bold;">oral reciters</span> were killed 
        in battle.
    </li>
	<li class="list_item">
        <span class="label">Talmud</span>: Hebrew for 
        &#8220;instruction,&#8221; the Talmud is a codification of 
        <span style="font-weight: bold;">Jewish</span> 
        <span style="font-weight: bold;">oral law</span>, based on the 
        <span style="font-weight: bold;">Torah</span>. It consists of the 
        <i style="font-weight: bold;">Mishnah</i> (the laws themselves), 
        and the <i style="font-weight: bold;">Gemara</i> (scholarly 
        commentary on the Mishnah). The Gemara developed in two Judaic 
        centers, Palestine and Babylonia, so there are two Talmuds 
        (<span style="font-weight: bold;">Palestinian</span> and 
        <span style="font-weight: bold;">Babylonian</span>), the latter 
        considered more authoritative. Rabbis and lay scholars finished 
        the Babylonian Talmud around 600.
    </li>
	<li class="list_item">
        <span class="label">Upanishads</span>: Also called Vedanta, or 
        <span style="font-weight: bold;">&#8220;last part of the 
        Vedas,&#8221;</span> the Upanishads were written in 
        <span style="font-weight: bold;">Sanskrit</span> between 900 and 
        500&nbsp;BC. Part <span style="font-weight: bold;">poetry</span> 
        but <span style="font-weight: bold;">mainly prose</span>, the 
        earlier Upanishads laid the foundation for the development of 
        several key Hindu ideas, such as connecting the individual soul 
        (<i style="font-weight: bold;">atman</i>) with the universal soul 
        (<i style="font-weight: bold;">Brahman</i>).  Spiritual release, 
        or <i style="font-weight: bold;">moksha</i>, could be achieved 
        through <span style="font-weight: bold;">meditation</span> and 
        <span style="font-weight: bold;">asceticism</span>. The name 
        &#8220;Upanishads&#8221; means &#8220;to sit down close,&#8221; 
        as pupils did when a teacher recited them.
    </li>
	<li class="list_item">
        <span class="label">Vedas</span>: Consist strictly of four hymnbooks: 
        the <i style="font-weight: bold;">Rig</i> (prayers in verse), 
        <i style="font-weight: bold;">Sama</i> (musical melodies), 
        <i style="font-weight: bold;">Yajur</i> (prose prayers), and 
        <i style="font-weight: bold;">Atharva</i> (spells and incantations). 
        Each Veda, though, also contains a <i style="font-weight: bold;">
        Brahmana</i> (interpretation), and the Vedas also incorporate 
        treatises on meditation (<i style="font-weight: bold;">Aranyakas
        </i>) as well as the Upanishads. Written in an 
        <span style="font-weight: bold;">archaic form of Sanskrit</span> by 
        early <span style="font-weight: bold;">Aryan invaders</span>, 
        possibly between 1500 and 1200&nbsp;BC, the Vedas concentrate on 
        <span style="font-weight: bold;">sacrifices</span> to deities, 
        such as <span style="font-weight: bold;">Indra</span> (god of thunder), 
        <span style="font-weight: bold;">Varuna</span> (cosmic order), and 
        <span style="font-weight: bold;">Agni</span> (fire). The major gods 
        <span style="font-weight: bold;">Vishnu</span> and 
        <span style="font-weight: bold;">Shiva</span> appear as minor 
        deities in the Vedas; their elevation, as well as the concept of 
        <i style="font-weight: bold;">karma</i>, does not develop until 
        the Upanishads.
    </li>
	<li class="list_item">
        <span class="label">Yijing</span> (or class="label"family: Cambria; font-weight: bold; class="label">I&nbsp;Ching</span> or 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Book of Changes</span>): The basis for 
        <span style="font-weight: bold;">ancient Chinese philosophy and 
        religion</span>, the Yijing was created between 1500 and 
        1000&nbsp;BC, though legend has it that the dragon-emperor 
        <span style="font-weight: bold;">Fuxi</span> derived its 
        <span style="font-weight: bold;">eight trigrams</span> from a 
        turtle shell. The trigrams consist of three either 
        <span style="font-weight: bold;">broken</span> (yin) or 
        <span style="font-weight: bold;">unbroken</span> (yang) 
        <span style="font-weight: bold;">lines</span>, and by reading 
        pairs of these trigrams randomly, one could learn about humans, 
        the universe, and the meaning of life.  The Qin emperor 
        <span style="font-weight: bold;">Shi Huangdi</span> burned most 
        scholarly books, but the Yijing <span style="font-weight: bold;">
        escaped</span> because it was not seen as threatening.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}