{% extends "base.html" %}  {% block title %}Shakespearean Speeches{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Shakespearean Speeches, Monologues, and Soliloquies</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/shakespearean-speeches.html">
    You Gotta Know These Shakespearean Speeches
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
		<span class="label">The &#8220;To be, or not to be&#8221; soliloquy
        </span>is delivered by <span style="font-weight: bold;">Hamlet</span> 
        in act&nbsp;III, scene&nbsp;1. The scene opens with 
        <span style="font-weight: bold;">King Claudius</span> conversing with 
        <span style="font-weight: bold;">Rosencrantz and Guildenstern</span> 
        about the cause of Hamlet&#8217;s melancholy. To determine if 
        Hamlet&#8217;s state is due to love for 
        <span style="font-weight: bold;">Ophelia</span>, Claudius and 
        Polonius (Ophelia&#8217;s father), ask Ophelia to speak with Hamlet 
        while they listen in. Hamlet subsequently enters, delivering one of 
        the most famous soliloquies in all of literature:
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			To be, or not to be, that is the question:
			Whether &#8217;tis nobler in the mind to suffer
			The slings and arrows of outrageous fortune,<br />
			Or to take Arms against a Sea of troubles,<br />
			And by opposing end them.
		</blockquote>
		Hamlet ponders whether death is preferable to the suffering of living, 
        noting that
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			To die, to sleep,<br />
			to sleep, perchance to Dream; aye, there&#8217;s the rub<br />
			For in that sleep of death, what dreams may come.
		</blockquote>
		Hamlet goes on to refer to death as the 
        <span style="font-weight: bold;">&#8220;undiscovered country,&#8221;
        </span> before noting that due to the unknown &#8220;ills&#8221; of 
        death, <span style="font-weight: bold;">&#8220;conscience does make 
        cowards of us all.&#8221;</span>
	</li>
	<li class="list_item">
		<span class="label">Mark Antony&#8217;s funeral oration</span>
		is delivered in act&nbsp;III, scene&nbsp;2 of 
        <i style="font-weight: bold;">Julius Caesar</i>. Prior to 
        Antony&#8217;s address, <span style="font-weight: bold;">Brutus
        </span> claims that his participation in the conspirators&#8217; 
        murder of Caesar was due to his love of Rome, claiming that 
        <span style="font-weight: bold;">&#8220;as [Caesar] was ambitious, I 
        slew him.&#8221;</span> Antony subsequently draws the attention of 
        the crowd by exhorting <span style="font-weight: bold;">
        &#8220;Friends, Romans, countrymen, lend me your ears.&#8221;
        </span> Antony begins by claiming
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			<span style="font-weight: bold;">I come to bury Caesar, not to 
            praise him.</span><br />
			The evil that men do lives after them,<br />
			The good is oft interred with their bones;<br />
			So let it be with Caesar.
		</blockquote>
		Antony concedes that if Caesar was ambitious, &#8220;it was a grievous 
        fault,&nbsp;/ And grievously hath Caesar answer&#8217;d it.&#8221; 
        While tacitly acknowledging that Brutus and the conspirators are 
        &#8220;honorable men,&#8221; Antony proceeds to counter their claim, 
        noting that Caesar brought wealth to Rome via the ransoms of his 
        captives, and that Caesar cared for the poor. He states
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			You all did see that on the Lupercal<br />
			I thrice presented him a kingly crown,<br />
			Which he did thrice refuse: was this ambition?
		</blockquote>
		Antony concludes with a flourish, lamenting &#8220;
        <span style="font-weight: bold;">My heart is in the coffin there with 
        Caesar</span>&nbsp;/ And I must pause till it come back to me.&#8221; 
        Antony&#8217;s speech immediately turns public opinion against the 
        conspirators.
	</li>
	<li class="list_item">
		<span class="label">&#8220;All the world&#8217;s a stage&#8221;</span>
		is a monologue delivered in act&nbsp;II, scene&nbsp;7 of 
        <i style="font-weight: bold;">As You Like It</i> by 
        <span style="font-weight: bold;">Jaques</span>. A desperate 
        <span style="font-weight: bold;">Orlando</span> has come upon the 
        exiled Duke&#8217;s camp in the Forest of Arden, and demands food, 
        threatening force if necessary, but the Duke warmly welcomes him. 
        The sight of Orlando prompts Jaques to deliver a monologue noting
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			All the world&#8217;s a stage,<br />
			And all the men and women merely players;<br />
			They have their exits and their entrances,<br />
			And one man in his time plays many parts,<br />
			His acts being seven ages,
		</blockquote>
		giving the passage its alternate title, 
        <span style="font-weight: bold;">the Seven Ages of Man</span>. 
        Jaques describes the seven ages as <span style="font-weight: bold;">
        the infant, the schoolboy, the lover, the soldier, the justice, the 
        pantaloon, and second childishness</span>. His description of old 
        age is grim, noting that man ends <span style="font-weight: bold;">
        &#8220;Sans teeth, sans eyes, sans taste, sans everything.&#8221;
        </span>
	</li>
	<li class="list_item">
		<span class="label">The Saint Crispin&#8217;s Day speech</span>
		is delivered by <span style="font-weight: bold;">Henry&nbsp;V
        </span> in act&nbsp;IV, scene&nbsp;3. On the eve of the 
        <span style="font-weight: bold;">Battle of Agincourt</span> against 
        the French, Henry overhears Westmorland wishing they had but one in 
        every 10,000 of the men left behind in England. Henry responds by 
        delivering a speech noting <span style="font-weight: bold;">
        &#8220;the fewer men, the greater share of honor,&#8221;</span> 
        before stating &#8220;he which hath no stomach to this fight,&nbsp;/ 
        Let him depart.&#8221; Henry remarks that the battle will be fought 
        on Saint Crispin&#8217;s Day, and promises &#8220;He that outlives 
        this day, and comes safe home,&nbsp;/ Will stand a tip-toe when the 
        day is nam&#8217;d.&#8221; The king rouses his men by describing his 
        army as <span style="font-weight: bold;">&#8220;We few, we happy 
        few, we band of brothers&#8221;</span> and ends by promising that
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			gentlemen in England now a-bed<br />
			Shall think themselves accurs&#8217;d they were not here,<br />
			And hold their manhoods cheap whiles any speaks<br />
			That fought with us upon Saint Crispin&#8217;s day.
		</blockquote>
		According to Shakespeare, in the subsequent battle, the French 
        suffer over 10,000 casualties; the English, less than 30.
	</li>
	<li class="list_item">
		<span class="label">The &#8220;Tomorrow and tomorrow and 
        tomorrow&#8221; soliloquy</span>is delivered by 
        <span style="font-weight: bold;">Macbeth</span> in act&nbsp;V, 
        scene&nbsp;5, near the end of the play. Macbeth hears a 
        &#8220;shriek&#8221; that he notes would have terrified him earlier 
        in his life, but not after the &#8220;horrors&#8221; he has 
        experienced in the play. Subsequently, Seyton informs him the cry 
        was the death of Lady Macbeth, prompting Macbeth to muse 
        &#8220;Tomorrow, and tomorrow, and tomorrow,&nbsp;/ Creeps in this 
        petty pace from day to day.&#8221; Macbeth likens death to the 
        extinguishing of a flame, stating &#8220;Out, out, brief 
        candle!&#8221; before noting that
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			Life&#8217;s but a walking shadow, a poor player<br />
			That struts and frets his hour upon the stage<br />
			And then is heard no more. <span style="font-weight: bold;">
            It is a tale<br />
			Told by an idiot, full of sound and fury<br />
			Signifying nothing.</span>
		</blockquote>
		William Faulkner adapted the soliloquy&#8217;s penultimate line 
        for the title of his novel The Sound and the Fury.
	</li>
	<li>
		<span class="label">&#8220;Now is the winter of our 
        discontent&#8221;</span>is a monologue delivered by the future 
        <span style="font-weight: bold;">Richard&nbsp;III</span> 
        (then the Duke of Gloucester) to open act&nbsp;I, scene&nbsp;1 of 
        his namesake play. In the very first lines of the play, Richard 
        remarks on the ascension of Edward&nbsp;IV amidst the Wars of the 
        Roses, stating <span style="font-weight: bold;">&#8220;Now is the 
        winter of our discontent&nbsp;/ Made glorious summer by this son 
        of York.&#8221;</span> Richard notes that Edward, having taken the 
        throne, no longer rides into battle, but &#8220;capers nimbly in 
        a lady&#8217;s chamber.&#8221; Richard, however, is an ugly, 
        deformed, hunchback, describing himself as 
        <span style="font-weight: bold;">&#8220;rudely 
        stamp&#8217;d&#8221;</span> and lamenting that &#8220;dogs bark at 
        me as I halt by them.&#8221; He resolves that
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			since I cannot prove a lover,<br />
			To entertain these fair well-spoken days,<br />
			<span style="font-weight: bold;">I am determined to prove a 
            villain</span>
		</blockquote>
		and describes the plot he has hatched to pit Edward against 
        Richard&#8217;s brother Clarence. Richard finishes by contrasting 
        himself with the king, stating &#8220;if King Edward be as true 
        and just&nbsp;/ As I am subtle, false, and treacherous,&nbsp;/ 
        This day should Clarence closely be mew&#8217;d up.&#8221;
	</li>
	<li class="list_item">
		<span class="label">&#8220;Blow, winds, and crack your 
        cheeks&#8221;</span>is a monologue delivered by 
        <span style="font-weight: bold;">King Lear</span> in act&nbsp;III, 
        scene&nbsp;2. Lear, having been taken in by the false flattery of 
        his daughters <span style="font-weight: bold;">Regan</span> and 
        <span style="font-weight: bold;">Goneril</span>&mdash;and having 
        disinherited his honest daughter <span style="font-weight: bold;">
        Cordelia</span>&mdash;is enraged when Regan and Goneril betray 
        him and refuse to honor their promises to house and care for him. 
        Rushing out onto the heath, he addresses the storm raging 
        overhead, shouting
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			Blow, winds, and crack your cheeks! Rage! Blow!<br />
			You cataracts and hurricanes, spout<br />
			Till you have drench&#8217;d our steeples, drown&#8217;d the cocks!
		</blockquote>
		Lear&#8217;s fool, who accompanies him, urges Lear to apologize to 
        his daughters and ask for shelter, but Lear refuses. He notes that 
        the wind and rain never broke any promises to him, stating &#8220;I 
        tax not you, you elements, with unkindness;&nbsp;/ 
        <span style="font-weight: bold;">I never gave you kingdom, 
        call&#8217;d you children.</span>&#8221; Lear concludes by lamenting 
        his foolishness and his plight, calling himself 
        <span style="font-weight: bold;">&#8220;A poor, infirm, weak, and 
        despis&#8217;d old man&#8221;</span> with 
        <span style="font-weight: bold;">&#8220;two pernicious 
        daughters.&#8221;</span> During the storm, Lear is eventually 
        reunited with his faithful servant Kent.
	</li>
	<li class="list_item">
        <span class="label">The &#8220;Balcony Scene&#8221;</span> in 
        act&nbsp;II, scene&nbsp;2 of <i style="font-weight: bold;">Romeo 
        and Juliet</i> contains two of the best-known speeches in the 
        entire play. Having fallen in love with Juliet after seeing her 
        at Capulet&#8217;s ball, Romeo sneaks into the garden under her 
        balcony to try and meet with her. Spying her at her window, he 
        exclaims <span style="font-weight: bold;">&#8220;But, soft! what 
        light through yonder window breaks?&nbsp;/ It is the east, and 
        Juliet is the sun.&#8221;</span> Romeo watches and notes that 
        Juliet is speaking to the stars; after he hears her voice the 
        first time, he urges &#8220;O, speak again, bright angel!&#8221; 
        Juliet&mdash;who does not realize Romeo is listening&mdash;longs 
        for him, calling out <span style="font-weight: bold;">&#8220;O 
        Romeo, Romeo! wherefore art thou Romeo?&#8221;</span> Juliet 
        laments that the feud between their families forbids their love, 
        urging Romeo <span style="font-weight: bold;">&#8220;deny thy 
        father and refuse thy name&#8221;</span> before musing 
        <span style="font-weight: bold;">&#8220;What&#8217;s in a name? 
        that which we call a rose&nbsp;/ By any other name would smell 
        as sweet.&#8221;</span> Romeo subsequently reveals himself, and 
        the two lovers speak to one another for the first time.
    </li>
	<li class="list_item">
        <span class="label">&#8220;Hath not a Jew eyes?&#8221;</span> is a 
        speech delivered by the moneylender <span style="font-weight: bold;">
        Shylock</span> in act&nbsp;III, scene&nbsp;1 of 
        <i style="font-weight: bold;">The Merchant of Venice</i>. Although 
        <i>The Merchant of Venice</i> contains many anti-Semitic elements, 
        scholars have noted that Shakespeare&#8217;s characterization of 
        Shylock also includes sympathetic moments. The messenger Salarino 
        asks what good Shylock will get from the 
        <span style="font-weight: bold;">pound of flesh</span> he plans to 
        extract from Antonio. Shylock responds by stating 
        <span style="font-weight: bold;">&#8220;if it will feed nothing 
        else, it will feed my revenge&#8221;</span> before listing the 
        extensive injuries Antonio has inflicted upon him, concluding 
        <span style="font-weight: bold;">&#8220;and what&#8217;s his reason? 
        I am a Jew.&#8221;</span> Noting that Jews are human beings like 
        Christians, Shylock asks <span style="font-weight: bold;">
        &#8220;Hath not a Jew eyes? hath not a Jew hands, organs, 
        dimensions, senses, affections, passions?&#8221;</span> He goes 
        on to note &#8220;<span style="font-weight: bold;">If you prick us, 
        do we not bleed?</span> if you tickle us, do we not laugh? if you 
        poison us, do we not die? and if you wrong us, shall we not 
        revenge?&#8221; Shylock explains that since Christians may seek 
        revenge against Jews that wrong them, he is only responding in 
        kind, pointing out the hypocrisy and noting 
        <span style="font-weight: bold;">&#8220;The villainy you teach me 
        I will execute.&#8221;</span>
    </li>
	<li class="list_item">
		<span class="label">&#8220;Our revels now are ended&#8221;</span>
		is a short speech delivered by <span style="font-weight: bold;">
        Prospero</span> in act&nbsp;IV, scene&nbsp;1 of 
        <i style="font-weight: bold;">The Tempest</i>. Prospero has blessed 
        the impending <span style="font-weight: bold;">marriage of his 
        daughter Miranda to Ferdinand</span>, the son of Alonso, and uses 
        his magic to make the spirit Ariel present a masque featuring the 
        goddesses Iris, Ceres, and Juno. However, Prospero interrupts the 
        dancing when he realizes he must deal with a 
        <span style="font-weight: bold;">conspiracy involving Caliban</span>. 
        Noticing the disappointment of Ferdinand, Prospero reminds him that 
        the play&mdash;like both life and the world entire&mdash;was fleeting, 
        stating
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			Our revels now are ended. These our actors,<br />
			As I foretold you, were all spirits and<br />
			Are melted into air.
		</blockquote>
		Prospero notes that eventually &#8220;the great globe 
        itself,&nbsp;/ Ye all which it inherit, shall dissolve.&#8221; 
        Once again, Shakespeare compares death to sleep and dreams, as 
        Prospero states 
		<blockquote style="margin-left: 1em; margin-top: 15px;">
			<span style="font-weight: bold;">We are such stuff<br />
			As dreams are made on</span>, and our little life<br />
			Is rounded with a sleep.
		</blockquote>
		Prospero&#8217;s line is often misquoted as &#8220;such stuff as 
        dreams are made <em>of</em>,&#8221; rather than &#8220;on.&#8221;
	</li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}