{% extends "base.html" %}  {% block title %}Shakespearean Villains{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Shakespearean Villains</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/shakespearean-villains.html">
    You Gotta Know These Shakespearean Villains
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Richard, Duke of Gloucester, from <i>
        Richard&nbsp;III</i></span>: The quintessential antihero, Richard 
        describes how his <span style="font-weight: bold;">hunchbacked</span> 
        appearance has made him &#8220;determined to prove a villain&#8221; 
        in a monologue that begins <span style="font-weight: bold;">
        &#8220;now is the winter of our discontent / made glorious summer 
        by this son of York.&#8221;</span>  In the aftermath of a Yorkist 
        victory in the <span style="font-weight: bold;">Wars of the Roses
        </span>, Richard <span style="font-weight: bold;">plots against his 
        brothers</span> <span style="font-weight: bold;">King 
        Edward&nbsp;IV</span> and <span style="font-weight: bold;">George, 
        Duke of Clarence</span>, and causes Edward to 
        <span style="font-weight: bold;">imprison Clarence in the Tower 
        of London</span>. Assassins sent by Richard later 
        <span style="font-weight: bold;">kill Clarence</span>, who is 
        drowned in a &#8220;malmsey-butt,&#8221; or cask of wine. Richard 
        also <span style="font-weight: bold;">marries and kills the Lady 
        Anne</span>, and <span style="font-weight: bold;">orders the deaths 
        of Edward&#8217;s children</span> (the 
        <span style="font-weight: bold;">&#8220;princes in the tower&#8221;
        </span>). Although Richard <span style="font-weight: bold;">becomes 
        king</span>, he soon faces a <span style="font-weight: bold;">
        rebellion led by Henry Tudor</span>, Earl of Richmond. On the eve 
        of a battle at <span style="font-weight: bold;">Bosworth Field</span>, 
        Richard is <span style="font-weight: bold;">haunted by the ghosts 
        of those he wronged</span>. The battle turns against Richard (who 
        cries <span style="font-weight: bold;">&#8220;a horse! a horse! my 
        kingdom for a horse!&#8221;</span>), and Richmond is crowned as 
        King Henry&nbsp;VII of England.
    </li>
	<li class="list_item">
        <span class="label">Lady Macbeth, from <i>Macbeth</i></span>: Though 
        Macbeth is the play&#8217;s protagonist, his pursuit of the 
        Scottish throne is largely driven by his wife&#8217;s 
        <span style="font-weight: bold;">ambition</span>. After 
        <span style="font-weight: bold;">three witches</span> predict that 
        Macbeth will be king, Lady Macbeth fears that her husband is 
        <span style="font-weight: bold;">&#8220;too full &#8217;o the milk 
        of human kindness&#8221;</span> to commit 
        <span style="font-weight: bold;">murder</span>, and bids 
        &#8220;spirits&#8221; to &#8220;unsex&#8221; her and imbue her with 
        willpower. She <span style="font-weight: bold;">insults 
        Macbeth&#8217;s masculinity</span>, and urges him to 
        <span style="font-weight: bold;">&#8220;screw [his] courage to the 
        sticking-place&#8221;</span> and <span style="font-weight: bold;">
        kill King Duncan</span>. When Macbeth is unable to 
        <span style="font-weight: bold;">frame two grooms for the murder
        </span>, Lady Macbeth does so in his place. Later, Lady Macbeth is 
        wracked with <span style="font-weight: bold;">guilt</span> for her 
        actions. While sleepwalking, she tries to 
        <span style="font-weight: bold;">wash imaginary blood</span> from her 
        hands, and cries <span style="font-weight: bold;">&#8220;out, damned 
        spot!&#8221;</span> In the final act, the news of her death prompts 
        Macbeth to deliver the &#8220;tomorrow, and tomorrow, and 
        tomorrow&#8221; soliloquy.
    </li>
	<li class="list_item">
        <span class="label">Iago, from <i>The Tragedy of Othello, the Moor 
        of Venice</i></span>: Iago is the <span style="font-weight: bold;">
        &#8220;ancient,&#8221;</span> or standard-bearer, of the general 
        Othello, and is <span style="font-weight: bold;">passed over for 
        a promotion</span> to lieutenant in favor of the less-experienced 
        <span style="font-weight: bold;">Michael Cassio</span>. In addition, 
        Iago believes that his wife, Emilia, may have cheated on him with 
        Othello. Consequently, Iago vows <span style="font-weight: bold;">
        revenge</span>. At the start of the play, Iago and his associate 
        Roderigo alert the Venetian senator Brabantio that 
        <span style="font-weight: bold;">Brabantio&#8217;s daughter, 
        Desdemona, has eloped with Othello</span>. After Desdemona testifies 
        that she married Othello willingly, the Duke of Venice places 
        Othello in charge of defending Cyprus. On the island, Iago 
        ingratiates himself with Othello, and deceitfully warns the general 
        against the <span style="font-weight: bold;">&#8220;green-eyed 
        monster&#8221;</span> of jealousy. Iago then 
        <span style="font-weight: bold;">places Desdemona&#8217;s 
        handkerchief in Cassio&#8217;s room</span>, causing Othello to 
        believe that Desdemona and Cassio are having an affair. Once 
        <span style="font-weight: bold;">Othello has murdered Desdemona
        </span>, Emilia exposes Iago&#8217;s plot. Before killing himself, 
        Othello stabs Iago, who survives to be 
        <span style="font-weight: bold;">arrested by Cassio</span>.
    </li>
	<li class="list_item">
        <span class="label">Tybalt, from <i>Romeo and Juliet</i></span>: 
        Tybalt is a <span style="font-weight: bold;">hot-headed member of 
        the Capulet family</span> who is the beloved 
        <span style="font-weight: bold;">cousin of Juliet</span>. During 
        the public brawl that begins the play, Tybalt provokes the peaceful 
        Benvolio. At a ball given by the Capulets, Tybalt 
        <span style="font-weight: bold;">recognizes the disguised Romeo
        </span> and calls for a sword, but is 
        <span style="font-weight: bold;">prevented from fighting</span> by 
        Lord Capulet. Tybalt then <span style="font-weight: bold;">demands 
        a duel with Romeo</span>, who does not wish to fight one of 
        Juliet&#8217;s kinsmen. Romeo&#8217;s friend Mercutio is shocked 
        by this &#8220;vile submission,&#8221; and calls Tybalt 
        <span style="font-weight: bold;">&#8220;king of cats&#8221;</span> 
        while challenging him to a duel. (Tybalt shares his name with a 
        feline character from medieval fables about Reynard the Fox.) Romeo 
        tries to intervene in the duel, which allows Tybalt to 
        <span style="font-weight: bold;">kill Mercutio</span>. Romeo then 
        kills Tybalt, and is banished from Verona.
    </li>
	<li class="list_item">
        <span class="label">King Claudius, from <i>The Tragedy of Hamlet, 
        Prince of Denmark</i></span>: Before the start of the play, 
        Claudius became the ruler of Denmark by 
        <span style="font-weight: bold;">pouring poison into the ear of 
        his sleeping brother, King Hamlet</span>. Claudius then 
        <span style="font-weight: bold;">married Gertrude</span>, King 
        Hamlet&#8217;s widow. In the play&#8217;s first act, Prince Hamlet 
        learns of his uncle&#8217;s treachery by speaking to King 
        Hamlet&#8217;s ghost. Hamlet then arranges for a troupe of actors 
        to perform a play titled <i>The Murder of Gonzago</i>, which 
        Hamlet revises to increase the similarities to his father&#8217;s 
        death. Claudius is <span style="font-weight: bold;">disturbed by 
        the performance</span>, and storms out during the murder scene. 
        Later, Claudius prays for forgiveness, causing Hamlet to delay 
        killing him out of fear that Claudius&#8217;s soul would go to 
        heaven. As Hamlet feigns madness, Claudius 
        <span style="font-weight: bold;">sends him to England</span> with 
        Rosencrantz and Guildenstern, who unknowingly carry a letter 
        calling for Hamlet&#8217;s execution. After Hamlet escapes and 
        returns to Denmark, Claudius <span style="font-weight: bold;">
        arranges for Hamlet to fight a duel with Laertes</span>, who seeks 
        revenge for the death of his father, Polonius, and sister, Ophelia. 
        Laertes uses a poison-tipped sword, and Claudius 
        <span style="font-weight: bold;">prepares a poisoned drink</span> 
        as a back-up. When Laertes falls in combat he reveals the plot, 
        prompting Hamlet to <span style="font-weight: bold;">stab Claudius 
        with the poisoned sword</span>, and make Claudius 
        <span style="font-weight: bold;">drink from the poisoned cup</span>.
    </li>
	<li class="list_item">
        <span class="label">Regan</span> and the class="label"family: Cambria; font-weight: bold; class="label">Duke of Cornwall</span>, and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Goneril</span> and the 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Duke of Albany</span>, from 
        <i style="font-weight: bold;">King Lear</i>: Regan and Goneril are 
        the elderly King Lear&#8217;s two evil daughters. After Lear 
        bequeaths his kingdom to them, they <span style="font-weight: bold;">
        conspire to undermine Lear&#8217;s remaining power and defeat 
        Cordelia</span>, Lear&#8217;s sole loyal daughter. Angered by the 
        treatment that he has received from his heirs, Lear 
        <span style="font-weight: bold;">leaves Regan&#8217;s home in the 
        middle of a thunderstorm</span>.  Gloucester, who desires 
        Lear&#8217;s reinstatement, aids Cordelia&#8217;s invading army; 
        he is exposed, and Regan and Cornwall 
        <span style="font-weight: bold;">gouge Gloucester&#8217;s eyes out
        </span>. While Albany and Cornwall <span style="font-weight: bold;">
        arrange their armies to fight Cordelia</span>, Regan and Goneril 
        both romantically pursue the villainous Edmund. This love triangle 
        results in <span style="font-weight: bold;">Goneril killing Regan
        </span> with poison. Goneril also tries to have Albany killed, but 
        <span style="font-weight: bold;">commits suicide</span> when the 
        plot is exposed. Cordelia is <span style="font-weight: bold;">
        captured and executed</span>, and Lear dies of grief soon afterward, 
        leaving the redeemed Albany and Edmund&#8217;s half-brother Edgar 
        to take charge of the realm.
    </li>
	<li class="list_item">
        <span class="label">Caliban, from <i>The Tempest</i></span>: Caliban 
        is the <span style="font-weight: bold;">son of the Algerian witch 
        Sycorax</span>, who once ruled the island where Caliban was born. 
        After Sycorax died the island fell under the control of the 
        magician Prospero, an exiled duke of Milan. Prospero taught the 
        young Caliban language, and showed kindness to him, until Caliban 
        <span style="font-weight: bold;">tried to rape Prospero&#8217;s 
        daughter Miranda</span>. In response, Prospero 
        <span style="font-weight: bold;">enslaved</span> Caliban, and began 
        treating him as a subhuman creature. (Caliban&#8217;s exact nature 
        is unknown, but he seems to be physically distinct from the other 
        characters in the play. At various points, Caliban is called a 
        &#8220;monster,&#8221; a &#8220;demi-devil,&#8221; a &#8220;strange 
        fish,&#8221; a &#8220;thing of darkness,&#8221; a &#8220;moon-
        calf,&#8221; and a &#8220;freckled whelp&#8221; who lacks a 
        &#8220;human shape.&#8221;) When the play begins, Caliban 
        <span style="font-weight: bold;">longs to overthrow Prospero</span> 
        but still <span style="font-weight: bold;">fears Prospero&#8217;s 
        magic</span>, which is stronger than that of Caliban&#8217;s god, 
        Setebos. Trinculo and Stephano, two drunkards who are shipwrecked 
        and separated from the rest of their crew, give Caliban 
        <span style="font-weight: bold;">liquor</span>; Caliban then 
        <span style="font-weight: bold;">conspires with them to kill 
        Prospero</span>. When the group hears music played by the spirit 
        Ariel, Caliban delivers a speech beginning 
        <span style="font-weight: bold;">&#8220;Be not afeard, the isle is 
        full of noises&#8221;</span> that demonstrates sensitivity and loss. 
        The plot to unseat Prospero quickly fails, and Caliban vows to be 
        <span style="font-weight: bold;">&#8220;wise hereafter.&#8221;</span> 
        Unlike Ariel, Caliban is not freed at the end of the play.
    </li>
	<li class="list_item">
        <span class="label">Duke Frederick, from <i>As You Like It</i></span>: 
        Before the opening of the play, Frederick 
        <span style="font-weight: bold;">overthrew his brother</span>, Duke 
        Senior, and seized control of the court. There, Frederick 
        <span style="font-weight: bold;">harbors his brother&#8217;s daughter 
        Rosalind</span> as a companion to his own daughter, Celia. When 
        Frederick <span style="font-weight: bold;">banishes Rosalind</span> 
        out of fear that she is plotting against him, Celia volunteers to go 
        with her beloved cousin, and suggests that they reunite with Duke 
        Senior in the Forest of Arden. At the same time, a young nobleman 
        named Orlando flees to the Forest of Arden to escape his brother 
        Oliver&#8217;s mistreatment. Frederick suspects that Orlando is in 
        the company of Celia and Rosalind, and 
        <span style="font-weight: bold;">seizes Oliver&#8217;s lands</span> 
        until Orlando can be produced. After Oliver departs to search for 
        his brother, Duke Frederick is not heard of again until the end of 
        the play, when Oliver and Orlando&#8217;s brother Jaques reports 
        that Frederick <span style="font-weight: bold;">suddenly repented
        </span> of his crimes after meeting &#8220;an old religious 
        man.&#8221; Frederick relinquishes the crown to Duke Senior, and 
        restores the property of Duke Senior&#8217;s supporters.
    </li>
	<li class="list_item">
        <span class="label">Proteus, from <i>The Two Gentlemen of Verona</i>
        </span>: Proteus begins the play as an 
        <span style="font-weight: bold;">innocent lover</span>, but develops 
        into the primary antagonist after he <span style="font-weight: bold;">
        visits his friend Valentine</span> in Milan, and becomes 
        <span style="font-weight: bold;">infatuated with Valentine&#8217;s 
        love, Silvia</span>. Although Proteus has 
        <span style="font-weight: bold;">sworn that he will be faithful to 
        a woman in Verona named Julia</span>, he breaks his promise and 
        <span style="font-weight: bold;">tries to win Silvia for himself
        </span>. To this end, Proteus <span style="font-weight: bold;">
        betrays Valentine</span> by telling Silvia&#8217;s father, the 
        duke, that <span style="font-weight: bold;">Valentine and Silvia 
        plan to elope</span>. After the duke exiles Valentine, Silvia 
        <span style="font-weight: bold;">rejects Proteus because of his 
        treachery</span> towards his friend, and his 
        <span style="font-weight: bold;">unfaithfulness</span> to Julia. 
        When Silvia escapes to the woods to find Valentine, Proteus 
        <span style="font-weight: bold;">follows her and rescues her from 
        outlaws</span>. Silvia continues to reject Proteus, who 
        <span style="font-weight: bold;">threatens to rape her</span> 
        (&#8220;I&#8217;ll force thee yield to my desire&#8221;) before 
        Valentine intervenes. Proteus <span style="font-weight: bold;">
        repents</span>, and Julia &mdash; who has been disguised as 
        Proteus&#8217;s male page &mdash; reveals herself. Proteus then 
        <span style="font-weight: bold;">reunites with Julia and resumes 
        his friendship with Valentine</span>, whom the duke permits to 
        marry Silvia.
    </li>
	<li class="list_item">
        <span class="label">Angelo, from <i>Measure for Measure</i></span>: 
        Angelo is entrusted with the <span style="font-weight: bold;">rule 
        of Vienna</span> by Duke Vicentio, who pretends to leave the city 
        but actually remains present, disguised as &#8220;Friar 
        Lodowick.&#8221; Angelo <span style="font-weight: bold;">enforces 
        antiquated laws against fornication</span>, resulting in 
        Claudio&#8217;s arrest and imminent execution. Claudio&#8217;s 
        sister, the novice nun Isabella, pleads for Claudio to be pardoned; 
        Angelo agrees, but only if Isabella will have sex with him. After 
        debate, Duke Vincentio proposes a &#8220;bed trick&#8221;: 
        Isabella pretends that she is willing to have sex with Angelo in 
        absolute darkness and silence, which allows Mariana, a woman who 
        was once betrothed to Angelo, to take Isabella&#8217;s place. 
        Although the plan works, and Angelo believes that he had sex with 
        Isabella, he <span style="font-weight: bold;">goes back on his word 
        and orders Claudio&#8217;s execution</span>. This forces the duke 
        to arrange a &#8220;head trick,&#8221; in which the head of the 
        pirate Ragozine is presented to Angelo, and Claudio&#8217;s life 
        is saved. Once the duke &#8220;returns&#8221; to Vienna, Isabella 
        and Mariana petition him to right their wrongs. Angelo initially 
        <span style="font-weight: bold;">denies the charges</span> brought 
        against him, but <span style="font-weight: bold;">confesses</span> 
        once he learns that the duke and Friar Lodowick are the same person. 
        Angelo&#8217;s life is spared for Mariana&#8217;s sake, and the 
        duke proposes marriage to Isabella.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}