{% extends "base.html" %}  {% block title %}Translations and Translators{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Translations and Translators</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/translations.html">
    You Gotta Know These Translations and Translators
    </a>
</h1>
<br />

<dt>John Dryden, The <i>Aeneid</i> by Virgil: written 1st century in 
    Latin, translated 1697 into English
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        A poet and playwright by trade, Dryden was the first to translate 
        the <i>Aeneid</i> into English proper (a Scots version by Gavin Douglas 
        appeared in 1513). Dryden wrote his translation 
        <span style="font-weight: bold;">in verse</span>, a feat not done by 
        any major English translation since, largely because Latin&#8217;s 
        extreme grammatical economy cannot be rendered compactly in English. 
        Dryden&#8217;s translation frequently expands passages so he can 
        convey their precise meaning. Dryden rendered the <i>Aeneid</i>&#8217;s 
        opening line as <span style="font-weight: bold;">&#8220;Arms, and the 
        man I sing,&#8221;</span> which George Bernard Shaw borrowed for the 
        title of his play <i style="font-weight: bold;">Arms and the Man</i>.
    </dd>
<dt>
    Seamus Heaney, <i>Beowulf</i>: written c.&nbsp;8th century in Old English, 
    translated 2000 into modern English
</dt>
    <dd style="margin-left: 1em; margin-bottom: 15px;"> 
        Affectionately called the <span style="font-weight: bold;">
        &#8220;Heaneywulf,&#8221;</span> Heaney dedicated this translation 
        to poet <span style="font-weight: bold;">Ted Hughes</span>. Heaney, 
        an acclaimed Irish poet himself, made the decision early on to 
        render his translation in the same poetic form as the original: 
        <span style="font-weight: bold;">alliterative verse</span>, in which 
        the second half of each line uses alliteration to link it to the 
        first half. Heaney unconventionally chose 
        <span style="font-weight: bold;">&#8220;So!&#8221;</span> as his 
        rendering of <i>Beowulf</i>&#8217;s opening shout of 
        <span style="font-weight: bold;">&#8220;Hw&aelig;t,&#8221;</span>   
        which is often typically rendered as &#8220;hark&#8221; or 
        &#8220;listen.&#8221;
    </dd>
<dt>
    J.&nbsp;R.&nbsp;R. Tolkien, <i>Beowulf</i>: written c.&nbsp;8th century 
    in Old English, translated into English 1920&ndash;1926 and published 
    in 2014
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        Tolkien&#8217;s version of <i>Beowulf</i> is 
        <span style="font-weight: bold;">in prose</span>, not verse, and is 
        often regarded as sacrificing ease-of-reading in the name of a truer 
        and more faithful translation into modern English. Tolkien&#8217;s 
        translation is done not through a poetic lens but a linguistic one, 
        as Tolkien was a devoted scholar of Old English. Tolkien renders 
        &#8220;Hw&aelig;t&#8221; as the archaic-sounding 
        <span style="font-weight: bold;">&#8220;Lo!&#8221;</span>. In 
        addition, Tolkien adapted the first 2,000 lines of <i>Beowulf</i> 
        into a freer, inexact folktale version he titled 
        <span style="font-weight: bold;">&#8220;Sellic Spell.&#8221;</span> 
        Print versions of Tolkien&#8217;s translation often include his 
        1936 lecture &#8220;Beowulf: The Monsters and the Critics,&#8221; 
        which revived interest in <i>Beowulf</i> as a beautiful poem 
        rather than as a historical text.
    </dd>
<dt>
    Charles Baudelaire, the works of Edgar Allan Poe: written early 19th 
    century in English; translated 1856&ndash;1865 into French, starting 
    with <i>Histoires extraordinares</i> (<i>Extraordinary Stories</i>)
</dt>
    <dd style="margin-left: 1em; margin-bottom: 15px;">
        Baudelaire&#8217;s translations of the works of Edgar Allan 
        Poe&mdash;rendered by Baudelaire as &#8220;Edgar Poe&#8221;&mdash;are 
        <em>the</em> authoritative version of Poe&#8217;s works in French; 
        thanks to these translations, in the 19th century, Poe was viewed much 
        more highly by Europeans than by Americans. Although Baudelaire 
        initially idolized Poe and strove to be Poe&#8217;s worthy literary 
        successor, he soured on this opinion by 1865, when he wrote a letter 
        confessing &#8220;I wasted a great deal of time translating Edgar Poe 
        and all I gained was that some people accused me of taking my poems 
        from Poe.&#8221;
    </dd>
<dt>
    Edward FitzGerald, <i>Rub&aacute;iy&aacute;t of Omar Khayy&aacute;m</i>: 
    written late 11th and early 12th century in Persian; translated 1859 into 
    English
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        It is difficult to overstate how popular Edward FitzGerald&#8217;s 
        translation of Persian polymath Omar Khayy&aacute;m&#8217;s poetry 
        was during the Victorian era. FitzGerald&#8217;s translations, 
        revised five times until 1889, present a view of the Middle East 
        as an exotic land of sensual (but refined) pleasures and emphasize 
        Khayy&aacute;m&#8217;s irreligious worldview, which was very 
        pleasing to Victorian tastes. It also cannot be overstated just how 
        loose FitzGerald&#8217;s translations are: scholars believe that 
        some of the quatrains in the <i>Rub&aacute;iy&aacute;t</i> may be 
        total inventions of FitzGerald. Among the many works that take 
        their titles from FitzGerald&#8217;s <i>Rub&aacute;iy&aacute;t</i> 
        are Agatha Christie&#8217;s <i style="font-weight: bold;">The Moving 
        Finger</i> and Eugene O&#8217;Neill&#8217;s play 
        <i style="font-weight: bold;">Ah, Wilderness!</i>.</p>
    </dd>
<dt>
    William Tyndale, the Bible: written at various ancient times in Hebrew 
    and Greek; translated 1525 into English
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        William Tyndale&#8217;s translation of the Old and New Testaments 
        were the <span style="font-weight: bold;">first complete English 
        versions published by printing press</span>, and were the 
        <span style="font-weight: bold;">first to use original Hebrew and 
        Greek sources</span> rather than drawing from the Vulgate, which 
        was the only biblical translation with Catholic approval. 
        Tyndale&#8217;s New Testament was first printed in Cologne in 1525 
        (even in England, his work was deemed heretical). Tyndale&#8217;s 
        versions coined countless popular phrases, including 
        <span style="font-weight: bold;">&#8220;the powers that 
        be,&#8221;</span> <span style="font-weight: bold;">&#8220;the 
        spirit is willing but the flesh is weak,&#8221;</span> 
        <span style="font-weight: bold;">&#8220;am I my brother&#8217;s 
        keeper?&#8221;</span>, and <span style="font-weight: bold;">
        &#8220;the salt of the earth.&#8221;</span> He was arrested and 
        killed before he could finish his work on the Old Testament; the 
        <span style="font-weight: bold;">Matthew Bible</span>, published 
        in 1537, cobbled together his unfinished work. Tyndale&#8217;s 
        translations were the main source for the King James Bible; modern 
        scholars estimate at least 75% of the KJV is Tyndale&#8217;s work.
    </dd>
<dt>
    George Chapman, <i>Iliad</i> and <i>Odyssey</i> by Homer: written 
    c.&nbsp;8th century BC in Greek; translated 1616 into English
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        Chapman&#8217;s translations of Homer&#8217;s two great epics, 
        published as <i style="font-weight: bold;">The Whole Works of 
        Homer</i>, were the first in English and remained the definitive 
        English version for centuries, rivaled only perhaps by 
        <span style="font-weight: bold;">Alexander Pope</span>&#8217;s 
        1715 translations. Chapman found it too difficult to fit his 
        translation into the original Greek 
        <span style="font-weight: bold;">dactylic hexameter</span>, and 
        thus wrote his <i>Iliad</i> in <span style="font-weight: bold;">
        iambic pentameter</span> and his <i>Odyssey</i> in 
        <span style="font-weight: bold;">iambic hexameter</span>. He 
        rendered the <i>Iliad</i>&#8217;s opening invocation of the muses 
        as <span style="font-weight: bold;">&#8220;Achilles&#8217; baneful 
        wrath resound.&#8221;</span> Chapman&#8217;s translation, noted 
        for its vivid beauty, was celebrated in John Keats&#8217;s 1816 
        poem <span style="font-weight: bold;">&#8220;On First Looking 
        into Chapman&#8217;s Homer.&#8221;</span></p>
    </dd>
<dt>
    Arthur Waley, <i>Journey to the West</i> by Wu Cheng&#8217;en: written 
    1592 in Chinese; translated 1942 into English
</dt>
    <dd style="margin-left: 1em; margin-bottom: 15px;">
        Waley was a specialist in East Asian literature; he translated Lady 
        Murasaki&#8217;s <i>The Tale of Genji</i> beginning in 1925, and two 
        decades later he published his translation of the Chinese novel <i>
        Journey to the West</i> under the title 
        <i style="font-weight: bold;">Monkey</i>. &#8220;Monkey,&#8221; 
        which refers to the ape-like character 
        <span style="font-weight: bold;">Sun Wukong</span>, is one of 
        several Westernized names Waley assigned to the novel&#8217;s 
        characters: the Buddhist monk <span style="font-weight: bold;">
        Tang Sanzang</span> is given the more Sanskrit name 
        <span style="font-weight: bold;">&#8220;Tripitaka&#8221;</span>; 
        the hog-like <span style="font-weight: bold;">Zhu Bajie</span> is 
        renamed <span style="font-weight: bold;">&#8220;Pigsy&#8221;</span>; 
        and <span style="font-weight: bold;">Sha Wujing</span> is renamed 
        <span style="font-weight: bold;">&#8220;Sandy.&#8221;</span> Waley 
        subtitled his translation <span style="font-weight: bold;">&#8220;A 
        Folk-Tale of China&#8221;</span> and edited out or abridged many 
        minor episodes to emphasize the humor in the novel, which, in its 
        original form, contains many diversions with deep allegorical and 
        philosophical meaning.
    </dd>
<dt>
    Constance Garnett, major works of Russian literature, including the 
    works of Anton Chekov, Leo Tolstoy, Fyodor Dostoyevsky, and Ivan 
    Turgenyev: written 19th century in Russian; translated 1890s&ndash;1930s 
    into English
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        Constance Garnett learned Russian from the exiled Russian 
        revolutionaries Feliks Volkhovsky and Sergey Stepnyak, the latter 
        of whom was influential in the publication of her first translations. 
        Garnett&#8217;s translations introduced the English-speaking world 
        to Dostoyevsky and Chekhov; in addition to these authors, she 
        created&mdash;for the time&mdash;authoritative editions of the 
        near-complete works of Leo Tolstoy (whom she met while visiting 
        Russia) and Ivan Turgenyev. While Garnett&#8217;s late-Victorian 
        translations have drawn a fair amount of modern 
        criticism&mdash;Joseph Brodsky notably accused her of being 
        &#8220;the reason English-speaking readers can barely tell the 
        difference between Tolstoy and Dostoyevsky&#8221;&mdash;her work 
        was instrumental in popularizing Russian literature in the 
        English world.
    </dd>
<dt>
    Richard Burton, <i>One Thousand and One Nights</i>: compiled in Arabic 
    over centuries; English translation published 1885
</dt>
	<dd style="margin-left: 1em; margin-bottom: 15px;">
        Richard Francis Burton was an explorer and polymath who collected 
        and translated stories from the <i>Arabian Nights</i> for many years 
        before finally producing a collected edition&mdash;published as 
        <i style="font-weight: bold;">The Book of the Thousand Nights and 
        a Night</i>&mdash;in 1885. The most notable feature of 
        Burton&#8217;s translation is that he 
        <span style="font-weight: bold;">did not censor</span> or cut any 
        of the sexually explicit content in the stories; because of the 
        morals of Victorian society, this meant that Burton&#8217;s 
        translation was at first only <span style="font-weight: bold;">
        published privately</span> by the Kama Shastra Society, which 
        Burton co-founded with <span style="font-weight: bold;">Forster 
        Fitzgerald Arbuthnot</span>. Arbuthnot and Burton also 
        collaborated on a translation of the <i>Kama Sutra</i>.
    </dd>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}