{% extends "base.html" %}  {% block title %}Works of Mystery and Detective Fiction{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a> | </li>
    <li style="display:inline">Works of Mystery and Detective Fiction</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/works-of-mystery-and-detective-fiction.html">
    You Gotta Know These Works of Mystery and Detective Fiction
    </a>
</h1>
<br />
<p style="color: #dbab10; font-weight: bold;">
    Please note that these summaries will necessarily spoil many details 
    relevant to the plots of these works.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">The Murders in the Rue Morgue</span> (1841) by 
        <span style="font-weight: bold;">Edgar Allan Poe</span>. This story 
        marks the debut of <span style="font-weight: bold;">C. Auguste 
        Dupin</span>, the predecessor of many future literary genius 
        detectives. The unnamed narrator begins by musing on the unique 
        mental challenges presented by the games of chess and whist, and 
        then recalls how Dupin was once able to 
        <span style="font-weight: bold;">practically read the 
        narrator&#8217;s mind</span> regarding an actor named Chantilly. 
        Both the narrator and Dupin then read newspaper accounts of the 
        murders of two women; the daughter was strangled and 
        <span style="font-weight: bold;">stuffed up a chimney</span>, while 
        the mother had her throat slashed so deep by a 
        <span style="font-weight: bold;">razor</span> (also found at the 
        scene) that her head falls off when she is moved. Neighbors testify 
        they heard two voices but one was unidentifiable. Bags of money at 
        the scene lead to the arrest of local <span style="font-weight: bold;">
        banker Le Bon</span>; Dupin deduces that, because the money remains, 
        Le Bon is innocent and robbery is not the motive. Offering his 
        services to <span style="font-weight: bold;">a police prefect known 
        as &#8220;G,&#8221;</span> Dupin notes the extreme strength required 
        of both murders, the odd language, and tufts of hair. He realizes 
        the murderer was non-human and places a newspaper ad for a missing 
        <span style="font-weight: bold;">orangutan</span>. A sailor confesses 
        to the crime: he bought an orangutan in Borneo but could not control 
        it, and when he got angry that the orangutan grabbed the razor and 
        mimicked the sailor&#8217;s daily shave, the orangutan ran off in a 
        bestial rage and killed the two women.
    </li>
	<li class="list_item">
        <span class="label">The Purloined Letter</span> (1844) by 
        <span style="font-weight: bold;">Edgar Allan Poe</span>. The police 
        prefect &#8220;G&#8221; asks for Dupin&#8217;s help regarding a 
        devious official known as <span style="font-weight: bold;">
        &#8220;Minister D.&#8221;</span> G believes the minister stole a 
        letter that contains potential blackmail fodder regarding an 
        unnamed but powerful man, and thus a huge reward is offered. 
        However, the police cannot find the letter in Minister D&#8217;s 
        lodgings or on his person. One month later, &#8220;G&#8221; 
        contacts Dupin again after the reward increases to 50,000 francs; 
        Dupin asks for the reward immediately and amazingly produces the 
        letter. Dupin, using a <span style="font-weight: bold;">metaphor 
        about a map game</span>&mdash;in which 
        <span style="font-weight: bold;">players tasked with finding a 
        name on a map</span> can easily overlook large-print 
        names&mdash;says Minister D <span style="font-weight: bold;">hid the 
        letter in plain sight</span>, putting it amongst a bundle on the 
        mantle. Once hearing of the theft, Dupin went to the apartment, 
        located the letter, and then created a diversion so he could swap 
        the letter with a taunting fake.
    </li>
	<li class="list_item">
        <span class="label">The Moonstone</span> (1868) by 
        <span style="font-weight: bold;">Wilkie Collins</span>. 
        <span style="font-weight: bold;">Rachel Verinder</span>&#8217;s 
        18th birthday party is marred by the theft of the Moonstone, a 
        <span style="font-weight: bold;">sacred gem plundered from India
        </span> that Rachel had just inherited. Suspicion falls on a 
        <span style="font-weight: bold;">trio of Indian jugglers</span>, 
        but also on Rachel herself, who behaves oddly and breaks off her 
        engagement with <span style="font-weight: bold;">Franklin Blake
        </span> when Franklin leads the search. The maid 
        <span style="font-weight: bold;">Rosanna Spearman</span> is also 
        suspected, especially after she commits suicide by 
        <span style="font-weight: bold;">jumping into quicksand</span>. 
        Local inspector <span style="font-weight: bold;">Sergeant Cuff
        </span> cannot solve the mystery, but one year later, Franklin 
        returns from abroad and learns that Rosanna, who was secretly in 
        love with him, began impeding the investigation after a 
        <span style="font-weight: bold;">paint smudge</span> made her 
        suspect he was the thief. Franklin then meets with Rachel, who 
        claims she saw Franklin steal the Moonstone but never told anyone 
        to save their reputations. Eventually, Franklin learns that he 
        was secretly <span style="font-weight: bold;">fed laudanum</span> 
        at the party by <span style="font-weight: bold;">Dr. Candy</span>, 
        and while in a drugged stupor took the Moonstone to protect it. 
        The Moonstone later turns up for sale, upon which it is stolen 
        by the trio of Indians. The Indians also kill the seller, who 
        is revealed to be <span style="font-weight: bold;">Godfrey 
        Ablewhite</span>, another party guest whose personal debts 
        prompted him to keep the Moonstone when the drugged Franklin 
        gave it to him. Other characters who narrate portions of the 
        book include <span style="font-weight: bold;">Miss Drusilla Clack
        </span>, an Evangelical who constantly hands out moralizing 
        <span style="font-weight: bold;">tracts</span>; 
        <span style="font-weight: bold;">Gabriel Betteredge</span>, a 
        servant obsessed with <i style="font-weight: bold;">Robinson 
        Crusoe</i>; and Dr. Candy&#8217;s <span style="font-weight: bold;">
        opium</span>-addicted assistant <span style="font-weight: bold;">
        Ezra Jennings</span>, an odd man with multi-colored hair.
    </li>
	<li class="list_item">
        <span class="label">The Final Problem</span> (1893) by 
        <span style="font-weight: bold;">Sir Arthur Conan Doyle</span>. The 
        <span style="font-weight: bold;">Sherlock Holmes</span> stories 
        made Doyle a celebrity, but Doyle, feeling cheapened by the work, 
        decided to <span style="font-weight: bold;">kill off Holmes</span> 
        in this story. The story begins with Watson welcoming in a bleeding 
        Holmes, who recounts that <span style="font-weight: bold;">
        Professor Moriarty</span>&mdash;Holmes&#8217;s alleged archnemesis, 
        despite first appearing in this story&mdash;has just tried to kill 
        Holmes via a <span style="font-weight: bold;">staged car accident
        </span>, a <span style="font-weight: bold;">falling brick</span>, 
        and an <span style="font-weight: bold;">armed thug</span>. Holmes 
        plans to go to Europe to defeat Moriarty without alerting him; 
        however, despite Holmes <span style="font-weight: bold;">disguising 
        himself as an Italian priest</span> and giving Watson circuitous 
        instructions, Moriarty tails them by rail, though Holmes and 
        Watson evade him. In Strasbourg, Holmes learns that Scotland 
        Yard has busted Moriarty&#8217;s organization but have failed to 
        catch the man himself, leading Holmes to continue to Switzerland. 
        During a hike to the <span style="font-weight: bold;">Reichenbach 
        Falls</span>, a messenger tells Watson that a sick woman at 
        their hotel needs a doctor; Holmes knows this is a trap laid by 
        Moriarty but says nothing. Finding no such woman, Watson rushes 
        back to the falls, where footprints and signs of a struggle 
        convince him that Moriarty found Holmes and, during a fight, 
        both <span style="font-weight: bold;">fatally tumbled over 
        the waterfall</span>.
    </li>
	<li class="list_item">
        <span class="label">The Hound of the Baskervilles</span> (1902) by 
        Sir Arthur Conan Doyle. This novel was the first Holmes story to 
        appear after &#8220;The Final Problem.&#8221; Holmes is solicited by 
        <span style="font-weight: bold;">James Mortimer</span>, whose friend 
        <span style="font-weight: bold;">Charles Baskerville</span> recently 
        died in <span style="font-weight: bold;">terror</span>, with nearby 
        canine footprints consistent with a myth about a 
        <span style="font-weight: bold;">hellish hound</span> who kills 
        Baskerville heirs. The next heir, <span style="font-weight: bold;">
        Henry</span>, is almost shot by a bearded pursuer in London, 
        leading Holmes to send Watson to Baskerville Hall to protect 
        Henry while he investigates. At the estate on the moors, Watson 
        learns that two neighbors, the <span style="font-weight: bold;">
        Stapleton siblings</span>, are behaving oddly, as are the 
        Baskerville servants, the <span style="font-weight: bold;">Barrymores
        </span>, and <span style="font-weight: bold;">Laura Lyons</span>, 
        the woman Charles was supposed to meet the night of his death. 
        Watson learns that Mr. Barrymore is skulking around to secretly aid 
        his brother, an <span style="font-weight: bold;">escaped convict
        </span>, and discovers through Laura that a shadowy figure walking 
        the moors at night is actually Holmes, laying low. Holmes discovers 
        that Laura was used by Jack Stapleton to lure Charles onto the 
        moors, where Stapleton&mdash;a distant heir of the 
        Baskervilles&mdash;killed Charles with his huge pet dog. Holmes and 
        Watson then use Henry as bait; the ruse works, and they kill 
        Stapleton&#8217;s dog, who has been painted with 
        <span style="font-weight: bold;">phosphorus</span> to appear 
        spectral. Stapleton drowns in the <span style="font-weight: bold;">
        Grimpen Mire</span> while fleeing, and Holmes and Watson learn 
        Stapleton&#8217;s supposed &#8220;sister&#8221; is actually his 
        wife, who refused to help her villainous husband.
    </li>
	<li class="list_item">
        <span class="label">The Maltese Falcon</span> (1930) by 
        <span style="font-weight: bold;">Dashiell Hammett</span>. This 
        classic of the <span style="font-weight: bold;">&#8220;hard-
        boiled&#8221;</span> genre follows <span style="font-weight: bold;">
        Sam Spade</span>, a San Francisco private eye hired by 
        <span style="font-weight: bold;">&#8220;Ms. Wonderly&#8221;</span> 
        to tail <span style="font-weight: bold;">Floyd Thursby</span>, with 
        whom her sister has eloped. The next day, Sam&#8217;s partner 
        <span style="font-weight: bold;">Miles Archer</span> is found 
        dead, shot by Thursby, who is also dead. The cops suspect Spade, 
        who is sleeping with Archer&#8217;s wife. Spade learns that 
        &#8220;Ms. Wonderly&#8221; is actually 
        <span style="font-weight: bold;">Brigid O&#8217;Shaughnessy</span>, 
        a woman hunting for a priceless <span style="font-weight: bold;">
        statuette</span> called the Maltese Falcon alongside the obese 
        <span style="font-weight: bold;">Caspar Gutman</span> and a 
        homosexual Middle Easterner named <span style="font-weight: bold;">
        Joel Cairo</span>. At a private meeting in which Gutman explains 
        how Brigid, Thursby, and Cairo found the Falcon in 
        <span style="font-weight: bold;">Constantinople</span>, Spade 
        suddenly faints, having been drugged by Gutman. Spade returns to 
        his office, where a <span style="font-weight: bold;">ship captain
        </span> gives him a package containing the falcon, then dies. 
        Brigid calls, urgently requesting Spade&#8217;s help, but Spade 
        returns home only to find Brigid, Gutman, and Cairo waiting, 
        demanding the Falcon. Spade reminds them that one of them will 
        be pegged for the murders, and they turn on each other. Gutman 
        decides his <span style="font-weight: bold;">bodyguard, Wilmer
        </span>, will be the patsy, but when they discover the Falcon 
        is a fake, Wilmer escapes. Cairo and Gutman leave to find the 
        real Falcon, but Spade doesn&#8217;t let Brigid go, certain she 
        cannot be trusted. She confesses she shot both Archer and Thursby 
        but is in love with Spade; Spade, refusing to 
        <span style="font-weight: bold;">&#8220;play the sap&#8221;</span> 
        for her, turns her over to the cops, who report that Wilmer has 
        just murdered Gutman. The novel&#8217;s 1941 film adaptation, 
        starring <span style="font-weight: bold;">Humphrey Bogart</span>, 
        is considered a <i style="font-weight: bold;">film noir</i> 
        masterpiece.
    </li>
	<li class="list_item">
        <span class="label">The Big Sleep</span> (1939) by 
        <span style="font-weight: bold;">Raymond Chandler</span>. Wealthy 
        patriarch <span style="font-weight: bold;">General Sternwood</span> 
        hires private eye <span style="font-weight: bold;">Philip Marlowe
        </span> to help his daughter <span style="font-weight: bold;">
        Carmen</span>, who is being blackmailed by bookseller 
        <span style="font-weight: bold;">Arthur Geiger</span>. Sternwood 
        also worries about <span style="font-weight: bold;">Regan</span>, 
        his daughter Vivian&#8217;s <span style="font-weight: bold;">
        missing husband</span>. Pretending to be a gay book collector, 
        Marlowe learns that Geiger&#8217;s bookstore is a 
        <span style="font-weight: bold;">pornography</span> front, and after 
        staking out Geiger&#8217;s home, he hears gunshots and sees two 
        cars speeding away. Geiger is dead, and Carmen Sternwood is naked 
        and drugged in front of a camera from which the film has been taken. 
        The next day, Sternwood&#8217;s <span style="font-weight: bold;">
        chauffeur</span> is found dead in a car driven off a pier. Marlowe 
        meets with <span style="font-weight: bold;">Joe Brody</span>, who 
        is taking over Geiger&#8217;s bookstore, when Carmen busts in 
        with a gun, demanding the photographs in Brody&#8217;s possession. 
        Marlowe forces her to leave, then learns the chauffeur killed 
        Geiger to protect Carmen from disrepute; Brody, also spying on 
        Geiger that night, pursued and killed the chauffeur. Geiger&#8217;s 
        homosexual lover then arrives and kills Brody, thinking Brody 
        killed Geiger. With the case seemingly solved, Marlowe still 
        wonders about Vivien&#8217;s missing husband Regan, as well as the 
        <span style="font-weight: bold;">missing wife</span> of 
        <span style="font-weight: bold;">Eddie Mars</span>, a criminal who 
        backed Geiger&#8217;s business. Carmen and Vivien each try to seduce 
        Marlowe while Marlowe investigates those disappearances. On 
        returning to Sternwood&#8217;s house, Carmen asks Marlowe to 
        <span style="font-weight: bold;">teach her to shoot</span>; at the 
        lesson, she tries to shoot Marlowe, but Marlowe put blanks in the 
        gun. This proves Marlowe&#8217;s theory: Carmen is a 
        <span style="font-weight: bold;">nymphomaniac</span> who killed 
        Regan when he spurned her advances. Vivien admits she hid the body 
        and lied to save her father from shame, and she promises to put 
        Carmen in an asylum.
    </li>
	<li class="list_item">
        <span class="label">Murder on the Orient Express</span> (1934) by 
        <span style="font-weight: bold;">Agatha Christie</span>. This novel 
        features Christie&#8217;s popular Belgian detective 
        <span style="font-weight: bold;">Hercule Poirot</span>, who is 
        snowbound on the <span style="font-weight: bold;">title train
        </span> in the Balkans when a passenger named 
        <span style="font-weight: bold;">Samuel Ratchett</span> is found 
        <span style="font-weight: bold;">stabbed to death</span>. Thanks 
        to a scrap of paper in Ratchett&#8217;s compartment referencing 
        <span style="font-weight: bold;">&#8220;little Daisy 
        Armstrong,&#8221;</span> Poirot realizes Ratchett is actually 
        <span style="font-weight: bold;">Lanfranco Cassetti</span>, a man 
        who was acquitted on technicality of <span style="font-weight: bold;">
        kidnapping and murder</span> (a crime inspired by the real-life 
        kidnapping of <span style="font-weight: bold;">Charles 
        Lindbergh&#8217;s baby</span>). Poirot discovers that all the 
        passengers&mdash;including former Russian princess 
        <span style="font-weight: bold;">Natalia Dragomiroff</span>&mdash;are 
        concealing their pasts and each had a motive to kill Cassetti, 
        and Poirot correctly deduces that <i style="font-weight: bold;">
        all of them</i> stabbed Cassetti. However, Poirot&#8217;s alternate 
        theory, that a <span style="font-weight: bold;">stranger</span> 
        entered the snowbound train and randomly killed Ratchett, is the 
        one presented to local authorities.
    </li>
	<li class="list_item">
        <span class="label">And Then There Were None</span> (1940) by 
        <span style="font-weight: bold;">Agatha Christie</span>. This novel 
        is an example of a <span style="font-weight: bold;">&#8220;country 
        house mystery,&#8221;</span> a genre popularized by Christie in 
        which possible suspects are limited due to the crime&#8217;s 
        isolated locale. The novel concerns <span style="font-weight: bold;">
        ten murderers</span> who have escaped justice and who are invited 
        to an <span style="font-weight: bold;">island mansion</span>. After 
        a <span style="font-weight: bold;">mysterious record</span> accuses 
        each guest of their crimes, they begin turning up dead one by one. 
        <span style="font-weight: bold;">Vera Claythorne</span> and 
        <span style="font-weight: bold;">Philip Lombard</span> are the final 
        two survivors; Vera, suspecting Philip of being the killer, shoots 
        him dead, then returns to her room and hangs herself. The novel ends 
        with a fisherman recovering a <span style="font-weight: bold;">
        message in a bottle</span> written by 
        <span style="font-weight: bold;">Justice Wargrave</span>, one of 
        the victims, who confesses he orchestrated all the killings in the 
        name of <span style="font-weight: bold;">&#8220;true justice.&#8221;
        </span> The novel was previously published under the title 
        <i style="font-weight: bold;">Ten Little Indians</i> and an even 
        earlier title that included a racial slur and was taken from a 
        popular <span style="font-weight: bold;">minstrel</span> song whose 
        lyrics&mdash;which allude to each victim&#8217;s death&mdash;are 
        <span style="font-weight: bold;">framed and hung in the 
        mansion&#8217;s bedrooms</span>.
    </li>
	<li class="list_item">
        <span class="label">The Name of the Rose</span> (1980) by 
        <span style="font-weight: bold;">Umberto Eco</span>. This mystery 
        is set in 1327 at a Catholic conference to resolve a potential 
        heresy. <span style="font-weight: bold;">William of Baskerville
        </span> and his novice, <span style="font-weight: bold;">Adso of 
        Melk</span>, are tasked with investigating the death of the comical 
        <span style="font-weight: bold;">manuscript artist Adelmo</span>. 
        The abbey&#8217;s <span style="font-weight: bold;">librarian, 
        Malachi</span>, bars the two men from entering a 
        <span style="font-weight: bold;">mysterious, labyrinthine 
        library</span>, so they meet with <span style="font-weight: bold;">
        Jorge of Burgos</span>, a <span style="font-weight: bold;">blind 
        monk who hates laughter</span>. The next day, after the monk 
        <span style="font-weight: bold;">Venantius</span> is found dead in 
        a vat of <span style="font-weight: bold;">pig blood</span>, William 
        and Adso find that both victims had sought out a book from a secret 
        room called the <i style="font-weight: bold;">Finis Africae</i>. 
        Upon breaking into the labyrinth, they find odd writings left by 
        Venantius; later, the monks discover that Venantius&#8217;s 
        fingers and tongue were <span style="font-weight: bold;">stained 
        black</span>. Eventually, William and Adso realize the letters 
        above rooms in the library spell out regions of the world, and they 
        locate the <i>Finis Africae</i> <span style="font-weight: bold;">
        behind a mirror</span>. As the conference ramps up, a monk named 
        <span style="font-weight: bold;">Severinus</span> tells William 
        about an odd book in his own library, but he is murdered before 
        he can say more and the book goes missing. On the sixth day, 
        Malachi is killed; his tongue and fingers are also black. On the 
        final day of the conference, William and Adso enter the <i>Finis 
        Africae</i> and find Jorge of Burgos within. Severinus&#8217;s 
        secret book is a <span style="font-weight: bold;">sequel to 
        Aristotle&#8217;s <i>Poetics</i></span>, whose thoughts on 
        comedy will undermine Christianity. Jorge 
        <span style="font-weight: bold;">poisoned the pages</span>, 
        knowing any reader would lick his fingers to turn them. Jorge 
        then <span style="font-weight: bold;">eats the manuscript</span>, 
        killing himself, but not before using Adso&#8217;s lantern to set 
        the library ablaze. William and Adso escape.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}