{% extends "base.html" %}  {% block title %}Schools of Western Philosophy{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/philosophy">Philosophy</a> | </li>
    <li style="display:inline">Schools of Western Philosophy</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/schools-of-western-philosophy.html">
    You Gotta Know These Schools of Western Philosophy
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Stoicism</span> is an ancient Greek school 
        that idealized <span style="font-weight: bold;">freedom from 
        emotions</span>. It was founded by <span style="font-weight: bold;">
        Zeno of Citium</span>, who taught at the 
        <span style="font-weight: bold;">&#8220;painted porch&#8221;</span> 
        in Athens. (The name of the movement derives from the Greek word 
        &#8220;stoa,&#8221; which means &#8220;porch.&#8221;) An important 
        Stoic idea was that of the <span style="font-weight: bold;">
        &#8220;pneuma,&#8221;</span> or the &#8220;breath of life,&#8221; 
        which is the life force that structures matter and the soul. 
        Important thinkers include <span style="font-weight: bold;">
        Epictetus</span>, a slave whose views were recorded by his student 
        Arrian in the <i style="font-weight: bold;">Discourses</i>, and the 
        Roman emperor <span style="font-weight: bold;">Marcus Aurelius</span>.
    </li>
	<li class="list_item">
        <span class="label">Skepticism</span> encourages the 
        <span style="font-weight: bold;">rejection of truths unless they 
        are supported</span> by sufficient evidence. 
        <span style="font-weight: bold;">Academic Skepticism</span>, which 
        states that <span style="font-weight: bold;">no truths can be 
        certain</span>, was led by such men as 
        <span style="font-weight: bold;">Arcesilaus</span> and 
        <span style="font-weight: bold;">Carneades</span>. Another form of 
        skepticism is known as <span style="font-weight: bold;">
        &#8220;Pyrrhonian,&#8221;</span> after 
        <span style="font-weight: bold;">Pyrrho of Elis</span>, who is 
        considered the founder of skepticism. The thinker 
        <span style="font-weight: bold;">Sextus Empiricus</span>, who lived 
        in the second century AD, provided one of the most complete accounts 
        of skepticism in his <i style="font-weight: bold;">Outlines of 
        Pyrrhonism</i>.
    </li>
	<li class="list_item">
        <span class="label">Scholasticism</span> was taught at 
        <span style="font-weight: bold;">medieval Christian universities
        </span> and sought to <span style="font-weight: bold;">reconcile 
        Christian thought with classical thinkers</span> such as Aristotle. 
        This school included <span style="font-weight: bold;">Thomas 
        Aquinas</span>, who provided <span style="font-weight: bold;">
        five arguments for the existence of God</span> (called the 
        <span style="font-weight: bold;">&#8220;quinque viae&#8221;</span>) 
        in his <i style="font-weight: bold;">Summa Theologica</i>. Other 
        thinkers include <span style="font-weight: bold;">Pierre Abelard
        </span> (who wrote <i style="font-weight: bold;">Sic et Non</i>) 
        and <span style="font-weight: bold;">Peter Lombard</span> (who 
        wrote <i style="font-weight: bold;">The Four Books of Sentences</i>).
    </li>
	<li class="list_item">
        <span class="label">Empiricism</span> is the view that 
        <span style="font-weight: bold;">all knowledge derives from sensory 
        experience</span>.  <span style="font-weight: bold;">John Locke
        </span>, whose works include <i style="font-weight: bold;">An 
        Essay Concerning Human Understanding</i>, thought that the mind 
        starts out as a <i style="font-weight: bold;">tabula rasa</i> 
        &mdash; (blank slate) and that we <span style="font-weight: bold;">
        gain knowledge through experiences</span>. Other empiricist 
        philosophers include <span style="font-weight: bold;">George 
        Berkeley</span> (who wrote <i style="font-weight: bold;">A Treatise 
        Concerning the Principles of Human Knowledge</i>) and 
        <span style="font-weight: bold;">David Hume</span> (who wrote 
        <i style="font-weight: bold;">An Enquiry Concerning Human 
        Understanding</i>).
    </li>
	<li class="list_item">
        <span class="label">Rationalism</span>, which is often 
        <span style="font-weight: bold;">contrasted with empiricism</span>, 
        asserts that we <span style="font-weight: bold;">gain knowledge 
        through intuition</span> or our rational nature rather than 
        through experience.  A version of this doctrine was espoused by 
        the Greek philosopher <span style="font-weight: bold;">Plato</span> 
        in his <span style="font-weight: bold;">Theory of Forms</span>, 
        which states that abstract ideas (&#8220;forms&#8221;) are more 
        real than the material world of the senses. Later rationalists 
        include <span style="font-weight: bold;">Ren&eacute; Descartes
        </span> (who wrote <i style="font-weight: bold;">Meditations on 
        First Philosophy</i>) and <span style="font-weight: bold;">
        Baruch Spinoza</span> (who wrote <i style="font-weight: bold;">
        Ethics</i>).
    </li>
	<li class="list_item">
        <span class="label">Positivism</span> encourages the use of the 
        <span style="font-weight: bold;">scientific method to discover the 
        laws that govern society</span>.  It was founded by the 19th-century 
        Frenchman <span style="font-weight: bold;">Auguste Comte</span>, 
        who believed that <span style="font-weight: bold;">society develops 
        through three stages</span>, which he termed the 
        <span style="font-weight: bold;">theocratic</span>, 
        <span style="font-weight: bold;">metaphysical</span>, and 
        <span style="font-weight: bold;">positive</span>. It should not be 
        confused with <span class="label">logical positivism</span>, a 20th-century 
        movement whose leaders included the young 
        <span style="font-weight: bold;">Ludwig Wittgenstein</span> (who 
        wrote <i style="font-weight: bold;">Tractatus Logico-Philosophicus
        </i>) and which holds that <span style="font-weight: bold;">the 
        only meaningful statements are those that are logically verifiable
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Pragmatism</span> is a movement that values 
        ideas based on their <span style="font-weight: bold;">practical 
        application</span> (what is sometimes known as the 
        <span style="font-weight: bold;">&#8220;cash value&#8221; of an 
        idea</span>). Its prominent thinkers include 
        <span style="font-weight: bold;">William James</span> (who wrote 
        <i style="font-weight: bold;">Pragmatism</i>) and 
        <span style="font-weight: bold;">John Dewey</span> (who wrote 
        <i style="font-weight: bold;">Democracy and Education</i>). 
        The founder of pragmatism was James&#8217;s friend 
        <span style="font-weight: bold;">C.&nbsp;S. Peirce</span>, who 
        expounded its ideas in such essays as 
        <span style="font-weight: bold;">&#8220;The Fixation of 
        Belief&#8221;</span> and <span style="font-weight: bold;">
        &#8220;How to Make Our Ideas Clear.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Utilitarianism</span> is a school of ethics 
        that advocates the <span style="font-weight: bold;">maximization 
        of &#8220;utility,&#8221;</span> which is often identified with 
        <span style="font-weight: bold;">pleasure</span> or 
        <span style="font-weight: bold;">happiness</span>. Its most 
        influential early thinker was <span style="font-weight: bold;">
        Jeremy Bentham</span>, who asserted that it is the &#8220;
        <span style="font-weight: bold;">greatest happiness of the greatest 
        number</span> that is the measure of right and wrong.&#8221; 
        The foremost utilitarian was Bentham&#8217;s disciple, 
        <span style="font-weight: bold;">John Stuart Mill</span>, who 
        expounded his views in such books as <i style="font-weight: bold;">
        Utilitarianism</i> and <i style="font-weight: bold;">On Liberty</i>.
    </li>
	<li class="list_item">
        <span class="label">Existentialism</span> is a loosely defined 
        movement of 19th- and 20th-century thinkers who focused on the 
        importance of <span style="font-weight: bold;">leading an 
        &#8220;authentic&#8221; life</span>. Many thinkers that are now 
        thought of as &#8220;existentialists&#8221; would either not 
        have recognized the term, as it emerged after their time, or 
        would not have accepted it as a description of their outlook. 
        The movement is often identified with the French philosopher 
        <span style="font-weight: bold;">Jean-Paul Sartre</span>, who 
        asserted that <span style="font-weight: bold;">&#8220;existentialism 
        is a humanism.&#8221;</span> Others associated with the movement 
        include the 19th-century Danish philosopher 
        <span style="font-weight: bold;">S&oslash;ren Kierkegaard</span> 
        (who wrote <i style="font-weight: bold;">Either/Or</i>), the 
        20th-century German philosopher <span style="font-weight: bold;">
        Martin Heidegger</span> (who wrote <i style="font-weight: bold;">
        Being and Time</i>), and Sartre&#8217;s contemporary 
        <span style="font-weight: bold;">Albert Camus</span> (who wrote 
        <i style="font-weight: bold;">The Myth of Sisyphus</i>).
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Ashwin Ramaswami.</p>
<br />
<br />
<br />
{% endblock %}