{% extends "base.html" %}  {% block title %}African-American Civil Rights Leaders{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">African American Civil Rights Leaders</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/african-american-civil-rights-leaders.html">
    You Gotta Know These African-American Civil Rights Leaders
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Stokely Carmichael</span> (1941&ndash;1998) was a leader of the 
        <span style="font-weight: bold;">Pan-African movement</span> and the 
        <span style="font-weight: bold;">Black Power movement</span>, who 
        popularized the use of the term 
        &#8220;Black Power.&#8221; He replaced 
        <span style="font-weight: bold;">John Lewis</span> as chair of 
        <span style="font-weight: bold;">SNCC</span>; under his leadership, 
        SNCC shifted from a policy of 
        nonviolence to a more militant approach. 
        He served as <span style="font-weight: bold;">&#8220;honorary Prime 
        Minister&#8221;</span> of the <span style="font-weight: bold;">Black 
        Panther Party</span>, but later distanced himself from that movement 
        because he didn&#8217;t believe that white activists should be allowed 
        to participate. He ended up changing his name to 
        <span style="font-weight: bold;">
        Kwame Ture</span> (in honor of Ghanaian 
        President Kwame Nkrumah and 
        Guinean President Ahmed Sekou Tour&eacute;) 
        and moving to <span style="font-weight: bold;">Guinea</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Shirley Chisholm</span> (1924&ndash;2005) was a Democratic politician 
        from New York who achieved a number of firsts. In 1968, she was the 
        <span style="font-weight: bold;">
        first black woman elected to Congress
        </span>. In 1972, she became both the 
        <span style="font-weight: bold;">
        first black major-party presidential candidate</span> and the first 
        woman to run for the Democratic 
        Party&#8217;s presidential nomination. (
        <span style="font-weight: bold;">
        Margaret Chase Smith</span> had run for 
        the Republican nomination in 1964.) 
        In 1970, Chisholm gave an acclaimed 
        speech in support of the <span style="font-weight: bold;">Equal Rights 
        Amendment</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Medgar Evers</span> (1925&ndash;1963) was the 
        <span style="font-weight: bold;">NAACP</span>&#8217;s field secretary 
        for Mississippi, in which capacity he planned boycotts and grassroots 
        civil rights organizations. He advocated ending segregation at the 
        <span style="font-weight: bold;">
        University of Mississippi</span>; after 
        <i>Brown v. Board of Education</i> 
        ruled that segregated public schools 
        were unconstitutional, he applied 
        to law school there, but was rejected 
        because he was black. In 1963, he was assassinated by 
        <span style="font-weight: bold;">
        Byron De&nbsp;La&nbsp;Beckwith</span>, 
        a member of the white supremacist network 
        <span style="font-weight: bold;">
        White Citizens&#8217; Councils</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Jesse Jackson Sr.</span> (1941&ndash;) is a civil rights activist and 
        politician who began as a prot&eacute;g&eacute; of Martin Luther King, 
        Jr. He helped organize <span style="font-weight: bold;">Operation 
        Breadbasket</span>, a department of the 
        <span style="font-weight: bold;">
        SCLC</span> focused on economic issues. Jackson also worked on the 
        <span style="font-weight: bold;">Poor People&#8217;s Campaign</span> 
        after King&#8217;s assassination, but he clashed with King&#8217;s 
        appointed successor, <span style="font-weight: bold;">Ralph Abernathy
        </span>. He founded the civil rights organizations 
        <span style="font-weight: bold;">Operation PUSH (People United to Save 
        Humanity)</span> and the <span style="font-weight: bold;">National 
        Rainbow Coalition</span>, which later merged to form the 
        <span style="font-weight: bold;">
        Rainbow/PUSH Coalition</span>. He also 
        ran for the Democratic presidential nomination in 1984 and 1988. His 
        son <span style="font-weight: bold;">Jesse Jackson Jr.</span> was a 
        congressman from Chicago before serving prison time for financial 
        corruption.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Martin Luther King Jr.</span> (1929&ndash;1968) was a Baptist minister 
        and the most prominent leader of the 
        civil rights movement in the 1950s 
        and &#8217;60s. He delivered the <span style="font-weight: bold;">
        &#8220;I Have a Dream&#8221; speech</span> at the 1963 
        <span style="font-weight: bold;">March on Washington</span>. As leader 
        of the <span style="font-weight: bold;">Southern Christian Leadership 
        Conference (SCLC)</span>, he joined with members of the 
        <span style="font-weight: bold;">Student Nonviolent Coordinating 
        Committee (SNCC)</span> to organize the 
        <span style="font-weight: bold;">
        Selma-to-Montgomery marches</span>. His leadership of the 
        <span style="font-weight: bold;">Poor 
        People&#8217;s Campaign</span> was 
        cut short in 1968 when <span style="font-weight: bold;">James Earl Ray
        </span> assassinated him at the 
        <span style="font-weight: bold;">Lorraine 
        Motel</span> in <span style="font-weight: bold;">Memphis</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        James Meredith</span> (1933&ndash;) became the first African-American 
        person admitted to the <span style="font-weight: bold;">University of 
        Mississippi</span> in 1962. Two 
        people died in the riots sparked by his 
        enrollment. In 1966, Meredith began the 
        <span style="font-weight: bold;">
        March Against Fear</span>, planning 
        to walk from Memphis to Jackson. On 
        the second day, he was wounded by a sniper; thereafter, thousands of 
        other civil rights activists completed the march in his name.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Rosa Parks</span> (1913&ndash;2005) was arrested for refusing to give 
        up her seat on a <span style="font-weight: bold;">bus</span> in 
        Montgomery, Alabama, in 1955, disobeying driver 
        <span style="font-weight: bold;">James 
        F. Blake</span>&#8217;s order to 
        move to the &#8220;colored section&#8221; of the bus. She collaborated 
        with <span style="font-weight: bold;">Edgar Nixon</span> and other 
        leaders of the <span style="font-weight: bold;">NAACP (National 
        Association for the Advancement of Colored People)</span> to organize 
        the <span style="font-weight: bold;">Montgomery bus boycott</span>, 
        which lasted from December 1955 (four days after her arrest) until 
        December 1956.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Al Sharpton</span> (1954&ndash;) is a Baptist minister and community 
        leader from New York City. He is also 
        a <span style="font-weight: bold;">
        perennial political candidate</span> who has run for the U.S. Senate, 
        mayor of New York City, and president of the U.S. Sharpton began his 
        activism career working under Jesse Jackson as part of Operation 
        Breadbasket. He has been at the center of many controversies. In 1987, 
        he helped handle publicity for <span style="font-weight: bold;">Tawana 
        Brawley</span>, who falsely accused 
        four white men of having raped her. 
        Sharpton was also accused of making <span style="font-weight: bold;">
        anti-Semitic</span> remarks during the 1991 
        <span style="font-weight: bold;">Crown Heights riot</span>, a racial 
        riot in which Jews were attacked 
        after two children were injured by the 
        motorcade of the leader of the Chabad-Lubavitch movement.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Ida B. Wells</span> (1862&ndash;1931) was an early 
        <span style="font-weight: bold;">investigative journalist</span> and 
        civil rights leader who helped found the 
        <span style="font-weight: bold;">NAACP</span>. In the 1890s she 
        investigated <span style="font-weight: bold;">lynching</span>, arguing 
        that it was a form of controlling black communities rather than 
        retribution for criminal acts. She documented the results of her 
        research in pamphlets such as <i style="font-weight: bold;">Southern 
        Horrors</i> and <i style="font-weight: bold;">The Red Record</i>. She 
        accused <span style="font-weight: bold;">Frances Willard</span>, the 
        president of the <span style="font-weight: bold;">
        Woman&#8217;s Christian 
        Temperance Union</span>, of turning a blind eye to lynching.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Malcolm&nbsp;X</span> (1925&ndash;1965) was a black 
        <span style="font-weight: bold;">Muslim</span> civil rights activist 
        who changed his name from <span style="font-weight: bold;">Malcolm 
        Little</span> upon converting to the <span style="font-weight: bold;">
        Nation of Islam</span>. He later repudiated the Nation of Islam and 
        became a mainstream <span style="font-weight: bold;">Sunni</span> 
        Muslim, completing the <i>hajj</i> in 1964. He was known for rejecting 
        nonviolent activism, arguing in his speech 
        <span style="font-weight: bold;">&#8220;The Ballot or the Bullet&#8221;
        </span> that violence might be necessary 
        if the government continued to 
        suppress the rights of African Americans. In 1965, he was assassinated 
        while preparing to give a speech at the 
        <span style="font-weight: bold;">Audubon Ballroom</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Will Nediger</p>
<br />
<br />
<br />
{% endblock %}