{% extends "base.html" %}  {% block title %}American Murders and Murderers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">American Murders and Murderers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/american-murders-and-murderers.html">
    You Gotta Know These American Murders and Muderers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Lizzie Borden axe murders</span> 
        (Fall River, Massachusetts, 1892) 
        Lizzie Borden lived with her sister <span style="font-weight: bold;">
        Emma</span>, their real-estate manager father 
        <span style="font-weight: bold;">Andrew</span>, and their stepmother 
        <span style="font-weight: bold;">Abby</span>. On August&nbsp;4, 1892, 
        the Bordens&#8217; housekeeper Maggie heard Lizzie yelling that Andrew 
        and Abby had been killed. Both had been 
        <span style="font-weight: bold;">
        killed with an axe</span>; during 
        subsequent searches, police found axes 
        and axe-heads in the cellar. Lizzie constantly changed her account of 
        events; her burning of an allegedly <span style="font-weight: bold;">
        paint-stained dress</span> further aroused suspicion. The murder was 
        sensationalized in the press. At 
        trial, Lizzie&#8217;s erratic inquest 
        testimony&mdash;given under the influence of 
        <span style="font-weight: bold;">morphine</span>&mdash;was thrown 
        out, as was testimony that she tried to buy 
        <span style="font-weight: bold;">prussic acid</span> (a poison) the 
        day before the murders. She was found not guilty and lived in Fall 
        River until her death 35 years later. 
        The case&mdash;and Lizzie&#8217;s 
        assumed guilt&mdash;gave rise to 
        the popular schoolyard rhyme beginning 
        <span style="font-weight: bold;">&#8220;Lizzie 
        Borden took an axe / and 
        gave her mother forty whacks.&#8221;</span>
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Harry K. Thaw&#8217;s murder of Stanford White</span> (New York City, 
        1901) Stanford White was an eminent architect who designed New 
        York&#8217;s Washington Square Arch and Penn Station. Harry K. Thaw, 
        a millionaire and railroad heir, shot and killed White in front of a 
        crowd of hundreds atop <span style="font-weight: bold;">Madison Square 
        Garden</span>. Thaw claimed that his wife, a fashion model and chorus 
        girl named <span style="font-weight: bold;">Evelyn Nesbit</span>, was 
        allegedly raped by White three years prior; Thaw believed he had acted 
        chivalrously in performing an <span style="font-weight: bold;">
        &#8220;honor killing.&#8221;</span> 
        The media sensation surrounding the 
        trial caused the jury to be sequestered for the first time in an 
        American criminal case. The first jury deadlocked; following a 
        retrial, Thaw was found <span style="font-weight: bold;">not guilty by 
        reason of temporary insanity</span>. 
        After the trial, Thaw aggressively 
        silenced his detractors via payoffs and legal threats, while Nesbit, 
        even after divorce in 1915, was unable to escape the shadow of the 
        crime. Author E.&nbsp;L. Doctorow incorporated the murder into his 
        novel <i style="font-weight: bold;">Ragtime</i>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Leopold and Loeb murder</span> (Chicago, 1924) Nathan Leopold and 
        Richard Loeb were two rich schoolmates (and, according to most modern 
        scholars, lovers) obsessed with <span style="font-weight: bold;">
        Friedrich Nietzsche</span>&#8217;s concept of the 
        <i style="font-weight: bold;">&Uuml;bermensch</i>, an ideal human 
        unbound by earthly morals. At ages 19 and 18 respectively, Leopold and 
        Loeb chose to prove they were <i>&Uuml;bermenschen</i> by committing a 
        <span style="font-weight: bold;">&#8220;perfect crime&#8221;</span>: 
        they kidnapped fourteen-year-old 
        <span style="font-weight: bold;">Bobby 
        Franks</span>, killed him with a chisel, doused the body in acid, and 
        wrote fake ransom letters under the alias &#8220;George 
        Johnson.&#8221; However, police quickly found 
        Franks&#8217;s body, as well as a nearby pair of 
        <span style="font-weight: bold;">eyeglasses</span> with unique 
        hinges that had been sold to Leopold. To avoid the death penalty, 
        Loeb&#8217;s parents hired lawyer <span style="font-weight: bold;">
        Clarence Darrow</span>, who had both 
        perpetrators enter guilty pleas and 
        delivered a 12-hour speech that resulted in sentences of 
        <span style="font-weight: bold;">
        life imprisonment</span>. Leopold was 
        paroled in 1958 and moved to 
        Puerto Rico; Loeb was murdered by a fellow 
        inmate in 1936.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Lindbergh Baby murder</span> (New Jersey, 1932) The 
        <span style="font-weight: bold;">
        kidnapping</span> of the infant son of 
        <span style="font-weight: bold;">
        Charles Lindbergh</span>, the first 
        aviator to cross the Atlantic non-stop, made instant nationwide 
        headlines. The baby was taken from his nursery; a ransom letter signed 
        with a symbol resembling a dark blot inside a Venn diagram was left 
        behind. Later ransom letters allegedly authorized 
        <span style="font-weight: bold;">
        John Condon</span>, a public figure in 
        the Bronx, to act as an intermediary. Condon met with a man nicknamed 
        <span style="font-weight: bold;">&#8220;Cemetery John&#8221;</span> in 
        Woodlawn Cemetery; after the baby&#8217;s sleeping clothes were sent 
        as proof, the ransom was paid in <span style="font-weight: bold;">gold 
        certificates</span>. A truck driver discovered the baby&#8217;s corpse 
        two months after the kidnapping. Reports of a suspicious man redeeming 
        gold certificates in Manhattan led police to 
        <span style="font-weight: bold;">Bruno Hauptmann</span>, who possessed 
        $14,000 in certificates that matched the serial numbers of the ransom 
        money. He also had Condon&#8217;s telephone number scrawled on a wall 
        in his home. Hauptmann was tried, found guilty, and executed in 1936. 
        The crime spurred passage of the <span style="font-weight: bold;">
        Federal Kidnapping Act</span>, giving federal authorities power in 
        kidnappings that cross state lines.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Black Dahlia murder</span> (Los Angeles, 1947) The body of 
        <span style="font-weight: bold;">
        Elizabeth Short</span>, a waitress, was 
        discovered in a vacant lot; her 
        corpse had mutilated and luridly posed. 
        The brutal crime was originally known as the 
        <span style="font-weight: bold;">&#8220;Werewolf Murder&#8221;</span> 
        until a newspaper gave Short the nickname &#8220;the Black 
        Dahlia,&#8221; likely invented to evoke the popular 1946 film noir <i>
        The Blue Dahlia</i>. Before authorities were able to notify 
        Short&#8217;s next-of-kin, a reporter for the <i>Los Angeles Examiner
        </i> <span style="font-weight: bold;">telephoned Short&#8217;s mother 
        in Boston</span>, claiming Short won a beauty contest to get as much 
        material as possible before telling 
        her the truth. Nine days later, the 
        <i>Examiner</i> received an envelope containing Short&#8217;s personal 
        effects, addressed using words cut-and-pasted from magazines; the 
        message was deemed genuine because it was cleaned with gasoline, like 
        Short&#8217;s body. Police were never able to solve the crime, in part 
        because the extreme media exposure generated countless false leads, 
        including <span style="font-weight: bold;">claims that Short was an 
        aspiring actress</span>.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The murder of Kitty Genovese</span> 
        (New York City, 1964) Shortly after 
        3:00&nbsp;a.m. on March&nbsp;13, 1964, Kitty Genovese was murdered 
        outside her apartment building by <span style="font-weight: bold;">
        Winston Moseley</span>. According to popular belief, the murder was 
        witnessed by over 30&nbsp;people, none of who responded to 
        Genovese&#8217;s screams for help; the <i>New York Times</i> 
        subsequently ran the headline <span style="font-weight: bold;">
        &#8220;Thirty-Eight Who Saw Murder Didn&#8217;t Call the Police.&#8221;
        </span> The murder is often cited as an example of the 
        <span style="font-weight: bold;">
        &#8220;bystander effect,&#8221;</span> 
        in which people are paradoxically less likely to render help if they 
        are in a large group, via a <span style="font-weight: bold;">
        &#8220;diffusion of responsibility.&#8221;</span> Modern studies have 
        called the popular conception of the crime into question: 
        Genovese&#8217;s stab wounds likely rendered her 
        <span style="font-weight: bold;">
            unable to scream</span>, two witnesses 
        did call police, no witness saw the 
        crime in its entirety, and the many 
        witnesses believed the initial attack was a lovers&#8217; quarrel.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Zodiac murders</span> (California, 1968-1969) The Zodiac Killer 
        murdered at least five people (and attacked two more who survived) in 
        Benicia, Vallejo, and Presidio Heights in California&#8217;s Bay Area; 
        he <span style="font-weight: bold;">claimed to have killed 37</span>. 
        Bryan Hartnell, who survived an 
        attack by the killer at Lake Berryessa, 
        described him as a man in a <span style="font-weight: bold;">black 
        executioner&#8217;s hood</span> and a 
        <span style="font-weight: bold;">
        bib with a crosshair symbol</span>. The criminal&#8217;s nickname is 
        what he called himself in a series 
        of letters sent to newspapers in the 
        San Francisco area, which he signed 
        with the same crosshair symbol; the 
        letters contained ciphers, in which the killer claimed to be 
        <span style="font-weight: bold;">collecting slaves for the afterlife
        </span>. His final letter, received in 1974, calls the film <i>The 
        Exorcist</i> a &#8220;comedy.&#8221; Although numerous suspects were 
        investigated&mdash;including Arthur Leigh Allen and Ted Kaczynski (the 
        Unabomber)&mdash;the crimes remain unsolved.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Ted Bundy&#8217;s murders</span> (nationwide, 
        1974&ndash;1978) Ted Bundy 
        was a <span style="font-weight: bold;">
            serial killer</span> who claimed 
        to have murdered at least 30&nbsp;women, most of them in the American 
        west. Bundy lured most of his victims to his car by 
        <span style="font-weight: bold;">feigning a disability</span> or 
        <span style="font-weight: bold;">impersonating a policeman</span>. In 
        1977 he was arrested near Salt Lake City after trying to flee police in 
        a Volkswagen that many would-be victims mentioned in police reports. 
        While on trial in Colorado, Bundy <span style="font-weight: bold;">
        escaped from custody</span> twice. 
        His first escape lasted a week; after 
        escaping a second time, in December, 
        he travelled to Florida and killed 
        at least three more people before being recaptured. Throughout his 
        trials and jail term, Bundy reveled in his notoriety and was noted for 
        his <span style="font-weight: bold;">unusual ability to charm people
        </span>. During his 1980 murder trial in Florida he married 
        <span style="font-weight: bold;">Carole Ann Boone</span>, a 
        sympathetic witness, in court while she 
        was on the witness stand. Bundy was executed in 1989.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Murder of John Lennon</span> 
        (New York City, 1980) John Lennon, a member 
        of <span style="font-weight: bold;">the 
        Beatles</span>, was shot outside 
        Manhattan&#8217;s <span style="font-weight: bold;">Dakota Apartments
        </span> on December&nbsp;8, 1980 by <span style="font-weight: bold;">
        Mark David Chapman</span>. Chapman 
        claimed to have been inspired by the 
        character of Holden Caulfield in J. D. Salinger&#8217;s novel 
        <i style="font-weight: bold;">The Catcher in the Rye</i>; he claimed 
        that he had written the phrase &#8220;This is my statement&#8221; in 
        the copy he was carrying on the night of the murder. Chapman hated 
        Lennon for his anti-war stance and songs like &#8220;Imagine,&#8221; 
        which discounted Christianity. 
        The first widespread public announcement 
        of Lennon&#8217;s death was made by sports commentator 
        <span style="font-weight: bold;">Howard Cosell</span>, who stopped 
        commentating on <i>Monday Night Football</i> to report that Lennon had 
        been murdered. Chapman pleaded guilty to murder. Although he became 
        eligible for parole in 2000, 
        his application for parole has been denied 11 times as of 2021.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        The Columbine massacre</span> (Columbine, Colorado, 1999) On 
        April&nbsp;20, 1999 
        <span style="font-weight: bold;">Eric Harris</span> 
        and <span style="font-weight: bold;">Dylan Klebold</span> murdered 
        thirteen people&mdash;one teacher 
        and twelve students&mdash;and injured 
        over 20 others, before committing suicide, during an assault on 
        Columbine High School. The assault, which lasted nearly an hour, 
        included bombs placed in the cafeteria 
        and car bombs, none of which ever 
        detonated. Victims <span style="font-weight: bold;">
        Rachel Scott</span> 
        and <span style="font-weight: bold;">
        Cassie Bernall</span> were later 
        portrayed as martyrs by Christian evangelicals. The attack inflamed a 
        <span style="font-weight: bold;">
        moral panic</span> over violent video 
        games (such as <i>Doom</i>), rock musician 
        <span style="font-weight: bold;">Marilyn Manson</span>, and 
        <span style="font-weight: bold;">goth subculture</span> 
        (as both Harris and Klebold were widely reported to belong to a clique 
        called the <span style="font-weight: bold;">&#8220;Trenchcoat 
        Mafia&#8221;</span> and wore dusters during the assault). Social 
        critics have argued that harsh <span style="font-weight: bold;">zero-
        tolerance policies</span> instituted in the wake of Columbine have 
        played a key role in the <span style="font-weight: bold;">school-to-
        prison pipeline</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}