{% extends "base.html" %}  {% block title %}American Third Parties{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">American Third Parties</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/american-third-parties.html">
    You Gotta Know These American Third Parties
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        The <span class="label">Anti-Masonic Party</span> (established 1828) became 
        America&#8217;s first third party by riding the tide of anti-Masonic 
        sentiment following the 1826 disappearance of 
        <span style="font-weight: bold;">Freemason</span> whistleblower 
        <span style="font-weight: bold;">William Morgan</span>. For the 1832 
        election, the Anti-Masons selected <span style="font-weight: bold;">
        William Wirt</span> in the first presidential nominating convention in 
        United States history. Running against eventual winner 
        <span style="font-weight: bold;">Andrew Jackson</span>, a Democrat 
        seeking re-election, and <span style="font-weight: bold;">Henry Clay
        </span>, a National Republican, Wirt managed to receive 8% of the 
        popular vote and 7&nbsp;electoral votes from Vermont. Vermont and 
        Pennsylvania both elected Anti-Masons as governors, and Pennsylvania, 
        New York, Vermont and other states all sent Anti-Masons to the U.S. 
        House of Representatives.
    </li>
    <li class="list_item">
        The <span class="label">Free Soil Party</span> 
        (established 1848) was created 
        through a union of 
        <span style="font-weight: bold;">anti-slavery</span> 
        factions from the two major parties, the 
        <span style="font-weight: bold;">Barnburner Democrats</span> and 
        <span style="font-weight: bold;">
        Conscience Whigs</span>. Its platform, 
        unlike that of <span style="font-weight: bold;">James G. Birney</span>
        &#8217;s earlier <span style="font-weight: bold;">Liberty Party</span> 
        (established 1840), did not aim to 
        abolish slavery, but rather to cease 
        its expansion. As a result, Free Soilers backed the 
        <span style="font-weight: bold;">Wilmot Proviso</span> and opposed the 
        Democratic Party on using <span style="font-weight: bold;">popular 
        sovereignty</span> to decide 
        slavery&#8217;s status. In its first year, 
        1848, the party ended up with two senators and 14 Representatives in 
        Congress. Free Soil presidential candidate 
        <span style="font-weight: bold;">Martin van&nbsp;Buren</span> managed 
        to capture 10% of the popular vote, and his influence may have secured 
        Whig candidate <span style="font-weight: bold;">Zachary Taylor</span>
        &#8217;s close victory over Democrat <span style="font-weight: bold;">
        Lewis Cass</span>.
    </li>
    <li class="list_item">
        The <span class="label">American Party</span> (established 1843), better class="label" style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Know-Nothing Party</span>, formed from the 
        <span style="font-weight: bold;">anti-Catholic</span>, 
        <span style="font-weight: bold;">anti-immigrant</span> 
        <span style="font-weight: bold;">nativism</span> of early America. 
        Secret societies like the 
        <span style="font-weight: bold;">Order of the 
        Star Spangled Banner</span> had been 
        sprouting up since the 1840s, but 
        the Know-Nothing Party was not a unified entity until the 1854 
        elections, when it won 52 of the 234 seats in the House, including the 
        position of Speaker of the House. 
        The 1856 presidential election was the 
        first one for both the American Party behind 
        <span style="font-weight: bold;">Millard Fillmore</span> and the 
        Republican Party behind <span style="font-weight: bold;">John C. 
        Fr&eacute;mont</span>. Fillmore received 22% of the popular vote but 
        only eight electoral votes from Maryland; Fr&eacute;mont won eleven 
        states with 33% of the popular vote. Strong Southern support, however, 
        allowed Democrat 
        <span style="font-weight: bold;">James Buchanan</span> 
        an easy win.
    </li>
    <li class="list_item">
        The <span class="label">People&#8217;s Party</span> (established 1891), 
        better known as the <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Populist Party</span>, had its 
        roots in the same <span style="font-weight: bold;">farmer-labor</span> 
        partnership that created the 
        <span style="font-weight: bold;">Greenback 
        Party</span> (established 1874). Opposed to the elites of the 
        <span style="font-weight: bold;">banking</span> and 
        <span style="font-weight: bold;">railroad</span> industries, the 
        Populist movement promised 
        <span style="font-weight: bold;">agrarian and 
        labor reform</span>. Its first presidential candidate, 
        <span style="font-weight: bold;">James B. Weaver</span>, captured 22 
        electoral votes from six western states with 8.5% of the vote in 1892, 
        as Democrat <span style="font-weight: bold;">
        Grover Cleveland</span> won 
        his rematch against Republican <span style="font-weight: bold;">
        Benjamin Harrison</span>. Also 
        in the West, multiple Populist governors, 
        senators, and representatives held power throughout the decade. The 
        Populists nominated the same 
        presidential candidate as the Democrats in 
        1896, <span style="font-weight: bold;">
        William Jennings Bryan</span>, 
        because of his stance on a 
        <span style="font-weight: bold;">silver bi-
        metal currency</span>, though the 
        Populist vice-presidential candidate 
        &mdash; party leader Thomas E. Watson &mdash; differed from the 
        Democratic candidate. Bryan&#8217;s failure to defeat Republican 
        <span style="font-weight: bold;">William McKinley</span> spelled the 
        decline of the People&#8217;s Party.
    </li>
    <li class="list_item">
        The <span class="label">Socialist Party
        </span> (established 1901) is usually 
        associated with <span style="font-weight: bold;">
        Eugene V. Debs</span>, 
        the face of the American socialist movement at its peak. He ran for 
        president five times from 1900 to 1920, 
        and managed to increase his vote 
        counts with each successive campaign. He attracted over 900,000 votes 
        twice: in 1912 with 6% of the vote, almost making it a four-way race, 
        and in 1920, when Debs famously ran his campaign while imprisoned. 
        Starting in 1928, his successor, <span style="font-weight: bold;">
        Norman Thomas</span>, ran for president six consecutive times, though 
        the party was not quite able to replicate Debs&#8217;s success.
    </li>
    <li class="list_item">
        There were three notable iterations of the 
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Progressive Party</span> in the 20th century, 
        each with its own ideology 
        and goals.
        <ul style="padding-left: 0; list-style-position: outside; 
        margin-left: 1em;">
            <li style="margin-bottom: 15px; margin-top: 15px;">
                Former President <span style="font-weight: bold;">Theodore 
                Roosevelt</span>&#8217;s Progressive Party (established 1912), 
                better known as the <span style="font-family: Cambria; 
                font-weight: bold; font-size: large;">Bull Moose Party</span>, 
                was created after he was unable to reclaim the Republican 
                nomination from his former ally 
                <span style="font-weight: bold;">
                William Howard Taft</span>. Roosevelt pitted his platform of 
                <span style="font-weight: bold;">New Nationalism</span>, which 
                promised reforms inspired by the Progressive movement, against 
                Democrat <span style="font-weight: bold;">Woodrow Wilson</span>
                &#8217;s more conservative 
                <span style="font-weight: bold;">New 
                Freedom</span>. In the most successful American third-party 
                campaign ever, Roosevelt&#8217;s 27% was still only enough to 
                win six states; the split of the Republican voter base between 
                him and Taft ensured a dominant victory for Wilson even though 
                Wilson received only 42% of the vote.
            </li>
            <li class="list_item">
                Senator <span style="font-weight: bold;">Robert M. 
                La&nbsp;Follette, Sr.</span>&#8217;s Progressive Party 
                (established 1924) was created for him to run for president on 
                his own brand of progressive ideals different from those of 
                Roosevelt, his onetime rival. Running on promises resembling 
                those of the earlier Populists, La&nbsp;Follette grabbed 17% of 
                the vote in the 1924 election 
                with thirteen electoral votes from 
                his home state, Wisconsin. He came close to Democrat nominee 
                <span style="font-weight: bold;">
                John W. Davis</span> in votes, 
                but neither could prevent Republican 
                <span style="font-weight: bold;">
                Calvin Coolidge</span>&#8217;s re-election.
            </li>
            <li class="list_item">
                Former Vice President <span style="font-weight: bold;">Henry 
                Wallace</span>&#8217;s Progressive Party (established 1948) 
                formed out of Wallace&#8217;s 
                disagreements with his replacement 
                as <span style="font-weight: bold;">FDR</span>&#8217;s vice 
                president, incumbent <span style="font-weight: bold;">Harry S. 
                Truman</span>, who had fired Wallace from his position as 
                Secretary of Commerce. In addition 
                to promoting leftist reforms, 
                Wallace also wanted cooperation with the 
                <span style="font-weight: bold;">Soviet Union</span>, though 
                his association with the Soviets and Communism hurt his 
                popularity. In spite of this, he still won 2.4% of the vote 
                with well over a million votes in a contentious election that 
                Truman barely won over <span style="font-weight: bold;">Thomas 
                Dewey</span>.
            </li>
        </ul>
    </li>
    <li class="list_item">
        The <span class="label">States&#8217; Rights Democratic Party</span> 
        (established 1948), better known as the 
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Dixiecrat Party</span>, was founded by 
        <span style="font-weight: bold;">
        Southern Democrats</span> to oppose <span style="font-weight: bold;">President 
        Truman</span>&#8217;s re-election bid, in response to his actions 
        advancing <span style="font-weight: bold;">civil rights</span>. When 
        Truman was nominated by the Democrats in 1948, members from the South 
        stormed out of the convention, creating a further divide within the 
        party. With South Carolina governor <span style="font-weight: bold;">
        Strom Thurmond</span> as its candidate, the Dixiecrats &mdash; while 
        receiving the same amount of votes as Henry Wallace &mdash; won 39 
        electoral votes from four southern states. Though it was a temporary 
        split, the issue of civil rights did not disappear.
    </li>
    <li class="list_item">
        The <span class="label">Communist Party of the United States of America
        </span> (established 1919) is notable 
        mainly for attempts to outlaw it, 
        such as the 1940 <span style="font-weight: bold;">Smith Act</span> 
        which criminalized organizations 
        advocating the violent overthrow of the 
        government, the <span style="font-weight: bold;">Communist Control Act
        </span> of 1954, and the inquiries of the 
        <span style="font-weight: bold;">
        House Un-American Activities Committee
        </span> and Senators <span style="font-weight: bold;">Richard Nixon
        </span> and <span style="font-weight: bold;">Joseph McCarthy</span>. 
        Though the 1951 Supreme Court case 
        <i style="font-weight: bold;">Dennis 
        v. U.S.</i> ruled that there is no First-Amendment right to advocate 
        the overthrow of the government, general concerns about freedom of 
        speech and overreach in investigations of Communists put an end to 
        prosecutions of individuals solely for 
        belonging to the Communist Party 
        by the early 1960s. The CPUSA ran <span style="font-weight: bold;">Gus 
        Hall</span> for President four times, 
        but was never a significant force 
        at the ballot box. In 1995, a cache of Soviet documents known as 
        <span style="font-weight: bold;">VENONA
        </span> was published, revealing 
        that the CPUSA was controlled by Moscow. 
        Like the Socialist Party, the 
        CPUSA has splintered into several similarly named successor 
        organizations.
    </li>
    <li class="list_item">
        The <span class="label">American 
        Independent Party</span> (established 1967) 
        was a sort of spiritual successor to the Dixiecrats from two decades 
        before. In an effort to combat the 
        desegregation being pushed by a pro-
        civil rights federal government, <span style="font-weight: bold;">
        George Wallace</span>, the segregationist 
        governor of Alabama, ran for 
        president on the ticket of the AIP, led by 
        <span style="font-weight: bold;">Bill and Eileen Shearer</span>. 
        Running on a platform of segregation 
        once again proved appealing to the 
        South, as Wallace won 46 electoral votes from five states, and 13% of 
        the vote with nearly ten million votes. Many Wallace supporters, 
        including the organizers of the AIP, later joined the 
        <span style="font-weight: bold;">U.S. Taxpayers Party</span>, which 
        was renamed the <span style="font-weight: bold;">Constitution Party
        </span>, and still exists as a small party to the right of the 
        Republicans.
    </li>
    <li class="list_item">
        The <span class="label">Reform Party</span> 
        (established 1995) was created to 
        follow up on <span style="font-weight: bold;">
        Ross Perot</span>&#8217;s 
        1992 independent campaign for President, in which he won 19% of the 
        popular vote but no electoral votes, making him the most successful 
        alternative candidate by vote count since Theodore Roosevelt in 1912. 
        Reform Party members agreed on the need for a 
        <span style="font-weight: bold;">balanced 
        budget</span> and changes to 
        the electoral process, and were generally opposed to 
        <span style="font-weight: bold;">free trade agreements</span> and 
        <span style="font-weight: bold;">immigration</span>. The lack of a 
        unified platform on other issues led to constant infighting over the 
        party&#8217;s goals and an inability to capitalize on Perot&#8217;s 
        initial success. Perot ran under the Reform banner again in the 1996 
        election, taking 8% of the vote. 
        The Reform Party is perhaps best known 
        for candidate <span style="font-weight: bold;">Jesse Ventura</span>
        &#8217;s surprise victory in the 1998 election for governor of 
        Minnesota. In the 2000 election cycle, a conservative faction led by 
        <span style="font-weight: bold;">
        Pat Buchanan</span> took over the 
        party, leading to the departure of many 
        Perot supporters and effectively 
        ending the party. Ventura left the party midway through his 
        governorship. Buchanan received several 
        disputed votes under the Reform 
        Party line on the infamous 2000 Florida 
        <span style="font-weight: bold;">&#8220;butterfly ballot.&#8221;</span>
    </li>
    <li class="list_item">
        The <span class="label">Green Party</span> 
        (established 1991) never attracted 
        as large of a share of the vote as the other third parties, but the 
        ticket of <span style="font-weight: bold;">Ralph Nader</span> and 
        <span style="font-weight: bold;">Winona LaDuke</span> pulled 2.7% of 
        the popular vote in the infamous <span style="font-weight: bold;">2000 
        presidential election</span>, possibly influencing Republican 
        <span style="font-weight: bold;">
        George W. Bush</span>&#8217;s extremely 
        narrow victory over Democrat <span style="font-weight: bold;">Al Gore
        </span>, the winner of the popular vote. The Green Party continues to 
        nominate candidates for presidential elections, and cites 
        <span style="font-weight: bold;">ecological sustainability</span>, 
        <span style="font-weight: bold;">social justice</span>, and 
        <span style="font-weight: bold;">
        fair democracy</span> among its goals.
    </li>
    <li class="list_item">
        In New York, the state-based <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Liberal Party</span> and 
        <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">
        Conservative Party</span> act as ideological checks on Democrats and 
        Republicans respectively, generally cross-endorsing their candidates 
        when they are found acceptable, but occasionally running alternative 
        candidates when they deem the mainstream parties&#8217; nominees too 
        moderate or compromising. 
        <span style="font-weight: bold;">James Buckley
        </span> served a Senate term from 1971 to 1977 as a Conservative from 
        New York after defeating both a Republican and Democrat in the 1970 
        election.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Jamrd S. Zhou.</p>
<br />
<br />
<br />
{% endblock %}