{% extends "base.html" %}  {% block title %}Ancient Greek Places{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">Ancient Greek Places</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/ancient-greek-places.html">
    You Gotta Know These Ancient Greek Places
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Argos</span>, a city-state or 
        <i style="font-weight: bold;">polis</i>, was a major rival of Sparta. 
        Both were on a large peninsula known as the 
        <span style="font-weight: bold;">Peloponnese</span>.  Argos came to 
        prominence in the 7th century BC under 
        <span style="font-weight: bold;">King Pheidon</span>, who is sometimes 
        credited with developing the use of citizen-soldiers known as 
        <span style="font-weight: bold;">hoplites</span> in rectangular 
        <span style="font-weight: bold;">phalanx</span> formations.
    </li>
    <li class="list_item">
        <span class="label">Athens</span> is on the peninsula of Attica, across 
        the Saronic Gulf from Corinth.  Athens is often called the birthplace 
        of democracy.  Its political institutions included the 
        <i style="font-weight: bold;">ecclesia</i>, an assembly open to all 
        male citizens, which elected officials and enacted legislation; and 
        the <i style="font-weight: bold;">boule</i>, a group of male citizens 
        chosen by lot who served for a year at a time. The <i>boule</i> 
        oversaw day-to-day operations of the government, and set the agenda 
        for the <i>ecclesia</i>.  The size of the <i>boule</i> and the 
        functions of both assemblies changed due to constitutional reforms 
        enacted by <span style="font-weight: bold;">Solon</span>, 
        <span style="font-weight: bold;">Cleisthenes</span>, 
        <span style="font-weight: bold;">Ephialtes</span>, and 
        <span style="font-weight: bold;">Pericles</span>.  The <i>ecclesia</i> 
        could banish a citizen for ten years, a practice known as 
        <span style="font-weight: bold;">ostracism</span>.  The rise to power 
        of Athens during the <span style="font-weight: bold;">Persian Wars
        </span> sparked the <span style="font-weight: bold;">Peloponnesian War
        </span>, which Athens lost.
    </li>
    <li class="list_item">
        <span class="label">Corinth</span>&#8217;s location&mdash;on the land 
        route to the Peloponnese, and with a placement at the Isthmus of 
        Corinth that allowed it to have harbors on the Saronic and Corinthian 
        Gulfs&mdash;made it a major trade center. The tyrant 
        <span style="font-weight: bold;">Periander</span> is credited with 
        building the <span style="font-weight: bold;">Diolkos</span>, a four- 
        to five-mile long paved track across the Isthmus that allowed 
        transport of ships and heavy goods much faster than could be 
        achieved by sailing all the way around the Peloponnese.
    </li>
    <li class="list_item">
        <span class="label">Delphi</span> was a sacred site on the Greek 
        mainland, which the Greeks thought was the center of the world. 
        A major temple to Apollo at Delphi housed the 
        <span style="font-weight: bold;">Oracle of Delphi</span>, a priestess 
        known as the <span style="font-weight: bold;">Pythia</span> (a title 
        that commemorates Apollo&#8217;s slaying of the snake Python at 
        Delphi). Every four years, Delphi hosted the Panhellenic 
        <span style="font-weight: bold;">Pythian Games</span>, which were 
        second only to the <span style="font-weight: bold;">Olympic Games
        </span> in importance.
    </li>
    <li class="list_item">
        <span class="label">Knossos</span> is an archaeological site on the 
        island of Crete that contains remains from the Neolithic to the late 
        Bronze Age.  Knossos became the center of the 
        <span style="font-weight: bold;">Minoan civilization</span>. In 1900 
        British archaeologist <span style="font-weight: bold;">Sir Arthur 
        Evans</span> began excavating its large palace complex, which yielded 
        a large trove of tablets inscribed in 
        <span style="font-weight: bold;">Linear&nbsp;A</span> (still 
        undeciphered) and <span style="font-weight: bold;">Linear&nbsp;B
        </span> (shown to represent an ancient form of Greek, but written 
        long before the development of the Greek alphabet).
    </li>
    <li class="list_item">
        <span class="label">Olympia</span> is on the Peloponnese. Like Delphi, 
        Olympia was a major Panhellenic sacred site.  The cult statue in its 
        <span style="font-weight: bold;">Temple of Zeus was</span> one of the 
        <span style="font-weight: bold;">Seven Wonders of the Ancient World
        </span>. The site also had athletic facilities for the 
        <span style="font-weight: bold;">Olympic Games</span> held every four 
        years.
    </li>
    <li class="list_item">
        <span class="label">Sparta</span> was for many years the 
        predominant <i>polis</i> of the Peloponnese. Sparta was led by two 
        kings, one each from the Agiad and Eurypontid families. The 
        constitution of <span style="font-weight: bold;">Lycurgus</span> 
        established the <i style="font-weight: bold;">Gerousia</i>, a council 
        of elected elders plus the kings, which functioned as a high court and 
        decided which matters to forward to the popular assembly, or 
        <i style="font-weight: bold;">apella</i> (the analogue of the 
        <i>ecclesia</i> of other city-states). The two kings were also joined 
        by five annually elected <i style="font-weight: bold;">ephors</i>, 
        who had broad executive powers. Sparta beat its rival Athens in the 
        Peloponnesian War in the late 5th century BC, but lost its position 
        as the leading military power in all of Greece to Thebes in 
        371&nbsp;BC.
    </li>
    <li class="list_item">
        <span class="label">Syracuse</span> was a major Greek colony 
        on <span style="font-weight: bold;">Sicily</span>, founded by 
        colonists from Corinth and Tenea. Its forces crushed the 
        <span style="font-weight: bold;">Sicilian Expedition</span> of Athens, 
        which proved to be the decisive turning point of the Peloponnesian 
        War. Some 200 years later, the great scientist 
        <span style="font-weight: bold;">Archimedes</span> died during the 
        Roman takeover of Syracuse.
    </li>
    <li class="list_item">
        <span class="label">Thebes</span> was the main city of 
        <span style="font-weight: bold;">Boeotia</span>, a region of the 
        southern Greek mainland just west of Attica. Thebes allied with Sparta 
        during the Peloponnesian War, but the two cities quickly became 
        enemies following the war. Thebes established the 
        <span style="font-weight: bold;">Sacred Band</span>, an elite force of 
        300 soldiers consisting of pairs of male lovers, and broke the 
        hegemony of Sparta at the 371&nbsp;BC <span style="font-weight: bold;">
        Battle of Leuctra</span>.  However, Thebes fell from power quickly, 
        fighting on the losing side at the 338&nbsp;BC 
        <span style="font-weight: bold;">Battle of Chaeronea</span> against 
        the Macedonians led by Philip&nbsp;II, and the city was destroyed 
        three years later by Alexander the Great following an 
        unsuccessful revolt.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Seth Teitler.</p>
<br />
<br />
<br />
{% endblock %}