{% extends "base.html" %}  {% block title %}Ancient Empires of the Mediterranean and Near East{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">Ancient Empires of the Mediterranean and Near East</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/ancient-empires.html.html">
    You Gotta Know These Ancient Empires of the Mediterranean and Near East
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Sumer</span> was one of the first 
        civilizations to arise in <span style="font-weight: bold;">Mesopotamia
        </span>. Sumer was a collection of city-states including 
        <span style="font-weight: bold;">Eridu</span>, 
        <span style="font-weight: bold;">Uruk</span>, and 
        <span style="font-weight: bold;">Ur</span>. This civilization created 
        <span style="font-weight: bold;">cuneiform</span>, the first known 
        writing system, which was made by putting wedge-shaped marks on clay 
        tablets.
    </li>
    <li class="list_item">
        The <span class="label">Akkadian Empire</span> was the first 
        empire in the world, and consisted of <span style="font-weight: bold;">
        Sumerians</span> and Akkadian-speaking 
        <span style="font-weight: bold;">Semites</span>. The empire was 
        founded by <span style="font-weight: bold;">Sargon the Great</span>, 
        who conquered all of <span style="font-weight: bold;">Mesopotamia
        </span> in the 24th and 23rd centuries BC.
    </li>
    <li class="list_item">
        <span class="label">Assyria</span> was a region located along the 
        <span style="font-weight: bold;">Upper Tigris River</span> in what is 
        now northern <span style="font-weight: bold;">Iraq</span>. Its major 
        cities included <span style="font-weight: bold;">A&scaron;&scaron;ur
        </span> and <span style="font-weight: bold;">Nineveh</span>. Assyria 
        was ruled at various times by the <span style="font-weight: bold;">
        Akkadian</span>, <span style="font-weight: bold;">Neo-Sumerian</span> 
        and <span style="font-weight: bold;">Babylonian</span> empires. In 
        911&nbsp;BC, the <span style="font-weight: bold;">Neo-Assyrian Empire
        </span> was founded by <span style="font-weight: bold;">
        Ashur-Dan&nbsp;II</span>; it lasted until 612&nbsp;BC. Some of the 
        empire&#8217;s greatest rulers were <span style="font-weight: bold;">
        Tiglath-Pileser&nbsp;III</span>, <span style="font-weight: bold;">
        Sargon&nbsp;II</span>, <span style="font-weight: bold;">Sennacherib
        </span>, and <span style="font-weight: bold;">Ashurbanipal</span>. 
        At its height, the Neo-Assyrian Empire ruled over all of 
        <span style="font-weight: bold;">Mesopotamia</span>, 
        <span style="font-weight: bold;">Egypt</span>, and the 
        <span style="font-weight: bold;">Levant</span> (the eastern 
        shore of the <span style="font-weight: bold;">Mediterranean</span>).
    </li>
    <li class="list_item">
        <span class="label">Babylonia</span> was a region of 
        <span style="font-weight: bold;">lower Mesopotamia</span> centered 
        on the city <span style="font-weight: bold;">Babylon</span>. The 
        different incarnations of Babylonian empires included the 
        <span style="font-weight: bold;">Amorite</span>, 
        <span style="font-weight: bold;">Kassite</span>, and 
        <span style="font-weight: bold;">Chaldean dynasties</span>. The most 
        notable Amorite ruler was <span style="font-weight: bold;">Hammurabi
        </span>, famed for his <span style="font-weight: bold;">legal code
        </span>, though Babylon was at its most powerful under the 
        <span style="font-weight: bold;">Chaldeans</span>. The Chaldean ruler 
        <span style="font-weight: bold;">Nebuchadnezzar&nbsp;II</span> built 
        the <span style="font-weight: bold;">Hanging Gardens of Babylon
        </span> and destroyed <span style="font-weight: bold;">
        Solomon&#8217;s Temple</span> in <span style="font-weight: bold;">
        Jerusalem</span>.
    </li>
    <li class="list_item">
        The <span class="label">Hittites</span> created a large empire in the 
        <span style="font-weight: bold;">late Bronze Age</span> centered on 
        their capital, <span style="font-weight: bold;">Hattusa</span>, in 
        <span style="font-weight: bold;">Anatolia</span> (the western portion 
        of what is now <span style="font-weight: bold;">Turkey</span>). Their 
        empire engaged in the first widespread use of 
        <span style="font-weight: bold;">iron</span> and 
        <span style="font-weight: bold;">chariots</span> in war. The 
        Hittites, under <span style="font-weight: bold;">King 
        Muwatalli&nbsp;II</span>, were defeated by the 
        <span style="font-weight: bold;">Egyptians</span> under 
        <span style="font-weight: bold;">Ramesses&nbsp;II</span> at the 
        <span style="font-weight: bold;">Battle of Kadesh</span>, which 
        involved as many as 5000 chariots. The Hittite Empire came to an end 
        less than a century later as part of the 
        <span style="font-weight: bold;">Bronze Age collapse</span>.
    </li>
    <li class="list_item">
        The Bronze-Age <span class="label">Minoan civilization</span> was centered on the 
        Greek island <span style="font-weight: bold;">Crete</span> and 
        included nearby islands. The British archaeologist 
        <span style="font-weight: bold;">Arthur Evans</span> unearthed much 
        of what we know about the Minoans, including their palace at 
        <span style="font-weight: bold;">Knossos</span> and their writing 
        system, which he called <span style="font-weight: bold;">
        Linear&nbsp;A</span>.
    </li>
    <li class="list_item">
        The <span class="label">Mycenaeans</span> succeeded the 
        <span style="font-weight: bold;">Minoans</span> as the preeminent 
        Greek civilization. Much of their territory was on the Greek mainland, 
        including the city of <span style="font-weight: bold;">Mycenae</span> 
        itself. Their writing system is called 
        <span style="font-weight: bold;">Linear&nbsp;B</span>. The Mycenaeans 
        disappeared in the <span style="font-weight: bold;">late Bronze Age 
        collapse</span>. <span style="font-weight: bold;">Homer</span>&#8217;s 
        <span style="font-weight: bold;">Iliad</span> is set during the 
        Mycenaean period, and <span style="font-weight: bold;">Agamemnon
        </span> is said to have been the King of Mycenae.
    </li>
    <li class="list_item">
        <span class="label">Lydia</span> was an 
        <span style="font-weight: bold;">Iron-Age</span> kingdom that 
        encompassed most of <span style="font-weight: bold;">western Asia 
        Minor</span> (present-day Turkey) and had its capital at 
        <span style="font-weight: bold;">Sardis</span>. Lydians are credited 
        with inventing <span style="font-weight: bold;">coins</span>, and 
        their last king, <span style="font-weight: bold;">Croesus</span>, was 
        famous for being fabulously wealthy. When Croesus asked the 
        <span style="font-weight: bold;">Oracle at Delphi</span> about his war 
        plans, Croesus was told that if he attacked the 
        <span style="font-weight: bold;">Persians</span>, he would destroy a 
        great empire. This came true as <span style="font-weight: bold;">
        Cyrus the Great</span> defeated Croesus and sacked Sardis.
    </li>
    <li class="list_item">
        The <span class="label">Achaemenid Empire</span> or 
        <span style="font-weight: bold;">first Persian Empire</span> was 
        founded by <span style="font-weight: bold;">Cyrus the Great</span>, 
        who defeated and incorporated the <span style="font-weight: bold;">
        Babylonian Empire</span>, <span style="font-weight: bold;">Lydian 
        Empire</span> and <span style="font-weight: bold;">Median Empire
        </span>. Based in what is now <span style="font-weight: bold;">Iran
        </span>, the empire had its ceremonial capital at 
        <span style="font-weight: bold;">Persepolis</span>. Under kings 
        <span style="font-weight: bold;">Darius</span> and 
        <span style="font-weight: bold;">Xerxes</span>, Persia unsuccessfully 
        invaded <span style="font-weight: bold;">Greece</span>. The First 
        Persian Empire came to an end when <span style="font-weight: bold;">
        Darius&nbsp;III</span> was defeated by 
        <span style="font-weight: bold;">Alexander the Great</span>.
    </li>
    <li class="list_item">
        The <span class="label">Parthian Empire</span> was the second major empire 
        to come out of <span style="font-weight: bold;">Persia</span>. The 
        Parthian Empire was founded by <span style="font-weight: bold;">
        Arsaces&nbsp;I</span>, who rebelled against the 
        <span style="font-weight: bold;">Seleucid Empire</span>. Parthians 
        often fought with <span style="font-weight: bold;">Rome</span>, and 
        at the 53&nbsp;BC <span style="font-weight: bold;">Battle of Carrhae
        </span>, the Roman general <span style="font-weight: bold;">Crassus
        </span> was killed. The Parthian Empire was supplanted by the 
        <span style="font-weight: bold;">Sassanian Empire</span> in 
        AD&nbsp;224.
    </li>
</ul>

<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}