{% extends "base.html" %}  {% block title %}Assassinations{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">Assassinations</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/assassinations.html">
    You Gotta Know These Assassinations
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        On March 15, 44&nbsp;BC (the Ides of March) Roman statesman 
        <span class="label">Julius Caesar</span> was 
        <span style="font-weight: bold;">stabbed 23 times</span> by the 
        <i style="font-weight: bold;">Liberatores</i> 
        (&#8220;Liberators&#8221;), a group of senators led by 
        <span style="font-weight: bold;">Gaius Cassius Longinus</span> and 
        <span style="font-weight: bold;">Marcus Junius Brutus</span>. Caesar 
        died at the base of the <span style="font-weight: bold;">Roman Curia
        </span> in the <span style="font-weight: bold;">Theater of Pompey
        </span>, just outside the Roman Senate. Caesar had recently been named 
        <i style="font-weight: bold;">dictator perpetuo</i>&mdash;or 
        &#8220;dictator in perpetuity&#8221;&mdash;which many senators 
        believed would be the end of the Roman Republic. After the 
        assassination, Caesar&#8217;s adopted grandnephew 
        <span style="font-weight: bold;">Octavian</span> (later Augustus) 
        and his top general <span style="font-weight: bold;">Marc Antony
        </span> formed the <span style="font-weight: bold;">Second 
        Triumvirate</span> with <span style="font-weight: bold;">Marcus 
        Lepidus</span>; the trio deified Caesar and defeated Brutus and 
        Cassius at the <span style="font-weight: bold;">Battle of 
        Philippi</span>.
    </li>
    <li class="list_item">
        On May 4, 1610 <span class="label">King Henry&nbsp;IV of France</span> was stabbed 
        to death by <span style="font-weight: bold;">Fran&ccedil;ois Ravaillac
        </span>, a <span style="font-weight: bold;">Catholic</span> fanatic 
        who claimed to have had visions instructing him to convince Henry to 
        convert the <span style="font-weight: bold;">Huguenots</span> 
        (Protestants) to Catholicism. Ravaillac stabbed Henry&mdash;the first 
        French king from the Bourbon Dynasty&mdash;on the 
        <span style="font-weight: bold;">Rue de la Ferronnerie</span> when 
        the king&#8217;s coach stopped in traffic. One of the king&#8217;s 
        advisors, <span style="font-weight: bold;">Hercule, Duke of Montbazon
        </span>, was wounded in the attack but survived. Henry&nbsp;IV was 
        survived by his wife <span style="font-weight: bold;">Marie 
        de&#8217; Medici</span>, who served as regent for their son 
        <span style="font-weight: bold;">Louis&nbsp;XIII</span> until he 
        took power in 1617.
    </li>
    <li class="list_item">
        On April 14, 1865 U.S. President <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Abraham Lincoln</span> was shot 
        and killed by <span style="font-weight: bold;">John Wilkes Booth
        </span> during a showing of the play <i style="font-weight: bold;">
        Our American Cousin</i> at <span style="font-weight: bold;">
        Ford&#8217;s Theatre</span> in Washington, D.C. Lincoln died the next 
        morning at <span style="font-weight: bold;">Petersen House</span> 
        across the street. The assassination was part of a wider plot that 
        included failed attempts to kill Vice President 
        <span style="font-weight: bold;">Andrew Johnson</span> and Secretary 
        of State <span style="font-weight: bold;">William Seward</span>. 
        Prior to shooting the president, Booth shouted the Virginia state 
        motto, <i style="font-weight: bold;">sic semper tyrannis</i> 
        (&#8220;thus always to tyrants&#8221;). Booth fled the theater after 
        the attack. After a two-week manhunt, he was 
        <span style="font-weight: bold;">found in a barn</span> in northern 
        Virginia, where he refused to surrender and was killed by Union 
        soldier <span style="font-weight: bold;">Boston Corbett</span>. 
        <span style="font-weight: bold;">Samuel Mudd</span>, a doctor, was 
        controversially imprisoned for treating the broken leg that Booth 
        suffered during his escape.
    </li>
    <li class="list_item">
        On June 28, 1914 Austro-Hungarian Archduke 
        <span class="label">Franz Ferdinand</span> and his wife 
        <span style="font-weight: bold;">Sophie</span> were assassinated in 
        <span style="font-weight: bold;">Sarajevo</span> by 
        <span style="font-weight: bold;">Serbian</span> ultra-nationalist 
        <span style="font-weight: bold;">Gavrilo Princip</span>, a member of a 
        secret military society called the <span style="font-weight: bold;">
        Black Hand</span>. In response to the assassination, Austria-Hungary 
        issued the <span style="font-weight: bold;">July Ultimatum</span> to 
        Serbia, leading to the outbreak of <span style="font-weight: bold;">
        World War I</span>.
    </li>
    <li class="list_item">
        On January 30, 1948 Indian independence advocate 
        <span class="label">Mohandas Gandhi</span> was shot three times at 
        point-blank range by <span style="font-weight: bold;">Nathuram Godse
        </span>, a Hindu nationalist. The shooting occurred just as Gandhi was 
        beginning his daily interfaith service at 
        <span style="font-weight: bold;">Birla House</span> in 
        <span style="font-weight: bold;">New Delhi</span>. Godse was 
        apprehended by <span style="font-weight: bold;">Herbert Reiner Jr.
        </span>, an American diplomat. During his trial, Godse criticized 
        Gandhi&#8217;s accepting behavior toward Muslims and blamed Gandhi for 
        the <span style="font-weight: bold;">1947 Partition of India</span>. 
        Gandhi&#8217;s death was reported to the nation via radio by Prime 
        Minister <span style="font-weight: bold;">Jawaharlal Nehru</span> that 
        evening.
    </li>
    <li class="list_item">
        On November 22, 1963 U.S. President <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">John F. Kennedy</span> was shot 
        and killed by <span style="font-weight: bold;">Lee Harvey Oswald
        </span>, who targeted the presidential motorcade from the sixth floor 
        of the <span style="font-weight: bold;">Texas School Book Depository
        </span> as the vehicles rode through <span style="font-weight: bold;">
        Dallas</span>&#8217;s <span style="font-weight: bold;">Dealey Plaza
        </span>. Texas Governor <span style="font-weight: bold;">John Connolly
        </span> was also severely injured in the shooting, which was captured 
        on tape in the <span style="font-weight: bold;">Zapruder film</span>. 
        <span style="font-weight: bold;">Lyndon B. Johnson</span> was sworn 
        in as president aboard Air Force One later that day. Oswald never 
        faced trial for the assassination, as he himself was shot and killed 
        by bar owner <span style="font-weight: bold;">Jack Ruby</span> while 
        being transported by federal agents. The Kennedy assassination was 
        investigated by the <span style="font-weight: bold;">Warren Commission
        </span>, led by Chief Justice Earl Warren, which concluded that Oswald 
        was the lone gunman.
    </li>
    <li class="list_item">
        On February 21, 1965 Muslim activist 
        <span class="label">Malcolm&nbsp;X</span> was shot and killed in the 
        <span style="font-weight: bold;">Audubon Ballroom</span> in 
        Manhattan by three members of the <span style="font-weight: bold;">
        Nation of Islam</span>, an organization that Malcolm&nbsp;X left in 
        March 1964. The assassins were <span style="font-weight: bold;">
        Talmadge Hayer</span>, <span style="font-weight: bold;">Norman 3X 
        Butler</span>, and <span style="font-weight: bold;">Thomas 15X Johnson
        </span>. Malcolm&nbsp;X was about to give a speech to the 
        <span style="font-weight: bold;">Organization of Afro-American Unity
        </span> when he was <span style="font-weight: bold;">shot 21 times
        </span> with a shotgun. Many people, including Malcolm&nbsp;X&#8217;s 
        widow, have blamed <span style="font-weight: bold;">Louis Farrakhan
        </span>&#8217;s harsh rhetoric for inciting the assassination.
    </li>
    <li class="list_item">
        On April 4, 1968 civil rights activist 
        <span class="label">Martin Luther King Jr.</span> was shot and killed 
        on a balcony at the <span style="font-weight: bold;">Lorraine Motel
        </span> in <span style="font-weight: bold;">Memphis, Tennessee</span> 
        by <span style="font-weight: bold;">James Earl Ray</span>. King had 
        been in Memphis to show support for a 
        <span style="font-weight: bold;">strike</span> by African-American 
        <span style="font-weight: bold;">sanitation workers</span>. One 
        notable response to the death of King was the speech given by 
        Democratic presidential candidate <span style="font-weight: bold;">
        Robert F. Kennedy</span> that night in Indianapolis, in which he 
        quoted the words of the Greek playwright 
        <span style="font-weight: bold;">Aeschylus</span> about &#8220;pain 
        which cannot forget&#8221; that &#8220;falls drop by drop upon the 
        heart.&#8221;
    </li>
    <li class="list_item">
        On June 5, 1968 <span class="label">Robert F. Kennedy</span> was himself fatally shot 
        by <span style="font-weight: bold;">Sirhan Sirhan</span> in Los 
        Angeles. Kennedy was only the second sitting U.S. senator to be 
        assassinated (the other was Huey Long in 1935). The day after 
        <span style="font-weight: bold;">winning the California presidential 
        primary</span>, Kennedy was leaving the 
        <span style="font-weight: bold;">Ambassador Hotel</span> through the 
        hotel kitchen when he was shot. Following Kennedy&#8217;s death, it 
        became policy for the Secret Service to provide protection to 
        presidential candidates during the campaign. The Democratic 
        nomination for 1968 eventually went to 
        <span style="font-weight: bold;">Hubert Humphrey</span>, who lost the 
        election to Richard Nixon.
    </li>
    <li class="list_item">
        On October 31, 1984 Indian prime minister 
        <span class="label">Indira Gandhi</span> was assassinated in 
        <span style="font-weight: bold;">New Delhi</span> by two of her 
        <span style="font-weight: bold;">Sikh bodyguards</span>: 
        <span style="font-weight: bold;">Satwant Singh</span> and 
        <span style="font-weight: bold;">Beant Singh</span>. Her murder came 
        four months after <span style="font-weight: bold;">Operation Blue Star
        </span>, a military raid on the sacred Sikh 
        <span style="font-weight: bold;">Golden Temple</span> in 
        <span style="font-weight: bold;">Amritsar</span>, Punjab. Gandhi had 
        been on her way to give an interview with British actor 
        <span style="font-weight: bold;">Peter Ustinov</span> when she was 
        killed, and the incident led to widespread anti-Sikh riots throughout 
        India in which thousands of Sikhs were killed. Indira Gandhi&#8217;s 
        oldest son, <span style="font-weight: bold;">Rajiv</span>, succeeded 
        her as Prime Minister of India.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}