{% extends "base.html" %}  {% block title %}Aviators{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline">
        <a style="color: maroon;" href="/practice">
            Practice 
        </a> | 
    </li>
    <li style="display:inline">
        <a style="color: maroon;" href="/practice/you-gotta-know/history">
            History
        </a> | 
    </li>
    <li style="display:inline">Aviators</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/aviators.html">
    You Gotta Know These Aviators
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Wright Brothers</span> (class="label"family: Cambria; font-weight: bold; class="label">Orville</span>: 1871&ndash;1948; 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Wilbur</span>: 1867&ndash;1912) The Wright Brothers 
        operated a <span style="font-weight: bold;">bicycle repair shop</span> 
        in <span style="font-weight: bold;">Dayton, Ohio</span> before 
        creating the <span style="font-weight: bold;">first successful, 
        powered, heavier-than-air, manned airplane</span>.  For several years, 
        utilizing both a <span style="font-weight: bold;">wind tunnel</span> 
        they built as well as test flights, they created and refined 
        <span style="font-weight: bold;">gliders</span> before adding an 
        <span style="font-weight: bold;">engine</span> to their design. 
        Finally, on December&nbsp;17, 1903, with Orville at the controls, the 
        <a style="color: black;" target="_blank" 
        href="https://airandspace.si.edu/collection-objects/1903-wright-flyer/
        nasm_A19610048000"><i style="font-weight: bold;">Flyer I</i></a> made 
        a <span style="font-weight: bold;">12-second</span> flight at 
        <span style="font-weight: bold;">Kill Devil Hills</span> near 
        <span style="font-weight: bold;">Kitty Hawk, North Carolina</span>. 
        They made several more launches that day, with Wilbur staying aloft 
        for 59&nbsp;seconds on the fourth, and last, flight.
    </li>
    <li class="list_item">
        <span class="label">Charles Lindbergh</span> (1902&ndash;1974) In May 
        1927, Lindbergh made the <span style="font-weight: bold;">first 
        non-stop, solo, trans-Atlantic flight</span> in the 
        <a style="color: black;" target="_blank" href="https://airandspace.
        si.edu/collection-objects/ryan-nyp-spirit-st-louis-charles-lindbergh/
        nasm_A19280021000"><i style="font-weight: bold;">Spirit of St. Louis
        </i></a>, a single-engine Ryan aircraft. Lindbergh took off from 
        <span style="font-weight: bold;">Roosevelt Field on Long Island</span> 
        and landed at <span style="font-weight: bold;">Le&nbsp;Bourget Field
        </span> in Paris 33&frac12;&nbsp;hours later. Lindbergh married 
        <span style="font-weight: bold;">Anne Morrow</span> in 1929, and the 
        1932 <span style="font-weight: bold;">kidnapping and murder</span> of 
        their son Charles&nbsp;Jr. was called &#8220;The Crime of the 
        Century&#8221;; ultimately, <span style="font-weight: bold;">Bruno 
        Hauptmann</span> was convicted and executed.  Prior to the 
        U.S.&#8217;s entry into World War&nbsp;II, Lindbergh urged the U.S. 
        to remain neutral and was active with the 
        <span style="font-weight: bold;">America First Committee</span>, 
        though during the war he flew 50 combat missions in the Pacific.
    </li>
    <li class="list_item">
        <span class="label">Amelia Earhart</span> (1897&ndash;1937?) More than 
        70 years after her <span style="font-weight: bold;">disappearance
        </span>, Earhart remains the most famous female aviator. In 1932 she 
        became the <span style="font-weight: bold;">first woman to make a 
        trans-Atlantic solo flight</span>, and three years later she became 
        the <span style="font-weight: bold;">first pilot of any gender to fly 
        solo from Hawaii to California</span>. In June&nbsp;1937, she and 
        <span style="font-weight: bold;">navigator</span> 
        <span style="font-weight: bold;">Fred Noonan</span> embarked on a 
        29,000-mile, around-the-world flight in a twin-engine 
        <span style="font-weight: bold;">Lockheed Electra</span>. They 
        completed most of the journey, but became lost and eventually 
        disappeared on the leg between <span style="font-weight: bold;">Lae, 
        New Guinea</span>, and <span style="font-weight: bold;">Howland Island
        </span> in the Pacific Ocean. Speculation as to their ultimate fate 
        continues to this day.
    </li>
    <li class="list_item">
        <span class="label">Chuck Yeager</span> (1923&ndash;2020) During World 
        War&nbsp;II, Yeager served in the <span style="font-weight: bold;">
        U.S. Army Air Corps</span>, earning <span style="font-weight: bold;">
        &#8220;ace in a day&#8221;</span> status by shooting down five German 
        aircraft in one mission. On October&nbsp;14, 1947, Yeager &mdash; 
        piloting a <span style="font-weight: bold;">Bell X-1</span> plane 
        nicknamed (in tribute to his wife) <a style="color: black;" 
        target="_blank" href="https://airandspace.si.edu/collection-objects/
        bell-x-1/nasm_A19510007000"><i style="font-weight: bold;">Glamorous 
        Glennis</i></a> &mdash; became the <span style="font-weight: bold;">
        first pilot to exceed the speed of sound</span> in level flight. 
        Profiled in <span style="font-weight: bold;">Tom Wolfe</span>&#8217;s 
        <i style="font-weight: bold;">The Right Stuff</i>, Yeager re-set the 
        speed record at <span style="font-weight: bold;">more than Mach&nbsp;2
        </span> in 1953, and he remained active in the Air Force, even flying 
        combat missions over <span style="font-weight: bold;">Vietnam</span> 
        in his mid-40s.
    </li>
    <li class="list_item">
        <span class="label">Howard Hughes</span> (1905&ndash;1976) Subject of 
        the 2004 film <a style="color: black;" target="_blank" 
        href="http://www.imdb.com/title/tt0338751/">
        <i style="font-weight: bold;">The Aviator</i></a>, Hughes was a 
        skilled aircraft pilot and designer who in the 1930s set 
        <span style="font-weight: bold;">speed records for flights across 
        the United States and around the world</span>. His most famous plane 
        was the <span style="font-weight: bold;">H-4 Hercules</span>, or 
        &#8220;<a style="font-weight: bold; color: black;" target="_blank"
        href="http://www.evergreenmuseum.org/the-museum/aircraft-exhibits/
        the-spruce-goose/">Spruce Goose</a>,&#8221; a massive <em>wooden</em> 
        plane that to this day holds the record for 
        <span style="font-weight: bold;">longest wingspan on an operational 
        craft</span>. Meant to carry as many as 750 troops, Hughes himself was 
        the pilot during its lone flight, a <span style="font-weight: bold;">
        one-minute</span> hop in 1947.  Also a <span style="font-weight: bold;">
        movie producer</span>, Hughes is widely remembered for the various 
        <span style="font-weight: bold;">eccentricities</span>, such as a 
        <span style="font-weight: bold;">pathological fear of germs</span> and 
        a <span style="font-weight: bold;">refusal to cut his hair or 
        nails</span>, that he exhibited late in life.
    </li>
    <li class="list_item">
        <span class="label">Wiley Post</span> (1898&ndash;1935) In 1931, Post 
        and navigator <span style="font-weight: bold;">Harold Gatty</span> 
        completed a <span style="font-weight: bold;">circumnavigation</span> 
        of the globe aboard the <a style="color: black;" target="_blank" 
        href="https://airandspace.si.edu/collection-objects/lockheed-vega-
        winnie-mae/nasm_A19360030000"><i style="font-weight: bold;">Winnie Mae
        </i></a>, an experience that the two wrote about in 
        <i style="font-weight: bold;">Around the World in Eight Days</i>. 
        Two years later, Post became the <span style="font-weight: bold;">
        first solo pilot to complete an around-the-world trip</span>. He then 
        began investigating the possibility of high-altitude flight and, using 
        a <a style="font-weight: bold;color: black;" target="_blank" 
        href="https://airandspace.si.edu/multimedia-gallery/si-98-15012hjpg">
        pressurized suit</a> of his own design, reached a height of 
        50,000&nbsp;feet and may have been the first to encounter and use the 
        <span style="font-weight: bold;">jet stream</span>.  Today, Post is 
        mainly remembered for the circumstances of his death; while flying 
        through Alaska with world-famous humorist 
        <span style="font-weight: bold;">Will Rogers</span> as his passenger, 
        Post crashed near <span style="font-weight: bold;">Point Barrow
        </span>, Alaska, and both men died.
    </li>
    <li class="list_item">
        <span class="label">Jimmy Doolittle</span> (1896&ndash;1993) James H. 
        Doolittle served as a <span style="font-weight: bold;">flight 
        instructor</span> for the U.S. Army during World War&nbsp;I, and after 
        the war became a celebrated <span style="font-weight: bold;">race pilot
        </span>, reaching a <span style="font-weight: bold;">world-record speed
        </span> of 296&nbsp;miles&nbsp;per hour in 1932. Rejoining the 
        military after Pearl Harbor, he personally led the 
        <span style="font-weight: bold;">&#8220;Doolittle Raid,&#8221;</span> 
        in which 16 <a style="font-weight: bold; color: black;" 
        target="_blank" href="https://airandspace.si.edu/collection-archive-
        item/north-american-b-25-mitchell/sova-nasm-xxxx-0356-ref1328">B-25 
        bombers</a> took off from the aircraft carrier 
        <span style="font-weight: bold;">USS&nbsp;<i>Hornet</i></span> and 
        bombed the Japanese home islands in April 1942. Following the raid, 
        Doolittle commanded the <span style="font-weight: bold;">Eighth Air 
        Force</span> that launched massive bombing raids against Germany.
    </li>
    <li class="list_item">
        <span class="label">Manfred von Richthofen</span> (1892&ndash;1918) 
        Better known as the <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">&#8220;Red Baron,&#8221;</span> 
        Richthofen was credited with shooting down 80 enemy aircraft, making 
        him the <span style="font-weight: bold;">top overall ace of World 
        War&nbsp;I</span>. Richthofen&#8217;s personal command, 
        <i style="font-weight: bold;">Jagdgeschwader&nbsp;1</i>, became known 
        as <span style="font-weight: bold;">&#8220;Richthofen&#8217;s Flying 
        Circus&#8221;</span> due to the variety of colors used on its planes. 
        Richthofen died on April&nbsp;21, 1918, when he was shot aboard his 
        red <span style="font-weight: bold;">Fokker</span> triplane; though 
        the Royal Air Force credited Canadian ace 
        <span style="font-weight: bold;">Roy Brown</span> with the kill, it is 
        more likely that he was brought down by ground fire from Australian 
        troops in the trenches.
    </li>
    <li class="list_item">
        <span class="label">Eddie Rickenbacker</span> (1890&ndash;1973) Before 
        becoming a pilot, Rickenbacker achieved fame as a 
        <span style="font-weight: bold;">race car driver</span>; &#8220;Fast 
        Eddie&#8221; competed in the Indianapolis&nbsp;500 on four separate 
        occasions. During World War&nbsp;I, he joined the U.S. Army as a 
        driver, but was admitted to flight school with the help of 
        <span style="font-weight: bold;">Colonel Billy Mitchell</span>, and 
        went on to win the <span style="font-weight: bold;">Medal of Honor
        </span> and finish as the <span style="font-weight: bold;">top 
        American ace</span> of the war, with 26 kills.  Rickenbacker bought 
        the Indianapolis Motor Speedway in 1927 and Eastern Airlines in 1938. 
        While on a military mission in the Pacific in 1942, 
        Rickenbacker&#8217;s plane crashed, but he and all but one crewman 
        survived a brutal 24-day ordeal aboard small life rafts.
    </li>
    <li class="list_item">
        <span class="label">Burt Rutan</span> (1943&ndash;present) A legendary 
        <span style="font-weight: bold;">aircraft designer</span>, Rutan 
        gained worldwide attention in 1986 when his <a style="color: maroon;" 
        target="_blank" href="https://airandspace.si.edu/collection-objects/
        rutan-voyager/nasm_A19880548000"><i style="font-weight: bold;">Voyager
        </i></a> plane, piloted by his brother 
        <span style="font-weight: bold;">
        Dick Rutan</span> and <span style="font-weight: bold;">Jeana Yeager
        </span> (no relation to Chuck Yeager), completed a 
        <span style="font-weight: bold;">non-stop, around-the-world flight 
        without refueling</span>. More recently, Rutan designed the 
        <a style="color: maroon;" target="_blank" href="https://airandspace.
        si.edu/collection-objects/virgin-atlantic-global-flyer/
        nasm_A20070018000"><i style="font-weight: bold;">Global Flyer</i></a>, 
        aboard which Steve Fossett made a solo, non-stop 
        circumnavigation without refueling in 2005, and 
        <a style="color: black;" target="_blank" href="https://airandspace.
        si.edu/collection-objects/spaceshipone/nasm_A20050459000">
        <i style="font-weight: bold;">SpaceShipOne</i></a>, which in 2004 won 
        the $10&nbsp;million Ansari&nbsp;X Prize by making the first privately 
        funded space flights.
    </li>
</ul>
<p class="justify">
    Other notable aviators include the inventor of the 
    <span style="font-weight: bold;">helicopter</span>, 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Igor Sikorsky</span>; 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Billy Mitchell</span>, the 
    <span style="font-weight: bold;">&#8220;Father of the U.S. Air Force&#8221;
    </span>; and <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Antoine de Saint-Exup&eacute;ry</span>, who wrote 
    <i style="font-weight: bold;">The Little Prince</i>.
</p>
<br />
<p class="justify">This article was contributed by former NAQT writer Rj Dhuwalia.</p>
<br />
<br />
<br />
{% endblock %}