{% extends "base.html" %}  {% block title %}Battles of the Ancient World{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Battles of the Ancient World</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/battles-of-the-ancient-world.html">
    You Gotta Know These Battles of the Ancient World
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        One of the earliest battles in recorded history, the 
        <span class="label">Battle of Kadesh</span> (1274&nbsp;BC) was fought 
        near the <span style="font-weight: bold;">Orontes River</span> in what 
        is now <span style="font-weight: bold;">Syria</span> between 
        <span style="font-weight: bold;">Egyptian</span> Pharaoh 
        <span style="font-weight: bold;">Ramses&nbsp;II</span> and the 
        <span style="font-weight: bold;">Hittite</span> king 
        <span style="font-weight: bold;">Muwatalli&nbsp;II</span>. Although 
        Ramses proclaimed a great victory for himself, he was lucky to achieve 
        a <span style="font-weight: bold;">stalemate</span> after being 
        ambushed by Hittite <span style="font-weight: bold;">chariots</span>. 
        Kadesh was probably the <span style="font-weight: bold;">largest 
        chariot battle in history</span>, with over 5,000 chariots engaged. 
        The Egyptian chariots were smaller and faster than those used by the 
        Hittites, which gave the Egyptians an advantage.
    </li>
    <li class="list_item">
        <span class="label">Persian</span> King 
        <span style="font-weight: bold;">Darius&nbsp;I</span>&#8217;s invasion 
        of mainland <span style="font-weight: bold;">Greece</span> ended with 
        a decisive victory for <span style="font-weight: bold;">Miltiades
        </span> and the <span style="font-weight: bold;">Athenians</span> at 
        <span class="label">Marathon</span> (490&nbsp;BC). The defeated Persian 
        commanders were <span style="font-weight: bold;">Datis</span> and 
        <span style="font-weight: bold;">Artaphernes</span>. Among the few 
        Athenian dead of the battle were archon 
        <span style="font-weight: bold;">Callimachus</span> and the general 
        <span style="font-weight: bold;">Stesilaos</span>. Legend has it that 
        the Greek messenger <span style="font-weight: bold;">Pheidippides
        </span> ran to Athens with news of the victory, but collapsed upon 
        arrival. This is the inspiration for the modern race known as the 
        &#8220;marathon.&#8221
    </li>
    <li class="list_item">
        <span class="label">Thermopylae</span> (480&nbsp;BC) was the first 
        battle of the <span style="font-weight: bold;">second Persian invasion 
        of Greece</span>. Although the Persians under 
        <span style="font-weight: bold;">Xerxes&nbsp;I</span> and his general 
        <span style="font-weight: bold;">Mardonius</span> defeated the 
        <span style="font-weight: bold;">Spartans</span>, 
        <span style="font-weight: bold;">King Leonidas</span> and his Spartan 
        troops put up a heroic defense of the pass 
        at Thermopylae (the <span style="font-weight: bold;">&#8220;hot 
        gates&#8221;</span>). The Greeks were <span style="font-weight: bold;">
        betrayed</span> by <span style="font-weight: bold;">Ephialtes</span>, 
        who told the Persians about a path that led behind the Spartans. The 
        battle was part of <span style="font-weight: bold;">Themistocles
        </span>&#8217; plan to halt the advance of the Persians. The other 
        part of his plan was to block the Persian navy at 
        <span style="font-weight: bold;">Artemisium</span>; a battle occurred 
        there simultaneously.
    </li>
    <li class="list_item">
        The <span style="font-weight: bold;">naval battle</span> at 
        <span class="label">Salamis</span> (480&nbsp;BC) was a major turning 
        point in the <span style="font-weight: bold;">Greco-Persian Wars
        </span>, as it signaled the beginning of the end of Persian attempts 
        to conquer Greece. The battle is named after an island in the 
        <span style="font-weight: bold;">Saronic Gulf</span> near 
        <span style="font-weight: bold;">Athens</span>. 
        <span style="font-weight: bold;">Xerxes</span> was so confident in 
        victory that he watched the battle from a throne on the slopes of 
        <span style="font-weight: bold;">Mount Aegaleus</span>. The Athenian 
        general <span style="font-weight: bold;">Themistocles</span> devised 
        a plan to lure the large, slow Persian ships into the 
        <span style="font-weight: bold;">narrow straits</span>, where the 
        Greek ships were able to outmaneuver and destroy much of the Persian 
        fleet. The Persian admiral <span style="font-weight: bold;">Ariabignes
        </span> was killed in hand-to-hand combat, and the 
        <span style="font-weight: bold;">Queen of Halicarnassus, Artemisia
        </span>, had to sink some of her allies&#8217; ships to escape.
    </li>
    <li class="list_item">
        The <span class="label">Battle of Aegospotami</span> (405&nbsp;BC) on the 
        <span style="font-weight: bold;">Hellespont (Dardanelles)</span> ended 
        the <span style="font-weight: bold;">Peloponnesian War</span> and the 
        <span style="font-weight: bold;">Athenian Empire</span>. After a 
        setback at the <span style="font-weight: bold;">Battle of Arginusae
        </span> in 406&nbsp;BC, the <span style="font-weight: bold;">Spartans
        </span> reinstated <span style="font-weight: bold;">Lysander</span> as 
        the commander of their fleet. The result was a complete victory for 
        Sparta; only a fraction of the Athenian fleet survived, including the 
        general <span style="font-weight: bold;">Conon</span>, and the ship 
        <i style="font-weight: bold;">Paralus</i>, which brought the news of 
        defeat to Athens. Following the battle, the Spartans besieged Athens 
        and forced its surrender.
    </li>
    <li class="list_item">
        After the <span style="font-weight: bold;">Battle of Granicus</span>, 
        <span class="label">Issus</span> (333&nbsp;BC) was the second major 
        battle between <span style="font-weight: bold;">Alexander the Great
        </span> and the <span style="font-weight: bold;">Persian Empire
        </span>, and the first to feature <span style="font-weight: bold;">
        Darius&nbsp;III</span>. The battle was fought along the 
        <span style="font-weight: bold;">Pinarus River</span> near what is now 
        <span style="font-weight: bold;">Iskenderun</span> in 
        <span style="font-weight: bold;">Turkey</span>&#8217;s 
        <span style="font-weight: bold;">Hatay province</span>. Before the 
        battle, Darius was able to surprise Alexander and cut him off from the 
        main force of <span style="font-weight: bold;">Macedonians</span>. 
        However, the battle ended with Darius fleeing the field and the 
        capture of his tent and family. The battle was the subject of a 1528 
        painting by <span style="font-weight: bold;">Albrecht Altdorfer
        </span>, the leader of the <span style="font-weight: bold;">Danube 
        School</span>.
    </li>
    <li class="list_item">
        The largest battle of the <span style="font-weight: bold;">Second 
        Punic War</span>, <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Cannae</span> (216&nbsp;BC) 
        represented one of the worst defeats in 
        <span style="font-weight: bold;">Roman</span> history. The 
        <span style="font-weight: bold;">Carthaginians</span> were led by 
        <span style="font-weight: bold;">Hannibal</span>, while the Romans 
        were led by the <span style="font-weight: bold;">consuls</span> 
        <span style="font-weight: bold;">Lucius Aemilius Paullus</span> and 
        <span style="font-weight: bold;">Gaius Terentius Varro</span>. 
        Hannibal employed a <span style="font-weight: bold;">double-envelopment
        </span> tactic, surrounded the Roman army, and destroyed it. Although 
        a total disaster for the Romans, it resulted in the revival of the 
        <span style="font-weight: bold;">Fabian strategy</span>, in which 
        battles are avoided in favor of a <span style="font-weight: bold;">war 
        of attrition</span>. This eventually wore down Hannibal&#8217;s army, 
        and the Carthaginians had to leave Italy.
    </li>
    <li class="list_item">
        The final battle of the <span style="font-weight: bold;">Second 
        Punic War</span>, <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Zama</span> (202&nbsp;BC) was 
        fought near <span style="font-weight: bold;">Carthage</span> in what 
        is now <span style="font-weight: bold;">Tunisia</span>. 
        <span style="font-weight: bold;">Scipio Africanus</span>&#8217;s 
        victory at the <span style="font-weight: bold;">Battle of the Great 
        Plains</span> in 203&nbsp;BC forced Hannibal to leave Italy and return 
        to North Africa for the final showdown. Prior to the battle, the 
        <span style="font-weight: bold;">Numidian</span> king 
        <span style="font-weight: bold;">Masinissa</span> switched sides, and 
        brought his considerable <span style="font-weight: bold;">cavalry
        </span> force to join the Romans. This, coupled with Scipio&#8217;s 
        strategy of opening up his lines to allow 
        <span style="font-weight: bold;">Carthaginian elephants</span> through 
        without harming his troops, led to a complete Roman victory.
    </li>
    <li class="list_item">
        At <span class="label">Alesia</span> (52&nbsp;BC), 
        <span style="font-weight: bold;">Julius Caesar</span> defeated the 
        <span style="font-weight: bold;">Celtic</span> peoples of 
        <span style="font-weight: bold;">Gaul</span>, establishing Roman rule 
        of the lands beyond the <span style="font-weight: bold;">Alps</span>. 
        The battle began when Caesar besieged <span style="font-weight: bold;">
        Vercingetorix</span> in the town of Alesia, shortly after the Roman 
        defeat at <span style="font-weight: bold;">Gergovia</span>. The Romans 
        built a <span style="font-weight: bold;">wall</span> to surround the 
        city (a <span style="font-weight: bold;">&#8220;circumvallation&#8221;
        </span>) and a second wall around that (a 
        <span style="font-weight: bold;">&#8220;contravallation&#8221;</span>
        ) to protect themselves from the Gaulish 
        <span style="font-weight: bold;">relief army</span> under 
        <span style="font-weight: bold;">Commius</span>. When Commius launched 
        a massive attack on the Romans, Caesar was able to defeat him and 
        force the surrender of Vercingetorix. Although the Romans were 
        <span style="font-weight: bold;">outnumbered</span> by as much as four 
        to one, they proved victorious in what was the turning point of the 
        <span style="font-weight: bold;">Gallic Wars</span>.
    </li>
    <li class="list_item">
        At <span class="label">Actium</span> (31&nbsp;BC), the fleet of 
        <span style="font-weight: bold;">Octavian</span> defeated the combined 
        forces of <span style="font-weight: bold;">Cleopatra</span> and 
        <span style="font-weight: bold;">Mark Antony</span> at this battle 
        near what is now <span style="font-weight: bold;">Preveza</span> in 
        the <span style="font-weight: bold;">Ambracian Gulf</span> of 
        <span style="font-weight: bold;">Greece</span>. 
        <span style="font-weight: bold;">Marcus Agrippa</span> commanded 
        Octavian&#8217;s fleet, which consisted of small, nimble 
        <span style="font-weight: bold;">Liburnian ships</span>. 
        Antony&#8217;s fleet consisted of massive 
        <span style="font-weight: bold;">Quinqueremes</span>, which were less 
        mobile. Following his victory in the battle, Octavian titled himself 
        <span style="font-weight: bold;">Princeps</span>, and later 
        <span style="font-weight: bold;"></span>Augustus</span>. To some, 
        Actium signals the <span style="font-weight: bold;">end of the Roman 
        Republic</span>.
    </li>
    <li class="list_item">
        The <span class="label">Battle of the Milvian Bridge</span> (AD&nbsp;312) 
        was part of the <span style="font-weight: bold;">civil war</span> 
        that ensued when <span style="font-weight: bold;">Maxentius</span> 
        usurped the throne of the western half of the 
        <span style="font-weight: bold;">Roman Empire</span> from 
        <span style="font-weight: bold;">Constantine</span>. Prior to the 
        battle, Constantine supposedly had a <span style="font-weight: bold;">
        vision of God</span> promising victory to his forces if he painted his 
        shields with the <span style="font-weight: bold;">Chi-Rho</span>, a 
        Christian symbol. Constantine was indeed victorious, and Maxentius 
        <span style="font-weight: bold;">drowned in the Tiber River</span> 
        during the battle. Eventually, Constantine was able to abolish the 
        <span style="font-weight: bold;">Tetrarchy</span>, become the sole 
        ruler of the <span style="font-weight: bold;">Roman Empire</span>, 
        and <span style="font-weight: bold;">end persecution of 
        Christians</span>.
    </li>
    <li class="list_item">
        Taking place near what is now <span style="font-weight: bold;">Edirne, 
        Turkey</span>, the <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Battle of Adrianople</span> 
        (AD&nbsp;378) signalled the beginning of the spread of 
        <span style="font-weight: bold;">Germanic peoples</span> into the 
        <span style="font-weight: bold;">Western Roman Empire</span>. The 
        Romans were led by the eastern emperor 
        <span style="font-weight: bold;">Valens</span>, while the 
        <span style="font-weight: bold;">Goths</span> were led by 
        <span style="font-weight: bold;">Fritigern</span>. Eager for glory, 
        Valens decided not to wait on reinforcements from the western emperor 
        <span style="font-weight: bold;">Gratian</span>, and instead attacked 
        the Goths. In the battle, over two-thirds of the Roman army was 
        killed, including Valens. The battle was chronicled by 
        <span style="font-weight: bold;">Ammianus Marcellinus</span>, who 
        thought it so important that he ended his history of the Roman Empire 
        with the battle.
    </li>
    <li class="list_item">
        <span class="label">The Battle of Chalons</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Catalaunian Fields</span>) (AD&nbsp;451) was an 
        epic battle between the <span style="font-weight: bold;">Romans</span> 
        and the <span style="font-weight: bold;">Huns</span> fought in what is 
        now France. The Roman army was commanded by 
        <span style="font-weight: bold;">Flavius Aetius</span> and included 
        <span style="font-weight: bold;">Visigoths</span> under 
        <span style="font-weight: bold;">Theodoric&nbsp;I</span>, who was 
        killed by an <span style="font-weight: bold;">Ostrogoth</span> during 
        the battle. The Hunnic army was led by 
        <span style="font-weight: bold;">Attila</span>, who was rampaging 
        through <span style="font-weight: bold;">Gaul</span>. The battle 
        ended with a victory for the Roman-Visigothic alliance, which stopped 
        the Huns&#8217; advance into Gaul. The next year, Attila invaded 
        Italy; however, in 453, Attila died and his empire broke up shortly 
        after.
    </li>
</ul>
<p class="justify">
    Other notable ancient battles included <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Plataea</span> (479&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Leuctra</span> (371&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Chaeronea</span> (338&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Gaugamela</span> (331&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Asculum</span> (279&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Carrhae</span> (53&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Pharsalus</span> (48&nbsp;BC), 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Philippi</span> (42&nbsp;BC), and the 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Teutoburg Forest</span> (AD&nbsp;9).</p>
<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}