{% extends "base.html" %}  {% block title %}British Reform Movements{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">British Reform Movements</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/british-reform-movements.html">
    You Gotta Know These British Reform Movements
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Lollards</span> (late 14th century) This group 
        agitated for the reform of <span style="font-weight: bold;">Western 
        Christianity</span> and was given the derogatory name 
        &#8220;Lollards.&#8221; The Lollards followed the example of 
        <span style="font-weight: bold;">John Wycliffe</span>, a theologian 
        whose criticism of the Church got him fired from his position at the 
        <span style="font-weight: bold;">University of Oxford</span> in 1381. 
        Wycliffe is best known today for being 
        <span style="font-weight: bold;">one of the first to translate the 
        Bible into English</span> (the first of his translations came out in 
        1382 and circulated widely). He and the Lollards also challenged the 
        <span style="font-weight: bold;">privileged status of the clergy
        </span>, calling at various times for a 
        <span style="font-weight: bold;">lay clergy</span>, an 
        <span style="font-weight: bold;">end to clerical celibacy</span>, the 
        <span style="font-weight: bold;">end of confession</span> to priests, 
        and a <span style="font-weight: bold;">ban on priests holding temporal 
        offices</span>. The Lollards were drivenunderground, especially after 
        the suppression of a <span style="font-weight: bold;">1414 uprising
        </span> by <span style="font-weight: bold;">Sir John Oldcastle</span>, 
        but their ideas presaged many of those later adopted during the 
        <span style="font-weight: bold;">English Reformation</span>. In the 
        wake of Oldcastle&#8217;s Rebellion, Wycliffe was posthumously 
        declared a <span style="font-weight: bold;">heretic</span> at the 1415 
        <span style="font-weight: bold;">Council of Constance</span>, after 
        which his corpse was exhumed and <span style="font-weight: bold;">
        posthumously beheaded</span>.
    </li>
    <li class="list_item">
        <span class="label">Puritans</span> (16th and 17th centuries) The 
        Puritans were English <span style="font-weight: bold;">Protestants
        </span> in the 16th and 17th centuries who tried to push the 
        <span style="font-weight: bold;">English Reformation</span> further by 
        &#8220;purifying&#8221; the Church of England of any remaining 
        <span style="font-weight: bold;">Roman Catholic influences</span>. 
        The word &#8220;Puritan&#8221; is applied inconsistently to groups 
        espousing a variety of different religious positions; today, it 
        often refers to somebody who is <span style="font-weight: bold;">
        opposed to seeking pleasure</span>. When studying 17th-century 
        England, it is important to note the distinction between 
        <span style="font-weight: bold;">&#8220;separatist&#8221; Puritans
        </span>, who wanted to break away from the Church of England, and 
        <span style="font-weight: bold;">&#8220;non-separatist&#8221; Puritans
        </span>, who wanted to reform the church while remaining members of 
        it. The Pilgrims who sailed on the <i style="font-weight: bold;">
        Mayflower</i> were separatists; the main group of colonists who 
        founded the <span style="font-weight: bold;">Massachusetts Bay Colony
        </span> under <span style="font-weight: bold;">John Winthrop</span> 
        were non-separatists. After the <span style="font-weight: bold;">
        English Civil War</span>, under the leadership of 
        <span style="font-weight: bold;">Oliver Cromwell</span>, Puritans 
        enjoyed a brief period of power in England, during which time they 
        <span style="font-weight: bold;">closed theaters</span>, 
        <span style="font-weight: bold;">limited sports</span>, and 
        instituted harsh <span style="font-weight: bold;">penalties for 
        breaking the Sabbath</span>.
    </li>
    <li class="list_item">
        <span class="label">Levellers</span> and 
        <span style="font-weight: bold;">Diggers</span> (mid-17th century) 
        During the <span style="font-weight: bold;">English Civil War</span>, 
        the <span style="font-weight: bold;">opponents of the monarchy</span> 
        included holders of a wide range of political beliefs. Those 
        <span style="font-weight: bold;">politicians</span> and 
        <span style="font-weight: bold;">soldiers</span> who wanted to 
        <span style="font-weight: bold;">extend suffrage</span> and establish 
        <span style="font-weight: bold;">equality before the law</span> were 
        known as Levellers, a pejorative term probably referring to the fact 
        that they wanted all people to live on a common level. Some radicals, 
        inspired by the <span style="font-weight: bold;">Book of Acts</span>, 
        went even further in attempting to establish 
        <span style="font-weight: bold;">egalitarianism in the English 
        countryside</span> by trying to farm on 
        <span style="font-weight: bold;">common land</span>. Because they dug 
        up this land, they became known as Diggers, but preferred to call 
        themselves the <span style="font-weight: bold;">&#8220;True Levellers.
        &#8221;</span> The Levellers, who were less radical than the Diggers, 
        had considerably more influence on English politics. Several Leveller 
        leaders were invited to debate the main leaders of the 
        <span style="font-weight: bold;">New Model Army</span> during the 1647 
        <span style="font-weight: bold;">Putney Debates</span> about the 
        formation of a <span style="font-weight: bold;">new English 
        constitution</span>. In the end, both the Levellers and the Diggers 
        were suppressed by <span style="font-weight: bold;">Oliver Cromwell
        </span> and <span style="font-weight: bold;">Henry Ireton</span>.
    </li>
    <li class="list_item">
        <span class="label">Luddites</span> (early 19th century) As the 
        <span style="font-weight: bold;">Industrial Revolution</span> 
        accelerated in the early 19th century, many skilled 
        <span style="font-weight: bold;">textile workers</span> were replaced 
        by <span style="font-weight: bold;">unskilled laborers</span> who 
        could use newly invented machines. The most vocal opponents of 
        textile mechanization were known as Luddites, a term said to have 
        derived from the surname of a youth named 
        <span style="font-weight: bold;">Ned Ludd</span>, who broke two 
        <span style="font-weight: bold;">stocking frames</span> in 1779. 
        Between 1811 and 1813, organized groups of Luddites clashed with the 
        British military at <span style="font-weight: bold;">mills</span> in 
        <span style="font-weight: bold;">Nottinghamshire</span> and 
        <span style="font-weight: bold;">Yorkshire</span>. In response, 
        Parliament passed the <span style="font-weight: bold;">Frame Breaking 
        Act</span>, which made <span style="font-weight: bold;">industrial 
        sabotage</span> a capital crime. While the Luddites were suppressed 
        relatively quickly, the perpetrators of the 
        <span style="font-weight: bold;">Swing Riots</span> in 
        <span style="font-weight: bold;">Kent</span> in 1830 employed similar 
        tactics by demolishing <span style="font-weight: bold;">threshing 
        machines</span> to protest the <span style="font-weight: bold;">
        mechanization of agriculture</span>. Today, the term 
        &#8220;Luddite&#8221; refers more generally to anybody who is 
        uncomfortable with technology.
    </li>
    <li class="list_item">
        <span class="label">Chartists</span> (19th century) Another 
        <span style="font-weight: bold;">working-class</span> reform movement 
        in industrial England was the Chartist movement, so named because it 
        advocated the adoption of the <span style="font-weight: bold;">
        People&#8217;s Charter of 1838</span>. The Charter was written by 
        <span style="font-weight: bold;">six members of Parliament and six 
        workers</span>. It called for <span style="font-weight: bold;">
        democratization</span> of the political system by instituting 
        <span style="font-weight: bold;">universal suffrage</span>, 
        <span style="font-weight: bold;">secret ballots</span>, the 
        <span style="font-weight: bold;">abolition of property qualifications
        </span> to stand for election, <span style="font-weight: bold;">
        salaries for members of Parliament</span>, 
        <span style="font-weight: bold;">constituencies of equal size</span>, 
        and <span style="font-weight: bold;">annual parliamentary elections
        </span>. The Chartist movement inspired several mass 
        <span style="font-weight: bold;">rallies</span>, peaking in size in 
        1848 as the rest of Europe was swept up in revolution. The Chartist 
        movement did not directly inspire any political reforms, but 
        Parliament gradually granted five of the six demands of the Charter 
        (the demand for annual elections was the only one never implemented).
    </li>
    <li class="list_item">
        <span class="label">Anti-Corn Law League</span> (early-mid 19th 
        century) From 1838 to 1846, the leading organization agitating for 
        repeal of the <span style="font-weight: bold;">Corn Laws</span> was 
        the Anti-Corn Law League. The Corn Laws were a series of laws that 
        imposed <span style="font-weight: bold;">tariffs on imported grain
        </span> (&#8220;corn&#8221; was at that time a generic term for types 
        of grain that require grinding, including 
        <span style="font-weight: bold;">wheat</span>), which kept grain 
        prices high to benefit English landowners. The founders of the 
        Anti-Corn Law League, <span style="font-weight: bold;">Richard Cobden
        </span> and <span style="font-weight: bold;">John Bright</span>, 
        argued that importing grain would <span style="font-weight: bold;">
        lower food prices</span> for workers and thus stimulate the British 
        economy. The Corn Laws were eventually repealed in 1846 under the 
        leadership of <span style="font-weight: bold;">Conservative Prime 
        Minister Robert Peel</span>, a decision hastened by the start of the 
        <span style="font-weight: bold;">Irish Potato Famine</span> the 
        previous year. The repeal of the Corn Laws ushered in an era of 
        support for <span style="font-weight: bold;">free trade</span> that 
        continues to this day. Another legacy of opposition to the Corn Laws 
        was the founding of the weekly publication 
        <i style="font-weight: bold;">The Economist</i> in 1843 to promote 
        repeal of trade restrictions.
    </li>
    <li class="list_item">
        <span class="label">Reform League</span>(mid-late 19th century) A 
        variety of organizations, including the Reform League, sprung up in 
        1865 to promote <span style="font-weight: bold;">universal suffrage
        </span> in the United Kingdom. Universal suffrage had been one of the 
        demands of the <span style="font-weight: bold;">Chartist Movement
        </span>, but Parliament had not enacted it. The Reform League staged 
        <span style="font-weight: bold;">mass meetings</span> to influence 
        parliamentary proceedings, including a 
        <span style="font-weight: bold;">rally in Hyde Park</span> in 1866 
        that forced the resignation of <span style="font-weight: bold;">
        Spencer Walpole</span> as Home Secretary. The Reform League&#8217;s 
        platform was eventually enacted in 1867, during 
        <span style="font-weight: bold;">Benjamin Disraeli</span>&#8217;s 
        prime ministry. The <span style="font-weight: bold;">Second Reform 
        Act of 1867</span> enfranchised urban working-class males in England 
        and Wales (further bills enfranchised Scotland and Ireland the 
        following year).
    </li>
    <li class="list_item">
        <span class="label">Fabian Society</span> (1884&ndash;present) One of 
        the most influential <span style="font-weight: bold;">intellectual 
        communities</span> in British history was the Fabian Society, an 
        organization founded in 1884 to promote the 
        <span style="font-weight: bold;">gradual adoption of socialism</span>. 
        The society was named for the Roman general 
        <span style="font-weight: bold;">Fabius Maximus</span>, who avoided 
        fighting pitched battles against <span style="font-weight: bold;">
        Hannibal</span> and instead won a gradual 
        <span style="font-weight: bold;">war of attrition</span>. The Fabian 
        Society pressed for <span style="font-weight: bold;">progressive 
        economic measures</span> that went far 
        <span style="font-weight: bold;">beyond the platform of the Liberal 
        Party</span>, including a <span style="font-weight: bold;">minimum 
        wage</span> and <span style="font-weight: bold;">universal health 
        care</span>. Prominent members of the Fabian Society included 
        <span style="font-weight: bold;">George Bernard Shaw</span>, 
        <span style="font-weight: bold;">H.&nbsp;G. Wells</span>, 
        <span style="font-weight: bold;">Virginia Woolf</span>, 
        <span style="font-weight: bold;">Ramsay MacDonald</span>, and 
        <span style="font-weight: bold;">Sidney and Beatrice Webb</span>. In 
        1900, many members of the Fabian Society founded the 
        <span style="font-weight: bold;">Labour Party</span>, a socialist 
        rival to the two major parties, which eventually came to power in 
        1924 under <span style="font-weight: bold;">Ramsay MacDonald</span>. 
        Today, the Fabian Society continues to exist as a 
        <span style="font-weight: bold;">left-wing think tank</span>.
    </li>
    <li class="list_item">
        <span class="label">Suffragettes</span> (early 20th century) In the 
        early 20th century, many different groups began to clamor for 
        <span style="font-weight: bold;">voting rights to be extended to women
        </span>. The most militant advocates for women&#8217;s suffrage became 
        known as Suffragettes. This term is especially associated with 
        <span style="font-weight: bold;">Emmeline Pankhurst</span> and her 
        organization, the <span style="font-weight: bold;">Women&#8217;s 
        Social and Political Union</span>. In the 1910s, many Suffragettes 
        adopted <span style="font-weight: bold;">militant tactics</span> to 
        draw attention to their cause, including 
        <span style="font-weight: bold;">Emily Davison</span>&#8217;s protest 
        at the <span style="font-weight: bold;">Epsom Derby</span> in 1913 
        when she was trampled and killed by the King&#8217;s horse, a 
        <span style="font-weight: bold;">slashing attack</span> by 
        <span style="font-weight: bold;">Mary Richardson</span> on 
        <span style="font-weight: bold;">Diego Vel&aacute;zquez</span>&#8217;s 
        <i style="font-weight: bold;">Rokeby Venus</i> in 1914, and the 1914 
        bombing of the <span style="font-weight: bold;">Coronation Chair
        </span> inside <span style="font-weight: bold;">Westminster Abbey
        </span>. Many Suffragettes who were arrested went on 
        <span style="font-weight: bold;">hunger strikes</span>, leading the 
        government of <span style="font-weight: bold;">Herbert Asquith</span> 
        to pass the <span style="font-weight: bold;">Cat and Mouse Act</span>, 
        which allowed hunger strikers to be <span style="font-weight: bold;">
        released and subsequently re-arrested</span>. In 1918, Parliament 
        finally extended voting rights to <span style="font-weight: bold;">
        women over the age of 30 who met property qualifications</span>.
    <li class="list_item">
        <span class="label">National Union of Mineworkers</span> (late 20th 
        century) This list would not be complete without some mention of the 
        organizations that <span style="font-weight: bold;">opposed the 
        conservative economic measures imposed by the government of Margaret 
        Thatcher</span> in the 1980s. One conflict that deserves particular 
        attention is the <span style="font-weight: bold;">strike</span> led 
        by the National Union of Mineworkers in 1984 and 1985 under the 
        leadership of <span style="font-weight: bold;">Arthur Scargill
        </span>. The entire British <span style="font-weight: bold;">coal 
        industry</span> had been <span style="font-weight: bold;">nationalized
        </span> by <span style="font-weight: bold;">Clement Attlee</span>
        &#8217;s Labour government in 1947. In 1984, the Thatcher government 
        announced a plan to close 20 coal mining pits as a way of 
        <span style="font-weight: bold;">reducing government subsidies</span> 
        to the mines, which precipitated a strike. By March 1985, the 
        Thatcher government had outlasted the strikers, effectively breaking 
        the power of one of Britain&#8217;s most powerful unions. The British 
        coal industry was <span style="font-weight: bold;">privatized</span> 
        in 1994. Today, most of Britain&#8217;s coal is imported, and the 
        former mining areas have some of the highest 
        <span style="font-weight: bold;">unemployment</span> rates in the 
        country.
    </li>
</ul>
<h3>International Context</h3>
<p class="justify">
    This list has focused on reform movements that originated in England, but 
    it is important to note that most of these movements had legacies that 
    spread to other countries. John Wycliffe and the Lollards inspired 
    <span style="font-weight: bold;">Jan Hus</span>, a Czech religious 
    reformer who was <span style="font-weight: bold;">burned at the stake
    </span> after he was also condemned at the 
    <span style="font-weight: bold;">Council of Constance</span>. Groups of 
    separatist and non-separatist Puritans were the first British 
    <span style="font-weight: bold;">colonists in New England</span>. Many 
    Luddite and Chartist leaders were punished with 
    <span style="font-weight: bold;">&#8220;transportation&#8221; to Australia
    </span>. <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Gold miners</span> rebelling at Australia&#8217;s 
    <span style="font-weight: bold;">Eureka Stockade</span> in 1854 even drew 
    up a list of demands inspired directly by the English Chartist movement. 
    The free trade ideals espoused by the opponents of the Corn Laws 
    influenced many <span style="font-weight: bold;">economists in the United 
    States</span> and other economically developed countries who continue to 
    advocate free trade. The <span style="font-weight: bold;">women&#8217;s 
    suffrage movement in the United States</span> happened contemporaneously 
    with that in the United Kingdom, and many leaders of both movements 
    corresponded frequently. Most notably, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Alice Paul</span>, the leader of the 
    <span style="font-weight: bold;">National Women&#8217;s Party</span> and 
    the author of the <span style="font-weight: bold;">Equal Rights Amendment
    </span>, joined several WSPU protests while living in Birmingham.</p>
<br />
<p class="justify">This article was contributed by NAQT editor Kyle Haddad-Fonda.</p>
<br />
<br />
<br />
{% endblock %}