{% extends "base.html" %}  {% block title %}British Monarchs{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">British Monarchs</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/british_monarchs.html">
    You Gotta Know These British Monarchs
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Alfred the Great</span> (849&ndash;899; 
        r.&nbsp;871&ndash;899) <span style="font-weight: bold;">Saxon House
        </span>.  Actually just the <span style="font-weight: bold;">King 
        of Wessex</span> in southwestern England, he expelled the rival 
        <span style="font-weight: bold;">Danes</span> from the 
        <span style="font-weight: bold;">Mercian</span> town of London in 
        886, eventually conquering most of the 
        <span style="font-weight: bold;">Danelaw</span> territory. Alfred 
        also kept England from the worst of the 
        <span style="font-weight: bold;">Dark Ages</span> by encouraging 
        his bishops to foster <span style="font-weight: bold;">literacy
        </span>; in addition, he translated <span style="font-weight: bold;">
        Boethius</span>, <span style="font-weight: bold;">Augustine</span>, 
        and the <span style="font-weight: bold;">Venerable Bede</span>&#8217;s 
        works into <span style="font-weight: bold;">Anglo-Saxon</span>.
    </li>
    <li class="list_item">
        <span class="label">William&nbsp;I (the Conqueror)</span> 
        (1028&ndash;1087, r.&nbsp;1066&ndash;1087) 
        <span style="font-weight: bold;">House of Normandy</span>. 
        <span style="font-weight: bold;">Duke of Normandy</span> from 1035, 
        he was promised succession to the throne 
        by <span style="font-weight: bold;">Edward the Confessor</span>, but 
        when Edward gave the throne to <span style="font-weight: bold;">
        Harold&nbsp;II</span> in 1066, William invaded England, killing Harold 
        and <span style="font-weight: bold;">defeating the Anglo-Saxons</span> 
        at the <span style="font-weight: bold;">Battle of Hastings</span>. 
        An able administrator, he authorized a 
        <span style="font-weight: bold;">survey</span> of his kingdom in the 
        1086 <span style="font-weight: bold;">Domesday Book</span>. By that 
        time William had replaced Anglo-Saxon nobles and clergy with Normans 
        and other continentals.
    </li>
    <li class="list_item">
        <span class="label">Henry&nbsp;II</span> (1133&ndash;1189; 
        r.&nbsp;1154&ndash;1189) <span style="font-weight: bold;">House of 
        Plantagenet</span>.  The son of <span style="font-weight: bold;">
        Geoffrey of Anjou</span> and <span style="font-weight: bold;">Matilda
        </span>, he married <span style="font-weight: bold;">Eleanor of 
        Aquitaine</span> in 1152, and invaded England the following year, 
        forcing <span style="font-weight: bold;">Stephen of Blois</span> to 
        acknowledge Henry as his heir. While king he developed the 
        <span style="font-weight: bold;">common law</span> and 
        <span style="font-weight: bold;">due process</span>, but fought with 
        <span style="font-weight: bold;">Thomas &agrave; Becket</span> over 
        <span style="font-weight: bold;">submission to the Pope</span>; Henry 
        had Becket executed in 1170 but performed 
        <span style="font-weight: bold;">penance</span> at 
        <span style="font-weight: bold;">Canterbury</span>. Eleanor and his 
        four sons <span style="font-weight: bold;">conspired</span> with 
        French king <span style="font-weight: bold;">Philip&nbsp;II</span> 
        against Henry on several occasions.
    </li>
    <li class="list_item">
        <span class="label">Richard&nbsp;I (the Lion-Hearted)</span> 
        (1157&ndash;1199; r.&nbsp;1189&ndash;1199) 
        <span style="font-weight: bold;">House of Plantagenet</span>. The 
        third son of <span style="font-weight: bold;">Henry&nbsp;II</span>, 
        he spent only five months of his reign in England. He went on the 
        <span style="font-weight: bold;">Third Crusade</span> to Jerusalem, 
        winning many victories in the Holy Land, but on his way back was 
        captured by <span style="font-weight: bold;">Leopold&nbsp;V</span>, 
        Duke of Austria. He also fought <span style="font-weight: bold;">
        Philip&nbsp;II</span> in <span style="font-weight: bold;">Normandy
        </span>, and died while defending his possessions in 
        <span style="font-weight: bold;">Aquitaine</span>.
    </li>
    <li class="list_item">
        <span class="label">John</span> Lackland (1167&ndash;1216, 
        r.&nbsp;1199&ndash;1216) <span style="font-weight: bold;">House of 
        Plantagenet</span>.  Though he tried to seize the crown from his 
        brother <span style="font-weight: bold;">Richard</span> while the 
        latter was in Germany, Richard forgave John and made him his 
        successor. <span style="font-weight: bold;">Excommunicated</span> 
        by the Pope for four years for refusing to accept 
        <span style="font-weight: bold;">Stephen Langton</span> as 
        <span style="font-weight: bold;">Archbishop of Canterbury</span>, John 
        was also weak as a fighter, as French King 
        <span style="font-weight: bold;">Philip&nbsp;II</span> routed him at 
        <span style="font-weight: bold;">Bouvines</span> in 1214. A year 
        later, England&#8217;s <span style="font-weight: bold;">barons</span> 
        forced John to sign the <span style="font-weight: bold;">Magna Carta
        </span> at <span style="font-weight: bold;">Runnymede</span>, an event 
        that marked the beginning of the development of the 
        <span style="font-weight: bold;">British constitution</span>.
    </li>
    <li class="list_item">
        <span class="label">Richard&nbsp;III</span> (1452&ndash;1485, 
        r.&nbsp;1483&ndash;1485) <span style="font-weight: bold;">House of 
        York</span>.  He was made <span style="font-weight: bold;">Duke of 
        Gloucester</span> in 1461 when his brother 
        <span style="font-weight: bold;">Edward&nbsp;IV</span> deposed the 
        <span style="font-weight: bold;">Lancastrian</span> king 
        <span style="font-weight: bold;">Henry&nbsp;VI</span>, as part of the 
        <span style="font-weight: bold;">Wars of the Roses</span>. Upon 
        Edward&#8217;s death in 1483, Richard served as regent to his nephew 
        <span style="font-weight: bold;">Edward&nbsp;V</span>, but likely 
        <span style="font-weight: bold;">had the boy murdered</span> in the 
        <span style="font-weight: bold;">Tower of London</span> that year. 
        Two years later, Richard died at the hands of 
        <span style="font-weight: bold;">Henry Tudor</span>&#8217;s 
        Lancastrian forces at <span style="font-weight: bold;">Bosworth Field
        </span>, ending the Wars of the Roses and beginning the reign of 
        <span style="font-weight: bold;">Henry&nbsp;VII</span>.
    </li>
    <li class="list_item">
        <span class="label">Henry&nbsp;VIII</span> (1491&ndash;1547, 
        r.&nbsp;1509&ndash;1547) <span style="font-weight: bold;">House of 
        Tudor</span>. The son of Tudor founder 
        <span style="font-weight: bold;">Henry&nbsp;VII</span>, he brought 
        England into both the <span style="font-weight: bold;">Renaissance
        </span> and the <span style="font-weight: bold;">Reformation</span>. 
        Henry patronized the philosopher <span style="font-weight: bold;">
        Erasmus</span>, the painter <span style="font-weight: bold;">Hans 
        Holbein the Younger</span>, and the writer 
        <span style="font-weight: bold;">Thomas More</span>. Originally a 
        supporter of the <span style="font-weight: bold;">Catholic Church
        </span> &mdash; the Pope had named him 
        <span style="font-weight: bold;">&#8220;Defender of the Faith&#8221;
        </span> &mdash; he named himself head of the 
        <span style="font-weight: bold;">Church of England</span> in 1533 so 
        that he could <span style="font-weight: bold;">divorce</span> 
        <span style="font-weight: bold;">Catherine of Aragon</span> and 
        marry <span style="font-weight: bold;">Anne Boleyn</span>. Henry 
        <span style="font-weight: bold;">executed</span> top ministers who 
        crossed him, including <span style="font-weight: bold;">Thomas 
        Cromwell</span> and <span style="font-weight: bold;">Thomas More
        </span>. He married six times, but only his third wife, 
        <span style="font-weight: bold;">Jane Seymour</span>, bore him a son, 
        the sickly <span style="font-weight: bold;">Edward&nbsp;VI</span>. 
    </li>
    <li class="list_item">
        <span class="label">Elizabeth&nbsp;I</span> (1533&ndash;1603, 
        r.&nbsp;1558&ndash;1603) <span style="font-weight: bold;">House of 
        Tudor</span>.  Known as the <span style="font-weight: bold;">
        &#8220;Virgin Queen&#8221;</span> because she never married, as 
        <span style="font-weight: bold;">Henry&nbsp;VIII</span>&#8217;s 
        daughter by <span style="font-weight: bold;">Anne Boleyn</span>, the 
        Catholic Church considered her illegitimate. After the death of her 
        Catholic sister <span style="font-weight: bold;">Mary&nbsp;I</span>, 
        Elizabeth&nbsp;I tried to restore religious order by declaring England 
        a <span style="font-weight: bold;">Protestant</span> state but naming 
        herself only <span style="font-weight: bold;">&#8220;Governor&#8221; 
        of the Church</span>. She foiled attempts at her throne by Spanish 
        king <span style="font-weight: bold;">Philip&nbsp;II</span> and 
        <span style="font-weight: bold;">Mary, Queen of Scots</span>; the 
        latter Elizabeth reluctantly <span style="font-weight: bold;">executed
        </span> in 1587. Her reign saw great expansion of the 
        <span style="font-weight: bold;">English navy</span> and the emergence 
        of <span style="font-weight: bold;">William Shakespeare</span>, but 
        when she died, the Crown went to Scottish king
        <span style="font-weight: bold;">James&nbsp;VI</span>, the son of 
        Mary, Queen of Scots.
    </li>
    <li class="list_item">
        <span class="label">James&nbsp;I</span> (1566&ndash;1625, 
        r.&nbsp;1603&ndash;1625) <span style="font-weight: bold;">House of 
        Stuart</span>.  At age one James succeeded his mother 
        <span style="font-weight: bold;">Mary</span> as 
        <span style="font-weight: bold;">King James&nbsp;VI of Scotland
        </span>. As the great-great-grandson of 
        <span style="font-weight: bold;">Henry&nbsp;VII</span>, he claimed 
        the English throne upon the death of <span style="font-weight: bold;">
        Elizabeth&nbsp;I</span>. James was the intended target of Catholic 
        fanatic <span style="font-weight: bold;">Guy Fawkes</span>&#8217; 
        failed <span style="font-weight: bold;">Gunpowder Plot</span> in 1605. 
        A believer in <span style="font-weight: bold;">absolutism</span>, 
        James <span style="font-weight: bold;">dissolved Parliament</span> 
        from 1611 to 1621, favoring ministers <span style="font-weight: bold;">
        Robert Cecil</span> and the <span style="font-weight: bold;">Duke of 
        Buckingham</span> instead. His rule saw English expansion into North 
        America, through royal charter in Virginia and Puritan protest in 
        Massachusetts.
    </li>
    <li class="list_item">
        <span class="label">Charles&nbsp;I</span> (1600&ndash;1649, 
        r.&nbsp;1625&ndash;1649) <span style="font-weight: bold;">House of 
        Stuart</span>.  Charles came into conflict with Parliament almost from 
        the beginning of his reign: when his minister, the 
        <span style="font-weight: bold;">Duke of Buckingham</span>, asked for 
        money to fight a costly war against France, Charles was forced to sign 
        the <span style="font-weight: bold;">Petition of Right</span> (1628). 
        From 1629 to 1640, Charles tried to rule England without Parliament, a 
        period known as his <span style="font-weight: bold;">&#8220;Personal 
        Rule&#8221;</span> (or, according to his critics, the 
        <span style="font-weight: bold;">&#8220;Eleven Years&#8217; 
        Tyranny&#8221;</span>). Charles&#8217;s attempts to impose English 
        forms of church government on Presbyterian Scotland resulted in the 
        <span style="font-weight: bold;">Bishops&#8217; Wars</span> 
        (1639&ndash;1640), a military humiliation that forced Charles to call 
        the <span style="font-weight: bold;">Short Parliament</span> (spring 
        1640) and <span style="font-weight: bold;">Long Parliament</span> 
        (fall of 1640 and after). Charles and the Long Parliament bickered 
        over a variety of issues, including the fate of Charles&#8217;s 
        advisor the <span style="font-weight: bold;">Earl of Strafford</span>, 
        parliamentarian proposals for reform of the English church, and 
        finally the outbreak of <span style="font-weight: bold;">rebellion in 
        Ireland</span> (October 1641). In January 1642 Charles tried to arrest 
        five of his opponents during the sitting of the House of Commons; 
        Parliament demanded control over England&#8217;s militia and by August 
        1642 the country was plunged into <span style="font-weight: bold;">
        civil war</span>. Charles fled (pro-parliamentarian) London, choosing 
        instead to set up his own <span style="font-weight: bold;">Cavalier
        </span> court at the university town of Oxford. Within four years his 
        armies were defeated; from January 1647 Charles was a 
        <span style="font-weight: bold;">prisoner of Parliament</span>. In 
        1648 royalist forces in provincial England rose up in the so-called 
        <span style="font-weight: bold;">&#8220;Second English Civil 
        War,&#8221;</span> which pushed hardliners in Parliament to put the 
        king on trial. Parliament established a 
        <span style="font-weight: bold;">&#8220;High Court of Justice&#8221;
        </span> to try the king for treason; he was 
        <span style="font-weight: bold;">beheaded at Whitehall</span> on 
        January 30, 1649.
    </li>
    <li class="list_item">
        <span class="label">Charles&nbsp;II</span> (1630&ndash;1685; 
        r.&nbsp;1660&ndash;1685) <span style="font-weight: bold;">House of 
        Stuart</span>. While <span style="font-weight: bold;">Oliver 
        Cromwell</span> ruled the <span style="font-weight: bold;">Commonwealth
        </span>, Charles was crowned <span style="font-weight: bold;">King of 
        Scotland</span> in 1651. After Cromwell died, Charles used the 
        <span style="font-weight: bold;">Declaration of Breda</span> to 
        restore himself to the English throne. He fought two lackluster wars 
        against the <span style="font-weight: bold;">Dutch</span>, and needed 
        protection from <span style="font-weight: bold;">Louis&nbsp;XIV</span> 
        through the <span style="font-weight: bold;">Treaty of Dover</span>. 
        His wife <span style="font-weight: bold;">Catherine of Braganza</span> 
        produced no legitimate heirs, but this 
        <span style="font-weight: bold;">&#8220;Merry Monarch&#8221;</span> 
        has as many as <span style="font-weight: bold;">14 illegitimate 
        children</span>. Tolerant of Catholics, he 
        <span style="font-weight: bold;">dissolved Parliament</span> over 
        the issue in 1681 and refused to prevent his brother James from 
        succeeding him.
    </li>
    <li class="list_item">
        <span class="label">James&nbsp;II</span> (1633&ndash;1701; 
        r.&nbsp;1685&ndash;1688) <span style="font-weight: bold;">House of 
        Stuart</span>. The 1678 <span style="font-weight: bold;">Popish Plot
        </span> against <span style="font-weight: bold;">Charles&nbsp;II
        </span> would have elevated the <span style="font-weight: bold;">Roman 
        Catholic</span> James to the throne, had it been real and not 
        <span style="font-weight: bold;">fabricated by Titus Oates</span>. 
        James&#8217;s three years, however, did feature heavy 
        <span style="font-weight: bold;">favoritism toward Catholics</span>, 
        so much so that Protestants invited James&#8217;s son-in-law 
        <span style="font-weight: bold;">William of Orange</span> to rule 
        England, deposing James in the <span style="font-weight: bold;">
        Glorious Revolution</span>. Exiled to 
        <span style="font-weight: bold;">Louis&nbsp;XIV</span>&#8217;s court, 
        he made an attempt to regain his crown in 1690 but was routed at the 
        <span style="font-weight: bold;">Battle of the Boyne</span>.
    </li>
    <li class="list_item">
        <span class="label">George&nbsp;III</span> (1738&ndash;1820, 
        r.&nbsp;1760&ndash;1820) <span style="font-weight: bold;">House of 
        Hanover</span>. Though he lost the American colonies in the 
        <span style="font-weight: bold;">Revolutionary War</span>, 
        Britain&#8217;s economic empire expanded during his reign. While 
        George&#8217;s ministers kept their lives, they fell from power 
        frequently, including <span style="font-weight: bold;">William Pitt 
        the Elder</span>, <span style="font-weight: bold;">Lord Bute</span>, 
        and <span style="font-weight: bold;">Lord North</span>. Popular at 
        home, he suffered from <span style="font-weight: bold;">porphyria
        </span>, causing the &#8220;madness&#8221; that ultimately led to the 
        <span style="font-weight: bold;">Regency period</span> 
        (1811&ndash;1820) of his son <span style="font-weight: bold;">
        George&nbsp;IV</span>.
    </li>
    <li class="list_item">
        (Alexandrina) <span class="label">Victoria</span> (1819&ndash;1901, 
        r.&nbsp;1837&ndash;1901; Empress of India 1876&ndash;1901) 
        <span style="font-weight: bold;">House of Hanover</span>. The 
        <span style="font-weight: bold;">second-longest-reigning</span> 
        monarch in British history (after Elizabeth&nbsp;II), she relinquished 
        much of the remaining royal power, both to her husband 
        <span style="font-weight: bold;">Albert</span> and to her favored 
        prime ministers, <span style="font-weight: bold;">Lord Melbourne
        </span>, <span style="font-weight: bold;">Robert Peel</span>, and 
        <span style="font-weight: bold;">Benjamin Disraeli</span>. After 
        Albert&#8217;s death in 1861, Victoria largely went into 
        <span style="font-weight: bold;">seclusion</span>, though she 
        influenced the passage of the <span style="font-weight: bold;">Reform 
        Act of 1867</span>, which doubled the number of Britons who could vote.
    </li>
    <li class="list_item">
        <span v>Elizabeth&nbsp;II</span> (1926&ndash;present, 
        r.&nbsp;1952&ndash;present) <span style="font-weight: bold;">House of 
        Windsor</span>. Representative of the modern 
        <span style="font-weight: bold;">ceremonial monarchy</span>, she and 
        her husband <span style="font-weight: bold;">&#8220;Prince&#8221; 
        Philip Mountbatten</span> have traveled the globe representing British 
        interests. <span style="font-weight: bold;">Marital failures</span> 
        by her sons <span style="font-weight: bold;">Charles, Prince of Wales
        </span> and <span style="font-weight: bold;">Andrew</span> have 
        plagued her reign. She superseded Victoria as the longest-reigning 
        British monarch.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}