{% extends "base.html" %}  {% block title %}Campaigns of the Pacific Theater of World War II{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Campaigns of the Pacific Theater of World War II</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/world-war-ii-pacific-campaigns.html">
    You Gotta Know These World War II Campaigns in the Pacific Theater
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Sino-Japanese War</span> (1937&ndash;1945): 
        <span style="font-weight: bold;">Japan&#8217;s invasion of China
        </span> was the primary cause of World War&nbsp;II in East Asia. As 
        early as 1931, Japanese forces <span style="font-weight: bold;">
        occupied Manchuria</span> and set up a 
        <span style="font-weight: bold;">puppet state called Manchukuo
        </span>. The <span style="font-weight: bold;">Marco Polo Bridge 
        Incident</span> of 1937 resulted in open war between Japan and China. 
        Japanese forces committed notorious <span style="font-weight: bold;">
        atrocities</span> during the invasion of China, including the 1937 
        massacres known as the <span style="font-weight: bold;">Rape of 
        Nanking</span>. The Chinese war effort was hindered by internal 
        conflict between <span style="font-weight: bold;">Chiang Kai-Shek
        </span>&#8217;s Nationalist <span style="font-weight: bold;">
        Kuomintang</span> government and the 
        <span style="font-weight: bold;">communist insurgency</span> led 
        by Mao Zedong. Between 1942 and 1945 central China was largely 
        <span style="font-weight: bold;">cut off from the outside world
        </span> due to Japanese <span style="font-weight: bold;">conquest 
        of coastal ports</span>; Allied support was limited to air power 
        deployed over the Himalayas from India, including the fighter pilots 
        known as the <span style="font-weight: bold;">&#8220;Flying 
        Tigers.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">Attack on Pearl Harbor</span> (December&nbsp;1941): 
        Japanese plans for domination of the Pacific called for a 
        <span style="font-weight: bold;">surprise attack</span> on the U.S. 
        Navy base at Pearl Harbor in Hawaii; wrecking the American Pacific 
        Fleet would allow the Japanese navy to invade southeast Asia with 
        minimal opposition. <span style="font-weight: bold;">Admiral Isoroku 
        Yamamoto</span> planned the Japanese strike, which sent carrier-based 
        <span style="font-weight: bold;">dive bombers</span> and 
        <span style="font-weight: bold;">torpedo bombers</span> to 
        <span style="font-weight: bold;">Oahu</span> on Sunday, 
        December&nbsp;7, 1941. Four American battleships, including the 
        <span style="font-weight: bold;">USS&nbsp;<i>Arizona</i></span>, were 
        sunk; the American <span style="font-weight: bold;">aircraft carriers 
        were at sea</span> away from Pearl Harbor at the time of the attack. 
        The losses sustained at Pearl Harbor shocked the 
        <span style="font-weight: bold;">previously neutral</span> United 
        States into entering World War&nbsp;II. President Franklin 
        Roosevelt&#8217;s address to Congress described December&nbsp;7 as a 
        <span style="font-weight: bold;">&#8220;date which will live in 
        infamy.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">Battle of Bataan</span> (January to May&nbsp;1942): 
        Immediately after the attack on Pearl Harbor, Japanese bombers struck 
        the <span style="font-weight: bold;">Philippine island Luzon</span>, 
        forcing the Americans to <span style="font-weight: bold;">retreat
        </span> to the Bataan Peninsula, where they held out for four months. 
        General Douglas MacArthur vowed <span style="font-weight: bold;">
        &#8220;I shall return&#8221;</span> before 
        <span style="font-weight: bold;">evacuating to Australia</span> and 
        leaving command to Jonathan Wainwright, who retreated to the island 
        of <span style="font-weight: bold;">Corregidor</span> and 
        <span style="font-weight: bold;">surrendered</span> on May&nbsp;6. 
        The prisoners from Bataan were sent on a 
        <span style="font-weight: bold;">&#8220;death march&#8221;</span> 
        80 miles to San Fernando with minimal food, water, and medical 
        supplies; those that fell behind were beaten. Japanese 
        <span style="font-weight: bold;">General Masaharu Homma</span> was 
        executed in 1946 for his role in the war crime.
    </li>
    <li class="list_item">
        <span class="label">Fall of Singapore</span> (February 1942): 
        Japan&#8217;s offensive in southeast Asia also struck at the 
        British Empire. Japanese aircraft sank the British battleship 
        <i style="font-weight: bold;">Prince of Wales</i> and drove obsolete 
        British aircraft from the skies over the 
        <span style="font-weight: bold;">Malay Peninsula</span>. Allied troops 
        were driven back toward Singapore, Britain&#8217;s major base in the 
        Far East. Reinforcements from Britain and Australia arrived too late 
        to repair the situation, and British general 
        <span style="font-weight: bold;">Arthur Percival</span> was 
        <span style="font-weight: bold;">forced to surrender</span> in 
        February 1942. The loss of Singapore stunned the British Empire. Many 
        <span style="font-weight: bold;">Indian prisoners captured at 
        Singapore switched sides</span> to fight for the Japanese; British 
        and Australian <span style="font-weight: bold;">POWs labored in 
        terrible conditions</span> on the <span style="font-weight: bold;">
        Siam-Burma railway</span> depicted in the novel 
        <i style="font-weight: bold;">The Bridge over the River Kwai</i>.
    </li>
    <li class="list_item">
        <span class="label">Battle of the Coral Sea</span> (May 1942): The 
        Battle of the Coral Sea resulted from Japanese ambitions to 
        <span style="font-weight: bold;">invade Port Moresby</span>, an 
        Allied base in <span style="font-weight: bold;">New Guinea</span>. 
        <span style="font-weight: bold;">Frank Jack Fletcher</span>&#8217;s 
        American fleet <span style="font-weight: bold;">damaged two Japanese 
        aircraft carriers</span>, Shokaku and Zuikaku. The U.S. Navy&#8217;s 
        major loss was the carrier <i style="font-weight: bold;">Lexington
        </i>. The battle, a <span style="font-weight: bold;">tactical draw
        </span>, prevented the Japanese from attacking Port Moresby. It is 
        notable for being the <span style="font-weight: bold;">first naval 
        battle fought entirely by aircraft</span> &mdash; neither fleet was 
        ever in visual range of the other&#8217;s ships.
    </li>
    <li class="list_item">
        <span class="label">Battle of Midway</span> (June 1942): Midway is 
        considered the <span style="font-weight: bold;">turning point of World 
        War&nbsp;II in the Pacific</span>. Japanese 
        <span style="font-weight: bold;">Admiral Yamamoto</span> launched 
        attacks on both Midway Island &mdash; an atoll northwest of Hawaii 
        &mdash; and the <span style="font-weight: bold;">Aleutian Islands
        </span> in Alaska, but the Americans had 
        <span style="font-weight: bold;">broken the Japanese naval code</span> 
        and were forewarned. <span style="font-weight: bold;">Admiral Chester 
        W. Nimitz</span>&#8217;s American fleet lost the aircraft carrier 
        <i style="font-weight: bold;">Yorktown</i>, but American dive-bombers 
        <span style="font-weight: bold;">destroyed four Japanese carriers
        </span>: <i>Soryu</i>, <i>Akagi</i>, <i>Kaga</i>, and <i>Hiryu</i>. 
        The loss of four irreplaceable aircraft carriers and the death of 
        the best-trained Japanese pilots <span style="font-weight: bold;">
        crippled Japanese naval aviation</span> for the duration of the war.
    </li>
    <li class="list_item">
        <span class="label">Guadalcanal Campaign</span> (August&nbsp;1942 to 
        February&nbsp;1943): This first Allied counteroffensive in the Pacific 
        targeted Guadalcanal, an <span style="font-weight: bold;">island in 
        the Solomons</span>, to <span style="font-weight: bold;">secure 
        communications</span> between the U.S. Pacific coast and Australia. 
        <span style="font-weight: bold;">&#8220;Operation Watchtower&#8221;
        </span> was the codename for the initial U.S. Marine landings, which 
        <span style="font-weight: bold;">secured an airbase at Henderson Field
        </span> and <span style="font-weight: bold;">held off a Japanese 
        counterattack on Edson&#8217;s Ridge</span>. The naval 
        <span style="font-weight: bold;">battle of Savo Island</span> took 
        place between American ships and Japanese forces (the so-called 
        <span style="font-weight: bold;">&#8220;Tokyo Express&#8221;</span>) 
        trying to resupply troops on Guadalcanal. By early 1943, Allied 
        dominance of the seas and skies around Guadalcanal forced Japan to 
        <span style="font-weight: bold;">withdraw</span> its remaining troops.
    </li>
    <li class="list_item">
        <span class="label">Battle of Leyte Gulf</span> (October 1944): The 
        American landings on the island of Leyte in the fall of 1944 fulfilled 
        <span style="font-weight: bold;">Douglas MacArthur&#8217;s promise to 
        return to the Philippines</span>. Most of the Imperial Japanese 
        Navy&#8217;s remaining strength emerged to challenge the Allied 
        landing, setting up <span style="font-weight: bold;">one of the 
        largest naval battles in world history</span>. American admiral 
        <span style="font-weight: bold;">William &#8220;Bull&#8221; Halsey
        </span> was criticized for the <span style="font-weight: bold;">
        poorly-coordinated response to the Japanese attack</span>. 
        Nevertheless, American ships, aircraft, and submarines were able to 
        destroy more than two dozen Japanese vessels, including the giant 
        battleship <i>Musashi</i>. The Japanese position was by now so 
        desperate that Japan began the practice of suicidal 
        <i style="font-weight: bold;">kamikaze</i> attacks on Allied naval 
        vessels.
    </li>
    <li class="list_item">
        <span class="label">Battle of Iwo Jima</span> (February to 
        March&nbsp;1945): Iwo Jima is an <span style="font-weight: bold;">
        isolated volcanic island between the Marianas and Honshu</span>; 
        early in 1945 it was strategically important as a 
        <span style="font-weight: bold;">base for American air attacks on 
        the Japanese home islands</span>. The defenders were led by 
        <span style="font-weight: bold;">General Tadamichi Kuribayashi</span>, 
        who attempted to prolong the battle indefinitely by digging an 
        elaborate <span style="font-weight: bold;">system of tunnels</span> 
        to protect his troops. The U.S Marines who stormed the island 
        starting in February 1945 sustained thousands of casualties. 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://www.iwojima.com/bond/lflage.gif">Joe Rosenthal&#8217;s 
        photograph</a> of Marines raising the flag on Iwo&#8217;s 
        <span style="font-weight: bold;">Mount Suribachi</span> is one of 
        the best known images of the Second World War.
    </li>
    <li class="list_item">
        <span class="label">Battle of Okinawa</span> (April to June&nbsp;1945): 
        Codenamed <span style="font-weight: bold;">Operation Iceberg</span>, 
        the invasion of Okinawa was the <span style="font-weight: bold;">last 
        major ground battle in the Pacific theater</span> of World 
        War&nbsp;II. <span style="font-weight: bold;">Kakazu Ridge</span> and 
        <span style="font-weight: bold;">Shuri Castle</span> were among the 
        positions Japanese troops defended against U.S. Marine and Army units. 
        Okinawa was the high point of Japanese <i style="font-weight: bold;">
        </i>kamikaze</i> attacks; over 1,500 suicide missions were sent 
        against the Allied invasion fleet. The 
        <span style="font-weight: bold;">heavy casualties sustained by both 
        sides</span> on Okinawa and the suicidal bravery of the Japanese 
        military <span style="font-weight: bold;">encouraged American planners 
        to use atomic weapons</span> on Hiroshima and Nagasaki instead of 
        launching <span style="font-weight: bold;">Operation Downfall</span>, 
        the projected late-1945 conventional invasion of the Japanese home 
        islands.
    </li>
    <li class="list_item">
        <span class="label">Battle of Okinawa</span> (April to June&nbsp;1945): 
        Codenamed <span style="font-weight: bold;">Operation Iceberg</span>, 
        the invasion of Okinawa was the <span style="font-weight: bold;">last 
        major ground battle in the Pacific theater</span> of World 
        War&nbsp;II. <span style="font-weight: bold;">Kakazu Ridge</span> and 
        <span style="font-weight: bold;">Shuri Castle</span> were among the 
        positions Japanese troops defended against U.S. Marine and Army units. 
        Okinawa was the high point of Japanese <i style="font-weight: bold;">
        kamikaze</i> attacks; over 1,500 suicide missions were sent against 
        the Allied invasion fleet. The <span style="font-weight: bold;">heavy 
        casualties sustained by both sides</span> on Okinawa and the suicidal 
        bravery of the Japanese military <span style="font-weight: bold;">
        encouraged American planners to use atomic weapons</span> on Hiroshima 
        and Nagasaki instead of launching <span style="font-weight: bold;">
        Operation Downfall</span>, the projected late-1945 conventional 
        invasion of the Japanese home islands.
    </li>
</ul>
<br />
<p style="font-family: Cambria; font-weight: bold; font-size: large;">
    Recommended Reading
</p>
<ul class="list2">
    <li class="list_item">
        Christopher Bayly and Tim Harper, <a style="color: maroon;" 
        href="https://www.amazon.com/gp/product/0140293310/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0140293310&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=b69faa20588df5a3dd96d5ab42a39561">
        <i>Forgotten Armies: The Fall of British Asia, 1941&ndash;1945</i></a> 
        (Cambridge: Harvard University Press, 2005)
    </li>
    <li class="list_item">
        Saburo Ienaga, <a style="color: maroon;"
        href="https://www.amazon.com/gp/product/0394734963/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0394734963&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=0d052bedc4271a930d273aa7e09c9f26">
        <i>The Pacific War 1931&ndash;1945</i></a> (New York: Pantheon, 1978)
    </li>
    <li class="list_item">
        Ronald H. Spector, <a style="color: maroon;" 
        href="https://www.amazon.com/gp/product/0394741013/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0394741013&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=8a43f952bfd88dd20c8b8b7516c39062">
        <i>Eagle Against the Sun: The American War with Japan</i></a> 
        (New York: The Free Press, 1985)
    </li>
    <li class="list_item">
        H.&nbsp;P. Willmott, <a style="color: maroon;" 
        href="https://www.amazon.com/gp/product/1591149487/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1591149487&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=894ed027e4013ea3e48270d0c19e73f0">
        <i>Empires in the Balance: Japanese and Allied Pacific Strategies to 
        April 1942</i></a> (Annapolis: Naval Institute Press, 1982)
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Bernard Xie.</p>
<br />
<br />
<br />
{% endblock %}