{% extends "base.html" %}  {% block title %}Chinese Dynasties{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Chinese Dynasties</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/chinese-dynasties.html">
    You Gotta Know These Chinese Dynasties
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        The <span class="label">Shang dynasty</span> 
        (c.&nbsp;1600&ndash;1046&nbsp;BC) is the 
        <span style="font-weight: bold;">first Chinese dynasty attested</span> 
        from written records. Archaeological excavations at the 
        <span style="font-weight: bold;">ruins of Yin</span>, near the modern 
        city of <span style="font-weight: bold;">Anyang</span>, uncovered the 
        remains of a Chinese civilization from the 
        <span style="font-weight: bold;">Bronze Age</span>. Shang dynasty 
        writings are found on <span style="font-weight: bold;"></span>
        &#8220;oracle bones,&#8221;</span> pieces of 
        <span style="font-weight: bold;">ox bone</span> or 
        <span style="font-weight: bold;">turtle shell</span> that were heated 
        to produce a pattern of cracks that supposedly foretold the future.
    </li>
    <li class="list_item">
        The <span class="label">Zhou <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">&#8220;Joe&#8221;</span> 
        dynasty</span> (1046&ndash;256&nbsp;BC) were 
        <span style="font-weight: bold;">chariot warriors</span> who overthrew 
        the <span style="font-weight: bold;">Shang dynasty</span>. Although 
        the Zhou ruled for nearly 800 years, during much of the time period 
        real power lay in the hands of <span style="font-weight: bold;">feudal 
        lords</span>. The sacking of the Zhou capital by barbarians in 
        771&nbsp;BC marks the beginning of the 
        <span style="font-weight: bold;">Eastern Zhou</span> and the 
        <span style="font-weight: bold;">Spring and Autumn Period</span> 
        (771&nbsp;BC &ndash; 476&nbsp;BC). During the Spring and Autumn 
        Period, the <span style="font-weight: bold;">Hundred Schools of 
        Thought</span> (including <span style="font-weight: bold;">Confucianism
        </span>) flourished, and <span style="font-weight: bold;">Sun Tzu
        </span> wrote his <i style="font-weight: bold;">Art of War</i>. The 
        end of the Zhou era devolved into the <span style="font-weight: bold;">
        Warring States period</span> (476&nbsp;BC &ndash; 221&nbsp;BC), during 
        which power coalesced into <span style="font-weight: bold;">seven 
        independent feudal states</span>. The state of 
        <span style="font-weight: bold;">Qin</span> eventually grew powerful 
        and efficient enough that it was able to defeat the other six states 
        and complete the <span style="font-weight: bold;">unification of 
        China</span>.
    </li>
    <li class="list_item">
        The <span class="label">Qin <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">&#8220;chin&#8221;</span> dynasty</span> 
        (221&ndash;206&nbsp;BC), despite its short duration, is usually 
        considered the origin of many of the institutions of imperial China. 
        The founding emperor, <span style="font-weight: bold;">Qin Shi Huangdi
        </span> (usually shorted as Qin Shi Huang), has gained an ill-deserved 
        reputation in traditional Chinese historiography because he 
        <span style="font-weight: bold;">destroyed many Confucian texts</span> 
        in his infamous <span style="font-weight: bold;">book burning</span>. 
        Qin Shi Huang also <span style="font-weight: bold;">standardized 
        weight measurements</span>, <span style="font-weight: bold;">unified 
        the Chinese script</span>, and used <span style="font-weight: bold;">
        conscripts</span> to build the <span style="font-weight: bold;">
        Great Wall</span>. After his death, the 
        <span style="font-weight: bold;">suicide of the crown prince</span> 
        led to a period of incompetent rule and revolts that caused the 
        collapse of the Qin dynasty.
    </li>
    <li class="list_item">
        The <span class="label">Han dynasty</span> (206&nbsp;BC &ndash; 
        AD&nbsp;220) is considered a <span style="font-weight: bold;">golden 
        age</span> of Chinese civilization; its influence was so great that 
        the <span style="font-weight: bold;">majority ethnic group</span> in 
        China is still called the Han. Its founder, 
        <span style="font-weight: bold;">Liu Bang</span> (later 
        <span style="font-weight: bold;">Emperor Gaozu</span>), was born a 
        peasant. Through resourceful recruitment of talented followers and 
        strategic <span style="font-weight: bold;">violation of ceasefire
        </span> agreement with his rival <span style="font-weight: bold;">
        Xiang Yu</span>, Liu Bang managed to <span style="font-weight: bold;">
        reunite China</span> and established his capital at 
        <span style="font-weight: bold;">Chang&#8217;an</span> (modern 
        <span style="font-weight: bold;">Xi&#8217;an</span>). Instability in 
        the early years of the Han dynasty was caused by the depredations of 
        the nomadic <span style="font-weight: bold;">Xiongnu</span>, a problem 
        that was solved by its seventh emperor, 
        <span style="font-weight: bold;">Wudi</span>. 
        <span style="font-weight: bold;">Emperor Wu</span>, considered one 
        of the greatest rulers of China, began a war of conquest against the 
        Xiongnu and greatly <span style="font-weight: bold;">expanded 
        China&#8217;s frontiers</span>. He also 
        <span style="font-weight: bold;">formalized China&#8217;s bureaucracy
        </span>, sent envoys like <span style="font-weight: bold;">Zhang Qian
        </span> to Central Asia, and established 
        <span style="font-weight: bold;">Confucianism</span> as the official 
        state doctrine. Despite his success, his campaigns 
        <span style="font-weight: bold;">drained the treasury</span> and his 
        successors were unable to maintain the land he conquered. After a 
        series of poor rulers, the <span style="font-weight: bold;">Wang 
        family</span> &mdash; who claimed legitimacy through wives of various 
        emperors &mdash; and their leader <span style="font-weight: bold;">
        Wang Mang</span> toppled the Han dynasty. Wang Mang established the 
        <span style="font-weight: bold;">Xin</span> (meaning 
        &#8220;new&#8221;) dynasty and attempted to restore the ways of the 
        Zhou dynasty, but he was unable to maintain power because of a 
        catastrophic span style="font-weight: bold;">changing of the course 
        of the Yellow River</span>, which spawned 
        <span style="font-weight: bold;">peasant protest movements</span> 
        like the <span style="font-weight: bold;">Red Eyebrows</span>. 
        Eventually, a scion of the <span style="font-weight: bold;">Liu
        </span> family &mdash; <span style="font-weight: bold;">Liu Xiu
        </span> &mdash; restored the Han dynasty, moving the capital to 
        <span style="font-weight: bold;">Luoyang</span> and establishing the 
        <span style="font-weight: bold;">Eastern Han</span>. Subsequent 
        rebellions called the <span style="font-weight: bold;">Yellow 
        Turbans</span> and the <span style="font-weight: bold;">Five Pecks 
        of Rice</span> hastened the end of the Han dynasty.
    </li>
    <li class="list_item">
        The short and turbulent <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">period of the Three Kingdoms
        </span> (AD&nbsp;184&ndash;280) has had an enormous cultural impact 
        thanks to the classic Chinese novel <i style="font-weight: bold;">
        Romance of the Three Kingdoms</i>. After a period of disunion, the 
        lands of the former Han dynasty coalesced into three kingdoms: 
        <span style="font-weight: bold;">Cao Wei</span> north of the 
        <span style="font-weight: bold;">Yangtze</span>, 
        <span style="font-weight: bold;">Eastern Wu</span> in the lower 
        Yangtze, and <span style="font-weight: bold;">Shu Han</span> in the 
        <span style="font-weight: bold;">Sichuan</span> region. The 
        <span style="font-weight: bold;">Battle of Red Cliffs</span> 
        (AD&nbsp;208) was fought during this period. Under the leadership of 
        the <span style="font-weight: bold;">Sima family</span>, Cao Wei 
        managed to defeat the other two kingdoms. The reunification was, 
        however, short-lived. For the next four centuries, China went through 
        a period known as the <span style="font-weight: bold;">Southern and 
        Northern Dynasties</span>.
    </li>
    <li class="list_item">
        The <span class="label">Tang dynasty</span> (618&ndash;907) is considered 
        another <span style="font-weight: bold;">golden age</span> of Chinese 
        culture: during the Tang period, important poets such as 
        <span style="font-weight: bold;">Li&nbsp;Bai</span> (or 
        <span style="font-weight: bold;">Li&nbsp;Po</span>) and 
        <span style="font-weight: bold;">Du&nbsp;Fu</span> lived, and the 
        <span style="font-weight: bold;">printing press</span> was invented. 
        The Tang dynasty reunited China after the collapse of the short-lived 
        <span style="font-weight: bold;">Sui dynasty</span>, was ruled by the 
        <span style="font-weight: bold;">Li family</span>, and had its 
        capital at <span style="font-weight: bold;">Chang&#8217;an</span> 
        (modern day <span style="font-weight: bold;">Xi&#8217;an</span>). Its 
        first ruler, like the founder of the Han Dynasty, used the title of 
        <span style="font-weight: bold;">Emperor Gaozu</span>. Gaozu was 
        forced by his second son, <span style="font-weight: bold;">Li Shimin
        </span> (later <span style="font-weight: bold;">Emperor Taizong
        </span>), to <span style="font-weight: bold;">abdicate</span> after 
        Li Shimin <span style="font-weight: bold;">killed two of his 
        brothers</span> in an <span style="font-weight: bold;">ambush
        </span>. Despite his bloody path to power, Taizong is considered to 
        be one of the greatest rulers in Chinese history, subjugating much of 
        what is now <span style="font-weight: bold;">western China</span> and 
        parts of <span style="font-weight: bold;">central Asia</span>. After 
        his death, power came to be concentrated in the hands of 
        <span style="font-weight: bold;">Empress&nbsp;Wu</span>. 
        Empress&nbsp;Wu (or <span style="font-weight: bold;">Wu Zetian</span>) 
        was the only woman to become emperor of China, and called her rule the 
        <span style="font-weight: bold;">&#8220;Second Zhou dynasty.&#8221;
        </span> Wu was a notable supporter of 
        <span style="font-weight: bold;">Buddhism</span> and promoted the 
        <span style="font-weight: bold;">imperial examination</span>, but 
        succession troubles resulted in the premature end of her dynasty. 
        During the reign of <span style="font-weight: bold;">Emperor Xuanzong
        </span>, the <span style="font-weight: bold;">An&nbsp;Lushan rebellion
        </span> (also called the <span style="font-weight: bold;">An&nbsp;Shi 
        rebellion</span>) wrecked the foundations of the Tang dynasty. 
        Although it was suppressed, the An&nbsp;Lushan rebellion concentrated 
        power in the hands of <span style="font-weight: bold;">regional 
        military overlords</span>. The dynasty had a tumultuous end in 907 
        that marked the beginning of the <span style="font-weight: bold;">
        Five Dynasties and Ten Kingdoms period</span>.
    </li>
    <li class="list_item">
        The <span class="label">Song dynasty</span> (960&ndash;1279) is known for 
        its <span style="font-weight: bold;">devotion to cultural activities 
        instead of warfare</span> and for the establishment of 
        <span style="font-weight: bold;">Neo-Confucianism</span> as state 
        doctrine, with the <span style="font-weight: bold;">imperial 
        examination</span> as the primary way of recruiting talent. It was 
        also during the Song dynasty that <span style="font-weight: bold;">
        gunpowder</span> and the <span style="font-weight: bold;">compass
        </span> were discovered.  The Song dynasty, even in its early years, 
        could not rule all of China proper and was forced to relinquish 
        parts of northern China to the <span style="font-weight: bold;">
        &#8220;barbarian&#8221; Liao dynasty</span>, paying 
        <span style="font-weight: bold;">tribute for peace</span>. Although 
        like most dynasties, it began as the ventures of a military leader, 
        its first ruler, <span style="font-weight: bold;">Taizu</span>, 
        realized that his rival generals could take power from him. He then 
        induced all his major commanders to retire, setting up the 
        <span style="font-weight: bold;">dominance of the scholarly elite 
        over the military elite</span> throughout the Song dynasty. This 
        policy was continued by his successors. In the north, however, the 
        Liao dynasty was eventually replaced by the 
        <span style="font-weight: bold;">militaristic Jin dynasty</span>, 
        who captured the Song capital, <span style="font-weight: bold;">
        Kaifeng</span> along with two Emperors. The remnants of the court 
        fled across the <span style="font-weight: bold;">Yangtze</span> and 
        established the <span style="font-weight: bold;">Southern Song</span> 
        with a new capital at <span style="font-weight: bold;">Hangzhou
        </span>, maintaining peace with the Jin through annual tribute. 
        This state of affairs was brought to an end after the Song dynasty 
        aided the <span style="font-weight: bold;">Mongols</span> in crushing 
        the Jin, only to discover that they themselves were the next target. 
        Despite the might of the Mongol war machine, the Song dynasty 
        managed to repel major Mongol offensives for nearly 40&nbsp;years, 
        before it was finally defeated.
    </li>
    <li class="list_item">
        The <span class="label">Yuan dynasty</span> (1271&ndash;1368) was a 
        <span style="font-weight: bold;">short-lived</span> dynasty 
        established by the invading <span style="font-weight: bold;">Mongols
        </span>, who destroyed the <span style="font-weight: bold;">Jin</span> 
        and <span style="font-weight: bold;">Song states</span>. Its most 
        notable ruler was <span style="font-weight: bold;">Kublai Khan</span>, 
        whose <span style="font-weight: bold;">invasions of Japan</span> were 
        thwarted by <span style="font-weight: bold;">typhoons</span> that the 
        Japanese called the <span style="font-weight: bold;">kamikaze</span>, 
        or <span style="font-weight: bold;">&#8220;divine wind.&#8221;</span> 
        Yuan rulers were hostile to many Chinese institutions, and thus 
        received minimal support from the Chinese elites. The 
        <span style="font-weight: bold;">Red Turban rebellion</span> of the 
        1350s marked the beginning of the end for the Yuan.
    </li>
    <li class="list_item">
        The <span class="label">Ming dynasty</span> (1368&ndash;1644) was the 
        <span  style="font-weight: bold;">last native dynasty</span> of China; 
        its rulers came from the <span  style="font-weight: bold;">Zhu family
        </span>. The use of the word &#8220;china&#8221; to describe 
        <span style="font-weight: bold;">fine porcelain</span> originated from 
        this period, as the Ming were well-known for producing high-quality 
        porcelain. Its founding ruler, <span  style="font-weight: bold;">Zhu 
        Yuanzhang</span> (<span  style="font-weight: bold;">Emperor Hongwu
        </span>), was a peasant leader of the 
        <span  style="font-weight: bold;">Red Turbans</span> who helped expel 
        the <span  style="font-weight: bold;">Mongol Yuan rulers</span> from 
        China. He was succeeded by his grandson, who quickly lost power to 
        <span  style="font-weight: bold;">Zhu&nbsp;Di</span> (
        <span  style="font-weight: bold;">Emperor Yongle</span>). During the 
        reign of the Yongle emperor, the <span  style="font-weight: bold;">
        eunuch</span> <span  style="font-weight: bold;">Zheng&nbsp;He</span> 
        led <span  style="font-weight: bold;">treasure fleets</span> on seven 
        voyages to display Chinese greatness. Zhu&nbsp;Di moved 
        China&#8217;s capital to Beijing. After his death, the Ming dynasty 
        <span  style="font-weight: bold;">banned maritime commerce</span>, 
        which left the dynasty vulnerable to 
        <span  style="font-weight: bold;">pirates</span>. The Ming dynasty 
        came to an end after the rebellion of 
        <span  style="font-weight: bold;">Li&nbsp;Zicheng</span>, which was 
        caused by inadequate government response to 
        <span  style="font-weight: bold;">inflation</span>, 
        <span  style="font-weight: bold;">famine</span>, and 
        <span  style="font-weight: bold;">floods</span>. Simultaneously, the 
        <span style="font-weight: bold;">Manchu people</span> &mdash; 
        tributaries of the Ming from northeast China in what is now 
        <span  style="font-weight: bold;">Manchuria</span> &mdash; marched 
        on the <span  style="font-weight: bold;">Great Wall</span>. The 
        Manchus suppressed Li&nbsp;Zicheng&#8217;s revolt and took power in 
        Beijing themselves.
    </li>
    <li class="list_item">
        The invading Manchus established the <span style="font-family: Cambria;
        font-weight: bold; font-size: large;">Qing 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">cheeng</span> dynasty</span> 
        (1644&ndash;1911), the <span style="font-weight: bold;">last dynasty 
        to rule imperial China</span>. An important 
        institution of the Qing dynasty was the 
        <span style="font-weight: bold;">banner system</span>, which acted as 
        a <span style="font-weight: bold;">guaranteed welfare</span> system 
        for Manchus and gave them benefits in the 
        <span style="font-weight: bold;">imperial examination</span> 
        (positions were often duplicated, with one Han Chinese and one Manchu 
        from the banners). The foundations of the Qing dynasty were 
        established under its second ruler, the 
        <span style="font-weight: bold;">Kangxi Emperor</span>, who put down 
        the <span style="font-weight: bold;">Revolt of the Three Feudatories
        </span>. He is also famous for the <span style="font-weight: bold;">
        Kangxi dictionary</span>, which is known for popularizing the system 
        of <span style="font-weight: bold;">Chinese radicals</span>. During 
        the last century of Qing rule, China was weakened both by foreign 
        attacks (the <span style="font-weight: bold;">Opium Wars</span> 
        against <span style="font-weight: bold;">Britain</span>) and internal 
        dissent (the devastating <span style="font-weight: bold;">Taiping 
        Rebellion</span> of 1850&ndash;1864). Attempts to modernize Qing rule 
        (the <span style="font-weight: bold;">Self-Strengthening Movement
        </span> and the <span style="font-weight: bold;">Hundred Days&#8217; 
        Reform</span> of 1898) proved inconclusive. Qing 
        <span style="font-weight: bold;">Dowager Express Cixi</span>, who 
        opposed the reformers, was implicated in the 
        <span style="font-weight: bold;">Boxer Rebellion</span>, an anti-
        foreign uprising of 1900 that caused eight Western nations to send 
        military forces to Beijing. China&#8217;s last emperor was 
        <span style="font-weight: bold;">Puyi</span>, who came to the throne 
        at the age of two in 1906. The 1911 <span style="font-weight: bold;">
        Xinhai Revolution</span> ended the Qing Dynasty and created the 
        Republic of China.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Libo Zeng.</p>
<br />
<br />
<br />
{% endblock %}