{% extends "base.html" %}  {% block title %}Civil War Battles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Civil War Batlles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/civil-war-battles.html">
    You Gotta Know These Civil War Battles
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Fort Sumter</span> (April 12, 1861). Built on an 
        island in 1829, the fort was one of three that the United States 
        maintained in the harbor of <span style="font-weight: bold;">
        Charleston, South Carolina</span>. In order to claim true independence 
        from the Union, <span style="font-weight: bold;">Jefferson Davis
        </span> decided that the forts needed to be taken; a Confederate 
        force under <span style="font-weight: bold;">P.&nbsp;G.&nbsp;T. 
        Beauregard</span> ordered the small Union garrison, controlled by 
        <span style="font-weight: bold;">Major Robert Anderson</span>, to 
        surrender. Anderson refused, shots were fired, and the Union 
        commander surrendered two days later with only one soldier killed. 
        The Union made two unsuccessful attempts to recapture the fort with 
        <span style="font-weight: bold;">ironclad ships</span> in 1863, but 
        Confederate forces finally abandoned Sumter when they left Charleston 
        in February 1865.
    </li>
    <li class="list_item">
        <span class="label">First Bull Run (or First Manassas)</span> (July 21, 
        1861). Fought at a creek near Manassas, Virginia (30 miles west of 
        Washington, D.C.), this was the first major showdown of the war. 
        <span style="font-weight: bold;">P.&nbsp;G.&nbsp;T. Beauregard</span> 
        led an army against Union commander <span style="font-weight: bold;">
        Irwin McDowell</span> and received reinforcements from 
        <span style="font-weight: bold;">Joseph Johnston</span>&#8217;s 
        troops (whom Union General Robert Patterson failed to detain). The 
        Confederacy routed the Union when <span style="font-weight: bold;">
        Thomas Jackson</span>&#8217;s brigade held the left line at 
        <span style="font-weight: bold;">Henry House Hill</span>; this effort 
        earned him the nickname <span style="font-weight: bold;">
        &#8220;Stonewall.&#8221;</span> Congressmen and reporters, who had 
        expected to watch a Union victory, fled in panic back to D.C.
    </li>
    <li class="list_item">
        <span class="label">Hampton Roads</span> (March 9, 1862). A channel in 
        southeastern Virginia was the site of the first major fight between 
        two <span style="font-weight: bold;">ironclad ships</span>. The 
        Confederates raised an old wooden boat, the 
        <i style="font-weight: bold;">Merrimack</i>, and fit it with ten guns 
        and iron armor plates. Renamed the <i style="font-weight: bold;">
        Virginia</i>, it was captained by <span style="font-weight: bold;">
        Franklin Buchanan</span>. The Union countered by constructing a large 
        oval with a rotating gun, called the <i style="font-weight: bold;">
        Monitor</i> and piloted by <span style="font-weight: bold;">John Worden
        </span>. The <i>Virginia</i> tore through Union wooden ships (the 
        <i>Cumberland</i>, <i>Congress</i>, and <i>Minnesota</i>) but when the 
        <i>Monitor</i> arrived, the two ironclads fought to a 
        <span style="font-weight: bold;">stalemate</span>; the Union thus 
        maintained its <span style="font-weight: bold;">naval blockade</span> 
        of the Confederacy. The South deliberately destroyed the <i>Virginia
        </i> two months later. The <i>Monitor</i> sank in a storm off 
        Cape Hatteras in December 1862.
    </li>
    <li class="list_item">
        <span class="label">Shiloh (or Pittsburg Landing)</span> 
        (April 6&ndash;7, 1862). This battle was named after a church in 
        Pittsburg Landing, <span style="font-weight: bold;">Tennessee</span> 
        (100 miles southwest of Nashville). Confederate commander 
        <span style="font-weight: bold;">Albert Sidney Johnston</span> led a 
        force north from Corinth, Mississippi. 
        <span style="font-weight: bold;">Ulysses S. Grant</span>, who had just 
        captured Fort Donelson, brought five Union divisions to face him. At 
        first, the South&#8217;s surprise attack drove Union troops back, but 
        Grant&#8217;s soldiers held the <span style="font-weight: bold;">
        &#8220;Hornets&#8217; Nest&#8221;</span> for hours, killing Johnston 
        in the process. P.&nbsp;G.&nbsp;T. Beauregard took over, but by the 
        second day Northern Generals <span style="font-weight: bold;">Don 
        Carlos Buell</span> and <span style="font-weight: bold;">Lew Wallace
        </span> (who wrote <i style="font-weight: bold;">Ben-Hur</i>) brought 
        reinforcements, causing the Confederates to retreat. More than 13,000 
        Union and 10,000 Confederate soldiers were killed, wounded, or 
        captured at Shiloh.
    </li>
    <li class="list_item">
        <span class="label">Peninsular Campaign</span> (March&ndash;July 1862). 
        Union commander <span style="font-weight: bold;">George McClellan
        </span> devised this plan to capture the Confederate capital at 
        <span style="font-weight: bold;">Richmond, Virginia</span> by sending 
        110,000 men up the peninsula between the 
        <span style="font-weight: bold;">York and James Rivers</span>. Advised 
        of Northern maneuvers, Southern commander 
        <span style="font-weight: bold;">Joseph Johnston</span> detached a 
        force to defend the peninsula. He also sent a small unit (led by 
        <span style="font-weight: bold;">Stonewall Jackson</span>) that 
        crushed Union reinforcements in the <span style="font-weight: bold;">
        Shenandoah Valley</span>. After Johnston was wounded at 
        <span style="font-weight: bold;">Seven Pines</span> (June 1), Davis 
        replaced him with <span style="font-weight: bold;">Robert E. Lee
        </span>. Lee concentrated his force north of the 
        <span style="font-weight: bold;">Chickahominy River</span>; in the 
        <span style="font-weight: bold;">Seven Days&#8217; Battles</span> 
        (June 25&nbsp;&ndash; July 1), the Confederates broke through Union 
        defenses, leading to McClellan&#8217;s 
        <span style="font-weight: bold;">retreat down the James</span> toward 
        <span style="font-weight: bold;">Harrison&#8217;s Landing</span>, and 
        the failure of the campaign.
    </li>
    <li class="list_item">
        <span class="label">Second Bull Run (or Second Manassas)</span> 
        (August 29&ndash;30, 1862). This resounding victory by 
        <span style="font-weight: bold;">Robert E. Lee</span> and 
        <span style="font-weight: bold;">Stonewall Jackson</span> pushed 
        Union forces back to Washington, D.C. <span style="font-weight: bold;">
        President Abraham Lincoln</span> gathered forces in northern Virginia 
        under <span style="font-weight: bold;">General John Pope</span>, who 
        would protect the capital until <span style="font-weight: bold;">
        George McClellan</span>&#8217;s <span style="font-weight: bold;">
        Army of the Potomac</span> returned from the Peninsula Campaign. 
        Lee maneuvered Jackson&#8217;s troops behind those of Pope; Jackson 
        detained Pope&#8217;s men at Manassas while Lee sent James Longstreet 
        to crush Pope&#8217;s left flank. Pope&#8217;s and McClellan&#8217;s 
        joint forces retreated to defend Washington, 
        <span style="font-weight: bold;">ceding all of Virginia</span> to 
        the Confederacy and marking a low point in the Union effort.
    </li>
    <li class="list_item">
        <span class="label">Antietam (or Sharpsburg)</span> (September 17, 
        1862). The <span style="font-weight: bold;">bloodiest single day
        </span> of the Civil War: 12,000 Union and 10,000 Confederate 
        casualties. <span style="font-weight: bold;">Robert E. Lee</span> 
        invaded Maryland, but a Union soldier 
        <span style="font-weight: bold;">discovered Lee&#8217;s battle plans</span> 
        wrapped around three discarded cigars. After the 
        <span style="font-weight: bold;">Battle of South Mountain</span> 
        (September 14), Lee&#8217;s forces retired toward Antietam Creek. 
        Meanwhile, Stonewall Jackson&#8217;s forces captured 
        <span style="font-weight: bold;"></span>Harper&#8217;s Ferry, 
        Virginia</span>, and rushed north to rejoin Lee&#8217;s main army. 
        <span style="font-weight: bold;">George McClellan</span> had a 
        substantial numerical superiority over Lee&#8217;s Confederates, 
        but failed to effectively coordinate his army&#8217;s attacks. 
        Antietam thus was actually a series of several distinct clashes, 
        near the <span style="font-weight: bold;">Dunker Church</span>, 
        along the <span style="font-weight: bold;">Bloody Lane</span>, 
        and around <span style="font-weight: bold;">Burnside&#8217;s Bridge
        </span>. After the battle&#8217;s conclusion, Lee&#8217;s battered 
        army <span style="font-weight: bold;">retreated across the Potomac
        </span> into Virginia; the Union victory allowed President Lincoln 
        to issue the <span style="font-weight: bold;">Emancipation 
        Proclamation</span>.
    </li>
    <li class="list_item">
        <span class="label">Fredericksburg</span> (December 13, 1862). At this 
        site, about 50 miles south of Washington, Union comman
        der <span style="font-weight: bold;">Ambrose Burnside</span> (who had 
        replaced George McClellan) tried to take the initiative and cross the 
        <span style="font-weight: bold;">Rappahannock River</span> in a march 
        toward Richmond. He met Robert E. Lee&#8217;s forces, which were well 
        entrenched on <span style="font-weight: bold;">Marye&#8217;s Heights
        </span> behind the town. Burnside&#8217;s army took heavy losses 
        assaulting the heights, and fell back across the Rappahannock. A 
        later attempt to flank the Confederate position was foiled by heavy 
        rain during the so-called <span style="font-weight: bold;">&#8220;Mud 
        March&#8221;</span> of January 1863.
    </li>
    <li class="list_item">
        <span class="label">Vicksburg Campaign</span> (April 29&nbsp;&ndash; 
        July 4, 1863). This campaign was launched by 
        <span style="font-weight: bold;">Ulysses S. Grant</span> to take 
        control of the <span style="font-weight: bold;">Mississippi River
        </span> and cut off the western Confederate states from the east. 
        Grant ordered forces led by <span style="font-weight: bold;">James 
        McPherson</span>, <span style="font-weight: bold;">John McClernand
        </span>, and <span style="font-weight: bold;">William Tecumseh Sherman
        </span> through bayous west of the Mississippi to 
        <span style="font-weight: bold;">Hard Times, Louisiana</span>. They 
        were up against Confederate defenders under 
        <span style="font-weight: bold;">Joseph Johnston</span> and 
        <span style="font-weight: bold;">John Pemberton</span>. 
        Sherman and McPherson drove Johnston from 
        <span style="font-weight: bold;">Jackson, Mississippi</span> on May 
        14, and the Union scored a victory at 
        <span style="font-weight: bold;">Champion&#8217;s Hill</span> two 
        days later, but could not drive the Southerners out of Vicksburg, so 
        Grant laid siege to the town. Outnumbered 71,000 to 20,000 and on 
        the brink of starvation, Pemberton finally surrendered his men; 
        Johnston withdrew east.
    </li>
    <li class="list_item">
        <span class="label">Chancellorsville</span> (May 1&ndash;4, 1863). 
        A victory for the South, but with great cost, as 
        <span style="font-weight: bold;">Stonewall Jackson</span> lost his 
        life. Lincoln called on <span style="font-weight: bold;">
        &#8220;Fighting Joe&#8221; Hooker</span> to command the Union army; 
        Hooker took a force of 134,000 and provoked 
        <span style="font-weight: bold;">Robert E. Lee</span> and 
        Jackson&#8217;s 60,000 men into battle. Jackson moved around Hooker 
        and counterattacked the Union flank on May 2. That night, while 
        Jackson was on reconnaissance, <span style="font-weight: bold;">his 
        own men</span> mistook him for a Northerner and shot him; he died of 
        pneumonia eight days later. The following morning, a cannonball 
        blast hit the <span style="font-weight: bold;">Chancellor House
        </span>, knocking Hooker unconscious; Union troops, led by 
        <span style="font-weight: bold;">John Sedgwick</span>, then retreated. 
        Casualties for the North outnumbered those of the South, 17,000 
        to 13,000.
    </li>
    <li class="list_item">
        <span class="label">Gettysburg</span> (July 1&ndash;3, 1863). This 
        marked both the <span style="font-weight: bold;">farthest northward
        </span> advance by the Confederacy and the 
        <span style="font-weight: bold;">turning point</span> that led to 
        its defeat. <span style="font-weight: bold;">Robert E. Lee</span>, 
        along with <span style="font-weight: bold;">James Longstreet</span>, 
        <span style="font-weight: bold;">A.&nbsp;P. Hill</span>, and 
        <span style="font-weight: bold;">Richard Ewell</span>, led the attack 
        into southern Pennsylvania; <span style="font-weight: bold;">
        J.&nbsp;E.&nbsp;B. Stuart</span> was supposed to monitor Union 
        movement with his cavalry, but strayed so far east of Gettysburg that 
        his force did not return (exhausted) until the second day of battle. 
        <span style="font-weight: bold;">George Meade</span> replaced 
        <span style="font-weight: bold;">Joseph Hooker</span> as leader of the 
        Union army; Southern forces drove Northerners through the town of 
        Gettysburg but could not secure key positions at 
        <span style="font-weight: bold;">Cemetery Ridge</span> and 
        <span style="font-weight: bold;">Little and Big Round Tops</span>. 
        Low on supplies, on the third and final day Lee ordered an attack on 
        the center; <span style="font-weight: bold;">George Pickett</span> 
        led his famous <span style="font-weight: bold;">&#8220;charge&#8221;
        </span> through open fields, where the Union mowed down one-third of 
        his 15,000 men. The Confederates lost 20,000 and Lee retreated to 
        Virginia.
    </li>
    <li class="list_item">
        <span class="label">Chattanooga Campaign</span> 
        (September&ndash;November 1863). It began when Union 
        <span style="font-weight: bold;">General William Rosecrans</span> 
        forced Confederate commander <span style="font-weight: bold;">
        Braxton Bragg</span> out of the city on September 9. Ten days later, 
        at <span style="font-weight: bold;">Chickamauga</span> (in Georgia), 
        Bragg and <span style="font-weight: bold;">James Longstreet</span> 
        turned the tables by whipping Rosecrans, forcing him into a siege 
        position at Chattanooga. Only <span style="font-weight: bold;">
        George Thomas</span> (the <span style="font-weight: bold;">&#8220;Rock 
        of Chickamauga&#8221;</span>) saved Rosecrans&#8217;s army from 
        annihilation. Well-developed <span style="font-weight: bold;">
        railroad networks</span>, however, allowed 
        <span style="font-weight: bold;">Ulysses S. Grant</span>, 
        <span style="font-weight: bold;">Joseph Hooker</span>, and 
        <span style="font-weight: bold;">William Tecumseh Sherman</span> to 
        bring reinforcements. On November 24 Hooker took 
        <span style="font-weight: bold;">Lookout Mountain</span> in the 
        southwest, in the <span style="font-weight: bold;">&#8220;Battle 
        Above the Clouds.&#8221;</span> The next day, Thomas ran right over 
        the Southern force at <span style="font-weight: bold;">Missionary 
        Ridge</span>, securing Tennessee for the North.
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; font-weight: bold; font-size: large;">Wilderness Campaign (or Overland Campaign)
        </span> (May 5&nbsp;&ndash; June 12, 1864). The first clash between <span style="font-weight: bold;">Ulysses S. 
        Grant</span> and <span style="font-weight: bold;">Robert E. Lee</span>, this series of conflicts started with 
        the <span style="font-weight: bold;">Battle of the Wilderness</span>, fought in a dense forest 50 miles 
        northwest of Richmond. At <span style="font-weight: bold;">Spotsylvania Court House</span>, 
        <span style="font-weight: bold;">George Meade</span> assaulted Robert E. Lee&#8217;s men, but Lee&#8217;s troops 
        were able to hold on near the <span style="font-weight: bold;">&#8220;Bloody Angle.&#8221;</span>  
        Advancing within ten miles of Richmond, Grant met Lee at <span style="font-weight: bold;">Cold Harbor</span> 
        (June 3); he lost 7,000 men to Lee&#8217;s 1,500. By the end of the campaign, Grant&#8217;s army approached the 
        James River and Lee&#8217;s army had suffered severely from a <span style="font-weight: bold;">&#8220;war of 
        attrition.&#8221;</span>
    </li>
    <li class="list_item">
        <span style="font-family: Cambria; font-weight: bold; font-size: large;">Petersburg Campaign</span> 
        (June 1864&nbsp;&ndash; April 1865). After Cold Harbor, <span style="font-weight: bold;">Ulysses S. Grant</span> 
        moved south to lay siege to this <span style="font-weight: bold;">railroad hub</span>, 25 miles from Richmond. 
        The <span style="font-weight: bold;">trenches</span> in which much of the fighting took place were similar to 
        those later used in World War&nbsp;I. On July 30, Pennsylvania <span style="font-weight: bold;">coal miners</span> 
        detonated four tons of powder in a tunnel underneath the Confederate line; this <span style="font-weight: bold;">
        &#8220;Battle of the Crater&#8221;</span> killed many defenders. Although the South held the city of Petersburg, 
        its supplies ran thin in the winter of 1865. Grant finally destroyed the Confederate right flank at 
        <span style="font-weight: bold;">Five Forks</span> (April 1&ndash;2), 14 miles southwest of Petersburg. This 
        resounding defeat led to <span style="font-weight: bold;">Robert E. Lee</span>&#8217;s 
        <span style="font-weight: bold;">surrender to Grant at Appomattox Court House</span> one week later, effectively 
        ending the Civil War.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}