{% extends "base.html" %}  {% block title %}Elections{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Elections</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/elections.html">
    You Gotta Know These United States Presidential Elections
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">1800</span>: Democratic-Republican 
        <span style="font-weight: bold;">Thomas Jefferson</span> narrowly 
        beat the incumbent Federalist <span style="font-weight: bold;">John 
        Adams</span> 73&ndash;65, marking the ascent of that party&#8217;s 
        power. At the time, <a style="color: maroon;" target="_blank"
        href="http://www.law.cornell.edu/constitution/articleii#section1">all 
        electoral votes were cast in the presidential race rather than having 
        a separate ballot for the vice presidency</a>. Thus both Jefferson and 
        Democratic-Republican VP candidate <span style="font-weight: bold;">
        Aaron Burr</span> had 73 electoral votes, and Burr refused to step 
        aside. In the House of Representatives, neither man won the necessary 
        nine state delegations outright until the 36th ballot, when 
        <span style="font-weight: bold;">James Bayard</span> of Delaware cast 
        a blank vote, turning the election in Jefferson&#8217;s favor. The 
        debacle led to the ratification of the 
        <a style="color: maroon;font-weight: bold;" target="_blank"
        href="http://www.law.cornell.edu/constitution/amendmentxii">12th 
        amendment</a> in 1804. The Federalists never recovered; 
        <span style="font-weight: bold;">Alexander Hamilton</span>&#8217;s 
        opposition to Adams led to a permanent split between the two, and 
        Hamilton&#8217;s opposition to Burr was one cause of their 1804 
        <span style="font-weight: bold;">duel</span>, in which Burr (then 
        the vice president) killed Hamilton. This was the first peaceful 
        transfer of power from one party to another.
    </li>
    <li class="list_item">
        <span class="label">1824</span>: The candidates were 
        <span style="font-weight: bold;">John Quincy Adams</span>, 
        <span style="font-weight: bold;">Henry Clay</span>, 
        <span style="font-weight: bold;">William Crawford</span>, and 
        <span style="font-weight: bold;">Andrew Jackson</span>, all 
        Democratic-Republicans. After <span style="font-weight: bold;">
        John C. Calhoun</span> decided to seek the vice presidency and 
        Crawford (from Georgia) had a stroke, Jackson took most of the 
        South and won the popular vote.  Jackson had 99 electoral votes, 
        Adams 84, Crawford 41, and Clay 37, but since none had more than 
        50% of the vote, <span style="font-weight: bold;">the House decided 
        the election</span>.  Adams won in the House with support from Clay, 
        and Jacksonians cried foul when <span style="font-weight: bold;">
        Clay was made Secretary of State</span> (the so-called 
        <span style="font-weight: bold;">&#8220;corrupt bargain&#8221;
        </span>), giving fuel to Jackson&#8217;s victorious 1828 campaign. 
        Jackson is the only candidate to lose a presidential race 
        despite having the most electoral votes, and he is one of five (with 
        Tilden, Cleveland, Gore, and Hillary Clinton) to lose despite 
        winning the popular vote.  The election also led to the 
        <span style="font-weight: bold;">founding of the Democratic 
        Party</span>.
    </li>
    <li class="list_item">
        <span class="label">1860</span>:  Another four-candidate election, 
        with Republican <span style="font-weight: bold;">Abraham Lincoln
        </span>, (northern) Democrat <span style="font-weight: bold;">Stephen 
        Douglas</span>, (southern) Democrat <span style="font-weight: bold;">
        John C. Breckinridge</span>, and Constitutional Unionist 
        <span style="font-weight: bold;">John G. Bell</span>. The Republican 
        Party, founded in 1854, won in its second election (its first 
        candidate being <span style="font-weight: bold;">John C. 
        Fr&eacute;mont</span> in 1856), aided by the fragmenting of the 
        Democrats. Bell took Tennessee, Kentucky, and Virginia, Breckinridge 
        swept the other slave states, and Lincoln nearly swept the free 
        states. Though winning under 40% of the total popular vote, Lincoln 
        dominated the electoral count with 180 to a combined 123 for his 
        opponents (Breckinridge 72, Bell 39, Douglas 12). Seven southern 
        states <span style="font-weight: bold;">seceded</span> before Lincoln 
        even took office, and war soon followed.
    </li>
    <li class="list_item">
        <span class="label">1876</span>:  Republican 
        <span style="font-weight: bold;">Rutherford B. Hayes</span> faced 
        Democrat <span style="font-weight: bold;">Samuel Tilden</span>, best 
        known for battling <span style="font-weight: bold;">Tammany Hall
        </span> and the <span style="font-weight: bold;">Tweed Ring</span> 
        in New York. Tilden <span style="font-weight: bold;">won the popular 
        vote</span> and seemed to win the election, but results in Florida, 
        South Carolina, and Louisiana were contested, as was one vote in 
        Oregon; if Hayes swept these votes, he would win the electoral count 
        185&ndash;184. In Congress, an informal bargain was reached (often 
        called the <span style="font-weight: bold;">Compromise of 
        1877</span>) in which Hayes won the election in exchange for 
        <span style="font-weight: bold;">Reconstruction being brought to 
        an end</span>.
    </li>
    <li class="list_item">
        <span class="label">1896</span>:  In the election itself, Republican 
        <span style="font-weight: bold;">William McKinley</span> swept the 
        North and Northeast to beat Democrat <span style="font-weight: bold;">
        William Jennings Bryan</span>, but the campaign was the interesting 
        part. The most prominent issue, the <span style="font-weight: bold;">
        gold standard</span> versus <span style="font-weight: bold;">free 
        silver</span> coinage, led to Bryan&#8217;s famous 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://historymatters.gmu.edu/d/5354/">&#8220;Cross of 
        Gold&#8221;</a> speech. Shunned by the Eastern press, Bryan &mdash; 
        a legendary orator &mdash; traveled 18,000 miles through 27 states 
        and was heard by some three million people. McKinley would not accept 
        Bryan&#8217;s challenge to debate, comparing it to putting up a 
        trapeze and competing with a professional athlete. McKinley instead 
        had a <span style="font-weight: bold;">&#8220;front porch&#8221; 
        campaign</span>, as <span style="font-weight: bold;">railroads</span> 
        brought voters by the thousands to hear him speak in his hometown, 
        Canton, Ohio. <span style="font-weight: bold;">Mark Hanna</span>, 
        McKinley&#8217;s campaign manager, is often considered the 
        <span style="font-weight: bold;">first modern campaign manager</span>. 
        The election also represented the <span style="font-weight: bold;">
        demise of the Populist Party</span> and ushered in a 16-year period 
        of Republican rule. The gold question would disappear soon after 
        the election with <span style="font-weight: bold;">gold strikes
        </span> in Australia and Alaska.
    </li>
    <li class="list_item">
        <span class="label">1912</span>: Three presidents &mdash; 
        <span style="font-weight: bold;">Teddy Roosevelt</span>, 
        <span style="font-weight: bold;">William Howard Taft</span>, and 
        <span style="font-weight: bold;">Woodrow Wilson</span> &mdash; earned 
        electoral votes. Roosevelt, displeased with his successor Taft, 
        returned to lead the <span style="font-weight: bold;">progressive 
        Republican</span> faction; after Taft got the Republican nomination, 
        Roosevelt was nominated by the <span style="font-weight: bold;">
        Progressive Party</span> (nicknamed the <span style="font-weight: bold;">
        &#8220;Bull Moose&#8221; Party</span>). Wilson won with 435 electoral 
        votes to Roosevelt&#8217;s 88 and Taft&#8217;s 8, making Taft the 
        <span style="font-weight: bold;">only incumbent to finish third</span> 
        in a re-election bid. Though Wilson did set forth his 
        <span style="font-weight: bold;">New Freedom program</span>, his 
        dominating win must be credited largely to the splitting of the 
        Republican vote by Roosevelt and Taft.
    </li>
    <li class="list_item">
        <span class="label">1948</span>:  In the most recent election with 
        four significant candidates, Democrat <span style="font-weight: bold;">
        Harry Truman</span> beat Republican <span style="font-weight: bold;">
        Thomas Dewey</span>, contrary to the <a style="color: maroon; 
        font-weight: bold;" target="_blank" href="https://www.history.com/
        news/dewey-defeats-truman-election-headline-gaffe">famous headline of 
        the <i>Chicago Tribune</i></a>, which was printed before results from 
        the West came in. Dewey dominated the northeast, but Truman nearly 
        swept the West to pull out the victory.  Former vice president 
        <span style="font-weight: bold;">Henry Wallace</span> earned over a 
        million votes as the <span style="font-weight: bold;">Progressive
        </span> candidate, and <span style="font-weight: bold;">Strom Thurmond
        </span> took over a million popular votes and 39 electoral votes as 
        the <span style="font-weight: bold;">States&#8217; Rights</span> (or 
        <span style="font-weight: bold;">Dixiecrat</span>) candidate.
    </li>
    <li class="list_item">
        <span class="label">1960</span>: <span style="font-weight: bold;">
        John F. Kennedy</span> defeated vice president 
        <span style="font-weight: bold;">Richard Nixon</span> 303&ndash;219 
        in a tight election, winning the popular vote by just two-tenths of 
        a percent.  The first Kennedy-Nixon <span style="font-weight: bold;">
        debate</span> (September&nbsp;26, 1960) is a classic in political 
        science; those who saw the <span style="font-weight: bold;">calm, 
        handsome</span> Kennedy and the <span style="font-weight: bold;">
        tired, uncomfortable</span>-looking Nixon on television were more 
        likely to select Kennedy as the winner than were those who listened 
        on radio.  (<span style="font-weight: bold;">Theodore White</span>
        &#8217;s notable <i style="font-weight: bold;">The Making of the 
        President</i> series began with the 1960 election.) 
        <span style="font-weight: bold;"></span>Voting irregularities</span> 
        in Texas and Illinois (especially in Richard Daley&#8217;s Chicago) 
        led to allegations of fraud, but a recount would not have been 
        feasible, and Nixon did not press the issue. Nixon would go on to 
        lose the 1962 California gubernatorial race (occasioning his famous 
        statement &#8220;You won&#8217;t have Dick Nixon to kick around any 
        more&#8221;).
    </li>
    <li class="list_item">
        <span class="label">1968</span>: After Lyndon Johnson declined to run 
        for re-election, and after <span style="font-weight: bold;">Robert F. 
        Kennedy</span> was killed in California, the Democratic nomination 
        went to <span style="font-weight: bold;">Hubert Humphrey</span>.  
        <span style="font-weight: bold;">Richard Nixon</span>, gradually 
        returning from political obscurity over the past six years, gained 
        the Republican nomination. Alabama governor 
        <span style="font-weight: bold;">George Wallace</span> ran as the 
        <span style="font-weight: bold;">American Independent</span> 
        candidate, becoming the last third-party candidate to win multiple 
        electoral votes. Nixon edged Humphrey by half a million popular 
        votes and a 301&mdash;191 electoral count, while Wallace won nearly 
        ten million votes. Wallace&#8217;s presence may well have tipped 
        the election to the Republicans, who, after being out of power for 
        28 of the last 36 years, would hold the presidency for all but 
        four years through 1992.
    </li>
    <li class="list_item">
        <span class="label">2000</span>: The closest election in American 
        history. <span style="font-weight: bold;">Al Gore</span> won the 
        popular vote but lost the electoral vote to 
        <span style="font-weight: bold;">George W. Bush</span> by a final 
        count of 271&mdash;266 (one Gore elector abstained). 
        <span style="font-weight: bold;">Ralph Nader</span> of the 
        <span style="font-weight: bold;">Green Party</span> won an important 
        2.7% of the vote, while <span style="font-weight: bold;">Pat 
        Buchanan</span> of the Reform Party placed fourth. New Mexico and 
        Oregon were initially too close to call but went to Gore, and 
        <span style="font-weight: bold;">Florida</span> became the center 
        of attention. Ballot confusion in <span style="font-weight: bold;">
        Palm Beach County</span>, <span style="font-weight: bold;">
        intimidation of vote recounters</span> in 
        <span style="font-weight: bold;">Miami-Dade County</span>, and 
        <span style="font-weight: bold;">absentee ballots</span> throughout 
        Florida became significant issues, as Americans had to hear about 
        <span style="font-weight: bold;">butterfly ballots</span>, 
        <span style="font-weight: bold;">hanging chads</span>, and Florida 
        Secretary of State <span style="font-weight: bold;">Katharine Harris
        </span> for the next five weeks. Gore officially conceded the 
        election on December&nbsp;13, 2000.
    </li>
</ul>
<br />
<p class="justify">
    Other notable election events include <span style="font-weight: bold;">
    James K. Polk</span>&#8217;s win as a &#8220;dark horse&#8221; candidate 
    in <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">1844</span>, <span style="font-weight: bold;">Grover 
    Cleveland</span>&#8217;s loss in <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">1888</span> despite winning the 
    popular vote, <span style="font-weight: bold;">Woodrow Wilson</span>
    &#8217;s narrow victory in <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">1916</span>, 
    <span style="font-weight: bold;">Franklin Delano Roosevelt</span>&#8217;s 
    defeats of <span style="font-weight: bold;">Herbert Hoover</span> in 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    1932</span> and <span style="font-weight: bold;">Wendell Willkie</span> in 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    1940</span>, <span style="font-weight: bold;">Ronald Reagan</span>&#8217;s 
    victory in <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">1980</span>, and <span style="font-weight: bold;">Bill 
    Clinton</span>&#8217;s win in <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">1992</span> over 
    <span style="font-weight: bold;">George H.&nbsp;W. Bush</span> and 
    <span style="font-weight: bold;">Ross Perot</span>.
</p>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}