{% extends "base.html" %}  {% block title %}European Royal Families{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Eurpean Royal Families</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/eurpean-royal-families.html">
    You Gotta Know These European Royal Families
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Romanov</span> (<span style="font-weight: bold;">
        Russia</span>, 1613&ndash;1917): Following the 
        <span style="font-weight: bold;">Time of Troubles</span>, the 
        sixteen-year-old <span style="font-weight: bold;">Michael Romanov
        </span> was appointed <span style="font-weight: bold;">tsar</span> 
        and co-ruled with his father, <span style="font-weight: bold;">
        Patriarch Filaret</span>. Its rulers included 
        <span style="font-weight: bold;">Peter the Great</span> (who 
        <span style="font-weight: bold;">westernized</span> Russia and 
        <span style="font-weight: bold;">defeated Sweden</span> in the 
        <span style="font-weight: bold;">Great Northern War</span>), 
        <span style="font-weight: bold;">Catherine the Great</span> (an 
        <span style="font-weight: bold;">&#8220;enlightened despot&#8221;
        </span> who greatly <span style="font-weight: bold;">expanded the 
        borders</span> of Russia), and <span style="font-weight: bold;">
        Alexander&nbsp;II</span> (who <span style="font-weight: bold;">
        freed the serfs</span>).The Romanovs ruled Russia as tsars and 
        emperors until the <span style="font-weight: bold;">Russian 
        Revolution</span> and <span style="font-weight: bold;">
        Nicholas&nbsp;II</span>&#8217;s execution.
    </li>
    <li class="list_item">
        <span class="label">Orange-Nassau</span> (
        <span style="font-weight: bold;">Netherlands</span>, 
        1544&ndash;present): The House of Orange was founded by 
        <span style="font-weight: bold;">William the Silent</span>, who led 
        the <span style="font-weight: bold;">Dutch Revolt</span> against the 
        <span style="font-weight: bold;">Spanish</span> in the 
        <span style="font-weight: bold;">Eighty Years&#8217; War</span>, 
        resulting in the recognition of the Netherlands&#8217; independence 
        in 1648. In 1688, <span style="font-weight: bold;">William&nbsp;III 
        of Orange</span>, at the invitation of Parliament, invaded England 
        with his wife <span style="font-weight: bold;">Mary</span> in what 
        is called the Glorious Revolution. The House of Orange is currently 
        led by <span style="font-weight: bold;">Willem-Alexander</span>, 
        the King of the Netherlands.
    </li>
    <li class="list_item">
        <span class="label">Hohenzollern</span> (
        <span style="font-weight: bold;">Brandenburg</span> 1415&ndash;1618, 
        <span style="font-weight: bold;">Prussia</span> 1525&ndash;1918, 
        <span style="font-weight: bold;">Germany</span> 1871&ndash;1918, and 
        <span style="font-weight: bold;">Romania</span> 1866&ndash;1947): The 
        House of Hohenzollern began as <span style="font-weight: bold;">
        Burgraves</span> of <span style="font-weight: bold;">Nuremburg
        </span>, but eventually gained such titles as 
        <span style="font-weight: bold;">Margrave of Brandenburg</span>, 
        <span style="font-weight: bold;">Duke</span> and later 
        <span style="font-weight: bold;">King</span> of 
        <span style="font-weight: bold;">Prussia</span>, 
        <span style="font-weight: bold;">Emperor of Germany</span>, and 
        <span style="font-weight: bold;">King of Romania</span>. Some of its 
        notable rulers included <span style="font-weight: bold;">Frederick the 
        Great</span> (an enlightened ruler who led Prussian troops during 
        the <span style="font-weight: bold;">Seven Years&#8217; War</span>) 
        and <span style="font-weight: bold;">Wilhelm&nbsp;II</span> (the 
        Emperor of Germany during World War&nbsp;I).
    </li>
    <li class="list_item">
        <span class="label">Hapsburg</span>, also known as class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Habsburg</span> (<span style="font-weight: bold;">
        Holy Roman Empire</span> 1440&ndash;1806, 
        <span style="font-weight: bold;">Austria-Hungary</span> 
        1867&ndash;1918, and <span style="font-weight: bold;">Spain</span> 
        1516&ndash;1700): The Hapsburgs ruled much of 
        <span style="font-weight: bold;">Central Europe</span> from the 
        Middle Ages to the end of World War&nbsp;I. Their first important 
        ruler was <span style="font-weight: bold;">Rudolf&nbsp;I</span>, 
        the King of Germany and Duke of Austria in the late thirteenth 
        century. Other notable rulers included 
        <span style="font-weight: bold;">Charles&nbsp;V</span>, 
        <span style="font-weight: bold;">Maria Theresa</span> and 
        <span style="font-weight: bold;">Franz Joseph</span>.
    </li>
    <li class="list_item">
        <span class="label">Plantagenet</span> (
        <span style="font-weight: bold;">England</span>, 1154&ndash;1399): 
        The Plantagenets rose to power when <span style="font-weight: bold;">
        Geoffrey&nbsp;V of Anjou</span> married 
        <span style="font-weight: bold;">Matilda</span>, and their rule ended 
        when <span style="font-weight: bold;">Richard&nbsp;II</span> was 
        deposed in 1399. Some of their notable rulers included 
        <span style="font-weight: bold;">Richard&nbsp;I</span>, 
        <span style="font-weight: bold;">John</span>, and 
        <span style="font-weight: bold;">Edward&nbsp;I</span>. 
        The signing of the <span style="font-weight: bold;">Magna Carta
        </span>, the English <span style="font-weight: bold;">conquest of 
        Wales</span>, and the beginning of the 
        <span style="font-weight: bold;">Hundred Years&#8217; War</span> 
        all occurred during their reign. The <span style="font-weight: bold;">
        houses of Lancaster</span> and <span style="font-weight: bold;">York
        </span> were cadet branches (new royal houses formed by 
        non-inheriting members) of the Plantagenets.
    </li>
    <li class="list_item">
        <span class="label">Tudor</span> (<span style="font-weight: bold;">
        England</span>, 1485&ndash;1603): The Tudors rose to power when 
        <span style="font-weight: bold;">Henry Tudor</span> aligned with the 
        <span style="font-weight: bold;">Lancasters</span> in the 
        <span style="font-weight: bold;">War of the Roses</span>. He became 
        <span style="font-weight: bold;">King Henry&nbsp;VII</span> following 
        his victory at <span style="font-weight: bold;">Bosworth Field</span>. 
        Their notable rulers included <span style="font-weight: bold;">
        Henry&nbsp;VIII</span> (who broke with the 
        <span style="font-weight: bold;">Catholic Church</span> in England 
        and had <span style="font-weight: bold;">six wives</span>) and 
        <span style="font-weight: bold;">Elizabeth&nbsp;I</span> (whose lack 
        of a husband and heir led to the extinction of the house).
    </li>
    <li class="list_item">
        <span class="label">Stuart</span> (<span style="font-weight: bold;">
        England</span>, 1603&ndash;1714 and <span style="font-weight: bold;">
        Scotland</span>, 1371&ndash;1714): The first Stuart king of England 
        was <span style="font-weight: bold;">James&nbsp;I</span> 
        (James&nbsp;VI of Scotland), who <span style="font-weight: bold;">
        commissioned the King James Bible</span> and survived the 
        <span style="font-weight: bold;">Gunpowder Plot</span>. Other notable 
        rulers included <span style="font-weight: bold;">Charles&nbsp;I</span> 
        (who was beheaded following the <span style="font-weight: bold;">
        English Civil War</span>) and <span style="font-weight: bold;">
        Charles&nbsp;II</span> (who was restored to power after 
        <span style="font-weight: bold;">Oliver Cromwell</span> died). It was 
        under the last Stuart ruler, <span style="font-weight: bold;">Queen 
        Anne</span>, that the <span style="font-weight: bold;">Acts of Union
        </span> were passed and <span style="font-weight: bold;">Great 
        Britain</span> was founded.
    </li>
    <li class="list_item">
        <span class="label">Capetians</span> (<span style="font-weight: bold;">
        France</span>, 987&ndash;1328): The Capetians&#8217; first monarch was 
        <span style="font-weight: bold;">Hugh Capet</span>, who was elected 
        king following the death of <span style="font-weight: bold;">
        Louis&nbsp;V</span>. Their notable rulers included 
        <span style="font-weight: bold;">Philip&nbsp;II</span>, who went on 
        the Third Crusade; <span style="font-weight: bold;">Louis&nbsp;IX
        </span>, a canonized <span style="font-weight: bold;">saint</span>; 
        and <span style="font-weight: bold;">Philip&nbsp;IV</span>, who 
        <span style="font-weight: bold;">expelled the Jews</span> of France 
        in 1306 and <span style="font-weight: bold;">arrested the Knights 
        Templar</span> in 1307. The rule of the Capetians ended when 
        Philip&nbsp;IV&#8217;s sons failed to produce male heirs.
    </li>
    <li class="list_item">
        <span class="label">Valois</span> (<span style="font-weight: bold;">
        France</span>, 1328&ndash;1589): The first Valois king of France was 
        <span style="font-weight: bold;">Philip&nbsp;VI</span>, during whose 
        reign the <span style="font-weight: bold;">Hundred Years&#8217; War
        </span> began and the <span style="font-weight: bold;">Black Death
        </span> struck France. Notable Valois rulers included 
        <span style="font-weight: bold;">Louis&nbsp;XI</span>, who acquired 
        <span style="font-weight: bold;">Burgundy</span>; 
        <span style="font-weight: bold;">Francis&nbsp;I</span>, who began 
        the French <span style="font-weight: bold;">Renaissance</span>; and 
        <span style="font-weight: bold;">Henry&nbsp;III</span>, whose 
        assassination in the French <span style="font-weight: bold;">Wars 
        of Religion</span> ended the Valois dynasty.
    </li>
    <li class="list_item">
        <span class="label">Bourbon</span> (<span style="font-weight: bold;">
        France</span>, 1589&ndash;1792): The first Bourbon king was 
        <span style="font-weight: bold;">Henry&nbsp;IV</span>, who was 
        victorious in the <span style="font-weight: bold;">War of the Three 
        Henrys</span> and issued the <span style="font-weight: bold;">Edict 
        of Nantes</span> guaranteeing <span style="font-weight: bold;">
        religious freedom</span>. Notable Bourbon rulers included 
        <span style="font-weight: bold;">Louis&nbsp;XIV</span> and 
        <span style="font-weight: bold;">Louis&nbsp;XVI</span> (who was 
        beheaded during the <span style="font-weight: bold;">French Revolution
        </span>). Following Napoleon&#8217;s fall, the Bourbons briefly ruled 
        France again until the <span style="font-weight: bold;">July Revolution
        </span> of 1830. <span style="font-weight: bold;">Spain</span> has 
        also been ruled mostly by the Bourbons since 1700.
    </li>
</ul>
<br />
<p class="justify">
    Honorable mentions: <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Braganza</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Burgundy</span>, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Carolingians</span>, <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Hanover</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Hohenstaufen</span>, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Jagiellon</span>, <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Lancaster</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Merovingians</span>, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Oldenburg</span>, <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Rurik</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Savoy</span>, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Saxe-Coburg and Gotha</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Vasa</span>, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Wittelsbach</span>, and <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">York</span>.
</p>
<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}