{% extends "base.html" %}  {% block title %}Kings of France{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Kings of France</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/kings-of-france.html">
    You Gotta Know These Kings of France
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Philip&nbsp;II</span> (1165&ndash;1223, 
        reigned&nbsp;1179&ndash;1223; house of 
        <span style="font-weight: bold;">Capet</span>):  Philip was the first 
        of the great Capetian kings of France. Fighting and negotiating 
        against <span style="font-weight: bold;">Henry&nbsp;II</span>, 
        <span style="font-weight: bold;">Richard&nbsp;I</span>, and 
        <span style="font-weight: bold;">John of England</span>, Philip won 
        back <span style="font-weight: bold;">Normandy</span>, 
        <span style="font-weight: bold;">Brittany</span>, 
        <span style="font-weight: bold;">Anjou</span>, and other territories. 
        He also took part in the famous <span style="font-weight: bold;">
        Third Crusade</span> (with Richard&nbsp;I and 
        <span style="font-weight: bold;">Frederick Barbarossa</span>) and 
        made use of the <span style="font-weight: bold;">Albigensian crusade
        </span> to pave the way for the annexation of 
        <span style="font-weight: bold;">Languedoc</span> by his successor.
    </li>
    <li class="list_item">
        <span class="label">Louis&nbsp;VIII</span> (1187&ndash;1226, 
        reigned&nbsp;1223&ndash;1226; house of 
        <span style="font-weight: bold;">Capet</span>):  Though he reigned 
        for only <span style="font-weight: bold;">three years</span>, 
        Louis&#8217; contributions to the rise of French power were 
        enormous.  He <span style="font-weight: bold;">annexed Languedoc
        </span> and <span style="font-weight: bold;">captured Poitou</span> 
        from England. Perhaps more importantly, he established the systems of 
        <span style="font-weight: bold;">appanages</span> (land grants) which 
        replaced the older, local nobles with 
        <span style="font-weight: bold;">barons</span> who owed their 
        <span style="font-weight: bold;">fiefs</span> to the crown. This 
        allowed for the subsequent rise in French royal (and national) power.
    </li>
	<li class="list_item">
        <span class="label">St.&nbsp;Louis&nbsp;IX</span> (1214&ndash;1270, 
        reigned&nbsp;1226&ndash;1270; house of 
        <span style="font-weight: bold;">Capet</span>): Louis led the 
        <span style="font-weight: bold;">Seventh Crusade</span>, which ended 
        in military disaster, but after his <span style="font-weight: bold;">
        ransoming</span> he remained in the Holy Land to successfully 
        negotiate for what he couldn&#8217;t win.  He returned to Europe 
        with his reputation intact and negotiated a 
        <span style="font-weight: bold;">peace with England</span> under 
        which <span style="font-weight: bold;">Henry&nbsp;III</span> become 
        his vassal. He <span style="font-weight: bold;">stabilized the French 
        currency</span> and is generally held to have 
        <span style="font-weight: bold;">reduced corruption</span> in the 
        kingdom. He died leading a crusade against 
        <span style="font-weight: bold;">Tunisia</span>.  St.&nbsp;Louis 
        is the <span style="font-weight: bold;">only canonized king</span> 
        of France.
    </li>
	<li class="list_item">
        <span class="label">Charles&nbsp;V</span> (1338&ndash;1380, 
        reigned&nbsp;1364&ndash;1380; house of 
        <span style="font-weight: bold;">Valois</span>): Charles had an 
        inauspicious start (before his reign even began) with having to 
        <span style="font-weight: bold;">ransom his father</span>, 
        John&nbsp;II, from England for three&nbsp;million crowns and most 
        of southwestern France.  Later, with military advisor 
        <span style="font-weight: bold;">Bertrand du&nbsp;Guesclin</span>, 
        he recaptured almost all of that territory. He also concluded 
        <span style="font-weight: bold;">alliances with Portugal</span>, 
        <span style="font-weight: bold;">Spain</span>, and 
        <span style="font-weight: bold;">Flanders</span>, 
        <span style="font-weight: bold;">reorganized the army</span>, and 
        <span style="font-weight: bold;">restructured the collection of taxes
        </span> while leading France&#8217;s recovery from the devastation 
        of the early period of the <span style="font-weight: bold;">Hundred 
        Years&#8217; War</span>.
    </li>
	<li class="list_item">
        <span class="label">Charles&nbsp;VIII</span> (1470&ndash;1498, 
        reigned&nbsp;1483&ndash;1498; house of 
        <span style="font-weight: bold;">Valois</span>): Charles&#8217; 
        short reign is remarkable for the enormous cost in men and money of 
        his <span style="font-weight: bold;">Italian campaign</span>, but 
        more so for the number of his successors that followed his 
        catastrophic lead. Charles was motivated by a desire to 
        <span style="font-weight: bold;">govern Naples</span>, which he had 
        theoretically inherited. He died before he could surpass or absolve 
        his disastrous first campaign with another.
    </li>
	<li class="list_item">
        <span class="label">Francis&nbsp;I</span> (1494&ndash;1547, 
        reigned&nbsp;1515&ndash;1547; house of 
        <span style="font-weight: bold;">Valois</span>): Francis&#8217;s early 
        military victories (like the <span style="font-weight: bold;">Battle 
        of Marignano</span>), his <span style="font-weight: bold;">lavish court
        </span>, and his support of luminaries like 
        <span style="font-weight: bold;">Leonardo da&nbsp;Vinci</span> augured 
        a splendid reign.  His <span style="font-weight: bold;">rivalry with 
        Charles&nbsp;V</span> of the Holy Roman Empire, however, spelled 
        his doom.  He was <span style="font-weight: bold;">captured in battle
        </span> in 1525 and held for a humiliating ransom. Wars continued 
        after his release, but <span style="font-weight: bold;">bankruptcy
        </span> and <span style="font-weight: bold;">religious strife</span> 
        laid France low.
    </li>
	<li class="list_item">
        <span class="label">Henry&nbsp;III</span> (1551&ndash;1589, 
        reigned&nbsp;1574&ndash;1589; house of 
        <span style="font-weight: bold;">Valois</span>):  Henry&#8217;s reign 
        was suffused with blood, at first because of the continuous 
        <span style="font-weight: bold;">Wars of Religion</span> that pitted 
        <span style="font-weight: bold;">Catholics</span> against 
        <span style="font-weight: bold;">Huguenots</span>, but later because 
        of the struggles that arose when it became clear that he was going 
        to be the <span style="font-weight: bold;">last of the Valois line
        </span>. The <span style="font-weight: bold;">War of the Three Henries
        </span> broke out after his brother died and the then-Protestant 
        <span style="font-weight: bold;">Henry of Navarre</span> (later 
        <span style="font-weight: bold;">Henry&nbsp;IV</span>) became heir, 
        leading the <span style="font-weight: bold;">Catholic Holy League
        </span> to strike out of fear for its interests. Henry&nbsp;III was 
        <span style="font-weight: bold;">assassinated by a crazed friar</span> 
        in 1589.
    </li>
	<li class="list_item">
        <span class="label">Henry&nbsp;IV</span> (1553&ndash;1610, 
        reigned&nbsp;1589&ndash;1610; founder of the house of 
        <span style="font-weight: bold;">Bourbon</span>): Henry, the 
        <span style="font-weight: bold;">king of Navarre</span>, became the 
        heir to the throne when <span style="font-weight: bold;">
        Henry&nbsp;III</span>&#8217;s brother died in 1584. After fighting 
        Catholic opposition in the <span style="font-weight: bold;">War of the 
        Three Henries</span>, he <span style="font-weight: bold;">renounced 
        Protestantism</span> and accepted Catholicism (supposedly saying 
        <span style="font-weight: bold;">&#8220;Paris is well worth a 
        mass&#8221;</span>) to become king. With the help of 
        <span style="font-weight: bold;">Maximilien Sully</span> he 
        <span style="font-weight: bold;">erased the national debt</span> and 
        removed much of the religious strife with the 
        <span style="font-weight: bold;">Edict of Nantes</span> (1598).
    </li>
	<li class="list_item">
        <span class="label">Louis&nbsp;XIII</span> (1601&ndash;1643, 
        reigned&nbsp;1610&ndash;1643; house of 
        <span style="font-weight: bold;">Bourbon</span>):  Sometimes working 
        with his chief minister <span style="font-weight: bold;">Cardinal 
        Richelieu</span> and sometimes against, Louis&nbsp;XIII turned France 
        into the pre-eminent European power during his reign. This was largely 
        achieved via French victories in the <span style="font-weight: bold;">
        Thirty Years&#8217; War</span>.  <i style="font-weight: bold;">The 
        Three Musketeers</i> is set in the early years of his reign.</i>
    </li>
	<li class="list_item">
        <span class="label">Louis&nbsp;XIV</span> (1638&ndash;1715, 
        reigned&nbsp;1643&ndash;1715; house of 
        <span style="font-weight: bold;">Bourbon</span>): 
        Louis&nbsp;XIV&#8217;s reign is often cited as the best historical 
        example of an <span style="font-weight: bold;">absolute monarchy
        </span>.  Louis led France against most of the rest of Europe to win 
        the throne of Spain for his grandson (the 
        <span style="font-weight: bold;">War of the Spanish Succession
        </span>). He championed <span style="font-weight: bold;">classical 
        art</span>, <span style="font-weight: bold;">religious orthodoxy
        </span>, and instituted a great program of 
        <span style="font-weight: bold;">building</span> throughout France. 
        Known as the <span style="font-weight: bold;">&#8220;Sun King,&#8221;
        </span> his <span style="font-weight: bold;">72-year reign</span> is 
        among the longest in recorded history.
    </li>
</ul>
<br />
<p class="justify">
    We have excluded <span style="font-weight: bold;">Frankish kings</span>, 
    though some are worth knowing, including 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Pepin the Short</span> and <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Charlemagne</span>. Similarly, 
    <span style="font-family: Cambria; font-weight: bold; font-size: large;">
    Louis-Philippe</span>, the <span style="font-weight: bold;">&#8220;king 
    of the French&#8221;</span> placed on the throne after 
    <span style="font-weight: bold;">Charles&nbsp;X</span> abdicated in 
    1830, was excluded from consideration.
</p>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}