{% extends "base.html" %}  {% block title %}Massacres{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Massacres</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/massacres.html">
    You Gotta Know These Massacres
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">The St. Bartholomew&#8217;s Day Massacre</span> 
        (August 23, 1572) was a series of murders carried out by 
        <span style="font-weight: bold;">Catholic mobs</span> and the 
        <span style="font-weight: bold;">Swiss Guard</span> against 
        <span style="font-weight: bold;">Huguenots</span>, or French 
        <span style="font-weight: bold;">Protestants</span>. It occurred a 
        few days after the wedding of <span style="font-weight: bold;">
        Margaret of Valois</span> to the future 
        <span style="font-weight: bold;">King Henry&nbsp;IV</span>. 
        <span style="font-weight: bold;">Catherine de&#8217;&nbsp;Medici
        </span>, the mother of then-king <span style="font-weight: bold;">
        Charles&nbsp;IX</span>, allegedly ordered the murders two days after 
        an <span style="font-weight: bold;">assassination attempt</span> 
        on Huguenot leader <span style="font-weight: bold;">Gaspard de 
        Coligny</span>. It is likely that the signal to begin the attacks was 
        given by the ringing of <span style="font-weight: bold;">matins bells</span> 
        at the church of <span style="font-weight: bold;">Saint-Germain 
        l&#8217;Auxerrois</span> in Paris. The name of the massacre comes 
        from the day on which it occurred, the night before the feast day 
        of Bartholomew the Apostle.
    </li>	
	<li class="list_item">
        <span class="label">The Boston Massacre</span> (March 5, 1770) occurred 
        when <span style="font-weight: bold;">British troops</span> stationed 
        in Boston under <span style="font-weight: bold;">Captain Thomas Preston
        </span> opened fire on a crowd of civilians. Five men in the crowd 
        were killed, including former slave <span style="font-weight: bold;">
        Crispus Attucks</span>. The crowd was originally upset that British 
        private <span style="font-weight: bold;">Hugh White</span> had struck 
        a <span style="font-weight: bold;">wigmaker&#8217;s apprentice</span> 
        in the head earlier that day. Massachusetts governor 
        <span style="font-weight: bold;">Thomas Hutchinson</span> ordered an 
        inquiry into the event, which led to the arrest of thirteen people. 
        Eight soldiers were defended at their trial by 
        <span style="font-weight: bold;">John Adams</span>, and six were 
        acquitted of murder charges. A notable 
        <span style="font-weight: bold;">engraving</span> of the Boston 
        Massacre was made by Boston silversmith 
        <span style="font-weight: bold;">Paul Revere</span>. British sources 
        often refer to the massacre as <span style="font-weight: bold;">
        &#8220;The Incident on King Street.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">The Peterloo Massacre</span> (August 16, 1819) was 
        a massacre in <span style="font-weight: bold;">St.&nbsp;Peter&#8217;s 
        Field</span> in <span style="font-weight: bold;">Manchester</span>, 
        England during a protest led by <span style="font-weight: bold;">
        Henry Hunt</span> against the <span style="font-weight: bold;">Corn 
        Laws</span>. Fourteen people were killed when British 
        <span style="font-weight: bold;">cavalry</span> charged the crowd of 
        tens of thousands. In the aftermath of the massacre, the government 
        of Prime Minister Robert Jenkinson, the 2nd 
        <span style="font-weight: bold;">Earl of Liverpool</span>, passed the 
        <span style="font-weight: bold;">Six Acts</span> to curtail radical 
        gatherings. The name given to the massacre alluded to Napoleon&#8217;s 
        final defeat at the <span style="font-weight: bold;">Battle of 
        Waterloo</span> four years earlier. The events in Manchester inspired 
        the founding of the newspaper <i style="font-weight: bold;">The 
        Manchester Guardian</i>, the predecessor to <i>The Guardian</i>, 
        which is still widely read today. Plotters angry over the Peterloo 
        Massacre and the Six Acts formed the <span style="font-weight: bold;">
        Cato Street Conspiracy</span> in 1820 in the hope of murdering 
        Liverpool and his entire cabinet.
    </li>
	<li class="list_item">
        <span class="label">The Wounded Knee Massacre</span> (December 29, 
        1890) was the killing of 200 to 300 <span style="font-weight: bold;">
        Lakota Sioux</span> on the <span style="font-weight: bold;">Lakota 
        Pine Ridge Indian Reservation</span> near Wounded Knee Creek in 
        <span style="font-weight: bold;">South Dakota</span>. The massacre 
        began when, during an observation of the 
        <span style="font-weight: bold;">Ghost Dance</span> ritual, a deaf 
        Lakota named <span style="font-weight: bold;">Black Coyote</span> 
        refused to surrender his rifle to <span style="font-weight: bold;">
        James Forsyth</span>&#8217;s <span style="font-weight: bold;">7th U.S. 
        Cavalry</span>. After the rifle discharged, the cavalrymen opened 
        fire. Miniconjou chief <span style="font-weight: bold;">Spotted Elk
        </span> was among those killed in the massacre, for which twenty 
        soldiers were controversially awarded the 
        <span style="font-weight: bold;">Medal of Honor</span>; despite 
        frequent protests, those awards have not been rescinded by Congress. 
        The day after the Wounded Knee Massacre, surviving Lakota confronted 
        the soldiers in the <span style="font-weight: bold;">Drexel Mission 
        Fight</span>. The historian <span style="font-weight: bold;">Dee 
        Brown</span> titled his 1970 history of Native Americans in the 
        West <i style="font-weight: bold;">Bury My Heart at Wounded Knee</i>.
    </li>
	<li class="list_item">
        <span class="label">Bloody Sunday</span> (January 22, 1905) is usually 
        considered the first event of the <span style="font-weight: bold;">
        Revolution of 1905</span> in Russia. The sequence of events leading 
        up to the massacre began with the <span style="font-weight: bold;">
        Putilov Incident</span>, in which four ironworkers in St. Petersburg 
        were fired because they were members of a 
        <span style="font-weight: bold;">labor movement</span>. The resulting 
        strike left St.&nbsp;Petersburg without electricity. On January 22, 
        Father <span style="font-weight: bold;">Georgy Gapon</span> of the 
        Russian Orthodox Church led protestors on a march to the Winter 
        Palace to petition <span style="font-weight: bold;">Tsar 
        Nicholas&nbsp;II</span> for better working conditions and higher 
        wages. The <span style="font-weight: bold;">Imperial Guard</span> 
        fired on the protestors near the <span style="font-weight: bold;">
        Narva Gate</span>. The Revolution of 1905 ultimately led to the 
        establishment of the Russian <span style="font-weight: bold;">
        Duma</span> (parliament) and the adoption of a new constitution. 
        The term &#8220;Bloody Sunday&#8221; is also used for several other 
        incidents, including several events in Ireland and Northern Ireland.
    </li>
	<li class="list_item">
        <span class="label">The St. Valentine&#8217;s Day Massacre</span> 
        (February 14, 1929) was the murder of seven members of 
        <span style="font-weight: bold;">Bugs Moran</span>&#8217;s 
        <span style="font-weight: bold;">North Side Gang</span> in 
        <span style="font-weight: bold;">Chicago</span>. The murders were 
        carried out by gangsters under the command of 
        <span style="font-weight: bold;">Al Capone</span>. It is widely 
        believed that former members of a gang known as 
        <span style="font-weight: bold;">Egan&#8217;s Rats</span>, 
        including <span style="font-weight: bold;">Fred Burke</span>, were 
        the gunmen. The victims were lured to a 
        <span style="font-weight: bold;">warehouse in Lincoln Park</span> 
        with the promise of crates of stolen <span style="font-weight: bold;">
        whiskey</span>, which was especially valuable during 
        <span style="font-weight: bold;">Prohibition</span>. The only 
        survivor was a dog named <span style="font-weight: bold;">Highball
        </span>. <span style="font-weight: bold;">Jack McGurn</span>, one of 
        the gunmen, avoided charges in the massacre thanks to the so-called 
        <span style="font-weight: bold;">&#8220;Blond Alibi&#8221;</span> 
        after taking the chief witness against him across state lines and 
        marrying her. The St. Valentine&#8217;s Day Massacre turned public 
        opinion against Capone and led to him being named 
        <span style="font-weight: bold;">&#8220;Public Enemy No. 
        1.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">The Rape of Nanking</span> (beginning December 13, 
        1937 and lasting six weeks) was a period of mass murder committed in 
        Nanking (today generally spelled &#8220;Nanjing&#8221;) by the 
        <span style="font-weight: bold;">Japanese army</span> early in 
        the <span style="font-weight: bold;">Second SinoJapanese War</span>. 
        At the time, Nanjing was the capital of the 
        <span style="font-weight: bold;">Republic of China</span>. The 
        Japanese troops were commanded by <span style="font-weight: bold;">
        Prince Yasuhiko Asaka</span> and <span style="font-weight: bold;">
        Iwane Matsui</span>. One famous anecdote from the massacre concerns 
        a <span style="font-weight: bold;">contest</span> between two Japanese 
        soldiers to kill 100 Chinese civilians with a sword. Since Japan was 
        not yet at war with the various Western nations, Chinese civilians 
        who were able to make their way into the 
        <span style="font-weight: bold;">&#8220;Nanking Safety Zone&#8221;
        </span> around the foreign embassies were safe from harm. Episcopalian 
        missionary <span style="font-weight: bold;">John Magee</span> 
        extensively photographed the massacre. In 1997, the American-born 
        Chinese author <span style="font-weight: bold;">Iris Chang</span> 
        wrote a bestselling account of the massacre titled 
        <i style="font-weight: bold;">The Rape of Nanking</i>.
    </li>
	<li class="list_item">
        <span class="label">The My Lai Massacre</span> (March 16, 1968) was 
        a mass murder of at least 300 <span style="font-weight: bold;">
        unarmed Vietnamese civilians</span> in a hamlet codenamed 
        <span style="font-weight: bold;">&#8220;Pinkville&#8221;</span> in 
        Vietnam&#8217;s <span style="font-weight: bold;">Quang Nai Province
        </span> by <span style="font-weight: bold;">U.S. troops</span> during 
        the Vietnam War. The only man convicted for his role in the massacre 
        was <span style="font-weight: bold;">William Calley</span>, who 
        defended himself by saying he was <span style="font-weight: bold;">
        &#8220;just following orders&#8221;</span> given by 
        <span style="font-weight: bold;">Ernest Medina</span>. Helicopter 
        pilot <span style="font-weight: bold;">Hugh Thompson Jr.</span> 
        attempted to radio for help and later rescued a four-year-old girl, 
        for which he was awarded the <span style="font-weight: bold;">
        Distinguished Flying Cross</span>. Photographs of the massacre were 
        taken by <span style="font-weight: bold;">Ronald Haeberle</span>. 
        <span style="font-weight: bold;">Seymour Hersh</span> won a 
        Pulitzer Prize for uncovering the events of the My Lai Massacre 
        through extensive interviews with Calley. Hersh later broke the 
        story of the mistreatment of detainees at Abu Ghraib Prison during 
        the Iraq War.
    </li>
	<li class="list_item">
        <span class="label">The Kent State Shootings</span> (May 4, 1970) took 
        place during a <span style="font-weight: bold;">nonviolent anti-war 
        demonstration</span> by students at <span style="font-weight: bold;">
        Ohio</span>&#8217;s Kent State University. The students were 
        protesting the <span style="font-weight: bold;">Nixon administration
        </span>&#8217;s bombing of <span style="font-weight: bold;">Cambodia
        </span> during the Vietnam War. Ohio governor Jim Rhodes called in 
        the <span style="font-weight: bold;">National Guard</span>, which 
        fired into the crowd and killed four students: 
        <span style="font-weight: bold;">Jeffrey Miller</span>, 
        <span style="font-weight: bold;">Allison Krause</span>, 
        <span style="font-weight: bold;">William Schroeder</span>, and 
        <span style="font-weight: bold;">Sandra Lee Scheur</span>. A 
        photograph taken by <span style="font-weight: bold;">John Filo</span> 
        of <span style="font-weight: bold;">Mary Ann Vecchio</span> kneeling 
        over the body of Jeffrey Miller won the Pulitzer Prize. Ten days 
        later, two students at the historically black 
        <span style="font-weight: bold;">Jackson State University</span> in 
        Mississippi were killed under similar circumstances, but those 
        shootings received far less press attention. The protest song 
        &#8220;Ohio&#8221; by Crosby, Stills, Nash &amp; Young was written 
        shortly after the massacre.
    </li>
	<li class="list_item">
        <span class="label">The Tiananmen Square Protests</span> (June 4, 1989) 
        were a series of <span style="font-weight: bold;">student-led pro-
        democracy protests</span> in Beijing&#8217;s Tiananmen Square during 
        the spring of 1989. One day after the death of former Politburo member 
        <span style="font-weight: bold;">Hu Yaobang</span>, students gathered 
        in the public square to demonstrate for greater 
        <span style="font-weight: bold;">political freedom</span>. The 
        students camped out in the square for over a month, and similar 
        movements took place throughout China. One famous symbol of the 
        protests was the <span style="font-weight: bold;">Goddess of Democracy 
        statue</span> erected in the square. Within the Chinese government, 
        <span style="font-weight: bold;">Zhao Ziyang</span> was sympathetic 
        to the students&#8217; demands, but the paramount leader 
        <span style="font-weight: bold;">Deng Xiaoping</span> viewed the 
        protests as a challenge to his authority. 
        <span style="font-weight: bold;">Martial law</span> was declared on 
        May 20, and the <span style="font-weight: bold;">People&#8217;s 
        Liberation Army</span> began clearing the square late at night on 
        June 3. The resulting massacre is sometimes known as the 
        <span style="font-weight: bold;">June 4 Incident</span>. In an 
        effort to circumvent Chinese censorship, some people also refer to 
        the massacre using terms such as <span style="font-weight: bold;">
        &#8220;May 35th&#8221;</span> or <span style="font-weight: bold;">
        &#8220;VIIV&#8221;</span> (the Roman numerals for 6 and 4). A 
        famous photograph, known as <span style="font-weight: bold;">
        &#8220;Tank Man,&#8221;</span> shows an anonymous protestor 
        standing in front of a row of tanks.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}