{% extends "base.html" %}  {% block title %}Medieval Islamic Dynasties{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Medieval Islamic Dynasties</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/medieval-islamic-dynasties.html">
    You Gotta Know These Medieval Islamic Dynasties
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Umayyad</span>: The Umayyads ruled as 
        <span style="font-weight: bold;">caliphs</span> from 
        <span style="font-weight: bold;">Damascus</span> from 661&ndash;750. 
        They came to power in the civil war following the death of 
        <span style="font-weight: bold;">Uthman</span> when 
        <span style="font-weight: bold;">Mu&#8217;awiyah Ibn Abu Sufyan
        </span> defeated the forces of <span style="font-weight: bold;">Ali 
        Ibn Abi Talib</span> after the latter&#8217;s assassination. Denounced 
        in traditional Islamic historiography for their 
        <span style="font-weight: bold;">secular rule</span>, they introduced 
        <span style="font-weight: bold;">hereditary transmission of office
        </span> into Islam and <span style="font-weight: bold;">favored Arabs
        </span> at the expense of other Muslims. Under 
        <span style="font-weight: bold;">&#8217;Abd al-Malik</span>, the 
        <span style="font-weight: bold;">Umayyad Mosque</span> was 
        constructed in Damascus. In the 10th century, an Umayyad scion 
        re-established the dynasty in <span style="font-weight: bold;">
        Cordoba, Spain</span>.
    </li>
	<li class="list_item">
        <span class="label">Abbasid</span>: The Abbasids reigned as caliphs 
        from <span style="font-weight: bold;">Baghdad</span> from 
        750&ndash;1258, and later from <span style="font-weight: bold;">
        Cairo</span> from 1261&ndash;1517.  They rode to power on widespread 
        <span style="font-weight: bold;">disaffection with the Umayyads
        </span> and the sense that a <span style="font-weight: bold;">member 
        of the Prophet&#8217;s family</span> was best qualified to lead the 
        community. Their greatest rulers were <span style="font-weight: bold;">
        al-Mansur</span>, <span style="font-weight: bold;">Harun ar-Rashid
        </span>, and <span style="font-weight: bold;">al-Mamun the Great
        </span>. During the 9th century, however, power began to devolve 
        onto increasingly <span style="font-weight: bold;">autonomous local 
        dynasties</span>, and the Abbasids fell under the control of outside 
        forces such as the <span style="font-weight: bold;">Buyids</span> and 
        <span style="font-weight: bold;">Seljuqs</span>.  When the 
        <span style="font-weight: bold;">Mongols</span> destroyed Baghdad 
        in 1258, the caliph <span style="font-weight: bold;">as-Mustazim
        </span> was <span style="font-weight: bold;">wrapped in a carpet and 
        trampled</span> to death by horses.
    </li>
	<li class="list_item">
        <span class="label">Fatimid</span>: The Fatimids were 
        <span style="font-weight: bold;">Isma&#8217;ili Shi&#8217;ite</span> 
        Imams who founded their state in <span style="font-weight: bold;">
        North Africa</span> in 909 under the caliph 
        <span style="font-weight: bold;">al-Mahdi</span>. They conquered 
        <span style="font-weight: bold;">Egypt</span> in 969 under 
        <span style="font-weight: bold;">al-Muizz</span> and built Cairo, 
        becoming the <span style="font-weight: bold;">Abbasids&#8217; rivals
        </span>.  At its height their regime reached into 
        <span style="font-weight: bold;">Yemen</span> and 
        <span style="font-weight: bold;">Syria</span>, and they had a 
        network of <span style="font-weight: bold;">missionaries</span> 
        spreading Isma&#8217;ili doctrines into Abbasid territory and beyond. 
        In the eleventh century, the caliph <span style="font-weight: bold;">
        al-Hakim</span> &mdash; considered insane &mdash; disappeared, 
        giving rise to the <span style="font-weight: bold;">Druze</span> 
        religion. A later succession dispute gave rise to the sect of the 
        <span style="font-weight: bold;">Assassins</span>.  The last caliph, 
        <span style="font-weight: bold;">al-Adil</span>, died in 1171.
    </li>
	<li class="list_item">
        <span class="label">Seljuq</span>: The Seljuqs were a family of 
        <span style="font-weight: bold;">Ghuzz Turks</span> who invaded the 
        Middle East in the eleventh century and came to control the 
        <span style="font-weight: bold;">Abbasid</span> caliphs of Baghdad. 
        Following their <span style="font-weight: bold;">defeat of the 
        Byzantines</span> at the <span style="font-weight: bold;">Battle of 
        Manzikert</span> in 1071, they settled in 
        <span style="font-weight: bold;">Anatolia</span> as well, where they 
        founded the <span style="font-weight: bold;">Sultanate of Rum</span>. 
        Following the Central Asian model of <span style="font-weight: bold;">
        &#8220;collective sovereignty,&#8221;</span> they divided territory 
        among the ruling family, which prevented strong political unity. 
        Their rule saw the beginning of the <span style="font-weight: bold;">
        Sunni revival</span> and the spread of religious schools called 
        <i style="font-weight: bold;">madrasas</i> in the Islamic world, 
        giving uniformity to elite beliefs and practices. By 1200 their 
        power was all but extinct.
    </li>
	<li class="list_item">
        <span class="label">Ayyubid</span>: The Ayyubids were 
        <span style="font-weight: bold;">Kurds</span> who took control of 
        <span style="font-weight: bold;">Egypt</span> under the 
        <span style="font-weight: bold;">Zengids</span>. In 1171 
        <span style="font-weight: bold;">Salah ad-Din (Saladin)</span> 
        abolished the <span style="font-weight: bold;">Fatimid caliphate
        </span>, and later took <span style="font-weight: bold;">Damascus
        </span> as well. He retook <span style="font-weight: bold;">Jerusalem
        </span> from the <span style="font-weight: bold;">Crusader kingdoms
        </span>; however, subsequent Crusades undid some of these gains. It 
        was in Ayyubid times that the <span style="font-weight: bold;">Sunni 
        revival</span> came to Egypt. The sultan 
        <span style="font-weight: bold;">al-Kamil</span> gave Jerusalem to 
        <span style="font-weight: bold;">Frederick&nbsp;II</span> in a peace 
        treaty and was visited by <span style="font-weight: bold;">
        St.&nbsp;Francis of Assisi</span>.  The Ayyubids followed the 
        practice of <span style="font-weight: bold;">collective sovereignty
        </span>, and were often politically divided. 
        <span style="font-weight: bold;">Shajar ad-Durr</span>, a woman, 
        was the last to rule Egypt.
    </li>
	<li class="list_item">
        <span class="label">Mamluk</span>: The Mamluks were 
        <span style="font-weight: bold;">slave soldiers</span> of foreign 
        origin who <span style="font-weight: bold;">deposed the Ayyubids
        </span> in 1250. <span style="font-weight: bold;">Baybars</span>, 
        who turned back the <span style="font-weight: bold;">Mongols</span> 
        at the <span style="font-weight: bold;">Battle of Ayn Jalut</span>, 
        is a popular figure in Arabic heroic literature. In 1291 they drove 
        the last Crusaders from <span style="font-weight: bold;">Palestine
        </span>. Their reign is divided into a 
        <span style="font-weight: bold;">&#8220;Bahri&#8221; period</span> 
        from 1250&ndash;1382 and a <span style="font-weight: bold;">
        &#8220;Circassian&#8221; period</span> from 1382&ndash;1517. They 
        were defeated by the <span style="font-weight: bold;">Ottomans
        </span>, who conquered Egypt in 1517.
    </li>
	<li class="list_item">
        <span class="label">Ottoman</span>: The Ottomans were 
        <span style="font-weight: bold;">Turks</span> of uncertain origin 
        who conquered the <span style="font-weight: bold;">Balkans</span> 
        and the <span style="font-weight: bold;">Middle East</span> and 
        brought the central Islamic lands into the 
        <span style="font-weight: bold;">European state system</span>. 
        Their key military victories were the defeat of the 
        <span style="font-weight: bold;">Serbs</span> in the 
        <span style="font-weight: bold;">Battle of Kosovo</span> in 1389, 
        the capture of <span style="font-weight: bold;">Constantinople
        </span> in 1453, and the defeat of the 
        <span style="font-weight: bold;">Mamluks</span> in 1517. During the 
        15th century their lands <span style="font-weight: bold;">replaced 
        Palestine as the major target of the Crusades</span>. They reached 
        their height under <span style="font-weight: bold;">Suleiman the 
        Magnificient</span>, who beseiged <span style="font-weight: bold;">
        Vienna</span> in 1529.  The empire&#8217;s remnants became 
        <span style="font-weight: bold;">Turkey</span> after World 
        War&nbsp;I.
    </li>
	<li class="list_item">
        <span class="label">Mughal</span>: The Mughals ruled most of 
        <span style="font-weight: bold;">India</span> from the early 16th 
        until the mid-18th century, and claimed 
        <span style="font-weight: bold;">descent from both Genghis Khan and 
        Tamerlane</span>.  Their empire was founded by 
        <span style="font-weight: bold;">Babur</span> and expanded under 
        his grandson <span style="font-weight: bold;">Akbar</span>. The 
        <span style="font-weight: bold;">Taj Mahal</span> was built under 
        <span style="font-weight: bold;">Shah Jahan</span>, who brought 
        the empire to the <span style="font-weight: bold;">brink of 
        bankruptcy</span>. <span style="font-weight: bold;">Aurangzeb
        </span> <span style="font-weight: bold;">excluded Hindus</span> 
        from public office, and the empire began to break up soon after 
        his death in 1707.
    </li>
	<li class="list_item">
        <span class="label">Safavid</span>: The Safavids were founded by a 
        <span style="font-weight: bold;">Sunni Sufi</span> (mystic) order 
        under <span style="font-weight: bold;">Shah Ismail</span>, and 
        ruled <span style="font-weight: bold;">Iran</span> from 1502 until 
        1736.  They <span style="font-weight: bold;">forcibly converted
        </span> Iran to <span style="font-weight: bold;">Shi&#8217;ism
        </span>, and later converted themselves (this sounds strange, and 
        is &mdash; it&#8217;s one of history&#8217;s mysteries). They, the 
        <span style="font-weight: bold;">Ottomans</span>, and the 
        <span style="font-weight: bold;">Mughals</span> comprise the three 
        <span style="font-weight: bold;">&#8220;Gunpowder Empires&#8221;
        </span> in what scholars of Islamic history consider the late 
        medieval period. Under <span style="font-weight: bold;">
        Abbas&nbsp;I</span>, a European expert was hired to 
        <span style="font-weight: bold;">reform the military</span> 
        following defeats by both their Ottoman and 
        <span style="font-weight: bold;">Uzbek</span> rivals.  Abbas later 
        captured <span style="font-weight: bold;">Baghdad</span> and 
        <span style="font-weight: bold;">expelled the Portugese</span> 
        from the Persian Gulf. <span style="font-weight: bold;">Esfahan
        </span> was their capital during their height.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Brian Ulrich.</p>
<br />
<br />
<br />
{% endblock %}