{% extends "base.html" %}  {% block title %}Medieval Battles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Medieval Battles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/medieval-battles.html">
    You Gotta Know These Medieval Battles
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Tours</span> (732): The Franks&#8217; victory at 
        the Battle of Tours was a major turning point in the history of 
        Europe. After conquering Iberia, the <span style="font-weight: bold;">
        Umayyads</span> advanced into France as far as 
        <span style="font-weight: bold;">Poitiers</span>. The Franks were 
        led by <span style="font-weight: bold;">Charles Martel</span>, while 
        the Umayyads were led by <span style="font-weight: bold;">Abdul Rahman 
        Al Ghafiqi</span>. The battle was preceded by a pact between the 
        <span style="font-weight: bold;">Berber</span> governor 
        <span style="font-weight: bold;">Munuza</span> and 
        <span style="font-weight: bold;">Odo, Duke of Aquitaine</span>, 
        though Odo was present at Tours. The best contemporary source for 
        the battle is the <span style="font-weight: bold;">Mozarabic 
        Chronicle</span> of 754.
    </li>
	<li class="list_item">
        <span class="label">Hastings</span> (1066): A little more than two 
        weeks after <span style="font-weight: bold;">Stamford Bridge</span>, 
        <span style="font-weight: bold;">Harold Godwinson</span> was defeated 
        by another claimant to the throne of England at Hastings. That 
        claimant was Duke William of Normandy, who is now known as 
        <span style="font-weight: bold;">William the Conqueror</span>. 
        The battle and Harold&#8217;s death are depicted in the 
        <span style="font-weight: bold;">Bayeux Tapestry</span>. The battle 
        took place two weeks after William&#8217;s landing at 
        <span style="font-weight: bold;">Pevensey</span>.
    </li>
	<li class="list_item">
        <span class="label">Manzikert</span> (1071): The Byzantine 
        defeat at Manzikert (Malazgirt in Turkish) by the 
        <span style="font-weight: bold;">Seljuk Turks</span> was a 
        severe blow to the Byzantine empire&#8217;s control of Anatolia. 
        The Seljuks were led by <span style="font-weight: bold;">Alp Arslan
        </span>, while <span style="font-weight: bold;">Emperor 
        Romanus&nbsp;IV</span> led the Byzantines. The Byzantines split 
        their forces in half before the battle by sending general Joseph 
        Tarchaneiotes to Khliat, and were further weakened by the desertion of 
        <span style="font-weight: bold;">Andronicus Dukas</span>. The 
        Byzantine emperor was captured in the battle, but released by Alp 
        Arslan after signing a peace treaty. Romanus&nbsp;IV was later 
        deposed and blinded.
    </li>
	<li class="list_item">
        <span class="label">Las Navas de Tolosa</span> (1212): Las Navas de 
        Tolosa was a major turning point in the 
        <span style="font-weight: bold;">Reconquista</span> of the Iberian 
        peninsula. A Christian alliance of <span style="font-weight: bold;">
        Alfonso&nbsp;VIII of Castile</span>, 
        <span style="font-weight: bold;">Sancho&nbsp;VII of Navarre</span>, 
        <span style="font-weight: bold;">Afonso&nbsp;II of Portugal</span>, 
        and <span style="font-weight: bold;">Peter&nbsp;II of Aragon</span> 
        defeated <span style="font-weight: bold;">Muhammad al-Nasir</span> 
        and the <span style="font-weight: bold;">Almohads</span>.
    </li>
	<li class="list_item">
        <span class="label">Lake Peipus</span> (1242): The Russian victory at 
        this battle ended territorial claims of the 
        <span style="font-weight: bold;">Teutonic Knights</span> on Russian 
        soil. The Russians were led by <span style="font-weight: bold;">
        Alexander Nevsky</span> and <span style="font-weight: bold;">Andrey 
        Yaroslavich</span>, while the <span style="font-weight: bold;">
        Livonian Order</span> (a branch of the Teutonic Order) was led by 
        <span style="font-weight: bold;">Hermann of Dorpat</span>. It is also 
        known as the <span style="font-weight: bold;">Battle on the Ice
        </span> because it was fought on frozen Lake Peipus.
    </li>
	<li class="list_item">
        <span class="label">Bannockburn</span> (1314): The Battle of 
        Bannockburn was a decisive victory for 
        <span style="font-weight: bold;">Robert the Bruce</span>, King of 
        Scots, over <span style="font-weight: bold;">King Edward&nbsp;II
        </span> of England. The English attempted to lift the siege of 
        <span style="font-weight: bold;">Stirling Castle</span>. The battle 
        began with single combat between Robert the Bruce and 
        <span style="font-weight: bold;">Sir Henry de Bohun</span>. The 
        <span style="font-weight: bold;">Earl of Moray</span> commanded the 
        Scottish vanguard near the <span style="font-weight: bold;">Church 
        of St. Ninian</span>.
    </li>
	<li class="list_item">
        <span class="label">Kosovo</span> (1389): This battle between 
        <span style="font-weight: bold;">Serbians</span> and 
        <span style="font-weight: bold;">Ottomans</span> eventually led to 
        the subjugation of Serbia. Both <span style="font-weight: bold;">
        Prince Lazar of Serbia</span> and <span style="font-weight: bold;">
        Sultan Murad&nbsp;I</span> died during the battle. 
        <span style="font-weight: bold;">Bayezid&nbsp;I</span>, who was 
        present at the battle, became the Ottoman Sultan once his father died.
    </li>
	<li class="list_item">
        <span class="label">Grunwald/Tannenberg</span> (1410): The Battle 
        of Grunwald marked a major turning point in Eastern European 
        history as it led to the decline of the 
        <span style="font-weight: bold;">Teutonic Knights</span> and the 
        rise of <span style="font-weight: bold;">Poland-Lithuania</span>. 
        <span style="font-weight: bold;">Grand Master Ulrich von Jungingen
        </span> led the Teutonic Knights, and 
        <span style="font-weight: bold;">King W&#322;adys&#322;aw&nbsp;II 
        Jagiello</span> led Polish forces and 
        <span style="font-weight: bold;">Grand Duke Vytautas</span> led 
        the Lithuanians. After their defeat, the Teutonic Knights held out 
        in <span style="font-weight: bold;">Marienburg Castle</span> until 
        the <span style="font-weight: bold;">Peace of Thorn</span> in 1411.
    </li>
	<li class="list_item">
        <span class="label">Agincourt</span> (1415): The outnumbered army of 
        <span style="font-weight: bold;">King Henry&nbsp;V</span> of England 
        defeated the army of <span style="font-weight: bold;">King 
        Charles&nbsp;VI</span> of France under 
        <span style="font-weight: bold;">Charles d&#8217;Albret</span>. 
        French commanders <span style="font-weight: bold;">Jean 
        le&nbsp;Maingre</span> and <span style="font-weight: bold;">Charles 
        d&#8217;Orleans</span> were captured. The battle occurred about one 
        month after the English victory at the 
        <span style="font-weight: bold;">Siege of Harfleur</span>. Five 
        years after Agincourt, Henry was recognized as the heir to the 
        French throne through the <span style="font-weight: bold;">
        Treaty of Troyes</span>.
    </li>
	<li class="list_item">
        <span class="label">Constantinople</span> (1453): Constantinople fell 
        to the <span style="font-weight: bold;">Ottomans</span> on May 29, 
        1453 after a seven-week siege. The <span style="font-weight: bold;">
        Byzantine</span> defenders were led by 
        <span style="font-weight: bold;">Emperor Constantine&nbsp;XI</span> 
        and a Genoese captain named <span style="font-weight: bold;">Giovanni 
        Giustiniani</span>, and the Ottomans were led by 
        <span style="font-weight: bold;">Sultan Mehmed&nbsp;II</span> and 
        <span style="font-weight: bold;">Zaganos Pasha</span>. Preparations 
        for the siege included the building of 
        <span style="font-weight: bold;">Rumeli Hisar</span> across from 
        <span style="font-weight: bold;">Anadolu Hisar</span> on the 
        <span style="font-weight: bold;">Bosphorus</span>. The defenders 
        stretched a chain across the <span style="font-weight: bold;">Golden 
        Horn</span>, but the Ottomans rolled their ships over 
        <span style="font-weight: bold;">Galata Hill</span> on greased 
        logs to encircle the city.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}