{% extends "base.html" %}  {% block title %}Modern Speeches{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Modern Speeches</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/modern-speeches.html">
    You Gotta Know These Modern Speeches
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Ain&#8217;t I a Woman</span> (1857) was an 
        extemporaneous speech by abolitionist and women&#8217;s rights 
        advocate <span style="font-weight: bold;">Sojourner Truth</span> at 
        the <span style="font-weight: bold;">Women&#8217;s Convention in 
        Akron, Ohio</span>. Truth, a former slave, proclaimed that she could 
        <span style="font-weight: bold;">&#8220;work as much and eat as much 
        as a man&#8221;</span> and <span style="font-weight: bold;">
        &#8220;bear the lash as well&#8221;</span> while repeatedly returning 
        to the question &#8220;and ain&#8217;t I a woman?&#8221; Truth also 
        remarked that, even as a woman, <span style="font-weight: bold;">
        &#8220;nobody ever helps me into carriages&#8221;</span> because of 
        her race. The speech was later published and popularized by feminist 
        <span style="font-weight: bold;">Frances Dana Barker Gage</span>.
    </li>
	<li class="list_item">
        <span class="label">The Gettysburg Address</span> (1863) was delivered 
        by Abraham Lincoln at the <span style="font-weight: bold;">dedication 
        of a cemetery</span> on the site of the Battle of Gettysburg in 
        Pennsylvania. Delivered following <span style="font-weight: bold;">
        Edward Everett</span>&#8217;s two-hour dedication oration, 
        Lincoln&#8217;s remarks ran for just <span style="font-weight: bold;">
        two minutes</span>. The president opened by referring to the birth of 
        the United States <span style="font-weight: bold;">&#8220;four score 
        and seven years ago,&#8221;</span> when the founders created a nation 
        <span style="font-weight: bold;">&#8220;dedicated to the proposition 
        that all men are created equal.&#8221;</span> Lincoln praised the dead 
        of Gettysburg for giving <span style="font-weight: bold;"> &#8220;the 
        last full measure of devotion&#8221;</span> and said he hoped their 
        sacrifice would lead to <span style="font-weight: bold;">&#8220;a new 
        birth of freedom.&#8221;</span> Only five manuscripts of the speech 
        exist, with the most complete draft being the 
        <span style="font-weight: bold;">Bliss Copy</span> now kept at the 
        White House.
    </li>
	<li class="list_item">
        <span class="label">The Cross of Gold speech</span> (1896) was 
        delivered by former Nebraska congressman 
        <span style="font-weight: bold;">William Jennings Bryan</span> at 
        the <span style="font-weight: bold;">1896 Democratic National 
        Convention</span> in support of the 
        <span style="font-weight: bold;">&#8220;free silver&#8221;</span> 
        economic policy. Bryan lambasted <span style="font-weight: bold;">
        &#8220;the idle holders of idle capital,&#8221;</span> who 
        benefitted from a currency based on the 
        <span style="font-weight: bold;">gold standard</span>. Instead, 
        Bryan supported <span style="font-weight: bold;">bimetallism</span> 
        as a way to make <span style="font-weight: bold;">&#8220;the masses 
        prosperous.&#8221;</span> At the end of the speech, he dismissed 
        the gold standard as a <span style="font-weight: bold;">&#8220;crown 
        of thorns&#8221;</span> and proclaimed 
        <span style="font-weight: bold;">&#8220;You shall not crucify 
        mankind upon a cross of gold.&#8221;</span> The speech catapulted 
        Bryan to prominence and helped him secure the Democratic nomination 
        for president, though he lost the election to Republican 
        <span style="font-weight: bold;">William McKinley</span>.
    </li>
	<li class="list_item">
        <span class="label">The War Speeches</span> (1940) were a series of 
        addresses given by British Prime Minister 
        <span style="font-weight: bold;">Winston Churchill</span> to 
        Parliament during the <span style="font-weight: bold;">Battle of 
        France</span> in World War II. The first speech promised 
        <span style="font-weight: bold;">&#8220;blood, toil, tears, and 
        sweat&#8221;</span> in the fight against Germany and stated 
        Britain&#8217;s commitment to <span style="font-weight: bold;">
        &#8220;victory at all costs.&#8221;</span> The second speech 
        described Allied losses and the evacuation at 
        <span style="font-weight: bold;">Dunkirk</span>, acknowledging the 
        possibility of invasion but declaring <span style="font-weight: bold;">
        &#8220;we shall fight on the beaches&#8221;</span> and 
        <span style="font-weight: bold;">&#8220;defend our island whatever 
        the cost will be.&#8221;</span> The final message came when the fall 
        of France was imminent and claimed that the fight to come would go 
        down as Britain&#8217;s <span style="font-weight: bold;">&#8220;finest 
        hour.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">The Jewel Voice Broadcast</span> (1945), formally 
        titled &#8220;The Imperial Rescript on the Termination of the 
        War,&#8221; was a radio message by <span style="font-weight: bold;">
        Emperor Hirohito</span> announcing <span style="font-weight: bold;">
        Japan&#8217;s defeat and surrender</span> in World War II. Army 
        officers who opposed the speech tried to destroy the recording of it 
        the night before it aired, an attempted coup called the 
        <span style="font-weight: bold;">Kyujo Incident</span>. In the speech, 
        Hirohito recognized the power of America&#8217;s 
        <span style="font-weight: bold;">&#8220;new and most cruel bomb&#8221;
        </span> and urged his people to <span style="font-weight: bold;">
        &#8220;endure the unendurable&#8221;</span> in order to save their 
        nation. The message was written in <span style="font-weight: bold;">
        classical Japanese</span>, making it difficult for most Japanese 
        citizens to understand. It was the first time the emperor directly 
        addressed common people.
    </li>
	<li class="list_item">
        <span class="label">The &#8220;Tryst with Destiny&#8221; speech</span> 
        (1947) was delivered by Prime Minister 
        <span style="font-weight: bold;">Jawaharlal Nehru</span> on 
        the night of <span style="font-weight: bold;">India&#8217;s 
        independence</span>. Speaking minutes before independence became 
        official at midnight, Nehru celebrated that Indians will 
        <span style="font-weight: bold;">&#8220;awake to life and 
        freedom&#8221;</span> and laid out his vision for a nation striving 
        toward <span style="font-weight: bold;">&#8220;peace, freedom, and 
        democracy.&#8221;</span> Nehru also praised 
        <span style="font-weight: bold;">Mahatma Gandhi</span> as &#8220;the 
        Father of our Nation&#8221; and thanked him for holding 
        <span style="font-weight: bold;">&#8220;the torch of freedom&#8221;
        </span> in the fight for independence.
    </li>
	<li class="list_item">
        <span class="label">The &#8220;Checkers&#8221; speech</span> 
        (1952) was a television and radio address made by 
        <span style="font-weight: bold;">Richard Nixon</span> during the 1952 
        presidential election. Nixon was running for 
        <span style="font-weight: bold;">vice-president</span> on the 
        Republican ticket with <span style="font-weight: bold;">Dwight 
        Eisenhower</span>, but had been accused of illegally using a campaign 
        <span style="font-weight: bold;">slush fund</span> for personal 
        spending. In the speech, Nixon explained his finances and argued that 
        he never benefited from political gifts, except for a 
        <span style="font-weight: bold;">cocker spaniel</span> named Checkers 
        that had been given to his daughters. The speech was inspired by a 
        1944 speech by Franklin Roosevelt defending his dog, Fala.
    </li>
	<li class="list_item">
        <span class="label">The Secret Speech</span> (1956), formally titled 
        <span style="font-weight: bold;">&#8220;On the Cult of Personality 
        and Its Consequences,&#8221;</span> was a report given by Soviet 
        Premier <span style="font-weight: bold;">Nikita Khrushchev</span> to 
        the Congress of the Communist Party denouncing the regime of his 
        predecessor, <span style="font-weight: bold;">Joseph Stalin</span>. 
        Khrushchev specifically criticized Stalin for making his own rivals 
        in the Communist Party and the Red Army into 
        <span style="font-weight: bold;">&#8220;enemies of the people,&#8221;
        </span> as well as for glorifying himself above the party and the 
        country. The controversial speech contributed to the split between 
        the Soviet Union and Communist China and to the 1956 Hungarian 
        Revolution.
    </li>
	<li class="list_item">
        <span class="label">The &#8220;I Have a Dream&#8221; speech</span> 
        (1963) was delivered by the <span style="font-weight: bold;">Rev. 
        Martin Luther King Jr.</span> on the steps of the 
        <span style="font-weight: bold;">Lincoln Memorial</span> during the 
        <span style="font-weight: bold;">March on Washington</span>. King 
        began his oration by calling the promise of the Declaration of 
        Independence a <span style="font-weight: bold;">&#8220;bad 
        check&#8221;</span> given to African Americans and urging action 
        <span style="font-weight: bold;">&#8220;until justice rolls down 
        like waters.&#8221;</span> After singer 
        <span style="font-weight: bold;">Mahalia Jackson</span> encouraged 
        him to <span style="font-weight: bold;">&#8220;tell them about the 
        dream,&#8221;</span> King described his vision of former slaves 
        and slaveholders sitting <span style="font-weight: bold;">
        &#8220;at the table of brotherhood&#8221;</span> and of his children 
        being judged by <span style="font-weight: bold;">&#8220;the content 
        of their character&#8221;</span> rather than by their race. The 
        speech concluded by proclaiming <span style="font-weight: bold;">
        &#8220;free at last, Great God almighty, we are free at 
        last.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">I am Prepared to Die</span> (1964) was a speech 
        delivered by <span style="font-weight: bold;">Nelson Mandela</span> 
        during his prosecution for terrorism charges in the 
        <span style="font-weight: bold;">Rivonia Trial</span>. In the 
        three-hour speech, Mandela defended his leadership of the 
        <span style="font-weight: bold;">Spear of the Nation</span>, the 
        militant wing of the <span style="font-weight: bold;">African National 
        Congress</span> working to end <span style="font-weight: bold;">
        apartheid</span> in <span style="font-weight: bold;">South Africa
        </span>. At the conclusion of the speech, Mandela restated his 
        commitment to the &#8220;struggle of the African people&#8221; 
        and declared <span style="font-weight: bold;">&#8220;I am prepared 
        to die.&#8221;</span> Mandela was convicted, then spent the next 
        <span style="font-weight: bold;">27 years</span> in prison before 
        his release in 1990.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Ben Miller.</p>
<br />
<br />
<br />
{% endblock %}