{% extends "base.html" %}  {% block title %}Napoleonic Battles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Napoleonic Battles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/napoleonic-battles.html">
    You Gotta Know These Napoleonic Battles
    </a>
</h1>
<br />
<p class="justify">
    <span style="font-weight: bold;">Napoleon Bonaparte</span> (born 1769 on 
    the Mediterranean island <span style="font-weight: bold;">Corsica</span>) 
    rose to power during the later stages of the French Revolution. He 
    defended the revolutionary government with artillery fire during the 
    <span style="font-weight: bold;">coup of 13 Vend&eacute;miaire</span> 
    (October 1795) and was rewarded with command of the French forces in 
    Italy, where his series of battlefield victories 
    <span style="font-weight: bold;">forced Austria to sign the 1797 Treaty 
    of Campo Formio</span>. Over the next eighteen years, Napoleon rose 
    from general to first consul to <span style="font-weight: bold;">emperor 
    of France</span>, effectively ending the French Revolution and provoking 
    a series of <span style="font-weight: bold;">&#8220;Napoleonic Wars&#8221;
    </span> that sent French troops into battle in places as distant as Egypt, 
    Portugal, and central Russia. To defeat and depose the upstart emperor, 
    it took a coalition of European powers nearly two decades of warfare, 
    including the following battles:
</p>
<br />
<ul class="list2">
    <li class="list_item">
        <span class="label">The Pyramids</span> (July&nbsp;21, 1798, Egypt) and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">the Nile</span> (August 1&ndash;3, 1798, Egypt) 
        After his victory over Austria, Napoleon proposed crossing the 
        Mediterranean and <span style="font-weight: bold;">invading Egypt
        </span>. While the stated goal of this expedition was to strike a blow 
        against <span style="font-weight: bold;">British trade</span> with 
        the Middle East and Asia, it also catered to Napoleon&#8217;s 
        <span style="font-weight: bold;">fascination with antiquity</span>. 
        A team of scientists followed his military expedition, whose most 
        lasting result was the <span style="font-weight: bold;">discovery 
        of the Rosetta Stone</span>, unearthed by soldiers digging to 
        construct a <span style="font-weight: bold;">fort in the Nile delta
        </span>. Napoleon supposedly cried <span style="font-weight: bold;">
        &#8220;Soldiers, forty centuries look down upon you&#8221;</span> at 
        the 1798 Battle of the Pyramids, where his troops used 
        <span style="font-weight: bold;">modern artillery</span> and large 
        <span style="font-weight: bold;">square formations</span> to ward off 
        a cavalry charge by the Egyptian <span style="font-weight: bold;">
        Mamluks</span>. French control of Egypt, however, was dependent on 
        <span style="font-weight: bold;">communications across the 
        Mediterranean</span>, which were interrupted by the 
        <span style="font-weight: bold;">Royal Navy&#8217;s attack
        </span> on the French fleet in <span style="font-weight: bold;">
        Aboukir Bay</span> in early August. British victory at the Nile 
        forced Napoleon to <span style="font-weight: bold;">abandon his 
        army</span> and return to France.
    </li>
    <li class="list_item">
        <span class="label">Marengo</span> (June&nbsp;14, 1800, northern Italy) 
        The <span style="font-weight: bold;">coup of 18&nbsp;Brumaire</span> 
        (November&nbsp;9, 1799) brought down France&#8217;s existing 
        government (the <span style="font-weight: bold;">Directory</span>) 
        and made Napoleon himself <span style="font-weight: bold;">
        &#8220;first consul,&#8221;</span> the effective leader of France. 
        While Napoleon was absent in Egypt, a 
        <span style="font-weight: bold;">coalition of Austria, Russia, and 
        Britain</span> had pushed French troops back on all fronts. In 1800 
        Napoleon marched over the <span style="font-weight: bold;">Alps
        </span> to roll back Austrian gains in Italy. His troops, 
        overextended in an attempt to relieve the Austrian 
        <span style="font-weight: bold;">siege of Genoa</span>, were hit by 
        an Austrian surprise attack on June&nbsp;14, 1800. General 
        <span style="font-weight: bold;">Louis Desaix</span> led a column of 
        French reinforcements to Napoleon&#8217;s aid; the additional troops 
        drove off the Austrian army, but Desaix was shot and killed.
    </li>
    <li class="list_item">
        <span class="label">Trafalgar</span> (October&nbsp;21, 1805, off the 
        coast of southwestern Spain) In 1804 Napoleon 
        <span style="font-weight: bold;">abolished the consulate</span> and 
        became France&#8217;s <span style="font-weight: bold;">emperor</span>. 
        He faced an array of enemies who made up the 
        <span style="font-weight: bold;">&#8220;Third Coalition&#8221;</span>: 
        the humiliated <span style="font-weight: bold;">Austrians</span> 
        sought military aid from both <span style="font-weight: bold;">
        Russia</span> and <span style="font-weight: bold;">Britain</span>. 
        <span style="font-weight: bold;">France</span> and 
        <span style="font-weight: bold;">Spain</span> allied in the hope of 
        challenging the Royal Navy and making it possible for Napoleon&#8217;s 
        armies to launch an <span style="font-weight: bold;">invasion of 
        Britain</span>. Trafalgar, fought in the Atlantic off the coast of 
        Spain in the fall of 1805, was the <span style="font-weight: bold;">
        last great naval battle</span> of the Napoleonic era. A combined 
        French and Spanish fleet under Admiral 
        <span style="font-weight: bold;">Pierre-Charles Villeneuve</span> 
        was attacked by Royal Navy ships under 
        <span style="font-weight: bold;">Lord Horatio Nelson</span>, 
        Britain&#8217;s greatest admiral. Just before the battle, 
        Nelson&#8217;s flagship &mdash; the <span style="font-weight: bold;">
        HMS <i>Victory</i></span> &mdash; flew the signal 
        <span style="font-weight: bold;">&#8220;England expects that every 
        man will do his duty.&#8221;</span> Although Nelson was 
        <span style="font-weight: bold;">killed by a French sniper</span> 
        in the battle that followed, his ships captured half of the French 
        fleet, including Admiral Villeneuve. French plans to invade Britain 
        were postponed indefinitely.
    </li>
    <li class="list_item">
        <span class="label">Austerlitz</span> (December&nbsp;2, 1805, Czech 
        Republic) Napoleon&#8217;s Grand Army then struck east at Austria 
        and Russia, the <span style="font-weight: bold;">land-bound members 
        of the Third Coalition</span>. Napoleon&#8217;s first move was to 
        force the surrender of 30,000 Austrians under 
        <span style="font-weight: bold;">General Mack</span> at 
        <span style="font-weight: bold;">Ulm</span>. The French then turned 
        east into the heart of Austria, where they seized 
        <span style="font-weight: bold;">Vienna</span> and awaited 
        counterattack by the Russians. At Austerlitz on December&nbsp;2, 1805, 
        a <span style="font-weight: bold;">mostly-Russian coalition army
        </span> collided with the waiting French. (The Russians, led in person 
        by Tsar <span style="font-weight: bold;">Alexander&nbsp;I</span>, were 
        joined by the scattered remains of the Austrian army under Holy Roman 
        Emperor <span style="font-weight: bold;">Francis&nbsp;II</span>. 
        Austerlitz is thus known as the <span style="font-weight: bold;">
        &#8220;Battle of the Three Emperors.&#8221;</span>) The allies, 
        planning to advance their left, abandoned the 
        <span style="font-weight: bold;">Pratzen Heights</span>, a dominating 
        hill in the center of the battlefield. Napoleon seized the heights, 
        <span style="font-weight: bold;">splitting the Russian army</span> 
        and then defeating each half in turn. The resulting 
        <span style="font-weight: bold;">Peace of Pressburg</span> (December 
        26, 1805) ended the War of the Third Coalition and brought about the 
        <span style="font-weight: bold;">downfall of the Holy Roman 
            Empire</span>.
    </li>
    <li class="list_item">
        <span class="label">Jena-Auerstedt</span> (October&nbsp;14, 1806, 
        Germany) In 1806 Napoleon turned his forces against 
        <span style="font-weight: bold;">Prussia</span>. At the twin October 
        battles Jena and Auerstedt, Napoleon and Marshal 
        <span style="font-weight: bold;">Louis-Nicolas Davout</span> worked 
        together to smash a Prussian army led by the 
        <span style="font-weight: bold;">Duke of Brunswick</span>, who was 
        mortally wounded by Davout&#8217;s troops near Auerstadt. The 
        collapse of the Prussian army, widely considered the continent&#8217;s 
        most experienced and professional military force, shocked European 
        observers. Napoleon felt that he had secured revenge for 
        <span style="font-weight: bold;">Frederick the Great</span>&#8217;s 
        victory over France at Rossbach in the 
        <span style="font-weight: bold;">Seven Years&#8217; War</span> (1757).
    </li>
    <li class="list_item">
        <span class="label">Salamanca</span> (July&nbsp;22, 1812, Spain) While 
        Napoleon struggled against Austrians, Russians, and Prussians on the 
        plains of central and eastern Europe, a smaller but no less violent 
        conflict was fought for control of <span style="font-weight: bold;">
        Spain</span> and <span style="font-weight: bold;">Portugal</span>. 
        During this <span style="font-weight: bold;">&#8220;Peninsular 
        War&#8221;</span> (1807&ndash;1814), the throne of Spain was claimed 
        by Napoleon&#8217;s older brother, <span style="font-weight: bold;">
        Joseph Bonaparte</span>. Spanish and Portuguese resistance (the 
        <span style="font-weight: bold;">first &#8220;guerrilla&#8221; 
        warfare</span>, from the Spanish for &#8220;little war&#8221;) was 
        supported by the landing of British troops under the command of the 
        <span style="font-weight: bold;">Duke of Wellington</span>. 
        Wellington&#8217;s triumph over Marshal 
        <span style="font-weight: bold;">Auguste Marmont</span> at Salamanca 
        in July&nbsp;1812 was a decisive blow against the stability of 
        Joseph&#8217;s regime.
    </li>
    <li class="list_item">
        <span class="label">Borodino</span> (September&nbsp;7, 
        1812, Russia) In 1812 Napoleon assembled the 
        <span style="font-weight: bold;">largest army of his reign</span> for 
        the most ambitious military operation of the 19th century: a full-
        scale <span style="font-weight: bold;">invasion of Russia</span>. 
        Russian Tsar <span style="font-weight: bold;">Alexander&nbsp;I</span>, 
        despite losing to Napoleon in central Europe between 1805 and 1807, 
        refused to agree to the <span style="font-weight: bold;">
        &#8220;Continental System,&#8221;</span> the Napoleonic proposal 
        for a Europe-wide <span style="font-weight: bold;">embargo on British 
        trade in manufactured goods</span>. Napoleon&#8217;s march on Moscow 
        was slowed by Russian resistance at <span style="font-weight: bold;">
        Borodino</span>, where Marshal <span style="font-weight: bold;">
        Mikhail Kutuzov</span>&#8217;s army was driven out of fortified 
        redoubts after a day of destructive fighting. Although French forces 
        were briefly able to <span style="font-weight: bold;">seize control 
        of Moscow</span>, the subsequent retreat through the worst of the 
        <span style="font-weight: bold;">Russian winter</span> ruined 
        Napoleon&#8217;s Grand Army.
    </li>
    <li class="list_item">
        <span class="label">Leipzig</span> (October&nbsp;16&ndash;19, 1813, 
        Germany) The following year the <span style="font-weight: bold;">
        Russian army</span> marched west into central Europe at the head of 
        a <span style="font-weight: bold;">&#8220;Sixth Coalition&#8221;
        </span> that brought the previously defeated 
        <span style="font-weight: bold;">Austrians</span> and 
        <span style="font-weight: bold;">Prussians</span> back into 
        hostilities against France. At Leipzig in central Germany, coalition 
        forces met a hastily-assembled replacement army raised by Napoleon 
        after the disaster in Russia. More than 600,000 men fought in this 
        four-day struggle, popularly known as the 
        <span style="font-weight: bold;">&#8220;Battle of the Nations&#8221;
        </span> for the multi-ethnic nature of the coalition army. The forces 
        of <span style="font-weight: bold;">Saxony</span>, one of the minor 
        German states, <span style="font-weight: bold;">switched sides</span> 
        during the Battle of Leipzig, leaving Napoleon&#8217;s army to join 
        the allies. The premature <span style="font-weight: bold;">destruction 
        of a bridge over the River Elster</span> hindered Napoleon&#8217;s 
        retreat from Leipzig, the first in a series of military disasters 
        that led to the emperor&#8217;s forced 
        <span style="font-weight: bold;">abdication</span> and 
        <span style="font-weight: bold;">exile</span> to the Mediterranean 
        island Elba in 1814.
    </li>
    <li class="list_item">
        <span class="label">Waterloo</span> (June&nbsp;18, 1815, Belgium) 
        Napoleon&#8217;s <span style="font-weight: bold;">escape from Elba
        </span> began a period known as the <span style="font-weight: bold;">
        &#8220;Hundred Days,&#8221;</span> in which the emperor briefly 
        returned to the throne of France. The struggle between the restored 
        emperor and the <span style="font-weight: bold;">&#8220;Seventh 
        Coalition&#8221;</span> began when Napoleon&#8217;s 
        <span style="font-weight: bold;">Army of the North</span> marched 
        into the Low Countries, hoping for a showdown with the British, 
        Dutch, and Prussians before the Austrian and Russian armies gathering 
        further east could come to their aid. The French brushed aside Allied 
        advance guards at the two preliminary battles 
        <span style="font-weight: bold;">Quatre Bras</span> and 
        <span style="font-weight: bold;">Ligny</span> on June&nbsp;16. 
        Napoleon&#8217;s victory over the Prussians at Ligny led him to 
        falsely believe that he had enough time to pursue and defeat the 
        British without further <span style="font-weight: bold;">Prussian 
        interference</span>. On June&nbsp;18 Napoleon&#8217;s advance on 
        Brussels approached the crossroads of <span style="font-weight: bold;">
        Mont St.&nbsp;Jean</span>, where the <span style="font-weight: bold;">
        Duke of Wellington</span> had set up a defensive position for a 
        combined army of British <span style="font-weight: bold;">Peninsular 
        War veterans</span>, <span style="font-weight: bold;">Dutch</span>, 
        and <span style="font-weight: bold;">pro-British Germans</span>. On 
        the French left, British troops defended the walled farm 
        <span style="font-weight: bold;">Hougoumont</span> from a series of 
        infantry assaults; in the center, Marshal 
        <span style="font-weight: bold;">Michel Ney</span>&#8217;s massed 
        cavalry charge was broken by the <span style="font-weight: bold;">
        square formations</span> of the British infantry; on the right, 
        <span style="font-weight: bold;">Gebhard von&nbsp;Bl&uuml;cher</span>
        &#8217;s Prussian army arrived to attack the French army in the flank. 
        Napoleon&#8217;s final gamble was to commit his 
        <span style="font-weight: bold;">Imperial Guard</span> to a renewed 
        assault on the Allied center. The guardsmen were cut down by the fire 
        of <span style="font-weight: bold;">British light infantry</span>, 
        leading to the general <span style="font-weight: bold;">collapse of 
        the French army</span>. Napoleon was <span style="font-weight: bold;">
        exiled</span> once more, this time to the isolated South Atlantic 
        island <span style="font-weight: bold;">St.&nbsp;Helena</span>, 
        where he died in 1821.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jeff Hoppes.</p>
<br />
<br />
<br />
{% endblock %}