{% extends "base.html" %}  {% block title %}Native American People{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Native American People</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/native-american-people.html">
    You Gotta Know These Native American People
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">The Iroquois Confederacy</span> originally 
        consisted of five tribes native to <span style="font-weight: bold;">
        upstate New York</span>: the <span style="font-weight: bold;">Mohawk
        </span>, <span style="font-weight: bold;">Cayuga</span>, 
        <span style="font-weight: bold;">Oneida</span>, 
        <span style="font-weight: bold;">Seneca</span>, and 
        <span style="font-weight: bold;">Onondaga</span>. The confederacy was 
        founded based on the teachings of a prophet called the 
        <span style="font-weight: bold;">Great Peacemaker</span>, whose 
        followers included chief <span style="font-weight: bold;">Hiawatha
        </span>, the subject of a famous poem by Henry Wadsworth Longfellow. 
        The confederacy gradually expanded to control much of the Great Lakes 
        and Mid-Atlantic regions and also incorporated the 
        <span style="font-weight: bold;">Tuscarora</span> people, who migrated 
        from North Carolina after defeat in a colonial war. In the 
        <span style="font-weight: bold;">Beaver Wars</span>, the Iroquois and 
        their British allies came to dominate various 
        <span style="font-weight: bold;">Algonquin</span> peoples allied 
        with the French. The Iroquois Confederacy collapsed after the 
        American Revolution, during which leaders like 
        <span style="font-weight: bold;">Joseph Brant</span> stood by 
        the British.
    </li>
	<li class="list_item">
        <span class="label">The Powhatan</span> are an 
        <span style="font-weight: bold;">Algonquin</span>-speaking people 
        who lived in <span style="font-weight: bold;">eastern Virginia</span> 
        when the English colony of <span style="font-weight: bold;">Jamestown
        </span> was founded in 1607. Led by their namesake, 
        <span style="font-weight: bold;">Chief Powhatan</span>, the tribe 
        maintained a tenuous relationship with colonists at Jamestown. 
        Legendarily, John Smith was captured by the Powhatan and was only 
        spared by the intercession of his daughter, 
        <span style="font-weight: bold;">Pocahontas</span>. The Powhatan 
        were decimated by disease and enslavement by the mid-1600s; by the 
        time Thomas Jefferson profiled the tribe in his 
        <i style="font-weight: bold;">Notes on the State of Virginia</i>, 
        they numbered only 300.
    </li>
	<li class="list_item">
        <span class="label">The Cherokee</span> people lived as one of the so-
        called <span style="font-weight: bold;">&#8220;Five Civilized 
        Tribes&#8221;</span> of the <span style="font-weight: bold;">
        southeastern United States</span>, along with the 
        <span style="font-weight: bold;">Creek</span>, 
        <span style="font-weight: bold;">Choctaw</span>, 
        <span style="font-weight: bold;">Chickasaw</span>, and 
        <span style="font-weight: bold;">Seminoles</span>. In the early 1800s, 
        the Cherokee adopted many American cultural practices, from 
        <span style="font-weight: bold;">settled agriculture</span> and 
        <span style="font-weight: bold;">representative government</span> to 
        an original <span style="font-weight: bold;">
        alphabet</span> created by <span style="font-weight: bold;">Sequoyah
        </span>. Though their sovereignty was acknowledged in the case 
        <i style="font-weight: bold;">Worcester v. Georgia</i>, the Cherokee 
        were still driven west along the <span style="font-weight: bold;">
        Trail of Tears</span> after some members signed the 
        <span style="font-weight: bold;">Treaty of New Echota</span>. Today, 
        the Cherokee are the largest federally-recognized Native 
        American tribe.
    </li>
	<li class="list_item">
        <span class="label">The Seminole</span>, another &#8220;civilized 
        tribe,&#8221; lived in what is now <span style="font-weight: bold;">
        Florida</span> and fought multiple wars against the U.S. to resist 
        attempts to force them to move west. In the 
        <span style="font-weight: bold;">First Seminole War</span>, 
        <span style="font-weight: bold;">Andrew Jackson</span> invaded 
        Spanish-controlled Florida and pushed the Seminoles out of the 
        state&#8217;s northern region. Twenty years later, Seminole leaders 
        like <span style="font-weight: bold;">Osceola</span> resisted removal 
        in the <span style="font-weight: bold;">Second Seminole War</span> 
        but were eventually driven to Oklahoma under the terms of the 
        <span style="font-weight: bold;">Treaty of Payne&#8217;s Landing
        </span>. In the 1850s, <span style="font-weight: bold;">Billy 
        Bowlegs</span> led Seminoles who remained in Florida in yet another 
        war against American expansion, but he too was defeated.
    </li>
	<li class="list_item">
        <span class="label">The Shawnee</span> people are native to the 
        <span style="font-weight: bold;">Ohio Valley</span>. Their leader 
        <span style="font-weight: bold;">Blue Jacket</span> allied with the 
        <span style="font-weight: bold;">Miami</span> people to crush an 
        American incursion into the region at the 
        <span style="font-weight: bold;">Battle of the Wabash</span> in 
        1791. Later, the charismatic Shawnee leader 
        <span style="font-weight: bold;">Tecumseh</span> and his visionary 
        brother <span style="font-weight: bold;">Tenkswatawa</span>, also 
        known as &#8220;the Prophet,&#8221; built a coalition of tribes to 
        oppose U.S. expansion. After losing at 
        <span style="font-weight: bold;">Tippecanoe</span> to 
        <span style="font-weight: bold;">William Henry Harrison</span>, the 
        Shawnee allied with the British in the 
        <span style="font-weight: bold;">War of 1812</span> and helped them 
        take Detroit. However, their coalition collapsed after the death of 
        Tecumseh at the <span style="font-weight: bold;">Battle of the 
            Thames</span>.
    </li>
	<li class="list_item">
        <span class="label">The Lakota Sioux</span> were the preeminent tribe 
        of the <span style="font-weight: bold;">northern Great Plains</span> 
        for most of the 19th century. They drove smaller tribes out of the 
        Black Hills and had their territory recognized by the United States 
        in two <span style="font-weight: bold;">Treaties of Fort Laramie
        </span>. When American prospectors invaded the Black Hills, the Sioux 
        fought back. With their allies the <span style="font-weight: bold;">
        Cheyenne</span> and <span style="font-weight: bold;">Arapaho</span>, 
        the Sioux&mdash;led by <span style="font-weight: bold;">Sitting Bull
        </span> and <span style="font-weight: bold;">Crazy Horse</span>
        &mdash;wiped out a U.S. cavalry force led by 
        <span style="font-weight: bold;">George Custer</span> at the 
        <span style="font-weight: bold;">Battle of the Little Bighorn</span>. 
        Later, in the 1890s, a religious movement called the 
        <span style="font-weight: bold;">Ghost Dance</span> spread among the 
        Sioux. While trying to suppress it, U.S. forces slaughtered Sioux 
        civilians in the <span style="font-weight: bold;">Wounded Knee 
        massacre</span>.
    </li>
	<li class="list_item">
        <span class="label">The Shoshone</span> people also held lands on the 
        <span style="font-weight: bold;">northern plains</span>, while their 
        linguistic relatives the <span style="font-weight: bold;">Comanche
        </span> dominated the southern plains. 
        <span style="font-weight: bold;">Sacagawea</span>, a member of the 
        Shoshone, served as an interpreter and guide for 
        <span style="font-weight: bold;">Lewis and Clark&#8217;s Corps of 
        Discovery</span>. The tribe was later devastated by such attacks as 
        the <span style="font-weight: bold;">Bear River massacre</span> and 
        driven from their lands by white settlers. In an attempt to secure 
        aid, the chief <span style="font-weight: bold;">Pocatello</span> led 
        a mass conversion of Shoshone to <span style="font-weight: bold;">
        Mormonism</span> in 1875.
    </li>
	<li class="list_item">
        <span class="label">The Nez Perce</span> people lived along the 
        Columbia River in the <span style="font-weight: bold;">Pacific 
        Northwest </span>and maintained friendly relationships with Americans 
        through most of the 19th century. When the U.S. attempted to remove 
        them from their lands, however, the Nez Perce fought back, embarking 
        on a 1,200-mile retreat that ended only when they were trapped just 
        south of the Canadian border. In a speech, the Nez Perce leader 
        <span style="font-weight: bold;">Chief Joseph</span> then declared 
        <span style="font-weight: bold;">&#8220;I will fight no more 
        forever.&#8221;</span> He and the Nez Perce were subsequently 
        deported to Kansas.
    </li>
	<li class="list_item">
        <span class="label">The Apache</span> people live in the American 
        <span style="font-weight: bold;">southwest</span> and contested 
        land claims with both Mexican and American settlers, having earlier 
        gained a reputation for ferocity by <span style="font-weight: bold;">
        raiding</span> other tribes in the southwest for generations. A 
        federal attempt to seize the Apache chief 
        <span style="font-weight: bold;">Cochise</span> in 1861 led to a 
        series of decades-long clashes with the U.S. government. One Apache 
        leader, <span style="font-weight: bold;">Geronimo</span>, repeatedly 
        broke out of reservations and fought American forces until he was 
        eventually captured by <span style="font-weight: bold;">Nelson Miles
        </span> and exiled to Florida.
    </li>
	<li class="list_item">
        <span class="label">The Navajo</span> people are also indigenous to 
        the American <span style="font-weight: bold;">southwest</span>. 
        After their homeland was devastated in a campaign led by 
        <span style="font-weight: bold;">Kit Carson</span> (the namesake of 
        Carson City, Nevada) the Navajo were driven from Arizona to New 
        Mexico in the <span style="font-weight: bold;">Long Walk to Bosque 
        Redondo</span>. During World War II, Navajo 
        <span style="font-weight: bold;">&#8220;code-talkers&#8221;</span> 
        used their native language to securely transmit messages across the 
        Pacific theater of the war. Today, the Navajo are the 
        second-largest federally-recognized tribe and administer the 
        <span style="font-weight: bold;">Four Corners Monument</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Ben Miller.</p>
<br />
<br />
<br />
{% endblock %}