{% extends "base.html" %}  {% block title %}People of the Early Middle Ages{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">People of the Early Middle Ages</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/peoples-of-the-early-middle-ages.html">
    You Gotta Know These People of the Early Middle Ages
    </a>
</h1>
<br />
<p class="justify">
    During the early medieval period 
    (c.&nbsp;350&nbsp;&ndash;&nbsp;c.&nbsp;1100), Europe was transformed 
    by political, religious, and cultural change. The Roman empire gave way 
    to a <span style="font-weight: bold;">multitude of quarrelling post-Roman 
    states</span>; <span style="font-weight: bold;">pagan peoples were 
    converted</span> by Christian missionary bishops; and the Mediterranean 
    heritage of the ancient world combined with the different traditions of 
    northern European peoples to set the foundations for the western 
    European kingdoms of the high middle ages and Renaissance.
</p>
<p class="justify">
    In German, this period is sometimes known as the 
    <i style="font-weight: bold;">V&ouml;lkerwanderung</i>, the &#8220;age of 
    migrating peoples.&#8221; Maps that show giant arrows sweeping south 
    from the Baltic into the heart of the Roman empire give a false 
    impression of the stability and coherence of early medieval political 
    units. The summaries below focus on those peoples who established 
    <span style="font-weight: bold;">lasting kingdoms in the early medieval 
    west</span>; keep in mind that all such units began as 
    <span style="font-weight: bold;">loosely affiliated tribal confederations
    </span>.
</p>
<br />
<ul class="list2">
    <li class="list_item">
        In the late fourth century, the <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Huns</span> entered central 
        Europe from the <span style="font-weight: bold;">steppes north of 
        the Black and Caspian Seas</span>. Historians disagree on what, if 
        any, components of the Hunnic advance should be identified with the 
        <span style="font-weight: bold;">Xiongnu</span>, a confederation of 
        Central Asian nomads that fought against Han China before being 
        dispersed in the third century. The Roman historian 
        <span style="font-weight: bold;">Ammianus Marcellinus</span> wrote 
        that they inflicted <span style="font-weight: bold;">&#8220;tremendous 
        slaughter&#8221; on Germanic and Roman enemies</span> alike. Their 
        great leader, <span style="font-weight: bold;">Attila</span> &mdash; 
        known as the <span style="font-weight: bold;">&#8220;scourge of 
        God&#8221;</span> &mdash; was defeated at the 
        <span style="font-weight: bold;">Catalaunian Fields</span> (near 
        <span style="font-weight: bold;">Chalons</span> in what is now 
        northern France) by an <span style="font-weight: bold;">alliance 
        of Romans and Visigoths</span>. After Attila&#8217;s death in 453, 
        a <span style="font-weight: bold;">rebellion of Germanic subject 
        peoples</span> broke up the Hunnic empire.
    </li>
    <li class="list_item">
        The <span class="label">Visigoths</span> were one of a number of Germanic 
        peoples <span style="font-weight: bold;">scattered by the advance of 
        the Huns</span>. They took refuge south of the Danube under the 
        <span style="font-weight: bold;">protection of the Roman Empire
        </span>. When that &#8220;protection&#8221; was revealed to consist 
        of <span style="font-weight: bold;">abuse</span>, 
        <span style="font-weight: bold;">fraud</span>, and 
        <span style="font-weight: bold;">starvation</span>, they 
        <span style="font-weight: bold;">rebelled</span> and caused disorder 
        in Rome&#8217;s <span style="font-weight: bold;">Balkan provinces
        </span>. When the emperor <span style="font-weight: bold;">Valens
        </span> sent in the army to restore order, Goths &mdash; led by 
        <span style="font-weight: bold;">Fritigern</span> &mdash; shattered 
        the Roman army at <span style="font-weight: bold;">Adrianople</span> 
        (378), where Valens was killed. For the next forty years, groups 
        of Visigoths <span style="font-weight: bold;">wandered the Roman 
        world</span> searching for a place to settle. In 410 Visigoths led 
        by <span style="font-weight: bold;">Alaric</span> 
        <span style="font-weight: bold;">sacked Rome</span> itself. By the 
        middle of the fifth century, the Visigoths had settled in 
        <span style="font-weight: bold;">southern Gaul</span> (the 
        &#8220;kingdom of Toulouse&#8221;) and the 
        <span style="font-weight: bold;">Iberian peninsula</span>. Christians 
        among the Visigoths, like those among their Ostrogothic and Vandalic 
        neighbors, subscribed to the <span style="font-weight: bold;">
        heretical &#8220;Arian&#8221;</span> beliefs, which caused conflict 
        with their Roman subjects until the Visigothic 
        <span style="font-weight: bold;">kings converted</span> at a 589 
        church council. Driven out of southern Gaul by the hostile 
        <span style="font-weight: bold;">Franks</span>, the Visigoths 
        retained control over most of what is now Spain until their king 
        <span style="font-weight: bold;">Roderic</span> was 
        <span style="font-weight: bold;">killed by Islamic invaders</span> 
        from North Africa in 711.
</li>
    <li class="list_item">
        When the Visigoths fled into the Roman empire, the 
        <span class="label">Ostrogoths</span> were one of numerous 
        <span style="font-weight: bold;">Germanic peoples</span> subjected 
        to the Huns north of the Danube. They <span style="font-weight: bold;">
        threw off Hunnic domination</span> after the death of Attila. After 
        the last Roman emperor of the west, <span style="font-weight: bold;">
        Romulus Augustulus</span>, was <span style="font-weight: bold;">
        deposed</span> in 476, the Ostrogoths took advantage of the chaos to 
        <span style="font-weight: bold;">occupy Italy</span> and establish 
        their own kingdom. Their king <span style="font-weight: bold;">
        Theodoric</span>, known as &#8220;the Great,&#8221; ruled from 493 
        to 526 and tried to restore peace to Italy. The philosopher 
        <span style="font-weight: bold;">Boethius</span> worked as an 
        official at Theodoric&#8217;s court. The Ostrogothic kingdom 
        <span style="font-weight: bold;">collapsed</span> in the 6th century 
        after the Byzantine generals <span style="font-weight: bold;">
        Belisarius</span> and <span style="font-weight: bold;">Narses</span> 
        fought a series of destructive <span style="font-weight: bold;">
        wars for control of the Italian peninsula</span>.
    </li>
    <li class="list_item">
        The <span class="label">Vandals</span> were one of several peoples who 
        <span style="font-weight: bold;">crossed the frozen Rhine River
        </span> into Roman <span style="font-weight: bold;">Gaul</span> on 
        New Years&#8217; Eve, 406. From Gaul they moved into 
        <span style="font-weight: bold;">Spain</span> and across the Strait 
        of Gibraltar to attack <span style="font-weight: bold;">Roman Africa
        </span>. By 439 the Vandals had occupied 
        <span style="font-weight: bold;">Carthage</span>, gaining control of 
        the <span style="font-weight: bold;">grain trade</span> and possession 
        of a substantial <span style="font-weight: bold;">navy</span>. This 
        they used to embark on a second career as 
        <span style="font-weight: bold;">Mediterranean pirates</span>; their 
        <span style="font-weight: bold;">sack of Rome</span> in 455 under 
        <span style="font-weight: bold;">King Gaiseric</span> was reputedly 
        much more destructive than the Visigothic one 45 years earlier. The 
        ravages of the Vandals so dismayed Roman observers that 
        <span style="font-weight: bold;">&#8220;vandalism&#8221;</span> 
        still indicates senselessly destructive behavior. Like the Ostrogoths, 
        the Vandals were targets of the Byzantine emperor 
        <span style="font-weight: bold;">Justinian</span>&#8217;s attempted 
        <span style="font-weight: bold;">reconquest</span> of the western 
        Mediterranean; Justinian&#8217;s general 
        <span style="font-weight: bold;">Belisarius</span> smashed the Vandal 
        army at <span style="font-weight: bold;">Tricamerum</span> in 
        December 533.
    </li>
    <li class="list_item">
        The <span class="label">Lombards</span> moved into northern Italy (the 
        region still known today as <span style="font-weight: bold;">
        &#8220;Lombardy&#8221;</span>) after the peninsula had been 
        devastated by the <span style="font-weight: bold;">war between the 
        Byzantines and the Ostrogoths</span>. Lombard dukes and kings shared 
        <span style="font-weight: bold;">control of Italy</span> with the 
        remaining <span style="font-weight: bold;">Byzantine</span> garrisons. 
        Although the Lombards were <span style="font-weight: bold;">Catholics
        </span>, their relationship with the papacy was often turbulent. Papal 
        requests for assistance led to the 8th-century 
        <span style="font-weight: bold;">invasion by Frankish forces</span> 
        under <span style="font-weight: bold;">Charlemagne</span>, who 
        crushed the Lombard kingdom and seized the Lombards&#8217; 
        <span style="font-weight: bold;">&#8220;iron crown.&#8221;</span> 
        The Lombard historian <span style="font-weight: bold;">Paul the Deacon
        </span> retired to the abbey of Monte Cassino to write a chronicle 
        of his now-vanquished people.
    </li>
    <li class="list_item">
        The <span class="label">Franks</span> settled in 
        <span style="font-weight: bold;">Gaul</span> late in the 5th century, 
        displacing the Roman official Syagrius. 
        <span style="font-weight: bold;">Clovis</span>, the first great 
        ruler of their <span style="font-weight: bold;">Merovingian dynasty
        </span>, converted to (Catholic) <span style="font-weight: bold;">
        Christianity</span> in 496. The close association between the Franks 
        and the <span style="font-weight: bold;">papacy</span> benefited both 
        parties in an age when their mutual enemies (such as the 
        <span style="font-weight: bold;">Visigoths</span>) were either 
        heretics or still pagan. Merovingian Gaul was wracked by civil war 
        among contending Frankish kings; by the beginning of the 8th century 
        the Merovingians had lost effective power to their chief ministers, 
        the <span style="font-weight: bold;">&#8220;mayors of the 
        palace.&#8221;</span> In 751 mayor <span style="font-weight: bold;">
        Pepin the Short</span>, with permission from the pope, deposed the 
        last Merovingian and established a new 
        <span style="font-weight: bold;">Carolingian dynasty</span> of 
        Frankish kings. Pepin&#8217;s son was 
        <span style="font-weight: bold;">Charlemagne</span>, who subjugated 
        much of western Europe and presided over a 
        <span style="font-weight: bold;">revival of learning</span> known 
        as the <span style="font-weight: bold;">&#8220;Carolingian 
        Renaissance.&#8221;</span> On Christmas Day 800 Charlemagne was 
        crowned <span style="font-weight: bold;">emperor</span> in Rome. 
        Charlemagne&#8217;s grandsons quarreled over rights to his 
        inheritance, <span style="font-weight: bold;">splitting the Frankish 
        empire</span> into a cluster of regional domains. The westernmost (
        <span style="font-weight: bold;">&#8220;West Francia&#8221;</span>) 
        became the kingdom of France; the eastern one beyond the Rhine 
        (&#8220;East Francia&#8221;) retained the imperial title as the 
        <span style="font-weight: bold;">Holy Roman Empire</span>.
    </li>
    <li class="list_item">
        The <span class="label">Picts</span>, the early medieval inhabitants of 
        <span style="font-weight: bold;">northern Britain</span>, were known 
        for their <span style="font-weight: bold;">raids</span> on the Roman 
        frontier fortification <span style="font-weight: bold;">
        Hadrian&#8217;s Wall</span>. Their name (from the Latin <i>pictus
        </i>, &#8220;painted&#8221;) may refer to their use of 
        <span style="font-weight: bold;">colorful tattoos</span>. Pictish 
        art is notable for elaborate <span style="font-weight: bold;">stone 
        carvings</span> of mysterious beasts. Starting in the 9th century, 
        the Pictish kingdoms were absorbed by the neighboring kingdom of the 
        <span style="font-weight: bold;">Scots</span>.
    </li>
    <li class="list_item">
        <span class="label">&#8220;Anglo-Saxons&#8221;</span> is the 
        conventional designation for a group of 
        <span style="font-weight: bold;">Germanic peoples</span> (primarily 
        Angles, Saxons, and <span style="font-weight: bold;">Jutes</span>) 
        who migrated from <span style="font-weight: bold;">northwestern 
        Europe</span> (the North Sea coast of Germany and mainland Denmark) 
        to <span style="font-weight: bold;">Britain</span> in the 5th and 
        6th centuries.  The Anglo-Saxon settlers 
        <span style="font-weight: bold;">conquered</span> or displaced the 
        Roman and British inhabitants of the island (the semilegendary 
        <span style="font-weight: bold;">King Arthur</span> is portrayed as 
        a British ruler fighting against Saxon expansion). By the early 7th 
        century, seven Anglo-Saxon kingdoms across southern and eastern 
        Britain were known collectively as the 
        <span style="font-weight: bold;">Heptarchy</span> (a group of seven 
        rulers). <span style="font-weight: bold;">Christian missionaries
        </span> arrived from Italy and Ireland to convert the pagan Anglo-
        Saxons. Cultural products of the newly Christian kingdoms included 
        <span style="font-weight: bold;">illuminated manuscripts</span>; 
        the writings of the monastic historian the 
        <span style="font-weight: bold;">Venerable Bede</span>, and the 
        epic poem <i style="font-weight: bold;">Beowulf</i>. The Anglo-
        Saxon kingdoms were hard-hit by the <span style="font-weight: bold;">
        Viking raids</span> of the 9th century; only 
        <span style="font-weight: bold;">Wessex</span>, the southwesternmost 
        kingdom, survived and repelled the Scandinavian raiders. The kings 
        of Wessex then <span style="font-weight: bold;">unified the 
        Anglo-Saxon territories as a single kingdom of England</span>.
    </li>
    <li class="list_item">
        The <span class="label">Magyars</span>, like the Huns, were a 
        <span style="font-weight: bold;">nomadic people of central Asia
        </span>. Their language is <span style="font-weight: bold;">Ugric
        </span>, related to Finnish and a number of west Siberian languages. 
        Magyars occupied the <span style="font-weight: bold;">Danube basin
        </span> shortly before 900. They exploited the 
        <span style="font-weight: bold;">decline of the Carolingian empire
        </span> to carry out <span style="font-weight: bold;">raids</span> on 
        <span style="font-weight: bold;">East Francia</span> and 
        <span style="font-weight: bold;">Italy</span>. The 955 
        <span style="font-weight: bold;">Battle of Lechfeld</span>, won by 
        Germany&#8217;s <span style="font-weight: bold;">Otto the Great
        </span>, <span style="font-weight: bold;">halted their expansion
        </span> into central Europe. At the end of the 10th century, the 
        Magyar grand prince was <span style="font-weight: bold;">baptized
        </span> with the name <span style="font-weight: bold;">Stephen</span> 
        and crowned the <span style="font-weight: bold;">first king of Hungary
        </span>.
    </li>
    <li class="list_item">
        <span class="label">Vikings</span> (alternatively: class="label"family: Cambria; font-weight: bold; class="label">Norsemen</span> or 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Northmen</span>) were 
        <span style="font-weight: bold;">seaborne raiders</span> from 
        <span style="font-weight: bold;">Scandinavia</span> who used 
        <span style="font-weight: bold;">longships</span> to attack coastal 
        regions of western Europe between the late 8th and 11th centuries. 
        Although they are best known for <span style="font-weight: bold;">
        pillaging English and Irish monasteries</span>, Vikings also 
        settled and traded on waterways all over northern and eastern 
        Europe, founding cities in <span style="font-weight: bold;">Russia
        </span> and making voyages to <span style="font-weight: bold;">
        Iceland</span>, <span style="font-weight: bold;">Greenland</span>, 
        and the <span style="font-weight: bold;">New World</span>. Vikings 
        who seized part of northern France from 
        <span style="font-weight: bold;">Charlemagne</span>&#8217;s heirs 
        established the duchy of <span style="font-weight: bold;">Normandy
        </span>. During the 11th century, <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Normans</span> fought as 
        mercenaries and <span style="font-weight: bold;">built castles</span> 
        in <span style="font-weight: bold;">Sicily</span>, 
        <span style="font-weight: bold;">southern Italy</span>, 
        <span style="font-weight: bold;">France</span>, and 
        <span style="font-weight: bold;">Britain</span>. Norman 
        <span style="font-weight: bold;">Duke William</span> earned the 
        epithet &#8220;the Conqueror&#8221; for his victory over the Anglo-
        Saxons at the 1066 <span style="font-weight: bold;">Battle of 
        Hastings</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jeff Hoppes.</p>
<br />
<br />
<br />
{% endblock %}