{% extends "base.html" %}  {% block title %}Presidential Inaugurations{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Presidential Inaugurations</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/presidential-inaugurations.html">
    You Gotta Know These Presidential Inaugurations
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">George Washington&#8217;s first inauguration
        </span> (1789) was the first to be held under the nation&#8217;s new 
        Constitution. Washington was inaugurated on 
        <span style="font-weight: bold;">April&nbsp;30, 1789</span>, though 
        the president&#8217;s term officially began on March&nbsp;4 (and Vice 
        President John Adams was inaugurated on April&nbsp;21). Washington was 
        sworn in at <span style="font-weight: bold;">Federal Hall</span> in 
        <span style="font-weight: bold;">New York City</span>, which at the 
        time was serving as the nation&#8217;s capital. The oath of office 
        was administered by 4<span style="font-weight: bold;">Robert 
        Livingston</span>, the chancellor of New York and co-author of the 
        Declaration of Independence. In his inaugural address, Washington 
        claimed <span style="font-weight: bold;">&#8220;no event could have 
        filled me with greater anxieties&#8221;</span> than assuming the 
        presidency, and described how he was &#8220;summoned by my 
        country&#8221; from &#8220;a retreat which I had chosen with the 
        fondest predilection.&#8221;
    </li>
    <li class="list_item">
        <span class="label">The inauguration of John Adams</span> (1797) took 
        place on March&nbsp;4 at <span style="font-weight: bold;">Congress 
        Hall</span> in the then-current national capital, Philadelphia, as 
        work on the new national capital at Washington, D.C. was not yet 
        complete. (Adams became the first president to live in the White 
        House in 1800). Adams was the <span style="font-weight: bold;">first 
        president to be sworn in by the chief justice</span>. The transfer 
        of power from Washington to Adams was the 
        <span style="font-weight: bold;">first peaceful transition</span> 
        from a living head of state to a succeeding head of state anywhere 
        in the world in over 70 years. In his address, Adams noted that he 
        first read the new Constitution while in a foreign country, and 
        praised it as the <span style="font-weight: bold;">&#8220;result of 
        good heads prompted by good hearts.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">William Henry Harrison</span> (1841) was 
        inaugurated on March&nbsp;4 after defeating Martin Van Buren in the 
        election of 1840. His <span style="font-weight: bold;">death on 
        April&nbsp;4</span>, exactly one month after his inauguration, 
        kicked off a <span style="font-weight: bold;">constitutional crisis
        </span>, as it was unclear whether his vice president, 
        <span style="font-weight: bold;">John Tyler</span>, would succeed him 
        by actually becoming the president or merely serving as the 
        <span style="font-weight: bold;">&#8220;acting president.&#8221;
        </span> At his inauguration, Harrison delivered an 8,000-plus-word 
        speech that lasted two hours. Popular notions in American folklore 
        hold that Harrison&#8217;s long speech, delivered without wearing a 
        coat, led him to catch <span style="font-weight: bold;">pneumonia
        </span>; it is far more likely, however, that he died of 
        <span style="font-weight: bold;">misdiagnosed typhoid</span> and 
        poor medical treatment.
    </li>
    <li class="list_item">
        <span class="label">The second inauguration of Abraham Lincoln</span> 
        (1865) took place a little over one month before Lincoln&#8217;s 
        assassination. Lincoln&#8217;s second inaugural address is among 
        the most quoted pieces of American oratory. After noting that the 
        Union and the Confederacy &#8220;[b]oth read the same Bible, and 
        pray to the same God,&#8221; Lincoln concluded his speech by stating 
        &#8220;<span style="font-weight: bold;">With malice toward none; 
        with charity for all; with firmness in the right, as God gives us 
        to see the right, let us strive on to finish the work we are in;
        </span> to bind up the nation&#8217;s wounds; to care for him who 
        shall have borne the battle, and for his widow, and his 
        orphan&mdash;to do all which may achieve and cherish a just and 
        lasting peace among ourselves, and with all nations.&#8221; Many 
        scholars believe that photos of Lincoln delivering his address show 
        <span style="font-weight: bold;">John Wilkes Booth</span> on the 
        Capitol balcony looking down at the president.
    </li>
    <li class="list_item">
        <span class="label">The first inauguration of Franklin D. Roosevelt
        </span> (1933) took place in the midst of the Great Depression. 
        Roosevelt opened his inaugural address by proclaiming his &#8220;firm 
        belief&#8221; that &#8220;<span style="font-weight: bold;">the only 
        thing we have to fear is fear itself</span>&mdash;nameless, 
        unreasoning, unjustified terror which paralyzes needed efforts to 
        convert retreat into advance.&#8221; After declaring that &#8220;[o]ur 
        greatest primary task is to put people to work,&#8221; Roosevelt 
        requested from Congress &#8220;broad Executive power to wage a war 
        against the emergency, <span style="font-weight: bold;">as great 
        as the power that would be given to me if we were in fact invaded 
        by a foreign foe</span>.&#8221; This was the last presidential 
        inauguration to take place on March&nbsp;4; Roosevelt was 
        inaugurated for his second term on January&nbsp;20, 1937, per the 
        Twentieth Amendment.
    </li>
    <li class="list_item">
        <span class="label">The inauguration of John F. Kennedy</span> (1961) 
        was the first presidential inauguration to be 
        <span style="font-weight: bold;">broadcast live in color</span>. 
        In his inaugural address, Kennedy noted that &#8220;few 
        generations&#8221; are tasked with &#8220;defending freedom in its 
        hour of maximum danger.&#8221; Kennedy stated that he 
        &#8220;welcome[d]&#8221; the responsibility, saying that &#8220;[t]he 
        energy, the faith, the devotion which we bring to this endeavor will 
        light our country and all who serve it&mdash;
        <span style="font-weight: bold;">and the glow from that fire can 
        truly light the world</span>.&#8221; In the most quoted moment of 
        the speech, Kennedy then stated &#8220;And so, my fellow Americans: 
        <span style="font-weight: bold;">ask not what your country can do 
        for you. Ask what you can do for your country.</span>&#8221; Poet 
        Robert Frost recited his poem <span style="font-weight: bold;">
        &#8220;The Gift Outright&#8221;</span> during the ceremony, making 
        Frost the first poet to participate in an inauguration; Frost also 
        wrote a new poem to read, but was unable to do so in the bright 
        sun of the day.
    </li>
    <li class="list_item">
        <span class="label">Ronald Reagan&#8217;s first inauguration</span> 
        (1981) was the first in nearly 150 years to take place on the 
        <span style="font-weight: bold;">west side</span> of the Capitol, 
        so that Reagan faced the <span style="font-weight: bold;">National 
        Mall</span> as he was sworn in. Reagan&#8217;s inauguration 
        coincided with the release of the 52 Americans who were held for 
        444 days during the <span style="font-weight: bold;">Iran hostage 
        crisis</span>. In his address, Reagan noted that while in U.S. 
        history, the &#8220;orderly transfer of authority&#8221; in an 
        inauguration was &#8220;a commonplace occurrence,&#8221; that 
        &#8220;[i]n the eyes of many in the world, this every-4-year 
        ceremony we accept as normal is <span style="font-weight: bold;">
        nothing less than a miracle</span>.&#8221; Reagan&#8217;s address 
        ended by describing the diary of <span style="font-weight: bold;">
        Martin Treptow</span>, an American soldier who was killed during 
        World War I. The inauguration set a record for television 
        viewership (approximately 42 million) that stands to this day.
    </li>
    <li class="list_item">
        <span class="label">The first inauguration of Barack Obama</span> 
        (2009) set a record for in-person attendance at any presidential 
        inauguration. The swearing-in of Obama did not go smoothly: Chief 
        Justice <span style="font-weight: bold;">John Roberts</span> made 
        a mistake in the words of the oath of office, and Obama 
        accidentally spoke over him at one point. Roberts re-administered 
        the oath of office to Obama the next day. Obama&#8217;s address 
        was widely viewed as a sharp rebuke of George W. Bush; in his 
        speech, Obama noted <span style="font-weight: bold;">&#8220;we 
        reject as false the choice between our safety and our ideals.&#8221;
        </span> The ceremony featured a performance of the quartet 
        &#8220;Air and Simple Gifts,&#8221; by film composer John Williams, 
        which was actually mimed to an earlier taped recording, as there 
        were concerns about the instruments remaining in tune on the cold 
        January day.
    </li>
    <li class="list_item">
        <span class="label">The inauguration of Donald Trump</span> (2017) 
        aroused a great deal of controversy due to the Trump 
        administration&#8217;s claims about attendance numbers. Press 
        secretary <span style="font-weight: bold;">Sean Spicer</span> cited 
        false Washington Metro ridership numbers to attempt to show that more 
        people attended Trump&#8217;s inauguration than Obama&#8217;s; 
        <span style="font-weight: bold;">Kellyanne Conway</span> later 
        described these numbers as <span style="font-weight: bold;">
        &#8220;alternative facts.&#8221;</span> During his address, Trump 
        described poverty, crime, gangs, and drugs as 
        <span style="font-weight: bold;">&#8220;American carnage&#8221;
        </span> and invoked the World War&nbsp;II-era isolationist group 
        by stating &#8220;from this day forward, it&#8217;s going to be 
        only America first.&#8221; The <span style="font-weight: bold;">
        Women&#8217;s March on Washington</span>, which took place the day 
        after the inauguration, involved over 400,000 people and protested 
        Trump&#8217;s misogynist and offensive behavior.
    </li>
    <li class="list_item">
        <span class="label">Joseph R. Biden</span> (2021) became the 
        <span style="font-weight: bold;">oldest</span> person to ever be 
        president when he was sworn in at 78 years old. His vice president, 
        <span style="font-weight: bold;">Kamala Harris</span>, also made 
        history as the first woman and first person of color to hold the 
        vice presidency. Biden&#8217;s inauguration had extremely limited 
        in-person attendance due to the <span style="font-weight: bold;">
        COVID-19 pandemic</span>; a <span style="font-weight: bold;">
        &#8220;field of flags&#8221;</span> was set up on the National Mall 
        in lieu of spectators. In his inaugural address, given two weeks to 
        the day after an insurrectionist mob stormed the Capitol trying to 
        overturn the election result, Biden proclaimed 
        <span style="font-weight: bold;">&#8220;at this hour, my friends, 
        democracy has prevailed,&#8221;</span> before calling on Americans 
        to &#8220;<span style="font-weight: bold;">end this uncivil war
        </span> that pits red against blue, rural versus urban, conservative 
        versus liberal.&#8221; During the ceremony, 22-year-old Youth Poet 
        Laureate <span style="font-weight: bold;">Amanda Gorman</span> 
        read her poem &#8220;The Hill We Climb.&#8221;
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}