{% extends "base.html" %}  {% block title %}Revolutionary War Generals{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Revolutionary War Generals</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/revoltionary-war-generals.html">
    You Gotta Know These Revolutionary War Generals
    </a>
</h1>
<br />

<ul class="list2">
    <li id="arnold" style="margin-bottom: 15px;">
        <span class="label">Benedict Arnold</span>: Volunteering for service 
        following the <span style="font-weight: bold;">Battle of Lexington
        </span>, he joined <span style="font-weight: bold;">Ethan Allen
        </span> in the <span style="font-weight: bold;">attack on Fort 
        Ticonderoga</span>. Appointed by <a style="color: maroon;" 
        href="#washington">Washington</a> to <span style="font-weight: bold;">
        capture Quebec</span>, he was <span style="font-weight: bold;">
        severely wounded</span> in the failed December&nbsp;1775 assault 
        that also saw the death of General Richard Montgomery. Arming a 
        <span style="font-weight: bold;">flotilla on Lake Champlain</span>, 
        he attacked the British forces at <span style="font-weight: bold;">
        Valcour Island</span>, earning accolades &mdash; perhaps at the 
        cost of the support of other officers. 
        <span style="font-weight: bold;">Passed over for promotion</span>, 
        Washington personally <span style="font-weight: bold;">persuaded 
        him not to resign</span>. Promoted following his defense of Danbury, 
        he again considered resignation, but won victory at 
        <span style="font-weight: bold;">Ft.&nbsp;Stanwix</span>, and 
        commanded advance battalions at <span style="font-weight: bold;">
        Saratoga</span>, where he was wounded in the fight. Sent to 
        command Philadelphia, he <span style="font-weight: bold;">lived 
        extravagantly among Loyalists</span>, and skirted several regulations 
        to raise money, prompting investigations. After 
        <span style="font-weight: bold;">marrying Peggy Shippen</span>, he 
        made <span style="font-weight: bold;">overtures to the British
        </span>, planning to <span style="font-weight: bold;">betray his 
        command of West Point</span>. When his contact, 
        <span style="font-weight: bold;">Major John Andre</span> was 
        captured, he <span style="font-weight: bold;">escaped</span>. 
        Later, as part of the British army he raided New London, 
        Connecticut, and led several raids on Virginia.
    </li>
	<li id="burgoyne" style="margin-bottom: 15px;">
        <span class="label">John Burgoyne</span>: &#8220;Gentleman 
        Johnny,&#8221; as he was known due to his cultural tastes (Burgoyne 
        was also a <span style="font-weight: bold;">playwright</span>), he 
        began his Revolutionary War career under 
        <span style="font-weight: bold;">Gage</span>, returning to England 
        after ineffectiveness in 1774&ndash;1775.  Sent to 
        <span style="font-weight: bold;">reinforce Canada</span>, he 
        formulated a plan to <span style="font-weight: bold;">isolate New 
        England</span> with the help of <span style="font-weight: bold;">
        Barry St.&nbsp;Leger</span> and <a style="font-weight: bold; 
        color: maroon;" href="#howe">William Howe</a>. The plan worked 
        as far as <span style="font-weight: bold;">capturing Fort Ticonderoga
        </span>, but met resistance when he 
        <span style="font-weight: bold;">sent his Hessians</span> to attack 
        <span style="font-weight: bold;">Bennington</span>. Exhausted, his 
        troops met trouble at <span style="font-weight: bold;">Saratoga
        </span>, being repulsed at <span style="font-weight: bold;">
        Freedman&#8217;s Farm</span>, and being forced to 
        <span style="font-weight: bold;">surrender</span> after 
        <span style="font-weight: bold;">Bemis Heights</span>. Paroled on the 
        condition he return to England, Burgoyne was later appointed 
        <span style="font-weight: bold;">commander-in-chief of Ireland</span>.
    </li>
	<li id="cornwallis" style="margin-bottom: 15px;">
        <span class="label">Charles Cornwallis, First Marquess Cornwallis
        </span>: An aristocrat and ensign in 1756, he fought in the 
        <span style="font-weight: bold;">battle of Minden</span>, and by 
        the end of the <span style="font-weight: bold;">Seven Years&#8217; 
        War</span> he was a captain. Made <span style="font-weight: bold;">
        aide-de-camp to George&nbsp;III</span>, he made colonel, and was 
        promoted to major general before being sent to America. After a 
        <span style="font-weight: bold;">failed assault on Charleston
        </span>, he served under <span style="font-weight: bold;">Sir Henry 
        Clinton</span> in the <span style="font-weight: bold;">battle of 
        Long Island</span>, but made his mark in fighting at 
        <span style="font-weight: bold;">Manhattan</span> and pursued 
        <a style="color: maroon;" href="#washington">Washington</a> 
        across the Hudson, being outmaneuvered by Washington at 
        <span style="font-weight: bold;">Princeton</span> (January&nbsp;3, 
        1777). Following this defeat he directed the main 
        <span style="font-weight: bold;">attack on Brandywine Creek</span>, 
        and reinforced <span style="font-weight: bold;">Germantown</span> 
        as part of the plan to capture Philadelphia. Promoted to 
        second-in-command under Clinton after the Philadelphia campaign, 
        he led the <span style="font-weight: bold;">Battle of Monmouth
        </span> before <span style="font-weight: bold;">returning home 
        to attend his sick wife</span>. Sent south in 1780 to 
        <span style="font-weight: bold;">capture Charleston</span>, he 
        bested <a style="color: maroon;" href="#gates">Horatio Gates
        </a> at Camden (South Carolina) and <a style="color: maroon;" 
        href="#greene">Nathanael Greene</a> at 
        <span style="font-weight: bold;">Guilford Courthouse</span>, the 
        latter a pyrrhic victory that likely led to his defeat in attempts 
        to contain <a style="color: maroon;" href="#lafayette">Lafayette
        </a> in Virginia. Following this, he <span style="font-weight: bold;">
        occupied Yorktown</span> in August 1781, where he was surrounded by 
        American and French forces, and forced to surrender. Following the 
        war, he was appointed <span style="font-weight: bold;">governor-
        general of India</span>, and proved to be a capable administrator.
    </li>
	<li id="gates" style="margin-bottom: 15px;">
        <span class="label">Horatio Gates</span>: Wounded in the disastrous 
        <span style="font-weight: bold;">French and Indian War</span> 
        attack on <span style="font-weight: bold;">Fort Duquesne</span>, 
        it was there he first met <a style="color: maroon;" 
        href="#washington">George Washington</a>. Recommended by Washington 
        to be <span style="font-weight: bold;">adjutant general of the army
        </span> at the outbreak of revolution, he organized the army around 
        Boston into an effective force.  Promoted to major general in 1776, 
        he was assigned to command troops in <span style="font-weight: bold;">
        New York</span> originally intended to 
        <span style="font-weight: bold;">invade Canada</span>.  Briefly put 
        in charge of <span style="font-weight: bold;">Philadelphia</span>, 
        he then directed the <span style="font-weight: bold;">defense of 
        New York</span> against <span style="font-weight: bold;">
        <a style="color: maroon;" href="#burgoyne">Burgoyne</a>&#8217;s 
        invasion</span> attempt, leading to victory at Saratoga. Following 
        this he became involved in the <span style="font-weight: bold;">
        Conway cabal</span>, an attempt to replace Washington, which led to 
        coldness between the two. Placed in command of 
        <span style="font-weight: bold;">the South</span> over 
        Washington&#8217;s objections by Congress, he tried to raise 
        adequate forces, but <span style="font-weight: bold;">lost the 
        battle of Camden</span> to <a style="color: maroon;" 
        href="#cornwallis">Cornwallis</a>, and was replaced by 
        <a style="color: maroon; font-weight: bold;" href="#greene">
        Nathanael Greene</a>. Washington then accepted Gates back as his 
        <span style="font-weight: bold;">deputy</span>, a position he held 
        until the end of the war.
    </li>
	<li id="carleton" style="margin-bottom: 15px;">
        <span class="label">Sir Guy Carleton</span>: Irish-born, he led 
        grenadiers across the <span style="font-weight: bold;">Plains of 
        Abraham</span> in the 1759 <span style="font-weight: bold;">siege of 
        Quebec</span> under his close friend <span style="font-weight: bold;">
        General James Wolfe</span>. Carleton became governor of Quebec in 
        1768; at the time of the <span style="font-weight: bold;">Intolerable 
        Acts</span> he sent troops from Canada to reinforce the British 
        military presence in Boston. After the outbreak of war, Carleton 
        repulsed <span style="font-weight: bold;">Montgomery</span> and 
        <span style="font-weight: bold;">Arnold</span>&#8217;s attempt to 
        seize Quebec City. In 1776 his naval forces defeated Arnold again at 
        <span style="font-weight: bold;">Valcour Island</span> in Lake 
        Champlain. Carleton resigned as governor after 
        <span style="font-weight: bold;">John Burgoyne</span> arrived in 
        Canada to lead the British expedition that met disaster at 
        <span style="font-weight: bold;">Saratoga</span>. Sent back to 
        Europe in June 1778, Carleton sat out all but the end of the war, 
        returning in 1782 as commander-in-chief after Cornwallis&#8217; 
        surrender.
    </li>
	<li id="greene" style="margin-bottom: 15px;">
        <span class="label">Nathanael Greene</span>: A prominent 
        <span style="font-weight: bold;">Rhode Island politician</span> 
        prior to the revolution, he raised a militia company but was not 
        elected their captain due to his <span style="font-weight: bold;">
        partial lameness</span>. Following his work in the 
        <span style="font-weight: bold;">siege of Boston</span>, he marched 
        his army to Long Island, where they aided in the battles around 
        <span style="font-weight: bold;">New York</span>.  Following the 
        loss of Fort Washington, Greene led forces into victory at the 
        <span style="font-weight: bold;">Battle of Trenton</span>, and then 
        again distinguished himself by <span style="font-weight: bold;">
        protecting <a style="color: maroon" href="#washington">Washington
        </a>&#8217;s force at the Battle of Brandywine</span>. Greene then 
        led the main force at <span style="font-weight: bold;">Germantown
        </span>, and led the evacuation of positions along the Delaware 
        River in fall 1777. The next year, Greene&#8217;s logistical talents 
        led Washington to appoint him <span style="font-weight: bold;">
        quartermaster general</span>, a position he only accepted if he were 
        allowed to <span style="font-weight: bold;">retain field troops
        </span>. He then led those troops as the right wing in the 
        <span style="font-weight: bold;">Battle of Monmouth</span>. 
        The quartermaster general position led to 
        <span style="font-weight: bold;">conflicts with the Continental 
        Congress</span>, and Greene resigned in 1780. Appointed to command to 
        <span style="font-weight: bold;">replace the traitor 
        <a style="color: maroon;" href="#arnold">Benedict Arnold</a>
        </span>, he was sent south following <a style="color: maroon;" 
        href="#gates">Gates</a>&#8217; loss at Camden. Joining with 
        <span style="font-weight: bold;">Daniel Morgan</span>, he retreated 
        from <a style="color: maroon;" href="#cornwallis">Cornwallis</a>
        &#8217; forces for two months until a crippling 
        <span style="font-weight: bold;">counterattack at Guilford 
        Courthouse</span>, which gave a costly victory to the British. Until 
        the end of the war, Greene led a spirited 
        <span style="font-weight: bold;">offensive against Lord Rawdon&#8217;s 
        &mdash; and later Duncan Stuart&#8217;s &mdash; forces</span>, 
        besieging <span style="font-weight: bold;">Augusta</span> and 
        <span style="font-weight: bold;">Ninety-Six</span>, and establishing 
        <span style="font-weight: bold;">headquarters in Charleston</span> 
        following Washington&#8217;s victory at Yorktown.
    </li>
	<li id="howe" style="margin-bottom: 15px;">
        <span class="label">Sir William Howe</span>: A veteran of the 
        <span style="font-weight: bold;">siege of Louisbourg</span>, and 
        the leader of the <span style="font-weight: bold;">ascent to the 
        Plains of Abraham</span> (Quebec, 1759), he was dispatched in 1775 
        as <span style="font-weight: bold;">second-in-command to Gage</span>. 
        After <span style="font-weight: bold;">directing the attack on Bunker 
        Hill</span>, he <span style="font-weight: bold;">succeeded Gage</span> 
        as commander, and coordinated a strategic 
        <span style="font-weight: bold;">retreat from Boston to Halifax
        </span>. In Halifax, he coordinated a 
        <span style="font-weight: bold;">joint army-navy attack</span> 
        with his brother, Richard, an admiral, resulting in a campaign which 
        allowed the British to <span style="font-weight: bold;">control New 
        York City</span>. After his attempts to secure a peace in 1777 failed, 
        he led the <span style="font-weight: bold;">attack on Philadelphia
        </span>, <span style="font-weight: bold;">defeating 
        <a style="color: maroon;" href="#washington">Washington</a> at 
        Brandywine</span>. After this, he wintered in 
        <span style="font-weight: bold;">Philadelphia</span>, waiting for 
        acceptance of his resignation, due to the failed peace negotiations. 
        On May&nbsp;25, 1778, he <span style="font-weight: bold;">relinquished 
        command to Sir Henry Clinton</span> and returned home.
    </li>
	<li id="kosciusko" style="margin-bottom: 15px;">
        <span class="label">Tadeusz Kosciusko</span>: After receiving 
        military training in his <span style="font-weight: bold;">native 
        Poland</span> and France, he resigned his commission due to 
        <span style="font-weight: bold;">poor advancement prospects</span>. 
        Offering his assistance to the Americans, he helped 
        <span style="font-weight: bold;">fortify the Delaware River</span> 
        in 1776, earning himself the rank of colonel. That winter, he 
        <span style="font-weight: bold;">planned the building of Fort Mercer
        </span>, and the next spring headed north with 
        <a style="color: maroon; font-weight: bold;" href="#gates">General 
        Gates</a>, becoming an <span style="font-weight: bold;">engineering 
        advisor to the northern army</span> and 
        <span style="font-weight: bold;">building fortifications</span> that 
        helped win the <span style="font-weight: bold;">battle of Saratoga
        </span>. In 1780, he worked on building 
        <span style="font-weight: bold;">defenses for West Point</span>, 
        then headed south when Gates was appointed command of the Southern 
        Department. Serving under <a style="color: maroon; 
        font-weight: bold;" href="#greene">Nathanael Greene</a>, he 
        distinguished himself in the <span style="font-weight: bold;">Race 
        to the Dan River</span>, and at Charleston, but mishandled the 
        <span style="font-weight: bold;">siege of Ninety-Six</span>. 
        Following the war, he was <span style="font-weight: bold;">granted 
        American citizenship but returned home to Poland</span>. Back home 
        he resisted partition, and attempted to liberate the nation afterward.
    </li>
	<li id="lafayette" style="margin-bottom: 15px;">
        <span class="label">Marquis de Lafayette</span>: Approached by the 
        U.S. Minister to France, <span style="font-weight: bold;">Silas 
        Deane</span>, he arrived in April 1777 with 
        <span style="font-weight: bold;">Baron de&nbsp;Kalb</span>. First 
        seeing action at <span style="font-weight: bold;">Brandywine</span>, 
        his primary early action was in <span style="font-weight: bold;">
        supporting <a style="color: maroon;" href="#washington">Washington
        </a> during the winter at Valley Forge</span>. After participating 
        at the battles of <span style="font-weight: bold;">Barren Hill</span>, 
        <span style="font-weight: bold;">Monmouth</span>, and 
        <span style="font-weight: bold;">Newport</span>, he returned to 
        France, raising support for an <span style="font-weight: bold;">
        expeditionary force</span>.  Returning to America a colonel, he 
        served on the board that <span style="font-weight: bold;">sentenced 
        Major Andre to death</span>, and then faced Andre&#8217;s 
        confederate <a style="color: maroon; font-weight: bold;" 
        href="#arnold">Benedict Arnold</a> in battle in 1781. Working in 
        Virginia, he <span style="font-weight: bold;">evaded 
        <a style="color: maroon;" href="#cornwallis">Cornwallis</a>&#8217; 
        forces</span>, until reinforcements arrived in June. Coordinating 
        with <span style="font-weight: bold;">Anthony Wayne</span>, the two 
        combined forces against Cornwallis in the battle of 
        <span style="font-weight: bold;">Green Spring</span>. Pursuing 
        Cornwallis to <span style="font-weight: bold;">Yorktown</span>, 
        Lafayette helped the siege there until Cornwallis&#8217; surrender.
    </li>
	<li id="marion" style="margin-bottom: 15px;">
        <span class="label">Francis Marion</span>: Previously an 
        <span style="font-weight: bold;">Indian fighter</span>, Marion was 
        given command of <span style="font-weight: bold;">Fort Sullivan
        </span> in 1776.  Commanding the <span style="font-weight: bold;">
        2nd South Carolina</span>, he fought at 
        <span style="font-weight: bold;">Savannah</span>, and 
        <span style="font-weight: bold;">escaped capture</span> when the 
        British retook Charleston.  From there, Marion fought a successful 
        <span style="font-weight: bold;">guerilla campaign</span> against 
        British troops, forcing <a style="color: maroon;" href="#cornwallis">
        Cornwallis</a> to appoint <span style="font-weight: bold;">Colonel 
        Banastre Tarleton</span> to eliminate Marion. Tarleton&#8217;s 
        frustration at the task led to the remark &#8220;But as for this 
        damned old fox, the devil himself could not catch him,&#8221; 
        creating Marion&#8217;s nickname, <span style="font-weight: bold;">
        &#8220;Swamp Fox.&#8221;</span> Promoted to brigadier general in 
        1781, and later given command of the <span style="font-weight: bold;">
        North and South Carolina militias</span>, Marion fought the British 
        at <span style="font-weight: bold;">Eutaw Springs</span>.
    </li>
	<li id="jones" style="margin-bottom: 15px;">
        <span class="label">John Paul Jones</span>: A Scotsman who had 
        <span style="font-weight: bold;">fled Britain</span> after killing 
        two people, he added the last name Jones to his given name, 
        John Paul, to hide from law enforcement. At the outbreak of conflict, 
        he was commissioned to <span style="font-weight: bold;">outfit the 
        <i>Alfred</i></span>, which he then used to help 
        <span style="font-weight: bold;">capture New Providence</span> in 
        the Bahamas. The next month, April&nbsp;1776, he led the <i>Alfred
        </i> against the <span style="font-weight: bold;">HMS&nbsp;<i>
        Glasgow</i></span>, leading him to promotion and command of the 
        <i style="font-weight: bold;">Providence</i>. Ordered to raid until 
        his provisions were expended, he <span style="font-weight: bold;">
        sank and captured ships</span> in operations along the Atlantic coast. 
        Commissioned captain of the <i cstyle="font-weight: bold;">Ranger</i>, 
        he sailed to France to acquire new ships, and captured the 
        <span style="font-weight: bold;">HMS&nbsp;<i>Drake</i></span>. 
        Leaving Europe in August&nbsp;1779, he met the British ship <i>
        Serapis</i> in battle on September&nbsp;23, 1779.
    </li>
	<li id="steuben" style="margin-bottom: 15px;">
        <span class="label">Baron Friedrich Wilhelm von&nbsp;Steuben</span>: 
        Formerly part of <span style="font-weight: bold;">Frederick the Great
        </span>&#8217;s staff, the <span style="font-weight: bold;">Prussian
        </span> Steuben was recommended by Ben Franklin to 
        <a style="color: maroon;" href="#washington">George Washington</a>. 
        Accepted by the Continental Congress, Steuben joined Washington at 
        <span style="font-weight: bold;">Valley Forge</span>, and began 
        <span style="font-weight: bold;">training the army</span>. Appointed 
        major general and inspector general in May 1777, he aided in the 
        <span style="font-weight: bold;">Battle of Monmouth</span>, then 
        spent two years writing the <i style="font-weight: bold;">Regulations 
        for the Order and Discipline of the Troops of the United States</i>, 
        an <span style="font-weight: bold;">army training manual</span>. 
        Sent to Virginia in 1780 to oppose <a style="color: maroon;" 
        href="#arnold">Benedict Arnold</a>&#8217;s actions, illness caused 
        him to turn over his troops to <span style="font-weight: bold;">
        Lafayette</span>, but Steuben recovered in time to aid in the 
        <span style="font-weight: bold;">siege of Yorktown</span>.
    </li>
	<li id="washington" style="margin-bottom: 15px;">
        <span class="label">George Washington</span>: Selected by the 
        Continental Congress to serve as <span style="font-weight: bold;">
        general-in-chief</span>, his first actions were to 
        <span style="font-weight: bold;">blockade Boston</span>.  Key to 
        the success in Boston was the <span style="font-weight: bold;">
        capture of Dorchester Heights</span>, allowing cannon fire against 
        the British and forcing the <span style="font-weight: bold;">
        withdrawal of <a style="color: maroon;" href="#howe">Howe</a>
        </span>. After failing to defend New York, Washington 
        <span style="font-weight: bold;">retreated toward Pennsylvania
        </span>, extending British supply lines and allowing a successful 
        <span style="font-weight: bold;">counterattack on Hessian mercenaries
        </span> at Trenton. Following victory at 
        <span style="font-weight: bold;">Princeton</span>, Washington 
        retired to <span style="font-weight: bold;">winter quarters at 
        Morristown</span>. Sending his best forces north to deal with 
        <a style="color: maroon;" href="#burgoyne">Burgoyne</a>&#8217;s 
        attack in spring 1777, he kept Howe engaged in the mid-Atlantic. 
        Autumn setbacks at <span style="font-weight: bold;">Brandywine</span> 
        and <span style="font-weight: bold;">Germantown </span>led to a 
        demoralized <span style="font-weight: bold;">winter camp at Valley 
        Forge</span>, countered by the work of <a style="color: maroon;" 
        href="#lafayette">Lafayette</a>, <a style="color: maroon;" 
        href="#steuven">Steuben</a>, and others. After a costly draw with 
        Sir Henry Clinton&#8217;s forces at <span style="font-weight: bold;">
        Monmouth</span>, Washington sent <a style="color: maroon;" 
        href="#greene">Greene</a> south to replace 
        <a style="color: maroon;" href="#gates">Gates</a>, and worked 
        with the French general <span style="font-weight: bold;">Jean 
        Baptiste Rochambeau</span> to plan the 
        <span style="font-weight: bold;">Yorktown campaign</span>. The 
        success of this campaign led to <a style="color: maroon;" 
        href="#cornwallis">Cornwallis</a>&#8217; surrender on 
        October&nbsp;19, 1781.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Saul Hankin.</p>
<br />
<br />
<br />
{% endblock %}