{% extends "base.html" %}  {% block title %}Revolutionary War Battles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Revolutionary War Battles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/revolutionary-war-battles.html">
    You Gotta Know These Revolutionary War Battles
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Lexington and Concord</span> (April&nbsp;19, 1775): 
        The <span style="font-weight: bold;">first battles</span> of the 
        American Revolutionary War were skirmishes near Boston in the two 
        towns of Lexington and Concord, as well as Cambridge, Lincoln and 
        Menotomy. British regulars under <span style="font-weight: bold;">
        Francis Smith</span> attempted to destroy the supplies of the 
        colonial militia, but were stopped by <span style="font-weight: bold;">
        Minutemen</span>. Ralph Waldo Emerson described the first shot as the 
        <span style="font-weight: bold;">&#8220;shot heard round the 
        world.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Ticonderoga</span> (May&nbsp;10, 1775): A small but 
        symbolic victory for the American forces led by 
        <span style="font-weight: bold;">Ethan Allen</span> and 
        <span style="font-weight: bold;">Benedict Arnold</span>. The 
        <span style="font-weight: bold;">Green Mountain Boys</span> captured 
        Fort Ticonderoga on <span style="font-weight: bold;">Lake Champlain
        </span> from the British and transported its cannons to Boston.
    </li>
	<li class="list_item">
        <span class="label">Bunker Hill</span> (June&nbsp;17, 1775): This 
        British <span style="font-weight: bold;">pyrrhic victory</span> 
        outside Boston resulted in the capture of the 
        <span style="font-weight: bold;">Charlestown Peninsula</span>, but 
        showed that colonial troops could stand up to British regulars. 
        Most of the fighting actually occurred on 
        <span style="font-weight: bold;">Breed&#8217;s Hill</span>, not 
        Bunker Hill.
    </li>
	<li class="list_item">
        <span class="label">Quebec</span> (December&nbsp;31, 1775): The 
        culmination of a failed <span style="font-weight: bold;">invasion 
        of Canada</span> by American colonists. In a blinding 
        <span style="font-weight: bold;">snowstorm</span>, the American general 
        <span style="font-weight: bold;">Richard Montgomery</span> was 
        killed in battle, <span style="font-weight: bold;">Benedict Arnold
        </span> was wounded, and <span style="font-weight: bold;">Daniel 
        Morgan</span> was captured.
    </li>
	<li class="list_item">
        <span class="label">Long Island</span> (August&nbsp;27, 1776): The 
        <span style="font-weight: bold;">largest battle</span> of the entire 
        war, Long Island (or Brooklyn Heights) resulted in the British 
        capture of New York. <span style="font-weight: bold;">William Howe
        </span> defeated <span style="font-weight: bold;">George Washington
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Trenton</span> (December&nbsp;26, 1776): Occurred 
        early in the morning after <span style="font-weight: bold;">George 
        Washington</span>&#8217;s crossing of the 
        <span style="font-weight: bold;">Delaware River</span> on Christmas 
        night. The <span style="font-weight: bold;">Hessians</span>, under 
        the command of Johann Rall, were surprised and about two-thirds of 
        them were captured.
    </li>
	<li class="list_item">
        <span class="label">Germantown</span> (October&nbsp;4, 1777): 
        <span style="font-weight: bold;">Washington</span>&#8217;s attack 
        on Germantown was the Continental Army&#8217;s last major effort 
        to retake <span style="font-weight: bold;">Philadelphia</span> 
        before the winter of 1777&ndash;1778. After this defeat, 
        Washington&#8217;s troops wintered at 
        <span style="font-weight: bold;">Valley Forge</span>.
    </li>
	<li class="list_item">
        <span class="label">Saratoga</span> (ended October&nbsp;17, 1777): 
        The major <span style="font-weight: bold;">turning point</span> 
        of the American Revolution because the American victory led France 
        to join the war. British General <span style="font-weight: bold;">
        John Burgoyne</span> led an invasion into New York from Canada with 
        hopes of meeting another British army and splitting the American 
        colonies. The final surrender was preceded by battles at 
        <span style="font-weight: bold;">Freeman&#8217;s Farm</span> and 
        <span style="font-weight: bold;">Bemis Heights</span>. 
        <span style="font-weight: bold;">Horatio Gates</span> led the 
        American forces.
    </li>
	<li class="list_item">
        <span class="label">Monmouth</span> (June&nbsp;28, 1778): The last 
        major battle of the Northern theater of the war; its outcome was 
        inconclusive. American general <span style="font-weight: bold;">
        Charles Lee</span> was court-martialed for his actions at Monmouth. 
        <span style="font-weight: bold;">Molly Pitcher</span> became 
        famous for fighting in this battle in place of her husband.
    </li>
	<li class="list_item">
        <span class="label">Camden</span> (August&nbsp;16, 1780): The 
        American defeat was part of the British 
        <span style="font-weight: bold;">&#8220;southern strategy,&#8221;
        </span> which included the earlier capture of 
        <span style="font-weight: bold;">Charleston</span> and 
        <span style="font-weight: bold;">Savannah</span>. 
        <span style="font-weight: bold;">Charles Cornwallis</span> inflicted 
        a humiliating defeat on the forces of 
        <span style="font-weight: bold;">Horatio Gates</span>.
    </li>
	<li class="list_item">
        <span class="label">Cowpens</span> (January&nbsp;17, 1781): A 
        turning point in the American recapture of 
        <span style="font-weight: bold;">South Carolina</span>. 
        <span style="font-weight: bold;">Daniel Morgan</span> commanded 
        the Continentals and <span style="font-weight: bold;">Banastre 
        Tarleton</span> led the British. The battle was fought between 
        the <span style="font-weight: bold;">Pacolet and Broad Rivers</span>.
    </li>
	<li class="list_item">
        <span class="label">Yorktown</span> (ended October&nbsp;19, 1781): 
        The Siege of Yorktown essentially ended the American Revolutionary 
        War, although the <span style="font-weight: bold;">Treaty of Paris
        </span> wasn&#8217;t signed until two years later. 
        <span style="font-weight: bold;">George Washington</span>, with help 
        from the French navy under the <span style="font-weight: bold;">
        Comte de Grasse</span>, surrounded the forces of 
        <span style="font-weight: bold;">Cornwallis</span> and forced the 
        British to surrender. General <span style="font-weight: bold;">
        Charles O&#8217;Hara</span> presented Cornwallis&#8217;s sword of 
        surrender.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer George Stevens.</p>
<br />
<br />
<br />
{% endblock %}