{% extends "base.html" %}  {% block title %}Space Missions{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Space Missions</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/space-missions.html">
    You Gotta Know These Space Missions
    </a>
</h1>
<br />

<ul class="list2">
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Apollo&nbsp;11</span> saw the first Moon 
            landing and moonwalk by astronauts 
            <span style="font-weight: bold;">Neil Armstrong</span> and 
            <span style="font-weight: bold;">Buzz Aldrin</span> (astronaut 
            Michael Collins piloted the Command Module in lunar orbit and 
            never walked on the moon).
        </p>
		<p class="justify">
            After the Lunar Module landed in the Sea of Tranquility, 
            Armstrong said, &#8220;Houston, Tranquility Base here. The Eagle 
            has landed.&#8221; Later stepping onto the lunar surface, he 
            said, &#8220;That&#8217;s one small step for [a] man, one giant 
            leap for mankind.&#8221; According to Chris Kraft, NASA officials 
            chose Armstrong as the first to walk on the Moon because he was 
            more humble than Aldrin, and because he was the Commander. 
            However, the stated reason was that Armstrong&#8217;s 
            <a style="color: maroon;" target="_blank" 
            href="http://www.todayifoundout.com/index.php/2014/07/neil-
            armstrong-got-first-step-moon/">seat was closer to the door</a>. 
            Apollo&nbsp;11, like other Apollo missions, launched atop a 
            Saturn&nbsp;V booster.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Vostok&nbsp;1</span> and 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Vostok&nbsp;6</span> transported the first 
            human and the first woman into space (respectively, 
            <span style="font-weight: bold;">Yuri Gagarin</span> and 
            <span style="font-weight: bold;">Valentina Tereshkova</span>). 
            Gagarin&#8217;s April&nbsp;12, 1961 flight is still celebrated 
            as <a style="color: maroon;" target="_blank" 
            href="https://yurisnight.net/">Yuri&#8217;s Night</a>. During 
            Vostok&nbsp;1, Gagarin completed a single orbit around Earth 
            before re-entering and parachuting out of his capsule.
        </p>
		<p class="justify">
            <a style="color: maroon;" target="_blank" 
            href="http://nssdc.gsfc.nasa.gov/nmc/spacecraftDisplay.
            do?id=1963-023A">Vostok&nbsp;6</a> was largely uneventful, 
            though Tereshkova did note minor physical pains and also could 
            not reach the scientific experiments aboard. Both Vostok&nbsp;1 
            and 6 used Vostok-K boosters.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            The launch of <span style="font-family: Cambria; 
            font-weight: bold; font-size: large;">Sputnik&nbsp;1, the first 
            artificial satellite</span>, by the USSR kicked off the so-called 
            &#8220;Space Race.&#8221; The Space Race was manifestation of 
            the Cold War where successes in launching objects and people 
            into space was seen as a proxy for capacity to build 
            intercontinental ballistic missiles. Sputnik&nbsp;1 was 
            originally intended to carry many scientific instruments, but 
            those instruments were descoped, in favor of a simple radio 
            transmitter. That transmitter <a style="color: maroon;" 
            target="_blank" href="http://www.space.com/4421-scientific-
            legacy-sputnik.html">broadcasted a &#8220;beep&#8221;</a> at a 
            specified interval, allowing scientists to map its deceleration 
            as a result of atmospheric drag.
        </p>
		<p class="justify">
            Sputnik&nbsp;1 was followed by <span style="font-weight: bold;">
            Sputnik&nbsp;2</span>, which carried a dog named 
            <span style="font-weight: bold;">Laika</span> 
            (meaning &#8220;barker&#8221;) into low-earth orbit, and 
            was destroyed upon re-entry.
        </p>
	</li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Voskhod&nbsp;1</span> and 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Voskhod&nbsp;2</span> were the only two 
            missions of the Voskhod program, and were superseded quickly 
            by the Soyuz program. The spacecrafts made use of 
            <a style="color: maroon;" target="_blank" 
            href="http://www.russianspaceweb.com/korolev.html">
            Sergei Korolev</a>&#8217;s designs. Korolev himself was 
            <a style="color: maroon;" target="_blank" 
            href="http://ocw.mit.edu/courses/science-technology-and-society
            /sts-471j-engineering-apollo-the-moon-project-as-a-complex-system-
            spring-2007/readings/soviet_mand_lunr.pdf">preoccupied</a> with 
            the Moon race, again in a position of favor after the fall of 
            Khrushchev (though Korolev died before the designs were used).
        </p>
		<p class="justify">
            Voskhod&nbsp;1 was the first flight to contain multiple 
            astronauts, and Voskhod&nbsp;2 was the platform for the first 
            <span style="font-weight: bold;">EVA (extra-vehicular activity 
            or &#8220;spacewalk&#8221;)</span>. Alexey Leonov, who conducted 
            the spacewalk on Voskhod&nbsp;2, also participated in the later 
            <span style="font-weight: bold;">Apollo-Soyuz Test Project</span>.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Apollo&nbsp;13</span> was supposed to land in the 
        Fra Mauro region of the Moon. An <a style="color: maroon;" 
        target="_blank" href="https://www.nasa.gov/mission_pages/apollo/
        missions/apollo13.html#.VdIdeJOCpko">improperly-refurbished No.&nbsp;2 
        oxygen tank</a> and subsequent improper repairs caused the tank to 
        rupture during a routine &#8220;cryo-stir&#8221; before entering lunar 
        orbit. The explosion also damaged the No.&nbsp;1 oxygen tank and 
        caused further leakage. To bring back the astronauts, the orbiter was 
        put on a free-return trajectory around the Moon. NASA engineers also 
        solved power-management, water-conservation, and trajectory planning 
        problems with the help of Ken Mattingly, the primary Command Module 
        pilot who had been grounded due to exposure to German measles. All 
        three astronauts returned to Earth safely, and the landing site was 
        re-assigned to the subsequent Apollo&nbsp;14 mission.
    </li>
	<li class="list_item">
        <span class="label">Apollo&nbsp;1</span> was intended to be a test of 
        the Command/Service Module in low-Earth orbit (LEO). However, a fire 
        on the launchpad during a test killed the three astronauts aboard 
        (<span style="font-weight: bold;">Virgil &#8220;Gus&#8221; Grissom
        </span>, <span style="font-weight: bold;">Roger Chaffee</span>, and 
        <span style="font-weight: bold;">Ed White</span>). The fire was 
        exacerbated by the <a style="color: maroon;" target="_blank" 
        href="http://www.space.com/14379-apollo1-fire-space-capsule-safety-
        improvements.html">pure-oxygen</a>, positive-pressure environment 
        inside the capsule, and the fact that the capsule door opened inward. 
        Both of these design elements were scrapped in subsequent missions, 
        and the second was replaced with an outward-opening hatch nominally 
        to facilitate spacewalks. Lessons learned from Apollo&nbsp;1 were 
        also taken into account during the design of the Space Shuttle.
    </li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">STS-51-L</span> and 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">STS-107</span> (the 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Challenger</span> and 
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Columbia</span> accidents respectively) are 
            two Space Shuttle (or Space Transportation System) launches known 
            mostly for their accidents and subsequent losses of life. The 
            Challenger disaster was attributed by the 
            <span style="font-weight: bold;">Rogers Commission</span> (the 
            investigative body set up after the accident) to poor performance 
            of the solid rocket booster (SRB) O-rings. The O-rings lost 
            integrity and became brittle at low temperatures, such as those 
            present on the morning of the launch. The failure of the O-rings 
            caused &#8220;blow-by,&#8221; where hot gasses escaped the 
            booster joint, ultimately resulting in the destruction of 
            Challenger. The Rogers Commission also cited both NASA and SRB 
            contractor Morton Thiokol for a failure to redesign the SRB 
            joint, known to be dangerous&mdash;manifestations of &#8220;go 
            fever.&#8221;
        </p>
		<p class="justify">
            According to the Columbia Accident Investigation Board, the 
            disaster on STS-107 was due to a piece of foam from the external 
            fuel tank hitting and breaching the left wing of the Orbiter 
            during launch. The breach damaged the heat shielding, allowing 
            hot gas to enter the Orbiter during re-entry. Ultimately, that 
            damage caused the vehicle to disintegrate over Texas.
        </p>
		<p class="justify">
            Both missions resulted in the complete loss of crew (seven crew 
            were on each mission) and orbiters. Both modes of failure had 
            been previously observed in earlier missions, but went un-fixed 
            because those missions were successful.
        </p>
	</li>
	<li class="list_item">
        The <span class="label">Apollo-Soyuz Test Project</span> marked a definite 
        end to the Space Race, and was a symbol of the de-escalation of 
        tensions between the US and the USSR. Deke Slayton, an original 
        Mercury&nbsp;7 astronaut grounded for medical reasons until 1973, was 
        accompanied by Tom Stafford and Vance Brand on the last launch of 
        Apollo before the advent of the Space Shuttle. The mission 
        demonstrated that two dissimilar spacecraft could rendezvous and 
        dock while in space (an Apollo Command Module and Soyuz&nbsp;19 
        docked), and also enabled the crew of Soyuz to 
        <a style="color: maroon;"target="_blank" 
        href="https://www.nasa.gov/mission_pages/
        apollo-soyuz/astp_mission.html">photograph the Sun&#8217;s corona
        </a> through an artificial eclipse created by the Apollo spacecraft. 
        Each spacecraft also carried out independent experiments.
    </li>
	<li class="list_item">
        <span class="label">SpaceX CRS-1</span> (also called SpX-1 or CRS-1) 
        was the first commercial mission to resupply the International 
        Space Station (ISS). A 
        <a style="color: maroon;" target="_blank" 
        href="https://en.wikipedia.org/wiki/SpaceX_CRS-1#Falcon_9_
        engine_anomaly">structural failure</a> in one of the nine Merlin 
        engines that make up the Falcon&nbsp;9 rocket first stage 
        necessitated a longer burn with the remaining eight engines. That 
        correction resulted in a proper orbital insertion for the primary 
        payload (a Dragon resupply vehicle), but an unstable, decaying orbit 
        for its secondary payload (an ORBCOMM satellite). This was taken as 
        a proof of concept by SpaceX for the redundant, multiple-engine 
        design. The craft successfully berthed with the ISS and 
        successfully carried out its primary mission, re-supplying the 
        space station and returning cargo to Earth.
    </li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; font-size: large;">Hubble Space Telescope Servicing Missions</span> (<a style="color: maroon;" href="http://hubblesite.org/the_telescope/team_hubble/servicing_missions.php">SM1, SM2, SM3A, SM3B, and SM4</a>) all utilized spacewalks staged from a Space Shuttle.</p>
		<ul>
			<li class="list_item">
                SM1 corrected Hubble&#8217;s flawed optics by installing 
                <a style="color: maroon;" target="_blank" 
                href="http://hubblesite.org/the_telescope/nuts_.and._bolts/
                optics/costar/">COSTAR</a> (a corrective optics system) while 
                <a style="color: maroon;" target="_blank" 
                href="http://news.wisc.edu/23693">removing the High-Speed 
                Photometer</a> to make room. It also replaced the original 
                Wide Field and Planetary Camera (or WFPC 
                <span style="font-weight: bold; font-size: 85%; 
                color: rgb(78, 78, 78);">[&#8220;wiff-pick&#8221;]</span>) 
                with WFPC2, a camera that had optical correction built in.
            </li>
			<li class="list_item">
                SM2 replaced the Goddard High-Resolution Spectrograph (GHRS) 
                and Faint Object Spectrograph (FOS) with improved successors.
            </li>
			<li class="list_item">
                SM3A replaced failed gyroscope systems.
            </li>
			<li class="list_item">
                SM3B replaced the Faint Object Camera (FOC) with the 
                Advanced Camera for Surveys (ACS), and also 
                repaired NICMOS, which was installed during SM2.
            </li>
			<li class="list_item">
                SM4 was originally cancelled after the Columbia Disaster by 
                then-NASA Administrator Sean O&#8217;Keefe, but was revived 
                by Michael Griffin, who took over the post in 2005. SM4 
                installed WFC3 (made from some parts of the original WFPC) 
                and the Cosmic Origins Spectrograph (COS), and conducted 
                other repairs. No further repairs are planned, as much of 
                HST&#8217;s functionality will be replicated with the 
                James Webb Space Telescope, scheduled for launch in 2021.
            </li>
		</ul>
	</li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Zachary Pace.</p>
<br />
<br />
<br />
{% endblock %}