{% extends "base.html" %}  {% block title %}Spies{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Spies</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/spies.html">
    You Gotta Know These Spies
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Sir Francis Walsingham</span> (1532&ndash;1590) 
        is best known as the &#8220;spymaster&#8221; to Elizabeth&nbsp;I. 
        After the accession of Mary&nbsp;I to the English throne, 
        Walsingham fled with several prominent Protestants to Europe; 
        there, he became radicalized against Catholicism upon witnessing 
        the St. Bartholomew&#8217;s Day Massacre. As personal secretary to 
        Elizabeth, Walsingham amassed a web of contacts, including 
        <span style="font-weight: bold;">Thomas Phelippes</span>, the 
        cryptographer who uncovered Mary, Queen of Scots&#8217;s complicity 
        in the Babington Plot. In 1587 Walsingham recruited 
        <span style="font-weight: bold;">Antony Standen</span> due to 
        Standen&#8217;s friendship with Tuscany&#8217;s ambassador to Spain, 
        an arrangement that produced so many advance details about the 
        Spanish Armada that Lord Henry Seymour quipped &#8220;you have 
        fought more with your pen than&hellip;our English navy fought with 
        their enemies.&#8221; Though it has never been proven, author 
        <span style="font-weight: bold;">Christopher Marlowe</span> is 
        commonly believed to have been a spy for Walsingham.
    </li>
    <li class="list_item">
        <span class="label">Giacomo Casanova</span> (1725&ndash;1798) was an 
        adventurer and libertine from the Republic of Venice. He is now best 
        remembered for his affairs, to the extent that his name is synonymous 
        with &#8220;womanizer,&#8221; but among many other occupations, he 
        also worked as a spy. His spying, which he described in his 
        French-language memoir <span style="font-weight: bold;"><i>Histoire 
        de ma vie</i> (Story of My Life)</span>, included a stint working for 
        France gathering information on the British ships docked in Dunkirk. 
        He spent much of his life in exile from his native Venice, running 
        from the authorities to avoid being arrested for his debts, but was 
        allowed to return to Venice in 1774 in exchange for performing 
        espionage work for the republic.
    </li>
    <li class="list_item">
        <span class="label">Nathan Hale</span> (1755&ndash;1776) only 
        participated in one spying mission, which failed, but his purported 
        final words have become part of American legend. At the age of 21, 
        Hale was a soldier in the Continental Army and agreed to undertake a 
        spying mission to pose as a neutral citizen, disguised as a Dutch 
        schoolmaster, in New York City. Hale was almost immediately exposed 
        (possibly by his Loyalist cousin) and subsequently interrogated by 
        Commander-in-Chief <span style="font-weight: bold;">William Howe
        </span> and then hanged as a spy. His supposed final words, much 
        quoted in Patriot propaganda, were <span style="font-weight: bold;">
        &#8220;I only regret that I have but one life to lose for my 
        country.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">The Culper Ring</span> (active 1778&ndash;1783) 
        was organized by <span style="font-weight: bold;">Benjamin Tallmadge
        </span> (a schoolmate of Nathan Hale) under the supervision of George 
        Washington. The ring takes its name from Samuel Culper, the alias of 
        chief agent <span style="font-weight: bold;">Abraham Woodhull</span>. 
        The Ring operated near New York City and was very successful: they 
        exposed a plot to render Continental currency worthless through a 
        massive counterfeiting scheme; they found that the 1779 Tryon&#8217;s 
        Raid was part of a trap devised by Henry Clinton; and they determined 
        that Benedict Arnold was conspiring with British intelligence officer 
        <span style="font-weight: bold;">John Andr&eacute;</span> to hand over 
        West Point. Andr&eacute; himself was captured on his return from a 
        night meeting with Arnold when he encountered two American soldiers, 
        one of whom was wearing a stolen Hessian officers coat, causing 
        Andr&eacute; to mistake them for allies and identify himself. His 
        captors, ignorant of Arnold&#8217;s role, remanded Andr&eacute; to 
        Arnold&#8217;s custody. Tallmadge, however, suspected that Arnold 
        was his accomplice, and Washington had Andr&eacute; tried and hanged 
        as a spy.
    </li>
    <li class="list_item">
        <span class="label">Belle Boyd</span> (1844&ndash;1900) was a society 
        woman from Virginia whose 1866 memoir Belle Boyd in Camp and Prison 
        provides a highly embellished chronicle of her exploits. She claims 
        she listened through a hotel&#8217;s closet door to learn of James 
        Shields&#8217;s troop maneuvers, which she reported to Stonewall 
        Jackson&#8217;s men by literally sprinting across a battlefield. 
        Tracked by operatives of <span style="font-weight: bold;">Allan 
        Pinkerton</span>, Boyd was arrested in 1862 and eventually released 
        in a prisoner exchange. Sailing to England with letters from 
        Jefferson Davis, her blockade runner was captured, after which she 
        reportedly seduced her guard to allow the blockade runner&#8217;s 
        captain to escape. Though Boyd&#8217;s spying contributions were 
        scant, she later became an actress and lecturer on her actions, with 
        the result that she was frequently mythologized in post-war 
        Southern propaganda.
    </li>
    <li class="list_item">
        <span class="label">Ferdinand Esterhazy</span> (1847&ndash;1923) was 
        the French military officer and spy for the German Empire who 
        perpetrated the acts of espionage wrongfully pinned on 
        <span style="font-weight: bold;">Alfred Dreyfus</span> in 1894, 
        prompting the Dreyfus Affair. Esterhazy is believed to have written 
        a sensitive missive known as the <i style="font-weight: bold;">
        bordereau</i> that was found in a trash can by a janitor; this was 
        the key evidence in blaming Dreyfus, whose handwriting was determined 
        (by unqualified scholars) to be a match. Gradually, evidence came to 
        light incriminating Esterhazy, including a letter from the German 
        attache in Paris acquired by <span style="font-weight: bold;">
        Georges Picquart</span>. Esterhazy requested a closed-door trial that 
        exonerated him in 1898, which was seen as a cover-up by French 
        commanders to avoid embarrassment at convicting the wrong man.
    </li>
    <li class="list_item">
        <span class="label">Sidney Reilly</span> (1873&ndash;1925), known 
        as the <span style="font-weight: bold;">&#8220;Ace of Spies,&#8221;
        </span> was an extremely prolific Russian-born spy primarily in the 
        service of the U.K. and Japan, though he also worked for Germany 
        and Russia. His identity as Sidney Reilly was likely created by 
        <span style="font-weight: bold;">William Melville</span>, a Scotland 
        Yard agent for whom he worked as an informant. His global career 
        included stints in Port Arthur, where he stole defense plans that 
        allowed Japan to sneak-attack Port Arthur to spark the Russo-
        Japanese War; in France, where he snuck onto a Rothschild family 
        yacht to try to convince William Knox D&#8217;Arcy to sell his oil 
        rights to the British government; in Germany, where he pretended to 
        be a factory foreman named Karl Hahn to steal weapons plans for 
        Britain; and in Russia, where he may have led a failed 1918 plot 
        to overthrow the Bolsheviks. Undercover agents in Russia eventually 
        exposed him, leading to his execution in 1925.
    </li>
    <li class="list_item">
        <span class="label">Mata Hari</span> (1876&ndash;1917) was an exotic 
        dancer who used her neutral Dutch citizenship to spy for France, and 
        possibly also for Germany, in World War&nbsp;I. Born 
        <span style="font-weight: bold;">Margaretha Zelle</span>, she 
        adopted the persona of a Malay princess to further her career, 
        which brought her into sexual relationships with high-ranking 
        military figures and nobles. In 1917, French intelligence determined 
        she was spying for Germany while producing no worthwhile information 
        of benefit to France, leading to her arrest and conviction, though 
        scholarship is still sharply divided on whether she was merely a 
        high-profile scapegoat. Both pop culture and academia have long 
        been intrigued by the racy appeal of Mata Hari&#8217;s story, 
        embodied by her 1917 execution, at which she blew kisses to her 
        firing squad, though photographic records disprove urban legends 
        that she wore a lavish new outfit for her execution.
    </li>
    <li class="list_item">
        <span class="label">The Cambridge Five</span> (active 1934&ndash;1951) 
        was a quintet of British agents disillusioned about capitalism who 
        were recruited as Soviet spies while attending Cambridge University. 
        Supervised by <span style="font-weight: bold;">Yuri Modin</span> of 
        the KGB, it included <span style="font-weight: bold;">Donald MacLean, 
        Guy Burgess, John Cairncross, Anthony Blunt, and Kim Philby</span>. 
        The KGB believed Maclean and Burgess to be exceptionally sloppy in 
        maintaining their covers, but the two agents still passed over 9,000 
        secret wartime documents to the KGB before fleeing the U.K. in 1951, 
        at which point the British press learned of the existence of the 
        ring. Kim Philby maintained his innocence until 1963, when he 
        defected during an intelligence mission to Beirut.
    </li>
    <li class="list_item">
        <span class="label">Julius and Ethel Rosenberg</span> (1918&ndash;1953 
        and 1915&ndash;1953) were a married couple from New York City who 
        supplied Manhattan Project secrets to the Soviets. Julius recruited 
        many informants, whose raw intelligence was then typed up by Ethel. 
        The most important Rosenberg recruits were 
        <span style="font-weight: bold;">Russell McNutt</span>, who worked 
        at Oak Ridge Laboratory, and Ethel&#8217;s brother 
        <span style="font-weight: bold;">David Greenglass</span>, who worked 
        at Los Alamos and ferried Julius diagrams of atomic weapons. The 
        Rosenbergs were found out in 1950 after the spy Klaus Fuchs 
        implicated his courier, Harry Gold, setting off a chain of confessions 
        and exposures that ended with David Greenglass, who exposed Julius and 
        Ethel as part of a plea deal. The Rosenbergs were then aggressively 
        prosecuted by <span style="font-weight: bold;">Roy Cohn</span> (later 
        a key figure in the McCarthy Era) and executed in the electric chair 
        at Sing Sing Prison. In 1995 the Venona Project confirmed 
        that Julius bore the codename &#8220;Liberal&#8221; as a Soviet 
        operative.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}