{% extends "base.html" %}  {% block title %}Supreme Court Cases (Part 2){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Supreme Court Cases (Part 2)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/supreme-court-cases-2.html">
    You Gotta Know These Supreme Court Cases (Part 2)
    </a>
</h1>
<br />
<p class="justify">
    Each case is followed by the name of the justice who wrote the majority opinion, the presiding Chief Justice, 
    the vote, and the year it was decided.
</p>
<br />
<ul class="list2">
    <li class="list_item">
        <i class="label">Chisholm v. Georgia</i> (No majority opinion, 
        Chief Justice John Jay, 4&ndash;1, 1793) Following the death of 
        Robert Farquhar, his estate&#8217;s executor, Alexander Chisholm 
        &mdash; who, like Farquhar, was a South Carolina resident &mdash; 
        <span style="font-weight: bold;">sued the state of Georgia to collect 
        money Georgia owed</span> Farquhar for goods it purchased during 
        the American Revolution. Georgia claimed that 
        <span style="font-weight: bold;">sovereign immunity</span> protected 
        it from Chisholm&#8217;s suit. However, the Supreme Court held that 
        Article&nbsp;III, Section&nbsp;2 of the Constitution gave citizens 
        the right to sue a state, finding against Georgia. The Court&#8217;s 
        ruling proved so controversial that it resulted in the 1794 passage 
        of the <span style="font-weight: bold;">Eleventh Amendment</span>, 
        which specifically prohibited U.S. or foreign citizens from filing 
        a lawsuit against a state (with certain exceptions).
    </li>
	<li class="list_item">
        <i class="label">Gibbons v. Ogden</i> (John Marshall, 6&ndash;0, 
        1824) Thomas Gibbons and Aaron Ogden were partners in a 
        <span style="font-weight: bold;">steamboat</span> business that 
        ferried people between New York and New Jersey. Ogden had purchased a 
        <span style="font-weight: bold;">license granting him a monopoly
        </span> under New York law. After the partners suffered a 
        disagreement and split up, Gibbons applied for and received a 
        federal permit to run a similar business. Ogden sued Gibbons for 
        <span style="font-weight: bold;">violating Ogden&#8217;s monopoly
        </span>. In a unanimous decision, Marshall held that Congress&#8217; 
        <span style="font-weight: bold;">interstate regulatory power</span> 
        under the Commerce Clause had &#8220;no limitations other than are 
        prescribed in the Constitution.&#8221; Gibbons&#8217; federal permit 
        trumped Ogden&#8217;s state-granted monopoly.
    </li>
	<li class="list_item">
        <i class="label">Dred Scott v. Sandford</i> (Roger Taney, 7&ndash;2, 
        1857) Dred Scott was a <span style="font-weight: bold;">slave</span> 
        purchased by John Emerson in the 1820s, and who at various points 
        lived in Illinois and the Wisconsin Territory, both of which 
        prohibited slavery. In 1853, Scott sued his then-owner John Sanford 
        for his freedom. The Supreme Court ruled that 
        <span style="font-weight: bold;">no African-American &mdash; slave 
        or free &mdash; was a citizen</span> of the United States, and that 
        therefore Scott <span style="font-weight: bold;">lacked standing to 
        initiate a lawsuit</span> in the first place. In addition, the Court 
        <span style="font-weight: bold;">found the Missouri Compromise to be 
        unconstitutional</span>, holding that Congress lacked authority to 
        prohibit slavery in any new territory that was not originally part 
        of the United States.
    </li>
	<li class="list_item">
        <i class="label">Munn v. Illinois</i> (Morrison Waite, 7&ndash;2, 
        1877) Ira Munn owned a set of Chicago <span style="font-weight: bold;">
        grain elevators</span> and charged oppressively high fees for their 
        use. In 1871, the Illinois legislature passed a law setting 
        <span style="font-weight: bold;">maximum rates for grain storage
        </span>. On appeal to the Supreme Court, lawyers for the business 
        claimed that the Illinois statute violated Fourteenth-Amendment 
        <span style="font-weight: bold;">due process rights regarding 
        private property</span>. Chief Justice Waite&#8217;s opinion upheld 
        the Illinois law, and proclaimed that 
        <span style="font-weight: bold;">&#8220;when private property is 
        devoted to a public use, it is subject to public regulation.&#8221;
        </span> The decision was a landmark in the history of government 
        regulation of businesses, especially railroads.
    </li>
	<li class="list_item">
        <i class="label">Muller v. Oregon</i> (David Brewer, Melville 
        Fuller, 9&ndash;0, 1908) Oregon <span style="font-weight: bold;">
        laundry</span> owner Curt Muller was fined for violating an 
        Oregon law that <span style="font-weight: bold;">limited the 
        working hours of female employees</span>; he appealed, claiming 
        the law was an unconstitutional <span style="font-weight: bold;">
        restriction of freedom of contract</span>. Arguing on behalf of 
        Oregon, future Supreme Court Justice <span style="font-weight: bold;">
        Louis Brandeis</span> invoked scientific evidence to support the 
        notion that <span style="font-weight: bold;">excessive working hours 
        were deleterious to a woman&#8217;s health</span>. Oregon&#8217;s 
        statute was upheld on the grounds that the 
        <span style="font-weight: bold;">state had a compelling interest in 
        protecting the health of its female workers</span>. One side effect 
        of the decision was the judicial justification of 
        <span style="font-weight: bold;">sex discrimination in 
            legislation</span>.
    </li>
	<li class="list_item">
        <i class="label">Schenck v. United States</i> (Oliver Wendell 
        Holmes Jr., Chief Justice Edward White, 9&ndash;0, 1919) The 
        <span style="font-weight: bold;">Espionage 
        Act of 1917</span> prohibited &mdash; among other things &mdash; 
        any attempt to inhibit recruitment by the U.S. Armed Forces. Charles 
        Schenck was a Socialist who opposed conscription and 
        <span style="font-weight: bold;">distributed literature urging 
        readers to resist the draft</span>. Follwing his arrest and 
        conviction, he appealed, claiming that his advocacy was 
        <span style="font-weight: bold;">protected speech</span> covered by 
        the First Amendment. Writing for a unanimous court, Justice Holmes 
        claimed the First Amendment does not protect speech that creates a 
        <span style="font-weight: bold;">&#8220;clear and present 
        danger,&#8221;</span> and that &#8220;the most stringent protection 
        of free speech would not protect a man in 
        <span style="font-weight: bold;">falsely shouting &#8216;fire&#8217; 
        in a theatre</span>.&#8221;
    </li>
	<li class="list_item">
        <i class="label">Griswold v. Connecticut</i> (William O. Douglas, 
        Earl Warren, 7&ndash;2, 1965) In 1879, Connecticut outlawed the use 
        of <span style="font-weight: bold;">contraception</span>. In 1961, 
        Estelle Griswold and Lee Buxton, who were directors of the Planned 
        Parenthood League of Connecticut, were charged with violating that 
        ban after they opened a birth control clinic. Justice Douglas&#8217; 
        majority opinion held that <span style="font-weight: bold;">
        &#8220;specific guarantees in the Bill of Rights have 
        penumbras,&#8221;</span> and that &#8220;emanations&#8221; of those 
        guarantees create a Constitutional <span style="font-weight: bold;">
        right to privacy</span> that protects intensely personal decisions, 
        such as the <span style="font-weight: bold;">right of married 
        couples to choose whether to use birth control</span>. 
        Connecticut&#8217;s law was struck down.
    </li>
	<li class="list_item">
        <i class="label">Miranda v. Arizona</i> (Earl Warren, 5&ndash;4, 
        1966) In 1963, Phoenix police arrested Ernesto Miranda on suspicion of 
        <span style="font-weight: bold;">kidnapping and rape</span>; he 
        subsequently confessed to those crimes. During his initial 
        interrogation by police, Miranda was <span style="font-weight: bold;">
        never informed of his Fifth or Sixth Amendment rights</span>. Writing 
        for a thin majority, Chief Justice Warren stated that &#8220;[p]rior 
        to any questioning, <span style="font-weight: bold;">[a] person must 
        be warned</span> that he has a right to remain silent, that any 
        statement he does make may be used as evidence against him, and that 
        he has a right to the presence of an attorney, either retained or 
        appointed,&#8221; laying the groundwork for the iconic 
        <span style="font-weight: bold;">&#8220;Miranda warnings.&#8221;
        </span>
    </li>
	<li class="list_item">
        <i class="label">Loving v. Virginia</i> (Earl Warren, 9&ndash;0, 
        1967) Virginia&#8217;s <span style="font-weight: bold;">Racial 
        Integrity Act</span> of 1924 was an <span style="font-weight: bold;">
        anti-miscegenation</span> law that <span style="font-weight: bold;">
        criminalized marriages between whites and non-whites</span>. In 1958, 
        Virginia residents Richard Loving (a white man) and Mildred Jeter 
        (a woman of both African-American and Native American heritage) were 
        married in Washington, D.C., which did not have such a statute. 
        After returning to their Virginia home, they were arrested and 
        convicted under the Racial Integrity Act. Striking down that Act as 
        <span style="font-weight: bold;">violating both the Equal Protection 
        and Due Process clauses</span> of the Fourteenth Amendment, Chief 
        Justice Warren wrote that <span style="font-weight: bold;">&#8220;the 
        freedom to marry, or not marry, a person of another race resides with 
        the individual and cannot be infringed by the State.&#8221;</span>
    </li>
	<li class="list_item">
        <i class="label">Lawrence v. Texas</i> (Anthony Kennedy, 
        William Rehnquist, 6&ndash;3, 2003) In 1998, a 
        <span style="font-weight: bold;">false police report</span> led 
        Houston police to the apartment of John Lawrence; upon entering, 
        deputies claimed they found Lawrence <span style="font-weight: bold;">
        having sex with another man</span>, Tyron Gardner. Both men were 
        charged with <span style="font-weight: bold;">homosexual conduct, 
        still a misdemeanor in Texas</span>. Justice Kennedy&#8217;s majority 
        opinion held that the Fourteenth Amendment&#8217;s Due Process 
        Clause protected a person&#8217;s <span style="font-weight: bold;">
        &#8220;liberty&#8221; to engage in consensual homosexual activity
        </span>, and declared the Texas law <span style="font-weight: bold;">
        unconstitutional</span>. The decision in Lawrence overturned 
        <i style="font-weight: bold;">Bowers v. Hardwick</i> (1986) 
        &mdash; in which the court upheld a similar Georgia law &mdash; 
        and has been cited as a key predecessor of both 
        <i style="font-weight: bold;">U.S. v. Windsor</i> and 
        <i style="font-weight: bold;">Obergefell v. Hodges</i>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}