{% extends "base.html" %}  {% block title %}Supreme Court Cases{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Supreme Court Cases</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/supreme-court-cases.html">
    You Gotta Know These Supreme Court Cases
    </a>
</h1>
<br />
<p class="justify">
    Each case is followed by the name of the justice who wrote the majority opinion, the presiding Chief Justice, 
    the vote, and the year it was decided.
</p>
<br />
<ul class="list2">
    <li class="list_item">
        <i class="label">Plessy v. Ferguson</i> (Henry B. Brown, Melville 
        Fuller, 7&ndash;1, 1896): Homer Plessy (who was legally classified 
        as an &#8220;octoroon,&#8221; meaning one-eighth black) bought a 
        first-class ticket on the <span style="font-weight: bold;">East 
        Louisiana Railway</span>. He sat in the whites-only car in violation 
        of an 1890 Louisiana law mandating <span style="font-weight: bold;">
        separate accommodations</span>. He was convicted, but appealed to 
        the Supreme Court against John Ferguson, a Louisiana judge. The court 
        upheld the law provided that <span style="font-weight: bold;">
        &#8220;separate but equal&#8221;</span> facilities were provided. 
        John Marshall Harlan issued a famous dissent claiming 
        <span style="font-weight: bold;">&#8220;Our constitution is 
        color-blind.&#8221;</span> <i>Plessy</i> was 
        <span style="font-weight: bold;">overturned by <i>Brown v. Board of 
        Education of Topeka, Kansas</i></span>.
    </li>
	<li class="list_item">
        <i class="label">Marbury v. Madison</i> (John Marshall, 4&ndash;0, 
        1803): On his final day in office in 1801, John Adams signed 
        <span style="font-weight: bold;">commissions for 42 federal judges
        </span> (the so-called <span style="font-weight: bold;">
        &#8220;midnight judges&#8221;</span>).  His successor, Thomas 
        Jefferson, opted to not deliver most of the commissions. One 
        appointee, William Marbury, sued the new secretary of state, James 
        Madison, to <span style="font-weight: bold;">force the delivery of 
        his commission</span>. The <span style="font-weight: bold;">Judiciary 
        Act of 1789</span> had granted the court original jurisdiction in 
        such cases, but the Constitution did not.  The court ruled that the 
        Judiciary Act <span style="font-weight: bold;">conflicted with the 
        Constitution and was therefore void</span>. Therefore Marbury&#8217;s 
        request was denied for lack of jurisdiction. This case established 
        the principle of <span style="font-weight: bold;">judicial review
        </span>, the power of the court to nullify unconstitutional laws.
    </li>
	<li class="list_item">
        <i class="label">Roe v. Wade</i> (Harry Blackmun, Warren Burger, 
        7&ndash;2, 1973): Norma McCorvey (under the alias Jane Roe), a 
        <span style="font-weight: bold;">rape victim</span>, sued Dallas 
        County attorney Henry Wade for the <span style="font-weight: bold;">
        right to an abortion</span>.  When the case reached the Supreme Court, 
        the plaintiff depended on the growing recognition of a 
        <span style="font-weight: bold;">&#8220;right to privacy,&#8221;
        </span> which began with the 1965 case <i style="font-weight: bold;">
        Griswold v. Connecticut</i>. The court 
        <span style="font-weight: bold;">struck down state anti-abortion laws 
        as &#8220;unconstitutionally vague,&#8221;</span> held that the word 
        &#8220;person&#8221; in the Constitution &#8220;does not include the 
        unborn,&#8221; and <span style="font-weight: bold;">legalized abortion 
        in the first trimester</span>. McCorvey later joined the pro-life 
        movement and claimed that she was not actually raped and that she was 
        pressured into filing the case by her ambitious attorney Sarah 
        Weddington.
    </li>
	<li class="list_item">
        <i class="label">Brown v. Board of Education of Topeka, Kansas</i> 
        (Earl Warren, 9&ndash;0, 1954): The suit was filed on behalf of 
        Linda Brown, a third grader, who had to 
        <span style="font-weight: bold;">walk a mile to a blacks-only school 
        when a whites-only school was much closer</span>. Future Supreme Court 
        Justice <span style="font-weight: bold;">Thurgood Marshall</span> 
        argued the case for the plaintiff. The court 
        <span style="font-weight: bold;">overturned <i>Plessy v. Ferguson</i>
        </span> and ruled that <span style="font-weight: bold;">&#8220;separate 
        but equal&#8221; facilities were not constitutional</span>. A second 
        case in 1955 required that <span style="font-weight: bold;">
        desegregation proceed &#8220;with all deliberate speed&#8221;</span> 
        but Southern schools were notoriously slow in complying; it was not 
        until 1970 that a majority had complied with the ruling.
    </li>
	<li class="list_item">
        <i class="label">McCulloch v. Maryland</i> (John Marshall, 
        9&ndash;0, 1819): After the <span style="font-weight: bold;">Second 
        Bank of the United States</span> began calling in loans owed by 
        the states, Maryland passed a law <span style="font-weight: bold;">
        taxing out-of-state banks</span>.  The federal bank refused to pay, 
        so the state sued its Baltimore cashier, James McCulloch. The court 
        ruled that the federal government had the right to establish the 
        bank even though it was not expressly enumerated in the Constitution 
        and also noted that since <span style="font-weight: bold;">&#8220;the 
        power to tax was the power to destroy,&#8221;</span> Maryland could 
        not tax the bank without destroying federal sovereignty.
    </li>
	<li class="list_item">
        <i class="label">Baker v. Carr</i> (William J. Brennan Jr., Earl 
        Warren, 6&ndash;2, 1962): Charles W. Baker, a Tennessee citizen, 
        sued the Tennessee secretary of state, Joe Carr, claiming that the 
        state&#8217;s <span style="font-weight: bold;">electoral districts 
        had been drawn to grossly favor one political party</span>. The 
        defendant argued that reapportionment issues were political, not 
        judicial, matters, but the court disagreed and declared the issue 
        justiciable before remanding the case to a lower court. Two years 
        later, in <i style="font-weight: bold;">Reynolds v. Sims</i>, the 
        court mandated the principle of &#8220;one man, one vote.&#8221;
    </li>
	<li class="list_item">
        <i class="label">Gideon v. Wainwright</i> (Hugo Black, Earl Warren, 
        9&ndash;0, 1963): Clarence Earl Gideon was accused of 
        <span style="font-weight: bold;">breaking into a pool hall</span> 
        in Florida. Because his crime was not capital, the court declined 
        to provide him with an attorney. He was convicted, sued Louie 
        Wainwright &mdash; the director of the corrections office &mdash; 
        and took his case to the Supreme Court. The court overruled 
        <i style="font-weight: bold;">Betts v. Brady</i> and held that the 
        Sixth and Fourteenth Amendments required 
        <span style="font-weight: bold;">appointed counsel in all trials
        </span>. Gideon was retried and found innocent. The case is the 
        subject of the book <i>Gideon&#8217;s Trumpet</i>.
    </li>
	<li class="list_item">
        <i class="label">Hammer v. Dagenhart</i> (William R. Day, Edward 
        Douglass White, 5&ndash;4, 1918): The <span style="font-weight: bold;">
        Keating-Owen Act</span> prohibited the interstate sale of 
        <span style="font-weight: bold;">goods produced by child labor</span>, 
        leading Roland Dagenhart to sue U.S. attorney W.&nbsp;C. Hammer in 
        Charlotte since his two sons would be put out of work. The court 
        ruled that the <span style="font-weight: bold;">federal government 
        did not have the right to regulate child labor</span>; Oliver Wendell 
        Holmes wrote a notable dissent focusing on the lack of proper state 
        regulation. The case was overturned by the 1941 case 
        <i style="font-weight: bold;">U.S. v. Darby Lumber Company</i> case 
        upholding the Fair Labor Standards Act.
    </li>
	<li class="list_item">
        <i class="label">Fletcher v. Peck</i> (John Marshall, 6&ndash;0, 
        1810): In 1795 the Georgia legislature 
        <span style="font-weight: bold;">corruptly sold land along the Yazoo 
        River</span> (now in Mississippi) to private citizens in exchange for 
        <span style="font-weight: bold;">bribes</span>. The legislators were 
        mostly defeated in the next elections and the incoming politicians 
        voided the sales. In the meantime, John Peck sold some of the land 
        in question to Robert Fletcher, who then sued him, claiming that he 
        did not have clear title. The Supreme Court held that the state 
        legislature did not have the power to repeal the sale.  This was one 
        of the <span style="font-weight: bold;">earliest cases in which the 
        Supreme Court struck down a state law</span>.
    </li>
	<li class="list_item">
        <i class="label">Ex Parte Merryman</i> (Roger Taney, 1861): This 
        was not actually a Supreme Court case, but a federal court case heard 
        by Chief Justice Roger Taney while &#8220;circuit-riding&#8221; when 
        the court was not in session. Lieutenant John Merryman of the Maryland 
        cavalry took an active role in <span style="font-weight: bold;">
        evicting Union soldiers from Maryland</span> following the attack 
        on Fort Sumter. Abraham Lincoln declared a 
        <span style="font-weight: bold;">secret suspension of the writ of 
        <i>habeas corpus</i></span> and had a number of opposition leaders, 
        including Merryman, arrested. Taney found the 
        <span style="font-weight: bold;">president had acted 
        unconstitutionally</span> (only Congress can suspend the writ), 
        but <span style="font-weight: bold;">Lincoln simply ignored his 
        ruling</span>.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}