{% extends "base.html" %}  {% block title %}Treaties{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">Treaties</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/treaties.html">
    You Gotta Know These Treaties
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        The <span class="label">Treaty of Versailles</span> (1919) officially 
        ended <span style="font-weight: bold;">World War&nbsp;I</span> 
        between the Allies and Germany. It was signed at its namesake 
        <span style="font-weight: bold;">French palace</span> after the 
        <span style="font-weight: bold;">Paris Peace Conference</span>. 
        It is noted for the <span style="font-weight: bold;">&#8220;Big 
        Four&#8221;</span> (Woodrow Wilson, David Lloyd George, Georges 
        Clemenceau, and Vittorio Orlando) who headed the Allies&#8217; 
        delegations, discussions of Woodrow Wilson&#8217;s 
        <span style="font-weight: bold;">Fourteen Points</span> 
        (particularly the <span style="font-weight: bold;">League of 
        Nations</span>), and its controversial 
        <span style="font-weight: bold;">disarmament</span>, 
        <span style="font-weight: bold;">war guilt</span>, and 
        <span style="font-weight: bold;">reparations</span> clauses. The 
        conference was also notable for up-and-coming world figures who 
        attended (John Maynard Keynes, Ho Chi Minh, Jan Smuts, etc.).
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Utrecht</span> (1713) was a series of 
        treaties signed in the Dutch city of Utrecht that (mostly) ended the 
        <span style="font-weight: bold;">War of the Spanish Succession</span> 
        (1701&ndash;1714). They were signed by 
        <span style="font-weight: bold;">France and Spain</span> for one side 
        and by <span style="font-weight: bold;">Britain, Savoy, and the 
        United Provinces (The Netherlands)</span> for the other. The treaty 
        confirmed a Bourbon prince (<span style="font-weight: bold;">Philip, 
        Duke of Anjou</span>) on the Spanish throne, 
        <span style="font-weight: bold;">ending Habsburg control</span>, 
        but took steps to prevent the French and Spanish thrones from being 
        merged. Some Spanish possessions &mdash; including Sicily, the 
        Spanish Netherlands, Naples, and Gibraltar &mdash; were given to 
        the victors.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Ghent</span> (1814) ended the 
        <span style="font-weight: bold;">War of 1812</span> between the 
        <span style="font-weight: bold;">U.S.</span> and 
        <span style="font-weight: bold;">Britain</span>. It was signed in 
        the Belgian city Ghent but, due to the distances involved, 
        <span style="font-weight: bold;">could not prevent the Battle of 
        New Orleans two weeks later</span>. The treaty made no boundary 
        changes and had <span style="font-weight: bold;">minimal effect
        </span>; both sides were ready for peace and considered the war a 
        futile and fruitless endeavor.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Portsmouth</span> (1905) ended the 
        <span style="font-weight: bold;">Russo-Japanese War</span> 
        (1904&ndash;1905). It was signed at the 
        <span style="font-weight: bold;">Portsmouth Naval Shipyard</span> in 
        <span style="font-weight: bold;">Maine</span> after negotiations 
        <span style="font-weight: bold;">brokered by Theodore Roosevelt
        </span> (for which he won the Nobel Peace Prize). Japan had dominated 
        the war and received an indemnity, the Liaodong Peninsula in 
        Manchuria, and half of Sakhalin Island, but the treaty was widely 
        condemned in Japan because the public had expected more.
    </li>
	<li class="list_item">
        The <span class="label">Adams-On&iacute;s Treaty</span> (1819) settled a 
        <span style="font-weight: bold;">boundary dispute between the U.S. 
        and Spain</span> that arose following the Louisiana Purchase. It 
        was negotiated by then-Secretary of State John Quincy Adams and most 
        notably <span style="font-weight: bold;">sold Florida to the U.S.
        </span> in exchange for the payment of its citizens&#8217; claims 
        against Spain. It also delineated the U.S.-Spain border to the 
        Pacific Ocean leading to its alternate name, the Transcontinental 
        Treaty.
    </li>
	<li class="list_item">
        The <span class="label">Camp David Accords</span> (1978) were negotiated 
        at the presidential retreat Camp David by 
        <span style="font-weight: bold;">Egypt</span>&#8217;s 
        <span style="font-weight: bold;">Anwar Sadat</span> and 
        <span style="font-weight: bold;">Israel</span>&#8217;s 
        <span style="font-weight: bold;">Menachem Begin</span>; they were 
        brokered by U.S. President <span style="font-weight: bold;">Jimmy 
        Carter</span>.  They led to a peace treaty the next year that 
        <span style="font-weight: bold;">returned the Sinai Peninsula to 
        Egypt</span>, guaranteed <span style="font-weight: bold;">Israeli 
        access to the Red Sea and Suez Canal</span>, and more-or-less 
        normalized diplomatic and economic relations between the two 
        countries. This <span style="font-weight: bold;">isolated Egypt
        </span> from the other Arab countries and led to 
        <span style="font-weight: bold;">Sadat&#8217;s assassination
        </span> in 1981.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Guadalupe Hidalgo</span> (1848) ended 
        the <span style="font-weight: bold;">Mexican-American War</span> 
        (1846&ndash;1848) and was signed in its namesake 
        <span style="font-weight: bold;">neighborhood of Mexico City</span>. 
        Its most significant result was the &#8220;Mexican Cession&#8221; 
        transferring <span style="font-weight: bold;">California, Nevada, 
        Utah, and parts of four other states</span> to the U.S. It also 
        made the <span style="font-weight: bold;">Rio Grande the boundary 
        between Texas and Mexico</span>.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Brest-Litovsk</span> (1918) was a 
        <span style="font-weight: bold;">&#8220;separate peace&#8221;</span> 
        signed by the Bolshevik government of the new 
        <span style="font-weight: bold;">USSR</span> and 
        <span style="font-weight: bold;">Germany</span>. The USSR needed 
        to make peace to focus on defeating the &#8220;Whites&#8221; 
        (royalists) in the <span style="font-weight: bold;">Russian Civil War
        </span>, and it gave up <span style="font-weight: bold;">Ukraine
        </span>, <span style="font-weight: bold;">Belarus</span>, and the 
        three <span style="font-weight: bold;">Baltic countries</span> after 
        Germany invaded, an outcome worse than a German offer which chief 
        Soviet negotiator <span style="font-weight: bold;">Leon Trotsky
        </span> had rejected.  The treaty was negotiated in Brest (in what 
        is now Belarus) and was nullified by the subsequent 
        <span style="font-weight: bold;">Treaty of Versailles</span> 
        following Germany&#8217;s defeat.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Tordesillas</span> (1494) ostensibly 
        <span style="font-weight: bold;">divided the New World</span> 
        (and, in later interpretations, the entire world) 
        <span style="font-weight: bold;">between Spain and Portugal</span>. 
        It resulted from a bull by (Spanish-born) 
        <span style="font-weight: bold;">Pope Alexander&nbsp;VI</span> 
        granting lands to Spain and established a 
        <span style="font-weight: bold;">line west of the Cape Verde 
        islands</span> between future Spanish possessions (west) and 
        Portuguese possessions (east).  The line passed through Brazil, 
        allowing the Portuguese to establish a colony there, while Spain 
        received the rest of the Americas. Endless wrangling and repeated 
        revisions ensued.
    </li>
	<li class="list_item">
        The <span class="label">Peace of Westphalia</span> (1648) is the 
        collective name for two treaties ending the 
        <span style="font-weight: bold;">Thirty Years&#8217; War</span> 
        that were signed by the <span style="font-weight: bold;">Holy Roman 
        Empire</span>, <span style="font-weight: bold;">minor German states
        </span>, <span style="font-weight: bold;">Spain</span>, 
        <span style="font-weight: bold;">France</span>, 
        <span style="font-weight: bold;">Sweden</span>, and the 
        <span style="font-weight: bold;">Dutch Republic</span>. It confirmed 
        the principle of <span style="font-weight: bold;">&#8220;cuius regio 
        eius religio&#8221;</span> (that a ruler&#8217;s religion determined 
        that of his country) introduced by the 
        <span style="font-weight: bold;">Peace of Augsburg</span>, but 
        mandated relative <span style="font-weight: bold;">tolerance of 
        other (Christian) faiths</span>. It adjusted the borders of German 
        states and strengthened their princes with respect to the Emperor, 
        and transferred most of Lorraine and some of Alsace to France.
    </li>
	<li class="list_item">
        The <span class="label">Lateran Treaty</span> (1929) created the 
        independent country of the <span style="font-weight: bold;">Vatican 
        City</span>, made <span style="font-weight: bold;">Catholicism the 
        state religion of Italy</span> (ended in 1984), and determined the 
        proper remuneration for <span style="font-weight: bold;">Church 
        property taken by Italy</span>. It was signed by 
        <span style="font-weight: bold;">Benito Mussolini</span> and a 
        representative of <span style="font-weight: bold;">Pope Pius&nbsp;XI
        </span> in the namesake papal residence, and ended the so-called 
        <span style="font-weight: bold;">&#8220;Roman Question&#8221;</span> 
        that arose out of the unification of Italy and the dissolution of 
        the Papal States.
    </li>
	<li class="list_item">
        The <span class="label">Treaty of Paris of 1898</span> ended the 
        <span style="font-weight: bold;">Spanish-American War</span> 
        and transferred <span style="font-weight: bold;">Guam</span>, the 
        <span style="font-weight: bold;">Philippines</span>, and 
        <span style="font-weight: bold;">Puerto Rico</span> to the U.S. 
        while making <span style="font-weight: bold;">Cuba</span> (ostensibly) 
        independent. The treaty was the beginning of 
        <span style="font-weight: bold;">American imperialism</span> overseas, 
        and it underwent a lengthy and contentious ratification.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}