{% extends "base.html" %}  {% block title %}World War II Battles{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a> | </li>
    <li style="display:inline">World War II Battles</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/world-war-ii-battles.html">
    You Gotta Know These World War II Battles
    </a>
</h1>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">European Theatre</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Battle of Britain</span> 
        (July&nbsp;1940&nbsp;&ndash;&nbsp;October&nbsp;1940): The Battle of 
        Britain saw the British <span style="font-weight: bold;">Royal Air 
        Force</span> (RAF) defeat the German air force, known as the 
        <i style="font-weight: bold;">Luftwaffe</i>, effectively saving 
        Britain from a proposed <span style="font-weight: bold;">German 
        amphibious invasion</span> codenamed <span style="font-weight: bold;">
        Operation Sea Lion</span>. The primary German fighter plane was the 
        <span style="font-weight: bold;">Messerschmitt Bf&nbsp;109</span>, 
        which engaged in numerous dogfights against British pilots flying 
        <span style="font-weight: bold;">Hurricane</span> and 
        <span style="font-weight: bold;">Spitfire</span> aircraft. 
        Effective use of <span style="font-weight: bold;">radar</span> 
        helped to repel German forces, forcing the Luftwaffe into 
        <span style="font-weight: bold;">nighttime raids against civilian 
        targets</span>, a campaign known as the 
        <span style="font-weight: bold;">Blitz</span>.
    </li>
    <li class="list_item">
        <span class="label">Battle of Stalingrad</span> 
        (August&nbsp;1942&nbsp;&ndash;&nbsp;February&nbsp;1943): With about 
        <span style="font-weight: bold;">two million casualties</span>, the 
        Battle of Stalingrad is often cited as the 
        <span style="font-weight: bold;">bloodiest battle in history</span>. 
        The battle arose out of Germany&#8217;s summer campaign to 
        <span style="font-weight: bold;">capture vital oil supplies</span> 
        in the Caucasus Mountains, but <span style="font-weight: bold;">
        Friedrich Paulus&#8217;s 6th&nbsp;Army</span> became bogged down in 
        intense street fighting in the city, allowing Soviet Marshal 
        <span style="font-weight: bold;">Georgy Zhukov</span> to launch 
        <span style="font-weight: bold;">Operation Uranus</span>, which 
        encircled Paulus&#8217;s men by defeating the Italian, Hungarian, 
        and Romanian forces guarding their flank.  In the final days of 
        the battle, Hitler promoted Paulus to field marshal, a not-so-subtle 
        suggestion that Paulus should either fight to the death or commit 
        suicide, as no German field marshal had ever been captured; Paulus 
        <span style="font-weight: bold;">surrendered</span> anyway.
    </li>
    <li class="list_item">
        <span class="label">Battle of El Alamein</span> 
        (October&nbsp;1942&nbsp;&ndash;&nbsp;November&nbsp;1942): The 
        Second Battle of El Alamein marked the 
        <span style="font-weight: bold;">turning point in the African 
        campaign</span>. Named for an Egyptian coastal town 65&nbsp;miles 
        west of Alexandria, it saw the <span style="font-weight: bold;">
        British Eighth Army</span> under <span style="font-weight: bold;">
        Bernard Montgomery</span> defeat the German 
        <span style="font-weight: bold;">Afrika Korps</span> under 
        <span style="font-weight: bold;">Erwin Rommel</span>, preventing 
        the Nazis from capturing the Suez Canal and oil fields in the 
        Middle East. Following the battle, Allied forces landed in 
        <span style="font-weight: bold;">Morocco</span> and 
        <span style="font-weight: bold;">Algeria</span> as part of 
        <span style="font-weight: bold;">Operation Torch</span>, and by 
        May&nbsp;1943 all Axis forces in North Africa had surrendered.
    </li>
    <li class="list_item">
        <span class="label">Battle of Kursk</span> 
        (July&nbsp;1943&nbsp;&ndash;&nbsp;August&nbsp;1943): Fought in 
        <span style="font-weight: bold;">western Russia</span>, the Battle 
        of Kursk was the <span style="font-weight: bold;">largest tank battle 
        in history</span>, with about 6,000 tanks engaged.  Thanks to a 
        complex <span style="font-weight: bold;">spy network</span>, the 
        Soviet leadership was well-informed about German plans to launch 
        <span style="font-weight: bold;">Operation Citadel</span> against 
        the Kursk salient, and constructed massive defensive fortifications. 
        After the German advance was stopped, a successful Soviet 
        counterattack was launched. The German Army never again was able 
        to mount a major attack on the Eastern Front.
    </li>
    <li class="list_item">
        <span class="label">D-Day (Operation Overlord)</span> (June&nbsp;6, 
        1944): The <span style="font-weight: bold;">largest amphibious 
        assault in history</span>, as Supreme Allied Commander 
        <span style="font-weight: bold;">Dwight Eisenhower</span>&#8217;s 
        forces attacked the German <span style="font-weight: bold;">Atlantic 
        Wall defenses</span> on the <span style="font-weight: bold;">
        beaches of Normandy</span>, France. Due to his wife&#8217;s birthday, 
        German Field Marshal <span style="font-weight: bold;">Erwin Rommel 
        was absent</span> at the start the invasion, which saw American 
        forces land at <span style="font-weight: bold;">Utah</span> and 
        <span style="font-weight: bold;">Omaha Beaches</span>, British 
        forces land at <span style="font-weight: bold;">Gold</span> and 
        <span style="font-weight: bold;">Sword Beaches</span>, and Canadian 
        forces land at <span style="font-weight: bold;">Juno Beach</span>. 
        After the landings, Allied forces erected prefabricated artificial 
        <span style="font-weight: bold;">Mulberry harbors</span> 
        to aid in transporting goods to France.
    </li>
    <li class="list_item">
        <span class="label">Battle of the Bulge</span> 
        (December&nbsp;1944&nbsp;&ndash;&nbsp;January&nbsp;1945): The 
        Battle of the Bulge resulted from <span style="font-weight: bold;">
        Germany&#8217;s last major offensive operation on the Western Front
        </span>. The German plan to sweep through the 
        <span style="font-weight: bold;">Ardennes Forest</span> and 
        <span style="font-weight: bold;">capture the port city Antwerp, 
        Belgium</span>, benefited from <span style="font-weight: bold;">
        Allied aircraft being grounded</span> due to poor weather. During 
        the battle, English-speaking German troops under Otto Skorzeny 
        attempted to <span style="font-weight: bold;">disguise themselves 
        as Allied troops</span> and infiltrate enemy lines. German forces 
        also <span style="font-weight: bold;">besieged the Belgian town 
        Bastogne</span> and requested its surrender, to which U.S. Army 
        <span style="font-weight: bold;">Brigadier General Anthony McAuliffe 
        replied &#8220;Nuts!&#8221;</span>; the siege was eventually lifted 
        by forces commanded by <span style="font-weight: bold;">George Patton
        </span>.
    </li>
</ul>
<p class="justify">
    Other notable battles in Europe included the 
    <span style="font-weight: bold;">Battle of France</span>, the 
    <span style="font-weight: bold;">Siege of Leningrad</span>, the 
    <span style="font-weight: bold;">Battle of Moscow</span>, the 
    <span style="font-weight: bold;">Battle of Anzio</span>, the 
    <span style="font-weight: bold;">Battleof Monte Cassino</span>, 
    <span style="font-weight: bold;">Operation Market Garden</span>, and the 
    <span style="font-weight: bold;">Battle of Berlin</span>.
</p>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Pacific Theatre</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Attack on Pearl Harbor</span> (December&nbsp;7, 
        1941): On what President Franklin Roosevelt declared would be 
        <span style="font-weight: bold;">&#8220;a date which will live in 
        infamy,&#8221;</span> Japanese carrier-based aircraft launched &mdash; 
        <span style="font-weight: bold;">without a formal declaration of 
        war</span> &mdash; a <span style="font-weight: bold;">surprise 
        attack</span> on the American naval base at Pearl Harbor on the 
        Hawaiian island <span style="font-weight: bold;">Oahu</span>. The 
        attack <span style="font-weight: bold;">sank four battleships</span>, 
        most notably the <a style="color: maroon; font-weight: bold;" 
        target="_blank" href="http://www.nps.gov/valr/historyculture/">
        USS&nbsp;<i>Arizona</i></a>, but all of the U.S. Navy&#8217;s 
        <span style="font-weight: bold;">carriers were at sea</span> and 
        were unattacked. Shortly after the attack, Japan began 
        <span style="font-weight: bold;">invasions of Guam, Wake Island, 
        the Philippines, and the British colony of Singapore</span>. On 
        December&nbsp;8, with only Montana Representative 
        <span style="font-weight: bold;">Jeannette Rankin dissenting</span>, 
        the U.S. Congress <span style="font-weight: bold;">declared war on 
        Japan</span>.
    </li>
	<li class="list_item">
        <span class="label">Battle of the Coral Sea</span> 
        (May&nbsp;1942): Resulting from a Japanese plan to 
        <span style="font-weight: bold;">capture Port Moresby, New Guinea
        </span>, the Battle of the Coral Sea was 
        <span style="font-weight: bold;">fought entirely by carrier-based 
        aircraft</span>, making it the <span style="font-weight: bold;">
        first major naval battle in history in which the two opposing 
        fleets never directly fired upon (or even sighted) each other
        </span>. The U.S. Navy&#8217;s carrier <i style="font-weight: bold;">
        Lexington</i> was sunk, and the <i style="font-weight: bold;">
        Yorktown</i> heavily damaged, while the Japanese navy lost the light 
        carrier <i style="font-weight: bold;">Shoho</i> and saw its large 
        carriers <i style="font-weight: bold;">Shokaku</i> and 
        <i style="font-weight: bold;">Zuikaku</i> damaged. Ultimately, the 
        invasion of Port Moresby was cancelled and the temporary loss of 
        two Japanese carriers gave the U.S. an edge at the subsequent 
        <span style="font-weight: bold;">Battle of Midway</span>.
    </li>
    <li class="list_item">
        <span class="label">Battle of Midway</span> (June&nbsp;1942): 
        Universally considered the <span style="font-weight: bold;">turning 
        point in the Pacific Theater</span>, the Battle of Midway saw the 
        Japanese <span style="font-weight: bold;">lose four aircraft carriers
        </span>, a blow from which they never fully recovered. Japanese 
        <span style="font-weight: bold;">Admiral Isoroku Yamamoto</span> 
        planned to <span style="font-weight: bold;">lure the U.S. fleet 
        into a trap</span>, but the Americans had 
        <span style="font-weight: bold;">broken the Japanese code</span>, 
        allowing them to pull off a stunning victory, with 
        <span style="font-weight: bold;">dive bombers from the 
        <i style="font-weight: bold;">Enterprise</i></span> 
        sinking the carriers <i>Kaga</i>, <i>Akagi</i>, and <i>Hiryu</i>, 
        while those from the hastily-repaired <i style="font-weight: bold;">
        Yorktown</i> sank the carrier <i>Soryu</i>.
    </li>
	<li class="list_item">
        <span class="label">Battle of Leyte Gulf</span> (October&nbsp;1944): 
        By some measures the <span style="font-weight: bold;">largest naval 
        battle in history</span>, the Battle of Leyte Gulf resulted from 
        the Japanese <span style="font-weight: bold;"><i>Sho-Go</i> plan
        </span> to <span style="font-weight: bold;">halt the American 
        reconquest of the Philippines</span>. The plan nearly worked when 
        American <span style="font-weight: bold;">Admiral William 
        &#8220;Bull&#8221; Halsey</span> was baited into 
        <span style="font-weight: bold;">moving all of his battleships and 
        large carriers away</span> from the landing site, but an American 
        force of small escort carriers and destroyers held off a Japanese 
        task force that included four battleships. Another Japanese force 
        tried to pass through the <span style="font-weight: bold;">
        Surigao Strait</span>, but &mdash; in the 
        <span style="font-weight: bold;">last-ever combat between opposing 
        battleships</span> &mdash; the American 
        <span style="font-weight: bold;">Seventh Fleet</span> crossed their 
        &#8216;T&#8217; and annihilated the force.
    </li>
	<li class="list_item">
        <span class="label">Battle of Iwo Jima</span> 
        (February&nbsp;1945&nbsp;&ndash;&nbsp;March&nbsp;1945): The Allies 
        sought to capture Iwo Jima, a small island midway 
        <span style="font-weight: bold;">between the Mariana Islands and 
        the Japanese home islands</span>, to provide an airbase for the 
        eventual <span style="font-weight: bold;">invasion of Japan</span>. 
        Under the leadership of <span style="font-weight: bold;">General 
        Tadamichi Kuribayashi</span>, the island&#8217;s defenders built a 
        complex network of <span style="font-weight: bold;">underground 
        tunnels</span> and well-<span style="font-weight: bold;">camouflaged 
        artillery</span> pieces that enabled them to 
        <span style="font-weight: bold;">hold out for a month</span> against 
        vastly superior forces. The battle is best known for 
        <a style="color: maroon;font-weight: bold;" target="_blank" 
        href="http://www.iwojima.com/bond/lflage.gif">Joe Rosenthal&#8217;s 
        photograph</a> showing six American servicemen 
        <span style="font-weight: bold;">raising a flag atop Mount 
        Suribachi</span>.
    </li>
	<li class="list_item">
        <span class="label">Battle of Okinawa</span> 
        (April&nbsp;1945&nbsp;&ndash;&nbsp;June&nbsp;1945): The 
        <span style="font-weight: bold;">largest amphibious assault of the 
        Pacific Theater</span>, the Battle of Okinawa featured 
        <span style="font-weight: bold;">massive casualties</span> among 
        both combatants and <span style="font-weight: bold;">civilians</span>. 
        The Japanese launched over 1,500 <i style="font-weight: bold;">
        kamikaze</i> attacks against the U.S. fleet, and even sent the 
        massive battleship <i style="font-weight: bold;">Yamato</i> on a 
        <span style="font-weight: bold;">suicide mission</span>; it was 
        <span style="font-weight: bold;">sunk by aircraft</span> before 
        reaching Okinawa. On the American side, both war correspondent 
        <span style="font-weight: bold;">Ernie Pyle</span> and 
        <span style="font-weight: bold;">Lieutenant General Simon Bolivar 
        Buckner Jr.</span>, the commander-in-chief of the ground forces, 
        were <span style="font-weight: bold;">killed</span>. Somewhat 
        uniquely, the battle also saw <span style="font-weight: bold;">
        large numbers of Japanese troops surrender</span>, although many 
        were native Okinawans forced into fighting.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Recommended Reading</h3>
<ul class="list2">
    <li class="list_item">
        Christian Hartmann, <a style="color: maroon;" target="_blank" 
        href="https://www.amazon.com/gp/product/B00CG3JMCG/ref=as_
        li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00CG3
        JMCG&amp;linkCode=as2&amp;tag=naqt&amp;linkId=376246e827e6b47e44baf77
        5d4ec66c0"><i>Operation Barbarossa: Nazi Germany&#8217;s War in the 
        East, 1941&ndash;1945</i></a> (Oxford: Oxford University Press, 2013)
    </li>
	<li class="list_item">
        Catherine Merridale, <a style="color: maroon;" target="_blank" 
        href="https://www.amazon.com/gp/product/0312426526/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0312426526&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=e2a9b5a8fcf2bb4669789174f4
        7f5ade"><i>Ivan&#8217;s War: Life and Death in the Red Army, 
        1939&ndash;1945</i></a> (New York: Metropolitan Books, 2006)
    </li>
	<li class="list_item">
        John Lukacs, <a style="color: maroon;" target="_blank" 
        href="https://www.amazon.com/gp/product/0300089155/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0300089155&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=65aea439dd299d21ba8bc61c3a2
        f2030"><i>The Last European War: September 1939&nbsp;&ndash; December 
        1941</i></a> (New Haven: Yale University Press, 2001)
    </li>
	<li class="list_item">
        Douglas Porch, <a style="color: maroon;" target="_blank" 
        href="https://www.amazon.com/gp/product/0374205183/ref=as_li_tl?ie=
        UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0374205183&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=facec27c9f621fdae0c7f4d7fb5
        18746"><i>The Path to Victory: The Mediterranean Theater in World 
        War II</i></a> (New York: Farrar, Straus and Giroux, 2004)
    </li>
	<li class="list_item">
        Russell F. Weigley, <a style="color: maroon;" target="_blank" 
        href="https://www.amazon.com/gp/product/0253133335/ref=as_li_tl?ie
        =UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0253133335&amp;
        linkCode=as2&amp;tag=naqt&amp;linkId=038758df31ec532247ed099c10
        2b9903"><i>Eisenhower&#8217;s Lieutenants: The Campaigns of France 
        and Germany, 1944&ndash;1945</i></a> (Bloomington: Indiana 
        University Press, 1981)
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Aaron Cohen.</p>
<br />
<br />
<br />
{% endblock %}