{% extends "base.html" %} {% block title %}Practice{% endblock %} 

{% block content%}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline">Information</li>
</ul>
<br />
<h1 style="font-family: Cambria" align="center">Practice</h1>
<br />
<p class="justify">This page will help you practice and improve your knowledge in different categories for a Quiz Bowl Tournament with some resources from the National Academic Quiz Tournaments (NAQT), LLC.</p>
<p class="justify">This page has different categories displayed that contains information from the "You Gotta Know" article from the National Academic Quiz Tournament (NAQT). To further improve the success of studying, the information can also by studied by flash cards. </p>
<p class="justify">You can choose whether you want to just look at the "You Gotta Know" information from NAQT, or to study the information with flash cards.</p>
<br />

<div id="yougottaknow" style="float:left;width: 50%;">
    <h5>Categories - You Gotta Know</h5>
    <ul style="padding-left: 0; list-style-position: outside; margin-left: 2em;">
        <li><a style="color: maroon;" href="/practice/you-gotta-know/geography">Geography</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/history">History</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/literature">Literature</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/mathematics">Mathematics</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous">Miscellaneous</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art">Music and Auditory Art</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/people">People</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/performance">Performance</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/philosophy">Philosophy</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/popular-culture">Popular Culture</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/science">Science</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/social-science">Social Science</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/sports">Sports</a></li>
        <li><a style="color: maroon;" href="/practice/you-gotta-know/visual-art">Visual Art</a></li>
    </ul> 
</div>

<div id="flashcards" style="float:left;width: 50%; margin-bottom: 150px;">
    <h5>Categories - Flashcards</h5>
    <ul  style="padding-left: 0; list-style-position: outside; margin-left: 2em;">
        <li><a style="color: maroon;" href="/practice/flashcards/geography">Geography</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/history">History</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/literature">Literature</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/mathematics">Mathematics</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/miscellaneous">Miscellaneous</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/music-and-auditory-art">Music and Auditory Art</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/mythology">Mythology</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/people">People</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/performance">Performance</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/philosophy">Philosophy</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/popular-culture">Popular Culture</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/religion">Religion</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/science">Science</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/social-science">Social Science</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/sports">Sports</a></li>
        <li><a style="color: maroon;" href="/practice/flashcards/visual-art">Visual Art</a></li>
    </ul> 
</div>
{% endblock %}