{% extends "base.html" %}  {% block title %}Economic Concepts{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/social-science">Social Science</a> | </li>
    <li style="display:inline">Economic Concepts</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/economic-concepts.html">
    You Gotta Know These Economic Concepts
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Supply</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Demand</span>. Supply and demand embody the 
        general idea that, at any given price, producers are willing to 
        produce a given amount of a good (the 
        <span style="font-weight: bold;">quantity supplied</span>) and 
        consumers are willing to buy a different amount (the 
        <span style="font-weight: bold;">quantity demanded</span>). As the 
        price rises, firms will be willing to supply more goods, but fewer 
        will be demanded; conversely, as price falls, consumers will demand 
        more goods, but fewer will be supplied. On a graph showing price and 
        quantity on its two axes, this is represented by a downward-sloping 
        <span style="font-weight: bold;">demand curve</span> and an upward-
        sloping <span style="font-weight: bold;">supply curve</span>. Where 
        the two curves intersect, there is an <span style="font-weight: bold;">
        equilibrium</span>; economists predict this equilibrium quantity will 
        be produced (and consumed) in a free market.
    </li>
	<li class="list_item">
        <span class="label">Elasticity</span>. Elasticity is a measure of how 
        much one economic variable changes in response to a change in a 
        different variable, expressed in the form of &#8220;Every 1% change 
        in the independent (second) variable leads to an <i>x</i>% change in 
        the value of the first (dependent) variable.&#8221; A common example 
        is the <span style="font-weight: bold;">price elasticity of demand
        </span>, which measures the degree to which the quantity demanded 
        changes when the price is altered.
    </li>
	<li class="list_item">
        <span class="label">Monopoly</span>.  A monopoly occurs when there is 
        only one firm producing goods for a given market. This allows that 
        firm to set the price higher&mdash;and thus the quantity sold 
        lower&mdash;than would otherwise occur. An 
        <span style="font-weight: bold;">oligopoly</span> is a similar market 
        environment where production is dominated by a few firms, whereas a 
        <span style="font-weight: bold;">monopsony</span> is the opposite 
        case: a market with only a single consumer.
    </li>
	<li class="list_item">
        <span class="label">Tariff</span>. A tariff is a tax placed on the 
        <span style="font-weight: bold;">import</span> (common) or 
        <span style="font-weight: bold;">export</span> (rarer) of a good. 
        Tariffs have various &mdash; often controversial &mdash; 
        sociopolitical goals, but economists agree that they raise consumer 
        prices relative to equilibrium (resulting in a lower quantity 
        demanded). Tariffs are similar to <span style="font-weight: bold;">
        quotas</span>, in which a government limits the amount of a good that 
        may be imported.
    </li>
	<li class="list_item">
        <span class="label">Factors of production</span>. There are three 
        classical factors of production:  <span style="font-weight: bold;">
        land</span>, <span style="font-weight: bold;">labor</span>, and 
        <span style="font-weight: bold;">capital</span> (i.e., machinery and 
        tools).  Modern economists sometimes add a fourth, 
        <span style="font-weight: bold;">entrepreneurship</span>.
    </li>
	<li class="list_item">
        <span class="label">Unemployment</span>. The 
        <span style="font-weight: bold;">unemployment rate</span> refers to 
        the percentage of the population that is actively seeking work but 
        cannot find a job. Unemployment can be 
        <span style="font-weight: bold;">cyclical</span> (common in seasonal 
        industries like fieldwork), <span style="font-weight: bold;">
        frictional</span> (the natural time between jobs that exists in most 
        labor markets), or <span style="font-weight: bold;">structural</span> 
        (when workers&#8217; skills do not match those required by open jobs).
    </li>
	<li class="list_item">
        <span class="label">Gross Domestic Product</span>.  Gross domestic class="label"style="font-family: Cambria; font-weight: bold; 
        font-size: large;">GDP</span>), is a commonly used measure of the 
        size of a country&#8217;s or state&#8217;s economy. GDP is computed 
        by summing <span style="font-weight: bold;">consumption</span>, 
        <span style="font-weight: bold;">investment</span>, 
        <span style="font-weight: bold;">government expenditures</span>, and 
        <span style="font-weight: bold;">exports</span>, and then 
        subtracting <span style="font-weight: bold;">imports</span>.
    </li>
	<li class="list_item">
        <span class="label">Inflation.</span> The 
        <span style="font-weight: bold;">inflation rate</span> is the pace at 
        which prices are rising, usually expressed in the form &#8220;2.5% 
        per year.&#8221; This is equivalent to the rate at which currency 
        loses its value. Inflation is often measured by the 
        <span style="font-weight: bold;">consumer price index</span>, which 
        establishes a standard <span style="font-weight: bold;">basket of 
        goods</span> that a family might buy and seeing how its total price 
        changes over a year.
    </li>
	<li class="list_item">
        <span class="label">Interest rate</span>.  The interest rate is a 
        &#8220;price of money,&#8221; inasmuch as it is the amount one must 
        pay to use somebody else&#8217;s money (&#8220;borrow&#8221;) for a 
        given period of time; the term is also used for the payment the 
        lender (e.g., a person with a savings account) receives for loaning 
        out his money. Because <span style="font-weight: bold;">inflation
        </span> lowers the value of currency, economists routinely distinguish 
        between <span style="font-weight: bold;">nominal interest rates</span> 
        (the actual amount earned by a lender/saver) and 
        <span style="font-weight: bold;">real interest rates</span> (which 
        are corrected for the inflation rate). A savings account earning 5% 
        interest is not acquiring the ability to buy more things if prices 
        are also going up by 5% per year!
    </li>
	<li class="list_item">
        <span class="label">Comparative advantage</span>. Comparative 
        advantage is the idea that every pair of potential trading partners 
        (two firms, two neighbors, two countries, etc.) can benefit by trade 
        if they are producing at least two goods. The counterintuitive aspect 
        is that this result is true for <em>every</em> pair, no matter how 
        <em>un</em>productive one of the parties might be (in absolute terms). 
        Broadly speaking, each party should specialize in what it does best 
        (relative to the other party) and then trade for everything else. 
        David Ricardo formulated this theory with a famous example involving 
        Britain&#8217;s cloth industry and Portugal&#8217;s wine industry.
    </li>
	<li class="list_item">
        <span class="label">Invisible hand</span>. The invisible hand is the 
        metaphorical notion that producers and consumers acting in their own 
        narrow interest (e.g., by trying to maximize income from their 
        business) will create an overall benefit to society. This might 
        happen by their rewarding technologies that make production more 
        efficient, rewarding firms who can sell at lower cost, rewarding 
        inventors who discover new processes, and so on. The phrase was 
        introduced by Adam Smith in his 1776 book <em>The Wealth of Nations
        </em>, but the modern understanding (and broad-based application of 
        the metaphor) is due to later thinkers.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Kurtis Droge.</p>
<br />
<br />
<br />
{% endblock %}