{% extends "base.html" %}  {% block title %}Economists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/social-science">Social Science</a> | </li>
    <li style="display:inline">Economists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/economists.html">
    You Gotta Know These Economists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Adam Smith</span> (Scottish, 1723&ndash;1790): 
        Though he wrote on nearly every subject of moral and social 
        philosophy, he is basically remembered as the author of 
        <i style="font-weight: bold;">An Inquiry into the nature and causes 
        of the Wealth of Nations</i> (1776) and as the creator of the 
        metaphor of the <span style="font-weight: bold;">&#8220;invisible 
        hand.&#8221;</span> This work more-or-less single-handedly founded 
        the <span style="font-weight: bold;">Classical school</span> of 
        economics.
    </li>
	<li class="list_item">
        <span class="label">Milton Friedman</span> (American, 
        1912&ndash;2006): <span style="font-weight: bold;">Conservative
        </span> thinker famous for his advocacy of 
        <span style="font-weight: bold;">monetarism</span> (a revision of 
        the <span style="font-weight: bold;">quantity theory of money
        </span>) in works like <i style="font-weight: bold;">A Monetary 
        History of the United States, 1867&ndash;1960</i> (1963). He is 
        strongly associated with the ideals of 
        <span style="font-weight: bold;">laissez-faire</span> government 
        policy.
    </li>
	<li class="list_item">
        <span class="label">Karl Marx</span> (German, 1818&ndash;1883): 
        Also a historian and social philosopher, Marx&#8217;s principal 
        contribution to economic thought was extending the 
        <span style="font-weight: bold;">labor theory of value</span> to its 
        logical conclusion, his theory of <span style="font-weight: bold;">
        surplus value</span>.  This theory, along with his defense of 
        <span style="font-weight: bold;">economic materialism</span>, 
        appeared in <i style="font-weight: bold;">Das Kapital</i> (1867, 
        1885, 1894).
    </li>
	<li class="list_item">
        <span class="label">John Maynard Keynes</span> (English, 
        1883&ndash;1946): He is most famous for <i style="font-weight: bold;">
        The General Theory of Employment, Interest and Money</i> (1936), 
        which judged most of classical economic analysis to be a special 
        case (hence &#8220;General Theory&#8221;) and argued that the best 
        way to deal with prolonged recessions was 
        <span style="font-weight: bold;">deficit spending</span>.
    </li>
	<li class="list_item">
        <span class="label">David Ricardo</span> (English, 1772&ndash;1823): 
        Ricardo is best known for <i style="font-weight: bold;">Principles 
        of Political Economy and Taxation</i>, which introduced more-or-
        less modern notions of <span style="font-weight: bold;">comparative 
        advantage</span> and its theoretical justification for unfettered 
        <span style="font-weight: bold;">international trade</span>. He 
        also put forth the so-called <span style="font-weight: bold;">iron 
        law of wages</span>.
    </li>
	<li class="list_item">
        <span class="label">John Kenneth Galbraith</span> (Canadian, 
        1908&ndash;2006): His liberal popular writings like 
        <i style="font-weight: bold;">The Affluent Society</i> and 
        <i style="font-weight: bold;">The New Industrial State</i> (with 
        their emphasis on <span style="font-weight: bold;">public service
        </span> and the <span style="font-weight: bold;">limitations of the 
        marketplace</span>) ensure his coming up again and again.
    </li>
	<li class="list_item">
        <span class="label">Francois Quesnay</span> (French, 1694&ndash;1774): 
        Quesnay was the undisputed leader of the 
        <span style="font-weight: bold;">Physiocrats</span>, the first 
        systematic school of economic thought.  Among its tenets were the 
        economic and moral righteousness of <span style="font-weight: bold;">
        laissez-faire</span> policies and the notion that 
        <span style="font-weight: bold;">land is the ultimate source of all 
        wealth</span>.
    </li>
	<li class="list_item">
        <span class="label">Alfred Marshall</span> (English, 1842&ndash;1924): 
        Marshall&#8217;s <i>magnum opus</i>, 1890&#8217;s 
        <i style="font-weight: bold;">Principles of Economics</i>, 
        introduced the notions of <span style="font-weight: bold;">consumer 
        surplus</span>, <span style="font-weight: bold;">quasi-rent</span>, 
        <span style="font-weight: bold;">demand curves</span>, and 
        <span style="font-weight: bold;">elasticity</span>, all fundamental 
        concepts in introductory macro- and microeconomics.
    </li>
	<li class="list_item">
        <span class="label">Thorstein Veblen</span> (American, 
        1857&ndash;1929): Veblen is primarily remembered for his 
        <i style="font-weight: bold;">The Theory of the Leisure Class</i> 
        (1899), which introduced phrases like 
        <span style="font-weight: bold;">&#8220;conspicuous 
        consumption.&#8221;</span>  He is remembered for likening the 
        ostentation of the rich to the Darwinian 
        <span style="font-weight: bold;">proofs of virility</span> found in 
        the animal kingdom.
    </li>
	<li class="list_item">
        <span class="label">John Stuart Mill</span> (English, 
        1806&ndash;1873): Also a social philosopher, Mill is mainly known in 
        economic circles today for his work extending the ideas of Ricardo in 
        <i style="font-weight: bold;">Essays on Some Unsettled Questions of 
        Political Economy</i> (1844) (for example, the 
        <span style="font-weight: bold;">relationship between profits and 
        wages</span>), and also for exhaustively examining the 
        <span style="font-weight: bold;">necessity of private property</span> 
        in his <i style="font-weight: bold;">Principles of Political Economy
        </i> (1848).
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT writer Brad Fischer.</p>
<br />
<br />
<br />
{% endblock %}