{% extends "base.html" %}  {% block title %}Psychologists{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/social-science">Social Science</a> | </li>
    <li style="display:inline">Psychologists</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/psychologists.html">
    You Gotta Know These Psychologists
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Sigmund Freud</span> (Austrian, 1856&ndash;1939): 
        Sigmund Freud founded the extremely influential discipline 
        <span style="font-weight: bold;">psychoanalysis</span>, which used 
        the <span style="font-weight: bold;">free-association</span> 
        technique to identify <span style="font-weight: bold;">fears</span> 
        and <span style="font-weight: bold;">repressed memories</span>. 
        He argued that many problems were caused by 
        <span style="font-weight: bold;">mental states</span> rather than 
        by biochemical dysfunction &mdash; a purely 
        <span style="font-weight: bold;">materialist</span> viewpoint then 
        in vogue. He separated the <span style="font-weight: bold;">psyche
        </span> into the <span style="font-weight: bold;">id</span> 
        (illogical passion), <span style="font-weight: bold;">ego</span> 
        (rational thought), and <span style="font-weight: bold;">superego
        </span> (moral and social conscience). His best-known works are 
        <i style="font-weight: bold;">The Interpretation of Dreams</i> and 
        <i style="font-weight: bold;">The Psychopathology of Everyday 
        Life</i>.
    </li>
	<li class="list_item">
        <span class="label">Carl Jung</span> (Swiss, 1875&ndash;1961): 
        Carl Jung was a close associate of Freud&#8217;s who 
        <span style="font-weight: bold;">split</span> with him over the 
        degree to which <span style="font-weight: bold;">neuroses</span> 
        had a <span style="font-weight: bold;">sexual basis</span>. He went 
        on to create the <span style="font-weight: bold;">analytic 
        psychology</span> movement and introduced the controversial notion 
        of the <span style="font-weight: bold;">collective unconscious
        </span> &mdash; a socially shared area of the mind. Quiz bowlers 
        should be familiar with <span style="font-weight: bold;">anima
        </span>, <span style="font-weight: bold;">animus</span>, 
        <span style="font-weight: bold;">introversion</span>, 
        <span style="font-weight: bold;">extroversion</span>, and 
        <span style="font-weight: bold;">archetypes</span>, all terms that 
        occur frequently in questions on Jung. (Of course, being familiar 
        with them entails knowing what specifically they mean, and how 
        they relate to Jung&#8217;s work.)
    </li>
	<li class="list_item">
        <span class="label">Alfred Adler</span> (Austrian, 1870&ndash;1937): 
        Alfred Adler was another close associate of Freud who 
        <span style="font-weight: bold;">split</span> with him over 
        Freud&#8217;s insistence that <span style="font-weight: bold;">
        sexual issues were at the root of neuroses</span> and most 
        psychological problems. Adler argued in 
        <i style="font-weight: bold;">The Neurotic Constitution</i> that 
        neuroses resulted from people&#8217;s inability to achieve 
        <span style="font-weight: bold;">self-realization</span>; in 
        failing to achieve this sense of completeness, they developed 
        <span style="font-weight: bold;">&#8220;inferiority 
        complexes&#8221;</span> that inhibited their relations with 
        successful people and dominated their relations with fellow 
        unsuccessful people, a theory given the general name 
        <span style="font-weight: bold;">&#8220;individual 
        psychology.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Ivan Pavlov</span> (Russian 1849&ndash;1936): 
        Ivan Pavlov was more of a <span style="font-weight: bold;">
        physiologist</span> than a psychologist, but questions about him are 
        more often classified as psychology than biology by question writers. 
        He is largely remembered for his idea of the 
        <span style="font-weight: bold;">conditioned reflex</span>, for 
        example, the <span style="font-weight: bold;">salivation</span> of 
        a <span style="font-weight: bold;">dog</span> at the sound of the 
        <span style="font-weight: bold;">bell</span> that presages dinner, 
        even though the bell itself is inedible and has 
        <span style="font-weight: bold;">no intrinsic connection</span> 
        with food. He won the Nobel Prize in 1904 for Physiology or 
        Medicine for unrelated work on <span style="font-weight: bold;">
        digestive secretions</span>.
    </li>
	<li class="list_item">
        <span class="label">John B. Watson</span> (American, 1878&ndash;1958): 
        John Watson was the first prominent exponent of 
        <span style="font-weight: bold;">behaviorism</span>; he codified its 
        tenets in <i style="font-weight: bold;">Behavior: An Introduction to 
        Comparative Psychology</i>, arguing that psychology could be 
        completely grounded in <span style="font-weight: bold;">objective 
        measurements</span> of events and physical human reactions. His most 
        famous experiment involved <span style="font-weight: bold;">
        conditioning</span> an <span style="font-weight: bold;">eleven-
        month-old boy</span> to be apprehensive of all 
        <span style="font-weight: bold;">furry objects</span> by striking a 
        loud bell whenever a furry object was placed in his lap.
    </li>
	<li class="list_item">
        <span class="label">B.&nbsp;F. Skinner</span> (American, 
        1904&ndash;1990): B.&nbsp;F. Skinner was one of the leading 
        proponents of <span style="font-weight: bold;">behaviorism</span> 
        in works like <i style="font-weight: bold;">Walden&nbsp;II</i> and 
        <i style="font-weight: bold;">Beyond Freedom and Dignity</i>. He 
        argued that all human actions could be understood in terms of 
        <span style="font-weight: bold;">physical stimuli</span> and 
        <span style="font-weight: bold;">learned responses</span>, and that 
        there was no need to study &mdash; or even believe in &mdash; 
        internal mental states or motivations; in fact, doing so could be 
        harmful. Guided by his ideas, he trained animals to perform 
        complicated tasks, including <span style="font-weight: bold;">
        teaching pigeons to play table tennis</span>.
    </li>
	<li class="list_item">
        <span class="label">Jean Piaget</span> (Swiss, 1896&ndash;1980): 
        Jean Piaget is generally considered the greatest figure of 
        20th-century <span style="font-weight: bold;">developmental 
        psychology</span>; he was the first to perform rigorous studies of 
        the way in which <span style="font-weight: bold;">children</span> 
        <span style="font-weight: bold;">learn</span> and come to understand 
        and <span style="font-weight: bold;">respond</span> to the world 
        around them. He is most famous for his theory of 
        <span style="font-weight: bold;">four stages of development</span>: 
        sensorimotor, preoperational, concrete operational, and formal 
        operational. His most famous works are 
        <i style="font-weight: bold;">The Language and Thought of a Child
        </i> and <i style="font-weight: bold;">The Origins of Intelligence 
        in Children</i>.
    </li>
	<li class="list_item">
        <span class="label">Erik Erikson</span> (German-born American, 
        1902&ndash;1994): Erik Erikson is best known for his theories on how 
        <span style="font-weight: bold;">social institutions reflect the 
        universal features of psychosocial development</span>; in particular, 
        how different societies create different traditions and ideas to 
        accommodate the same biological needs. He created a notable 
        <span style="font-weight: bold;">eight-stage development process
        </span> and wrote several <span style="font-weight: bold;">
        &#8220;psychohistories&#8221;</span> explaining how people like 
        Martin Luther and Mahatma Gandhi were able to think and act the way 
        they did.
    </li>
	<li class="list_item">
        <span class="label">Abraham Maslow</span> (American, 1908&ndash;1970): 
        Abraham Maslow is principally known for two works, 
        <i style="font-weight: bold;">Motivation and Personality</i> and 
        <i style="font-weight: bold;">Toward a Psychology of Being</i>, 
        that introduced his theory of the <span style="font-weight: bold;">
        hierarchy of needs</span> (food, shelter, love, esteem, etc.) and 
        its pinnacle, the need for <span style="font-weight: bold;">
        self-actualization</span>. Self-actualized people are those who 
        understand their individual needs and abilities and who have 
        families, friends, and colleagues that support them and allow them 
        to accomplish things on which they place value. The lowest unmet 
        need on the hierarchy tends to dominate conscious thought.
    </li>
	<li class="list_item">
        <span class="label">Stanley Milgram</span> (American, 1933&ndash;1984): 
        Though he did the work that created the idea of 
        <span style="font-weight: bold;">&#8220;six degrees of 
        separation&#8221;</span> and the <span style="font-weight: bold;">
        &#8220;lost-letter&#8221; technique</span>, he is mainly remembered 
        for his experiments on <span style="font-weight: bold;">obedience 
        to authority</span> that he performed at Yale in 1961&ndash;1962. 
        Milgram found that two thirds of his subjects were willing to 
        administer terrible <span style="font-weight: bold;">electric 
        shocks</span> to innocent, protesting human beings simply because 
        a researcher told them the experimental protocol demanded it.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}