{% extends "base.html" %}  {% block title %}20th-Century Composers{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art">Music and Auditory Art</a> | </li>
    <li style="display:inline">20th-Century Composers</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/20th-century-composers.html">
    You Gotta Know These 20th-Century Composers
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Igor Stravinsky</span> (1882&ndash;1971). He 
        studied under <span style="font-weight: bold;">Nikolai Rimsky-
        Korsakov</span> and completed two grand ballets for 
        <span style="font-weight: bold;">Sergei Diaghilev</span>: 
        <i style="font-weight: bold;">The Firebird</i> and 
        <i style="font-weight: bold;">Petrushka</i>. His Paris premiere of 
        <i style="font-weight: bold;">The Rite of Spring</i> (1913), 
        however, is what inaugurated music&#8217;s Modern era. A pagan
         story featuring <span style="font-weight: bold;">polytonal music
        </span>, <i style="font-weight: bold;">The Rite of Spring</i> 
        shocked the audience so much that riots ensued, leading a stunned 
        Stravinsky to pursue rational, "neoclassical" music, such as his 
        <span style="font-weight: bold;">Symphony of Psalms</span>. In 
        1940 he moved to Hollywood, where he composed his one full-length 
        opera, <i style="font-weight: bold;">The Rake&#8217;s Progress</i>, 
        with libretto by <span style="font-weight: bold;">W.&nbsp;H. 
        Auden</span>. Late in life, he adopted the 
        <span style="font-weight: bold;">serialist</span>, 
        <span style="font-weight: bold;">twelve-tone style</span> of 
        <span style="font-weight: bold;">Anton Webern</span>, producing 
        the abstract ballet <i style="font-weight: bold;">Agon</i> (1957).
    </li>
	<li class="list_item">
        <span class="label">Arnold Schoenberg</span> (1874&ndash;1951). 
        This Austrian pioneered <span style="font-weight: bold;">
        dodecaphony</span>, or the <span style="font-weight: bold;">twelve-
        tone system</span>, which treated all parts of the 
        <span style="font-weight: bold;">chromatic scale</span> equally. 
        Schoenberg&#8217;s early influences were 
        <span style="font-weight: bold;">Richard Wagner</span> and 
        <span style="font-weight: bold;">Richard Strauss</span>, as evident 
        in his <i style="font-weight: bold;">Transfigured Night</i> (1900) 
        for strings.  Yet by 1912, with the 
        <span style="font-weight: bold;">Sprechstimme</span> (halfway 
        between singing and speaking) piece <i style="font-weight: bold;">
        Pierrot lunaire</i>, he broke from <span style="font-weight: bold;">
        Romanticism</span> and developed <span style="font-weight: bold;">
        expressionist</span> pieces free from key or tone.  His students, 
        especially <span style="font-weight: bold;">Alban Berg</span> and 
        <span style="font-weight: bold;">Anton Webern</span>, further 
        elaborated on his theories.  Fleeing Nazi persecution in 1933, he 
        moved from Berlin to Los Angeles, where he completed 
        <i style="font-weight: bold;">A Survivor from Warsaw</i>. The first 
        two acts of his unfinished opera, <i style="font-weight: bold;">
        Moses und Aron</i>, are still frequently performed.
    </li>
	<li class="list_item">
        <span class="label">Benjamin Britten</span> (1913&ndash;1976). 
        Reviver of the opera in the U.K., most notably with 
        <i style="font-weight: bold;">Peter Grimes</i> (1945), the story of 
        a fisherman who kills two of his apprentices. Britten broke 
        through with <i style="font-weight: bold;">Variations on a Theme 
        of Frank Bridge</i> (1937), a tribute to his composition teacher, 
        and wrote incidental music for works by his friend 
        <span style="font-weight: bold;">W.&nbsp;H. Auden</span>. With his 
        companion, the tenor <span style="font-weight: bold;">Peter Pears
        </span>, Britten founded the <a style="color: maroon;" 
        target="_blank" href="https://snapemaltings.co.uk/season/
        aldeburgh-festival/">Aldeburgh Festival of Music</a> and wrote operas 
        such as <i style="font-weight: bold;">Billy Budd</i>, 
        <i style="font-weight: bold;">The Turn of the Screw</i>, and 
        <i style="font-weight: bold;">Death in Venice</i>. Britten&#8217;s 
        non-operatic works include <i style="font-weight: bold;">The Young 
        Person&#8217;s Guide to the Orchestra</i> (1946) and 
        <i style="font-weight: bold;">War Requiem</i> (1961), based on the 
        anti-war poems of <span style="font-weight: bold;">Wilfred Owen
        </span>, who was killed during World War&nbsp;I.
    </li>
	<li class="list_item">
        <span class="label">Aaron Copland</span> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">&#8220;COPE&#8221;-lund</span> 
        (1900&ndash;1990). At first a <span style="font-weight: bold;">
        </span>, he was the first American student of 
        <span style="font-weight: bold;">Nadia Boulanger</span> in 
        Paris in the 1920s, where he finished his 
        <i style="font-weight: bold;">Organ Symphony</i> and 
        <i style="font-weight: bold;">Music for the Theater</i>. By 
        the 1930s, Copland turned to simple themes, especially the American 
        West: <i style="font-weight: bold;">El Sal&oacute;n Mexico</i> 
        was followed by the ballets <i style="font-weight: bold;">Billy 
        the Kid</i>, <i style="font-weight: bold;">Rodeo</i>, and 
        <i style="font-weight: bold;">Appalachian Spring</i> (1944), the 
        last containing the <span style="font-weight: bold;">Shaker</span> 
        hymn <span style="font-weight: bold;">&#8220;Simple Gifts.&#8221;
        </span>  Copland&#8217;s <i style="font-weight: bold;">Third 
        Symphony</i> contained his <i style="font-weight: bold;">Fanfare 
        for the Common Man</i>, while <i style="font-weight: bold;">
        Lincoln Portrait</i> featured spoken portions of Abraham 
        Lincoln&#8217;s writings.  Copland wrote several educational 
        books, beginning with 1939&#8217;s <i style="font-weight: bold;">
        What to Listen For in Music</i>.
    </li>
	<li class="list_item">
        <span class="label">Sergei Prokofiev</span> (1891&ndash;1953). He 
        wrote seven symphonies, of which the <i style="font-weight: bold;">
        First</i> (&#8220;Classical,&#8221; 1917) is the most notable. 
        While in Chicago, he premiered the opera 
        <i style="font-weight: bold;">The Love for Three Oranges</i>, 
        based on Italian <span style="font-weight: bold;">commedia 
        dell&#8217;arte</span>. Prokofiev moved to Paris in 1922, where 
        he composed works for <span style="font-weight: bold;">Sergei 
        Diaghilev</span> and the <span style="font-weight: bold;">Ballets 
        Russes</span>, including <i style="font-weight: bold;">The 
        Prodigal Son</i>. In 1936 he returned to the USSR, where he 
        completed the popular children&#8217;s work 
        <i style="font-weight: bold;">Peter and the Wolf</i> and the 
        score for the film <i style="font-weight: bold;">Alexander 
        Nevsky</i>. When Stalin denounced Prokofiev as 
        &#8220;decadent,&#8221; the composer was forced to write 
        obsequious tributes to the premier. Prokofiev survived Stalin, 
        but only by a few hours; both died on March 5, 1953.
    </li>
	<li class="list_item">
        <span class="label">Dmitri Shostakovich</span> (1906&ndash;1975). 
        His work was emblematic of both the Soviet regime and his attempts 
        to survive under its oppression.  Shostakovich&#8217;s operas, 
        such as <i style="font-weight: bold;">The Nose</i> (1928) and 
        <i style="font-weight: bold;">Lady Macbeth of the Mtsensk 
        District</i>, were well received at first&mdash;until 
        <span style="font-weight: bold;">Joseph Stalin</span> severely 
        criticized his work in <i style="font-weight: bold;">Pravda</i> 
        in 1936. Fearful for his security, Shostakovich wrote several 
        conciliatory pieces (<i style="font-weight: bold;">Fifth</i>, 
        <i style="font-weight: bold;">Seventh/Leningrad</i>, and 
        <i style="font-weight: bold;">Twelfth</i> Symphonies) in order 
        to get out of trouble.  He made enemies, however, with his 
        <i style="font-weight: bold;">Thirteenth Symphony (&#8220;Babi 
        Yar&#8221;)</i>. Based on the <span style="font-weight: bold;">
        Yevgeny Yevtushenko</span> poem, <i style="font-weight: bold;">
        Babi Yar</i> condemned anti-Semitism in both Nazi Germany and 
        the USSR.
    </li>
	<li class="list_item">
        <span class="label">B&eacute;la Bart&oacute;k</span> 
        (1881&ndash;1945). A young girl singing a folk tune to her son in 
        1904 inspired Bart&oacute;k to roam the Hungarian countryside with 
        <span style="font-weight: bold;">Zoltan Kod&#225;ly</span>, 
        collecting peasant tunes. This influence permeated his music, 
        including the opera <i style="font-weight: bold;">Duke 
        Bluebeard&#8217;s Castle</i> (1911) and the ballets 
        <i style="font-weight: bold;">The Wooden Prince</i> (1916) and 
        <i style="font-weight: bold;">The Miraculous Mandarin</i> (1919). 
        A virtuoso pianist and an innovative composer, Bart&oacute;k 
        refused to teach composition, contributing to financial problems, 
        especially after he fled Nazi-allied Hungary for the U.S. in 1940. 
        Bart&oacute;k wrote many prominent instrumental pieces; best known 
        are <span style="font-weight: bold;">six string quartets</span>, 
        the educational piano piece <i style="font-weight: bold;">
        Mikrokosmos</i>, and <i style="font-weight: bold;">Music for 
        Strings, Percussion, and Celesta</i> (1936).
    </li>
	<li class="list_item">
        <span class="label">Charles Ives</span> (1874&ndash;1954). He 
        learned experimentation from his father George, a local 
        Connecticut businessman and bandleader. Ives studied music at 
        Yale but found <span style="font-weight: bold;">insurance sales
        </span> more lucrative; his firm of Ives and Myrick was the 
        largest in New York during the 1910s. Privately, Ives composed 
        great modern works, including the <i style="font-weight: bold;">
        Second Piano (Concord) Sonata</i> (with movements named after 
        <span style="font-weight: bold;">Ralph Waldo Emerson</span>, 
        <span style="font-weight: bold;">Nathaniel Hawthorne</span>, 
        <span style="font-weight: bold;">Louisa May Alcott</span>, and 
        <span style="font-weight: bold;">Henry David Thoreau</span>);
         and <i style="font-weight: bold;">Three Places in New England
        </i> (1914).  His <i style="font-weight: bold;">Third Symphony
        </i> won Ives a <span style="font-weight: bold;">Pulitzer Prize
        </span> in 1947, while his song <span style="font-weight: bold;">
        &#8220;General William Booth Enters Into Heaven&#8221;</span> 
        was based on a <span style="font-weight: bold;">Vachel Lindsay
        </span> poem.  Poor health ended both his insurance and music 
        careers by 1930.
    </li>
	<li class="list_item">
        <span class="label">Maurice Ravel</span> (1875&ndash;1937). 
        His <span style="font-weight: bold;">Basque</span> mother gave 
        him an affinity for Spanish themes, as evident in 
        <span style="font-weight: bold;">&#8220;Rapsodie espagnole&#8221;
        </span> and his most popular piece, 
        <span style="font-weight: bold;">&#8220;Bolero&#8221;</span> (1928). 
        Ravel produced <i style="font-weight: bold;">Pavane for a Dead 
        Princess</i> while a student of <span style="font-weight: bold;"
        >Gabriel Faur&eacute;</span>, but was frustrated when the 
        <span style="font-weight: bold;">French Conservatory</span> 
        overlooked him for the <span style="font-weight: bold;">Prix de 
        Rome</span> four times. He completed the ballet 
        <i style="font-weight: bold;">Daphnis et Chlo&eacute;</i> (1912) 
        for <span style="font-weight: bold;">Sergei Diaghilev</span>, 
        and followed it with <i style="font-weight: bold;">Mother Goose
        </i> and <i style="font-weight: bold;">La Valse</i>. He also 
        re-orchestrated <span style="font-weight: bold;">Modest 
        Mussorgsky</span>&#8217;s <i style="font-weight: bold;">Pictures 
        at an Exhibition</i>.  His health declined after a 1932 taxi 
        accident; unsuccessful brain surgery ended his life.
    </li>
	<li class="list_item">
        <span class="label">George Gershwin</span> (1898&ndash;1937). 
        Known at first for producing popular songs and musicals with his 
        older brother <span style="font-weight: bold;">Ira</span>, 
        Gershwin successfully melded jazz and popular music with classical 
        forms, most famously the <i style="font-weight: bold;">Rhapsody 
        in Blue</i> (1924), the <i style="font-weight: bold;">Concerto in 
        F for Piano and Orchestra</i> (1925), and the folk opera 
        <i style="font-weight: bold;">Porgy and Bess</i> (1935), based on 
        a story by <span style="font-weight: bold;">DuBose Heyward</span>. 
        Gershwin&#8217;s first major hit was 1919&#8217;s 
        <span style="font-weight: bold;">&#8220;Swanee,&#8221;</span> 
        sung by <span style="font-weight: bold;">Al Jolson</span>, and 
        his 1931 musical <i style="font-weight: bold;">Of Thee I Sing</i> 
        was the first musical to win the <span style="font-weight: bold;">
        Pulitzer Prize for Drama</span>. Gershwin died of a brain tumor 
        at age 38.
    </li>
	<li class="list_item">
        <span class="label">John Cage</span> (1912&ndash;1992). An American 
        student of <span style="font-weight: bold;">Arnold Schoenberg
        </span>, Cage took <span style="font-weight: bold;">avant-garde
        </span> to a new level, and may be considered a 
        <span style="font-weight: bold;">Dada</span> composer because he 
        believed in <span style="font-weight: bold;">aleatory</span>, or 
        &#8220;chance&#8221; music.  His <i style="font-weight: bold;">
        Imaginary Landscape No.&nbsp;4</i> (1951) used twelve radios 
        tuned to different stations; the composition depended on what 
        was on the radio at that time.  The following year&#8217;s 
        <i style="font-weight: bold;">4&prime;33&Prime;</i> required a 
        pianist to sit at the piano for that length of time and then close 
        it; audience noise and silence created the music. Cage also 
        invented the <span style="font-weight: bold;">prepared piano</span>, 
        in which screws, wood, rubber bands, and other items are attached 
        to piano strings in order to create a percussion sound.
    </li>
	<li class="list_item">
        <span class="label">Ralph 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">rayf</span> Vaughan Williams</span> 
        (1872&ndash;1958). Best known for reviving the 
        <span style="font-weight: bold;">Tudor style</span> and folk 
        traditions in English music, as exemplified in his 
        <i style="font-weight: bold;">Fantasia on a Theme by Thomas 
        Tallis</i> (1909). Vaughan Williams completed nine symphonies, 
        the foremost his <i style="font-weight: bold;">Second (London)
        </i> in 1914; other principal symphonies included the 
        <i style="font-weight: bold;">First (Sea)</i>, 
        <i style="font-weight: bold;">Third (Pastoral)</i> and 
        <i style="font-weight: bold;">Seventh (Sinfonia Antarctica)</i>. 
        His orchestral work <i style="font-weight: bold;">The Lark 
        Ascending</i> was based on a <span style="font-weight: bold;">
        George Meredith</span> poem, while <i style="font-weight: bold;">
        Sir John in Love</i> (1924) was a Shakespearean opera that 
        featured the <span style="font-weight: bold;">&#8220;Fantasia 
        on Greensleeves.&#8221;</span>  <i style="font-weight: bold;">
        Hugh the Drover</i> and <i style="font-weight: bold;">The 
        Pilgrim&#8217;s Progress</i> are other major Vaughan Williams 
        operas.
    </li>
	<li class="list_item">
        <span class="label">Sergei Rachmaninoff</span> (1873&ndash;1943). 
        A highly skilled pianist and conductor, Rachmaninoff twice turned 
        down conductorship of the <span style="font-weight: bold;">Boston 
        Symphony Orchestra</span>.  He failed to reap the monetary 
        benefits of his early pieces (notably the 
        <i style="font-weight: bold;">C-Sharp Minor Prelude</i> of 1892), 
        because he sold them cheaply to a publisher. Treated by hypnosis 
        in 1901, Rachmaninoff began a productive period with his 
        <i style="font-weight: bold;">Second Piano Concerto</i> and the 
        <span style="font-weight: bold;">symphonic poem</span> 
        <i style="font-weight: bold;">The Isle of the Dead</i> (1909). 
        He moved to the U.S. in 1917, after the Bolshevik Revolution. 
        There his output decreased, though he did complete the 
        <i style="font-weight: bold;">Rhapsody on a Theme of Paganini</i> 
        in 1934.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}