{% extends "base.html" %}  {% block title %}Music Theory Terms{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art">Music and Auditory Art</a> | </li>
    <li style="display:inline">Music Theory Terms</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/music-theory-terms.html">
    You Gotta Know These Music Theory Terms
    </a>
</h1>
<br />
<p class="justify">
    Knowing the basics of music theory isn&#8217;t just important for music 
    theory questions; it can also be helpful for questions on specific works 
    in which the lead-in and early clues refer to score indications or 
    memorable musical moments. All quiz bowl players should have at least 
    a rudimentary grasp of the following 10 categories of musical terminology.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Tempo</span>: Traditionally, the tempo, or speed, 
        of a piece is indicated through the use of Italian-language terms. 
        Some of the most common tempo markings are 
        <span style="font-weight: bold;">largo</span> (very slow), 
        <span style="font-weight: bold;">adagio</span> (slow), 
        <span style="font-weight: bold;">andante</span> (&#8220;walking 
        speed&#8221;), <span style="font-weight: bold;">allegro</span> 
        (fast), and <span style="font-weight: bold;">presto</span> (very 
        fast). A work&#8217;s tempo may also be indicated by a 
        <span style="font-weight: bold;">metronome marking</span>, which 
        indicates the number of a certain type of note per minute (e.g., 
        quarter note&nbsp;=&nbsp;120). Tempos are often modified with 
        further Italian terms, such as <span style="font-weight: bold;">
        allegro con fuoco</span> (fast, with fire), which can make them 
        more unique. Movements from larger works are often referred to 
        by their tempo (e.g. &#8220;the <i style="font-weight: bold;">
        Allegretto</i> from Beethoven&#8217;s 7th symphony&#8221;); 
        entire works may also be named for their tempo (e.g., Samuel 
        Barber&#8217;s <i style="font-weight: bold;">Adagio for Strings
        </i>).</p>
    </li>
	<li class="list_item">
        <span class="label">Scales</span>: The two most common types of 
        scales are the <span style="font-weight: bold;">major and minor 
        scales</span>, both of which are referred to as 
        <span style="font-weight: bold;">diatonic</span>, meaning that 
        they have seven notes between octaves and follow a repeating 
        pattern of whole steps and half steps. While there is only 
        one major scale, there are three common variants of the minor 
        scale: <span style="font-weight: bold;">natural</span>, 
        <span style="font-weight: bold;">harmonic</span>, and 
        <span style="font-weight: bold;">melodic</span>. The individual 
        notes within a scale are given numeric indications known as 
        <span style="font-weight: bold;">scale degrees</span>, 
        starting with &#8220;1&#8221; and moving up the scale note 
        by note; the most prominent of these are the first degree, or 
        <span style="font-weight: bold;">tonic</span> (the 
        &#8220;home&#8221; pitch), and the fifth degree, or 
        <span style="font-weight: bold;">dominant</span>. There is 
        also the <span style="font-weight: bold;">chromatic scale
        </span>, which includes every note between two endpoints, 
        including sharps and flats.</p>
    </li>
	<li class="list_item">
        <span class="label">Intervals</span>: At the most basic level, 
        intervals &mdash; the distance between two pitches &mdash; are 
        described with ordinal numbers (second, third, etc.), with the 
        exceptions of <span style="font-weight: bold;">unisons</span> 
        (two of the exact same note, which would logically have been 
        called a &#8220;first&#8221;) and 
        <span style="font-weight: bold;">octaves</span> (which would have 
        been called an &#8220;eighth&#8221;). The easiest way to find 
        the basic interval between two pitches is to start on the bottom 
        pitch, label that line or space &#8220;1,&#8221; and then count 
        lines and spaces upwards until the next pitch is reached; for 
        example, the interval between C and F is a fourth: C is counted 
        as &#8220;1,&#8221; the lines/spaces for D and E are counted 
        as &#8220;2&#8221; and &#8220;3,&#8221; and the line/space for 
        F is reached on &#8220;4.&#8221; Unisons, fourths, fifths, and 
        octaves may be classified as <span style="font-weight: bold;">
        perfect</span>, <span style="font-weight: bold;">augmented
        </span>, or <span style="font-weight: bold;">diminished</span>; 
        seconds, thirds, sixths, and sevenths may be classified as 
        <span style="font-weight: bold;">major</span>, 
        <span style="font-weight: bold;">minor</span>, 
        <span style="font-weight: bold;">augmented</span>, or 
        <span style="font-weight: bold;">diminished</span>.</p>
    </li>
	<li class="list_item">
        <span class="label">Chords</span>: The most common types of chords 
        are built of successive notes that are each a third above the 
        previous. A <span style="font-weight: bold;">triad</span> 
        consists of three notes referred to as the root, third, and 
        fifth&mdash;the third and fifth being that respective interval 
        above the root. Triads are classified as either 
        <span style="font-weight: bold;">major</span>, 
        <span style="font-weight: bold;">minor</span>, 
        <span style="font-weight: bold;">augmented</span>, or 
        <span style="font-weight: bold;">diminished</span>, based on 
        whether the successive pitches are separated by major or minor 
        thirds. Adding another third above the fifth results in a 
        <span style="font-weight: bold;">seventh chord</span> (since 
        that new pitch is a seventh above the root). Although many types 
        of seventh chords are possible, the most common are the 
        <span style="font-weight: bold;">major</span>, 
        <span style="font-weight: bold;">major-minor</span> (or 
        <span style="font-weight: bold;">dominant</span>), 
        <span style="font-weight: bold;">minor</span>, 
        <span style="font-weight: bold;">half-diminished</span>, and 
        <span style="font-weight: bold;">fully-diminished</span>. 
        Larger chords, such as <span style="font-weight: bold;">ninth
        </span> and <span style="font-weight: bold;">thirteenth</span> 
        chords, appear commonly in jazz.</p>
    </li>
	<li class="list_item">
        <span class="label">Key</span>: A piece of music&#8217;s key is 
        the &#8220;home&#8221; scale of the work. The key is most often 
        indicated by the work&#8217;s <span style="font-weight: bold;">
        key signature</span>, a collection of 
        <span style="font-weight: bold;">sharps</span> or 
        <span style="font-weight: bold;">flats</span> that appears at 
        the beginning of the work and on each subsequent line of music 
        (a list of key signatures may be found <a style="color: maroon;" 
        target="_blank" href="http://en.wikipedia.org/wiki/
        Key_signature#Table">here</a>). A pair of keys may be 
        <span style="font-weight: bold;">parallel</span> (beginning on 
        the same pitch, e.g., C&nbsp;major and C&nbsp;minor), or 
        <span style="font-weight: bold;">relative</span> (having the 
        same key signature, e.g., C&nbsp;major and A&nbsp;minor). Most 
        works of music between the Baroque and Romantic periods end in 
        the same key as they begin, with the exception that works that 
        start in a minor key may end in the parallel major. A 
        work&#8217;s key is often used as a descriptor in its title (e.g. 
        Beethoven&#8217;s Symphony No.&nbsp;5 in C&nbsp;minor).</p>
    </li>
	<li class="list_item">
        <span class="label">Transposition</span>: Instruments that are in 
        <span style="font-weight: bold;">concert pitch</span>, or 
        &#8220;in C,&#8221; have their music written at the same pitch in 
        which they sound. Concert pitch instruments include the piano, 
        all string instruments, the flute, and nearly every woodwind 
        and brass instrument that plays in bass clef. Other instruments 
        are <span style="font-weight: bold;">transposing instruments</span>, 
        meaning that their music is written at a different pitch than they 
        sound. With few exceptions, music for transposing instruments is 
        written <em>above</em> the sounding pitch, which can be determined 
        by moving down the interval that the instrument&#8217;s key is 
        <em>below</em> C. For example, the French horn is in F, a perfect 
        fifth below C; thus, a French horn playing a written G&nbsp;natural 
        would sound a C&nbsp;natural, the pitch a perfect fifth below 
        G&nbsp;natural. Similarly, a B-flat trumpet playing a written D 
        would sound a C, a major second below.</p>
    </li>
	<li class="list_item">
        <span class="label">Dynamics</span>: Dynamic markings indicate the 
        <span style="font-weight: bold;">volume</span> at which music is 
        to be played. The two most basic dynamic markings are 
        <span style="font-weight: bold;">forte</span>, meaning 
        &#8220;loud,&#8221; and abbreviated <i style="font-weight: bold;">
        f</i>; and <span style="font-weight: bold;">piano</span>, 
        meaning &#8220;soft,&#8221; and abbreviated 
        <i style="font-weight: bold;">p</i>. These indications are often 
        modified by the word <span style="font-weight: bold;">mezzo</span> 
        (abbreviated <i style="font-weight: bold;">m</i>); thus, 
        <i style="font-weight: bold;">mf</i> indicates &#8220;mezzo 
        forte,&#8221; meaning &#8220;medium loud.&#8221; They may also 
        be modified by the suffix <span style="font-weight: bold;">-issimo
        </span>, meaning &#8220;very,&#8221; and symbolized by two of 
        the same letter; thus, <i style="font-weight: bold;">pp</i> would 
        indicate <span style="font-weight: bold;">pianissimo</span>, 
        meaning &#8220;very soft.&#8221; Gradual changes in volume are 
        indicated by a <i style="font-weight: bold;">crescendo</i>, 
        meaning gradually getting louder, or a 
        <span style="font-weight: bold;">diminuendo</span> (also called 
        <span style="font-weight: bold;">decrescendo</span>), meaning 
        gradually getting softer.</p>
    </li>
	<li class="list_item">
        <span class="label">Articulation</span>: Articulation refers to 
        the various techniques which may be used to 
        <span style="font-weight: bold;">modify</span> the attack or 
        performance of a single note or a series of notes. Some of the 
        most common articulations include <span style="font-weight: bold;">
        staccato</span>, meaning light or short; 
        <span style="font-weight: bold;">tenuto</span>, meaning a note is 
        to be held its entire value; and <span style="font-weight: bold;">
        legato</span>, meaning a series of notes is to be connected to 
        one another very smoothly. Single notes may be given extra force 
        by an <span style="font-weight: bold;">accent mark</span>.</p>
    </li>
	<li class="list_item">
        <span class="label">Form</span>: A work&#8217;s form, or overall 
        structure, is often depicted via a series of capital letters, with 
        each different letter representing a large section of contrasting 
        material. Basic forms include <span style="font-weight: bold;">
        binary form</span> (&#8220;AB&#8221; or &#8220;AABB&#8221;), 
        <span style="font-weight: bold;">ternary form</span> 
        (&#8220;ABA&#8221;), and <span style="font-weight: bold;">strophic 
        form</span> (&#8220;A&#8221; endlessly repeated, commonly found 
        in folk songs or religious hymns with multiple verses). Other 
        forms include <span style="font-weight: bold;">rondo form</span>, 
        in which several statements of a single theme are each separated 
        by contrasting material (e.g. &#8220;ABACA&#8221;). Forms not 
        usually represented by capital letters include the various types 
        of <span style="font-weight: bold;">theme and variations</span>, 
        as well as <span style="font-weight: bold;">sonata-allegro form
        </span> (which at its most basic level includes an 
        <span style="font-weight: bold;">exposition</span>, a 
        <span style="font-weight: bold;">development</span>, and a 
        <span style="font-weight: bold;">recapitulation</span>).</p>
    </li>
	<li class="list_item">
        <span class="label">Twelve-tone technique</span>: Twelve-tone 
        technique was developed by <span style="font-weight: bold;">Arnold 
        Schoenberg</span> in the early 1920s, and is one method of 
        writing <span style="font-weight: bold;">atonal music</span>
        &mdash;music that has <span style="font-weight: bold;">no key or 
        tonic</span> pitch. Twelve-tone works are based on a 
        <span style="font-weight: bold;">tone row</span> constructed 
        from each of the twelve pitches of the chromatic scale, each 
        used only once. This row may be inverted and/or presented in 
        retrograde (backwards), a combination of possibilities often 
        represented in a twelve-tone matrix (for an example, see 
        <a style="color: maroon;" target="_blank" 
        href="http://1.bp.blogspot.com/_Zhz8NEf3_04/TCd22VxuiOI/
        AAAAAAAAAHc/Yqo-JiBCCoo/s1600/Matrix.jpeg">here</a>; curious 
        readers may experiment with creating their own row/matrix 
        <a style="color: maroon;" target="_blank" href="https://www.musictheory.net/calculators/matrix">here</a>). 
        Twelve-tone technique is one form of 
        <span style="font-weight: bold;">serialism</span>, the rigid 
        structuring of various musical elements within a work. A work of 
        <span style="font-weight: bold;">total serialism</span> applies 
        the same process to dynamics, articulations, and other basic 
        elements of music as well as pitch.</p>
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}