{% extends "base.html" %}  {% block title %}Works by Mozart{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art">Music and Auditory Art</a> | </li>
    <li style="display:inline">Works by Ludwig van Mozart</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/works-by-mozart.html">
    You Gotta Know These Works by Ludwig van Mozart
    </a>
</h1>
<br />
<p class="justify">
    Wolfgang Amadeus Mozart is as central to the quiz bowl music canon as 
    he is to the concert repertoire. While this list covers most of his 
    more well-known pieces, two of his most famous operas 
    (<i style="font-weight: bold;">Don Giovanni</i> and 
    <i style="font-weight: bold;">The Marriage of Figaro</i>) were already 
    covered in NAQT&#8217;s earlier article 
    <a style="color: maroon;" href="operas.html">&#8220;You Gotta Know These Operas,&#8221;</a> 
    and therefore are not included here.
</p>
<p class="justify">
    Mozart&#8217;s compositions are identified according to their number 
    in the <i style="font-weight: bold;"><a style="color: maroon;" 
    target="_blank" href="https://en.wikipedia.org/wiki/K%C3%B6chel_catalogue">
    K&ouml;chel-Verzeichnis</a></i> (Ludwig von K&ouml;chel&#8217;s 
    catalogue of all of Mozart&#8217;s compositions), usually abbreviated 
    &#8220;K.&#8221; or &#8220;KV&#8221; followed by the catalogue number.
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">Piano Sonatas</span>: One of Mozart&#8217;s 
        best-known pieces is the <span style="font-weight: bold;">
        &#8220;Rondo Alla Turca&#8221;</span> from his Piano Sonata 
        No.&nbsp;11 in A&nbsp;major, K.&nbsp;331.  That sonata begins 
        with a theme and variations that inspired 
        <a style="color: maroon;" target="_blank"
        href="http://en.wikipedia.org/wiki/Max_Reger">Max Reger</a> to 
        write his <i>Variations and Fugue on a Theme of Mozart</i>. 
        Sonata No.&nbsp;14 in C&nbsp;minor, K.&nbsp;457, is often 
        performed with the highly chromatic Fantasy, K.&nbsp;475. Other 
        notable Mozart piano sonatas include the dramatic No.&nbsp;8 in 
        A&nbsp;minor, K.&nbsp;310; the Sonata 
        <span style="font-weight: bold;">&#8220;for beginners&#8221;</span> 
        No.&nbsp;16 in C&nbsp;major, K.&nbsp;545; and the 
        <span style="font-weight: bold;">&#8220;Hunt&#8221;</span> or 
        <span style="font-weight: bold;">&#8220;Trumpet&#8221;</span> 
        Sonata No.&nbsp;18 in D, K.&nbsp;576, his last. Mozart also 
        finished four sonatas for piano duet (also known as &#8220;piano 
        four hands&#8221;) and one in D&nbsp;major for two pianos.
    </li>
	<li class="list_item">
        <span class="label">Piano Concertos</span>: Mozart&#8217;s piano 
        concertos are numbered from 1&ndash;27, though six of them are 
        arrangements of works by other composers. The Concerto No.&nbsp;8 
        in C&nbsp;major, K.&nbsp;246, is named for 
        <span style="font-weight: bold;">Countess L&uuml;tzow</span>, for 
        whom it was written, and No.&nbsp;9 in E&nbsp;flat&nbsp;major, 
        K.&nbsp;271, is nicknamed <span style="font-weight: bold;">
        &#8220;Jeunehomme&#8221;</span> (although recent scholarship 
        suggests the title should actually be &#8220;Jenamy,&#8221; 
        after an acquaintance of Mozart named Victoire Jenamy). The 
        first movement of the <i>Jeunehomme&#8221; Concerto</i> unusually 
        (for the time) has the soloist start playing very early&mdash;in 
        the second measure&mdash;and its last movement Rondo includes a 
        slow minuet section. The Concerto No.&nbsp;21 in C, K.&nbsp;467, 
        is often nicknamed <span style="font-weight: bold;">&#8220;Elvira 
        Madigan&#8221;</span> because it was used in the 1967 
        <a style="color: maroon;" target="_blank" href="http://www.imdb.com/
        title/tt0061620/?ref_=fn_al_tt_1">
        Swedish film</a> of that name. No.&nbsp;26 in D, K.&nbsp;537, 
        is called the <span style="font-weight: bold;">
        &#8220;Coronation,&#8221;</span> because it was played at the 
        coronation of <a style="color: maroon;" 
        href="http://en.wikipedia.org/wiki/Leopold_II,_
        Holy_Roman_Emperor">Leopold&nbsp;II</a>. Mozart also wrote 
        concertos for two pianos (No.&nbsp;10 in E&nbsp;flat&nbsp;major, 
        K.&nbsp;365) and three pianos (No.&nbsp;7 in F&nbsp;major, 
        K.&nbsp;242, nicknamed &#8220;Lodron&#8221;).
    </li>
	<li class="list_item">
        <span class="label">String Quartets</span>: Mozart, like most 
        composers of his day, wrote most of his quartets in sets of three 
        or six; he also wrote two standalone quartets for a total of 23. 
        The most famous are probably the six 
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://en.wikipedia.org/wiki/Joseph_Haydn">
        &#8220;Haydn&#8221; Quartets</a> (Nos.&nbsp;14&ndash;19). 
        The collection begins with the highly chromatic 
        <i style="font-weight: bold;">Spring Quartet</i> in G&nbsp;major, 
        K.&nbsp;387, and ends with the even more chromatic 
        <i style="font-weight: bold;">Dissonant Quartet</i> in 
        C&nbsp;major, K.&nbsp;465, which begins with an <i>extremely</i> 
        dissonant Adagio introduction. The <i style="font-weight: bold;">
        Haydn Quartets</i> also include the <i style="font-weight: bold;">
        Hunt Quartet</i>, No.&nbsp;17 in B&nbsp;flat&nbsp;major, 
        K.&nbsp;458, so named for its &#8220;hunting-horn&#8221; 
        melodies. The other famous collection of Mozart quartets is the 
        set of three <i style="font-weight: bold;">Prussian Quartets</i> 
        (Nos.&nbsp;21&ndash;23), dedicated to <a style="color: maroon; 
        font-weight: bold;" target="_blank" 
        href="http://en.wikipedia.org/wiki/Frederick_William_II_of_Prussia">
        Friedrich Wilhelm II</a>, which make prominent use of the cello. 
        Between these two sets, Mozart wrote the 
        <i style="font-weight: bold;">Hoffmeister Quartet</i>, No.&nbsp;20 
        in D&nbsp;major, K.&nbsp;499, for his friend Anton Hoffmeister.
    </li>
	<li class="list_item">
        <span class="label">Serenades and Divertimentos</span>: These include 
        two of Mozart&#8217;s most familiar pieces, 
        <i style="font-weight: bold;">Eine kleine Nachtmusik</i>, 
        K.&nbsp;525, and <i style="font-weight: bold;">A Musical Joke</i>, 
        K.&nbsp;522. <i>Eine kleine Nachtmusik</i>, originally scored 
        or string quartet and double bass, is often translated as 
        <span style="font-weight: bold;">&#8220;a little night 
        music&#8221;</span> (but more accurately as &#8220;a little 
        serenade&#8221;); it includes a lovely &#8220;Romanze&#8221; second 
        movement as well as the more famous 
        <a style="color: maroon;" target="_blank" 
        href="http://www.youtube.com/watch?v=tSL5-wxgvFY">first movement
        </a>. <i>A Musical Joke</i> is exactly that: a 
        <span style="font-weight: bold;">parody of bad composition</span>, 
        ending with chords in four different keys, and including almost every 
        possible kind of &#8220;mistake.&#8221; Mozart&#8217;s other Serenades 
        include the <span style="font-weight: bold;">&#8220;Gran Partita&#8221;
        </span> for 13 instruments (No.&nbsp;10 in B&nbsp;flat&nbsp;major, 
        K.&nbsp;361), as well as the <span style="font-weight: bold;">
        &#8220;Posthorn&#8221;</span> and <span style="font-weight: bold;">
        &#8220;Haffner&#8221;</span> (not to be confused with the symphony!).
    </li>
	<li class="list_item">
        <span class="label">Last Three Symphonies</span>: Mozart wrote 
        Symphonies Nos.&nbsp;39&ndash;41 in about three months in the 
        summer of 1788, for unknown reasons. (It is unclear if any of them 
        were performed in his lifetime, although No.&nbsp;40 probably was.) 
        Of the three, only No.&nbsp;39 in E&nbsp;flat&nbsp;major, 
        K.&nbsp;543, has a slow introduction;  unusually, it omits oboes 
        entirely.  No.&nbsp;40 in G&nbsp;minor, K.&nbsp;550, on the other 
        hand, was revised to reduce the oboe part and add clarinets; the 
        last movement may have inspired the third movement of 
        Beethoven&#8217;s Fifth Symphony.  No.&nbsp;41 in C&nbsp;major, 
        K.&nbsp;551, probably got its nickname of 
        <span style="font-weight: bold;">&#8220;Jupiter&#8221;</span> from 
        Johann Peter Salomon. Its first movement quotes Mozart&#8217;s aria 
        <span style="font-weight: bold;">&#8220;Un bacio di mano&#8221;
        </span> (&#8220;A kiss on her hand&#8221;), composed for 
        <span style="font-weight: bold;">Pasquale Anfossi</span>&#8217;s 
        opera <i>Il curioso indiscreto</i>; its last movement presents 
        five themes which are all brought together in a massive 
        <i style="font-weight: bold;">fugato</i> at the end.
    </li>
	<li class="list_item">
        <span class="label">Other symphonies</span>: Of Mozart&#8217;s first 
        38 symphonies, the <span style="font-weight: bold;">
        &#8220;Little&#8221; G&nbsp;minor</span> symphony (No.&nbsp;25, 
        K.&nbsp;183) is the only one in a minor key. The 
        <span style="font-weight: bold;">&#8220;Paris&#8221; Symphony
        </span> (No.&nbsp;31 in D&nbsp;major, K.&nbsp;297), written for 
        that city, begins with a fast upward D&nbsp;major scale that can 
        be classified as a <a style="color: maroon; font-weight: bold;"
        target="_blank" href="http://en.wikipedia.org/wiki/Mannheim_rocket">
        &#8220;Mannheim rocket,&#8221;</a> a popular opening device for 
        symphonies. Mozart&#8217;s other notable symphonies include the 
        <span style="font-weight: bold;">&#8220;Haffner&#8221;</span> 
        (No.&nbsp;35 in D&nbsp;major, K.&nbsp;385), which is more familiar 
        than the serenade; the <i style="font-weight: bold;">Linz Symphony
        </i> (No.&nbsp;36 in C&nbsp;major, K.&nbsp;425); and the 
        <i style="font-weight: bold;">Prague Symphony</i> (No.&nbsp;38 in 
        D&nbsp;major, K.&nbsp;504). There is 
        <span style="font-weight: bold;">no Symphony No.&nbsp;37</span>: 
        Mozart added an introduction to a symphony by Michael Haydn 
        (Joseph&#8217;s brother) and scholars did not notice that the rest 
        of the work was not by Mozart until 1907.
    </li>
	<li class="list_item">
        <i class="label">The Abduction from the Seraglio</i> (<i>Die 
        Entf&uuml;hrung aus dem Serail</i>, K.&nbsp;384): While often 
        called an opera, <i>The Abduction from the Seraglio</i>, is, like 
        <i>The Magic Flute</i>, actually a <i style="font-weight: bold;">
        Singspiel</i> with spoken dialogue (as opposed to sung recitatives). 
        The action takes place at the home of the Ottoman 
        <span style="font-weight: bold;">Pasha Selim</span>, and the music 
        uses <span style="font-weight: bold;">&#8220;Janissary&#8221; 
        military instruments</span> associated with &#8220;Turkish&#8221; 
        music. <span style="font-weight: bold;">Belmonte</span> is trying 
        to rescue his lover <span style="font-weight: bold;">Konstanze
        </span> from the Seraglio (<span style="font-weight: bold;">harem
        </span>); he is assisted by <span style="font-weight: bold;">
        Pedrillo</span>, his servant, while 
        <span style="font-weight: bold;">Osmin</span> works for the Pasha. 
        In the end, the Pasha releases Belmonte and Konstanze, much to 
        Osmin&#8217;s chagrin. Famous arias include Osmin&#8217;s 
        <span style="font-weight: bold;">&#8220;O, wie will ich 
        triumphieren&#8221;</span> and Konstanze&#8217;s incredibly 
        difficult <span style="font-weight: bold;">&#8220;Martern aller 
        Arten.&#8221;</span> According to one story, <a style="color: maroon; 
        font-weight: bold;"target="_blank" 
        href="http://en.wikipedia.org/wiki/Joseph_II,_Holy_Roman_Emperor">
        Joseph&nbsp;II</a> accused it of having 
        <span style="font-weight: bold;">&#8220;too many notes.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Cos&igrave; fan tutte</span> (roughly, class="label"ily: Cambria; font-weight: bold; 
        font-size: large;">They&#8217;re All Like That</i>, K.&nbsp;588): 
        This opera is, along with <i>The Marriage of Figaro</i> and <i>Don 
        Giovanni</i>, one of Mozart&#8217;s collaborations with Italian 
        librettist <span style="font-weight: bold;">Lorenzo da&nbsp;Ponte
        </span>. The soldiers <span style="font-weight: bold;">Guglielmo
        </span> and <span style="font-weight: bold;">Ferrando</span>, who 
        love the sisters <span style="font-weight: bold;">Fiordiligi</span> 
        and <span style="font-weight: bold;">Dorabella</span>, 
        respectively, brag about the fidelity of their fianc&eacute;es; 
        in a coffeeshop, <span style="font-weight: bold;">Don Alfonso
        </span> makes a <span style="font-weight: bold;">bet</span> that 
        he can make the sisters fall in love with other men in one day. 
        Don Alfonso <span style="font-weight: bold;">disguises the two men 
        as Albanians</span> after bribing the sisters&#8217; maid 
        <span style="font-weight: bold;">Despina</span>; at first they 
        resist (see Fiordiligi&#8217;s aria <span style="font-weight: bold;">
        &#8220;Come Scoglio&#8221;</span>), but after Dorabella and 
        Guglielmo <span style="font-weight: bold;">trade a medallion and a 
        heart-shaped locket</span>, Fiordiligi is 
        <span style="font-weight: bold;">seduced</span> by Ferrando. In 
        the end, the sisters &#8220;almost&#8221; marry the wrong husbands, 
        and only realize they&#8217;ve been tricked when the two men return 
        to the stage <span style="font-weight: bold;">half in disguise</span>, 
        half out.
    </li>
	<li class="list_item">
        <span class="label">The Magic Flute (<i>Die Zauberfl&ouml;te</i>, 
        K.&nbsp;620)</span>: The libretto, by <span style="font-weight: bold;">
        Emanuel Schikaneder</span>, who took the role of 
        <span style="font-weight: bold;">Papageno</span> at the premier, 
        incorporates many <span style="font-weight: bold;">
        <a style="color: maroon; font-weight: bold;" target="_blank" 
        href="http://askafreemason.massfreemasonry.net/">Masonic</a> 
        elements</span> (both Schikaneder and Mozart were Masons). 
        <span style="font-weight: bold;">Tamino</span> is saved from a 
        serpent by three maidens of the <span style="font-weight: bold;">
        Queen of the Night</span>, but <span style="font-weight: bold;">
        Papageno</span>, a bird-catcher, claims credit. Both are shown 
        their counterparts &mdash; <span style="font-weight: bold;">Pamina
        </span> and <span style="font-weight: bold;">Papagena</span> &mdash; 
        but must face several <span style="font-weight: bold;">trials</span> 
        at the hands of the sorcerer <span style="font-weight: bold;">
        Sarastro</span>, who heads a <span style="font-weight: bold;">
        cult of Isis and Osiris</span> and is assisted by 
        <span style="font-weight: bold;">Monostatos</span>, a treacherous 
        Moor. The Queen of the Night, who has two very difficult arias 
        (<span style="font-weight: bold;">&#8220;O zittre nicht, mein 
        lieber Sohn&#8221;</span> and <span style="font-weight: bold;">
        &#8220;Der H&ouml;lle Rache kocht in meinem Herzen,&#8221;</span> 
        the latter of which is often just called &#8220;the Queen of the 
        Night&#8217;s aria&#8221;), attempts to stop Tamino and Pamina 
        from joining Sarastro, but is magically 
        <span style="font-weight: bold;">exiled</span> with Monostatos.
    </li>
	<li class="list_item">
        <span class="label">Requiem</span>: Mozart&#8217;s Requiem, 
        K.&nbsp;626, was his <span style="font-weight: bold;">last 
        composition</span>; it was anonymously commissioned by the Count 
        von&nbsp;Walsegg. Mozart <span style="font-weight: bold;">died 
        before he could finish it</span>; many musicians have completed 
        it, including Mozart&#8217;s student 
        <span style="font-weight: bold;">Franz Xaver S&uuml;ssmayr</span>, 
        and more recently Richard Maunder and Robert Levin. The scoring 
        is notably for <span style="font-weight: bold;">low-timbered 
        instruments</span>, omitting oboes and flutes and substituting 
        basset horns for clarinets. The theme of the &#8220;Kyrie&#8221; 
        was taken from <span style="font-weight: bold;">&#8220;And With 
        His Stripes We Are Healed,&#8221;</span> a chorus from 
        Handel&#8217;s <i>Messiah</i>. After the dramatic &#8220;Dies 
        Irae,&#8221; the &#8220;Tuba Mirum&#8221; begins with a trombone 
        solo. The circumstances surrounding Mozart&#8217;s death remain 
        mysterious, and the (unfounded) rumor that Antonio Salieri 
        murdered him gave rise to the Aleksandr Pushkin play <i>Mozart 
        and Salieri</i>, which in turn inspired a Nikolai Rimsky-Korsakov 
        opera and Peter Shaffer&#8217;s <i>Amadeus</i>, which became an 
        Academy Award-winning <a style="color: maroon; font-weight: bold;"
        target="_blank" href="http://www.imdb.com/title/
        tt0086879/?ref_=fn_al_tt_1">film</a>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by former NAQT member Jacob Reed.</p>
<br />
<br />
<br />
{% endblock %}