{% extends "base.html" %}  {% block title %}Works by Beethoven{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/music-and-auditory-art">Music and Auditory Art</a> | </li>
    <li style="display:inline">Works by Ludwig van Beethoven</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/works-by-beethoven.html">
    You Gotta Know These Works by Ludwig van Beethoven
    </a>
</h1>
<br />
<p class="justify">
	Each work is accompanied by the date of composition, a brief description, 
	and a link to the work&#8217;s page on the International Music Score 
	Library Project (IMSLP) so that interested individuals may peruse the 
	actual (public domain, PDF) scores of the works.
</p>
<ul class="list2">
    <li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Symphony_No.5,_Op.67_%28Beethoven,_
		Ludwig_van%29">Symphony No.&nbsp;5 in C&nbsp;minor</a>, 
		op.&nbsp;67 (1804&ndash;1808):The <span style="font-weight: bold;">
		iconic opening motif</span> of the Fifth Symphony &mdash; a 
		descending&nbsp;major third followed by a descending&nbsp;minor 
		third, in a <span style="font-weight: bold;">short-short-short-
		long rhythmic pattern</span> &mdash; has become ubiquitous in 
		popular culture, though the claim that it represents 
		<span style="font-weight: bold;">&#8220;fate knocking at the 
		door&#8221;</span> does not come from Beethoven himself. The 
		work&#8217;s third movement, a scherzo and trio in C&nbsp;minor, 
		ends on a G&nbsp;major chord that proceeds directly into a 
		C&nbsp;major final movement; that finale features one of the 
		first orchestral uses (though not <em>the</em> first orchestral use) 
		of trombones. The Fifth was premiered as part of a concert that 
		also included the premiere of the Sixth Symphony.
	</li>
	<li class="list_item">
        <a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Symphony_No.9,_Op.125_%28Beethoven,_
		Ludwig_van%29">Symphony No.&nbsp;9 in D&nbsp;minor, 
		&#8220;Choral&#8221;</a>, op.&nbsp;125 (1822&ndash;1824):
		Beethoven&#8217;s Ninth Symphony marks the 
		<span style="font-weight: bold;">first significant use of voices 
		as part of a symphony</span>, though they are only used in the 
		final movement. The opening motif from the first movement 
		reappears in altered form in a second movement scherzo, which 
		itself is followed by a slow third movement that alternates 
		between quadruple and triple time. The massive final movement, 
		whose internal form closely resembles that of the entire symphony, 
		utilizes both <span style="font-weight: bold;">Friedrich Schiller
		</span>&#8217;s <span style="font-weight: bold;">&#8220;Ode to 
		Joy&#8221;</span> and original texts by Beethoven himself. A 
		typical performance takes approximately 75 minutes; the fourth 
		movement alone takes 25.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Symphony_No.6,_Op.68_%28Beethoven,_
		Ludwig_van%29">Symphony No.&nbsp;6 in F&nbsp;major, 
		&#8220;Pastoral&#8221;</a>, op.&nbsp;68 (1802&ndash;1808):
		As the title implies, Beethoven&#8217;s Sixth Symphony is a 
		programmatic depiction of <span style="font-weight: bold;">rural 
		scenes</span>; it is the composer&#8217;s only truly 
		<span style="font-weight: bold;">programmatic symphony</span>. 
		The symphony&#8217;s <span style="font-weight: bold;">five 
		movements</span>, rather than the traditional four, each include 
		a short title or description of their content: &#8220;Awakening 
		of cheerful feelings upon arrival in the country&#8221;&nbsp;(I), 
		&#8220;Scene at the brook&#8221;&nbsp;(II), &#8220;Happy gathering 
		of country folks&#8221;&nbsp;(III),  
		&#8220;Thunderstorm&#8221;&nbsp;(IV), and &#8220;Happy and 
		thankful feelings after the storm&#8221;&nbsp(V). In the score 
		for the second movement, Beethoven explicitly identifies several 
		woodwind motifs as being based on <span style="font-weight: bold;">
		bird calls</span>.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Symphony_No.3,_Op.55_%28Beethoven,_
		Ludwig_van%29">Symphony No.&nbsp;3 in E-flat&nbsp;major, 
		&#8220;Eroica&#8221;</a>, op.&nbsp;55 (1803&ndash;1804):
		Beethoven&#8217;s Third Symphony was composed during the 
		first part of his middle stylistic period, often referred to as 
		his <span style="font-weight: bold;">&#8220;heroic decade.&#8221;
		</span> Beethoven may have been influenced in the work&#8217;s 
		composition by his personal confrontation with his growing 
		<span style="font-weight: bold;">deafness</span>. The second 
		movement is a solemn, C&nbsp;minor <span style="font-weight: bold;">
		funeral march</span>, while the finale is a playful set of 
		variations on a melody Beethoven used in several other works. 
		The composer originally intended to title the symphony 
		<span style="font-weight: bold;">&#8220;Bonaparte&#8221;;</span> 
		in a popular but possibly apocryphal story, Beethoven ripped the 
		title page from the score upon hearing that Napoleon had declared 
		himself emperor.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Fidelio,_Op.72_%28Beethoven,_
		Ludwig_van%29">Fidelio, op.&nbsp;72</a> (1805; revised 1806 and 1814):
		This work is Beethoven&#8217;s <span style="font-weight: bold;">only 
		opera</span>. The libretto is by Joseph Sonnleithner, with revisions 
		by Stephan von&nbsp;Breuning and Georg Treitschke. 
		<span style="font-weight: bold;">Leonore</span> wishes to rescure 
		her husband <span style="font-weight: bold;">Florestan</span> from 
		the prison of the evil <span style="font-weight: bold;">Pizarro
		</span>; to do so, she <span style="font-weight: bold;">disguises 
		herself</span> as a boy named Fidelio so that the jailer 
		<span style="font-weight: bold;">Rocco</span> will hire her to help 
		him, and thus grant her access to her husband. Beethoven struggled 
		with his opera: he first presented it as a three-act work before 
		cutting it to the present two-act form, and wrote 
		<span style="font-weight: bold;">four separate overtures</span>. 
		The opera utilizes some spoken (rather than sung) dialogue, and 
		includes <span style="font-weight: bold;">&#8220;O what 
		joy,&#8221;</span> a chorus sung by prisoners.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Missa_solemnis,_Op.123_%28Beethoven,_
		Ludwig_van%29">Missa solemnis (in D&nbsp;major)</a>, op.&nbsp;123 
		(1819&ndash;1823):Generically, a &#8220;missa solemnis&#8221; 
		(<span style="font-weight: bold;">&#8220;solemn mass&#8221;
		</span>) is a setting of the Catholic liturgy on a more grand 
		scale than a &#8220;missa brevis&#8221; (&#8220;short mass&#8221;). 
		Although it uses the traditional text, Beethoven intended the work 
		for <span style="font-weight: bold;">concert performance</span> 
		rather than liturgical use. Beethoven became increasingly 
		fascinated by the <span style="font-weight: bold;">fugue</span> 
		during his third stylistic period; his Missa solemnis includes two 
		immense examples that conclude the <span style="font-weight: bold;">
		Gloria</span> and <span style="font-weight: bold;">Credo movements
		</span>. The composer dedicated the work to his patron, the 
		Austrian Archduke <span style="font-weight: bold;">Rudolf</span>. 
		The Missa solemnis should not be confused with Beethoven&#8217;s 
		earlier C&nbsp;major mass, op.&nbsp;86 (1807).
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Piano_Concerto_No.5,_Op.73_%28Beethoven,_
		Ludwig_van%29">Piano Concerto No.&nbsp;5 in E-flat&nbsp;major, 
		&#8220;Emperor,&#8221;</a> op.&nbsp;73 (1809&ndash;1810):
		The &#8220;Emperor&#8221; concerto, composed near the end of 
		Beethoven&#8217;s &#8220;heroic decade,&#8221; is the 
		<span style="font-weight: bold;">last concerto</span> of any type 
		that he completed. Beethoven defies traditional concerto structure 
		in the opening movement by placing the most significant solo 
		material for the piano at the beginning of the movement, rather 
		than near its end. Beethoven did not give the work its title; it 
		was first dubbed &#8220;Emperor&#8221; by Johann Cramer, who first 
		published the work in England. The &#8220;Emperor,&#8221; which 
		was premiered by pianist <span style="font-weight: bold;">Friedrich 
		Schneider</span>, is the only one of Beethoven&#8217;s piano 
		concertos that the composer himself never performed publicly.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Piano_Sonata_No.14,_Op.27_No.2_
		%28Beethoven,_Ludwig_van%29">Piano Sonata No.&nbsp;14 in 
		C&nbsp;sharp&nbsp;minor, quasi una Fantasia (&#8220;Moonlight&#8221;)
		</a>, op.&nbsp;27 No.&nbsp;2, (1801&ndash;1802): As with the 
		&#8220;Emperor,&#8221; Beethoven did not give the 
		&#8220;Moonlight&#8221; sonata its nickname; it was coined 
		several years after the composer&#8217;s death by 
		<span style="font-weight: bold;">Ludwig Rellstab</span>, who 
		commented on the first movement&#8217;s resemblance to moonlight 
		on <span style="font-weight: bold;">Lake Lucerne</span>. 
		Beethoven&#8217;s score calls for the sustain pedal to be held 
		down through the entirety of the first movement. Often 
		overshadowed by the ubiquitous first movement is the 
		<span style="font-weight: bold;">violent third movement</span>, 
		a <i>Presto agitato</i> sonata-allegro form with an extended 
		coda, which on a larger scale serves as a recapitulation for 
		the entire sonata. Beethoven dedicated the sonata to 
		<span style="font-weight: bold;">Giulietta Guicciardi</span>, 
		his pupil.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Piano_Sonata_No.23,_Op.57_
		%28Beethoven,_Ludwig_van%29">Piano Sonata No.&nbsp;23 in 
		F&nbsp;minor, &#8220;Appassionata,&#8221;</a> op.&nbsp;57 
		(1804&ndash;1806):Again, Beethoven had no hand in the popular 
		title of this sonata: the &#8220;Appassionata&#8221; label was 
		applied by a publisher some years after Beethoven&#8217;s death. 
		The sonata begins ominously: a theme descends in open octaves to 
		the lowest note of the contemporary piano before rising again in 
		an arpeggio, immediately repeated a&nbsp;minor second higher. 
		The second movement has no stable conclusion, instead directly 
		leading to the third through the use of a diminished seventh chord. 
		The final movement&#8217;s coda, which itself introduces new 
		thematic material, is one of the most demanding and difficult 
		passages in all of the composer&#8217;s repertoire.
	</li>
	<li class="list_item">
		<a style="color: maroon; font-family: Cambria; font-weight: bold; 
        font-size: large;" target="_blank" 
		href="http://imslp.org/wiki/Wellingtons_Sieg,_Op.91_
		%28Beethoven,_Ludwig_van%29">Wellington&#8217;s Victory; or, the 
		Battle of Vitoria</a>, op.&nbsp;91 (1813):Also commonly known as 
		he &#8220;Battle Symphony.&#8221; This heavily 
		<span style="font-weight: bold;">programmatic</span> work was 
		originally written for the <span style="font-weight: bold;">
		panharmonicon</span>, an automated orchestra; Beethoven later 
		revised the work for live performers. The work utilizes several 
		familiar melodies &mdash; including 
		<span style="font-weight: bold;">&#8220;God Save the 
		Queen,&#8221;</span> <span style="font-weight: bold;">&#8220;Rule 
		Britannia,&#8221;</span> and <span style="font-weight: bold;">
		&#8220;For He&#8217;s a Jolly Good Fellow&#8221;</span> &mdash; 
		and calls for special effects such as 
		<span style="font-weight: bold;">musket fire</span>. The work is 
		generally regarded as one of Beethoven&#8217;s 
		<span style="font-weight: bold;">worst</span>; even the composer 
		himself acknowledged it as being a money-maker rather than 
		serious art. Note that the piece specifically does <em>not</em> 
		depict Wellington&#8217;s victory over Napoleon at Waterloo.
	</li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jason Thompson.</p>
<br />
<br />
<br />
{% endblock %}