{% extends "base.html" %}  {% block title %}Pre-1960s Movies{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/popular-culture">Popular Culture</a> | </li>
    <li style="display:inline">Pre-1960s Movies</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/pre-1960s-movies.html">
    You Gotta Know These Pre-1960s Movies
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">The Wizard of Oz</span> (1939) is an MGM adaptation 
        of <span style="font-weight: bold;">L. Frank Baum</span>&#8217;s 
        children&#8217;s book <i style="font-weight: bold;">The Wonderful 
        Wizard of Oz</i>. The cast includes <span style="font-weight: bold;">
        Frank Morgan</span> as the title wizard, 
        <span style="font-weight: bold;">Margaret Hamilton</span> as the 
        <span style="font-weight: bold;">Wicked Witch of the West</span>, 
        and <span style="font-weight: bold;">Judy Garland</span> as the 
        protagonist, <span style="font-weight: bold;">Dorothy Gale</span>, 
        who, with her dog <span style="font-weight: bold;">Toto</span>, is 
        whisked from <span style="font-weight: bold;">Kansas</span> to the 
        mystical land of Oz by a <span style="font-weight: bold;">tornado
        </span>. <i>The Wizard of Oz</i> was one of the first films to use 
        three-strip <span style="font-weight: bold;">Technicolor</span>, 
        although the credits and the framing sequences set in Kansas were 
        filmed in sepia-toned black-and-white. The film won two Oscars, 
        including Best Original Song for <span style="font-weight: bold;">
        &#8220;Over the Rainbow,&#8221;</span> but lost the Best Picture 
        award to <i>Gone With the Wind</i>.
    </li>
    <li class="list_item">
        <span class="label">Gone With the Wind</span> (1939) is an 
        adaptation of <span style="font-weight: bold;">Margaret Mitchell
        </span>&#8217;s 1936 novel of the same name. The film was produced 
        by David O. Selznick and directed by <span style="font-weight: bold;">
        Victor Fleming</span>, who had just directed <i>The Wizard of Oz</i>. 
        <i>Gone With the Wind</i> is set during the 
        <span style="font-weight: bold;">Civil War</span> on the Georgia 
        plantation of <span style="font-weight: bold;">Tara</span> and stars 
        <span style="font-weight: bold;">Vivien Leigh</span> in an 
        Oscar-winning role as <span style="font-weight: bold;">Scarlett 
        O&#8217;Hara</span>, who marries <span style="font-weight: bold;">
        Rhett Butler</span> (<span style="font-weight: bold;">Clark Gable
        </span>) despite pining after the married 
        <span style="font-weight: bold;">Ashley Wilkes</span>. Near the end 
        of the film, Scarlett suffers a miscarriage after a fight with 
        Rhett, who then leaves her; when Scarlett asks him, 
        <span style="font-weight: bold;">&#8220;Where shall I go? What shall 
        I do?&#8221;</span> he famously responds 
        <span style="font-weight: bold;">&#8220;Frankly, my dear, I 
        don&#8217;t give a damn.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">Fantasia</span> (1940) is a 
        <span style="font-weight: bold;">Walt Disney</span> animated film 
        consisting of eight animated story segments overlaid with 
        <span style="font-weight: bold;">classical music</span> conducted by 
        <span style="font-weight: bold;">Leopold Stokowski</span> and 
        performed by the <span style="font-weight: bold;">Philadelphia 
        Orchestra</span>. <i>Fantasia</i>&#8217;s soundtrack, which 
        includes <span style="font-weight: bold;">Toccata and Fugue in 
        D&nbsp;Minor</span> and <i style="font-weight: bold;">The Rite of 
        Spring</i>, was the first to be produced in 
        <span style="font-weight: bold;">stereoscopic sound</span> (i.e., 
        &#8220;in stereo&#8221;). The marquee segment of <i>Fantasia</i> is 
        <i style="font-weight: bold;">The Sorcerer&#8217;s Apprentice</i>, 
        in which <span style="font-weight: bold;">Mickey Mouse</span> 
        magically summons a horde of <span style="font-weight: bold;">dancing 
        brooms</span> in the castle of the wizard 
        <span style="font-weight: bold;">Yen Sid</span> 
        (&#8220;Disney&#8221; spelled backwards). A portion of Fantasia in 
        which a black centaur buffs the hooves of a white centaur was 
        edited out in 1969 before the film&#8217;s re-release. A sequel, 
        <i style="font-weight: bold;">Fantasia 2000</i>, was released in 1999.
    </li>
    <li class="list_item">
        <span class="label">Citizen Kane</span> (1941), directed by 
        <span style="font-weight: bold;">Orson Welles</span>, is considered 
        by many (including the American Film Institute) to be the greatest 
        film ever made. Through <span style="font-weight: bold;">flashbacks
        </span>, it tells the story of fictional publishing mogul 
        <span style="font-weight: bold;">Charles Foster Kane</span> (played 
        by Welles and loosely based on real-life newspaper magnate 
        <span style="font-weight: bold;">William Randolph Hearst</span>), 
        who buys the <i>New York Inquirer</i>, unsuccessfully runs for 
        governor of New York, and tries to make his second wife an opera 
        star before dying at his Florida estate, 
        <span style="font-weight: bold;">Xanadu</span>. In the present day, 
        reporter Jerry Thompson fruitlessly attempts to discover the 
        meaning of Kane&#8217;s dying word, 
        <span style="font-weight: bold;">&#8220;Rosebud,&#8221;</span> which 
        turns out to be the brand name of Kane&#8217;s beloved childhood 
        <span style="font-weight: bold;">sled</span>, an object burned by 
        unsuspecting servants as the film ends.
    </li>
    <li class="list_item">
        <span class="label">Casablanca</span> (1942) stars 
        <span style="font-weight: bold;">Humphrey Bogart</span> as American 
        expatriate <span style="font-weight: bold;">Rick Blaine</span> 
        living in Vichy-controlled <span style="font-weight: bold;">Morocco
        </span> during World War&nbsp;II. The film opens with Ugarte, a 
        local criminal, attempting to sell <span style="font-weight: bold;">
        &#8220;letters of transit&#8221;</span> at Rick&#8217;s nightclub, 
        <span style="font-weight: bold;">Rick&#8217;s Caf&eacute; 
        Am&eacute;ricain</span>. <span style="font-weight: bold;">Ingrid 
        Bergman</span> stars opposite Bogart as Rick&#8217;s former lover 
        <span style="font-weight: bold;">Ilsa Lund</span>, whose current 
        husband, an anti-Nazi resistance leader, needs the letters. In one 
        memorable scene, Ilsa&#8217;s husband, 
        <span style="font-weight: bold;">Victor Laszlo</span>, leads a crowd 
        in singing &#8220;La Marseillaise&#8221; in response to a group of 
        Nazis singing &#8220;Die Wacht am Rhein.&#8221; Famous quotes from 
        Casablanca include <span style="font-weight: bold;">&#8220;Round up 
        the usual suspects,&#8221;</span> <span style="font-weight: bold;">
        &#8220;Here&#8217;s looking at you, kid,&#8221;</span> and 
        <span style="font-weight: bold;">&#8220;Louis, I think this is the 
        beginning of a beautiful friendship.&#8221;</span>
    </li>
    <li class="list_item">
        <span class="label">It&#8217;s a Wonderful Life</span> (1946) is a 
        <span style="font-weight: bold;">Christmas</span> drama produced 
        and directed by <span style="font-weight: bold;">Frank Capra</span> 
        based on <span style="font-weight: bold;">Philip Van Doren Stern
        </span>&#8217;s short story <span style="font-weight: bold;">
        &#8220;The Greatest Gift.&#8221;</span> Set in the fictional town of 
        Bedford Falls, <i>It&#8217;s a Wonderful Life</i> stars 
        <span style="font-weight: bold;">Jimmy Stewart</span> as building 
        and loan operator <span style="font-weight: bold;">George Bailey
        </span>, who plans to commit suicide on Christmas Eve over a 
        financial disaster caused by the villainous 
        <span style="font-weight: bold;">Henry Potter</span>. A 
        <span style="font-weight: bold;">guardian angel</span>, 
        <span style="font-weight: bold;">Clarence Odbody</span> (played by 
        Henry Travers), stops George from killing himself by showing him 
        what his hometown would be like <span style="font-weight: bold;">
        had he never been born</span>: for example, George would not have 
        been able to save his younger brother from drowning in a frozen 
        lake, or prevent the town pharmacist from accidentally poisoning 
        a prescription.
    </li>
    <li class="list_item">
        <span class="label">Rashomon</span> (1950) is an 
        <span style="font-weight: bold;">Akira Kurosawa</span> film based 
        on <span style="font-weight: bold;">Ryunosuke Akutagawa</span>
        &#8217;s 1922 short story <span style="font-weight: bold;">&#8220;In 
        a Grove&#8221;</span> (<em>not</em> his story &#8220;Rashomon&#8221;). 
        The film depicts a trial in which a <span style="font-weight: bold;">
        bandit</span> (Tajomaru), a <span style="font-weight: bold;">
        woodcutter</span> (Kikori), a <span style="font-weight: bold;">samurai
        </span> (through a medium), and the <span style="font-weight: bold;">
        samurai&#8217;s wife</span> recount the events that led to the 
        samurai&#8217;s death. A common thread through the four stories is 
        the presence of an <span style="font-weight: bold;">expensive dagger
        </span> no longer at the crime scene. The marked differences in the 
        characters&#8217; stories, however, led to the term 
        <span style="font-weight: bold;">&#8220;Rashomon effect&#8221;</span> 
        to describe the unreliability of eyewitnesses. During the 
        woodcutter&#8217;s testimony, the group is interrupted by the cries 
        of an <span style="font-weight: bold;">abandoned baby</span>, a crisis 
        that reveals some insights into the characters.
    </li>
    <li class="list_item">
        <span class="label">12 Angry Men</span> (1957) explores themes of 
        <span style="font-weight: bold;">morals</span>, 
        <span style="font-weight: bold;">justice</span>, and 
        <span style="font-weight: bold;">doubt</span> as it follows the 
        deliberations of a <span style="font-weight: bold;">jury</span> over 
        the guilt of an 18-year-old defendant on a charge of patricide. 
        Deliberations initially stall when <span style="font-weight: bold;">
        Juror&nbsp;8</span>, played by <span style="font-weight: bold;">Henry 
        Fonda</span>, is the only one to vote &#8220;not guilty&#8221;; a 
        series of secret ballots and conversations gradually erode the 
        jury&#8217;s certainty, and they ultimately vote to 
        <span style="font-weight: bold;">acquit</span>. The last holdout, 
        <span style="font-weight: bold;">Juror&nbsp;3</span>, played by 
        <span style="font-weight: bold;">Lee Cobb</span>, is implied to be 
        locked into his &#8220;guilty&#8221; vote because of his anger over 
        his poor relationship with his own son. The film, directed by 
        <span style="font-weight: bold;">Sidney Lumet</span>, lost the 
        Academy Award for Best Picture to <i>Bridge on the River Kwai</i>.
    </li>
    <li class="list_item">
        <span class="label">Ben-Hur</span> (1959) is a historical epic from 
        MGM Studios that stars <span style="font-weight: bold;">Charlton 
        Heston</span> as the title <span style="font-weight: bold;">prince 
        of Jerusalem</span> who is unjustly imprisoned on the flagship of 
        Roman general <span style="font-weight: bold;">Quintus Arrius</span> 
        after tiles falling from his roof nearly kill the governor of Judea. 
        Ben-Hur features a massive, nine-minute-long 
        <span style="font-weight: bold;">chariot race</span> in which 
        Heston&#8217;s character defeats <span style="font-weight: bold;">
        Messala</span>, played by Stephen Boyd. The film&#8217;s score, 
        composed by <span style="font-weight: bold;">Mikl&oacute;s 
        R&oacute;zsa</span>, is the longest ever composed for a feature 
        film. Ben-Hur&#8217;s <span style="font-weight: bold;">eleven Oscars
        </span> was a record that stood until <i>Titanic</i> (1997). More 
        than 200 <span style="font-weight: bold;">camels</span> were used 
        in the film, which was adapted from <span style="font-weight: bold;">
        Lew Wallace</span>&#8217;s novel <i>Ben-Hur: A Tale of the Christ</i>.
    </li>
    <li class="list_item">
        <span class="label">North by Northwest</span> (1959) is a thriller 
        from director <span style="font-weight: bold;">Alfred Hitchcock</span> 
        starring <span style="font-weight: bold;">Cary Grant</span> as 
        <span style="font-weight: bold;">Roger Thornhill</span>, an 
        advertising executive <span style="font-weight: bold;">framed for the 
        murder</span> of U.N. diplomat Lester Townsend. In one memorable and 
        oft-parodied scene, Thornhill is <span style="font-weight: bold;">
        chased through a field</span> near Chicago by a 
        <span style="font-weight: bold;">crop duster</span> airplane. At the 
        film&#8217;s climax, Thornhill and Eve Kendall (played by Eva Marie 
        Saint) are chased by spies led by Phillip Vandamm across the top of 
        <span style="font-weight: bold;">Mount Rushmore</span>. <i>North by 
        Northwest</i> features a <span style="font-weight: bold;">MacGuffin
        </span> (an object common in Hitchcock films&mdash;something desired 
        by characters yet ultimately meaningless to the story) in the form of 
        <span style="font-weight: bold;">microfilm</span> containing 
        government secrets that is hidden inside a sculpture.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}