{% extends "base.html" %}  {% block title %}Sandbox and Open-World Video Games{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/popular-culture">Popular Culture</a> | </li>
    <li style="display:inline">Sandbox and Open-World Video Games</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/sandbox-and-open-world-video-games.html">
    You Gotta Know These Sandbox and Open-World Video Games
    </a>
</h1>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Sandbox Games</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">SimCity</span> (Maxis, 1989) The brainchild of 
        designer <span style="font-weight: bold;">Will Wright</span>, the 
        title <i>SimCity</i> is a 20th-century American-style city, with 
        players as mayors who have to <span style="font-weight: bold;">
        balance its budget</span>, recover from 
        <span style="font-weight: bold;">disasters</span>, and expand 
        commercial, industrial, and residential zones; a green-haired official 
        named <span style="font-weight: bold;">Dr.&nbsp;Wright</span> acts as 
        adviser. SimCity foregrounds the gaming concept of 
        <span style="font-weight: bold;">&#8220;building an engine,&#8221;
        </span> which denotes acquiring good elements that let the player 
        place more such elements and increase the player&#8217;s power; in 
        SimCity&#8217;s case, building sensible roads and well-placed civic 
        buildings (like schools or power plants) attracts more residents and 
        more tax revenue, unlocking better such buildings. No matter how well 
        or poorly the city is managed, the city can be played for as long as 
        desired with no set end, even if the town is totally bankrupt.
    </li>
    <li class="list_item">
        <span class="label">The Sims</span> (Maxis, 2000) Will Wright made 
        <i>The Sims</i> himself as a &#8220;dollhouse-style&#8221; simulation 
        game; it was titled <i>The Sims</i> to capitalize on <i>SimCity</i>
        &#8217;s name recognition. Players dictate the lives of people called 
        Sims (telling them, for instance, when to sleep, what to eat, and 
        whom to talk with) in a generic American suburb, with the goal of 
        satisfying their <span style="font-weight: bold;">daily human needs
        </span> while juggling jobs and friendships. Careers are mostly 
        offscreen; <i>The Sims</i> emphasizes domestic life, featuring vast 
        <span style="font-weight: bold;">house-building</span> and silly 
        <span style="font-weight: bold;">furnishing options</span> and a 
        <span style="font-weight: bold;">relationship system</span> that can 
        result in love, fights, jealousy&mdash;all spoken in a gibberish 
        language called <span style="font-weight: bold;">Simlish</span>. 
        Lauded for appealing to an untapped female market, <i>The Sims</i> 
        spawned a huge franchise even more successful than <i>SimCity</i>.
    </li>
    <li class="list_item">
        <span class="label">Minecraft</span> (Mojang, 2011) Currently the 
        <span style="font-weight: bold;">best-selling video game of all 
        time</span>, <i>Minecraft</i>&#8217;s gameplay is simple: beginning 
        with basic tools, players gather materials (from a world of 
        countless crude, pixel-y <span style="font-weight: bold;">Blocks
        </span>) to craft shelters and structures and craft better tools. 
        Critics often liken <i>Minecraft</i> to playing with a Lego set. 
        There are several modes, with Survival Mode including enemies like 
        <span style="font-weight: bold;">Creepers</span>, 
        <span style="font-weight: bold;">Endermen</span>, and 
        <span style="font-weight: bold;">zombies</span>, while Creative Mode 
        minimizes threats and lets players fly. Across these modes, many <i>
        Minecraft</i> users have created <span style="font-weight: bold;">
        extremely intricate structures</span>, including detailed 
        re-creations of fictional and real-world buildings and towns. For 
        years, the default player avatar was a blue-shirted man named 
        <span style="font-weight: bold;">Steve</span>, but a female avatar 
        named <span style="font-weight: bold;">Alex</span> and other custom 
        skins are also now accessible.
    </li>
    <li class="list_item">
        <span class="label">No Man&#8217;s Sky</span> (Hello Games, 2016) 
        Hyped for years by director Sean Murray, <i>No Man&#8217;s Sky</i> 
        promised galaxies filled with <em>quintillions</em> of 
        <span style="font-weight: bold;">procedurally generated planets</span> 
        to explore, all with a multiplayer ability to explore and settle these 
        worlds with friends. However, at launch, reviewers found its early 
        gameplay repetitive and noted no multiplayer mode, with several other 
        aspects <span style="font-weight: bold;">oversold or not in place
        </span> and servers unable to handle the load of active play. These 
        elements (as well as silence from Murray and his team in the weeks 
        after the debut) led to record <span style="font-weight: bold;">
        refund requests</span> and a steep decline in active players. 
        Despite numerous updates that fixed and implemented many promised 
        aspects that prompted a <span style="font-weight: bold;">significant 
        critical reassessment</span> in ensuing years, <i>No Man&#8217;s 
        Sky</i> is still mostly remembered for its 
        <span style="font-weight: bold;">extreme backlash</span> and deeply 
        disappointing debut.
    </li>
    <li class="list_item">
        <span class="label">Animal Crossing: New Horizons</span> (Nintendo, 
        2020) All <i>Animal Crossing</i> games task players with inviting 
        <span style="font-weight: bold;">talking animals</span> (from a 
        roster of hundreds) to live in a cute, tiny town; in New Horizons, 
        the town is on a <span style="font-weight: bold;">desert island
        </span>. With an internal game clock tied to 
        <span style="font-weight: bold;">real-life date and time</span>, 
        players chop wood, plant flowers, go fishing, and sell fruit to 
        improve the town, but there is no true end or time limit; the game 
        instead emphasizes item collection so players can 
        <span style="font-weight: bold;">customize their island</span> to 
        their own satisfaction. Developing the island unlocks a bigger 
        house (provided by the raccoon-like loan shark 
        <span style="font-weight: bold;">Tom Nook</span>) and prompts 
        Saturday-night concerts from pop star dog 
        <span style="font-weight: bold;">K.&nbsp;K. Slider</span>, but there 
        are no penalties for slow play. <i>New Horizons</i> was fortuitously 
        released in March 2020 amidst COVID lockdown orders, leading many 
        fans to play for hours and visit friends&#8217; islands as a form of 
        escapism.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">Open-World Games</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Hitman: Codename 47</span> (IO Interactive, 
        2000) In the first installment in the <i>Hitman</i> franchise, 
        players control a <span style="font-weight: bold;">bald, barcoded 
        clone</span> known only as <span style="font-weight: bold;">
        Agent&nbsp;47</span>, employed as an assassin by the shadowy 
        International Contract Association. Gameplay emphasizes stealth, 
        patience, and discretion, and while each level contains physical 
        boundaries, they contain myriad avenues for creativity: missions may 
        be accomplished by any means in countless locations (as direct as 
        strangling a victim or as indirect as having them die in an 
        &#8220;accident&#8221;). <i>Hitman</i> makes use of very 
        sophisticated AI to manage <span style="font-weight: bold;">NPCs
        </span> (non-player characters), who may witness crimes, discover 
        bodies, and try to kill Agent 47 if the player is sloppy. 
        <i>Hitman</i> was only a middling success; later releases (including 
        a <span style="font-weight: bold;">2016 series reboot</span>) 
        garnered much more acclaim.
    </li>
	<li class="list_item">
        <span class="label">Grand Theft Auto III</span> (Rockstar Games, 
        2001) <i>Grand Theft Auto&nbsp;III</i> was a landmark in video 
        gaming. In one respect, its open-world environment (a New York City 
        spoof called <span style="font-weight: bold;">Liberty City</span>) 
        is an unprecedentedly adult playground filled with endless 
        opportunities for mayhem that can be explored at a player&#8217;s 
        leisure when not involved in guided missions, which involve the 
        city&#8217;s criminal underworld; this detail was augmented by 
        in-game <span style="font-weight: bold;">radio stations</span> 
        that play in vehicles. In another respect, <i>GTA&nbsp;III</i> was 
        <span style="font-weight: bold;">demonized</span> by parent groups 
        for being racy and hyper-violent&mdash;for instance, mini-games 
        called <span style="font-weight: bold;">Rampages</span> have players 
        commit mass murder with little consequence. Despite such controversy, 
        <i>GTA&nbsp;III</i> is regarded as one of the greatest games of all 
        time, and it inspired many so-called &#8220;GTA clones,&#8221; such as 
        <i>Watch Dogs</i> and <i>Saints Row</i>.
    </li>
	<li class="list_item">
        <span class="label">Assassin&#8217;s Creed</span> (Ubisoft, 2007) 
        Another open-world game with an emphasis on 
        <span style="font-weight: bold;">stealth</span>, Assassin&#8217;s 
        Creed follows <span style="font-weight: bold;">Desmond Miles</span>, 
        a bartender who is kidnapped by the <span style="font-weight: bold;">
        Knights Templar</span> and subjected to a machine that puts Desmond 
        in the mind of one of his ancestors, an Assassin during the 
        <span style="font-weight: bold;">Third Crusade</span>. Players must 
        maintain a low profile while exploring versions of Acre, Damascus, 
        and Jerusalem with <span style="font-weight: bold;">jumping and 
        wall-scaling abilities</span> heavily informed by the early-2000s 
        parkour craze. Because Desmond is &#8220;reliving&#8221; the life 
        of his ancestor <span style="font-weight: bold;">Altair</span>, any 
        damage the player takes is presented as deviation from 
        <span style="font-weight: bold;">&#8220;Synchronization,&#8221;
        </span> meaning if Desmond &#8220;dies,&#8221; the machine stops 
        and restarts him at a previous checkpoint. <i>Assassin&#8217;s Creed
        </i> presents a variety of challenges in these open-world cities, 
        ranging from pickpocketing to interrogations to murders.
    </li>
	<li class="list_item">
        <span class="label">Fallout 3</span> (Bethesda Softworks, 2008) After 
        the cult <i>Fallout</i> series was acquired by Bethesda Softworks, 
        Bethesda retooled the mostly isometric third-person RPG series into 
        an open-world first-person action-RPG with <i>Fallout&nbsp;3</i>. 
        Set in Washington, D.C. centuries after a nuclear apocalypse, the 
        game follows a dweller of a <span style="font-weight: bold;">Vault
        </span> (one of hundreds of underground bunkers manufactured by the 
        megacorporation <span style="font-weight: bold;">Vault-Tec</span>) 
        who quests to reunite with his father. With tongue-in-cheek aesthetics 
        drawn from the U.S. post-war era, the game includes a player interface 
        called the <span style="font-weight: bold;">Pip-Boy</span>, a clunky 
        wrist-mounted computer. Players have total freedom to explore the 
        region&#8217;s ruins and uncover side-quests for unlimited time 
        without progressing the main storyline, encountering recurring 
        franchise factions like monstrous <span style="font-weight: bold;">
        Super Mutants</span> and the fascist <span style="font-weight: bold;">
        Brotherhood of Steel</span>.
    </li>
	<li class="list_item">
        <span class="label">Red Dead Redemption</span> (Rockstar Games, 
        2010) Using a similar format as fellow Rockstar property <i>Grand 
        Theft Auto</i>, <i>Red Dead Redemption</i> was instantly hailed as a 
        masterpiece on its release. Its open-world setting depicts the 
        <span style="font-weight: bold;">decline of the Wild West</span>, 
        with characters heavily drawn from <span style="font-weight: bold;">
        Spaghetti westerns</span>. The story concerns John Marston, an 
        ex-outlaw whose family is held ransom by the government to force 
        John to track down his old gang. A key component of the game is 
        quickdraw duels, which are aided by <span style="font-weight: bold;">
        &#8220;Dead Eye,&#8221;</span> an ability that slows down time. In 
        particular, the game is praised for its plot, its desolate yet 
        beautiful visuals, and its music; in particular, the sequence in 
        which players <span style="font-weight: bold;">first reach Mexico
        </span>, set to the song &#8220;Far Away,&#8221; is often held up as 
        an example of <span style="font-weight: bold;">video games as art
        </span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Danny Kristian Vopava.</p>
<br />
<br />
<br />
{% endblock %}