{% extends "base.html" %}  {% block title %}Video Game Series{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/popular-culture">Popular Culture</a> | </li>
    <li style="display:inline">Video Game Series</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/video-game-series.html">
    You Gotta Know These Video Game Series
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Super Mario</span>: The character 
        <span style="font-weight: bold;">Mario</span> first appeared in the 
        arcade game <span style="font-weight: bold;">Donkey Kong</span>, in 
        which he was originally named &#8220;Jumpman.&#8221; Created by 
        <span style="font-weight: bold;">Nintendo</span>&#8217;s 
        <span style="font-weight: bold;">Shigeru Miyamoto</span>, Mario has 
        since appeared in over 200 games, including the iconic 
        <span style="font-weight: bold;">Super Mario Bros.</span>, which 
        launched with the <span style="font-weight: bold;">Nintendo 
        Entertainment System</span> in 1985. Mario, along with his brother 
        <span style="font-weight: bold;">Luigi</span>, his nemesis 
        <span style="font-weight: bold;">Bowser</span>, and his allies 
        <span style="font-weight: bold;">Yoshi</span>, 
        <span style="font-weight: bold;">Princess Peach</span>, and 
        <span style="font-weight: bold;">Toad</span>, have also appeared in 
        numerous spinoff series like <span style="font-weight: bold;">Mario 
        Kart</span>, <span style="font-weight: bold;">Mario Tennis</span>, 
        <span style="font-weight: bold;">Paper Mario</span>, and 
        <span style="font-weight: bold;">Super Smash Bros.</span>
    </li>
	<li class="list_item">
        <span class="label">The Legend of Zelda</span>: Also created by 
        Shigeru Miyamoto. Games in the Zelda series star the green-clad 
        <span style="font-weight: bold;">Link</span>, who typically must 
        rescue <span style="font-weight: bold;">Princess Zelda</span> from 
        the evil <span style="font-weight: bold;">Ganon</span> (who sometimes 
        appears in his humanoid form, <span style="font-weight: bold;">
        Ganondorf</span>). Recurring weapons in the series include the 
        <span style="font-weight: bold;">Master Sword</span>, boomerang, 
        bombs, and <span style="font-weight: bold;">hookshot</span>. Much 
        of the series&#8217;s lore centers on the 
        <span style="font-weight: bold;">Triforce</span>, a set of three 
        golden triangles whose constituent parts represent power, wisdom, 
        and courage.
    </li>
	<li class="list_item">
        <span class="label">Final Fantasy</span>: A long-running 
        <span style="font-weight: bold;">Japanese role-playing game</span> 
        (JRPG) series, whose 15th main installment was released in November 
        2016. <span style="font-weight: bold;">Final Fantasy VII</span>, 
        released in 1997, was a massive success and (at the time) a 
        technical marvel that helped popularize the 
        <span style="font-weight: bold;">Sony PlayStation</span>. Some 
        notable protagonists from the series include 
        <span style="font-weight: bold;">Cecil Harvey</span> (IV), 
        <span style="font-weight: bold;">Cloud Strife</span> (VII), and 
        <span style="font-weight: bold;">Tidus</span> (X). The series is 
        closely associated with composer <span style="font-weight: bold;">
        Nobuo Uematsu</span>, who created the soundtracks for the first nine 
        games as well as part of the tenth.
    </li>
	<li class="list_item">
        <span class="label">WarCraft</span>: Series developed by 
        <span style="font-weight: bold;">Blizzard Entertainment</span> 
        that helped popularize the <span style="font-weight: bold;">
        real-time strategy</span> (RTS) genre, in which players fight 
        against each other by constructing buildings and armies as quickly 
        as possible. The first game in the series pitted Humans against 
        <span style="font-weight: bold;">Orcs</span>; later games added 
        <span style="font-weight: bold;">Night Elves</span> and 
        <span style="font-weight: bold;">Undead</span>. The 2004 
        <span style="font-weight: bold;">MMORPG (massively multiplayer online 
        RPG)</span> <span style="font-weight: bold;">World of Warcraft
        </span>, set in the same universe, has had over 10 million 
        subscribers.
    </li>
	<li class="list_item">
        <span class="label">Pok&eacute;mon</span>: RPG series about 
        animal-like &#8220;pocket monsters,&#8221; and the basis for the 
        long-running Japanese animated series about trainer 
        <span style="font-weight: bold;">Ash Ketchum</span>. Pok&eacute;mon 
        games are typically released in pairs that differ in which 
        Pok&eacute;mon are available, such as Red/Blue, Gold/Silver, X/Y, 
        and 2016&#8217;s Sun/Moon. Notable Pok&eacute;mon include 
        <span style="font-weight: bold;">Pikachu</span>, 
        <span style="font-weight: bold;">Charizard</span>, 
        <span style="font-weight: bold;">Lucario</span>, 
        <span style="font-weight: bold;">Greninja</span>, and 
        <span style="font-weight: bold;">Mewtwo</span>. A mobile version, 
        <span style="font-weight: bold;">Pok&eacute;mon Go</span>, was 
        released in 2016 to massive success.
    </li>
	<li class="list_item">
        <span class="label">Call of Duty</span>: 
        <span style="font-weight: bold;">First-person shooter (FPS)</span> 
        series published by Activision. The first three games centered on 
        World War II, while more recent editions&mdash;starting with 
        2007&#8217;s <span style="font-weight: bold;">Modern Warfare</span>
        &mdash;have largely taken place in contemporary and near-future 
        settings, and have courted controversy for such things as a level 
        in which the player kills civilians while participating in a 
        terrorist attack. The series is celebrated for its multiplayer modes, 
        including cooperative <span style="font-weight: bold;">Zombie modes
        </span>.
    </li>
	<li class="list_item">
        <span class="label">StarCraft</span>: Another Blizzard RTS series, 
        with a science fiction theme. The game features three playable races: 
        <span style="font-weight: bold;">Terrans</span> (humans), 
        <span style="font-weight: bold;">Zerg</span> (a single-minded 
        collective of insect-like aliens), and 
        <span style="font-weight: bold;">Protoss</span> (strong, humanoid 
        aliens with psionic powers). StarCraft II, the series&#8217;s 
        latest entry, was split into three parts whose stories each focused 
        on one of the three races. Major characters in the series include 
        <span style="font-weight: bold;">Jim Raynor</span>, a Terran leader, 
        and <span style="font-weight: bold;">Sarah Kerrigan</span>, a former 
        Terran psychic corrupted by the Zerg.
    </li>
	<li class="list_item">
        <span class="label">Sonic the Hedgehog</span>: Flagship Sega franchise, 
        starring a namesake blue hedgehog that runs at high speeds. Sonic 
        first appeared on the <span style="font-weight: bold;">Sega Genesis
        </span> console in 1991, and is accompanied in later games by allies 
        such as <span style="font-weight: bold;">Tails</span> (an orange, 
        two-tailed fox) and <span style="font-weight: bold;">Knuckles</span> 
        (a red echidna). The series&#8217;s villain is 
        <span style="font-weight: bold;">Dr.&nbsp;Eggman</span>, known as 
        <span style="font-weight: bold;">Dr.&nbsp;Robotnik</span> in the 
        early Genesis games. Though the series has maintained popularity for 
        over two decades, more recent games have had considerably less 
        success than the first three Genesis games.
    </li>
	<li class="list_item">
        <span class="label">Grand Theft Auto</span>: An immensely successful 
        <span style="font-weight: bold;">Rockstar Games</span> series that 
        has repeatedly drawn criticism for its level of violence. Grand 
        Theft Auto games are played in open world &#8220;sandboxes&#8221; 
        that give the player the ability to do virtually anything they want. 
        The series is set in satirized versions of real U.S. cities, with 
        GTA III and GTA IV taking place in the New York knock-off Liberty 
        City, GTA: Vice City taking place in a fictionalized Miami, and GTA: 
        San Andreas and GTA V taking place in Los Santos, a send-up of Los 
        Angeles.
    </li>
	<li class="list_item">
        <span class="label">Madden NFL</span>: The Madden series (which, 
        prior to 1993, was simply known as John Madden Football due to 
        licensing issues), has featured yearly installments since 1990 and is 
        published by <span style="font-weight: bold;">EA Sports</span> (which 
        also publishes the FIFA soccer series). Madden NFL traditionally 
        features a different player on its box art each year; an apparent 
        string of injuries to and poor seasons by players on the cover of 
        that particular year&#8217;s game has become known as the 
        <span style="font-weight: bold;">Madden Curse</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT editor Erik Nelson.</p>
<br />
<br />
<br />
{% endblock %}