{% extends "base.html" %}  {% block title %}Founders of Religious Traditions{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a> | </li>
    <li style="display:inline">Founders of Religious Traditions</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/founders-of-religious-traditions.html">
    You Gotta Know These Founders of Religious Traditions
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Abraham</span> was a patriarch common to 
        <span style="font-weight: bold;">Judaism</span>, 
        <span style="font-weight: bold;">Christianity</span>, and 
        <span style="font-weight: bold;">Islam</span>, which are collectively 
        known as the <span style="font-weight: bold;">Abrahamic religions
        </span>. Unlike the other people in this article, Abraham is not 
        regarded as a historical figure in secular studies. He is the subject 
        of the Biblical narrative of the <span style="font-weight: bold;">
        covenant of the pieces</span>, in which God promises that his 
        descendants would inherit the <span style="font-weight: bold;">
        Promised Land</span> of Canaan/Israel; this tradition is the basis 
        for the view that the Jewish people are God&#8217;s 
        <span style="font-weight: bold;">chosen people</span>. In Islam, 
        Abraham (<span style="font-weight: bold;">Ibrahim</span>) is 
        considered a major link in the chain of prophets stretching from 
        Adam to Muhammad. In Christianity, he is considered an exemplar of 
        faith because of his willingness to <span style="font-weight: bold;">
        sacrifice his son Isaac</span> at God&#8217;s command.
    </li>
    <li class="list_item">
        <span class="label">Zoroaster</span> or Zarathustra (time unknown, 
        perhaps second millennium&nbsp;BC) was an ancient 
        <span style="font-weight: bold;">Persian</span> prophet who founded 
        the <span style="font-weight: bold;">dualistic</span> religion 
        Zoroastrianism around the 10th century&nbsp;BC. He is said to have 
        had a revelation in which he saw a being who taught him about two 
        <span style="font-weight: bold;">primal spirits</span>: a benevolent 
        creator named <span style="font-weight: bold;">Ahura Mazda</span> 
        and a malevolent spirit named <span style="font-weight: bold;">Angra 
        Mainyu</span> or <span style="font-weight: bold;">Ahriman</span>. 
        Zoroaster also learned about the concepts of 
        <i style="font-weight: bold;">asha</i> and 
        <i style="font-weight: bold;">druj</i>, roughly equivalent to 
        &#8220;truth&#8221; and &#8220;falsehood,&#8221; and thereafter 
        chose to dedicate his life to promoting <i>asha</i>.
    </li>
	<li class="list_item">
        <span class="label">Mahavira</span> (fifth or sixth century&nbsp;BC) 
        was the founder of modern <span style="font-weight: bold;">Jainism
        </span>. Jains regard him as the twenty-fourth 
        <i style="font-weight: bold;">tirthankara</i>, or spiritual teacher, 
        who revived and synthesized ancient traditions. His mother, 
        <span style="font-weight: bold;">Trishala</span>, is said to have 
        had either fourteen or sixteen auspicious dreams before his birth. 
        In his forties, Mahavira is said to have achieved 
        <i style="font-weight: bold;">Kevala Jnana</i>, or infinite knowledge, 
        while meditating under a <span style="font-weight: bold;">salah tree
        </span>. He subsequently taught a number of principles, including 
        <i style="font-weight: bold;">ahimsa</i>, the prohibition of violence 
        against living beings of any kind.</li>
	<li class="list_item">
        <span class="label">Siddhartha Gautama</span> (fifth or sixth 
        century&nbsp;BC), also known as the <span style="font-weight: bold;">
        Buddha</span>, was the founder of <span style="font-weight: bold;">
        Buddhism</span>. His mother <span style="font-weight: bold;">Maya
        </span> is said to have dreamt that a six-tusked elephant entered her 
        right side, ten months before she gave birth to Siddhartha in 
        <span style="font-weight: bold;">Lumbini</span>. The future Buddha 
        grew up in a palace, but he adopted an ascetic lifestyle after he 
        encountered a sick man, a corpse, and an ascetic outside his 
        father&#8217;s court. Like Mahavira, the Buddha is said to have 
        attained <span style="font-weight: bold;">enlightenment</span> while 
        meditating under a tree&mdash;in this case, the 
        <span style="font-weight: bold;">Bodhi tree</span>. He learned the 
        <span style="font-weight: bold;">Four Noble Truths</span>, which hold 
        that humans are kept in <i style="font-weight: bold;">samsara</i>, 
        the endless cycle of death and rebirth, by our attachment to 
        impermanent things, and that the cycle can be ended by attaining 
        <i style="font-weight: bold;">nirvana</i>.
    </li>
	<li class="list_item">
        <span class="label">Confucius</span> (551&ndash;479&nbsp;BC) 
        was a Chinese philosopher whose teachings are the basis for 
        Confucianism, a tradition sometimes described as a philosophy and 
        sometimes as a religion. Confucius&#8217;s disciples organized his 
        teachings into the <i style="font-weight: bold;">Analects</i>. He 
        emphasized such ideas as <i style="font-weight: bold;">li</i> 
        (decorum and proper behavior) and <i style="font-weight: bold;">ren
        </i> (benevolence or humaneness). He taught that disorder often arose 
        from the failure to call things by their proper names, so he 
        advocated the rectification of names. His followers developed his 
        teachings in different directions; the most famous of them, 
        <span style="font-weight: bold;">Mencius</span>, emphasized the 
        innate goodness of human beings.
    </li>
	<li class="list_item">
        <span class="label">Muhammad</span> (c.&nbsp;AD&nbsp;570&ndash;632) 
        was a prophet who founded <span style="font-weight: bold;">Islam
        </span>. Born in <span style="font-weight: bold;">Mecca</span> in 
        the Year of the Elephant, he is said to have been visited by the 
        angel <span style="font-weight: bold;">Jibril</span> (or Gabriel) 
        in the cave of <span style="font-weight: bold;">Hira</span>, where 
        Jibril revealed the <span style="font-weight: bold;">Qur&#8217;an
        </span> to him. During the <span style="font-weight: bold;">Night 
        Journey</span>, Muhammad is said to have traveled on the horse 
        <span style="font-weight: bold;">Buraq</span> to &#8220;the farthest 
        mosque&#8221; and to have visited heaven. Because of plots against 
        him in Mecca, Muhammad traveled from Mecca to 
        <span style="font-weight: bold;">Medina</span> along with his 
        followers and established the Islamic community there. When war 
        broke out between his followers and the people of Mecca, he served 
        as a military commander, winning several engagements, including the 
        <span style="font-weight: bold;">Battle of Badr</span>. His death 
        led to disputes among his followers as to whether 
        <span style="font-weight: bold;">Abu Bakr</span> or 
        <span style="font-weight: bold;">Ali</span> was his true successor.
    </li>
	<li class="list_item">
        <span class="label">Guru Nanak</span> (1469&ndash;1539) was the 
        founder of <span style="font-weight: bold;">Sikhism</span> and the 
        first of the ten gurus of Sikhism. Collections of his hymns formed 
        the original basis for the <span style="font-weight: bold;">Guru 
        Granth Sahib</span>, the primary scripture of Sikhism, which is 
        regarded as the eleventh guru. Many miracle stories about 
        Guru Nanak&#8217;s life are told in his biographies, which are 
        collectively known as <i style="font-weight: bold;">Janamsakhis</i>. 
        According to one such story, when he died, his body disappeared and 
        was replaced with flowers, which were divided among Hindus and 
        Muslims. According to another such story, he slept with his feet 
        facing the <span style="font-weight: bold;">Kaaba</span>; when 
        Muslims tried to move them away, the Kaaba moved so that his 
        feet were still facing it.
    </li>
	<li class="list_item">
        <span class="label">Joseph Smith</span> (1805&ndash;1844) was the 
        founder of <span style="font-weight: bold;">Mormonism</span> (many 
        of whose followers now call themselves Latter-Day Saints). He is 
        said to have had a vision in which the angel 
        <span style="font-weight: bold;">Moroni</span> directed him to a 
        set of <span style="font-weight: bold;">golden plates</span>, from 
        which he claimed to have translated the 
        <span style="font-weight: bold;">Book of Mormon</span>, the founding 
        scripture of Mormonism. Based on <span style="font-weight: bold;">
        Ezekiel</span>&#8217;s vision of a New Jerusalem, he hoped to 
        establish a latter-day <span style="font-weight: bold;">Zion in 
        America</span>. Smith initially planned to establish his 
        Zion in <span style="font-weight: bold;">Independence, Missouri
        </span>, but his followers were driven out of the area and moved to 
        <span style="font-weight: bold;">Nauvoo, Illinois</span>. When the 
        <i style="font-weight: bold;">Nauvoo Expositor</i> criticized him for 
        his teachings on <span style="font-weight: bold;">polygamy</span> and 
        other matters, he had the press destroyed and was charged with 
        inciting a riot; while awaiting trial, he was killed by a mob.
    </li>
	<li class="list_item">
        <span class="label">Bah&aacute;&#8217;u&#8217;ll&aacute;h</span> 
        (1817&ndash;1892) was the founder of the 
        <span style="font-weight: bold;">Bah&aacute;&#8217;&iacute;</span> 
        faith. He was a follower of the <span style="font-weight: bold;">
        B&aacute;b</span>, the founder of a predecessor of 
        Bah&aacute;&#8217;&iacute; called B&aacute;bism. At the 
        <span style="font-weight: bold;">Garden of Ridvan</span>, 
        Bah&aacute;&#8217;u&#8217;ll&aacute;h declared himself to be the 
        fulfillment of the B&aacute;b&#8217;s prophecy about &#8220;he whom 
        God shall make manifest.&#8221; He was exiled to the outer reaches 
        of the Ottoman Empire for fear that his teachings would cause unrest. 
        He was later imprisoned in <span style="font-weight: bold;">Acre
        </span> (in what is now Israel), where he spent much of his time 
        writing texts such as the <span style="font-weight: bold;">
        Kitab-i-Aqdas</span> (literally, &#8220;the book of laws&#8221;). 
        Bah&aacute;&#8217;u&#8217;ll&aacute;h&#8217;s other books include The 
        <span style="font-weight: bold;">Book of Certitude</span> and 
        <span style="font-weight: bold;">Epistle to the Son of the Wolf</span>.
    </li>
	<li class="list_item">
        <span class="label">Mary Baker Eddy</span> (1821&ndash;1910) was the 
        founder of <span style="font-weight: bold;">Christian Science</span>. 
        Sickly for much of her life, she sought treatment from many different 
        healers, including a <span style="font-weight: bold;">mesmerist</span> 
        and magnetic healer named <span style="font-weight: bold;">Phineas 
        Quimby</span>. This experience inspired Eddy to write a book titled 
        <span style="font-weight: bold;">Science and Health with Key to the 
        Scriptures</span>, in which she equated God with the mind and argued 
        that sickness is spiritual, not material. Eddy believed that mental 
        techniques could be used not only for healing, but also to harm 
        people, which she termed <span style="font-weight: bold;">
        &#8220;malicious animal magnetism.&#8221;</span> She founded the 
        <i style="font-weight: bold;">Christian Science Monitor</i> and laid 
        out guidelines for her church in the <span style="font-weight: bold;">
        Manual of the Mother Church</span>, which established Christian Science 
        <span style="font-weight: bold;">reading rooms</span>.
    </li>
</ul>
<br />
<p class="justify">This article contributed by NAQT editor Will Nediger.</p>
<br />
<br />
<br />
{% endblock %}