{% extends "base.html" %}  {% block title %}Hindu Gods and Heroes{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a> | </li>
    <li style="display:inline">Hindu Gods and Heroes</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/hindu-heroes.html">
    You Gotta Know These Hindu Gods and Heroes
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Vishnu</span>: One of the 
        <span style="font-weight: bold;">Trimurti</span> (the holy trinity of 
        Hindu gods), Vishnu is the <span style="font-weight: bold;">
        </span>, protecting the world.  When needed, Vishnu descends to Earth 
        as an <i style="font-weight: bold;">avatar</i>, or incarnation. Nine 
        have appeared so far: <span style="font-weight: bold;">Matsya</span>, 
        <span style="font-weight: bold;">Kurma</span> (tortoise), 
        <span style="font-weight: bold;">Varah</span> (boar), 
        <span style="font-weight: bold;">Narasimha</span> (man-lion), 
        <span style="font-weight: bold;">Vamana</span> (dwarf), 
        <span style="font-weight: bold;">Parashurama</span>, 
        <span style="font-weight: bold;">Rama</span>, 
        <span style="font-weight: bold;">Krishna</span>, and 
        <span style="font-weight: bold;">Buddha</span>. A tenth, 
        <span style="font-weight: bold;">Kalki</span>, will appear with a 
        flaming sword to save humans from the <span style="font-weight: bold;">
        darkness</span>. Some cult followers worship Vishnu as 
        <span style="font-weight: bold;">Narayana</span>, the primal being. 
        Vishnu has dark <span style="font-weight: bold;">blue skin</span>, 
        rides with the eagle <span style="font-weight: bold;">Garuda</span>, 
        and sits on the snake <span style="font-weight: bold;">Shesha</span>. 
        His symbols are the <span style="font-weight: bold;">conch</span>, 
        <span style="font-weight: bold;">disc</span>, 
        <span style="font-weight: bold;">club</span>, and 
        <span style="font-weight: bold;">lotus</span>; his chief wives are 
        <span style="font-weight: bold;">Lakshmi</span> and 
        <span style="font-weight: bold;">Bhu</span> (the Earth). 
        <span style="font-weight: bold;">Kama</span>, the god of love, may be 
        his son.
    </li>
	<li class="list_item">
        <span class="label">Shiva</span>: Also known as 
        <span style="font-weight: bold;">Lord Mahesh</span>, Shiva is the 
        <span style="font-weight: bold;">Destroyer</span> in the 
        <span style="font-weight: bold;">Trimurti</span>. Developed from 
        <span style="font-weight: bold;">Rudra</span>, the Vedic god of death, 
        Shiva is often shown sitting on a <span style="font-weight: bold;">
        tiger skin</span> and riding the bull <span style="font-weight: bold;">
        Nandi</span>. He is also associated with a 
        <i style="font-weight: bold;">lingam</i> (phallus). He has 
        <span style="font-weight: bold;">three eyes</span>, of which the third 
        (in the middle of his head) is <span style="font-weight: bold;">
        all-knowing</span>; when it opens, the world is destroyed and 
        regenerated. Lord of all underworld beings, he wears a 
        <span style="font-weight: bold;">necklace of skulls</span> and another 
        made of a <span style="font-weight: bold;">snake</span>. He carries a 
        <span style="font-weight: bold;">trident</span> as a weapon and has a 
        <span style="font-weight: bold;">blue throat</span>, the result of 
        drinking <span style="font-weight: bold;">poison</span> while the 
        ocean churns. <span style="font-weight: bold;">Parvati</span>, one of 
        his several consorts, bears him two sons: 
        <span style="font-weight: bold;">Kartikeya</span> (the god of war) and 
        <span style="font-weight: bold;">Ganesha</span>.
    </li>
	<li class="list_item">
        <span class="label">Brahma</span>: The third of the 
        <span style="font-weight: bold;">Trimurti</span>, Brahma is the 
        <span style="font-weight: bold;">Creator</span>. By dropping an 
        <span style="font-weight: bold;">egg</span> into the cosmic waters, he 
        hatches a younger form of Brahma that creates other beings. Also the 
        <span style="font-weight: bold;">chief priest</span>, he has 
        <span style="font-weight: bold;">four heads</span> that each point in a 
        cardinal direction, representing the <span style="font-weight: bold;">
        Four Vedas</span>. Brahma has a <span style="font-weight: bold;">fifth 
        head</span> until Shiva plucked it off; as punishment for that act, 
        Shiva is forced to wander as a <span style="font-weight: bold;">beggar
        </span> and carry Brahma&#8217;s severed skull as a bowl. 
        Brahma&#8217;s wife is <span style="font-weight: bold;">Savitri</span>, 
        who curses him after he lets a <span style="font-weight: bold;">
        cow-maiden</span> stand in for her at an important ritual. Few people 
        worship Brahma, either because of the curse or because he lost a power 
        struggle to Vishnu.
    </li>
	<li class="list_item">
        <span class="label">Krishna</span>: This 
        <span style="font-weight: bold;">eighth avatar of Vishnu</span> is 
        born when Vishnu plucks two of his own 
        <span style="font-weight: bold;">
        hairs</span> &mdash; one light, one dark &mdash; and uses the dark 
        hair to impregnate <span style="font-weight: bold;">Devaki</span>. 
        Her husband <span style="font-weight: bold;">Vasudeva</span> saves 
        Krishna from evil <span style="font-weight: bold;">King Kansa
        </span> by carrying him across the river 
        <span style="font-weight: bold;">Yamuna
        </span> to safety in <span style="font-weight: bold;">Gokula</span>. 
        Krishna can be depicted as a child, adolescent, or adult. As an 
        infant, he plays <span style="font-weight: bold;">pranks</span> such 
        as <span style="font-weight: bold;">stealing butter</span>. As a 
        youthful lover, he plays the <span style="font-weight: bold;">flute
        </span> and dances with the <i style="font-weight: bold;">gopis</i> 
        (cow-maidens) in the <span style="font-weight: bold;">Vrindavana 
        forest</span>. As an adult, he is a dark-skinned 
        <span style="font-weight: bold;">warrior</span> with a light, 
        angelic face, <span style="font-weight: bold;">charioteer to Arjuna
        </span> (in the <i style="font-weight: bold;">Mahabharata</i>). 
        In the <i style="font-weight: bold;">Bhagavad-Gita</i> it is he who 
        reveals the importance of <i style="font-weight: bold;">dharma</i> 
        and <i style="font-weight: bold;">bhakti</i>. His consort is the 
        cowherd girl <span style="font-weight: bold;">Radha</span>.</li>
	<li class="list_item">
        <span class="label">Ganesha</span>: This 
        <span style="font-weight: bold;">elephant-headed</span> god of 
        <span style="font-weight: bold;">wisdom and learning</span> is 
        often shown riding a <span style="font-weight: bold;">rat</span>. 
        <span style="font-weight: bold;">Parvati</span> &#8220;gives 
        birth&#8221; to Ganesha by creating him from the 
        <span style="font-weight: bold;">saffron paste</span> she scrubbed 
        off of herself after bathing. When Parvati instructs Ganesha 
        <span style="font-weight: bold;">not to let anyone in</span> as she 
        took another bath, Ganesha prevents 
        <span style="font-weight: bold;">Shiva</span> from entering, 
        prompting Shiva to <span style="font-weight: bold;">cut off 
        Ganesha&#8217;s head</span>. To calm Parvati, Shiva tells servants 
        to take the head of the first baby found whose 
        <span style="font-weight: bold;">mother had her back turned</span>; 
        the servants bring back the head of a <span style="font-weight: bold;">
        baby elephant</span>. Ganesha has two wives 
        (<span style="font-weight: bold;">Riddhi</span> and 
        <span style="font-weight: bold;">Siddhi</span>), two sons, and a 
        daughter. People pray to this <span style="font-weight: bold;">
        remover of obstacles</span> and bringer of 
        <span style="font-weight: bold;">good fortune</span> before they 
        commence business.
    </li>
	<li class="list_item">
        <span class="label">Rama</span>: The <span style="font-weight: bold;">
        seventh avatar of Vishnu</span> is hero of the 
        <i style="font-weight: bold;">Ramayana</i>. Born as a prince to 
        <span style="font-weight: bold;">King Dasharatha</span> and 
        <span style="font-weight: bold;">Queen Kaushalya</span>, Rama wins 
        the hand of his wife <span style="font-weight: bold;">Sita</span> 
        in a competition held by Sita&#8217;s father, 
        <span style="font-weight: bold;">King Janaka</span>; only he can 
        <span style="font-weight: bold;">string Shiva&#8217;s bow</span>. 
        When his aunt <span style="font-weight: bold;">Kaikeyi</span> 
        schemes to deprive him of Dasharatha&#8217;s throne by putting her 
        son <span style="font-weight: bold;">Bharata</span> there, Rama and 
        Sita are banished to a forest for 14 years. During that time, the 
        ten-headed demon <span style="font-weight: bold;">Ravana</span> 
        kidnaps Sita, but Rama rescues her and kills Ravana. Bharata 
        abdicates; Rama makes Sita <span style="font-weight: bold;">walk 
        through fire</span> to prove that Ravana had not corrupted her.
    </li>
	<li class="list_item">
        <span class="label">Indra</span>: The god of 
        <span style="font-weight: bold;">rain</span>, 
        <span style="font-weight: bold;">thunder</span>, and 
        <span style="font-weight: bold;">war</span>, Indra wields the 
        <span style="font-weight: bold;">thunderbolt</span> (<i>vajra</i>) 
        and rides <span style="font-weight: bold;">Airavat</span>, the 
        <span style="font-weight: bold;">four-tusked white elephant</span>. 
        In early Vedic times he was king of the gods who ruled 
        <i style="font-weight: bold;">swarga</i>; many
        <i style="font-weight: bold;">Rig Veda</i> hymns are devoted to him. 
        With the aid of both the <span style="font-weight: bold;">Marut 
        storm gods</span> and his favorite drink, 
        <i style="font-weight: bold;">soma</i>, Indra leads the 
        <span style="font-weight: bold;">Aryan conquest</span> of India. 
        He also defeats the dragon <span style="font-weight: bold;">Vritra
        </span>, who had <span style="font-weight: bold;">stolen the 
        world&#8217;s water</span>.
    </li>
	<li class="list_item">
        <span class="label">Lakshmi</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Sri</span>): The last and greatest treasure born 
        from the <span style="font-weight: bold;">&#8220;churning of the 
        ocean,&#8221;</span> Lakshmi is the goddess of 
        <span style="font-weight: bold;">prosperity</span> and patron to 
        <span style="font-weight: bold;">moneylenders</span>. The epitome of 
        <span style="font-weight: bold;">feminine beauty</span>, she sits or 
        stands on a <span style="font-weight: bold;">lotus flower</span> and 
        appears in her own avatars alongside <span style="font-weight: bold;">
        Vishnu</span>: <span style="font-weight: bold;">Sita</span> to his 
        Rama; <span style="font-weight: bold;">Padma</span> the lotus to 
        Vamana the dwarf; <span style="font-weight: bold;">Radha</span> 
        (or Rukmini) to Krishna. A form of the mother goddess 
        (<span style="font-weight: bold;">Shakti</span>, or 
        <span style="font-weight: bold;">Devi</span>), she also represents 
        <span style="font-weight: bold;">virtue</span> and 
        <span style="font-weight: bold;">honesty</span>.
    </li>
	<li class="list_item">
        <span class="label">Shiva&#8217;s consort</span>: Several incarnations 
        of the &#8220;mother goddess&#8221; take this moniker. 
        <span style="font-weight: bold;">Parvati</span>, the most benevolent 
        form, is the reincarnation of <span style="font-weight: bold;">Sati
        </span>, who threw herself into the fire. 
        <span style="font-weight: bold;">Durga</span> is a 
        <span style="font-weight: bold;">demon-slayer</span> who rides a 
        <span style="font-weight: bold;">lion</span> into battle and carries 
        a weapon in each of her <span style="font-weight: bold;">many arms
        </span>. <span style="font-weight: bold;">Kali</span> is a 
        -skinned goddess of <span style="font-weight: bold;">destruction
        </span>, who defeats the demon leader 
        <span style="font-weight: bold;">Raktavija</span> by drinking all of 
        his blood. Although Kali&#8217;s <span style="font-weight: bold;">
        dance</span> can destroy the world, Shiva 
        <span style="font-weight: bold;">throws himself at her feet</span> 
        to calm her, turning her into Parvati.
    </li>
	<li class="list_item">
        <span class="label">Arjuna</span>: The chief hero of the 
        <i style="font-weight: bold;">Mahabharata</i>, Arjuna is the son of 
        <span style="font-weight: bold;">Indra</span> and one of five 
        <span style="font-weight: bold;">Pandava brothers</span>, who fight 
        a bitter war against their 100 cousins, 
        <span style="font-weight: bold;">Kauravas</span>, culminating at the 
        battle on <span style="font-weight: bold;">&#8220;Kuru&#8217;s 
        Field.&#8221;</span>  Before the battle, Arjuna asks his 
        <span style="font-weight: bold;">charioteer</span> (Krishna) why he 
        must fight.  Krishna responds that Arjuna must follow a devotion to 
        god (<i style="font-weight: bold;">bhakti</i>), and that even as he 
        slays his brethren, it is for a <span style="font-weight: bold;">just 
        cause</span>. Along with the rest of the Pandavas, Arjuna is married 
        to <span style="font-weight: bold;">Draupadi</span>.
    </li>
	<li class="list_item">
        <span class="label">Hanuman</span>:  Son of the wind god 
        <span style="font-weight: bold;">Vaayu</span> and 
        <span style="font-weight: bold;">Queen Anjana</span>, Hanuman has a 
        <span style="font-weight: bold;">human body with a monkey&#8217;s 
        head</span>. As a boy he <span style="font-weight: bold;">swallows 
        the sun</span> (mistaking it for a piece of fruit); the angry 
        <span style="font-weight: bold;">Indra</span> whips him with a 
        thunderbolt. In response, the wind god Vaayu refuses to breathe air 
        into the world, prompting Indra to apologize and the other gods to 
        bestow <span style="font-weight: bold;">immortality</span> and 
        <span style="font-weight: bold;">shapeshifting</span> ability on 
        Hanuman. He figures prominently in the <i style="font-weight: bold;">
        Ramayana</i>, where he flies to <span style="font-weight: bold;">
        Lanka</span> to tell <span style="font-weight: bold;">Sita</span> 
        that <span style="font-weight: bold;">Rama</span> will 
        <span style="font-weight: bold;">rescue</span> her from 
        <span style="font-weight: bold;">Ravana</span>.
    </li>
	<li class="list_item">
        <span class="label">Agni</span>: Part of a trinity with 
        <span style="font-weight: bold;">Surya</span> (the sun) and 
        <span style="font-weight: bold;">Vaayu</span> (the wind), Agni can 
        be brought to life by rubbing two sticks together. Since Agni is 
        responsible for <span style="font-weight: bold;">sacrificial fires
        </span>, he is the <span style="font-weight: bold;">patron of priests
        </span>.  He has a <span style="font-weight: bold;">red body</span>, 
        <span style="font-weight: bold;">two heads</span>, 
        <span style="font-weight: bold;">three legs</span>, 
        <span style="font-weight: bold;">four arms</span>, and 
        <span style="font-weight: bold;">seven tongues</span>; he often 
        carries a <span style="font-weight: bold;">flaming javelin</span>. 
        In the <i style="font-weight: bold;">Mahabharata</i>, Agni&#8217;s 
        grandfather is one of seven great sages; with the help of Krishna, 
        he devours the <span style="font-weight: bold;">Khandav 
        forest</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Adam Fine.</p>
<br />
<br />
<br />
{% endblock %}