{% extends "base.html" %}  {% block title %}Jewish Lifecycle Events{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a> | </li>
    <li style="display:inline">Jewish Lifecycle Events</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/jewish-lifecycle-events.html">
    You Gotta Know These Jewish Lifecycle Events
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Brit milah</span>, orclass="label"family: Cambria; font-weight: bold; 
        font-size: large;">bris</span> in Yiddish and in the dialect of 
        Ashkenazic Jews (those of European but non-Iberian descent), is the 
        ritual of <span style="font-weight: bold;">circumcising Jewish boys
        </span>, that is, removing the foreskin of the penis. This practice 
        derives from God&#8217;s instruction to 
        <span style="font-weight: bold;">Abraham</span>, after which Abraham 
        circumcised himself and later circumcised his son 
        <span style="font-weight: bold;">Isaac</span>. It is done to all boys 
        when they reach <span style="font-weight: bold;">eight days old</span> 
        (unless a health condition requires a delay) by a professional called 
        a <i style="font-weight: bold;">mohel</i> 
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">MOY-ul in Yiddish/Ashkanazi dialect</span>. 
        During the operation, the boy is held by a person (often a 
        grandfather) designated the <i style="font-weight: bold;">sandek</i>, 
        which is an honor. Medical anesthetic is not used, but often the baby 
        is given a drop of wine. The ritual is followed by a 
        <i style="font-weight: bold;">s&#8217;udah</i>, a celebratory meal.
    </li>
	<li class="list_item">
        <span class="label">Baby naming</span>, or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">simchat bat.</span> Jewish children are given 
        <span style="font-weight: bold;">Hebrew names</span>. For boys, the 
        name is formally announced, and blessings are recited, at the 
        <i>brit milah</i> ceremony. For girls, the same is done at a separate 
        event, often (but not necessarily) during a regular synagogue service 
        in the first few weeks of the baby&#8217;s life. This tradition is 
        primarily observed in more liberal Jewish movements and is not 
        considered religiously required, so practices vary and are evolving. 
        The Hebrew name is used on special occasions such as being called to 
        the Torah and being married, and is typically in the form 
        &#8220;Yitzchak ben Avraham&#8221; (Isaac, son of Abraham) or (in 
        egalitarian movements) &#8220;Yitzchak ben Avraham 
        v&#8217;Sarah&#8221; (Isaac, son of Abraham and Sarah).
    </li>
	<li class="list_item">
        <span class="label">Pidyon ha-ben.</span> Traditionally, by default, 
        <span style="font-weight: bold;">firstborn sons</span> are obligated 
        to assist in the Temple in Jerusalem. As there is currently no 
        Temple, this requirement is symbolic, but it is traditional to 
        &#8220;redeem&#8221; such people from their obligations if possible. 
        Children in priestly families (<i style="font-weight: bold;">kohanim
        </i>, singular <i style="font-weight: bold;">kohen</i>, descendants 
        of Moses&#8217;s brother Aaron) and <span style="font-weight: bold;">
        Levite</span> families (descendants of Levi) cannot be redeemed from 
        service. Traditionally, the child&#8217;s father pays a <i>kohen</i> 
        <span style="font-weight: bold;">five silver coins</span> in exchange 
        for the child&#8217;s freedom, shortly after the child becomes one 
        month old. Blessings and a meal accompany the ritual.
    </li>
	<li class="list_item">
        <span class="label">Bar/bat mitzvah</span> (masculine and feminine 
        singular, respectively; masculine, mixed, or nonspecific plural 
        <span class="label">b&#8217;nai mitzvah</span>; feminine plural class="label"family: Cambria; font-weight: bold; 
        font-size: large;">b&#8217;not mitzvah</span>; feminine singular in 
        Yiddish/Ashkenazi dialect 
        <span class="label">bas mitzvah</span>) is the designation that a 
        Jewish person has reached adulthood. Traditionally this is at 
        <span style="font-weight: bold;">age 13</span> for boys/men and 
        <span style="font-weight: bold;">age 12</span> for girls/women. 
        Although a <i>bar/bat mitzvah</i> occurs upon the birthday regardless 
        of whether any ceremony takes place, traditionally the occasion is 
        marked at a service at the synagogue around that time; the honoree 
        will wear a <i style="font-weight: bold;">tallit</i> (prayer shawl) 
        for the first time, be called up for an honor 
        (<i style="font-weight: bold;">aliyah</i>) for the first time, read 
        from the <i style="font-weight: bold;">Torah</i> (first five books 
        of the Bible) and <i style="font-weight: bold;">haftarah</i> (a 
        portion of one of the prophets&#8217; books, linked to the 
        week&#8217;s Torah portion), and give a <i style="font-weight: bold;">
        d&#8217;var Torah</i>, a discourse on the meaning of the week&#8217;s 
        Torah portion. A celebratory meal or party often follows. The <i>bar 
        mitzvah</i> for boys dates back to ancient times in varying forms; 
        the <i>bat mitzvah</i> mainly arose in the 20th century. After 
        becoming <i>bar mitzvah</i>, a man is responsible for fulfilling the 
        <span style="font-weight: bold;">613 commandments</span> in the Torah 
        and may be counted toward a <i style="font-weight: bold;">minyan</i> 
        (quorum required for certain prayers)</i>; in egalitarian movements 
        the same applies to a woman who has become <i>bat mitzvah</i>.
    </li>
	<li class="list_item">
        <span class="label">Confirmation</span> is a modern ritual 
        (developed in the 19th century) and is non-obligatory. It is primarily 
        used in more secular movements, and represents the fact that a person 
        has continued formal Jewish education past the <i>bar/bat mitzvah</i> 
        and has now completed that formal education. Rituals vary widely, but 
        generally there is recognition in the synagogue of the confirmation 
        class (all at once, unlike for <i>b&#8217;nai mitzvah</i>), religious 
        gifts may be given, and&mdash;as with nearly all Jewish 
        events&mdash;food is served.
    </li>
	<li class="list_item">
		<p class="justify">
            <span style="font-family: Cambria; font-weight: bold; 
            font-size: large;">Marriage</span> in Judaism is a complex 
            ritual that varies according to the couple&#8217;s and their 
            community&#8217;s relationships with Judaism. For the sake of 
            brevity, here we will discuss marriages between a Jewish man 
            and a Jewish woman. Jewish attitudes and approaches toward 
            non-heterosexual marriages are too varied and evolving to 
            summarize here, and Judaism discourages Jewish people from 
            marrying non-Jewish people (intermarriage).
        </p>
		<p class="justify">
            In many communities, especially Ashkenazic ones, the wedding is 
            preceded by an <i style="font-weight: bold;">aufruf</i>: on the 
            Shabbat (Saturday) before the wedding, the groom is (or in 
            egalitarian congregations, the bride and the groom are) called 
            to the Torah to receive an honor and a blessing, after which 
            the congregation sings to them and 
            <span style="font-weight: bold;">pelts them with candy</span>, 
            representing a sweet life.
        </p>
		<p class="justify">
            Immediately before the wedding proper, two witnesses sign a 
            <i style="font-weight: bold;">ketubah</i>, or marriage contract, 
            which details the groom&#8217;s obligations toward the bride 
            (home, food, clothing, sex, faithfulness). In egalitarian 
            movements the wording is adjusted and the bride and groom also 
            sign. The <i>ketubah</i> is frequently a beautiful, illuminated 
            document, and the couple will often display it in their home.
        </p>
		<p class="justify">
            The wedding ceremony takes place under a 
            <i style="font-weight: bold;">chuppah</i>, a canopy supported on 
            four poles, symbolizing the couple&#8217;s home. The 
            bride&#8217;s face is <span style="font-weight: bold;">veiled
            </span>&mdash;recalling Genesis, in which Laban tricked Jacob 
            into marrying Leah rather than Rachel by having the bride 
            veiled at the ceremony, but to prevent such an occurrence, the 
            groom removes the veil to verify that he will marry the correct 
            person. The <span style="font-weight: bold;">bride walks around 
            the groom</span> three or seven times. The groom presents the 
            bride with an object of value (typically a 
            <span style="font-weight: bold;">ring</span>), and in egalitarian 
            weddings, vice versa. <span style="font-weight: bold;">Seven 
            blessings</span> (Hebrew: <i style="font-weight: bold;">sheva 
            b&#8217;rachot</i>) formalize the marriage. The groom 
            <span style="font-weight: bold;">breaks a glass</span> (or in 
            egalitarian movements, the bride and groom may break a glass 
            together) to remind the community that even at a joyous occasion 
            there is still sorrow (particularly with respect to the 
            destruction of the Temple in Jerusalem).
        </p>
		<p class="justify">
            The wedding is followed by a festive meal and party. Dancing is 
            common, especially the <i style="font-weight: bold;">hora</i>, 
            and it is traditional to lift the bride and groom on chairs. 
            Traditionally, a special version of <i style="font-weight: bold;">
            birkat ha-mazon</i> (grace after meals) is recited.
        </p>
	</li>
	<li class="list_item">
        <span class="label">Divorce</span> is discouraged, but permitted, in 
        Judaism. It is effected by a document called a 
        <i style="font-weight: bold;">get</i>. By Jewish law, a husband 
        must present a wife with a <i>get</i> of his own free will, and 
        traditionally (but not by law) she must choose to accept it. The 
        former presents an obvious problem when a wife wishes to be divorced 
        but her husband does not. This is a considerable problem in observant 
        Jewish communities and has led to a variety of attempted solutions of 
        varying acceptance and effectiveness (usually in the form of some 
        sort of prenuptial agreement, but occasionally 
        <a style="color: maroon;" href="https://www.usatoday.com/story/news/
        nation/2013/10/10/rabbis-fbi-divorce-sting/2959369/">more creative, 
        less legal forms</a>).
    </li>
	<li class="list_item">
        <span class="label">Death.</span> A deceased person&#8217;s body is not 
        embalmed; rather, it is ritually washed by members of a group called 
        the <i style="font-weight: bold;">chevra kadisha</i> 
        (literally &#8220;holy society&#8221;), who then dress the body in a 
        simple linen garment (<i style="font-weight: bold;">tachrich</i>), 
        place it in a simple <span style="font-weight: bold;">wooden casket
        </span> (no metal, so that the body&#8217;s return to dust is 
        hastened), and stay with the deceased while reciting psalms. At the 
        funeral, there is no viewing. Eulogies may be given, and mourners 
        may recite psalms (especially <span style="font-weight: bold;">
        Psalm&nbsp;23</span>, &#8220;The Lord is my shepherd; I shall not 
        want) and <i style="font-weight: bold;">El Malei Rachamim</i> 
        (&#8220;God, full of mercy&#8221;). Cremation is forbidden, and 
        burial should take place as soon as possible. At the burial, mourners 
        take turns <span style="font-weight: bold;">shoveling dirt</span> into 
        the grave, but do not pass the shovel directly to one another. A 
        common myth states that having a tattoo prevents one from being buried 
        in a Jewish cemetery; though Judaism discourages tattoos, that is not 
        true. Proper treatment of the dead is considered a critical 
        <i style="font-weight: bold;">mitzvah</i> (both commandment and good 
        deed) because the beneficiary (the deceased person) cannot offer 
        repayment or express gratitude.
    </li>
	<li class="list_item">
        <span class="label">Mourning</span> commences immediately upon hearing 
        of a death, when one traditionally recites a blessing that translates 
        to &#8220;Blessed are you, Lord our God, king of the Universe, the 
        judge of truth&#8221; (<span style="font-weight: bold;">
        &#8220;&hellip;dayan ha-emet&#8221;</span>) and one may 
        <span style="font-weight: bold;">tear their clothes</span>. (The 
        latter tradition is sometimes echoed with mourners wearing a ribbon 
        at a funeral, which they ritually tear.) After burial, 
        <i style="font-weight: bold;">shiva</i> begins&mdash;a seven-day 
        period of mourning (colloquially in English, &#8220;sitting 
        shiva&#8221;) during which the family of the deceased person receives 
        visitors at home, shares recollections of the deceased, prays 
        communally, and eats traditional comfort foods (e.g., eggs, whose 
        round shape recalls the cycle of life). Mourners minimize vanity 
        (keeping personal grooming to a minimum, covering mirrors, not wearing 
        fancy clothes such as those involving leather) and avoid joyous 
        events. A period of less intense mourning, 
        <i style="font-weight: bold;">shloshim</i> (literally, 
        &#8220;thirty&#8221;) lasts 30 days after burial, during which 
        mourners continue avoiding joyous events, and specifically in the 
        case of people mourning a parent, a less intense period of mourning 
        lasts a year following the death. Mourners recite 
        <i style="font-weight: bold;">kaddish yatom</i> (colloquially just 
        <i>kaddish</i>), a prayer praising God but containing no direct 
        reference to death, throughout the mourning period. On each 
        (Hebrew-calendar) anniversary of a death, family members light a 
        <i style="font-weight: bold;">yahrzeit candle</i>, which burns for 
        24 hours in memory of the deceased.
    </p>
	<li class="list_item">
        <span class="label">Conversion.</span> A non-Jewish person who wishes 
        to become Jewish may do so with the guidance and approval of a 
        <i style="font-weight: bold;">beit din</i>, a Jewish court. Judaism 
        does not seek converts; in fact, it is traditional for a rabbi to 
        <span style="font-weight: bold;">refuse a prospective convert three 
        times</span>, and only if they still persist should the rabbi take 
        them as a student. A <i style="font-weight: bold;">ger</i> (convert) 
        must study Judaism and explain their motivation to the satisfaction 
        of the <i>beit din</i>, and must immerse in a 
        <i style="font-weight: bold;">mikveh</i> (ritual bath). Men must also 
        be <span style="font-weight: bold;">circumcised</span>, or if they 
        were already circumcised, a drop of blood must be taken from the 
        penis as a symbolic circumcision (<i style="font-weight: bold;">
        hatafah dam brit</i>). Different Jewish movements have different 
        views on conversion, and some movements will not recognize conversions 
        performed by rabbis from other movements. Conversion may be sought by 
        gentiles wishing to marry a Jewish person, children raised as Jews 
        but who are not technically Jewish (e.g., because their father is 
        Jewish but their mother is not), or simply people who find Judaism 
        attractive for other reasons.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT member Jonah Greenthal.</p>
<br />
<br />
<br />
{% endblock %}