{% extends "base.html" %}  {% block title %}Jewish Holidays{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a> | </li>
    <li style="display:inline">Jewish Holidays</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/jewish-holidays.html">
    You Gotta Know These Jewish Holidays
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Rosh HaShanah</span>: Celebrated on the first 
        and second days of the month of <span style="font-weight: bold;">
        Tishrei</span>, Rosh HaShanah marks the 
        <span style="font-weight: bold;">beginning of the Jewish civil year
        </span>. (The beginning of the ecclesiastic year is 
        <span style="font-weight: bold;">Pesach</span>.) It is believed that 
        on Rosh HaShanah, people&#8217;s <span style="font-weight: bold;">
        souls are judged</span>, and God &#8220;temporarily&#8221; 
        <span style="font-weight: bold;">decides their fate</span> for the 
        coming year. Between Rosh HaShanah and 
        <span style="font-weight: bold;">Yom Kippur</span> are the Ten Days 
        of Repentance, when people are given a chance to reflect and repent. 
        On Rosh HaShanah, it is customary to wear white clothes and eat 
        <span style="font-weight: bold;">apples with honey</span> for a 
        sweet year, and <span style="font-weight: bold;">pomegranates</span> 
        to represent being as fruitful as its many seeds. Other customs 
        include the <span style="font-weight: bold;">blowing of the <i>shofar
        </i></span> (an instrument made from a ram&#8217;s horn) and a 
        ceremony called <span style="font-weight: bold;">Tashlich</span>, 
        in which Jews throw bread crumbs into running water to symbolize the 
        <span style="font-weight: bold;">cleansing of their sins</span>.
    </li>
	<li class="list_item">
        <span class="label">Yom Kippur</span>: Celebrated on the tenth day of 
        <span style="font-weight: bold;">Tishrei</span>, it is the Jewish 
        <span style="font-weight: bold;">Day of Atonement</span>; at the 
        end of Yom Kippur, it is believed that one&#8217;s fate is 
        <span style="font-weight: bold;">sealed</span>. Jews are required to 
        abstain from <span style="font-weight: bold;">eating</span>, 
        <span style="font-weight: bold;">drinking</span>, 
        <span style="font-weight: bold;">washing</span>, and 
        <span style="font-weight: bold;">sex</span>, as well as 
        <span style="font-weight: bold;">indulgent dress</span> such as 
        jewelry, make-up, and leather. One traditionally wears 
        <span style="font-weight: bold;">white clothes</span> to symbolize 
        purity. In the afternoon, the <span style="font-weight: bold;">Book 
        of Jonah</span> is read. A full day of prayers begins with the 
        <i style="font-weight: bold;">Kol Nidre</i>, which releases Jews 
        from vows or promises to God.  As on Rosh HaShanah, the 
        <span style="font-weight: bold;">shofar</span> is blown unless it 
        is Shabbat, in which case the shofar is blown only during the final 
        service, <span style="font-weight: bold;">N&#8217;ila</span> 
        (meaning &#8220;closing,&#8221; since the Temple gates were closed 
        for this service).
    </li>
	<li class="list_item">
        <span class="label">Sukkot</span>: Celebrated on the 15th of 
        Tishrei, Sukkot commemorates the sukkot 
        (<span style="font-weight: bold;">booths</span>) that the Israelites 
        lived in following the Exodus from Egypt; it also celebrates the 
        <span style="font-weight: bold;">harvest</span>. Traditionally, 
        Jews build outdoor booths in which they live and eat for 
        <span style="font-weight: bold;">seven days</span>. In synagogue, 
        four symbolic species &mdash; the <span style="font-weight: bold;">
        palm</span>, a yellow citrus called the 
        <span style="font-weight: bold;">etrog</span>, the 
        <span style="font-weight: bold;">myrtle</span>, and the 
        <span style="font-weight: bold;">willow</span> &mdash; are waved in 
        seven directions.  Each night, in the sukkah, it is traditional to 
        invite a Biblical figure to be the guest for that night.
    </li>
	<li class="list_item">
        <span class="label">Hanukkah</span>: This festival lasts for 
        <span style="font-weight: bold;">eight days</span>, starting on 
        the 25th day of <span style="font-weight: bold;">Kislev</span> 
        (the third month). It celebrates the victory of the small 
        <span style="font-weight: bold;">Maccabee army</span> against the 
        large Greek army of <span style="font-weight: bold;">Antiochus
        </span>, and the Maccabees&#8217; recapture and re-purification of 
        the <span style="font-weight: bold;">Temple in Jerusalem</span> 
        (c.&nbsp;168&nbsp;BC).  When they did so, they found only a small 
        amount of <span style="font-weight: bold;">oil</span> to light the 
        <span style="font-weight: bold;">menorah</span> in the Temple, 
        and it would take a week to make more; 
        <span style="font-weight: bold;">miraculously</span>, the oil burned 
        for the full week. To commemorate this, on each night, observers use 
        a &#8220;helper candle&#8221; called the <i style="font-weight: bold;">
        shamash</i> to light candles in a menorah (more properly called a 
        <i style="font-weight: bold;">chanukiah</i>, as a menorah only has 
        six branches while a chanukiah has nine): one candle (besides the 
        shamash) on the first night, two on the second night, and so on. 
        Furthermore, it is traditional to eat foods fried in oil; in the 
        United States, <span style="font-weight: bold;">potato pancakes</span> 
        called <i style="font-weight: bold;">latkes</i> are popular; in 
        Israel, <span style="font-weight: bold;">fried jelly donuts</span> 
        called <i style="font-weight: bold;">sufganiyot</i> are more common. 
        Children play a game with a spinning a top called the 
        <span style="font-weight: bold;">dreidel</span>, which contains the 
        Hebrew letters that form the initials of a phrase that translates as 
        <span style="font-weight: bold;">&#8220;a great miracle happened 
        there&#8221;</span> (in Israel, they say 
        <span style="font-weight: bold;">&#8220;a great miracle happened 
        here&#8221;</span>). Exchanging <span style="font-weight: bold;">
        presents</span> is only a recent tradition developed in the U.S. to 
        make Jewish children feel less left out as their Christian peers get 
        Christmas presents (or, if you are cynical, the tradition was invented 
        by toymakers to sell more toys).</li>
	<li class="list_item">
        <span class="label">Purim</span>: Celebrated on the 14th of 
        <span style="font-weight: bold;">Adar</span> (the sixth month) and 
        commemorating the victory of the Jews &mdash; led by 
        <span style="font-weight: bold;">Esther</span> and her cousin 
        <span style="font-weight: bold;">Mordechai</span> &mdash; against 
        <span style="font-weight: bold;">Haman</span>, who tried to destroy 
        the Jews because of his anger at Mordechai. The story, recorded in the 
        <span style="font-weight: bold;">Book of Esther</span> (read from a 
        scroll, or <i style="font-weight: bold;">megillah</i>), takes place in 
        Shushan, the capital city of the kingdom of the Persian 
        <span style="font-weight: bold;">King Ahasuerus</span> 
        (<i style="font-weight: bold;">Achashvayrosh</i>). On Purim, it is 
        traditional to <span style="font-weight: bold;">dress up</span>, get 
        <span style="font-weight: bold;">drunk</span>, give to 
        <span style="font-weight: bold;">charity</span>, eat triangular 
        pastries called <span style="font-weight: bold;">hamentaschen</span> 
        (meaning &#8220;Haman&#8217;s ears&#8221; or &#8220;Haman&#8217;s 
        pockets&#8221; in German), and exchange 
        <span style="font-weight: bold;">gifts</span> 
        (<i style="font-weight: bold;">mishloach manot</i>) with friends.
    </li>
	<li class="list_item">
        <span class="label">Passover (Pesach)</span>: Celebrated for 
        <span style="font-weight: bold;">seven or eight days</span> 
        beginning on the 15th day of <span style="font-weight: bold;">
        Nissan</span> (the seventh month), Passover commemorates the 
        <span style="font-weight: bold;">Exodus from Egypt</span>. It is 
        also the ancient Hebrew New Year. On the first day or two days, 
        Jews have a festival dinner called a <i style="font-weight: bold;">
        seder</i>, where they retell the story of the Exodus from a book 
        called a <i style="font-weight: bold;">hagaddah</i>.  Jews are 
        required to abstain from eating or owning 
        <span style="font-weight: bold;">leavened bread</span>, and anything 
        made with leaven, for the duration of the festival; 
        <span style="font-weight: bold;">matzah</span> (a flat unleavened 
        bread) is eaten instead.  On Passover, the 
        <span style="font-weight: bold;">Song of Songs</span> is recited. 
        Passover also begins a period of seven weeks called the 
        <span style="font-weight: bold;">Omer</span>, a period of 
        semi-mourning that leads into <span style="font-weight: bold;">
        Shavuot</span>.
    </li>
	<li class="list_item">
        <span class="label">Shavuot</span>: Celebrated on the sixth day of 
        <span style="font-weight: bold;">Sivan</span> (the ninth month), 
        the 50th day of the <span style="font-weight: bold;">Omer</span> 
        that began after Passover.  The word Shavuot means 
        &#8220;weeks,&#8221; (seven weeks of the Omer), hence the name of 
        the homologous Christian holiday <span style="font-weight: bold;">
        Pentecost</span>. Shavuot commemorates the 
        <span style="font-weight: bold;">giving of the Torah</span> to the 
        Israelites at <span style="font-weight: bold;">Mount Sinai</span>, 
        as well as the beginning of the <span style="font-weight: bold;">
        harvest</span> in ancient Israel. Sukkot, Passover, and Shavuot are 
        the <span style="font-weight: bold;">three pilgrimages</span>, when 
        Jews would all gather at the <span style="font-weight: bold;">Temple
        </span> each year; on Shavuot, Jews would dedicate their 
        <span style="font-weight: bold;">first harvest fruits</span> to the 
        Temple. The <span style="font-weight: bold;">Book of Ruth</span> is 
        read in synagogue on Shavuot, and it is traditional to study all 
        night on this festival.
    </li>
	<li class="list_item">
        <span class="label">Tisha b&#8217;Av (the Ninth of the month Av)
        </span>:  This is a day of mourning for the 
        <span style="font-weight: bold;">destructions of the First and 
        Second Temples</span>, as well as a number of other calamities in 
        Jewish history. It is traditional to <span style="font-weight: bold;">
        fast</span> and to keep oneself in a solemn mood. The 
        <span style="font-weight: bold;">Book of Lamentations</span> is read 
        in a mournful tone, traditionally while sitting on the floor and with 
        candles as the only lights.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by Sam Ackerman.</p>
<br />
<br />
<br />
{% endblock %}