{% extends "base.html" %}  {% block title %}Popes{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/religion">Religion</a> | </li>
    <li style="display:inline">Popes</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/popes.html">
    You Gotta Know These Popes
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Peter</span> (c.&nbsp;1 &ndash; c.&nbsp;68, 
        pope c.&nbsp;30 &ndash; c.&nbsp;68) was, in Catholic belief, the 
        first <span style="font-weight: bold;">Bishop of Rome</span> and thus 
        the first pope. Peter was the leader of the twelve apostles; Jesus 
        <span style="font-weight: bold;">changed his name</span> from Simon 
        to Peter and declared him the <span style="font-weight: bold;">
        &#8220;rock [on which] I will build my church.&#8221;</span> Jesus 
        also bestowed upon him the keys to the kingdom of Heaven and the 
        power to <span style="font-weight: bold;">&#8220;bind&#8221;</span> 
        and <span style="font-weight: bold;">&#8220;loose&#8221;</span> in 
        Heaven and on Earth. He was <span style="font-weight: bold;">
        crucified upside-down</span> by Emperor Nero and is the namesake of 
        <span style="font-weight: bold;">St.&nbsp;Peter&#8217;s Basilica
        </span> in Vatican City.
    </li>
    <li class="list_item">
        <span class="label">Gregory&nbsp;I</span> or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Gregory the Great</span> 
        (c.&nbsp;540&ndash;604, pope 590&ndash;604) was one of the 
        <span style="font-weight: bold;">&#8220;Latin Fathers&#8221;</span> 
        of the church and is considered the <span style="font-weight: bold;">
        founder of the medieval papacy</span>. After remarking that some 
        English boys at a slave market were <span style="font-weight: bold;">
        &#8220;not Angles, but angels,&#8221;</span> he sent Augustine of 
        Canterbury on a mission to <span style="font-weight: bold;">
        Christianize southern Britain</span>. His writings include a 
        <i style="font-weight: bold;">Commentary on Job</i> and 
        <i style="font-weight: bold;">Pastoral Care</i>, and he is known as 
        the <span style="font-weight: bold;">Dialogist</span> in Eastern 
        traditions. He is credited with introducing 
        <span style="font-weight: bold;">Gregorian chant</span>, named in 
        his honor, into the Catholic rite.
    </li>
    <li class="list_item">
        <span class="label">Urban&nbsp;II</span> (c.&nbsp;1035&ndash;1099, 
        pope 1088&ndash;1099) ordered the <span style="font-weight: bold;">
        First Crusade</span>. Ambassadors from Byzantine emperor 
        <span style="font-weight: bold;">Alexius Komnenos</span> came to the 
        1095 <span style="font-weight: bold;">Council of Piacenza</span> 
        requesting help in reclaiming the Holy Land from the Seljuk Turks. 
        Urban&nbsp;II responded by calling the 
        <span style="font-weight: bold;">Council of Clermont</span>, where 
        he urged a crusade with the phrase <span style="font-weight: bold;">
        &#8220;Deus Vult,&#8221;</span> or &#8220;God wills it.&#8221; 
        The subsequent First Crusade lasted from 1096 to 1099.
    </li>
    <li class="list_item">
        <span class="label">Innocent&nbsp;III</span> (c.&nbsp;1160&ndash;1216, 
        pope 1198&ndash;1216) ordered the disastrous 
        <span style="font-weight: bold;">Fourth Crusade</span> and 
        excommunicated Venetian crusaders who changed course from Jerusalem to 
        <span style="font-weight: bold;">sack Constantinople</span>. He also 
        initiated the <span style="font-weight: bold;">Albigensian Crusade
        </span> against the <span style="font-weight: bold;">Cathars</span> 
        of southern France. Innocent&nbsp;III convened the 
        <span style="font-weight: bold;">Fourth Lateran Council</span>, 
        which defined the dogma of <span style="font-weight: bold;">
        transubstantiation</span> and required Muslims and Jews to wear 
        identifying clothing. In 1209, he <span style="font-weight: bold;">
        excommunicated King John</span> for refusing to recognize the 
        appointment of Stephen Langton as Archbishop of Canterbury.
    </li>
    <li class="list_item">
        <span class="label">Alexander&nbsp;VI</span> (1431&ndash;1503, 
        pope 1492&ndash;1503) was a prominent member of the 
        <span style="font-weight: bold;">Borgia family</span> and the father 
        of Cesare and Lucrezia. He excommunicated the Florentine friar 
        <span style="font-weight: bold;">Savonarola</span> in 1498. With his 
        son Cesare, he was accused of inviting prostitutes into the Papal 
        Palace to host the scandalous <span style="font-weight: bold;">
        &#8220;Banquet of the Chestnuts.&#8221;</span> In international 
        affairs, Alexander&nbsp;VI assigned New World territory to Spain in 
        the bull <i style="font-weight: bold;">Inter Caetera</i>, which 
        became the basis for the Treaty of Tordesillas.
    </li>
    <li class="list_item">
        <span class="label">Julius&nbsp;II</span> (1443&ndash;1513; pope 
        1503&ndash;1513) was nicknamed the <span style="font-weight: bold;">
        &#8220;Warrior Pope&#8221;</span> for his military ambition in 
        <span style="font-weight: bold;">expanding the Papal States</span>. 
        He joined the <span style="font-weight: bold;">League of Cambrai
        </span> to resist Venetian expansion in northern Italy. He also 
        instituted the <span style="font-weight: bold;">Swiss Guard</span> 
        and commissioned <span style="font-weight: bold;">Michelangelo</span> 
        to paint the <span style="font-weight: bold;">Sistine Chapel ceiling
        </span>. Michelangelo created a number of notable sculptures as part 
        of a plan for Julius&nbsp;II&#8217;s <span style="font-weight: bold;">
        tomb</span>, including the <i style="font-weight: bold;">Rebellious 
        Slave</i>, <i style="font-weight: bold;">Dying Slave</i>, and a 
        <span style="font-weight: bold;">&#8220;Horned <i>Moses</i>&#8221;
        </span> based on a mistranslation of the Vulgate.
    </li>
    <li class="list_item">
        <span class="label">Leo&nbsp;X</span> (1475&ndash;1521; pope 
        1513&ndash;1521) was a son of <span style="font-weight: bold;">Lorenzo 
        de Medici</span> whose papacy included the beginning of the 
        <span style="font-weight: bold;">Protestant Reformation</span>. He 
        revived the unpopular sale of <span style="font-weight: bold;">
        indulgences</span> to fund the <span style="font-weight: bold;">
        construction of St.&nbsp;Peter&#8217;s Basilica</span>. Martin Luther 
        responded by publishing his <span style="font-weight: bold;">95 Theses
        </span>, which Leo denounced in the papal bull 
        <i style="font-weight: bold;">Exsurge Domine</i>. At his coronation, 
        Leo was given a <span style="font-weight: bold;">white elephant
        </span> named Hanno by Manuel&nbsp;I of Portugal; the animal was 
        buried beneath the Vatican after its death.
    </li>
    <li class="list_item">
        <span class="label">Pius&nbsp;IX</span> (1792&ndash;1878; pope 
        1846&ndash;1878) was the <span style="font-weight: bold;">longest-
        reigning pope</span> in history. He reigned during 
        <span style="font-weight: bold;">Italian unification</span> and 
        remained a <span style="font-weight: bold;">&#8220;prisoner in the 
        Vatican&#8221;</span> after the capture of Rome led to the 
        <span style="font-weight: bold;">annexation of the Papal States
        </span>. Afterward, he rejected a <span style="font-weight: bold;">
        Law of Guarantees</span> that sought to define the rights of the 
        Church within the Kingdom of Italy. Pius defined the dogma of the 
        <span style="font-weight: bold;">Immaculate Conception</span> in 
        the decree <i style="font-weight: bold;">Ineffabilis Deus</i> and 
        established <span style="font-weight: bold;">papal infallibility
        </span> at the <span style="font-weight: bold;">First Vatican Council
        </span>. He released a controversial list of 80 heresies in his 
        <i style="font-weight: bold;">Syllabus of Errors</i>.
    </li>
    <li class="list_item">
        <span class="label">John Paul&nbsp;II</span> (1920&ndash;2005; pope 
        1978&ndash;2005) was from <span style="font-weight: bold;">Poland
        </span>, making him the first non-Italian pope in over 400 years. 
        In 1981, he was shot by Mehmet Ali Agca, a member of the Turkish 
        terrorist group Grey Wolves; he survived and forgave Agca while 
        visiting him in prison. John Paul&nbsp;II defended the sanctity of 
        life in his encyclical <i style="font-weight: bold;">Evangelium 
        Vitae</i> and declared <span style="font-weight: bold;">evolution
        </span> to be compatible with Catholic theology. He denounced Marxist 
        &#8220;liberation theology&#8221; in Latin America and may have 
        inspired the <span style="font-weight: bold;">Solidarity movement
        </span> during a 1979 visit to his home country.
    </li>
    <li class="list_item">
        <span class="label">Francis</span> (1936&ndash;present, pope 
        2013&ndash;present) served as the Archbishop of 
        <span style="font-weight: bold;">Buenos Aires</span> before ascending 
        to the papacy upon the resignation of Benedict&nbsp;XVI. He is the 
        <span style="font-weight: bold;">first Jesuit pope</span>, the 
        <span style="font-weight: bold;">first pope from the Americas</span>, 
        and the first pope from outside of Europe since Gregory&nbsp;III in 
        the 8th century. When asked in 2013 for his view on gay clergy 
        members, he responded <span style="font-weight: bold;">&#8220;Who 
        am I to judge?&#8221;</span>. He also had a historic meeting with 
        Patriarch Kirill of the Russian Orthodox Church in Havana in 2016, 
        and the two issued a joint declaration denouncing the persecution 
        of Christians in the Middle East.
    </li>
</ul>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Honorable Mentions</h3>
<br />
<ul class="list2">
    <li class="list_item">
        <span class="label">Leo&nbsp;I</span> (c.&nbsp;400&ndash;461, pope 
        440&ndash;461) convinced <span style="font-weight: bold;">Attila 
        the Hun</span> to turn back a planned invasion of Italy.
    </li>
	<li class="list_item">
        <span class="label">Gregory&nbsp;VII</span> (c.&nbsp;1025&ndash;1085, 
        pope 1073&ndash;1085) <span style="font-weight: bold;">excommunicated 
        Holy Roman Emperor Henry&nbsp;IV</span> during the 
        <span style="font-weight: bold;">Investiture Controversy</span>. Henry 
        sought absolution from the pope by walking barefoot through the snow 
        to the village of Canossa.
    </li>
	<li class="list_item">
        <span class="label">Clement&nbsp;V</span> (c.&nbsp;1260&ndash;1314, 
        pope 1305&ndash;1314) moved the seat of the papacy from Rome to the 
        French city of <span style="font-weight: bold;">Avignon</span>, where 
        it remained for 67 years in a period nicknamed the 
        <span style="font-weight: bold;">&#8220;Babylonian Captivity.&#8221;
        </span>
    </li>
	<li class="list_item">
        <span class="label">Clement&nbsp;VII</span> (1478&ndash;1534, pope 
        1523&ndash;1534) was pope during the 1527 Sack of Rome and refused 
        to annul <span style="font-weight: bold;">Henry&nbsp;VIII&#8217;s 
        marriage to Catherine of Aragon</span>. He is not to be confused 
        with Antipope Clement&nbsp;VII, whose election in 1378 began the 
        Western Schism.
    </li>
	<li class="list_item">
        <span class="label">Gregory&nbsp;XIII</span> (1502&ndash;1585, pope 
        1572&ndash;1585) introduced the <span style="font-weight: bold;">
        Gregorian Calendar</span> in 1582 to correct the previous Julian 
        Calendar.
    </li>
	<li class="list_item">
        <span class="label">Pius&nbsp;XII</span> (1876&ndash;1958, pope 
        1939&ndash;1958) signed the <span style="font-weight: bold;">
        Reichskonkordat</span> with Nazi Germany in 1933, served as pope 
        during World War&nbsp;II, and spoke infallibly to define the 
        dogma of the <span style="font-weight: bold;">Assumption of 
        Mary</span>.
    </li>
	<li class="list_item">
        <span class="label">Pope Emeritus Benedict&nbsp;XVI</span> 
        (1927&ndash;present, pope 2005&ndash;2013) 
        <span style="font-weight: bold;">resigned</span> the papacy in 2013, 
        becoming the first person to do so since the 15th century.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Jacob Augelli.</p>
<br />
<br />
<br />
{% endblock %}