{% extends "base.html" %}  {% block title %}Arthurian Characters{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Arthurian Characters</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/arthurian-characters.html">
    You Gotta Know These Arthurian Characters
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">King Arthur</span>, &#8220;The Once and Future 
        King,&#8221; was the son of <span style="font-weight: bold;">Uther 
        Pendragon</span> and <span style="font-weight: bold;">Lady Igraine
        </span>.  Uther disguised himself as Igraine&#8217;s husband 
        <span style="font-weight: bold;">Gorlois</span> to sleep with her. 
        Arthur wields the legendary sword <span style="font-weight: bold;">
        Excalibur</span> and rules the Britons from the castle of 
        <span style="font-weight: bold;">Camelot</span> beside his wife, 
        Queen Guinevere.  The stories of Arthur and his 
        <span style="font-weight: bold;">Knights of the Round Table</span> 
        are recounted by <span style="font-weight: bold;">Geoffrey of 
        Monmouth</span> in <i style="font-weight: bold;">Historia Regnum 
        Britanniae</i>, works by <span style="font-weight: bold;">
        Chr&eacute;tien de Troyes</span>, and 
        <span style="font-weight: bold;">Thomas Mallory</span>&#8217;s 
        <i style="font-weight: bold;">Le Morte d&#8217;Arthur</i>, among 
        others. The different sources disagree on various details; for 
        instance, some sources state that Arthur received Excalibur from 
        the Lady of the Lake, while in others he pulls the sword from a 
        <span style="font-weight: bold;">stone</span>. After the 
        <span style="font-weight: bold;">Battle of Camlann</span>, King 
        Arthur gives Excalibur to his marshal, 
        <span style="font-weight: bold;">Sir Bedivere</span>, and is 
        taken to the isle of <span style="font-weight: bold;">Avalon
        </span> to die.
    </li>
	<li class="list_item">
        <span class="label">Merlin</span> is a powerful 
        <span style="font-weight: bold;">wizard</span> who serves as 
        Arthur&#8217;s chief advisor.  When Merlin was a child, 
        <span style="font-weight: bold;">King Vortigern</span> was told 
        that the boy&#8217;s <span style="font-weight: bold;">blood</span> 
        was necessary to keep his tower from constantly collapsing; 
        however, Merlin identified a pool beneath the tower in which two 
        <span style="font-weight: bold;">dragons</span> fought as the 
        source of the instability. Some sources credit Merlin with 
        constructing the <span style="font-weight: bold;">Round Table
        </span> as well as <span style="font-weight: bold;">Stonehenge</span>. 
        Merlin&#8217;s primary apprentice is the sorceress 
        <span style="font-weight: bold;">Morgan le&nbsp;Fay</span>, 
        Arthur&#8217;s half-sister on his mother&#8217;s side. Some 
        sources have Merlin wind up trapped in an 
        <span style="font-weight: bold;">enchanted tomb</span> (possibly 
        in a cave, possibly in a tree) by a figure identified as 
        <span style="font-weight: bold;">Vivien</span> or 
        <span style="font-weight: bold;">Nimue</span> (the Lady of the Lake). 
        In other tales, Merlin dies and is buried in the legendary forest 
        <span style="font-weight: bold;">Broc&eacute;liande</span>.
    </li>
	<li class="list_item">
        <span class="label">Queen Guinevere</span> is the daughter of 
        <span style="font-weight: bold;">Leodegrance</span> and the wife 
        of King Arthur.  In one story, Guinevere is abducted by 
        <span style="font-weight: bold;">Meleagant</span> (or Melwas), a 
        king of <span style="font-weight: bold;">Somerset</span>, and 
        rescued by Lancelot, beginning an illicit 
        <span style="font-weight: bold;">affair</span> between the two. 
        After the affair is revealed to Arthur (in some sources by 
        <span style="font-weight: bold;">Mordred</span>, in others by 
        <span style="font-weight: bold;">Agravain</span>), Arthur 
        orders her to be <span style="font-weight: bold;">burned at the 
        stake</span>; she is rescued from that fate by Lancelot in 
        a battle that results in the deaths of 
        <span style="font-weight: bold;">Sir Gareth</span> and 
        <span style="font-weight: bold;">Sir Gaheris</span> and the 
        permanent <span style="font-weight: bold;">exile</span> of Lancelot. 
        Some sources say that Guinevere spent her final days hiding in the 
        <span style="font-weight: bold;">Tower of London</span> or in a 
        nearby convent.
    </li>
	<li class="list_item">
        <span class="label">Sir Lancelot</span> is the foremost among the 
        Knights of the Round Table, an expert swordsman and jouster who 
        is the primary figure of the <span style="font-weight: bold;">
        Vulgate Cycle</span>. The son of <span style="font-weight: bold;">
        King Ban of Benwick</span>, Lancelot was raised by the Lady of 
        the Lake, which earned him the epithet 
        <span style="font-weight: bold;">&#8220;du Lac&#8221;</span> or 
        &#8220;of the Lake.&#8221;  Another of his epithets is 
        <span style="font-weight: bold;">&#8220;Knight of the Cart,&#8221;
        </span> which he earned for riding in a dwarf&#8217;s cart while 
        searching for Guinevere after she was kidnapped. Aside from his 
        adulterous affair with Queen Guinevere, Lancelot is known for 
        fathering Sir Galahad with <span style="font-weight: bold;">
        Elaine of Corbenic</span>, who had tricked Lancelot into 
        sleeping with her by disguising herself as Guinevere. After his 
        betrayal of Arthur was revealed, Lancelot fled to 
        <span style="font-weight: bold;">France</span> and was therefore 
        not present during the <span style="font-weight: bold;">Battle of 
        Camlann</span>.
    </li>
	<li class="list_item">
        <span class="label">Sir Galahad</span> is a Knight of the Round 
        Table renowned for his <span style="font-weight: bold;">purity 
        and honor</span>.  Galahad is the <span style="font-weight: bold;">
        illegitimate son</span> of Sir Lancelot and King Pelles&#8217;s 
        daughter Lady Elaine of Corbenic. Sir Galahad is the only member 
        of Arthur&#8217;s corps who can sit in the 
        <span style="font-weight: bold;">Siege Perilous</span>, a seat at 
        the Round Table set aside by Merlin for the knight who would 
        complete the <span style="font-weight: bold;">quest for the Holy 
        Grail</span>. Galahad&#8217;s quest for the Holy Grail, which he 
        completed alongside <span style="font-weight: bold;">Sir Percival
        </span> and <span style="font-weight: bold;">Sir Bors</span>, 
        ended when he encountered the <span style="font-weight: bold;">
        Fisher King</span>, who asked him to take the chalice to 
        <span style="font-weight: bold;">Sarras</span>. Galahad is 
        supposedly descended from the brother-in-law of 
        <span style="font-weight: bold;">Joseph of Arimathea</span>, who 
        later visits him and allows him to ascend to Heaven.
    </li>
	<li class="list_item">
        <span class="label">Sir Percival</span> is a Knight of the Round 
        Table who accompanies Sir Galahad and Sir Bors on the successful 
        quest for the Holy Grail.  Percival is one of the sons of 
        <span style="font-weight: bold;">King Pellinore</span>. He was 
        <span style="font-weight: bold;">raised in the woods</span> by 
        his (unnamed) mother until he turned 15. Although Percival fails 
        to identify the Holy Grail during an early encounter with the 
        wounded Fisher King that involved a <span style="font-weight: bold;">
        bleeding lance</span>, he later <span style="font-weight: bold;">
        heals</span> the Fisher King&#8217;s wound at the end of the quest. 
        In some stories, Percival loves a woman named 
        <span style="font-weight: bold;">Blanchefleur</span>, and he is 
        named as the father of <span style="font-weight: bold;">Lohengrin
        </span> in many Germanic sources.
    </li>
	<li class="list_item">
        <span class="label">Sir Gawain</span> is a Knight of the Round Table 
        and the son of <span style="font-weight: bold;">Morgause</span> and 
        <span style="font-weight: bold;">King Lot of Orkney</span>, making 
        him the nephew of King Arthur. He is the hero of the 
        <span style="font-weight: bold;">Pearl Poet</span>&#8217;s 
        14th-century romantic epic <i style="font-weight: bold;">Sir 
        Gawain and the Green Knight</i>, in which Gawain&#8217;s loyalty 
        and resolve are tested by the title Green Knight (secretly 
        <span style="font-weight: bold;">Lord Bertilak</span>), who 
        survives his <span style="font-weight: bold;">beheading</span> at 
        the hands of Gawain and returns a year later to return the favor. 
        Gawain&#8217;s brothers <span style="font-weight: bold;">Gareth
        </span> and <span style="font-weight: bold;">Gaheris</span> are 
        killed during Lancelot&#8217;s rescue of Queen Guinevere, sending 
        Gawain into a frenzy.
    </li>
	<li class="list_item">
        <span class="label">Mordred</span> is King Arthur&#8217;s 
        <span style="font-weight: bold;">illegitimate son</span> by his 
        half-sister <span style="font-weight: bold;">Morgause</span> 
        (they were unaware of their shared parentage), possibly making 
        him the <span style="font-weight: bold;">rightful heir to Camelot
        </span>. Mordred is best known as a <span style="font-weight: bold;">
        traitorous</span> figure who crowns himself King of the Britons 
        while King Arthur is in <span style="font-weight: bold;">Gaul</span> 
        fighting the mythical <span style="font-weight: bold;">Emperor 
        Lucius of Rome</span>. Mordred is also frequently linked with 
        Queen Guinevere: some accounts say that he reported the 
        queen&#8217;s affair with Lancelot to Arthur, some say that 
        Mordred took Guinevere as a concubine during his usurpation of 
        Arthur&#8217;s throne, and some say that Mordred&#8217;s wife was 
        Guinevere&#8217;s sister <span style="font-weight: bold;">
        Gwenhwyfach</span>. Arthur killed Mordred at the 
        <span style="font-weight: bold;">Battle of Camlann</span>.
    </li>
	<li class="list_item">
        <span class="label">Tristan and Iseult</span> were a pair of lovers 
        who predate the stories of King Arthur but nonetheless appear in 
        the <span style="font-weight: bold;">Vulgate and Post-Vulgate Cycles
        </span>. Sir Tristan was a knight who brings Iseult the Fair back 
        to <span style="font-weight: bold;">Cornwall</span> to marry his 
        uncle <span style="font-weight: bold;">King Mark</span> after 
        killing <span style="font-weight: bold;">Morholt</span>, an Irish 
        knight extorting the king.  During the return journey, the pair 
        ingest a powerful <span style="font-weight: bold;">potion</span> 
        and fall deeply in love with each other, but Iseult nevertheless 
        marries Tristan&#8217;s uncle. The love potion, however, forces 
        the pair to continuously seek one another out, and King Mark 
        eventually discovers their <span style="font-weight: bold;">affair
        </span>. Tristan escapes his <span style="font-weight: bold;">
        execution</span> and later marries a different woman known as 
        <span style="font-weight: bold;">Iseult of the White Hands</span>. 
        Their story inspired <span style="font-weight: bold;">Richard 
        Wagner</span>&#8217;s opera <i style="font-weight: bold;">Tristan 
        und Isolde</i>.
    </li>
	<li class="list_item">
        <span class="label">The Lady of the Lake</span> is a character 
        who goes by many other names, among them 
        <span style="font-weight: bold;">Nimue</span> and 
        <span style="font-weight: bold;">Vivien</span>. In many stories, 
        the Lady of the Lake is responsible for bestowing 
        <span style="font-weight: bold;">Excalibur</span> upon King Arthur. 
        She also gave Merlin his <span style="font-weight: bold;">powers of 
        sorcery</span> and raised Sir Lancelot after his father&#8217;s death. 
        The Lady of the Lake is frequently associated with the isle of 
        <span style="font-weight: bold;">Avalon</span> and is sometimes 
        conflated with <span style="font-weight: bold;">Morgan le Fay</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}