{% extends "base.html" %}  {% block title %}Egyptian Deities{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Egyptian Deities</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/egyptian-deities.html">
    You Gotta Know These Egyptian Deities
    </a>
</h1>
<br />
<p class="justify">
    Perhaps the most prominent Egyptian creation myth begins with the 
    emergence of <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Ra</span> (or <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Re</span>), the 
    <span style="font-weight: bold;">sun god</span>, from the ocean in 
    the form of an <span style="font-weight: bold;">egg</span> (or, 
    alternately, a <span style="font-weight: bold;">flower</span>). 
    Ra brought forth four children:  <span style="font-weight: bold;">
    Geb</span>, <span style="font-weight: bold;">Shu</span>, 
    <span style="font-weight: bold;">Nut</span>, and 
    <span style="font-weight: bold;">Tefnut</span>. 
    <span style="font-weight: bold;">Shu</span> and 
    <span style="font-weight: bold;">Tefnut</span> became manifestations 
    of <span style="font-weight: bold;">air</span> and 
    <span style="font-weight: bold;">moisture</span>. From 
    <span style="font-weight: bold;">Geb</span>, the god of the 
    <span style="font-weight: bold;">earth</span>, and 
    <span style="font-weight: bold;">Nut</span>, goddess of the 
    <span style="font-weight: bold;">sky</span>, were spawned four other 
    gods: <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Osiris</span>, <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Isis</span>, 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Set</span> (or <span style="font-family: Cambria; 
    font-weight: bold; font-size: large;">Seth</span>), and 
    <span style="font-family: Cambria; font-weight: bold; 
    font-size: large;">Nepthys</span>.
</p>
<p class="justify">
    These nine gods became known as the <span style="font-weight: bold;">
    ennead</span> (&#8220;group of nine&#8221;). The center of their 
    worship was <span style="font-weight: bold;">Heliopolis</span>, as 
    all were tied to Ra, the sun god.  The Heliopolitan ennead was one 
    of several in Egyptian theology, and at times this grouping was 
    superseded by other sets. Two notable alternatives were the ennead 
    of the city of <span style="font-weight: bold;">Memphis</span>, 
    led by the god <span style="font-weight: bold;">Ptah</span>, and 
    the ennead of <span style="font-weight: bold;">Thebes</span>, with 
    <span style="font-weight: bold;">Amon</span> at its head. Not 
    surprisingly, the pre-eminence of these variations coincided with 
    their corresponding cities&#8217; prominence within Egypt.
</p>
<h3 style="font-family: Cambria; font-weight: bold;">The Stories</h3>
<p class="justify">
    There are, for most practical purposes, only three major episodes in 
    Egyptian mythology:
</p>
<ul class="list2">
    <li class="list_item">
        <span class="label">The family quarrel of Osiris and Set</span>: 
        <span style="font-weight: bold;">Osiris</span> took 
        <span style="font-weight: bold;">Isis</span>, his sister, for 
        his wife, and ruled over the earth. <span style="font-weight: bold;">
        Set</span> grew <span style="font-weight: bold;">jealous</span> of 
        his brother and <span style="font-weight: bold;">killed him</span>, 
        afterwards <span style="font-weight: bold;">cutting his body into 
        14 pieces</span> and <span style="font-weight: bold;">hiding</span> 
        them in various places around Egypt. He then claimed kingship over 
        the land.  Isis searched the breadth of the land until she had 
        <span style="font-weight: bold;">recovered</span> all of the pieces 
        and, with the help of <span style="font-weight: bold;">Anubis</span>, 
        <span style="font-weight: bold;">embalmed</span> the body. She 
        conceived a son, <span style="font-weight: bold;">Horus</span>, by 
        the (still dead) Osiris, then resurrected him. Horus defeated Set 
        to regain the kingship, and all subsequent pharaohs were said to 
        be aspects of him.
    </li>
	<li class="list_item">
        <span class="label">Afterlife</span>: The Egyptians believed that 
        the <span style="font-weight: bold;">soul</span> had three primary 
        components, the <i style="font-weight: bold;">ba</i>, 
        <i style="font-weight: bold;">ka</i>, and 
        <i style="font-weight: bold;">akh</i>, each of which had different 
        roles after death.  The <i>ka</i> remained near or within the body 
        (which is why <span style="font-weight: bold;">mummification</span> 
        was required).  The <i>ba</i> went to the 
        <span style="font-weight: bold;">underworld</span> where it merged 
        with aspects of <span style="font-weight: bold;">Osiris</span>, 
        but was allowed to periodically return (which is why Egyptian 
        <span style="font-weight: bold;">tombs</span> often contained narrow 
        <span style="font-weight: bold;">doors</span>).  The <i>akh</i> 
        could temporarily assume different physical forms and wander the 
        world as a <span style="font-weight: bold;">ghost</span> of sorts. 
        In the underworld, the <i>ba</i> was subjected to the 
        <span style="font-weight: bold;">Judgment of Osiris</span> in the 
        <span style="font-weight: bold;">Hall of Double Justice</span>, 
        where the <span style="font-weight: bold;">heart</span> of the 
        deceased was <span style="font-weight: bold;">weighed</span> against 
        <span style="font-weight: bold;">Ma&#8217;at</span>, commonly 
        represented as an <span style="font-weight: bold;">ostrich feather
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Worship of Aton</span>: This is actually a 
        historical episode: during the reign of 
        <span style="font-weight: bold;">Amenhotep&nbsp;III</span> 
        (1390&ndash;1353&nbsp;BC), worship of the god 
        <span class="label">Aton</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Aten</span>) &mdash; a representation of the 
        <span style="font-weight: bold;">disk of the sun</span> &mdash; 
        was resurrected.  This process was carried to its extreme 
        conclusion by his successor, <span style="font-weight: bold;">
        Amenhotep&nbsp;IV</span>, who eventually declared Aton to be the 
        <span style="font-weight: bold;">only god</span>, thereby 
        creating one of the earliest known <span style="font-weight: bold;">
        monotheistic religions</span>. The pharaoh even changed his name 
        to <span style="font-weight: bold;">Akhenaton</span>, meaning 
        &#8220;Aton is satisfied.&#8221;  The worship of Aton was centered 
        on the capital city <span style="font-weight: bold;">Tell-al-Amarna
        </span>, and was largely confined to upper classes and the 
        pharaonic court; it did not survive Amenhotep.  Under his successor, 
        <span style="font-weight: bold;">Tutankhamen</span> (King Tut), 
        traditional religious practices were restored.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">The Pantheon</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Osiris</span>: Husband of 
        <span style="font-weight: bold;">Isis</span>, father of 
        <span style="font-weight: bold;">Horus</span>, and brother of 
        <span style="font-weight: bold;">Set</span>, Osiris served as 
        god of the <span style="font-weight: bold;">underworld</span> and 
        <span style="font-weight: bold;">protector of the dead</span>. 
        In addition to his role as the chief and 
        <span style="font-weight: bold;">judge</span> of the underworld 
        (as a result of the above-mentioned murder by Set), Osiris also 
        served as a god of <span style="font-weight: bold;">vegetation
        </span> and <span style="font-weight: bold;">renewal</span>; 
        festivals honoring his death occurred around the time of the 
        <span style="font-weight: bold;">Nile flood</span>&#8217;s retreat. 
        Statues representing him were made of clay and 
        <span style="font-weight: bold;">grain</span>, which would then 
        germinate.  Osiris was represented either as a 
        <span style="font-weight: bold;">green mummy</span>, or wearing 
        the <span style="font-weight: bold;">Atef</span>, a plumed crown.
    </li>
	<li class="list_item">
        <span class="label">Set</span>: Created in opposition to the forces 
        of <span style="font-weight: bold;">Ma&#8217;at</span>, Set (termed 
        <span style="font-weight: bold;">Typhon</span> by 
        <span style="font-weight: bold;">Plutarch</span>) fought the demon 
        <span style="font-weight: bold;">Apopis</span> each day, emerging 
        victorious, symbolic of the struggle of forces that brought harmony. 
        In later times, this struggle led Set to be associated with the 
        serpent itself, and Set became the personification of 
        <span style="font-weight: bold;">violence</span> and disorder, 
        and the <span style="font-weight: bold;">cause of all disasters
        </span>. Having killed his brother <span style="font-weight: bold;">
        Osiris</span>, Set did battle with Osiris&#8217; son 
        <span style="font-weight: bold;">Horus</span>, being emasculated 
        in the fight.  His cult was diminished over time, due to reaction 
        against violence, and many of his effigies were destroyed.
    </li>
	<li class="list_item">
        <span class="label">Isis</span>: Isis, daughter of 
        <span style="font-weight: bold;">Geb</span> and 
        <span style="font-weight: bold;">Nut</span>, protected 
        <span style="font-weight: bold;">love</span>, 
        <span style="font-weight: bold;">motherhood</span>, and 
        <span style="font-weight: bold;">fate</span> in the Egyptian mythos. 
        Many of her roles are similar to those of the goddess 
        <span style="font-weight: bold;">Hathor</span>, but she is often 
        equated with the Greek <span style="font-weight: bold;">Demeter
        </span>. Her powers were gained through 
        <span style="font-weight: bold;">tricking</span> the god 
        <span style="font-weight: bold;">Ra</span>. By placing a 
        <span style="font-weight: bold;">snake</span> in his path, which 
        <span style="font-weight: bold;">poisoned</span> him, she forced 
        him to give some power to her before she would cure him.
    </li>
	<li class="list_item">
        <span class="label">Horus</span>: The god of the 
        <span style="font-weight: bold;">sky</span> and 
        <span style="font-weight: bold;">light</span> and the son of 
        <span style="font-weight: bold;">Isis</span> and 
        <span style="font-weight: bold;">Osiris</span>. In some myths, he 
        was the brother of <span style="font-weight: bold;">Set</span>, 
        and son of <span style="font-weight: bold;">Ra</span>. His mother 
        impregnated herself by the dead <span style="font-weight: bold;">
        Osiris</span>, then hid Horus.  When he was grown, he avenged 
        his father&#8217;s death, driving away Set.  In the battle, he 
        <span style="font-weight: bold;">lost his eye</span>, but 
        regained it thanks to the god <span style="font-weight: bold;">
        Thoth</span>.  Thus Horus came to rule over the earth. He was 
        known to have two faces, that of the 
        <span style="font-weight: bold;">falcon</span> and that of a 
        <span style="font-weight: bold;">child</span>, 
        <span style="font-weight: bold;">Harpocrates</span>.
    </li>
	<li class="list_item">
        <span class="label">Ra</span>: Personification of the 
        <span style="font-weight: bold;">midday sun</span>, he was also 
        venerated as <span style="font-weight: bold;">Atum</span> 
        (setting sun) and <span style="font-weight: bold;">Khepri</span> 
        (rising sun), which were later combined with him. He 
        <span style="font-weight: bold;">traveled across the sky</span> 
        each day and then each night, the monster 
        <span style="font-weight: bold;">Apep</span> would attempt to 
        prevent his return.  Other myths held that Ra spent the night 
        in the <span style="font-weight: bold;">underworld</span> 
        consoling the dead.  Ra was the <span style="font-weight: bold;">
        god of the pharaohs</span>, so from the fourth dynasty onward 
        all pharaohs termed themselves &#8220;sons of Ra,&#8221; and 
        after death they <span style="font-weight: bold;">joined his 
        entourage</span>.  He was portrayed with the head of a 
        <span style="font-weight: bold;">falcon</span>, and crowned 
        with the <span style="font-weight: bold;">sun disk</span>.
    </li>
	<li class="list_item">
        <span class="label">Amon</span>: Amon began as a local god of 
        <span style="font-weight: bold;">Thebes</span>, governing the 
        <span style="font-weight: bold;">air</span>, 
        <span style="font-weight: bold;">fertility</span>, and 
        <span style="font-weight: bold;">reproduction</span>.  His 
        wife was <span style="font-weight: bold;">Mut</span>, and his 
        son was <span style="font-weight: bold;">Khon</span>. Later, 
        Amon became linked with the sun god <span style="font-weight: bold;">
        Ra</span>, and the two combined as 
        <span class="label">Amon-Ra</span>.  In this form, he became 
        worshipped beyond Egypt, and identified with 
        <span style="font-weight: bold;">Zeus</span> and 
        <span style="font-weight: bold;">Jupiter</span>. His appearance 
        in art was as a <span style="font-weight: bold;">man in a 
        loincloth</span>, with a <span style="font-weight: bold;">
        headdress topped by feathers</span>, but other appearances show 
        him with the <span style="font-weight: bold;">head of a ram</span>. 
        The temple of Amon-Ra at <span style="font-weight: bold;">Karnak
        </span> was the largest ever built.
    </li>
	<li class="list_item">
        <span class="label">Thoth</span>: Serving the gods as the 
        <span style="font-weight: bold;">supreme scribe</span>, the 
        <span style="font-weight: bold;">ibis-headed</span> Thoth was 
        known as the <span style="font-weight: bold;">&#8220;tongue of 
        Ptah&#8221;</span> for his knowledge of 
        <span style="font-weight: bold;">hieroglyphics</span>, and as 
        the <span style="font-weight: bold;">&#8220;Heart of Re&#8221;
        </span> for his <span style="font-weight: bold;">creative</span>
         powers. His knowledge of <span style="font-weight: bold;">
        science and calculation</span> made him the creator of the 
        <span style="font-weight: bold;">calendar</span>, and his symbol 
        was the <span style="font-weight: bold;">moon</span> due to his 
        knowledge of how to calculate its path.  His knowledge of 
        <span style="font-weight: bold;">magic</span> led to his 
        association with the Greek <span style="font-weight: bold;">
        Hermes</span>. Thoth was consulted by 
        <span style="font-weight: bold;">Isis</span> when attempting 
        to resurrect <span style="font-weight: bold;">Osiris</span>, 
        and was again consulted when the young 
        <span style="font-weight: bold;">Horus</span> was stung by a 
        scorpion.
    </li>
	<li class="list_item">
        <span class="label">Ptah</span>: Principal god of the city of 
        <span style="font-weight: bold;">Memphis</span>, he was portrayed 
        as a <span style="font-weight: bold;">mummy</span>, or wearing the 
        <span style="font-weight: bold;">beard of the gods</span> on his 
        chin. His godhood was achieved by himself, much like his 
        <span style="font-weight: bold;">creation power</span>, done 
        merely by act of will.  A patron of <span style="font-weight: bold;">
        craftsmen</span>, he also was seen as a 
        <span style="font-weight: bold;">healer</span>, in the form of a 
        <span style="font-weight: bold;">dwarf</span>.  He was seen as the 
        god of <span style="font-weight: bold;">embalming</span>. His wife 
        was the <span style="font-weight: bold;">cat-headed</span> 
        <span style="font-weight: bold;">Sekhmet</span>, and his son was 
        the <span style="font-weight: bold;">lotus</span> god 
        <span style="font-weight: bold;">Nefertem</span>.</li>
	<li class="list_item">
        <span class="label">Anubis</span>: Son of 
        <span style="font-weight: bold;">Osiris</span> and 
        <span style="font-weight: bold;">Nepthys</span>, and god of 
        <span style="font-weight: bold;">embalming</span> to the 
        Egyptians, he was typically pictured with the 
        <span style="font-weight: bold;">head of a jackal</span>. He also 
        served as the god of the <span style="font-weight: bold;">desert
        </span> and the <span style="font-weight: bold;">watcher of the 
        tombs</span>. He also served to <span style="font-weight: bold;">
        introduce the dead to the afterlife</span>, and as their 
        <span style="font-weight: bold;">judge</span>. To decide the fate 
        of the dead, Anubis would <span style="font-weight: bold;">weigh 
        the heart</span> of the dead against the 
        <span style="font-weight: bold;">feather of truth</span>. Anubis 
        is sometimes identified with <span style="font-weight: bold;">
        Hermes</span> or <span style="font-weight: bold;">Mercury</span>.
    </li>
	<li class="list_item">
        <span class="label">Ma&#8217;at</span>: The daughter of 
        <span style="font-weight: bold;">Ra</span>, she 
        <span style="font-weight: bold;">predated the universe</span> and 
        served over the creation of it, ensuring 
        <span style="font-weight: bold;">balance</span> between everything. 
        Primarily seen as the <span style="font-weight: bold;">keeper of 
        order</span>, Ma&#8217;at was responsible for 
        <span style="font-weight: bold;">seasons</span>, 
        <span style="font-weight: bold;">day and night</span>, 
        <span style="font-weight: bold;">rainfall</span>, and 
        <span style="font-weight: bold;">star movements</span>. A symbolic 
        <span style="font-weight: bold;">offering</span> of Ma&#8217;at, 
        in the form a statuette was given to the gods, as Ma&#8217;at 
        encompassed all other offerings.  Ma&#8217;at&#8217;s aspect as 
        god of <span style="font-weight: bold;">justice</span> also showed 
        through her role in death ritual, where her 
        <span style="font-weight: bold;">ostrich feather</span> was weighed 
        against the <span style="font-weight: bold;">hearts of the dead
        </span> in the underworld. <span style="font-weight: bold;">Judges
        </span> wore effigies of Ma&#8217;at, and the supreme 
        <span style="font-weight: bold;">head of courts</span> was said to 
        be the priest of Ma&#8217;at.
    </li>
	<li class="list_item">
        <span class="label">Hathor</span>: Hathor (or Athor or Athyr) 
        was the patron of <span style="font-weight: bold;">women</span>. 
        Hathor was the daughter of <span style="font-weight: bold;">Ra
        </span> and the wife of <span style="font-weight: bold;">Horus</span>. 
        She fulfilled many functions as goddess of the 
        <span style="font-weight: bold;">sky</span>, goddess of 
        <span style="font-weight: bold;">fertility</span>, protector of 
        <span style="font-weight: bold;">marriage</span>, and goddess of 
        <span style="font-weight: bold;">love</span> and 
        <span style="font-weight: bold;">beauty</span>. In that final 
        role she became equated with <span style="font-weight: bold;">
        Aphrodite</span> and <span style="font-weight: bold;">Venus</span>. 
        Pictures of Hathor often show the goddess with the 
        <span style="font-weight: bold;">head of a cow</span>.
    </li>
	<li class="list_item">
        <span class="label">Nephthys</span>: Termed the 
        <span style="font-weight: bold;">&#8220;lady of the castle,&#8221;
        </span> for her role as guardian of <span style="font-weight: bold;">
        tombs</span>, she sided against her own husband, 
        <span style="font-weight: bold;">Set</span>, in his battle against 
        <span style="font-weight: bold;">Osiris</span>, but when Set was 
        destroyed, she <span style="font-weight: bold;">collected the bits
        </span> of his body and brought him back to life, much as 
        <span style="font-weight: bold;">Isis</span> had done for Osiris. 
        In addition to being Isis&#8217; sister, she was also said to be 
        Osiris&#8217; mistress, leading to much complaint from Isis. Due 
        to her close ties to all the other gods, she was rarely associated 
        with a cult of her own.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}