{% extends "base.html" %}  {% block title %}Greek Heroes{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Greek Heroes</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/greek-heroes.html">
    You Gotta Know These Greek Heroes
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Heracles</span> (or, as the Romans referred to 
        him, <span style="font-weight: bold;">Hercules</span>) is often 
        considered the greatest of the Greek heroes. He was the son of 
        <span style="font-weight: bold;">Alcmene</span> and 
        <span style="font-weight: bold;">Zeus</span>, which earned him 
        he lifelong enmity of Zeus&#8217;s wife Hera. Hera struck Heracles 
        with a temporary madness so that he killed his wife 
        <span style="font-weight: bold;">Megara</span> and their children. 
        As penance, Heracles served <span style="font-weight: bold;">
        King Eurystheus</span> for ten years and completed 
        <span style="font-weight: bold;">twelve labors</span>. Some of 
        his most famous labors were slaying the 
        <span style="font-weight: bold;">Nemean Lion</span>, whose skin 
        was impenetrable; slaying the nine-headed 
        <span style="font-weight: bold;">Lernaean Hydra</span>, which 
        would sprout new heads when one was cut off; redirecting two 
        rivers to clean the massive <span style="font-weight: bold;">
        Augean stables</span> in one day; and capturing 
        <span style="font-weight: bold;">Cerberus</span>, the three-headed 
        guard dog of the Underworld. Heracles was killed when the centaur 
        <span style="font-weight: bold;">Nessus</span> tricked 
        Heracles&#8217;s wife <span style="font-weight: bold;">Deianira
        </span> into giving him a poisoned shirt. After his death, 
        Heracles was deified and married the goddess of youth, 
        <span style="font-weight: bold;">Hebe</span>.
    </li>
	<li class="list_item">
        <span class="label">Theseus</span> was a prince of Athens who was 
        described as both the son of <span style="font-weight: bold;">
        King Aegeus</span> and the son of 
        <span style="font-weight: bold;">Poseidon</span>. He was raised 
        by his mother <span style="font-weight: bold;">Aethra</span> in 
        <span style="font-weight: bold;">Troezen</span>, then as a 
        young man took a land journey back to Athens, during which he 
        defeated six foes, including the bandits 
        <span style="font-weight: bold;">Sinis, Sciron, and Procrustes
        </span>. After Theseus was sent by <span style="font-weight: bold;">
        Medea</span> to kill the Marathonian Bull, he voluntarily went to 
        Crete to combat the <span style="font-weight: bold;">Minotaur
        </span>, a bull-headed monster who devoured the Athenian tributes 
        demanded every nine years by <span style="font-weight: bold;">
        King Minos</span>. Minos&#8217;s daughter 
        <span style="font-weight: bold;">Ariadne</span> gave Theseus a 
        ball of string to help him navigate the 
        <span style="font-weight: bold;">Labyrinth</span>, and he 
        successfully slew the Minotaur. Theseus escaped with Ariadne, 
        but later abandoned her on the island of 
        <span style="font-weight: bold;">Naxos</span>. On the way back 
        to Athens, Theseus forgot to replace the 
        <span style="font-weight: bold;">black sails</span> on his ship 
        with white sails, which led his father King Aegeus to commit 
        suicide because he believed Theseus had been killed.
    </li>
	<li class="list_item">
        <span class="label">Perseus</span> was the son of 
        <span style="font-weight: bold;">Dana&euml;</span> and 
        <span style="font-weight: bold;">Zeus</span>. Perseus&#8217;s 
        grandfather, <span style="font-weight: bold;">King Acrisius
        </span> of Argos, had heard a prophecy that his grandson would 
        kill him, so he banished Dana&euml; and Perseus by setting them 
        adrift in a chest on the ocean. Perseus grew up on 
        <span style="font-weight: bold;">Seriphos</span>, whose king 
        <span style="font-weight: bold;">Polydectes</span> resolved to 
        marry Dana&euml; unless Perseus could bring him the head of the 
        gorgon <span style="font-weight: bold;">Medusa</span>, a 
        monstrous woman with snakes for hair and a petrifying gaze. 
        After securing advice from three sisters called the 
        <span style="font-weight: bold;">Graeae</span>, Perseus located 
        Medusa, and using Hermes&#8217;s <span style="font-weight: bold;">
        winged sandals</span>, Hades&#8217;s 
        <span style="font-weight: bold;">Helm of </span>Invisibility, and 
        a <span style="font-weight: bold;">mirrored shield</span> from 
        Athena, he was able to behead her. On his way back to Seriphos, 
        Perseus used the head of Medusa to rescue the Ethiopian princess 
        <span style="font-weight: bold;">Andromeda</span> from the sea 
        monster <span style="font-weight: bold;">Cetus</span>. Perseus 
        also killed Polydectes, whose advances on Dana&euml; had turned 
        violent in his absence. During an athletic competition later in 
        life, Perseus accidentally hit the spectating Acrisius with a 
        <span style="font-weight: bold;">discus</span>, killing him and 
        thus fulfilling the prophecy.
    </li>
	<li class="list_item">
        <span class="label">Jason</span> was the son of 
        <span style="font-weight: bold;">Aeson</span>, the rightful king 
        of Iolcos who had been usurped by Jason&#8217;s uncle 
        <span style="font-weight: bold;">Pelias</span>. In an attempt to 
        kill Jason, Pelias offered him the throne if he completed a quest 
        to <span style="font-weight: bold;">Colchis</span> and retrieved 
        the <span style="font-weight: bold;">Golden Fleece</span>. Jason 
        assembled a crew of heroes, named the 
        <span style="font-weight: bold;">Argonauts</span> after their 
        ship, the <i style="font-weight: bold;">Argo</i>, for the quest. 
        When they arrived in Colchis, <span style="font-weight: bold;">
        King Ae&euml;tes</span> agreed to give Jason the Fleece if he 
        performed a series of daring tasks. With the help of 
        Ae&euml;tes&#8217;s daughter, the sorceress 
        <span style="font-weight: bold;">Medea</span>, Jason yoked the 
        fire-breathing <span style="font-weight: bold;">Bulls of Colchis
        </span>, plowed a field and sowed it with 
        <span style="font-weight: bold;">dragon&#8217;s teeth</span>, 
        defeated the <span style="font-weight: bold;">Spartoi warriors
        </span> that sprung from the teeth, and finally overcame the dragon 
        guarding the fleece. When Jason and Medea returned to Iolcos, 
        they murdered Pelias and were exiled to Corinth. Jason abandoned 
        Medea for the Corinthian princess <span style="font-weight: bold;">
        Glauce</span>, and in revenge, Medea killed Glauce as well as her 
        own children with Jason. For breaking his marriage vow, Jason 
        lost favor with Hera and died unhappy.
    </li>
	<li class="list_item">
        <span class="label">Achilles</span> was the greatest Greek warrior 
        during the <span style="font-weight: bold;">Trojan War</span>. He 
        was the son of <span style="font-weight: bold;">King Peleus</span> 
        and the Nereid <span style="font-weight: bold;">Thetis</span>, who 
        dipped him in the <span style="font-weight: bold;">River Styx</span> 
        as a child to make his body invulnerable, except for the 
        <span style="font-weight: bold;">heel</span> by which she held him. 
        Thetis tried to keep Achilles out of the Trojan War by 
        <span style="font-weight: bold;">disguising him as a girl</span> 
        on the island of Skyros, but his trickery was exposed by 
        <span style="font-weight: bold;">Odysseus</span>. Achilles refused 
        to continue fighting in the Trojan War after the Greek commander, 
        Agamemnon, seized his concubine <span style="font-weight: bold;">
        Briseis</span>. As the Trojans start to gain the upper hand, 
        Achilles&#8217;s friend (and, by many interpretations, lover) 
        <span style="font-weight: bold;">Patroclus</span> donned 
        Achilles&#8217;s armor and led his <span style="font-weight: bold;">
        Myrmidon</span> warriors into battle. After Patroclus was killed by 
        the Trojans&#8217; best warrior, Hector, Achilles flew into a 
        berserk rage and massacred many of the remaining Trojans, 
        including Hector. Achilles was eventually killed by the Trojan 
        prince <span style="font-weight: bold;">Paris</span>, who shot 
        an arrow into Achilles&#8217;s vulnerable heel.
    </li>
	<li class="list_item">
        <span class="label">Odysseus</span> was a king of 
        <span style="font-weight: bold;">Ithaca</span> and one of the 
        Greek leaders during the Trojan War. Odysseus originally tried 
        to avoid the war by pretending to be insane, but was exposed 
        when <span style="font-weight: bold;">Palamedes</span> put his 
        on <span style="font-weight: bold;">Telemachus</span> in front 
        of his plow. During the war, Odysseus showcased his cunning by 
        proposing the idea for the <span style="font-weight: bold;">
        Trojan Horse</span>. Odysseus&#8217;s ten-year journey home from 
        the war is the subject of <span style="font-weight: bold;">
        Homer&#8217;s <i>Odyssey</i></span>. He escaped and blinded the 
        cyclops <span style="font-weight: bold;">Polyphemus</span>, 
        foiled the enchantments of the sorceress 
        <span style="font-weight: bold;">Circe</span>, was forced to live 
        with the sea nymph <span style="font-weight: bold;">Calypso</span> 
        for seven years, and much more. When Odysseus arrived back in 
        Ithaca, he found that his loyal wife 
        <span style="font-weight: bold;">Penelope</span> was being 
        harassed by rowdy suitors who believed him to be dead. Odysseus 
        disguised himself as a beggar, and when Penelope proposed an 
        <span style="font-weight: bold;">archery contest</span> among 
        the suitors, he revealed his identity and killed them. After 
        Odysseus convinces Penelope that he truly is her husband, they 
        happily reunite.
    </li>
	<li class="list_item">
        <span class="label">Diomedes</span> was a king of 
        <span style="font-weight: bold;">Argos</span> and a great Greek 
        warrior, second only to Achilles in martial prowess during the 
        Trojan War. Early in life, Diomedes&#8217;s father 
        <span style="font-weight: bold;">Tydeus</span>, who was a member 
        of the <span style="font-weight: bold;">Seven Against Thebes
        </span>, was killed during a rebellion against the city. Diomedes 
        and the other <span style="font-weight: bold;">Epigoni</span> 
        (the sons of the Seven) avenged their fathers by sacking and 
        plundering Thebes.  During the Trojan War, Diomedes and Odysseus 
        participated in a daring <span style="font-weight: bold;">
        night raid</span> on the Trojan camp. One Trojan warrior named 
        <span style="font-weight: bold;">Glaucus</span> challenged 
        Diomedes to single combat, but after they realized that their 
        grandfathers had been friends, they swapped armor instead of 
        fighting. Diomedes was the only mortal other than Heracles to 
        fight and injure gods, wounding both 
        <span style="font-weight: bold;">Ares</span> and 
        <span style="font-weight: bold;">Aphrodite</span>. After the 
        war, Diomedes founded many cities in Italy.
    </li>
	<li class="list_item">
        <span class="label">Ajax the Great</span>, or Telamonian Ajax, was 
        a massive and powerful Greek warrior during the Trojan War. Ajax 
        fought with a massive <span style="font-weight: bold;">shield 
        made of cow-hide and bronze</span>, which he used to protect his 
        half-brother <span style="font-weight: bold;">Teucer</span>, a 
        potent archer. Ajax fought the premier Trojan warrior, 
        <span style="font-weight: bold;">Hector</span>, and wounded him, 
        but the match was called a draw and Ajax gave Hector a 
        <span style="font-weight: bold;">purple sash</span> in exchange 
        for Hector&#8217;s sword. Ajax competed with Odysseus for the 
        <span style="font-weight: bold;">armor of Achilles</span> after 
        his death, but the armor was awarded to Odysseus. In a fit of 
        rage and insanity, Ajax slaughtered a herd of sheep, thinking 
        they were the Greek leaders who had ruled against him. When Ajax 
        came to his senses and realized what he had done, he committed 
        suicide in shame.
    </li>
	<li class="list_item">
        <span class="label">Bellerophon</span> was a demigod son of 
        <span style="font-weight: bold;">Poseidon</span>. He rejected 
        the advances of <span style="font-weight: bold;">Queen Stheneboea
        </span>, who then falsely accused him of assault. 
        <span style="font-weight: bold;">King Iobates</span> refused to 
        directly murder a guest, so he instead sent Bellerophon on a 
        perilous quest to defeat the <span style="font-weight: bold;">
        Chimera</span>, a fire-breathing monster with the head of a lion, 
        body of a goat, and tail of a snake. To aid in his quest, 
        <span style="font-weight: bold;">Athena</span> visited 
        Bellerophon in a dream and gave him a 
        <span style="font-weight: bold;">golden bridle</span> with which 
        he tamed the flying horse <span style="font-weight: bold;">Pegasus
        </span>. Bellerophon rode Pegasus up to the lair of the Chimera 
        and threw a <span style="font-weight: bold;">spear tipped with a 
        block of lead</span> into its mouth; the monster&#8217;s 
        breath melted the lead, which suffocated it. Bellerophon&#8217;s 
        arrogance, or hubris, grew so much that he attempted to ride 
        Pegasus up to Mount Olympus and live among the gods. Zeus sent a 
        <span style="font-weight: bold;">gadfly</span> to sting Pegasus, 
        and Bellerophon fell and was blinded from his landing. He lived 
        the rest of his life wandering the land in misery.
    </li>
	<li class="list_item">
        <span class="label">Atalanta</span> was 
        <span style="font-weight: bold;">abandoned</span> on a mountain as 
        a baby because her father wanted a son. She was 
        <span style="font-weight: bold;">raised by bears</span>, which 
        helped her become one of the greatest and fastest hunters. 
        Atalanta joined the hunt for the <span style="font-weight: bold;">
        Calydonian Boar</span>, a giant wild boar that was ravaging the 
        land. Atalanta drew first blood on the boar, and after it was 
        killed, the leader of the hunt, <span style="font-weight: bold;"
        >Meleager</span>, awarded its hide to her. After the hunt, 
        Atlanta was recognized by her father, who wanted to arrange a 
        marriage for her. A prophecy had foretold Atalanta&#8217;s doom 
        if she married, so she agreed to only marry 
        <span style="font-weight: bold;">the man who could beat her in a 
        race</span>; all losers were killed. One suitor, 
        <span style="font-weight: bold;">Melanion</span>, enlisted the 
        help of Aphrodite, who gave him three 
        <span style="font-weight: bold;">golden apples</span> which he 
        used to distract Atalanta during the race and win the contest 
        and her hand in marriage. After Atalanta and Melanion had sex 
        in a temple of Zeus, the gods <span style="font-weight: bold;">
        turned them into lions</span> as punishment for their disrespect.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Duffy.</p>
<br />
<br />
<br />
{% endblock %}