{% extends "base.html" %}  {% block title %}Greek Mythological Monsters{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Greek Mythological Monsters</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/greek-mythological-monsters.html">
    You Gotta Know These Greek Mythological Monsters
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Typhon</span> (also class="label"family: Cambria; font-weight: bold; class="label">Typhoeus</span> or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Typhaon</span>) and 
        <span style="font-family: Cambria; font-weight: bold; 
        font-size: large;">Echidna</span> are known as the 
        <span style="font-weight: bold;">Father</span> and 
        <span style="font-weight: bold;">Mother of All Monsters</span> 
        due to their numerous monstrous offspring, including the 
        two-headed dog <span style="font-weight: bold;">Orthrus</span>, 
        the <span style="font-weight: bold;">Nemean Lion</span>, the 
        <span style="font-weight: bold;">Hydra</span>, the 
        <span style="font-weight: bold;">Chimera</span>, and 
        <span style="font-weight: bold;">Cerberus</span>. Typhon was the 
        last son of <span style="font-weight: bold;">Gaea</span> and 
        <span style="font-weight: bold;">Tartarus</span>, while 
        <span style="font-weight: bold;">Echidna</span>&#8217;s parentage 
        is obscured by ancient sources; most often, she is listed as 
        a daughter of <span style="font-weight: bold;">Phorcys</span> and 
        <span style="font-weight: bold;">Ceto</span>. In the 
        <i style="font-weight: bold;">Theogony</i>, Hesiod describes a 
        climactic <span style="font-weight: bold;">battle between Zeus 
        and Typhon</span> following Zeus&#8217; defeat of the 
        <span style="font-weight: bold;">Titans</span>: Typhon rips out 
        Zeus&#8217; sinews and is nearly victorious, but 
        <span style="font-weight: bold;">Hermes</span> restores Zeus&#8217;s 
        sinews and Zeus finally overpowers the giant monster. Typhon was 
        then <span style="font-weight: bold;">trapped under Mount Etna
        </span>, where he is believed to cause 
        <span style="font-weight: bold;">earthquakes</span> and 
        <span style="font-weight: bold;">volcanic eruptions</span>.
    </li>
	<li class="list_item">
        <span class="label">Polyphemus</span>, the most famous 
        <span style="font-weight: bold;">Cyclops</span> in Greek mythology, 
        is the son of <span style="font-weight: bold;">Poseidon</span> and 
        the sea nymph <span style="font-weight: bold;">Thoosa</span>. The 
        most notable myth involving Polyphemus is his appearance in 
        Book&nbsp;IX of <span style="font-weight: bold;">Homer</span>
        &#8217;s <i style="font-weight: bold;">Odyssey</i>: after 
        <span style="font-weight: bold;">Odysseus</span> and his crew 
        land on Polyphemus&#8217; island after escaping the 
        <span style="font-weight: bold;">Lotus-Eaters</span>, Polyphemus 
        <span style="font-weight: bold;">eats</span> two of 
        Odysseus&#8217; crew, <span style="font-weight: bold;">imprisons
        </span> the rest in his cave, and eats four more before the 
        survivors can escape. To escape, Odysseus gets Polyphemus 
        <span style="font-weight: bold;">drunk</span> on wine and 
        <span style="font-weight: bold;">blinds</span> the one-eyed 
        giant with a stick; the next morning, Odysseus and his crew ride 
        out of Polyphemus&#8217; cave, hiding underneath the Cyclops&#8217; 
        <span style="font-weight: bold;">sheep</span>. When Polyphemus 
        asks Odysseus&#8217; name, Odysseus responds 
        <span style="font-weight: bold;">&#8220;No one&#8221;</span> or 
        &#8220;No man&#8221; (translations vary), and Polyphemus prays 
        to his father Poseidon to make Odysseus&#8217; journey home 
        treacherous. In another myth, Polyphemus falls in love with the 
        nymph <span style="font-weight: bold;">Galatea</span>, who in turn 
        loves the human <span style="font-weight: bold;">Acis</span>. 
        Polyphemus then <span style="font-weight: bold;">kills Acis with 
        a boulder</span> out of jealousy.
    </li>
	<li class="list_item">
        <span class="label">Medusa</span> is the only mortal member of the 
        <span style="font-weight: bold;">Gorgons</span>, a trio of 
        monstrous daughters of <span style="font-weight: bold;">Phorcys
        </span> and <span style="font-weight: bold;">Ceto</span> who had 
        <span style="font-weight: bold;">brass hands</span>, 
        <span style="font-weight: bold;">fangs</span>, and venomous 
        <span style="font-weight: bold;">snakes for hair</span>; the 
        other two were <span style="font-weight: bold;">Stheno</span> and 
        <span style="font-weight: bold;">Euryale</span>. Many early 
        sources state that Medusa was born a monster, though 
        <span style="font-weight: bold;">Ovid</span>&#8217;s 
        <i style="font-weight: bold;">Metamorphoses</i> state that 
        Medusa was a beautiful woman until she was 
        <span style="font-weight: bold;">raped by Poseidon</span> in 
        Athena&#8217;s temple and cursed by the goddess. Gazing directly 
        into Medusa&#8217;s eyes resulted in the onlooker being 
        <span style="font-weight: bold;">turned into stone</span>. 
        She was <span style="font-weight: bold;">beheaded</span> by the 
        hero <span style="font-weight: bold;">Perseus</span>, who was 
        sent to retrieve her head by the tyrant 
        <span style="font-weight: bold;">Polydectes</span>, whom Perseus 
        then killed with the head. Perseus gave the head of Medusa to 
        <span style="font-weight: bold;">Athena</span>, who placed it on 
        her shield, the <span style="font-weight: bold;">aegis</span>. 
        When Medusa was beheaded, the winged horse 
        <span style="font-weight: bold;">Pegasus</span> and the giant 
        warrior <span style="font-weight: bold;">Chrysaor</span> emerged, 
        her sons by Poseidon. According to Ovid, Medusa&#8217;s head was 
        also used to <span style="font-weight: bold;">petrify the Titan 
        Atlas</span>.
    </li>
	<li class="list_item">
        The <span class="label">Minotaur</span> (also class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Asterion</span>) was a 
        <span style="font-weight: bold;">half-man, half-bull</span> 
        monster kept in the <span style="font-weight: bold;">Labyrinth
        </span> on <span style="font-weight: bold;">Crete</span> by King 
        <span style="font-weight: bold;">Minos</span>. Minos prayed to 
        Poseidon to send a <span style="font-weight: bold;">snow-white bull
        </span> as a sign of support during Minos&#8217; quarrel with his 
        brothers for the throne of Crete, but instead of sacrificing the 
        animal to the sea god, Minos kept it for himself. Angered, 
        Poseidon caused Minos&#8217; wife <span style="font-weight: bold;">
        Pasipha&euml;</span> to lust after the bull, so 
        <span style="font-weight: bold;">Daedalus</span> built her a 
        wooden cow so she could mate with the bull. The product of this 
        encounter was the Minotaur (lit. &#8220;Bull of Minos&#8221;). 
        After Minos&#8217; son <span style="font-weight: bold;">Androgeus
        </span> was killed by Athenians, Minos demanded 
        <span style="font-weight: bold;">seven Athenians male youths and 
        seven Athenian female youths</span>, to be selected by lots every 
        seven or nine years (accounts vary) as retribution; these victims 
        were fed to the Minotaur. On the third drawing of the lots, the 
        Athenian hero <span style="font-weight: bold;">Theseus</span> 
        volunteered to vanquish the beast; with the help of Minos&#8217; 
        daughter <span style="font-weight: bold;">Ariadne</span>, who 
        gave Theseus a <span style="font-weight: bold;">ball of string
        </span> so he could find his way out of the Labyrinth, Theseus 
        slew the Minotaur. On the return voyage from Crete, Theseus 
        <span style="font-weight: bold;">forgot to change his sails</span> 
        from black back to white, and his father 
        <span style="font-weight: bold;">Aegeus</span> jumped into the 
        sea, believing his son had died.
    </li>
	<li class="list_item">
        The <span class="label">Lernaean Hydra</span> was one of the offspring 
        of <span style="font-weight: bold;">Typhon</span> and 
        <span style="font-weight: bold;">Echidna</span>. The Hydra was a 
        <span style="font-weight: bold;">multi-headed</span> 
        <span style="font-weight: bold;">water serpent</span> that 
        <span style="font-weight: bold;">breathed poisonous gas</span> 
        and had <span style="font-weight: bold;">toxic blood</span>, and 
        every time one head was cut off, two more grew back in its place. 
        The Hydra dwelled in the <span style="font-weight: bold;">Spring 
        of Amymone</span> in the swamp or <span style="font-weight: bold;">
        lake of Lerna</span> near the Peloponnese, beneath which was 
        said to be an entrance to the <span style="font-weight: bold;">
        Underworld</span>. The Hydra was killed by 
        <span style="font-weight: bold;">Heracles</span> as his second 
        labor for <span style="font-weight: bold;">Eurystheus</span> 
        during a battle in which Heracles&#8217; nephew 
        <span style="font-weight: bold;">Iolaus</span> provided aid by 
        <span style="font-weight: bold;">cauterizing the neck stumps</span> 
        after Heracles cut each head off, preventing additional heads from 
        growing back. After killing the monster, Heracles 
        <span style="font-weight: bold;">dipped his arrows</span> in the 
        Hydra&#8217;s blood; the poisoned arrows were later used against 
        the <span style="font-weight: bold;">Stymphalian Birds</span>, 
        <span style="font-weight: bold;">Geryon</span>, and the centaur 
        <span style="font-weight: bold;">Nessus</span>.
    </li>
	<li class="list_item">
        <span class="label">Cerberus</span> was the 
        <span style="font-weight: bold;">three-headed</span> (or, according 
        to Hesiod&#8217;s <i style="font-weight: bold;">Theogony</i>, 
        50-headed) <span style="font-weight: bold;">dog</span> who 
        <span style="font-weight: bold;">guarded the gates to the 
        Underworld</span>. A child of <span style="font-weight: bold;">
        Typhon</span> and <span style="font-weight: bold;">Echidna</span>, 
        Cerberus is described as a <span style="font-weight: bold;">
        hellhound</span> with a <span style="font-weight: bold;">mane of s
        nakes</span>, the <span style="font-weight: bold;">claws of a lion
        </span>, and the <span style="font-weight: bold;">tail of a deadly 
        snake</span>. As <span style="font-weight: bold;">Heracles</span>
        &#8217; twelfth and final labor, he had to 
        <span style="font-weight: bold;">bring Cerberus back</span> from 
        the Underworld, which he did following an intense 
        <span style="font-weight: bold;">wrestling match</span>. Prior to 
        the task, Heracles was instructed in the 
        <span style="font-weight: bold;">Eleusinian Mysteries</span>, and 
        freed Theseus from being stuck on a chair in Hades. In 
        <span style="font-weight: bold;">Virgil</span>&#8217;s 
        <i style="font-weight: bold;">Aeneid</i>, the 
        <span style="font-weight: bold;">Cumaean Sibyl</span> gives 
        Cerberus three <span style="font-weight: bold;">drugged honeycakes
        </span> so that she and Aeneas can enter the Underworld. 
    </li>
	<li class="list_item">
        The <span class="label">Chimera</span> was a 
        <span style="font-weight: bold;">hybrid monster</span> who was 
        also a child of <span style="font-weight: bold;">Typhon</span> and 
        <span style="font-weight: bold;">Echidna</span>. She is most 
        commonly described as a <span style="font-weight: bold;">lioness 
        with a goat&#8217;s head protruding from her back</span> and a 
        <span style="font-weight: bold;">tail that ended in a 
        snake&#8217;s head</span>. She was a 
        <span style="font-weight: bold;">fire-breathing</span> menace to 
        <span style="font-weight: bold;">Lycia</span> until 
        <span style="font-weight: bold;">Bellerophon</span> slew her on 
        orders from <span style="font-weight: bold;">King Iobates</span>. 
        Flying on the back of <span style="font-weight: bold;">Pegasus
        </span>, Bellerophon shot at the Chimera and ultimately killed 
        the beast by affixing a <span style="font-weight: bold;">block 
        of lead</span> to his spear and causing the Chimera to melt the 
        block with her fiery breath, <span style="font-weight: bold;">
        suffocating</span> her in the process.
        </li>
	<li class="list_item">
        The <span class="label">Sphinx</span>, identified in the 
        <i style="font-weight: bold;">Theogony</i> as &#8220;Phix,&#8221; 
        was a hybrid monster whose parentage varies widely from source 
        to source. She was a <span style="font-weight: bold;">lion-bodied
        </span>, <span style="font-weight: bold;">winged</span> monster 
        with the <span style="font-weight: bold;">face of a human</span>, 
        who terrorized the city of <span style="font-weight: bold;">
        Thebes</span> in the generations before Oedipus. She would give a 
        riddle &mdash; <span style="font-weight: bold;">&#8220;What 
        creature has one voice and yet becomes four-footed and two-
        footed and three-footed?&#8221;</span> &mdash; and eat anyone 
        who was unable to answer correctly. It is possible that the 
        Sphinx was sent to Thebes from <span style="font-weight: bold;">
        Ethiopia</span> by either the goddess 
        <span style="font-weight: bold;">Hera</span> or the war god 
        <span style="font-weight: bold;">Ares</span>. Eventually, 
        Oedipus correctly answered the riddle&mdash; 
        <span style="font-weight: bold;">&#8220;Man&#8221;</span> &mdash; 
        and the Sphinx <span style="font-weight: bold;">threw herself
        </span> off her mountainside perch to her death.
    </li>
	<li class="list_item">
        The <span class="label">Sirens</span> were 
        <span style="font-weight: bold;">beautiful women</span> who 
        appeared harmless and <span style="font-weight: bold;">sang a 
        beautiful song to passing sailors</span>, only to prove vicious 
        and bloodthirsty when the sailors ventured too close. The Greeks 
        often said that the Sirens were the daughters of the river god 
        <span style="font-weight: bold;">Achelous</span>, while the 
        Romans named their father as <span style="font-weight: bold;">
        Phorcys</span>. In the <i style="font-weight: bold;">Argonautica
        </i>, <span style="font-weight: bold;">Chiron</span> warns 
        <span style="font-weight: bold;">Jason</span> that 
        <span style="font-weight: bold;">Orpheus</span> will be 
        instrumental on his journey, and Orpheus later saves all of 
        Jason&#8217;s crew (save <span style="font-weight: bold;">Butes
        </span>) by <span style="font-weight: bold;">playing his lyre
        </span> when they pass the Sirens to drown out their beautiful 
        and alluring song. <span style="font-weight: bold;">Odysseus
        </span> also encountered the Sirens, 
        <span style="font-weight: bold;">tying himself to the mast</span> 
        of his ship so that he could safely hear their song while his 
        crew <span style="font-weight: bold;">plugged their ears</span> 
        with beeswax, on the advice of the sorceress 
        <span style="font-weight: bold;">Circe</span>.
    </li>
	<li class="list_item">
        The <span class="label">Calydonian Boar</span> was a monstrous beast 
        sent by <span style="font-weight: bold;">Artemis</span> to wreak 
        havoc in Calydon after King <span style="font-weight: bold;">
        Oeneus</span> neglected to honor her while sacrificing to the gods. 
        Oeneus&#8217;s son <span style="font-weight: bold;">Meleager</span> 
        led a group of heroes &mdash; including 
        <span style="font-weight: bold;">Theseus</span>, the twins 
        <span style="font-weight: bold;">Castor</span> and 
        <span style="font-weight: bold;">Polydeuces</span> (or 
        <span style="font-weight: bold;">Pollux</span>), and 
        Achilles&#8217;s father <span style="font-weight: bold;">Peleus
        </span>, as well as the huntress <span style="font-weight: bold;">
        Atalanta</span> &mdash; on what became known as the Calydonian 
        Boar Hunt. Atalanta drew first blood, and Meleager finished off 
        the beast. Meleager, who had fallen in love with Atalanta, then 
        insisted on honoring her by giving her the 
        <span style="font-weight: bold;">hide</span>. Meleager&#8217;s 
        uncles protested, Meleager killed them, and Meleager&#8217;s 
        mother avenged the death of her brothers by burning up the log 
        that represented Meleager&#8217;s lifespan, killing him.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}