{% extends "base.html" %}  {% block title %}Mortal Women in Greek Myth{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Mortal Women in Greek Myth</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/mortal-women-in-greek-myth.html">
    You Gotta Know These Mortal Women in Greek Myth
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Pandora</span> (meaning &#8220;gifted&#8221; or 
        &#8220;all gifts&#8221;) was the <span style="font-weight: bold;">
        first human woman</span> in Greek mythology. 
        <span style="font-weight: bold;">Hephaestus</span> sculpted her from 
        <span style="font-weight: bold;">clay</span> as a punishment for 
        humanity after <span style="font-weight: bold;">Prometheus</span> 
        stole fire from the gods. The primary myth of Pandora relates how 
        she released all the <span style="font-weight: bold;">evils of the 
        world</span> by opening a jar (<span style="font-weight: bold;">
        &#8220;Pandora&#8217;s Box&#8221;</span>), and when she closed the 
        lid only <span style="font-weight: bold;">hope</span> remained within. 
        Pandora married the Titan <span style="font-weight: bold;">Epimetheus
        </span>, and their daughter <span style="font-weight: bold;">Pyrrha
        </span> survived the Greek flood with her husband 
        <span style="font-weight: bold;">Deucalion</span>.
    </li>
	<li class="list_item">
        <span class="label">Helen of Troy</span> was considered the 
        <span style="font-weight: bold;">most beautiful mortal woman
        </span> during the <span style="font-weight: bold;">Age of 
        Heroes</span>. Helen was the daughter of 
        <span style="font-weight: bold;">Zeus</span> and 
        <span style="font-weight: bold;">Leda</span>, and her siblings 
        were <span style="font-weight: bold;">Castor</span>, 
        <span style="font-weight: bold;">Polydeuces</span> (or 
        <span style="font-weight: bold;">Pollux</span>), and 
        <span style="font-weight: bold;">Clytemnestra</span>. When Helen 
        married <span style="font-weight: bold;">Menelaus</span>, the 
        king of <span style="font-weight: bold;">Sparta</span>, 
        Helen&#8217;s father <span style="font-weight: bold;">Tyndareus
        </span> forced the Greek kings to swear an 
        <span style="font-weight: bold;">oath</span> to fight for her 
        if she were kidnapped. When she was 
        <span style="font-weight: bold;">abducted</span> by (or eloped 
        with) <span style="font-weight: bold;">Paris</span>, a prince of 
        <span style="font-weight: bold;">Troy</span>, the whole Greek 
        world plunged into the <span style="font-weight: bold;">Trojan War
        </span>. For this reason, <span style="font-weight: bold;">
        Christopher Marlowe</span> had <span style="font-weight: bold;">
        Doctor Faustus</span> refer to Helen as 
        <span style="font-weight: bold;">&#8220;the face that launched a 
        thousand ships.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Medea</span> was a 
        <span style="font-weight: bold;">sorceress</span> from the 
        island of <span style="font-weight: bold;">Colchis</span>; her 
        father was <span style="font-weight: bold;">King Ae&euml;tes</span>, 
        and her aunt was the witch <span style="font-weight: bold;">Circe
        </span>. Medea encountered the hero 
        <span style="font-weight: bold;">Jason</span> when he and the 
        Argonauts came to Colchis in search of the 
        <span style="font-weight: bold;">Golden Fleece</span>, and she 
        helped him yoke <span style="font-weight: bold;">fire-breathing 
        oxen</span> and sow <span style="font-weight: bold;">
        dragon&#8217;s teeth</span>. Medea left Colchis with Jason, 
        and on the voyage home she killed both her brother 
        <span style="font-weight: bold;">Absyrtus</span> and the giant 
        bronze automaton <span style="font-weight: bold;">Talos</span>. 
        She and Jason had several children together, but Jason 
        ultimately left Medea for the princess 
        <span style="font-weight: bold;">Glauce</span>; in vengeance, 
        she <span style="font-weight: bold;">killed two of her children
        </span> and fled on a <span style="font-weight: bold;">golden 
        chariot</span>.
    </li>
	<li class="list_item">
        <span class="label">Penelope</span> was the ever-faithful wife 
        of <span style="font-weight: bold;">Odysseus</span>, the king of 
        <span style="font-weight: bold;">Ithaca</span> whose long journey 
        home is the subject of <i style="font-weight: bold;">The Odyssey
        </i>. While Odysseus was away, Penelope was courted by dozens of 
        <span style="font-weight: bold;">suitors</span> led by 
        <span style="font-weight: bold;">Antinous</span>, but she held 
        them off with cunning: she told them she&#8217;d wed one when she 
        finished <span style="font-weight: bold;">weaving a burial shroud
        </span> for Odysseus&#8217;s father <span style="font-weight: bold;">
        Laertes</span>, but she unwove her progress each night. When 
        Odysseus returned, she tested his identity by asking the maid to 
        <span style="font-weight: bold;">move their bed</span>, which 
        cannot be done since the bed&mdash;crafted by Odysseus&mdash;had 
        one post that was a living olive tree. Her only child is a son, 
        <span style="font-weight: bold;">Telemachus</span>.
    </li>
	<li class="list_item">
        <span class="label">Arachne</span> was a talented 
        <span style="font-weight: bold;">Lydian</span> 
        <span style="font-weight: bold;">weaver</span> who constantly 
        boasted that her skills were better than that of any of the gods. 
        Arachne challenged the goddess <span style="font-weight: bold;">
        Athena</span> to a weaving competition, during which Arachne 
        wove a tapestry depicting the <span style="font-weight: bold;">
        gods&#8217; transgressions against mankind</span> and Athena 
        depicted <span style="font-weight: bold;">four contests between 
        mortals and the gods</span>. The result of the competition 
        depends on the sources: some say that Arachne won but Athena was 
        insulted by her images and destroyed Arachne&#8217;s work, and 
        others say that Athena&#8217;s weaving was superior. In all 
        versions, though, Athena turns Arachne into a 
        <span style="font-weight: bold;">spider</span>.
    </li>
	<li class="list_item">
        <span class="label">Clytemnestra</span> was the wife of 
        <span style="font-weight: bold;">King Agamemnon</span> and the 
        sister of <span style="font-weight: bold;">Castor</span>, 
        <span style="font-weight: bold;">Polydeuces</span>, and 
        <span style="font-weight: bold;">Helen</span>. When Agamemnon&#8217;s 
        troops were stuck at Aulis en route to Troy, he sacrificed their
         daughter <span style="font-weight: bold;">Iphigenia</span>, which 
         made Clytemnestra very angry. She later began an affair with 
         <span style="font-weight: bold;">Aegisthus</span>, Agamemnon&#8217;s 
         cousin; when Agamemnon returned to Mycenae after the 
         <span style="font-weight: bold;">Trojan War</span>, Clytemnestra 
         and Aegisthus murdered him and his concubine 
         <span style="font-weight: bold;">Cassandra</span>. In response, 
         Clytemnestra and Agamemnon&#8217;s son 
         <span style="font-weight: bold;">Orestes</span> killed both 
         Clytemnestra and Aegisthus, continuing the 
         <span style="font-weight: bold;">curse of the House of Atreus
        </span>.
    </li>
	<li class="list_item">
        <span class="label">Hecuba</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Hekabe</span>) was the wife of 
        <span style="font-weight: bold;">King Priam</span>, and therefore 
        the <span style="font-weight: bold;">Queen of Troy</span>, during 
        the <span style="font-weight: bold;">Trojan War</span>. Her 
        children included <span style="font-weight: bold;">Paris</span>
        &mdash;who kidnapped Helen&mdash;and <span style="font-weight: bold;">
        Hector</span>, the great Trojan warrior who was slain by 
        <span style="font-weight: bold;">Achilles</span>. In Book&nbsp;VI 
        of the <i style="font-weight: bold;">Iliad</i>, she leads the 
        Trojan woman in prayer to Zeus on behalf of the Trojan warriors. 
        After the war, Hecuba was grief-stricken upon learning of the 
        death of her youngest daughter <span style="font-weight: bold;">
        Polyxena</span>, and she was given to Odysseus as a slave.
    </li>
	<li class="list_item">
        <span class="label">Ariadne</span> was the daughter of 
        <span style="font-weight: bold;">King Minos</span> and 
        <span style="font-weight: bold;">Queen Pasipha&euml;</span>, 
        making her a princess of <span style="font-weight: bold;">Crete
        </span>. Minos&#8217;s palace in <span style="font-weight: bold;">
        Knossos</span> is sometimes referred to as the &#8220;dancing 
        ground of Ariadne.&#8221; When <span style="font-weight: bold;">
        Theseus</span> came to Crete to kill the 
        <span style="font-weight: bold;">Minotaur</span>, Ariadne fell in 
        love with him and gave him a <span style="font-weight: bold;">
        ball of twine</span> to help him navigate the 
        <span style="font-weight: bold;">Labyrinth</span>. Ariadne and 
        Theseus left Crete together, but he later abandoned her on the 
        island of <span style="font-weight: bold;">Naxos</span> where 
        she was saved by <span style="font-weight: bold;">Dionysus</span>, 
        whom she married. Her <span style="font-weight: bold;">wedding 
        diadem</span> was placed in the heavens as the constellation 
        <span style="font-weight: bold;">Corona Borealis</span>.
    </li>
	<li class="list_item">
        <span class="label">Atalanta</span> was a fierce warrior who drew 
        first blood in the <span style="font-weight: bold;">Calydonian 
        Boar hunt</span> led by <span style="font-weight: bold;">Meleager
        </span>, who gifted her the Boar&#8217;s hide when it was finally 
        killed. Atalanta&#8217;s father left her to die on a mountaintop 
        because he wanted a son, but she was <span style="font-weight: bold;">
        saved by a she-bear</span> and later became a hunter of 
        <span style="font-weight: bold;">Artemis</span>. According to some 
        sources, Atalanta was also the <span style="font-weight: bold;">
        only female Argonaut</span>. She married 
        <span style="font-weight: bold;">Hippomenes</span> after he beat 
        her in a <span style="font-weight: bold;">footrace</span> by 
        slowing her down with <span style="font-weight: bold;">golden 
        apples</span> given to him by <span style="font-weight: bold;">
        Aphrodite</span>; their son, <span style="font-weight: bold;">
        Parthenopaios</span>, was one of the 
        <span style="font-weight: bold;">Seven Against Thebes</span>.
    </li>
	<li style="margin-bottom: 15px;"
    ><span class="label">Cassandra</span> was a 
        <span style="font-weight: bold;">princess of Troy</span>, one 
        of the children of <span style="font-weight: bold;">King Priam
        </span> and <span style="font-weight: bold;">Queen Hecuba</span>. 
        She and her twin brother <span style="font-weight: bold;">Helenus
        </span> were both priests of <span style="font-weight: bold;">
        Apollo</span> and thus blessed with the gift of 
        <span style="font-weight: bold;">prophecy</span>; however, after 
        Cassandra spurned the advances of Apollo, he cursed her to 
        <span style="font-weight: bold;">never have her prophecies 
        believed</span>. During the Trojan War, Cassandra was 
        <span style="font-weight: bold;">raped</span> in the Temple of 
        Athena by <span style="font-weight: bold;">Ajax the Lesser</span>, 
        which led Athena to wreck his ship on his journey home. After the 
        war, Cassandra was made the concubine of 
        <span style="font-weight: bold;">Agamemnon</span>, and the two 
        were killed by <span style="font-weight: bold;">Clytemnestra</span> 
        and <span style="font-weight: bold;">Aegisthus</span> when they 
        returned to Mycenae.
    </li>
	<li class="list_item">
        <span class="label">Dana&euml;</span> was the daughter of 
        <span style="font-weight: bold;">King Acrisius of Argos</span>. 
        The king consulted an oracle to ask if he would ever have a son, 
        and the oracle replied that he wouldn&#8217;t, but his daughter 
        would, and that grandson would overthrow him. In response, he 
        <span style="font-weight: bold;">shut Dana&euml; up in a chamber
        </span> in his palace, but <span style="font-weight: bold;">Zeus
        </span> appeared in the form of a <span style="font-weight: bold;">
        shower of gold</span> and <span style="font-weight: bold;">
        impregnated</span> her; shortly thereafter, her son 
        <span style="font-weight: bold;">Perseus</span> was born. Acrisius 
        then cast Dana&euml; and Perseus out to sea in a chest, but with 
        the assistance of <span style="font-weight: bold;">Poseidon</span> 
        they were rescued by the fisherman <span style="font-weight: bold;">
        Dictys</span>. Dana&euml; had no interest in marrying 
        Dictys&#8217;s brother <span style="font-weight: bold;">King 
        Seriphos</span>, who agreed not to pursue her if Perseus could 
        <span style="font-weight: bold;">kill the Gorgon Medusa</span>.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT writer Justin Millman.</p>
<br />
<br />
<br />
{% endblock %}