{% extends "base.html" %}  {% block title %}Norse Gods{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Norse Gods</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/norse-gods.html">
    You Gotta Know These Norse Gods
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Ymir</span>: A <span style="font-weight: bold;">
        primordial giant</span> who formed in the void 
        <span style="font-weight: bold;">Ginnungagap</span> from 
        <span style="font-weight: bold;">fire and ice</span>. He gave birth 
        to the <span style="font-weight: bold;">frost giants</span> and 
        created the primordial cow <span style="font-weight: bold;">
        Audhumla</span>. He was <span style="font-weight: bold;">killed by 
        Odin</span> and his brothers, who used his body to 
        <span style="font-weight: bold;">construct most of the universe</span>.
    </li>
	<li class="list_item">
        <span class="label">Odin</span> (or <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Wodin</span> or 
        <span class="label">Wotan</span>): The <span style="font-weight: bold;">
        &#8220;All-Father,&#8221;</span> he is the leader of the 
        <span style="font-weight: bold;">Aesir</span>, the principal group 
        of Norse gods.  He is a god of <span style="font-weight: bold;">war
        </span>, <span style="font-weight: bold;">death</span>, 
        <span style="font-weight: bold;">wisdom</span>, 
        <span style="font-weight: bold;">poetry</span>, and 
        <span style="font-weight: bold;">knowledge</span>, and rides the 
        eight-legged horse <span style="font-weight: bold;">Sleipnir</span>. 
        He <span style="font-weight: bold;">hung himself</span> for nine 
        days on the world-tree <span style="font-weight: bold;">Yggsdrasil
        </span>, pierced by his own spear, to gain knowledge, and 
        <span style="font-weight: bold;">traded one of his eyes</span> for 
        a drink from Mimir&#8217;s well to gain wisdom.
    </li>
	<li class="list_item">
        <span class="label">Frigg</span> (or <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Frigga</span>): The 
        <span style="font-weight: bold;">wife of Odin</span>, and mother by 
        him of <span style="font-weight: bold;">Balder</span>, 
        <span style="font-weight: bold;">Hoder</span>, 
        <span style="font-weight: bold;">Hermod</span>, and 
        <span style="font-weight: bold;">Tyr</span>. She is the goddess of 
        the <span style="font-weight: bold;">sky</span>, 
        <span style="font-weight: bold;">marriage</span>, and 
        <span style="font-weight: bold;">motherhood</span>, and often works 
        at her <span style="font-weight: bold;">loom</span>, spinning 
        <span style="font-weight: bold;">clouds</span>.
    </li>
	<li class="list_item">
        <span class="label">Frey</span> (or <span style="font-family: Cambria; 
        font-weight: bold; font-size: large;">Freyr</span>): The son of 
        <span style="font-weight: bold;">Njord</span>, and 
        <span style="font-weight: bold;">twin brother of Freya</span>. 
        He is one of the <span style="font-weight: bold;">Vanir</span>, a 
        second group of Norse gods, but lives with the Aesir as a 
        <span style="font-weight: bold;">hostage</span>.  The god of 
        <span style="font-weight: bold;">fertility</span>, 
        <span style="font-weight: bold;">horses</span>, 
        <span style="font-weight: bold;">sun</span>, and 
        <span style="font-weight: bold;">rain</span>, his possessions 
        include the magic ship <span style="font-weight: bold;">
        Skidbladnir</span>. He travels in a 
        <span style="font-weight: bold;">chariot drawn by the golden boar 
        Gullinbursti</span>, and had to give away his 
        <span style="font-weight: bold;">magic sword</span> to win the hand 
        of the giantess <span style="font-weight: bold;">Gerda</span>.
    </li>
	<li class="list_item">
        <span class="label">Freya</span>: The daughter of 
        <span style="font-weight: bold;">Njord</span> and 
        <span style="font-weight: bold;">twin sister of Frey</span>, she 
        is also a <span style="font-weight: bold;">Vanir</span> 
        <span style="font-weight: bold;">hostage</span> living with the 
        Aesir. The goddess of <span style="font-weight: bold;">love</span>, 
        <span style="font-weight: bold;">passion</span>, and 
        <span style="font-weight: bold;">human fertility</span>, her 
        possessions include a <span style="font-weight: bold;">cloak</span> 
        that allows her to turn into a <span style="font-weight: bold;">
        falcon</span>, and the necklace <span style="font-weight: bold;">
        Brisingamen</span>. She travels in a <span style="font-weight: bold;">
        chariot drawn by two cats</span>.
    </li>
	<li class="list_item">
        <span class="label">Thor</span>: A son of 
        <span style="font-weight: bold;">Odin</span> and the giantess 
        <span style="font-weight: bold;">Jord</span>, he is the god of 
        <span style="font-weight: bold;">thunder</span>, 
        <span style="font-weight: bold;">weather</span>, and 
        <span style="font-weight: bold;">crops</span>. One of the most 
        popular of the Norse gods, he travels in a 
        <span style="font-weight: bold;">chariot pulled by two goats</span>, 
        and wields the hammer <span style="font-weight: bold;">
        Mj&ouml;lnir</span>.  He is married to 
        <span style="font-weight: bold;">Sif</span>, and his special 
        nemesis is the <span style="font-weight: bold;">Midgard Serpent</span>.
    </li>
	<li class="list_item">
        <span class="label">Loki</span>: He&#8217;s actually 
        <span style="font-weight: bold;">giant-kin</span>, but lives with 
        the <span style="font-weight: bold;">Aesir</span> and is 
        <span style="font-weight: bold;">Odin&#8217;s blood-brother</span>. 
        The god of <span style="font-weight: bold;">fire</span> and 
        <span style="font-weight: bold;">trickery</span>, his many 
        <span style="font-weight: bold;">pranks</span> include 
        <span style="font-weight: bold;">duping Hoder</span> into 
        <span style="font-weight: bold;">killing Balder</span>. His 
        children include the wolf <span style="font-weight: bold;">Fenrir
        </span>, the <span style="font-weight: bold;">Midgard Serpent
        </span> Jormungandr, <span style="font-weight: bold;">Hel</span> 
        (the ruler of the underworld), and <span style="font-weight: bold;">
        Sleipnir</span>. After killing Balder he was 
        <span style="font-weight: bold;">chained to three boulders</span> 
        with snakes dripping <span style="font-weight: bold;">poison</span> 
        onto him.
    </li>
	<li class="list_item">
        <span class="label">Heimdall</span>: The son of 
        <span style="font-weight: bold;">nine sisters</span>, he is the 
        god of <span style="font-weight: bold;">light</span> and 
        <span style="font-weight: bold;">guardians</span>.  He guards 
        <span style="font-weight: bold;">Bifrost</span>, the rainbow 
        bridge into Asgard.  His senses are so sharp, he can 
        <span style="font-weight: bold;">see 100 miles</span> by night or 
        day and <span style="font-weight: bold;">hear grass growing</span>. 
        He will call the Aesir into battle at 
        <span style="font-weight: bold;">Ragnarok</span> with his horn Gjall 
        (or <span style="font-weight: bold;">Gjallerhorn</span>).</li>
	<li class="list_item">
        <span class="label">Balder</span> (or class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Baldur</span>): The 
        <span style="font-weight: bold;">fairest</span> of the Aesir, he 
        is the god of <span style="font-weight: bold;">light</span>, 
        <span style="font-weight: bold;">joy</span>, and 
        <span style="font-weight: bold;">beauty</span>. He 
        <span style="font-weight: bold;">dreamed of his own death</span>, 
        so Frigga extracted promises from everything not to harm Balder, 
        but she skipped <span style="font-weight: bold;">mistletoe</span>. 
        <span style="font-weight: bold;">Loki</span> tricked Balder&#8217;s 
        blind brother <span style="font-weight: bold;">Hoder</span> into
        killing him with a <span style="font-weight: bold;">spear of 
        mistletoe</span>.
    </li>
	<li class="list_item">
        <span class="label">Norns</span>: The goddesses of 
        <span style="font-weight: bold;">destiny</span>, represented as 
        the <span style="font-weight: bold;">three sisters</span> Urd 
        (or Wyrd), Verdandi (or Verthandi), and Skuld. The counterparts 
        of the Greek <span style="font-weight: bold;">Fates</span>, they 
        <span style="font-weight: bold;">tend the Well of Fate</span> at 
        the roots of Yggdrasil.
    </li>
</ul>
<br />
<p class="justify">This article was contributed by NAQT Seth Teitler.</p>
<br />
<br />
<br />
{% endblock %}