{% extends "base.html" %}  {% block title %}Trojan War Heroes{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/mythology">Mythology</a> | </li>
    <li style="display:inline">Trojan War Heroes</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/trojan-war-heroes.html">
    You Gotta Know These Trojan War Heroes
    </a>
</h1>
<br />
<h3 style="font-family: Cambria; font-weight: bold;">Greeks</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Agamemnon</span>: The 
        <span style="font-weight: bold;">king of Mycenae</span>, Agamemnon 
        shares <span style="font-weight: bold;">supreme command of the Greek 
        troops</span> with his brother, <span style="font-weight: bold;">
        Menelaus</span>. An epithet of his, &#8220;king of heroes,&#8221; 
        reflects this status.  As a commander, however, he often 
        <span style="font-weight: bold;">lacks good public relations 
        skills</span>, as shown by his <span style="font-weight: bold;">
        feud with Achilles</span> (book&nbsp;1) and by his ill-considered 
        strategy of <span style="font-weight: bold;">suggesting that all 
        the troops go home</span> (book&nbsp;2). Upon his return home, 
        Agamemnon is <span style="font-weight: bold;">murdered by his wife, 
        Clytemnestra, and her lover, Aegisthus</span>.
    </li>
	<li class="list_item">
        <span class="label">Menelaus</span>: The 
        <span style="font-weight: bold;">king of Sparta</span>, Menelaus 
        is the <span style="font-weight: bold;">husband of Helen</span>, 
        the <i>cause celebre</i> of the war. He tries to win Helen back 
        by <span style="font-weight: bold;">fighting Paris</span> in 
        single combat, but Aphrodite carried Paris off when it seemed 
        that Menelaus would win.  Despite his notionally equal say in 
        <span style="font-weight: bold;">commanding the troops</span> 
        with his brother Agamemnon, in practice Agamemnon often dominates.
    </li>
	<li class="list_item">
        <span class="label">Achilles</span>:  This &#8220;swift-footed&#8221; 
        warrior is the greatest on the Greek side.  His father is Peleus, a 
        great warrior in his own right, and his mother is Thetis, a sea 
        nymph.  The consequences of Achilles&#8217; 
        <span style="font-weight: bold;">rage at Agamemnon</span> for 
        confiscating his <i style="font-weight: bold;">geras</i> (prize of 
        honor) are the subject of the <i style="font-weight: bold;">Iliad</i>. 
        Achilles <span style="font-weight: bold;">kills Hector</span>, but 
        is <span style="font-weight: bold;">killed by a poisoned arrow in 
        the heel</span>, the only vulnerable place on his body.
    </li>
	<li class="list_item">
        <span class="label">Patroclus</span>: 
        <span style="font-weight: bold;">Achilles</span>&#8217; foster 
        brother and closest friend.  Although Patroclus is a formidable 
        hero, he is valued for his <span style="font-weight: bold;">kind 
        and gentle nature</span>. Patroclus is 
        <span style="font-weight: bold;">killed by Hector</span> while 
        wearing the armor of Achilles.
    </li>
	<li class="list_item">
        <span class="label">Ajax the Great</span>: This 
        <span style="font-weight: bold;">prince of Salamis</span> is the 
        son of Telamon.  He once fights all afternoon in 
        <span style="font-weight: bold;">single combat with Hector</span>; 
        since neither one can decisively wound the other, they part as 
        friends. Ajax&#8217;s most glorious achievement is 
        <span style="font-weight: bold;">fighting the Trojans back from 
        the ships</span> almost singlehandedly. He commits 
        <span style="font-weight: bold;">suicide</span> after the armor 
        of Achilles is awarded to Odysseus rather than to himself.
    </li>
	<li class="list_item">
        <span class="label">Diomedes</span>:  In his day of glory, Diomedes 
        <span style="font-weight: bold;">kills Pandarus</span> and 
        <span style="font-weight: bold;">wounds Aeneas</span> before 
        taking on the gods.  He <span style="font-weight: bold;">stabs 
        Aphrodite</span> in the wrist and, with Athena as his charioteer, 
        <span style="font-weight: bold;">wounds Ares</span> in the 
        stomach. Along with Odysseus, he also conducts a successful 
        <span style="font-weight: bold;">night raid against King 
        Rhesus</span>.
    </li>
	<li class="list_item">
        <span class="label">Odysseus</span>:  This son of Laertes is 
        known for his <span style="font-weight: bold;">cleverness</span> 
        and <span style="font-weight: bold;">glib tongue</span>. 
        His accomplishments include a successful 
        <span style="font-weight: bold;">night raid against King Rhesus
        </span>, winning the <span style="font-weight: bold;">armor of 
        Achilles</span>, and engineering the famous 
        <span style="font-weight: bold;">Trojan Horse</span>. His ten-year 
        <span style="font-weight: bold;">trip home to Ithaca</span> 
        (where his wife, <span style="font-weight: bold;">Penelope</span>, 
        awaits) is the subject of the <i style="font-weight: bold;">
        Odyssey</i>.
    </li>
	<li class="list_item">
        <span class="label">Nestor</span>: The 
        <span style="font-weight: bold;">king of Pylos</span>, he is 
        <span style="font-weight: bold;">too old</span> to participate 
        in the fighting of the Trojan War, but serves as an advisor. 
        He tells tales of &#8220;the good old days&#8221; to the other 
        heroes.
    </li>
</ul>
<h3 style="font-family: Cambria; font-weight: bold;">Trojans</h3>
<ul class="list2">
    <li class="list_item">
        <span class="label">Hector</span>:  The son of Priam and Hecuba, 
        he is probably the <span style="font-weight: bold;">noblest 
        character</span> on either side.  A favorite of Apollo, this 
        <span style="font-weight: bold;">captain of the Trojan forces</span> 
        exchanges gifts with Ajax after neither can conquer the other in 
        single combat.  He <span style="font-weight: bold;">kills Patroclus
        </span> when Patroclus goes into battle wearing the armor of his 
        friend, Achilles. <span style="font-weight: bold;">Killed by 
        Achilles</span> to avenge the death of Patroclus, he is greatly 
        mourned by all of Troy. <span style="font-weight: bold;">Funeral 
        games</span> take place in his honor.
    </li>
	<li class="list_item">
        <span class="label">Paris</span> (sometimes called Alexander): 
        Also the son of Priam and Hecuba, he is destined to be the 
        <span style="font-weight: bold;">ruin of his country</span>. 
        He fulfills this destiny by accepting a 
        <span style="font-weight: bold;">bribe</span> when asked to 
        <span style="font-weight: bold;">judge which of three goddesses 
        is the fairest</span>. When he awards 
        <span style="font-weight: bold;">Aphrodite</span> the 
        <span style="font-weight: bold;">golden apple</span>, Aphrodite 
        repays him by granting him the <span style="font-weight: bold;"
        >most beautiful woman</span> in the world; unfortunately, 
        <span style="font-weight: bold;">Helen</span> is already married 
        to Menelaus. Known less for hand-to-hand fighting than for 
        <span style="font-weight: bold;">mastery of his bow</span>, he 
        <span style="font-weight: bold;">kills Achilles</span> with an 
        arrow but dies by the poisoned arrows of 
        <span style="font-weight: bold;">Philoctetes</span>.
    </li>
	<li class="list_item">
        <span class="label">Priam</span>: The 
        <span style="font-weight: bold;">king of Troy</span> and son of 
        Laomedon, he has 50&nbsp;sons and 12&nbsp;daughters with his 
        wife Hecuba (presumably she does not bear them all), plus at 
        least 42 more children with various concubines. 
        <span style="font-weight: bold;">Neoptolemus</span>, the son of 
        Achilles, kills him in front of his wife and daughters during 
        the siege of Troy.
    </li>
	<li class="list_item">
        <span class="label">Hecuba (or Hecabe)</span>:  The 
        <span style="font-weight: bold;">wife of Priam</span>, she 
        suffers the loss of most of her children but survives the fall 
        of Troy.  She is later <span style="font-weight: bold;">turned 
        into a dog</span>.
    </li>
	<li class="list_item">
        <span class="label">Andromache</span>: The 
        <span style="font-weight: bold;">wife of Hector</span> and mother 
        of <span style="font-weight: bold;">Astyanax</span>, she futilely 
        <span style="font-weight: bold;">warns Hector</span> about the 
        war, then sees both her husband and son killed by the Greeks. 
        After the war she is made <span style="font-weight: bold;">
        concubine to Neoptolemus</span>, and later marries the Trojan 
        prophet <span style="font-weight: bold;">Helenus</span>.
    </li>
	<li class="list_item">
        <span class="label">Cassandra</span>: This 
        <span style="font-weight: bold;">daughter of Priam and Hecuba
        </span> has an <span style="font-weight: bold;">affair with
        Apollo</span>, who grants her the gift of 
        <span style="font-weight: bold;">prophecy</span>. Unable to 
        revoke the gift after they quarrel, Apollo curses her by 
        <span style="font-weight: bold;">preventing anyone from believing 
        her predictions</span>. Among her warnings is that the Trojan 
        horse contains Greeks. After Troy falls she is given to 
        Agamemnon, who tactlessly brings her home to his wife Clytemnestra. 
        Clytemnestra and her lover Aegisthus then kill Agamemnon and 
        Cassandra, leaving Agamemnon&#8217;s son Orestes (egged on by his 
        sister Electra) to avenge the deaths and kill Clytemnestra and 
        Aegisthus.
    </li>
	<li class="list_item">
        <span class="label">Laocoon</span>:  Yet another son of Priam and 
        Hecuba, this <span style="font-weight: bold;">priest of Apollo
        </span> shares Cassandra&#8217;s doubt about the merits of 
        bringing the Trojan horse into the city.  &#8220;Timeo danaos 
        et dona ferentes,&#8221; he says (according to Vergil), 
        <span style="font-weight: bold;">&#8220;I fear the Greeks, even 
        bearing gifts.&#8221;</span>  Later, while sacrificing a bull, 
        two <span style="font-weight: bold;">serpents from the sea crush 
        both him and his two young sons</span>. The death of Laocoon is 
        often blamed on Athena (into whose temple the serpent disappeared) 
        but was more likely the act of Poseidon, a fierce Greek partisan.
    </li>
	<li class="list_item">
        <span class="label">Aeneas</span>:  This son of Aphrodite and 
        Anchises often takes a beating but always gets up to rejoin the 
        battle. <span style="font-weight: bold;">Knocked unconscious
        </span> by a large rock thrown by Diomedes, he is 
        <span style="font-weight: bold;">evacuated by Aphrodite and 
        Apollo</span>.  He succeeds the late Hector as 
        <span style="font-weight: bold;">Trojan troop commander</span> 
        and survives the fall of Troy, ultimately settling in Italy. 
        His son Iulus founds Alba Longa, near the site of Rome. That 
        bloodline is the basis of <span style="font-weight: bold;">Julius 
        Caesar&#8217;s claim to have descended from Venus</span>.
    </li>
</ul>
<br />
<p class="justify">
    This article was synthesized from contributions by Christina Skelton 
    and Candace Benefiel.
</p>
<br />
<br />
<br />
{% endblock %}