{% extends "base.html" %}  {% block title %}Common Mistakes (Part 2){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous">Miscellaneous</a> | </li>
    <li style="display:inline">Common Mistakes (Part 2)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/common-mistakes -2.html">
    You Gotta Know These Common Mistakes (Part 2)
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Revelation</span>: The final book of the 
        <span style="font-weight: bold;">New Testament</span>. In particular, 
        it is <span style="font-weight: bold;">singular</span>; the plural 
        form will be counted wrong in NAQT competitions. The full name 
        varies from translation to translation, but sometimes appears as 
        &#8220;The Revelation of St. John the Divine&#8221; or 
        &#8220;Apocalypse of John.&#8221;
    </li>
	<li class="list_item">
        <span class="label">Tom Wolfe and Thomas Wolfe</span>: Two different 
        people; <span style="font-weight: bold;">Tom Wolfe</span> 
        (1930&ndash;2018, in full <span style="font-weight: bold;">Thomas 
        Kennerly Wolfe Jr.</span>) is the modern author and journalist who 
        wrote <i style="font-weight: bold;">The Right Stuff</i>, 
        <i style="font-weight: bold;">The Bonfire of the Vanities</i>, and 
        <i style="font-weight: bold;">A Man in Full</i>. 
        <span style="font-weight: bold;">Thomas Wolfe</span> 
        (1900&ndash;1938, in full <span style="font-weight: bold;">Thomas 
        Clayton Wolfe</span>) was an earlier author of works like 
        <i style="font-weight: bold;">Look Homeward, Angel</i> and 
        <i style="font-weight: bold;">You Can&#8217;t Go Home Again</i>. 
        In NAQT competitions, &#8220;Thomas Wolfe&#8221; will be counted 
        wrong for the former and &#8220;Tom Wolfe&#8221; as wrong for the 
        latter.
    </li>
	<li class="list_item">
        <span class="label">Enharmonic notes</span>: While it is true that 
        on a piano the notes C&nbsp;sharp and D&nbsp;flat are 
        indistinguishable, this is not true on other instruments or under 
        some systems of tuning. Music theory differentiates between notes 
        that are enharmonic in the specific case of the piano; for instance, 
        D&nbsp;flat is a minor second above C&nbsp;natural, while 
        C&nbsp;sharp is an augmented unison above C&nbsp;natural. 
        Enharmonic equivalents may or may not be acceptable depending on 
        the wording of the question.
    </li>
	<li class="list_item">
        <span class="label">Name order</span>: Hungarian, many East Asian 
        languages (in particular Japanese, Chinese, Vietnamese, and 
        Korean), and some parts of India traditionally place the 
        <span style="font-weight: bold;">family name before the given name
        </span>:  for instance, Mishima Yukio&#8217;s family name is 
        &#8220;Mishima.&#8221;  Under NAQT rules, all names (regardless 
        of the usual cultural order) may be given in either order: 
        &#8220;Mishima Yukio,&#8221; &#8220;Yukio Mishima,&#8221; 
        &#8220;Henry James,&#8221; and &#8220;James, Henry&#8221; are all 
        acceptable (if the question is asking for that person), but 
        players should make sure that they know which part of an East 
        Asian name is the family name, as given names will not be 
        accepted and may not even be prompted. Players who are not 
        certain may wish to give both names.
    </li>
	<li class="list_item">
        <span class="label">The Man That Corrupted Hadleyburg</span>: is, 
        despite normal English grammar conventions, the correct title 
        of the short story by <span style="font-weight: bold;">Mark Twain
        </span>. In particular, &#8220;The Man Who Corrupted 
        Hadleyburg&#8221; is incorrect.
    </li>
	<li class="list_item">
        <span class="label">United Kingdom</span>: Since the 
        <span style="font-weight: bold;">Act of Union</span> in 1707, 
        England has not existed as a separate political unit, and questions 
        about political entities after that time will nearly always 
        require &#8220;United Kingdom&#8221; (or &#8220;Great 
        Britain&#8221;) and will not prompt on &#8220;England.&#8221; 
        &#8220;England&#8221; may be acceptable for questions focusing 
        on, for instance, geography or sports.
    </li>
	<li class="list_item">
        <span class="label">Immaculate Conception</span>: The Roman 
        Catholic belief that <span style="font-weight: bold;">Mary</span>, 
        the mother of <span style="font-weight: bold;">Jesus</span>, was 
        never affected by <span style="font-weight: bold;">original sin
        </span>.  In particular, it does not refer to the conception of 
        Jesus.
    </li>
	<li class="list_item">
        <span class="label">Daniel Shays</span>: An officer in the 
        Revolutionary War who went on to lead a 1786&ndash;1787 
        <span style="font-weight: bold;">rebellion</span> in western 
        Massachusetts <span style="font-weight: bold;">opposing high 
        taxes</span>, an episode known as <span style="font-weight: bold;">
        &#8220;Shays&#8217; Rebellion.&#8221;</span>  In particular, his 
        name is not &#8220;Shay.&#8221; A similar error is often made in 
        giving &#8220;van&nbsp;der&nbsp;Waal&#8221; as the name of the 
        Dutch chemist whose name is actually 
        <span style="font-weight: bold;">&#8220;van&nbsp;der&nbsp;Waals.
        &#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Painting titles</span>: From 1300 to 1700, 
        relatively few religious paintings were given specific titles; 
        most have been assigned traditional names based on their subject 
        matter. This means that many titles (e.g., <i>The Descent from 
        the Cross</i>, <i>The Annunciation</i>, <i>The Adoration of 
        the Magi</i>, etc.) occur very frequently, so players should 
        not be too quick to buzz in upon immediately recognizing as a 
        title; in many cases, multiple painters produced works by the 
        same name, so players should pay attention to the descriptions 
        of the works.  Similarly, the titles are often not canonical 
        (e.g., El&nbsp;Greco&#8217;s <i>Christ Driving the Money-Changers 
        from the Temple</i> may appear as <i>Expulsion from the Temple</i>) 
        and players should keep in mind that the form of the title they 
        know may not be the one given in the question.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}