{% extends "base.html" %}  {% block title %}Common Mistakes (Part 1){% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous">Miscellaneous</a> | </li>
    <li style="display:inline">Common Mistakes (Part 1)</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/common-mistakes -2.html">
    You Gotta Know These Common Mistakes (Part 1)
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label">Mary Wollstonecraft</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Mary Wollstonecraft Shelley</span>: Two 
        different people; <span style="font-weight: bold;">Mary 
        Wollstonecraft</span> (1759&ndash;1797, married name Mary 
        Wollstonecraft Godwin) is best known as an advocate of educational 
        equality for women, particularly in <i style="font-weight: bold;">
        A Vindication of the Rights of Woman</i> (1792). She was the 
        mother of <span style="font-weight: bold;">Mary Wollstonecraft 
        Shelley</span> (1797&ndash;1851) who married the poet 
        <span style="font-weight: bold;">Percy Bysshe Shelley</span> and 
        is best known as the author of <i style="font-weight: bold;">
        Frankenstein: or, the Modern Prometheus</i>.</li>
	<li class="list_item">
        <span class="label">&#8220;Bloody Mary&#8221;</span> and class="label"family: Cambria; font-weight: bold; 
        font-size: large;">Mary, Queen of Scots</span>: Two different 
        people; <span style="font-weight: bold;">&#8220;Bloody 
        Mary&#8221;</span> is a (pejorative) nickname of 
        <span style="font-weight: bold;">Mary&nbsp;I Tudor</span>, the 
        queen of England who preceded <span style="font-weight: bold;">
        Elizabeth&nbsp;I</span>, so named for her 
        <span style="font-weight: bold;">persecution of Protestants
        </span>. <span style="font-weight: bold;">Mary, Queen of Scots
        </span> was <span style="font-weight: bold;">Mary Stuart</span>, 
        the queen of Scotland during the first part of 
        Elizabeth&#8217;s reign.
    </li>
	<li class="list_item">
        <span class="label">The Merchant of Venice</span>: The title 
        character of <i style="font-weight: bold;">The Merchant of 
        Venice</i> is not <span style="font-weight: bold;">Shylock</span> 
        &mdash; who is a <span style="font-weight: bold;">money-lender
        </span> &mdash; but <span style="font-weight: bold;">Antonio</span>.
    </li>
	<li class="list_item">
        <span style="font-family: Cambria; font-weight: bold;  
        font-size: large;">Hudson Bay</span>: The large sea of eastern 
        Canada is <span style="font-weight: bold;">Hudson Bay</span> (no 
        apostrophe or &#8216;s&#8217;).  The company named for it is the 
        <span style="font-weight: bold;">Hudson&#8217;s Bay Company</span>
        (possessive). Incorrect forms are not acceptable under NAQT rules.
    </li>
	<li class="list_item">
        <span class="label">Saint Augustine</span>: Two different people; 
        the earlier (354&ndash;430) served as the 
        <span style="font-weight: bold;">Bishop of Hippo</span> and wrote 
        <i style="font-weight: bold;">Confessions</i> and 
        <i style="font-weight: bold;">City of God</i> The later 
        (?&ndash;c.&nbsp;604) founded the Christian church in southern 
        England and was the <span style="font-weight: bold;">first 
            archbishop of Canterbury</span>.
        </li>
	<li class="list_item">
        <span style="font-family: Cambria; font-weight: bold;
        font-size: large;">Compound last names</span>: The last names of 
        <span style="font-weight: bold;">David Lloyd George</span>, 
        <span style="font-weight: bold;">Andrew Lloyd Webber</span>, 
        <span style="font-weight: bold;">Ralph Vaughan Williams</span>, 
         <span style="font-weight: bold;">Ludwig Mies 
        van&nbsp;der&nbsp;Rohe</span> are &#8220;Lloyd George,&#8221; 
        &#8220;Lloyd Webber,&#8221; &#8220;Vaughan Williams,&#8221; and 
        &#8220;Mies van der Rohe&#8221; (or just &#8220;Mies&#8221;) 
        respectively.  Players in NAQT events will be 
        <span style="font-weight: bold;">prompted</span> if they give 
        part of a compound last name.
    </li>
	<li class="list_item">
    <span class="label">(The) Invisible Man</span>: 
        <i style="font-weight: bold;">Invisible Man</i> is a 1952 novel by 
        <span style="font-weight: bold;">Ralph Ellison</span> about an 
        <span style="font-weight: bold;">unnamed African-American 
        protagonist</span> in search of <span style="font-weight: bold;">
        personal identity</span>.  <i style="font-weight: bold;">The 
        Invisible Man</i> is an 1897 novel by 
        <span style="font-weight: bold;">H.&nbsp;G. Wells</span> about a 
        man who has <span style="font-weight: bold;">turned himself 
        invisible</span> but is slowly being driven 
        <span style="font-weight: bold;">insane</span>. Under NAQT rules, 
        players are usually allowed to drop leading articles or add them 
        where they are missing (but not use incorrect ones) &mdash; 
        but in this case, doing so creates ambiguity, so the title 
        must be exact.
    </li>
	<li class="list_item">
    <span class="label">Primates</span>: The scientific name for 
        the order of primates is Primates&nbsp;
        <span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">pree-MAY-teez</span>, not Primata.
        </li>
	<li class="list_item">
    <span class="label">John Adams</span>: Even though NAQT rules 
        generally call for players to be <span style="font-weight: bold;">
        prompted on partial names</span>, an answer of &#8220;John 
        Adams&#8221; will not be prompted if the correct answer is 
        &#8220;John Quincy Adams.&#8221;  An answer of &#8220;Adams&#8221; 
        will be prompted in either case.
    </li>
	<li class="list_item">
        <span class="label">&#8220;Concerned&#8221; philosophical 
        works</span>: <span style="font-weight: bold;">David Hume
        </span> wrote <i style="font-weight: bold;">An Enquiry Concerning 
        Human Understanding</i>, <span style="font-weight: bold;">George 
        Berkeley</span>&nbsp;<span style="font-weight: bold; font-size: 85%; 
        color: rgb(78, 78, 78);">BARK-lee</span> wrote 
        <i style="font-weight: bold;">Treatise Concerning the Principles of 
        Human Knowledge</i>, and <span style="font-weight: bold;">John 
        Locke</span> wrote <i style="font-weight: bold;">An Essay 
        Concerning Human Understanding</i>. These three philosophical 
        works are often confused.
    </li>
	<li class="list_item">
        <span class="label">The Russian Five</span>: The 
        <span style="font-weight: bold;">nationalist composers</span> 
        popularly known as &#8220;The Russian Five&#8221; or &#8220;The 
        Mighty Handful&#8221; were <span style="font-weight: bold;">
        C&eacute;sar Cui</span>, <span style="font-weight: bold;">
        Aleksandr Borodin</span>, <span style="font-weight: bold;">
        Mily Balakirev</span>, <span style="font-weight: bold;">Modest 
        Mussorgsky</span>, and <span style="font-weight: bold;">
        Nikolay Rimsky-Korsakov</span>; in particular, they did not 
        include Peter Ilich Tchaikovsky.
    </li>
	<li class="list_item">
        <span class="label">Oliver Wendell Holmes</span>: Two different 
        men; the father, <span style="font-weight: bold;">Oliver Wendell 
        Holmes Sr.</span> (1809&ndash;1894), was a 
        <span style="font-weight: bold;">physician</span>, 
        <span style="font-weight: bold;">poet</span>, and 
        <span style="font-weight: bold;">humorist</span> who wrote 
        <span style="font-weight: bold;">&#8220;Old Ironsides&#8221;
        </span> and <i style="font-weight: bold;">The Autocrat of 
        the Breakfast Table</i>. The son, <span style="font-weight: bold;">
        Oliver Wendell Holmes Jr.</span> (1841&ndash;1935), was a 
        <span style="font-weight: bold;">justice of the Supreme Court
        </span> known as <span style="font-weight: bold;">&#8220;The 
        Great Dissenter.&#8221;</span
        li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}