{% extends "base.html" %}  {% block title %}Quintuples{% endblock %}

{% block content %}
<br />
<br />
<ul style="list-style-type:none; padding-left: 0;">
    <li style="display:inline"><a style="color: maroon;" href="/practice">Practice </a> | </li>
    <li style="display:inline"><a style="color: maroon;" href="/practice/you-gotta-know/miscellaneous">Miscellaneous</a> | </li>
    <li style="display:inline">Quintuples</li>
</ul>

<br />
<h1 style="font-family: Cambria">
    <a style="color: black;" target="_blank" 
    href="https://www.naqt.com/you-gotta-know/common-mistakes -2.html">
    You Gotta Know These Quintuples
    </a>
</h1>
<br />

<ul class="list2">
    <li class="list_item">
        <span class="label"><i>The Waste Land</i></span>: The five parts of 
        <span style="font-weight: bold;">T.&nbsp;S. Eliot</span>&#8217;s 
        1922 masterpiece <a style="color: maroon;" target="_blank" 
        href="http://www.gutenberg.org/ebooks/1321"><i>
        The Waste Land</i></a> are <span style="font-weight: bold;">
        &#8220;The Burial of the Dead,&#8221;</span> 
        <span style="font-weight: bold;">&#8220;A Game of Chess,&#8221;
        </span> <span style="font-weight: bold;">&#8220;The Fire 
        Sermon,&#8221;</span> <span style="font-weight: bold;">&#8220;Death 
        By Water,&#8221;</span> and <span style="font-weight: bold;">
        &#8220;What the Thunder Said.&#8221;</span>
    </li>
	<li class="list_item">
        <span class="label">Mitosis</span>: The five stages of the 
        biological process <a style="color: maroon;" target="_blank" 
        href="http://www.biology.arizona.edu/cell_bio/tutorials/
        cell_cycle/cells3.html">mitosis</a> (the production of new body 
        cells from existing ones) are <span style="font-weight: bold;">
        interphase</span>, <span style="font-weight: bold;">prophase
        </span>, <span style="font-weight: bold;">metaphase</span>, 
        <span style="font-weight: bold;">anaphase</span>, and 
        <span style="font-weight: bold;">telophase</span>. 
        <span style="font-weight: bold;">Interphase</span> is not 
        technically a part of mitosis, though it is often discussed at 
        the same time.
    </li>
	<li class="list_item">
        <span class="label">Nobel Prize Winners</span>: The five original 
        winners of <a style="color: maroon;" target="_blank" 
        href="http://www.nobel.se">Nobel Prizes</a> (1901) 
        were <span style="font-weight: bold;">Wilhelm R&ouml;ntgen</span> 
        (physics, for the discovery of X rays), 
        <span style="font-weight: bold;">Jacobus Henricus 
        van&nbsp;&#8217;t&nbsp;Hoff</span> (chemistry, for laws of 
        chemical dynamics and osmotic pressure), 
        <span style="font-weight: bold;">Emil Adolf von&nbsp;Behring</span> 
        (physiology or medicine, for his serum-therapy remedy for 
        ), <span style="font-weight: bold;">Sully Prudhomme</span> 
        (literature, for his idealistic poetry), and 
        <span style="font-weight: bold;">Henri Dunant and 
        Fr&eacute;d&eacute;ric Passy</span> (peace, for founding the 
        International Red Cross and the first French peace society, 
        respectively).
    </li>
	<li class="list_item">
        <span class="label">The Mighty Handful</span>: Five 
        <a style="color: maroon;" target="_blank" 
        href="http://en.wikipedia.org/wiki/The_Five_%28composers%29">
        nationalist Russian composers</a> are often referred to as 
        &#8220;The Mighty Handful&#8221; or &#8220;The Five.&#8221; 
        They are <span style="font-weight: bold;">Modest Mussorgsky
        </span> (1839&ndash;1881), <span style="font-weight: bold;">Mily 
        </span> (1837&ndash;1910), <span style="font-weight: bold;">
        Alexander Borodin</span> (1833&ndash;1887),
        <span style="font-weight: bold;">C&eacute;sar Cui</span> 
        (1835&ndash;1918), and <span style="font-weight: bold;">Nikolay 
        Rimsky-Korsakov</span> (1844&ndash;1908).
    </li>
	<li class="list_item">
        <span class="label">D-Day</span>: The codenames for the five beaches 
        attacked in <span style="font-weight: bold;">Operation Overlord
        </span> on <a style="color: maroon;" target="_blank" 
        href="https://history.army.mil/html/reference/Normandy/normandy.html">
        D-Day</a> are <span style="font-weight: bold;">Gold</span>,
        <span style="font-weight: bold;">Juno</span>, 
        <span style="font-weight: bold;">Sword</span>,
        <span style="font-weight: bold;">Utah</span>, and 
        <span style="font-weight: bold;">Omaha</span>. The first three 
        were attacked by British and Canadian forces while the latter two 
        were assaulted by American troops.
    </li>
	<li class="list_item">
        <span class="label">Orders of Architecture</span>: There are five 
        <a style="color: maroon;" target="_blank" 
        ="https://www.thoughtco.com/what-is-an-order-of-architecture-177516">
        classical &#8220;orders of architecture,&#8221;</a> a term that 
        primarily refers to the design of the <span style="font-weight: bold;">
        columns</span> used in the building. They are the
        <span style="font-weight: bold;">Doric</span> (simple, used for the 
        <a style="color: maroon;" target="_blank" href="http://academic.
        reed.edu/humanities/110Tech/Parthenon.html">Parthenon</a>), 
        <span style="font-weight: bold;">Ionic</span> (fancier, fluted with 
        scrolls on their capitals), <span style="font-weight: bold;">
        Corinthian</span> (baroque, fluted with acanthus-like leaves 
        for capitals), <span style="font-weight: bold;">Tuscan</span> 
        (plain, similar to Doric), and <span style="font-weight: bold;">
        Composite</span> (mixture of Ionic and Corinthian). The first three 
        orders originated with the Greeks; the latter two are Roman 
        developments.
    </li>
        <li class="list_item">
        <span class="label">Cooperstown</span>: The first five members 
        elected to the <a style="color: maroon;" target="_blank" 
        href="https://baseballhall.org/explorer?name=&team=All&induction=
        140&pos=All&state=All&born%5Bvalue%5D%5Bdate%5D=&bats=All&throws=All">
        Baseball Hall of Fame</a> were <span style="font-weight: bold;">Ty 
        Cobb</span>, <span style="font-weight: bold;">Babe Ruth</span>, 
        <span style="font-weight: bold;">Honus Wagner</span>, 
        <span style="font-weight: bold;">Christy Mathewson</span>, and
        <span style="font-weight: bold;">Walter Johnson</span>. They were 
        inducted in 1936.
    </li>
	<li class="list_item">
        <span class="label">Spectral Lines</span>: Hydrogen produces an 
        infinite series of spectral lines. The first five of those series 
        are named after scientists who observed them before it was known that 
        they were examples of the same phenomenon. From lowest to highest 
        energy of the final level, they are known as the 
        <span style="font-weight: bold;">Lyman</span>, 
        <span style="font-weight: bold;">Balmer</span>, 
        <span style="font-weight: bold;">Paschen</span>, 
        <span style="font-weight: bold;">Brackett</span>, and 
        <span style="font-weight: bold;">Pfund series</span>. Only the 
        Balmer series exists in the visible spectrum.
    </li>
	<li class="list_item">
        <span class="label">Platonic Solids</span>: There are only five 
        <span style="font-weight: bold;">regular polyhedra</span> 
        (three-dimensional shapes whose faces are all the same regular 
        polygon). They are the <span style="font-weight: bold;">
        tetrahedron</span> (four equilateral triangles), 
        <span style="font-weight: bold;">cube</span> (six squares), 
        <span style="font-weight: bold;">octahedron</span> (eight 
        equilateral triangles), <span style="font-weight: bold;">
        dodecahedron</span> (twelve regular pentagons), and 
   <span style="font-weight: bold;">icosahedron</span> (20 equilateral      
        triangles).
    </li>
	<li class="list_item">
        <span class="label">Pillars of Islam</span>: Islam has five 
        fundamental tenets of religious life, a group known as the 
        <a style="color: maroon;" target="_blank" 
        href="http://www.islamicity.com/mosque/pillars.shtml">Pillars 
        of Islam</a>. They are the <span style="font-weight: bold;">
        declaration of faith</span> (<span style="font-weight: bold;">
        Shahadah</span>), <span style="font-weight: bold;">prayer</span> 
        (<span style="font-weight: bold;">Salat</span>), giving 
        <span style="font-weight: bold;">charity</span> to those in need 
        (<span style="font-weight: bold;">Zakat</span>), 
        <span style="font-weight: bold;">fasting during the month 
        Ramadan</span> (<span style="font-weight: bold;">Sawm</span>), 
        and the <span style="font-weight: bold;">pilgrimage to Mecca
        </span> (<span style="font-weight: bold;">Hajj</span>) to be 
        performed once in each adherent&#8217;s lifetime.
    </li>
</ul>
<br />
<p class="justify">There is no information of the contributor of this article from NAQT.</p>
<br />
<br />
<br />
{% endblock %}